[2021-02-03 20:41] sgellock commented on #5135
I think we can close this issue out, as we have discussed an R12 plan.  if we need to address this in R13, it will be part of a larger work item and we will track that with new tickets.

[2021-02-03 20:41] #5135 closed

[2021-02-03 20:48] #4833 closed

[2021-02-03 20:48] mrivera-ms commented on #4924
@JonathanFingold if the issue you linked ([bot-docs PR 1954](https://github.com/MicrosoftDocs/bot-docs/issues/1954)) is tracking this work. Do we need this issue? Should we close it as duplicate?

[2021-02-03 20:50] clearab opened #5159 "Action.execute (AC 1.4) support (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6182)

[2021-02-03 20:52] #5134 closed

[2021-02-04 05:23] mrivera-ms commented on #4888
@JuanAr, could you please let us know if this item is in scope for R12?

[2021-02-04 05:27] mrivera-ms commented on #4910
@bwamie, @arturl, any updates on this? Adding @v-kydela for visibility.

[2021-02-04 05:52] boydc2014 commented on #4539
No, I'm moving this out of R12 for now, I haven't quite get into the detail of this one.

[2021-02-04 06:30] boydc2014 commented on #5102
@rvinothrajendran @Danieladu i think it's good to have this work ootb, and by adding a default empty TemplateEngine, we can leverage the capbility of LG engine to do data binding (though lg file is empty). That's also kind of naturally aligned with current design, it's like creating a default value for a field in a class, that's it.

@EricDahlvang what do you think?

[2021-02-04 06:45] #5127 closed

[2021-02-04 07:52] cosmicshuai commented on #5101
Hi @cxbuilders
I created a PR for this senario. Adding conversation PR as the highest priority for determining the locale.
You can check the bot sample to see whether it is the way you want.

[2021-02-04 20:14] Virtual-Josh opened #5161 "[Testing skills everywhere] Twillio-sms channel doesn't work with skills"
The twillio-sms channel does not work with skills. When the host tries to call the skill the skill throws back a 404.11 error. This specific error is a security request filtering check which disables double escaped requests. While you can work around this by adding a huge security hole by allowing double escaped requests, the channel has another blocking issue.

When the skill tries to send a resp

[2021-02-04 21:45] gabog opened #5163 "DialogManager does not return EoC code when a dialog ends (dotnet)"
See [parent issue](https://github.com/microsoft/botframework-sdk/issues/6186)

[2021-02-04 21:52] tracyboehrer opened #5205 "Cosmos vs Storage -> State vs Transcripts"
From cxbuilders (https://github.com/cxbuilders):
I am trying to understand what the reason is for storing the state in Cosmos and the transcripts in Storage? Why not have both in Storage? The reason I am asking is that Cosmos just takes a long time to create in the Pipeline and it would also just simplify things. Additionally the cost of Cosmos also is quite high if usage is low (for dev and acc).

[2021-02-04 21:53] mmiele commented on #4924
@mrivera-ms Let's live this issue open because is linked by the  [bot-docs PR 1954](https://github.com/MicrosoftDocs/bot-docs/issues/1954) until some viable solution is found.

[2021-02-04 21:56] mrivera-ms commented on #4924
@mmiele, @JonathanFingold, is there an estimation of the time this will take to complete. Right now it is tagged as on target for R12. If it is not be done within the R12 timeframe, we need to move it out of the milestone.

[2021-02-04 22:16] #5163 closed

[2021-02-04 22:22] tbuquet opened #5165 "Url encoding issue with BlobStorage & Bot state"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
Url encoding issue while saving a bot state using BlobStorage's implementation of IStorage.

## To Reproduce
Steps to reproduce t

[2021-02-05 05:37] mrivera-ms opened #5166 "Unit test coverage needed for new Cloud Adapter classes"
The following new classes need to increase unit test coverage:
### Class Name  (current coverage)
- Microsoft.Bot.Builder.Dialogs.CloudOAuthPrompt    (68%)
- Microsoft.Bot.Builder.Dialogs.OAuthPrompt (64%)
- Microsoft.Bot.Builder.Dialogs.OAuthHelper (74%)
- Microsoft.Bot.Connector.Authentication.UserTokenClientImpl (15%)

[2021-02-05 05:41] mrivera-ms opened #5167 "Unit tests coverage improvement needed"
## Affected libraries
- Microsoft.Bot.Builder.Azure (44% --> 88%)
  - [Increase Microsoft.Bot.Builder.Azure code coverage #5889](https://github.com/microsoft/botbuilder-dotnet/issues/5889)
- Microsoft.Bot.Builder.Azure.Queues (0%)
  - [Increase Microsoft.Bot.Builder.Azure.Queues code coverage #5898](https://github.com/microsoft/botbuilder-dotnet/issues/5898)
- Microsoft.Bot.Builder.Dialogs.Debuggi

[2021-02-05 18:23] mdrichardson commented on #5165
@tbuquet This is less a bug and more [a design decision made several years ago](https://github.com/microsoft/botbuilder-dotnet/blame/a163e05c62bf387e8b5064925050d4cb11d9b1b0/libraries/Microsoft.Bot.Builder.Azure/AzureBlobStorage.cs#L225). Blob names [have always allowed](https://github.com/Azure/azure-storage-net/blob/905e9f260b8c673988cee9903092af7c71517270/Lib/Common/NameValidator.cs#L95) `/` ([

[2021-02-05 18:23] #5165 closed

[2021-02-05 19:15] srinaath commented on #5108
@boydc2014 Do we have a sample for this scenario?

[2021-02-05 19:16] srinaath commented on #5100
Closing due to inactivity.

[2021-02-05 19:16] #5100 closed

[2021-02-05 19:33] #3007 closed

[2021-02-05 20:59] Virtual-Josh opened #5169 "[Testing Skills Everywhere] Email channel doesn't translate dialog numbers to choices accurately"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
Selecting a numeric option in the Email channel doesn't translate from numbers to options

## To Reproduce
Steps to reproduce the

[2021-02-05 22:45] srinaath commented on #5149
Can you provide your comments on whether this feature will be picked up or added to the backlog?

[2021-02-06 01:59] Virtual-Josh opened #5171 "[Testing Skills Everywhere] SSO to a skill doesn't work in the Email channel"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
SSO in the Email channel doesn't work as intended

## To Reproduce
1. Setup the waterfall host & skill for SSO
2. Work through th

[2021-02-07 03:21] #5110 closed

[2021-02-07 06:04] xieofxie commented on #5169
Hello, `context.activity.text` contains what user says, so it is '1' in this case.
To use a result from prompt, use `stepContext.Result` instead. It will be the chosen `Choice` object.

[2021-02-07 07:11] xieofxie commented on #5171
Although reply is slow, I could finish the SSO following this guide https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Ceml#create-the-azure-skillbot-registration

Could you verify if everything is correct? Thanks!

[2021-02-07 19:08] tomlm opened #5172 "Return 202 Accepted for incoming POSTs"
Current protocol defines that when an activity is posted to the bot there is no expected reply body other than a success status code except in 2 cases

*   **invoke** - we return the invokeResponse as content
*   **DeliveryMode=expectReplies** - we return an array of activities for the caller to process instead of HTTP POST back to the caller.

The activity protocol is designed conceptually as bi

[2021-02-08 07:25] #5009 closed

[2021-02-08 09:47] cxbuilders commented on #5101
@cosmicshuai Thanks. I browsed through the code and the comment and I am wondering are you now overwriting the turn.locale on any incoming activity if the conversation.locale is set? I would expect the turn.locale to be a fixed property and a possible candidate for the final locale that is used, when conversation.locale is set it will use conversation.lcoale for the final locale, same for user.loc

[2021-02-08 13:41] tracyboehrer opened #5208 "Auto-assign debug port so that bots and skills can be debugged side-by-side"
Per Tom:

The debugger should only be enabled when running localhost, and you want to have each bot/skill run on their own port. Each service can run side-by-side this way, but the debugger ports need to not conflict as well. (NOTE: if they are independent then you can attach dialog debugger to both sides of bot/skill and trace through...nirvana!)

To enable this I take the localhost:{PORT} and ad

[2021-02-08 13:42] tracyboehrer opened #5209 "Automatically add the queue storage and queue trigger to give us proactivate "ContinueConversationLater" support."
Per Tom:

ContinueConversationLater writes an activiy to a queue with a "hidden until future"...when it surfaces it triggers a AzureFunction which rehydrates the conversation and continues.
In startup.cs

[code]

And then there is a StorageQueueTrigger like this:

[code]

[2021-02-08 13:43] tracyboehrer opened #5210 "Auto-reload resources when file changes."
Per Tom:

The ResourceExplorer is set up to fire change events when the underlying resources change, only it has never worked correctly in the emitted runtime.  I finally figured out the issue.  With dotnet, all of the resources are "content", meaning they get copied to the output folder (bin/debug/....).  This is a good thing, as it means they are part of the zip file when using zip deployment et

[2021-02-08 14:44] gabog commented on #4802
I need to work on some higher priority tasks, pushing this one to R13

[2021-02-08 19:37] Virtual-Josh commented on #5007
@cosmicshuai,

Can you drive this to completion?

[2021-02-08 19:43] Virtual-Josh commented on #4566
closing due to inactivity

[2021-02-08 19:43] #4566 closed

[2021-02-08 21:27] ceciliaavila commented on #4888
Hi @mrivera-ms,
We reviewed this issue and consider it should be moved to R13.
As @v-kydela mentions, there's a bug in the Slack Azure Bot Service that we can't address, but we can address a similar issue happening in the Slack Adapter.
The Slack Adapter, unlike the Slack Azure Bot Service, returns the messages with attachment as event activities ([IEventActivity](https://github.com/microsoft/botb

[2021-02-08 22:37] v-kydela commented on #4888
@ceciliaavila - While it would be great to fix this in the adapter as well, shouldn't it also be fixed in ABS because that's what this customer is using?

@craigjensen
@arturl
@bwamie

Can a work item be created to fix this in the Slack service?

[2021-02-08 23:02] mrivera-ms commented on #4888
@v-kydela, I have created a separate issue to track the fix in ABS. Adding @arturl , @craigjensen @bwamie for visibility.
Also, moving this issue out of the R12 release.

[2021-02-09 00:51] mrivera-ms commented on #4514
@cwhitten, is this issue to be completed by R12 (2/12)?

[2021-02-09 00:52] mrivera-ms commented on #5158
@JonathanFingold, is this on track for R12?

[2021-02-09 05:31] chrimc62 opened #5177 "Add additional properties to form generation events"
OnChooseEntity allows specifying property and entity, but not operation and it should.

OnChooseProperty schema has entity, properties and entities but no operation.  None of those are used and they don't really make sense so they should be removed.

[2021-02-09 08:38] hhasenauer commented on #4566
@mrivera-ms Tested with 4.11.1, I am still having the same issue.

[2021-02-09 16:06] carlosscastro commented on #4807
This can move to R13 when we'll do some debugging improvements. There are 2 workarounds for this issue at the moment:

- By default, debugging is not enabled, so this doesn't repro
- For a temporary fix if you want debugging enabled but experience this issue, you can use the workaround in this PR: https://github.com/microsoft/botbuilder-dotnet/pull/4808

[2021-02-09 16:10] carlosscastro commented on #5101
Thanks for the work and investigation @cosmicshuai, glad you found those areas where we were not honoring turn.locale.

Thanks @cxbuilders for the comments and thoughts, I'll spend some time on this today and tomorrow and update.

[2021-02-09 16:55] gabog commented on #5077
Hi @chrimc62, I am try to figure out what the best place is to put SetTestOptionsMiddleware and the current package  Microsoft.Bot.Builder.Dialogs.Adaptive.Testing is the best place to have it and I think it is safe to used by users and testers.

However, there are other classes in Microsoft.Bot.Builder.Dialogs.Adaptive.Testing that need some cleanup before we can call the entire package GA.

We c

[2021-02-09 17:36] gabog opened #6822 "Making Microsoft.Bot.Builder.Dialogs.Adaptive.Testing GA"
## Background
The [Microsoft.Bot.Builder.Dialogs.Adaptive.Testing](https://github.com/microsoft/botbuilder-dotnet/tree/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing) is currently labeled as preview and being used by the SDK to generate tests scripts out of transcripts (or manually) and run unit tests on adaptive dialogs.

This issue provides brief descriptions for the different iss

[2021-02-09 18:13] mrivera-ms commented on #4674
Per @johnataylor, a PR will be published today (2/9).

[2021-02-09 18:28] mrivera-ms commented on #4835
Reviewed by the SDK team. This should be addressed by the improvements @johnataylor is doing on Streaming. On track for R12.

[2021-02-09 18:28] mrivera-ms commented on #4850
On track for R12.

[2021-02-09 18:29] mrivera-ms commented on #4960
Reviewed by the SDK team. On track for R12.

[2021-02-09 18:39] mrivera-ms commented on #5077
Reviewed by the SDK team. Moving it to the next milestone.

[2021-02-09 18:42] chrimc62 commented on #5077
I'm OK with that, but it is a little weird to have official support in the emulator but not the SDK.

[2021-02-09 18:51] cwhitten commented on #4514
This will be closed as part of Ze's work

[2021-02-09 18:51] #4514 closed

[2021-02-09 19:03] mrivera-ms commented on #4010
Reviewed by the SDK team. The associated PR needs to be reviewed again. Moving out of R12.

[2021-02-10 05:56] #5014 closed

[2021-02-10 05:56] #5015 closed

[2021-02-10 07:06] Danieladu opened #5181 "[PORT]Add properties property for Template class"
Original Issue: https://github.com/microsoft/botbuilder-js/issues/3273
Original PR: https://github.com/microsoft/botbuilder-js/pull/3272

## Description
We are adding UX for editing structured responses for LG templates in Composer. This requires parsing structured responses in the LG files. Now it would be great if we can include this data in the parsed LG templates.

[2021-02-10 17:41] EricDahlvang commented on #5102
@boydc2014 that makes sense.

[2021-02-10 17:48] johnataylor opened #5183 "End to end testing CloudAdapter"
We need end to end testing for all scenarios with CloudAdapter:

- oauth prompt
- streaming
- streaming with oauth prompt
- a skill built with CloudAdapter (not the parent just the skill)
- a skill with oauth prompt
- oauth input (adaptive version of oauth prompt)

[2021-02-10 17:52] chrimc62 commented on #5145
The only amendment I would make to @tomlm's proposal is that you could either put it before or after the begin dialog actions.  I'd like to get this into the plan--Melanie and Xi have definitely been running into this.
*Before:*
[code]

*After*
[code]

[2021-02-10 18:42] johnataylor commented on #4774
Note this is explicit parameterized in the new UserTokenClientImpl class.

However, for completeness, as this issue highlights, the default value in the Initialize should use the constant (it can just use the _public_ cloud constant in the default.)

But what is the correct constant: in the code we have:  https://**api**.botframework.com and https://**api**.botframework.azure.us

[2021-02-10 20:23] swagatmishra2007 commented on #4774
both would actually work (they point to the same service) . however, go with api as the constant in the code (which is what the sdk has today)

[2021-02-11 00:14] JonathanFingold commented on #5158
@mrivera-ms @johnataylor -- the code snippets in the article come directly from the code in the samples repo. Once the sample is updated, I'll need to review the article and fix code alignment.

[2021-02-11 02:49] #5177 closed

[2021-02-11 03:21] johnataylor commented on #4774
Thanks @swagatmishra2007  and I'll add the code to actual use the constant in the Initialize.

Do take a look at the UserTokenClient code when you get a chance - it is now the user of this lower level client. It's _much_ simpler than the 17 method IExtendedUserToken thing...

[2021-02-11 04:59] johnataylor commented on #4835
In the latest CloudAdapter code the exception will cause the adapter's OnTurnError to be called. The socket is not part of the application programming model but the error handler can be implemented to provide logging.

[2021-02-11 13:11] rvinothrajendran opened #5187 "Home page refer the wrong twitter account"
https://github.com/microsoft/botbuilder-dotnet  (github)  page refer the wrong twitter account (@botframework) , It should be account : @msbotframework

[2021-02-11 15:00] gabog commented on #5187
Thanks for the issue and the PR @rvinothrajendran!

@darrenj / @garypretty / @cleemullins , can you please review and check if we need to change this in other repos?

Thanks

[2021-02-11 15:14] rvinothrajendran commented on #5187
@gabog
https://github.com/microsoft/botbuilder-python and
https://github.com/Microsoft/botbuilder-js should be update the same.
Will create a PR for this.

[2021-02-11 17:42] stevengum commented on #4674
#5178 addresses the core issue in the CloudAdapter class, but not the BotFrameworkHttpAdapterBase. As the team is shifting focus on the new CloudAdapter, we are considering this issue addressed. The recommendation at this time is to update to the CloudAdapter.

@johnataylor @carlosscastro @mrivera-ms

[2021-02-11 17:50] mrivera-ms commented on #4960
Reviewed by the SDK team. @carlosscastro to review and discuss with the larger team.

[2021-02-11 17:55] garypretty opened #5189 "Add Send Handoff Activity action"
We need to surface the ability to send a handoff activity in Composer.  For this we need a new Adaptive Action to send a handoff activity.  This action should have properties to set the context and transcript objects to be included on the handoff activity.

[2021-02-11 18:34] Virtual-Josh commented on #5097
Hey @Danieladu are there any updates on this ticket? Can we close it, or is there still more work to do?

[2021-02-11 19:00] Virtual-Josh commented on #5191
For a bit of context this is a known issue. The `TeamsInfo` class doesn't currently work with skills. @gabog we should look into fixing this during the next cycle.

[2021-02-11 20:14] EricDahlvang opened #5192 "Add unit tests for SendHandoffActivity"
*Is your feature request related to a problem? Please describe.**

Create script tests for:
https://github.com/microsoft/botbuilder-dotnet/pull/5190/files

[2021-02-11 21:35] #4674 closed

[2021-02-11 21:35] #4850 closed

[2021-02-11 21:35] #4774 closed

[2021-02-11 21:35] #4835 closed

[2021-02-11 22:35] #5189 closed

[2021-02-11 22:43] #5128 closed

[2021-02-12 15:58] tomlm opened #5193 "Handle hierachial entities better"
**Is your feature request related to a problem? Please describe.**
Adaptive does a great job of working with first level entities
Given a result like this:
[code]
With entities you can use @ to refer to first VALUE and @@ to refer to the array of values

You can refer to the first entity of a given type by saying **@homequery**, but for nested types you have to do
**@homequery.price[0].value**

**

[2021-02-12 18:49] Virtual-Josh commented on #5187
Closing this issue as the PRs are up.

[2021-02-12 19:01] rvinothrajendran commented on #5187
@Virtual-Josh sorry, not get why this PR gets closed

[2021-02-12 20:18] peterinnesmsft opened #5201 "DRAFT: Define build process for Bot Host Application (Dialog Merge)"
Tom made a point that we should make sure to execute bf dialog:merge as part of the build process for the application to ensure we pick up any referenced dialog files.

In a general sense, we should evaluate what steps need to be performed as part of the application's build process, and implement that in some fashion using custom build targets, etc.

[2021-02-12 20:20] ryanlengel opened #5203 "Determine where UI schema updates are managed in the pipeline"
Previously the Composer runtime has had to make updates to the UI schema as demonstrated in https://github.com/microsoft/BotFramework-Composer/pull/4682

How do we keep this in sync and who owns it?

[2021-02-12 20:20] ryanlengel opened #5204 "Functional tests for runtime generation and package consumption"
The adaptive runtime needs supporting functional tests that will validate the backend technologies for:
* Runtime project generation
* Package consumption
* Host to skill connectivity
* OAuth service testing

The work at [Skills Functional Tests](https://github.com/microsoft/BotFramework-FunctionalTests/tree/main/Tests/SkillFunctionalTests) can be expanded upon to support this.

#### Runtime proje

[2021-02-12 20:22] tracyboehrer opened #5206 "Can't use Request/Response signature with Azure Functions"
Per Tom:

The old legacy runtime code passed in HttpRequest and used request.Response.  This looks like it works but doesn't when you actually return an object as part of Invoke or DeliveryMode=ExpectReplies. The Azure Function runtime blows up because the response.StatusCode gets set twice (once by the BotAdapater, and once presumbly by Azure Functions).  The correct code look like this:

[code]

[2021-02-12 20:22] tracyboehrer opened #5207 "Auto-compute the SkillHostEndpoint setting"
Per Tom:

Setting the SkillHostEndpoint is an obscure thing you need to do for your bot to function correctly as a skillhost.  With Azure Functions I was able to auto-compute the setting using environment vars for Azure Functions like this:

[code]

[2021-02-12 20:24] tracyboehrer opened #5211 "Make it super easy to register a bot and all of the settings associated with it."
Per Tom:

When I create a new project it's an anonymous bot.  When I am ready to deploy it, I simply right mouse click publish to azure as a new azure service, (let's call it FOO.azurewebsites.net).

When I want to register it as a bot, I run this .csx script.  It
•	Creates bot registration with appid/password
•	registers my endpoint (foo.azurewebsites.net)
•	gets the BotId/MicrosoftAppId/Microsof

[2021-02-12 20:32] mrivera-ms opened #5212 "Clean up LU Parser project"
Project `Microsoft.Bot.Builder.Parsers.LU` is currently in preview. It needs to be cleaned up to follow the adopted standards.

Original PR: [PR 4856](https://github.com/microsoft/botbuilder-dotnet/pull/4856)

[2021-02-12 20:32] chrimc62 commented on #5120
I love this idea--it solves a real pain point in an elegant way in combination with randomseed/randomvalue.

We could just make text so that you can specify a normal text string, i.e. something like "Would you like a ${promotion(1)} to your ${orderName('foo')}?".  This would require implementing an ExpandText method for LG that corresponds to ExpandTemplate where all possible expansions are genera

[2021-02-12 21:08] Virtual-Josh commented on #5187
@rvinothrajendran I'm fine to leave this one open so it can be closed on the PR is merged in.

[2021-02-12 23:15] #4960 closed

[2021-02-13 00:57] ipraveenMS commented on #5191
@Virtual-Josh @gabog what is the timeline for the fix? What is the workaround till then to unblock ourselves? This worked in the previous versions of BF code we have so this is broken code.

[2021-02-13 01:50] Virtual-Josh commented on #5191
@ipraveenMS as far as I'm aware the `TeamsInfo` class has never worked with skills in any version of the SDK. If you have an example of a version of the SDK where it does work can you tell us what version so we can take a look. The reason it doesn't work is due to the delegated turn context not having the required pieces to use `TeamsInfo`. This means there aren't any simple workarounds currently

[2021-02-13 02:43] #5081 closed

[2021-02-13 22:22] Virtual-Josh opened #5215 "Comment in QnA Maker needs to be clarified"
The code comment in the [QnAMaker](https://github.com/microsoft/BotBuilder-CognitiveServices/blob/58c63349521fce1500955d2c9263ba2523498b9d/CSharp/Library/QnAMaker/QnAMaker/QnAMakerService/QnAMakerAttribute.cs#L47) class needs to be clarified. There was an [ICM](https://portal.microsofticm.com/imp/v3/incidents/details/227591911/home) that was filed since a customer was confused about the comment.

[2021-02-14 01:22] Danieladu commented on #5097
Close it. For we have provided a solution or possible cause for the customer.
@igordevezas If there are more contexts, we can continue to discuss under this issue.

[2021-02-14 01:22] #5097 closed

[2021-02-15 23:16] #5151 closed

[2021-02-16 03:41] #4967 closed

[2021-02-16 03:46] carlosscastro commented on #5101
Reopening this one since the code to support this is now in the main branch, however I need to provide @cxbuilders with a sample on how to have conversation and user level locale preferences and manage the priority in a custom way. @cxbuilders - I'll work on this sample tomorrow and attach it here to close the loop.

[2021-02-16 17:52] stevkan commented on #5089
@luffynextgen, thank you for your patience while I looked into this. I should have a response by EOD for you.

[2021-02-16 18:23] Virtual-Josh commented on #5140
Hey @pschaeflein I just synced up with the Teams team and the URI in the manifest does not need to match the botid.

I'm going to ask some basic question to confirm that the fundamental pieces are as they should be. This isn't mean to be insulting. SSO has a million little steps that all have to be just so and it's difficult to know what piece is wrong.

1. Are you using the Teams Activity Handler

[2021-02-16 18:33] Virtual-Josh commented on #5140
@pschaeflein  So I spoke with the Teams team and the Id doesn't need to match to work. However there's one thing I want to clarify. What SSO scenario are you trying to enable here? Are you trying to have the skill send an OAuth card that will be caught by SSO and won't show because the user is already logged in? Are you trying to prevent access to the skill unless the person is already logged in?

[2021-02-16 18:36] tsuwandy opened #5222 "Update OrchestratorRecognizer reference to Orchestrator core nuget to 4.12.0-* version"
Pick up latest updates from Orchestrator R12 milestone.

[2021-02-16 18:44] #5222 closed

[2021-02-16 19:24] mrivera-ms opened #5224 "Update orchestrator package reference to 4.12.0-*"

[2021-02-16 19:25] mrivera-ms commented on #5224
Completed.

[2021-02-16 19:25] #5224 closed

[2021-02-16 19:30] EricDahlvang commented on #5191
ChannelServiceController needs to have the 'v3/teams/' endpoints from TeamsOperations.

[2021-02-16 19:46] clearab commented on #5191
We've been tracking the work to implement support for this here: https://github.com/microsoft/botbuilder-dotnet/issues/4931

[2021-02-16 19:56] #5187 closed

[2021-02-16 20:13] clearab commented on #5191
I'm going to go ahead and close this as a duplicate, but thank you for calling this out. For now, @Virtual-Josh's answer above it correct, the TeamsInfo helper methods will not work from a skill. If you need to work around this limitation, you'd need to consumer bot send the request, and then pass the results back to the skill.

[2021-02-16 20:13] #5191 closed

[2021-02-16 20:46] Virtual-Josh commented on #4931
Copying Eric's comment over here. The channel service handler needs the `v3\teams` route to enable this scenario.

[2021-02-16 20:59] Stevenic opened #5225 "Adaptive Expressions: Add crypto functions"
I'm trying to build a generic set of dialogs for working with cosmos DB over REST using adaptives `HttpAction`.  I can't currently generate the required [HMAC Signature](https://docs.microsoft.com/en-us/rest/api/cosmos-db/access-control-on-cosmosdb-resources?redirectedfrom=MSDN#constructkeytoken) needed for the access token due to a lack of crypto functions in the Adaptive Expressions library.  I

[2021-02-16 21:16] mrivera-ms opened #5226 "R12 Release Notes: Include removal of Cloud Adapter classes from WebApi"
Associated PR [here](https://github.com/microsoft/botbuilder-dotnet/pull/5220).

[2021-02-17 00:02] sgellock commented on #5225
Before we cut any new code here, I want to have a discussion first.

[2021-02-17 01:01] #5159 closed

[2021-02-17 01:48] johnataylor opened #5229 "OAuthPrompt should Dispose the ConnectorClient it replaces in the TurnState"
When an Event Activity arrives the OAuthPrompt (and OAuthInput) replace the ConnectorClient with a new instance on the TurnState. It should call Dispose on the old one.

Not calling Dispose is harmless if everything else is working well, specifically if the HttpClient was sourced from an HttpClientFactory, however, it could under some circumstances be a leak.

PR is here #5223

[2021-02-17 16:03] goergenj opened #5462 "[MCS-DE-GO] JSON object with non-string parameters"
Currently we are facing the issue that we cannot find the right syntax in a JSON object within the https-Action to send numbers and booleans to an external API.

The only working syntax Composer allows in JSON in https-request body object is:
[code]
This creates this JSON body on API call as output:
[code]
What we want to have however is this:
JSON body on API call expected output:
[code]
We tried

[2021-02-17 19:29] compulim commented on #4378
DRI, please look at this issue next week as R13 planning start.

[2021-02-17 20:50] clearab commented on #3261
It looks like we're running into a few things:

1. There is a size limit on images. They must be < 1024 x 1024 and 1 MB
2. Inside a card, you need to use the image format for that type of card (and not embed the image in text)
3. In a simple text message you can either
  1. Add the image as an attachment
  2. Change the message format to either xml or markdown, and use that syntax for your message

[2021-02-18 01:35] lauren-mills opened #5235 "[Adaptive Expressions] titleCase() incorrectly capitalizes date with ordinal (e.g. 12th as 12Th)"
## Version
What package version of the SDK are you using.
4.11.1

## Describe the bug
When using the titleCase() function on the string "today, February 17th" the result is capitalized "Today, February 17Th". In this case 17th is one word, so the 't' should not be capitalized.

I feel like the spacing should come into play here for determining the start of words.

[2021-02-18 03:36] Danieladu commented on #5108
[EchoBot-0.zip](https://github.com/microsoft/botbuilder-dotnet/files/6000058/EchoBot-0.zip)
hi @srinaath  I have upload a sample to show how to custom the language Policy by changing the runtime code.
The key code change is here:
[code]

Maybe in the next step Composer would enable the feature to customize the language policy.

[2021-02-18 04:38] boydc2014 commented on #5108
@srinaath Hongyang uploaded a sample above and called out the key changes here.

@cxbuilders please refer to the sample above that shows how to create a customized language policy that can enable you to route your lg from language to language.  For now, you have to modify the code ejected to do so, in the future, we are considering exposing this policy object in settings, so that you don't have to

[2021-02-18 05:32] feich-ms commented on #5120
@chrimc62 for your question about ExpandTemplate above, I think the result would be ["here is a random number 4", "presenting a random number 4", "here is another random number 4", "presenting another random number 4"]

[2021-02-18 06:53] lauren-mills commented on #4576
@boydc2014 - Has support for this been added, or is it still in the backlog?

[2021-02-18 17:04] carlosscastro opened #5239 "Runtime: CoreAdapter should be also registered as BotAdapter for SkillsHttpClient to pick it up"
This issue breaks receiving messages from skills in a skill host.

Also found out that the SkillsHttpClient is swallowing valuable error information. That work is tracked here: https://github.com/microsoft/botbuilder-dotnet/issues/5240.

[2021-02-18 17:07] carlosscastro opened #5240 "SkillHttpClient should not swallow error information"
BotFrameworkHttpClient has the following [code](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpClient.cs#L240)

[code]
Which in Skills for example has `T` as `ExpectReplies`. The problem is that when response has a *non-success* status code, the shape usually does not look like T. So we get a 500 as Statu

[2021-02-18 17:31] cxbuilders commented on #5108
@Danieladu thanks for the sample, that works. For now all good and indeed having this in the settings would complete things nicely 😊

[2021-02-18 19:01] #5239 closed

[2021-02-18 21:42] scheyal commented on #4986
No. Issue is still bad. Also, the recursive bug is still a bug.

[2021-02-19 01:45] #5235 closed

[2021-02-19 03:37] parasdesaicims commented on #3261
@clearab  I am having a similar issue. The above-given solution doesn't seem to work.

[2021-02-19 10:56] shwars commented on #5051
@dmvtech In 50% of the cases, I seem to be unable to create a container manually from Azure Portal with the same error message
![image](https://user-images.githubusercontent.com/2892110/108495727-30043e00-72ba-11eb-887b-fcfe741858e1.png)

[2021-02-19 15:22] #5140 closed

[2021-02-19 19:20] compulim commented on #4888
Looks like there is an ongoing effort on fixing this bug. I am exempting it from DRI.

[2021-02-22 17:30] JonathanFingold commented on #5158
@mrivera-ms

[2021-02-22 18:31] ipraveenMS commented on #5191
@clearab @Virtual-Josh can you give more details about the workaround? We have parent installed in teams.

How to handle it again in the skill after the parent forward the data back? How to redirect from parent to skill (example would be great)

[2021-02-22 22:39] mmiele commented on #4924
Related  PR https://github.com/MicrosoftDocs/bot-docs-pr/pull/2585 ready to be merged.

[2021-02-22 22:47] dmvtech commented on #5051
@shwars This is not a bot framework issue. Please open a ticket within the Azure portal to have this addressed.

[2021-02-23 17:44] scheyal opened #5250 "Skill is not re-connected by parent if stopped while parent is running (due to port recycling)"
Scenario:
* Parent connected to skill correctly
* skill is stopped and restarted, parent remains on.
* Parent cannot access skill
* Error:
[code]
Variation:
* I have persistent cosmos db storage on the skill. Verified with storage explorer (tried w/ & w/o cosmost db)
* Restarted both
 - All works
* Restart only skill
 - Hit connection failure
 - Restarted the conversation in emulator
 - Failure pe

[2021-02-23 17:44] cwhitten commented on #5250
Transferring to botbuilder-dotnet for a Skills protocol discussion. cc @gabog

[2021-02-23 22:41] gabog commented on #5250
Hi @cwhitten, we reviewed this with Eyal and it looks like a composer issue, changing the underlying port of a skill without reloading the parent will fail and it is not possible to recover this at the protocol level (the recycling changed the URL for the skill and the parent is still expecting to find it in the old address.

I think composer should have stable ports and avoid using dynamic ports,

[2021-02-23 22:43] mrivera-ms commented on #5158
@JonathanFingold opened PR in Samples repo: [Issue 3095](https://github.com/microsoft/BotBuilder-Samples/pull/3095) addressing this requirement.
Will assign this one back to you to be completed after the Samples PR is merged.

[2021-02-25 21:23] mdrichardson opened #5252 "Remove typo from comments in PromptCultureModel.cs"
When created, I accidentally added some typos due to copy/paste. Remove all instances of "Ex: Locale. "

[2021-02-25 21:32] gabog opened #5253 "OAuthPrompt should log diagnostics data on TokenExchange failures"
## Version
4.12

## Describe the bug
Currently [OAuthPrompt.cs](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L314) catches any exception that may result from trying to `UserTokenAccess.ExchangeTokenAsync()` and assumes that the failure means the user is not logged in. This may or may not be correct and it could be related t

[2021-02-25 21:57] #5252 closed

[2021-02-26 06:40] Danieladu opened #5254 "Empty prompt throw unclear error"
## Screenshots
![image](https://user-images.githubusercontent.com/7289268/109264616-38bbbd80-7840-11eb-80f5-3e229548956a.png)

Run Bot got following error
## Additional context
Add any other context about the problem here.
![image](https://user-images.githubusercontent.com/7289268/109264641-42ddbc00-7840-11eb-90d9-9c0a73fff481.png)

## Possible code issue
Maybe change
https://github.com/microsoft/

[2021-02-26 06:43] Danieladu opened #5255 "Empty switch action throw unclear error"
## how to reproduce
Create a SwitchCondition action, and then run the bot

## Screenshots
![image](https://user-images.githubusercontent.com/7289268/109264962-bc75aa00-7840-11eb-8c67-914ef117807e.png)

Run bot hit following error
![image](https://user-images.githubusercontent.com/7289268/109264974-c1d2f480-7840-11eb-9f97-2ccf12f584f0.png)

## Possible code issue
Check null before lock an object.
h

[2021-02-26 06:48] Danieladu opened #5256 "Make Antlr error message more readable"
In some cases, Expression would throw some error messages from `antlr` which is obscure for developers.

So, it is great if SDK can wrap these error messages.

For example:
![image](https://user-images.githubusercontent.com/7289268/109265418-7c62f700-7841-11eb-954c-fc988517fa71.png)

Write a invalid expression, and get:
![image](https://user-images.githubusercontent.com/7289268/109265443-87b62280-

[2021-02-26 07:27] Danieladu opened #5257 "Bot throws when DefaultValue set but with DefaultValueReponse empty"
## Describe the bug
when create a InputDialog Action, and set the value of "DefaultValue" but with "DefaultValueResponse" empty, an empty activity would be generated and cause the issue.

## To Reproduce
Add an input action include below properties and values:
[code]

## Expected behavior
nothing happens without an exception.

## Screenshots
![image](https://user-images.githubusercontent.com/72892

[2021-02-28 16:57] sudoaccessdenied opened #5258 "List Card Showing Error On Clicking On list Item During in-meeting and opening two tabs on single click."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.3

## Describe the bug
I am getting error "Something went wrong. Please try again."  when I click on "List card" items during in-meeting Meeting Chat.
A

[2021-03-01 18:52] munozemilio commented on #5108
Hi @cxbuilders seems this issue can be closed now. Feel free to reopen if needed

[2021-03-01 18:52] #5108 closed

[2021-03-01 20:11] Robulane opened #5260 "HttpRequest dialog is mutating the singleton http client"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.12.0

## Describe the bug
HttpRequest dialog is retrieving the HttpClient and is mutating the default headers on it instead of building the proper HttpRequ

[2021-03-01 21:09] JonathanFingold commented on #4924
@mrivera-ms With the caveat that the publishing pipeline has been down for over a week, but [in theory] scheduled to come back up today, we are on track.

[2021-03-01 22:00] mrivera-ms opened #5261 "HttpClient injected via TurnContext needs to be removed"
## Version
4.12.0

## Describe the bug
HttpClient is injected for testing purposes. This behavior needs to be removed, and associated tests updated.

[HttpRequest](https://github.com/microsoft/botbuilder-dotnet/blob/8f53635a9129a5c3e4a6669820db83591edd1431/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/HttpRequest.cs#L232)

[2021-03-02 02:02] #5082 closed

[2021-03-02 15:10] tracyboehrer commented on #5266
@garypretty Is the PR with the SetSpeakMiddleware still the expected behavior?

[2021-03-02 15:26] garypretty commented on #5266
@tracyboehrer Yes, that PR reflects what we have in the current runtime, which appears to be working as expected.  Additionally we have one additional PR which ensures the middleware is added to the pipeline by default.

[2021-03-02 15:48] johnataylor commented on #5261
What we need is a simple way for a hosting infrastructure to filter outbound http requests from the application.

A factoring we would could consider would be to split the functionality of something like the http dailog component into two halves, basically a thin dialog derivative and then a stateless "service" found on the turnstate (I know turnstate, its a very sad, but we need to work with what

[2021-03-02 17:10] tracyboehrer commented on #5266
Branch:  https://github.com/microsoft/botbuilder-dotnet/tree/trboehre/setspeakmiddleware

[2021-03-02 19:34] clearab commented on #5258
@Wajeed-msft can you please take a look at this one, and migrate to your preferred location?

[2021-03-02 19:36] clearab commented on #5258
@sudoaccessdenied these are both going to be issues with the Teams client itself, and not have much to do with the bot directly. @Wajeed-msft will hopefully get these tracked appropriately. In the future, please take a look at https://aka.ms/teamsdevfeedback for good ways to get in touch with the Teams developer support group.

[2021-03-02 22:55] EricDahlvang opened #5267 "Dispose of created HttpClient in HttpRequest"
The HttpClient and StringContent should be disposed in HttpRequest object

[2021-03-03 07:37] sebnemars opened #5269 "Get qna result data from Bot Composer - QnAMakerDialog.cs"
I am using QnaMaker dialog in Bot Composer.
In my dialog flow, I need to have an if branch after QnAMaker is returned either an answer or fallback message to the user.
Depending on the response, I will send a message to the user.
I found out that qnaresult is stored into the turn memory variable. But the memory variable has hashcode which I cannot find how to generate that code.

`[Ln427] dc.State

[2021-03-03 12:36] sudoaccessdenied commented on #5258
@clearab  It is working fine after the yesterday New Teams Updade. Thank you.

[2021-03-03 12:36] #5258 closed

[2021-03-03 20:22] cleemullins commented on #5260
After working through this with @johnataylor and @Robulane and others from the team, this is not a blocking issue at this time.

We've filed tracking bug for R13 that arise from this and should be cleaned up.

https://github.com/microsoft/botbuilder-dotnet/issues/5261

[2021-03-03 20:22] #5260 closed

[2021-03-04 16:17] sschutten opened #5271 "BlobTranscriptStore stuck in infinite loop when update or delete activities can't be found in transcript store"
## Version
4.11.1

## Describe the bug
`BlobTranscriptStore` gets stuck in an infinite loop on update and delete activities when the activity transcript can't be found in the blob store. This can occur when one activity contains multiple attachments. Each attachment ends up as a separate activity in Microsoft Teams. When one of the attachment activities is updated, the [InnerReadBlobAsync](https:/

[2021-03-04 17:37] EricDahlvang commented on #5271
Hi @sschutten

Thank you for raising this issue.  I'm looking into this right now.

How are you obtaining the activity id of one of the activities created by the attachments?

[2021-03-04 17:52] sschutten commented on #5271
Hi @EricDahlvang,

Thank you for looking into it.
We're using the turn.activity.replyToId in response to an Action.Submit action in the adaptive card in the attachment.

[2021-03-04 19:11] #5267 closed

[2021-03-04 19:33] EricDahlvang opened #5273 "Clean clone of repo does not build"
Multiple rules based exceptions related to parameter names:

ContinueConversationAsync passes 'audience cannot be null or white space.' as the paramName argument to a ArgumentNullException constructor. Replace this argument with one of the method's parameter names. Note that the provided parameter name should have the exact casing as declared on the method.	Microsoft.Bot.Builder	C:\work\botbuilder

[2021-03-04 21:09] mrivera-ms commented on #4378
@lauren-mills, can you comment on this?

[2021-03-04 21:18] mrivera-ms commented on #5205
Reviewed with the SDK team. This should probably be added in the Samples repo for a future sample.

[2021-03-04 21:20] mrivera-ms commented on #5169
Reviewed by the SDK team. Will close it as "Won't fix".

[2021-03-04 21:20] #5169 closed

[2021-03-04 21:23] mrivera-ms commented on #5171
@darrenj, could you please review and prioritize issues on the Email channel? Please let us know if we should consider it for future work.

[2021-03-04 21:29] mrivera-ms commented on #5172
@tomlm, this was reviewed by the SDK team. We are pushing to R14 so we have time to do end-to-end testing.

[2021-03-04 21:35] mrivera-ms commented on #5206
@carlosscastro assigning this temporarily to you. Can you comment on it? Please note that it is assigned for R13.

[2021-03-04 21:42] mrivera-ms commented on #5209
@clearab, could you please prioritize this item?

[2021-03-04 21:50] tracyboehrer commented on #5206
I assigned this to me.

[2021-03-04 21:56] mrivera-ms commented on #5130
Reviewed by the SDK team. @gabo to investigate the implications and timeframe.

[2021-03-04 21:56] tracyboehrer commented on #5207
This should technically be in botframework-components.  This code doesn't live in the dotnet repo at all.  It's part of the generator template located in Components.

[2021-03-04 21:59] mrivera-ms commented on #5131
@garypretty, please prioritize.

[2021-03-04 22:58] #5273 closed

[2021-03-05 00:14] lauren-mills commented on #4378
In the calendar skill, I do not use either the LUIS recognized date time (because I don’t have a way to provide the user’s time zone for relative dates like tomorrow at 3pm) or the date time prompt (because it has limited recognition support and configuration options). I ended up writing my own dialog that sends the user utterance through the Microsoft.text.recognizers lib directly and then has de

[2021-03-05 04:38] gabog opened #5276 "Update code analysis to latest VS recommendations"
This would be a good rule to address in a MQ:

- 'Microsoft.CodeAnalysis.FxCopAnalyzers' has been deprecated and we should update [Directory.Build.props](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Directory.Build.props#L13) to use the latest 'Microsoft.CodeAnalysis.NetAnalyzers' instead (more info [here](https://docs.microsoft.com/en-us/visualstudio/code-quality/migrate-fro

[2021-03-05 09:31] garypretty commented on #5131
Thanks @mdesalvo for the feature request.  I have added this to our backlog and scheduled it for our R14 milestone later this year. We already have a busy R13 milestone which we are currently working towards, but this seems like a nice feature for the choice prompt. Thank you.

[2021-03-05 09:37] chrimc62 opened #5277 "Improve priority support"
## Is your feature request related to a problem? Please describe.

Both regex recognizers and triggers rely on order to resolve conflicts.  Currently there is no way to change this order except by manipulating the dialog JSON directly.  The regex recognizer returns the first intent that matches.  By default triggers rely on priority to pick which trigger to execute when there are multiple matching

[2021-03-05 09:41] garypretty commented on #5277
Transferring to the dotnet repo.  I think we need to consider this from an SDK perspective and then, once any changes are made at the SDK level, we can open appropriate tickets for Composer.

@mrivera-ms @tomlm @chrimc62 @johnataylor This issue plays in a complex space from what I can see - would be good for the SDK team to provide a perspective on what should be done here (it may be exactly what

[2021-03-05 09:51] garypretty commented on #4509
@EricDahlvang This does work as expected in Emulator today by specifying in Composer. Not sure if we changed something?  The below works for me.

![image](https://user-images.githubusercontent.com/3900649/110098609-47eac000-7d98-11eb-9e31-2a8831071ad6.png)

@LucaCerina could you try the above please and see if this works for you?

[2021-03-05 18:09] mrivera-ms opened #5278 "NuGet API keys need to be regenerated"
The release pipelines are now showing a warning that indicates the API key for the NuGet gallery have expired. We need to regenerate.

Visit https://www.nuget.org/account/ApiKeys to complete this request.

[2021-03-05 20:43] cleemullins commented on #5278
Nuget keys have been regenerated, and updated. They are good for 1 year.

[2021-03-05 20:43] #5278 closed

[2021-03-06 23:39] EricDahlvang opened #5280 "Adaptive.Teams package should be published with bf-composer tag"
- it should have bf-composer tag so it shows up as something that can be installed, upgraded, uninstalled

- if we install it by default it should be shown in the list of things that are installed and that can be uninstalled.

[2021-03-08 06:42] #5256 closed

[2021-03-08 06:43] #5181 closed

[2021-03-08 08:44] sschutten commented on #5271
Thanks @EricDahlvang for the quick turnaround! We've put a workaround in place where we send each attachment as a separate activity until the fix is released.

[2021-03-08 14:23] gabog opened #5281 "Cloud Adapter works with Skills (dotnet)"
see [parent](https://github.com/microsoft/botframework-sdk/issues/6224)

[2021-03-08 15:11] gabog opened #5282 "Add support for new Command and CommandResult Activities (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6212)

- Add new Activity types "command", "commandResult" --> P0
- Extend ActivityHandler to add new Handlers: OnCommand, OnCommandResult --> P0
- Add new types for CommandValue. CommandResultValue --> P0

[2021-03-08 15:35] gabog opened #5283 "DialogManager refactor (dotnet)"
see [parent](https://github.com/microsoft/botframework-sdk/issues/6227)

[2021-03-08 15:37] gabog opened #5284 "Deprecate HealthCheck activity (dotnet)"
see [parent](https://github.com/microsoft/botframework-sdk/issues/6225)

[2021-03-08 19:51] gabog opened #5285 "AllowedCallers on hosts should be automatically inferred from configured skills"
The runtime currently registers allowedCallers based on config settings ([here](https://github.com/Microsoft/botbuilder-dotnet/blob/384fea4d144df0c4868e7a149f3237d1cfd06aa9/libraries/integration/Microsoft.Bot.Builder.Integration.Runtime/Extensions/ServiceCollectionExtensions.cs#L93)).

This is OK for skills, but for hosts (i.e.: bots that call skills), this list should be automatically inferred fr

[2021-03-08 22:59] v-kydela commented on #5269
Thank you for the questions, @sebnemars

The answer to your first question can be found in the comment above the line of code you posted:

To answer your second question, I recommend using the "QnA Intent recognized" trigger instead of a `QnAMakerDialog`. You can find out how to do that using Composer's [QnA Sample](https://docs.microsoft.com/en-us/composer/how-to-use-samples). Have you tried the

[2021-03-09 17:45] PurnaChandraPanda opened #5291 "Not able to parse DateTimeSpec value "the hour" while reading response from luis in bot app"
Ask
=======
May I know why "the hour" text could not be converted in DateTimeSpec type? Do I need to tweak something from my c# model side to allow it?

Package
==========
```<PackageReference Include="Microsoft.Bot.Builder.AI.Luis" Version="4.12.0" />```

Luis response JSON
==========================
[code]
Error
==========
[code]
Inner exception
====================
[code]
Convert logic
========

[2021-03-09 18:51] johnataylor opened #5293 "Duplicate code across classic DialogExtensions.RunAsync and DialogManager"
The code of DialogExtensions.RunAsync was duplicated in the DialogManager function/class.

This code was perhaps initially trivial, however, as it's functionality has been extended, particular wrt skills the duplication includes significant complexity.

This code of DialogExtensions also did not fully support the latest dialog stack concepts (basically the emit, state trace event and the dialogsta

[2021-03-09 20:43] peterinnesmsft opened #5295 "Microsoft.Bot.Builder.Integration.Runtime has incorrect package dependency versions"
## Version
Microsoft.Bot.Builder.Integration.Runtime-4.12.0-preview

## Describe the bug
The package contains dependencies on two other SDK packages, Microsoft.Bot.Builder.Runtime.Plugins and Microsoft.Bot.Builder.Dialogs.Adaptive.Teams, in both cases expecting 4.12.0. However, these packages were both published as 4.12.0-preview.

As a result, NuGet is unable to restore the dependencies as it req

[2021-03-09 21:06] #5295 closed

[2021-03-09 22:40] chrimc62 opened #5298 "Allow package prefixes in resource ids"
Full description of the issues and proposals is found here: https://microsoft.sharepoint.com/:w:/t/ConversationalAI785/EdhjcHAfsDNAjaTPbHM2Oy0BS7LJRsAXu2d9ed52hOP7iQ?e=MTgM5s

The proposal is to allow .dialog, .lu and .lg files to refer to package assets using the package name as prefix.  If I had a package `MyPackage` and it had a dialog file `CoolStuff.dialog` then the only way to refer to it in

[2021-03-09 23:42] mdrichardson opened #5300 "Intermittent failures for BotBuilder-DotNet-Functional-Tests-Linux-yaml Edit Run pipeline"
## Describe the bug
This pipeline fails intermittently. I believe this is due to Azure service performance/availability degradation of some kind, but can't really tell.

I manually triggered the pipeline twice and it passed. [1.](https://dev.azure.com/FuseLabs/SDK_v4/_build/results?buildId=221576&view=results) [2.](https://dev.azure.com/FuseLabs/SDK_v4/_build/results?buildId=221583&view=results)

[2021-03-10 00:30] boydc2014 commented on #4730
So, we had a design review with ChrisMc, Tom, Steve, ChrisW, the direction we feel good about is making LG templates\functions generally available in any actions, which will help us
* remove the necessary to use namespace + exports notions
* help localization in other actions like https://github.com/microsoft/botbuilder-dotnet/issues/2387

[2021-03-10 02:09] Zerryth opened #5301 ""no match response" button present in qna maker dialog when active learning is disabled"
dotnet tracking issue for repo code-owners

See original issue for details: https://github.com/microsoft/botframework-sdk/issues/6146

[2021-03-10 02:14] boydc2014 commented on #2387
Add some context to this one to help the discussion.

Today, LG functions are available in AdaptiveDialog actions via an interface "ITemplate", which in reality means SendActivity, Prompts(prompts in TextInput, ChoiceInputs, etc) only. And by design, it does auto multi-lang binding meaning, with one single reference format in dialog like "${Hello()}", we know which LG file to look at, and pick the

[2021-03-10 02:49] sgellock commented on #2387
@boydc2014 Tom and I have another option we want to pursue.  One that addresses the issue in the ChoiceInput and ConfirmInput prompts

[2021-03-10 03:23] boydc2014 commented on #2387
Sure, sounds good.

Just to be crystal clear, ChoiceInput and ConfirmInput's **prompts** (prompt, unrecognized prompt, invalid prompt) are already IActivityTemplate, so it's already enabled multi-lang binding via LG templates.

The customer's request is about ChoiceInput's **choices** (which i referred as other actions).

[2021-03-10 07:27] #5117 closed

[2021-03-10 09:14] darrenj commented on #5285
Can we also make sure this makes it's way into the JS runtime as well? This will be beta/preview at Build and would be good to have parity on this point

[2021-03-10 13:52] dfavretto opened #5302 "[Slack"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reprod

[2021-03-10 14:11] Prerana-acce commented on #4396
Hi All,
I need to fetch the source URL and other details from QnA action in Bot Composer. Is it technically feasible or any workaround for ? Any help or pointers will be highly appreciated.

[2021-03-10 21:10] mrivera-ms commented on #5145
Reviewed by the SDK team. @tomlm, @chrimc62, @Stevenic is this something that requires any action from the SDK team now?

[2021-03-10 21:13] mrivera-ms commented on #5153
Reviewed by the SDK team. Currently not supported. It should be re-created as a feature request in the future.

[2021-03-10 21:13] #5153 closed

[2021-03-10 21:14] mrivera-ms commented on #5161
Reviewed by the SDK team. Needs investigation.

[2021-03-10 21:27] mrivera-ms commented on #5212
@munozemilio, what is the status of this? Let's discuss.

[2021-03-10 21:33] mrivera-ms commented on #5229
Reviewed by the SDK team.

[2021-03-10 21:52] mrivera-ms commented on #5298
@garypretty, could you please prioritize this? Is this in scope for R13 or later?

[2021-03-10 23:00] Stevenic commented on #5145
This would be a fairly significant change to the way Adaptive Dialogs work. We need to at least have a phone call to discuss. Is that something you can coordinate @mrivera-ms ?

[2021-03-11 00:25] sgellock commented on #5225
Hey, before we go down this route, I'd like to have a conversation first.  Tom, Steve plus SDK leadership

[2021-03-11 04:51] #5293 closed

[2021-03-11 12:43] Batta32 commented on #5302
Thanks @dfavretto for reporting this issue, we will check if the same problem happens using the [sample 80.skills-simple-bot-to-bot](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot) to understand if it's a problem of the bots or something related to the SDK.

We will let you know any update we have 😊.

[2021-03-11 16:15] Stevenic opened #5305 "Trigger conditions without any actions should not fire"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version

4.12

## Describe the bug

When you create a new dialog in composer it **always** adds an empty `OnBeginDialog` trigger to the dialog. That's fine for 95% o

[2021-03-11 16:22] dfavretto commented on #5302
Hi @Batta32, thanks for the quick answer! I tried myself the sample 80.skills-simple-bot-to-bot and found that it **also has the same problem** when using Slack and communicating with a Skill. As you can see in this screenshot, Ngrok is receiving the `500 Internal Server Error` response:

![image](https://user-images.githubusercontent.com/23645105/110818675-3f005f80-826c-11eb-9213-fdd0741eb2ca.png

[2021-03-11 17:05] Stevenic opened #5306 "Remove un-needed/wanted turn.activityProcessed logic from AdaptiveDialog class"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version

4.12

## Describe the bug

AdaptiveDialogs are designed to have 2 basic modes of operation. The first is dispatch mode. If your dialog has no `OnBeginDialog

[2021-03-11 17:19] Stevenic opened #5307 "EmitEvent action is missing result property."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version

4.12

## Describe the bug

You can use the `EmitEvent` action to raise a custom event within your bot but there's no way of telling whether the event was ha

[2021-03-11 17:37] Batta32 commented on #5302
Thanks @dfavretto for validating that the issue happens using the sample [80.skills-simple-bot-to-bot](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot).

@mrivera-ms - after checking this, we believe that the problem is **not related** to the Virtual Assistant itself but **related** to the SDK. We think that the best approach is to be

[2021-03-11 18:59] tomlm commented on #5306
We had a powow and came to the following conclusion:

*   We should change the default Composer **OnBeginDialog** to have constraint of **\=turn.activityprocessed == true**
*   GUIDANCE/DOCS: If you are a **dispatch dialog** and calling BeginDialog because you are **routing an activity** to a dialog you need to use set the **BeginDialog.ActivityProcessed = false**

[2021-03-12 01:14] sgellock commented on #5225
@Stevenic can't we create a package, and use Expression.Functions.Add() to extend Adaptive Expressions to support your scenarios?  I'm really reluctant to go down this route.

[2021-03-12 04:32] mrivera-ms opened #5310 "First activity has fake replyToId value that is causing a bug in WebChat"
When the bot sends the very first activity in a conversation, it has a random string in `replyToId`. This value refers to a an activity that does not exist.

The WebChat team needs to have this value removed.

See the original issue in the WebChat repo: [WebChat Issue 3707](https://github.com/microsoft/BotFramework-WebChat/issues/3707)

[2021-03-12 15:06] feich-ms commented on #5310
I did some investigations today. The problem is straightforward. The first activity from bot to user is using conversation id as the ReplyToId since there is no activity from user to bot yet. The code piece is [here](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Schema/ActivityEx.cs#L515). The fix should be also straightforward, if the activity is the first one o

[2021-03-12 15:50] tracyboehrer opened #5311 "Provide ILogger to IBotPluginLoadContext"
This will use the ILogger configured by the app to allow IBotPlugin implementations to log.

[2021-03-12 17:33] dmvtech commented on #5291
Hi @PurnaChandraPanda I'm looking into this and will share my findings.

[2021-03-12 21:11] daveta commented on #5132
@mrivera-ms : Should we slot this to a future milestone?

[2021-03-12 21:13] daveta commented on #5101
@carlosscastro : Are there any updates here?

[2021-03-12 21:41] LeeParrishMSFT commented on #5302
@mrivera-ms Can we get this assigned to someone on the C# SDK team so that they can begin looking into it? I'd be happy to help out, but I have a few other issues I need to work at the moment. Thanks!

[2021-03-12 23:16] v-kydela commented on #5269
@sebnemars - Are you still working on this?

[2021-03-13 00:29] mrivera-ms commented on #5302
@LeeParrishMSFT, yes, we will take the next steps of the investigation.

[2021-03-13 00:44] daveta commented on #5132
@gabog is evaluating for future release..

[2021-03-15 06:29] sebnemars commented on #5269
@v-kydela , Thanks for the answer. We had used "QnA Intent recognized" trigger before. But in our QNA user journey, the bot continues to the flow by checking the Qna score then calls other KB or asks to user to rephrase the question. Is it possible to add a memory variable to "**QnAMakerDialog**" as you do in "QnA Intent recognized"?

[2021-03-15 15:45] mrivera-ms opened #5314 "Add Skills support for telephony scenarios"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6212)

- Channel commands should not be forwarded along to from skill to channel by default -->P0
- Application commands should be forwarded along to from skill to channel by default -->P0

[2021-03-15 18:10] carlosscastro commented on #5101
Yup, here is a minimal example: that shows language selection and storage in conversation state: https://github.com/microsoft/botbuilder-dotnet/blob/main/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/MultiLanguageGeneratorTests/SwitchLanguageConversation.test.dialog

Happy to provide help if anybody is trying this out, just tag me. In the next months we plan to move this further forward

[2021-03-15 18:10] #5101 closed

[2021-03-15 20:43] #5271 closed

[2021-03-16 05:55] Zerryth commented on #5301
Issue n/a to dotnet SDK -- behaves as expected.
See https://github.com/microsoft/botframework-sdk/issues/6146#issuecomment-799973979 for more details.

[2021-03-16 05:55] #5301 closed

[2021-03-16 07:12] cosmicshuai commented on #5007
Hi, @dmvtech, could you try reproduce this using the latest Composer client (1.3.1)? I was able to reproduce this error before.
I am trying to write a unit test for my fix PR. However, I can't reproduce it now. Could you help verify does this error still exists?

[2021-03-16 22:22] cwhitten opened #5316 "[Adaptive] ForEach should be able to traverse object keys"
## Version

4.12.x

## Describe the bug

At one point, Microsoft.Foreach used to accept iterable objects. This was removed, but provide quite a bit of utility and should come back.

## Expected behavior

I want to be able to provide Microsoft.ForEach an object as an import and traverse its keys and have access to the key and the value for additional computation.

[2021-03-16 23:48] v-kydela commented on #5269
@sebnemars - Sorry, that's not possible, but feel free to post that as a feature request. If you have any further questions, you can ask them on Stack Overflow and my team will see them. I will close this issue now.

[2021-03-16 23:48] #5269 closed

[2021-03-17 03:13] mrivera-ms commented on #5316
@boydc2014 to investigate.

[2021-03-17 03:17] mrivera-ms commented on #5305
@tomlm, @chrimc62, could you please comment on this item?

[2021-03-17 03:43] mrivera-ms commented on #4810
@JuanAr, this issue tracks the investigation in progress.

[2021-03-17 11:59] martinlarosa opened #5323 "When receiving a slack payload, the Activity's From.Id is the BotId instead of the user's Id"
## Version
4.12

## Describe the bug

I have a bot with adaptive dialogs created with Bot Framework Composer.
There's a ChoiceInput in the dialog.
I modified the slack adapter ActivityToSlack method to transform that to a Block Kit json so that the slack client can display it correctly and with buttons (planning on creating a PR to incorporate that to the adapter once everything is working)

Every

[2021-03-17 15:27] cwhitten opened #5324 "[Adaptive] Support data-binding for ChoiceInput synonyms"
Microsoft.ChoiceInput has a synonyms field that can not be dynamic. This prevents important scenarios around expressiveness and localization
[code]

Expectation:

Synonym properties should have capabilities to be dynamically bound

[2021-03-17 15:29] tracyboehrer opened #5325 "Runtime: In a Azure Functions project, the wrong constructor is selected via DI"
MemoryStorage in Runtime was being added via:

[code]

When running in a Azure Functions project, the incorrect constructor for MemoryStorage was being selected:

[code]
Except with a null 'jsonSerializer', causing it to throw.

This does not happen in a WebApp project.

[2021-03-17 19:49] mrivera-ms commented on #4157
@mdrichardson, could you please take a look at this? Also, please verify if it needs to be ported to the other languages.

[2021-03-17 20:22] EricDahlvang commented on #5226
added a line to release notes

[2021-03-17 20:22] #5226 closed

[2021-03-17 21:07] johnataylor opened #5327 "Inconsistent use of LogInformation and LogDebug"
Within the code we are inconsistent with our usage of LogInformation and LogDebug. We need a simple policy to decide which to use and when and then we need to apply that everywhere.

[2021-03-17 23:14] JonathanFingold commented on #5285
I think the broken logic is here: https://github.com/microsoft/botbuilder-dotnet/blob/82d0ad30d3943a5b72591f380086307aebc2c009/libraries/integration/Microsoft.Bot.Builder.Integration.Runtime/Extensions/ServiceCollectionExtensions.cs#L88-L94

[2021-03-17 23:49] boberg-ms opened #5328 "Sanitize potential PII in SetProperty Json Parse Exceptions"
When executing a SetProperty event, the author can specify json extraction from another property.  When this extraction fails due to json parse exception, the thrown exception message appears to contain the entire json content.  This content will likely be considered PII, so we have to manually sanitize it right now.  If the framework could sanitize the exception message and have a separate proper

[2021-03-18 01:53] #5255 closed

[2021-03-18 01:54] Danieladu commented on #5255
Close it. For the schema would check the validation of dialog file.

[2021-03-18 07:40] boydc2014 commented on #5316
Microsoft.Foreach doesn't support iterating on object, it was the built-in foreach function that support object. So re-label this as a feature request.

[2021-03-18 17:46] stevkan commented on #5323
@martinlarosa, I'm unable to repro the issue you are encountering. The `From.Id` property is showing as coming from the user and not the bot in my attempts. Can you share the code you are using that I can make an attempt with? Please include the modified Slack adapter you also reference.

[2021-03-18 19:26] martinlarosa commented on #5323
I was able to reproduce it with this sample code: https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/60.slack-adapter

No modification of the adapter.
Run de bot, send the slash command: /block
It will return a sample message with some restaurants and buttons at the end.
Put a breakpoint in OnMessageActivityAsync
Press one of the buttons for the restaurants, when t

[2021-03-18 20:02] johnataylor opened #5329 "DialogExtensions.RunAsync should add the telemetry client to the dialogset before it adds the dialog"
DialogExtensions.RunAsync should add the telemetry client to the dialogset before it adds the dialog

[2021-03-18 21:28] johnataylor opened #5330 "CoreBotAdapter is missing EoC logic (Root bot)"
CoreAdapterBot should include the End of Conversation handling demonstrated by sample 81
https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/81.skills-skilldialog

## Implementation notes
To implement this we need to have a way of knowing in the adapter.OnTurnError() if the root bot is talking to a skill (or many skills) and add logic to send EoC for the skills that

[2021-03-18 23:05] johnataylor opened #5331 "Adaptive runtime should make it easy to override the ConversationState"
There are a couple of scenarios where the developer might like to override the default ConversationState class with one of their own or as @EricDahlvang points out perhaps with something like TeamsConvesrationState.

Currently this is really hard, basically you'd have to replace the runtime. We should make this easy, so, for example, you can add a package that provides an alternative. There are a

[2021-03-18 23:09] johnataylor commented on #5331
Perhaps we could make this P2. This is something we could add later.

[2021-03-19 01:19] mrivera-ms commented on #5324
@boydc2014, could you please review this request and assign if applicable?

[2021-03-19 03:17] #5329 closed

[2021-03-22 15:28] #5257 closed

[2021-03-22 16:09] #4010 closed

[2021-03-22 18:35] tracyboehrer commented on #5331
@johnataylor Why wouldn't just 'services.AddService<ConversationState, MyConversationState>()' work?  It did for me.  What am I missing?

[2021-03-22 18:45] Stevenic opened #5333 "Circular package ref in 4.12 prevents you from being able to update from 4.11 packages"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version

4.12.2

## Describe the bug

I tried updating my projects packages from 4.11 to 4.12 but it fails because of a dependency error.  I tracked it down to the f

[2021-03-22 18:50] Stevenic commented on #5331
What you really want is a new "teams" memory scope. To do that you need to be able to update the list of memory scopes the state manager loads. Here's an example of doing that:

[code]

[2021-03-22 18:55] Stevenic commented on #5330
The problem @johnataylor is that you need to know if there are any active dialogs in order to automatically send an EoC activity.  That sample has an assumption that you're using our dialog system and AdapterCoreBot doesn't. Correct?

How do we know when to send EoC for core bot?

[2021-03-22 19:13] tomlm opened #5334 "schema:#/definitions/condition is treated the same as schema:#/definitions/booleanExpression"
## Describe the bug
**schema:#/definitions/condition** indicates that the default UX for the property should be the expression editor. NOTE: **It should NOT HAVE an equals.**

**schema:#/definitions/booleanExpression** indicates that the value could be a bool TRUE/FALSE or an expression which evaluates to that.

If you look in the schema you can see that **IfCondition** action the **condition** is

[2021-03-22 19:17] cwhitten commented on #5334
Transferred to botbuildet-dotnet.

@tomlm we believe this should be fixed in schema. From our understanding of the problem and a way to address it is to have `condition` stop defining it's interface as a oneOf for expression or boolean. Because the schema says it can be a boolean, the form provides the related selectable options (TRUE/FALSE).

[2021-03-22 19:30] tracyboehrer opened #5335 "CoreBotAdapter is missing EoC logic (Skill bot)"
We should check the adapter code in the runtime but it is important to note that we need additional logic to handle error that may happen in skills. If a bot is a skill consumer we should take a look at the error handling logic in AdapterWithErrorHandle. If the bot is running as a skill, then we should make sure we support the logic that is implemented in SkillAdapterWithErrorHandler

See https://

[2021-03-22 20:40] garypretty commented on #5298
Clearing the R13 milestone and adding @carlosscastro to the assignees.

[2021-03-23 01:35] #5254 closed

[2021-03-23 01:40] Danieladu opened #5337 "Builtin function "empty" throw exception when accept null as the parameter"
## Describe the bug
The doc of `empty` shows that if the parameter is null, it would return true. But an error would be given actually.
doc: https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#empty

## Expected behavior
Accept null as the valid input, and gives a `true` result

[2021-03-23 02:40] tsuwandy opened #5339 "Enable entity recognition in OrchestratorAdaptiveRecognizer when entity model is available"

[2021-03-23 03:30] mrivera-ms commented on #5330
@johnataylor is this still in scope for R13?

[2021-03-23 03:47] mrivera-ms commented on #5215
@Virtual-Josh, could you please add status to this issue?

[2021-03-23 03:48] mrivera-ms commented on #5212
@munozemilio, could you please update the status of this issue?

[2021-03-23 04:46] mrivera-ms commented on #3402
@chrimc62, is this on track for R13?

[2021-03-23 05:00] mrivera-ms commented on #5300
@anumoluharish, this is still an issue. We need to take another look.

[2021-03-23 05:03] mrivera-ms opened #5340 "Botbuilder-DotNet-Facebook-Functional-Tests fails consistently"
The pipeline fails in the Test stage. Please investigate.

[2021-03-23 05:05] mrivera-ms commented on #5284
@gabog, @msomanathan, is this still in scope for R13?

[2021-03-23 05:15] #2387 closed

[2021-03-23 05:29] mrivera-ms commented on #5212
Per offline conversation with @munozemilio, this will be completed in R13.

[2021-03-23 08:31] boydc2014 opened #5341 "Allow package prefixes in LG imports and handle templates naming conflicts"
This is a sub-ticket to #5298 which contains everything needed to enable package prefix on resource level.

This sub-ticket is to track the effort on LG side,
* support the package prefix in LG statement, like `[import](package.name#lg.name)`
* handle naming conflicts of LG templates, by giving an name\alias when importing, like `[import](package.name#lg.name) as foo`, this will allow calling the

[2021-03-23 13:27] tracyboehrer commented on #5335
This is probably the same as #5330

[2021-03-23 14:04] tracyboehrer commented on #5330
@Stevenic Via SkillConversationReferenceKey?

[2021-03-23 15:06] mrivera-ms commented on #5341
@boydc2014, per our conversation, this must be shipped in R13, therefore classifying as P0. Please change if not appropriate.

[2021-03-23 15:12] mrivera-ms commented on #5314
Discussed with @gabog , this is in scope for R13.

[2021-03-23 15:13] mrivera-ms commented on #5253
Per discussion with @gabog, this is to be moved to R14.

[2021-03-23 15:16] mrivera-ms commented on #5130
Per discussion with @gabog, this is not for R13.

[2021-03-23 15:17] mrivera-ms commented on #4802
Per discussion with @gabog, this is out of scope for R13.

[2021-03-23 15:18] mrivera-ms commented on #4807
Per discussion with @gabog, this is not in scope for R13.

[2021-03-23 15:23] mrivera-ms commented on #5330
Discussed with @gabog, this is not going to be delivered in R13.

[2021-03-23 15:29] mrivera-ms commented on #4924
@JonathanFingold, is this item complete? Please update status. Thank you.

[2021-03-23 16:24] johnataylor commented on #5283
merged

[2021-03-23 16:24] #5283 closed

[2021-03-23 16:40] johnataylor commented on #5335
Yes it think this is the same issue. Closing for now at least.

[2021-03-23 16:43] #5300 closed

[2021-03-23 16:44] anumoluharish commented on #5300
Pipeline was working as expected from last few days.

![image](https://user-images.githubusercontent.com/77343388/112184369-262d6d80-8bcd-11eb-89c4-25c8759def90.png)

[2021-03-23 17:08] Virtual-Josh commented on #5215
Sorry for the slow reply, I didn't see this was assigned to me. This is actually a non-issue. The ICM linked above was for a depreciated repo.

[2021-03-23 17:08] #5215 closed

[2021-03-23 17:49] carlosscastro commented on #5291
@dmvtech any updates on this?

[2021-03-23 17:53] johnataylor opened #5344 "In the adaptive runtime the memory scopes should be setup by bot to avoid the need for the adapter to do it"
This is not good:

https://github.com/microsoft/botbuilder-dotnet/blob/122126d53eec9f4104c7f7d4332c6639f26553c3/libraries/integration/Microsoft.Bot.Builder.Integration.Runtime/CoreBotAdapter.cs#L45

but presumably needed by LoadSettings in the SettingsMemoryScope

the better solution is to have the bot rather than the adapter read the IConfiguration create the SettingsMemoryScope and put it on the

[2021-03-23 17:55] johnataylor opened #5345 "adaptive runtime adds adapter three times to services collection"
it should add it once

[2021-03-23 17:57] johnataylor opened #5346 "adaptive runtime should use CloudAdapter and not rely on CredentialProvider and ChannelProvider"

[2021-03-23 18:05] tracyboehrer commented on #5335
@johnataylor We kept it as two issues.  One for EoC for a skill (this issue), and the other for the root bot (which we don't have an answer for right now).

[2021-03-23 18:50] EricDahlvang commented on #5333
I think this is a composer runtime issue, and would be fixed with:
https://github.com/microsoft/BotFramework-Composer/pull/6506/

[2021-03-23 20:50] johnataylor commented on #5335
It might make things simpler if we moved some of the error handling logic into the bot implementation and out of the adapter. The adapter's error handler is really the error hander of last resort.

We need to be careful about the logic that goes into the adapter because the root adapter could be a custom adapter. We want scenarios to work with custom adapters.

The distinguishing factor between a

[2021-03-23 21:25] msomanathan commented on #5284
@mrivera-ms, it looks like composer needs the functionality of HealthCheck activity. So, we are trying to identify whether we need to keep this, but make modifications to the information it contains.

[2021-03-23 23:17] johnataylor commented on #5330
See comments in linked issue.

[2021-03-23 23:18] johnataylor commented on #5330
Perhaps we should be moving error handling like this into the bot and not attempt to do it in the adapter global OnError

[2021-03-24 00:16] dmvtech commented on #5291
Hi @PurnaChandraPanda I'm not quite getting the same results as you. Can you tell me what the full utterance is that you are using?

[2021-03-24 15:04] PurnaChandraPanda commented on #5291
Hi @dmvtech

Here is the utterance
[code]

Thanks!

[2021-03-24 16:13] #5282 closed

[2021-03-24 17:53] EricDahlvang opened #5349 "Enable more easily debugging streaming exceptions"
Currently, the Streaming Request Handler catches exceptions and does not return enough information to enable developers to easily debug issues.

- enable providing a custom StreamingRequestHandler implementation
- provide more information for exceptions which occur while processing streamed activities

[2021-03-24 19:17] munozemilio commented on #5212
@mrivera-ms could you please provide guidance on how to see the warnings?

[2021-03-24 19:40] #5266 closed

[2021-03-24 20:04] mrivera-ms commented on #5229
Per @johnataylor, this is not needed in R13.

[2021-03-24 20:07] mrivera-ms commented on #5212
This can stay how it is while it is a preview package.

[2021-03-24 20:14] #5349 closed

[2021-03-24 22:24] mrivera-ms commented on #3402
@chrimc62, I believe this is not longer in scope for R13. I am pushing it out of the milestone.

[2021-03-24 23:49] #5339 closed

[2021-03-25 01:25] boydc2014 opened #5354 "Adopt component detection in CI pipeline"
SDK repo should adopt the "component detection" to detect high risk dependencies. Like Composer does https://github.com/microsoft/BotFramework-Composer/pull/6547/checks?check_run_id=2188768283.

This will help SDK catch high-risk dependencies earlier and help prevent shipping it to customers including Composer.

[2021-03-25 04:57] #5331 closed

[2021-03-25 05:22] #5102 closed

[2021-03-25 05:48] boydc2014 opened #5356 "Microsoft Security Advisory CVE-2021-26701"
## Version
4.12.2

## Describe the bug
SDK libraries have a transient dependency to System.Text.Encodings.Web which has security issues. See more information at https://github.com/dotnet/runtime/issues/49377#affected-software.

See also the composer CI pipeline security check result, https://fuselabs.visualstudio.com/Composer/_build/results?buildId=226979&view=logs&j=4b2e88cf-7f41-52d9-bc09-6abcb4

[2021-03-25 08:18] #5346 closed

[2021-03-25 08:20] johnataylor commented on #5335
See preview comment. Add error handling logic to the bot.

[2021-03-25 08:23] johnataylor commented on #5335
Incidentally error handling logic should not reference global constants that are specific to a particular cloud environment such as public Azure.

[2021-03-25 08:24] johnataylor commented on #5345
fixed

[2021-03-25 08:24] #5345 closed

[2021-03-25 08:25] johnataylor commented on #5344
The fix here is waiting on @carlosscastro checkin to generically add memory scopes to the TurnState

[2021-03-25 08:31] johnataylor opened #5357 "Bot class should add callback function to TurnState"
Currently the BotFrameworkAdapter (and the equivalent CloudAdapter) add the callback function to the TurnState.

While there may be alternative ways to factor the application logic, this behavior is established in V4. For wider compatibility with custom adapters, application logic that makes use of this it would be better served if the bot class added its OnTurn function to the TurnState itself.

[2021-03-25 08:33] johnataylor opened #5358 "Adapter should be added to runtime with TryAddSingleton to allow easy overriding"
Adapter should be added to runtime with TryAddSingleton to allow easy overriding

[2021-03-25 08:35] johnataylor opened #5359 "Storage should be added to runtime with TryAddSingleton calls to allow easy overriding"
This is a small change because the code is already there in a test function, it is a matter of the main code path using that logic.

[2021-03-25 13:35] tracyboehrer commented on #5335
@johnataylor Well the CoreBotAdapter is always created.  Are you proposing we apply the error handler to all adapters created, even custom ones?

[2021-03-25 14:03] tracyboehrer commented on #5335
@Nevermind.  I see your comment in the Teams thread about adding to the bot.

[2021-03-25 15:44] garypretty opened #5360 "Send Handoff Activity adaptive action errors due to missing converters"
## Version
4.12

## Describe the bug
The SendHandoffActivity adaptive action does not correctly load the values entered into it's properties within Composer due to missing ObjectExpressionConverters for type object and Transcript

[2021-03-25 16:03] #5360 closed

[2021-03-25 17:36] johnataylor opened #5363 "adaptive runtime fails to add ShowTypingMiddleware and NormalizeMentionsMiddleware to adapter"
The code adds these as their own type to the services collection. However, the adapter looks for IMiddleware. The fix is simple:

[code]

alternatively move these into the adapter subclass and explicitly add them.

[2021-03-25 18:10] #5363 closed

[2021-03-25 18:43] #5356 closed

[2021-03-25 18:46] #5284 closed

[2021-03-25 19:01] #5281 closed

[2021-03-25 19:09] #5280 closed

[2021-03-25 20:12] #4888 closed

[2021-03-25 23:01] carlosscastro commented on #5302
@mrivera-ms could you recommend to whom to assign? Thanks!

[2021-03-25 23:59] #5357 closed

[2021-03-26 02:31] gabog opened #5372 "Runtime package doesn't render icon"
The runtime package doesn't seem to render the right icon:

![image](https://user-images.githubusercontent.com/12264946/111338775-94ae8080-864d-11eb-890e-2a80d8a24f3c.png)

[2021-03-26 05:06] #5344 closed

[2021-03-26 09:46] sibbl opened #5373 "Inconsistent documentation for creating proactive message TurnContext"
## Version
4.12.1

## Describe the bug

I want to send a proactive message and create a `TurnContext` in my own bot adapter.
The documentation for the `TurnContext` constructor says:

[code]

A few lines below, the constructor also uses

[code]

Link to code: https://github.com/microsoft/botbuilder-dotnet/blob/6f00f664ed41a85701eb67828d2eb7f257db0731/libraries/Microsoft.Bot.Builder/TurnContext.cs#

[2021-03-26 14:00] tracyboehrer commented on #5325
Fixed by https://github.com/microsoft/botbuilder-dotnet/pull/5351

[2021-03-26 14:00] #5325 closed

[2021-03-26 16:30] #5314 closed

[2021-03-26 16:35] #4157 closed

[2021-03-26 18:21] johnataylor opened #5376 "Bot framework component should be updated to depend on the new ChannelServiceHandlerBase"
This should be ChannelServiceHandlerBase...

https://github.com/microsoft/botframework-components/blob/a16e7fe13d11369348ca45befa6920e9ac87fc25/generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/Controllers/SkillController.cs#L22

[2021-03-26 18:22] johnataylor commented on #5376
note the code that needs updating is actually in the botframework-components repo

[2021-03-26 20:31] #5359 closed

[2021-03-26 20:31] #5358 closed

[2021-03-26 20:31] johnataylor commented on #5376
fixed

[2021-03-26 20:31] #5376 closed

[2021-03-26 20:34] tsuwandy opened #5378 "Rename OrchestratorAdaptiveRecognizer to OrchestratorRecognizer"
We removed OrchestratorRecognizer class (IRecognizer-based, which is deprecated).  Since we are not GA yet, we'll rename OrchestratorAdaptiveRecognizer to OrchestratorRecognizer.

[2021-03-26 20:50] tsuwandy opened #5380 "Update OrchestratorAdaptiveRecognizer to OrchestratorRecognizer"
Since we have only 1 Orchestrator recognizer now, we'll adopt the shorter name.

[2021-03-26 20:58] tsuwandy commented on #5380
Dupe of #5378

[2021-03-26 20:58] #5380 closed

[2021-03-26 23:16] #5378 closed

[2021-03-29 19:43] stevkan commented on #5373
It appears that the documentation in the code is incorrect. A non-null activity is a required parameter. However, simply implementing shouldn't have an impact. The `/api/notify` endpoint should only pass an activity to the bot when an appropriately formed activity is received from the sender. It shouldn't send one, otherwise. As such, you can specify the kind of activity that is sent (and what's i

[2021-03-29 23:25] Stevenic opened #5388 "Adaptive Expressions: empty() returns false if property is missing off object"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version

4.12.1

## Describe the bug

The `empty()` function is returning false for `empty(turn.activity.text)` for activities with a missing "text" field. Missing f

[2021-03-30 03:14] Danieladu commented on #5337
Close it. For it is duplicated with #5337

[2021-03-30 03:14] Danieladu commented on #5388
Close it. For it is duplicated with #5337

[2021-03-30 03:14] #5388 closed

[2021-03-30 03:21] #5337 closed

[2021-03-30 03:40] coldplaying42 opened #5390 "quoted text recognizer for SDK"
Quoted text is used to mention another title of the work in utterances.
_such as a chapter or an episode: "Doctor K" is the eleventh episode of Power Rangers RPM._
It is very useful to recognize quotes as entities in language recognition scenarios. For example:
_change the meeting title to "getting help"_
"getting help" should be recognized as the title but not a request for help.

It is great to

[2021-03-30 11:09] sudoaccessdenied opened #5391 "Getting 'Something went wrong, please try again later.' error message after submit in `personal` scope of message extention action preview."
## Version
What package version of the SDK are you using.
4.12.2
## Describe the bug
I am getting `Something went wrong, please try again later.` Error while using message extension  action preview in personal scope.

## To Reproduce
Steps to reproduce the behavior:
1. Use the bot builder sample to produce it  [53.teams-messaging-extensions-action-preview](https://github.com/microsoft/BotBuilder-S

[2021-03-30 15:08] #5341 closed

[2021-03-30 15:12] mrivera-ms commented on #4924
@JonathanFingold, please update status. Thank you.

[2021-03-30 17:24] cleemullins opened #5392 "Update Skills Test Matrix to use Cloud Adapater"
The Skills Test Matrix runs automated skills tests.

The C# Bots that are part of this automation need to be updated to use Cloud Adapater.

[2021-03-30 18:00] stevkan commented on #5323
@martinlarosa, thank you for your patience. I'm still unable to repro the issue. I'm going to reach out to a colleague to see if they see the same or not.

Regarding the PR, it will be reviewed for consideration.

[2021-03-31 00:01] v-kydela commented on #5391
Thank you for the report, @sudoaccessdenied

It looks like the Teams client is throwing an error in your browser. This is almost certainly unrelated to the Bot Builder .NET SDK and should be reported to Teams instead. However, I can still try to reproduce the problem if you clarify the repro steps for me.

In step 2 you say to run the bot and in step 3 you say to install the manifest, but are you

[2021-03-31 06:04] sudoaccessdenied commented on #5391
@v-kydela Yes I am running the bot locally usign ngrok and following the instruction in readme.

[2021-03-31 15:19] gabog opened #5395 "Runtime doesn't load appsettings.development.json"
If I add an appsetings.Development.json file to my composer bot project the runtime doesn't read the file.

![image](https://user-images.githubusercontent.com/12264946/113166852-27841900-9211-11eb-98df-2e01a379153d.png)

From looking at [ConfigurationBuilderExtensions](https://github.com/gabogorg/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime/Extensions/Config

[2021-03-31 15:48] carlosscastro opened #5396 "ComponentRegistration: Remove calls to ComponentRegistration.Add on tests"
This can be achieved by modifying `TestScript` and `TestAdapter` to play nice with the new `BotComponent` model.

[2021-03-31 16:43] stevkan commented on #5323
I was finally able to reproduce the issue you are seeing. Since the contained "message" is usually the focus, I can see why the logic's preference is to take the bot's Id to be applied to the `From` property. However, I believe you are correct that it should favor the user clicking the button vs. the originator of the message (in this case, the bot).

As I mentioned, the PR will be reviewed. At th

[2021-03-31 18:03] lauren-mills opened #5401 "Skill Dialog does not reprompt properly after being interrupted by another Skill Dialog"
## Version
4.12.1

## Describe the bug
Give a clear and concise description of what the bug is.

I have a bot in composer with two skills connected. When I interrupt Skill A in a waiting state with Skill B, I expect Skill A to reprompt once Skill B completes, but it does not. The next message is taken as a response to Skill A's waiting dialog, so it seems like an issue with the reprompting mechani

[2021-03-31 18:10] martinlarosa commented on #5323
Thank you, let me know if I can be of any help.

[2021-03-31 18:13] msomanathan commented on #5323
@mrivera-ms Could you please take a look at this issue and let us know how to take the PR forward.

[2021-04-01 04:46] johnataylor opened #5402 "Unit tests for AdaptiveDialogBot should be extended to include optional parameters"
Unit tests for AdaptiveDialogBot should be extended to include optional parameters

[2021-04-01 08:36] garypretty opened #5403 "SetSpeakMiddleware - lang argument should be removed"
The SetSpeakMiddleware in the current runtime had the implementation updated to remove the lang argument and the SetSpeakMiddleware in the SDK, which is used by the adaptive runtime, needs to be updated to align with this change.  Lang will now be driven by the locale on the outgoing activity.

Current runtime implementation https://github.com/microsoft/BotFramework-Composer/blob/ea04f990e0b675b8c

[2021-04-01 11:13] martinlarosa opened #5406 "Translate HeroCards to Block Kit"
If my bot uses a Hero Card to send a message, the slack adapter somehow renders that into an image in the backend and then sends it as an image to the user. That solution is not good since you can't copy text from there, click any link or a button. Even worse, those images are of course stored for a certain amount of time in Azure, so if you come back to that point in time of the conversation some

[2021-04-01 11:16] #5403 closed

[2021-04-01 13:53] tracyboehrer commented on #5311
Closing.  Was decided this can't be done, at least in without some hackery in Azure Functions.  The logger isn't ready to use during the plugin configuration.

[2021-04-01 13:53] #5311 closed

[2021-04-01 15:36] johnataylor opened #5409 "DialogManager property on DialogContext should be marked as obsolete"
DialogManager property on DialogContext should be marked as obsolete as it is not useful.

[2021-04-01 15:41] johnataylor opened #5411 "AdaptiveDialogBot and ConfigurationAdaptiveDialogBot should expose LanguagePolicy as a class"
AdaptiveDialogBot and ConfigurationAdaptiveDialogBot currently only expose LanguagePolicy as a string that is given internally to the constructor of the LanguagePolicy class. This should be made more flexible such that the whole LanguagePolicy object can be passed in.

This would allow external packages to replace the default LanaguagePolicy implementation with their own.

[2021-04-01 18:23] #5409 closed

[2021-04-01 18:30] johnataylor opened #5412 "DialogStateManager needs a design such that the save is optimized potentially by doing it in parallel"

[2021-04-01 18:33] johnataylor opened #5413 "AdaptiveDialogBot should load the AdaptiveDialog resources in the constructor"

[2021-04-01 19:11] johnataylor commented on #5413
technically it should load the resource on the first turn and not in the constructor

[2021-04-01 19:39] #5413 closed

[2021-04-01 20:35] cleemullins opened #5415 "Profile Adaptive Dialog Stack"
We need to run a profiler over the Adaptive stack for common scenarios.

This tracking issue is to identify key hotspots and fix any low-hanging fruit. Larger areas identified should be separately identified.

[2021-04-01 21:13] johnataylor commented on #5412
It turns out the DialogStateManager does all the saves before the saves in the bot.
It does these via saving the memoryscopes, it does not attempt to do them in parallel. And it is not clear exactly how concurrency can be introduced here.

[2021-04-01 21:37] #5411 closed

[2021-04-01 21:47] clearab opened #5417 "Update KeyVault dependency"
It looks like the package we're using has been split, and is no longer being maintained. This package also creates an annoying build warning. Can we update to whichever of the 3 new packages that replaces this one, and make the build warning go away?

https://www.nuget.org/packages/Microsoft.Azure.KeyVault.Core

[2021-04-02 19:39] thomas-chung opened #5423 ""The reader's MaxDepth of 32 has been exceeded" on nested dialogs when calling skills in EA template"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.13-rc1

## Describe the bug
When calling a skill with nesting dialogs, under certain circumstance the skill would return the following error:

"Operation r

[2021-04-02 21:32] Stevenic opened #5424 "HttpRequest action should save results to "turn.results" by default"
The `HttpRequest` action currently requires developers enter the name of the property where they want any results of the request saved to. In most cases developers are going to chose something like "dialog.results" which can be problematic because you can end up accidentally persisting the results to cosmos db and these results could include PII.

I would propose that we update the schema for Http

[2021-04-02 22:23] #5395 closed

[2021-04-02 22:29] v-kydela commented on #5391
@sudoaccessdenied - All right, I can reproduce the problem. Despite the instructions in the readme, it looks like this sample is only supposed to work in a team channel and cannot be installed for a user.

@EricDahlvang
@johnataylor

Can you comment on whether this sample is meant to work in the personal scope?

[2021-04-02 22:39] EricDahlvang commented on #5391
@v-kydela Please try installing the bot in a Team scope, then see if this functionality works from a personal scope.

[2021-04-02 22:42] EricDahlvang commented on #5391
Actually, the sample does not have the personal scope in the manifest:

[code]

[2021-04-02 22:43] v-kydela commented on #5391
@EricDahlvang - Okay, I tried that now. The behavior is the same when attempting to install in personal scope regardless of whether or not the app is already instead in a team scope.

Team scope:

1. Install app
2. The app is installed, and can now be accessed in a team channel

Personal scope:

1. Start to install the app
2. A task module is immediately opened
3. The task module cannot be complet

[2021-04-02 22:44] v-kydela commented on #5391
@EricDahlvang - Is the personal scope meant to be absent from the app manifest? What needs to be fixed here?

[2021-04-04 19:23] sudoaccessdenied commented on #5391
@EricDahlvang @v-kydela  Scenario is that I created  bot that have personal , groupchat and team scope Because I am sending welcome message from bot to the user who installed the bot. The application works fine for groupchat and team scope. But I am getting error in personal scope as you can see in the screenshot. So I am unable to submit my bot in app source as it is throwing error.

[2021-04-04 19:24] sudoaccessdenied commented on #5391
@EricDahlvang @v-kydela  Just add `personal` scope the the manifest and see the error.

[2021-04-05 04:08] clearab commented on #5391
The "scope" is the types of conversations your bot can send messages to. In this case, I believe you're trying to send the message to a 1:1 chat between two users (not a 1:1 chat between the user and your bot). If this is the case, you'll actually need the `groupchat` scope. The bot would also need to be installed in that context (or you'd need to use the just-in-time-install option).
@Wajeed-msft

[2021-04-05 06:44] sudoaccessdenied commented on #5391
@clearab I am also using personal(user-bot) scope to send welcome message to the user who installed the app.

[2021-04-05 06:52] Wajeed-msft commented on #5391
@sudoaccessdenied - Are you getting any exception in your C# backend code?

[2021-04-05 06:54] sudoaccessdenied commented on #5391
@Wajeed-msft  No I am not getting any exception in the code but in the teams as you can seen in the screenshot.

[2021-04-05 09:04] Wajeed-msft commented on #5391
@sudoaccessdenied - This looks like Teams specific issue, I have copied this one to Teams repo for tracking.

https://github.com/MicrosoftDocs/msteams-docs/issues/3043

@clearab - Could you please help to close this one?

[2021-04-05 18:25] peterinnesmsft commented on #5302
@mrivera-ms is there any update on further investigation here?

[2021-04-05 19:34] peterinnesmsft commented on #5285
@gabog to review requirements for R14.

[2021-04-06 00:47] #5401 closed

[2021-04-06 12:38] denscollo commented on #5302
Hi, @peterinnesmsft,
We are currently working on this issue, so far we noticed that the ServiceUrl was missing in the activity interpreted from the slack's event and adding this url, the messages from the skill to the host are getting a 200 answer. However we are still having an error when the host tries to redirect the message to slack.
We'll keep you updated with the progress.

[2021-04-06 15:34] clearab commented on #5391
Thanks @Wajeed-msft for jumping in on this!

[2021-04-06 15:34] #5391 closed

[2021-04-06 15:57] clearab opened #5428 "Publish Adaptive.Teams package with correct tags"
This package needs to be republished with the new tags so that it is available in Package Manager in Composer.

Should be tagged:

- msbot-component
- msbot-action
- msbot-trigger

[2021-04-06 16:02] carlosscastro commented on #5428
I think this is already correct: https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Teams/Microsoft.Bot.Builder.Dialogs.Adaptive.Teams.csproj#L18

[2021-04-06 16:06] carlosscastro commented on #5428
Csproj not reflected in nuget: https://www.nuget.org/packages/Microsoft.Bot.Builder.Dialogs.Adaptive.Teams/4.12.2-preview

[2021-04-06 16:09] carlosscastro commented on #5428
Reflected here correctly: https://botbuilder.myget.org/feed/botbuilder-v4-dotnet-daily/package/nuget/Microsoft.Bot.Builder.Dialogs.Adaptive.Teams/4.13.0-rc3.preview

[2021-04-06 16:09] #5428 closed

[2021-04-06 16:42] clearab opened #5430 "Adaptive.Teams package doesn't contain uischema"
This package doesn't seem to contain any uischema to organize the actions / triggers it adds, so they are getting dropped into the default "Custom Actions" / "Action Triggers" sections.

I think we have two options:
- Single "Teams" menu
- Break it down to
  - Teams - Get Info
  - Teams - Messages
  - Messaging Extension
  - Task Modules & Tabs

[2021-04-06 18:26] johnataylor opened #5431 "DialogManager fails to add DialogStateManagerConfiguration to DialogStateManager"
The consolidated implementation of the Dialog execution loop fails to add the DialogStateManagerConfiguration instance assigned  to the StateConfiguration property to the DialogStateManager it creates internally.

This is a regression. This implies there was also a gap in the unit tests. There are no references to this property in any of the test code.

[2021-04-06 19:00] johnataylor opened #5432 "TurnMemoryScope should set includeSnapshot to false"
TurnMemoryScope should set includeSnapshot to false

[2021-04-06 19:16] Stevenic opened #5433 "HttpRequest should default returning its result to "turn.results""
We want to encourage developers to not persist HttpRequest results to dialog state. Doing so not only bloats your bots state but also results in you potentially persisting PII which is bad.  To address this we just want to change the default property where the requests results are stored to "turn.results".  This will prevent any persistence of the results past the end of the turn unless developers

[2021-04-06 19:20] Stevenic opened #5434 "OAuthInput should return the retrieved token to "turn.token" by default"
We're seeing a lot of developers persisting their OAuth tokens to user & conversation state which does not follow our best practice approach of working with the OAuthInput.  The best practice is to call the OAuthInput immediately before making a graph or api request and then throw the token away at the end of the turn. To help encourage proper use of the OAuthInput we want to update the default pr

[2021-04-06 19:25] jayman-dalal opened #5435 "Update to latest System.Text.Encodings.Web due to CVE-2021-26701 for Microsoft.Bot.Builder.Integration.AspNet.Core v4.12.2"
Microsoft.Bot.Builder.Integration.AspNet.Core v4.12.2 is dependent on System.Text.Encodings.Web which has https://msrc.microsoft.com/update-guide/en-US/vulnerability/CVE-2021-26701. Requirement is to upgrade to version System.Text.Encodings.Web - 4.5.1,4.7.2,5.0.1. Can you please provide an ETA for it?

[2021-04-06 20:46] gabog opened #5438 "ConfigurationBuilderExtensions.AddBotRuntimeConfiguration() is not compatible with azure functions"
ConfigurationBuilderExtensions.AddBotRuntimeConfiguration() takes an instance of HostBuilderContext in order to access the environmentname and be able to load appsettings.[EnvironmentName].json.

HostBuilderContext is not supported in azure functions

[2021-04-06 22:13] #5434 closed

[2021-04-06 22:42] #5433 closed

[2021-04-06 22:49] #5431 closed

[2021-04-06 22:50] #5432 closed

[2021-04-06 22:51] sgellock commented on #5423
@thomas-chung, I'm assigning this back to you.  close it out if you feel you have a solution on your side.  unless of course you think it's an SDK issue, then we'll pick it up again.

[2021-04-06 22:55] #5438 closed

[2021-04-06 23:56] Stevenic commented on #5424
Fixed by #5433

[2021-04-06 23:56] #5424 closed

[2021-04-06 23:58] Stevenic commented on #5430
Less is more so personally I'd create a "Microsoft Teams" menu that contains everything teams... If anything, add sub menus under the "Microsoft Teams" menu.

[2021-04-07 00:06] Stevenic commented on #5415
This should be done against both C# and JS as the perf issues will likely be different for both. From my experience I see we spend the bulk of our time in Antlr for C# due to all of the expression parsing we do.

[2021-04-07 00:06] Stevenic commented on #5415
Seems like we may not be caching as much as we can

[2021-04-07 01:54] Stevenic commented on #5198
I'm planning to package this up as a community package for //BUILD

[2021-04-07 06:10] Danieladu commented on #4773
@microsoft/bf-adaptive any thoughts about this one?

[2021-04-07 08:22] clearab commented on #5430
If submenus are possible, combing the above into:

- Microsoft Teams
  - Send messages
  - Messaging Extensions
  - Task Modules & Tabs
  - Get Teams Info

[2021-04-07 17:08] thomas-chung commented on #5423
Closing for now given the solutions we have on our side.

[2021-04-07 17:08] #5423 closed

[2021-04-07 18:06] peterinnesmsft commented on #5435
@mrivera-ms this appears to be a high-impact security vulnerability. We probably ought to get this in for R13 release due to its nature. Can you take a pass and evaluate what is required to address?

[2021-04-07 18:20] clearab opened #5448 "Move Teams adaptive library to -components repo"
We need to migrate the dialog.adaptive.teams library/package to the -components repo, change the namespace to Bot.Builder.Components.Teams and publish from the new place. And all the cleanup that comes along with that.

[2021-04-07 23:06] EricDahlvang opened #5451 "AsCommandActivity and AsCommandResultActivity methods should be available on the activity object"
These methods exist on Activity for the other interface types.

[2021-04-08 00:53] johnataylor opened #5453 "SchemaMergeTest (350) all fail on new installation"
There appears to be something broken with the SchemaMergeTest failing. New machine, new installation of Visual Studio, new enlistment, new build and from the top test run and all the SchemaMergeTest (350) report failure.

Is there some missing dependency?

[2021-04-08 03:44] tomlm opened #5454 "test"
test

[2021-04-08 03:46] #5454 closed

[2021-04-08 14:12] garypretty opened #5455 "Adaptive Runtime Application Insights needs to use Connection String instead of Instrumentation Key"
We have a customer who were experiencing some dropped events from their bot runtime to Application Insights.  After investigation and the MS account team engaging with the App Insights, apparently this can happen if you are using the InstrumentationKey and not the Connection String, which the bot runtime currently does.

The new Adaptive Runtime should be updated to use the Connection String and,

[2021-04-08 14:55] dmvtech commented on #5291
@PurnaChandraPanda

So, there are two aspects to this.

First of all, the utterance 'between the hour' doesn't really fit in a proper English vernacular. Something like 'between the hours of 2 to 3', 'an hour' or 'that hour' are.

Testing the following utterances using the [Timex sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/40.timex-resolution), I deb

[2021-04-08 15:03] PurnaChandraPanda commented on #5291
@dmvtech : I agree to your point. But, my users can file in such message. So, I would have to find a way to prepare for it.

On C# end, I have the luis option set to read as instance data.

[code]

Would things differ if reading datetimev2 results as instance data on client ent??

[2021-04-08 16:34] cwhitten commented on #5324
@mrivera-ms why can't someone from the core SDK team address this?

[2021-04-08 16:49] mrivera-ms commented on #5435
@jayman-dalal , @peterinnesmsft, this was addressed here: [PR 5355](https://github.com/microsoft/botbuilder-dotnet/pull/5355). This change will be included in our R13 release, and it is currently included in our release candidate builds.

[2021-04-08 16:49] #5435 closed

[2021-04-08 16:59] stevkan commented on #5373
Closing due to inactivity.

[2021-04-08 16:59] #5373 closed

[2021-04-08 18:25] peterinnesmsft commented on #5291
@dmvtech is this issue with the SDK code or due to an error on the LUIS API side? That will help us determine where we need to route this issue. Thanks!

[2021-04-08 18:33] joshgummersall opened #5459 "Lint PRs"
Perform some validation on PRs, ensuring that they include a linked issue.

[2021-04-08 18:53] #5459 closed

[2021-04-08 20:19] ceciliaavila opened #5460 "[OAuthCard] TokenExchangeResource property is missing JsonProperty attribute name"
## Describe the bug
When a .NET skill bot sends an OAuthCard to a JS host bot, the card is not deserialized properly because the [TokenExchangeResource](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Schema/OAuthCard.cs#L57) property is received in uppercase.
The property is missing the _JsonProperty name_ that the other properties have.

## Expected behavior
All

[2021-04-09 05:13] boydc2014 commented on #5324
Talked with @cwhitten, and clarified that this is supported.

[2021-04-09 06:29] #5324 closed

[2021-04-09 17:54] johnataylor commented on #5460
@swagatmishra2007 @Jeffders @carlosscastro can you comment? thanks

[2021-04-09 18:42] johnataylor commented on #5460
@ceciliaavila thanks for find (and fixing) this, can you be specific about what is broken here, as we'd like to understand the impact and whether we need to include it in R13.

Are the following statements true?

- if I have a C# parent bot using a C# skill then everything is fine
- if I have a C# parent bot using a JS skill then everything is also fine
- if I have a JS parent with a JS skill then

[2021-04-09 19:01] ceciliaavila commented on #5460
Hi @johnataylor, those statements are true, we have the issue only when the parent is a JS bot and the skill is a C# bot.
In the SSO scenario, when the parent intercepts the OAuth card sent by the skill to exchange the token, it breaks due to a property in uppercase.

[2021-04-09 19:18] #5455 closed

[2021-04-09 20:30] #5448 closed

[2021-04-12 08:53] QaisAlkhateeb opened #5469 "Dialogs.Debugging.SourceMap: SourceMap is taking too much memory when chatbot loading"
I'm using Composer Runtime in one of the bots I working on, the bot have multiple service and we have multiple dialogs (50 dialogs) to handle these services. when bot it loading it consuming too much memory, after investigation I found that SourceMap is consuming most of the memory and below simple explanation to what I did:

I tried to load the Bot without doing any change on SourceMap and here i

[2021-04-12 17:30] #5460 closed

[2021-04-12 19:19] #5451 closed

[2021-04-12 20:42] martinlarosa opened #5467 "TeamsActivityHandler: 429 too many requests when adding an AD group to a team"
When using this TeamsActivityHandler and then adding an Active Directory group to a Team where the bot is after around 75 calls to this line, it receives a 429 and then the bot throws an exception.

https://github.com/microsoft/botbuilder-dotnet/blob/fbb4eb8b98ccce17ebcfc8e061237def33a68305/libraries/Microsoft.Bot.Builder/Teams/TeamsActivityHandler.cs#L516

Ideally I would like to not have an exce

[2021-04-12 22:21] kaerm opened #5468 "Auth flow support for adaptive cards (1.4)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6255)

[2021-04-13 17:14] martinlarosa commented on #5467
My workaround since I don't need to know anything about the new members (for now) except that my bot is one of them: Override `OnTeamsMembersAddedDispatchAsync` instead of `OnTeamsMembersAddedAsync` and do:
[code]

[2021-04-13 18:13] p-nagpal opened #5470 "Telephony Channel: NullReferenceException with empty activity received by the bot"
## Version
4.11

## Describe the bug
An echo bot built with Composer 1.3.* and with Telephony Channel enabled drops messages every so often. App Insights shows that the bot fails the following the exception for the missing messages:

System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Bot.Builder.Streaming.StreamingRequestHandler.ProcessRequestAsync

[2021-04-13 18:26] clearab commented on #5467
@Wajeed-msft  can you take a look at this one? It seems like maybe the add AAD Group path to a team is not resulting in a fully hydrated Teams Channel Account object being sent to the bot (which is what is triggering the second call to retrieve the full set of user info).

[2021-04-13 18:28] clearab commented on #5467
@martinlarosa are you seeing calls to this line when you manually add a single user through the Teams client?

[2021-04-13 21:21] chrimc62 commented on #5202
Big rocks agreed to rename it to TestingMiddleware in order to have a place to put testing stuff and treat it in the same way we do inspection middleware in terms of the package it is in and the namespace.

[2021-04-13 21:37] chrimc62 commented on #5077
Big rocks agreed to rename this to TestingMiddleware and put it in the same namespace and package as inspection middleware.

[2021-04-13 22:09] tracyboehrer opened #5471 "Runtime StorageRegistrationTests not running"
These had been disabled during some refactoring and never corrected and enabled again.

[2021-04-13 22:18] EricDahlvang opened #5473 "Add Token Exchange middleware for Teams SSO"
This requires code to deduplicate the exchange requests if the user is signed into multiple devices.

[2021-04-13 22:19] Zerryth opened #5474 "[Unit Test Coverage]: Microsoft.Bot.Schema"
Increase code coverage for Microsoft.Bot.Schema
___
See parent issue: Unit test coverage improvement needed #5167

Per Monica, creating separate issues for each package.

[2021-04-13 23:02] #5473 closed

[2021-04-14 01:15] boydc2014 commented on #4651
Close this since it's not in the plan

[2021-04-14 01:15] #4651 closed

[2021-04-14 01:31] mrivera-ms commented on #5333
Closing this as it is being addressed by Composer.

[2021-04-14 01:31] #5333 closed

[2021-04-14 02:03] Stevenic commented on #5071
This behavior is **BY DESIGN.** The "Unknown Intent" trigger ONLY fires if the bot is not actively engaged in a conversation with the user. If you're in a prompt you're having a conversation with the user.  If we let the "Unknown Intent" trigger fire then every single turn would result in an interruption and you would never make it past a prompt without doing extra work.

If you truly want to do s

[2021-04-14 07:20] goergenj commented on #5071
@Stevenic We use the "None"-Intent currently as the "Unknown" does not work. For us this is the fallback, for cases where we could not validate an input and need to present interruption data, e.g. from QnAMaker results or similar, as a fall-back instead of just saying "Sorry, I did not understand" which makes the Conversation much more engaging and flexible.
I don't agree with your comment that th

[2021-04-14 16:04] carlosscastro commented on #5469
Hello, thanks for reporting this! Our current release (4.13)  is already in release candidate phase but we'll make sure to fix this in the following 4.14 release.

I would love to get us a workaround that does not require you to change the SDK, so that you don't experience this problem until we ship the fix.

In your startup.cs, could you try adding the following line?

[code]

Which basically wil

[2021-04-14 17:48] peterinnesmsft opened #5479 "MultiLanguageRecognizer - Recognizers dictionary does not use case-insensitive key comparer"
## Version
4.13.0-rc4

## Describe the bug
Multi-language recognizer is unable to select the corresponding recognizer for a given locale if there is a case mismatch between the recognizer locale key and either the locale in the incoming activity or the default locale from the LanguagePolicy.

## To Reproduce
Steps to reproduce the behavior:
1. Using the latest Composer nightly build, create a new

[2021-04-14 17:55] peterinnesmsft commented on #5479
Contents of recognizer\CoinversationalCore.lu.dialog for reference:

[code]

[2021-04-15 01:17] EricDahlvang opened #5482 "Add TeamsSSOTokenExchangeMiddleware tests"
Tests should be added for TeamsSSOTokenExchangeMiddleware

[2021-04-15 01:41] tsuwandy opened #5485 "Update Microsoft.BotFramework.Orchestrator dependency for Microsoft.BotBuilder.AI.Orchestrator to 4.13.0"

[2021-04-15 02:17] #5485 closed

[2021-04-15 10:51] bjamdort opened #5486 "400 (Bad Request) error when using the QnAMakerRecognizer"
## Version
1.13.0

## Describe the bug
I'm getting a 400 (Bad Request) error when using the `QnAMakerRecognizer` used in an Adaptive Dialog

## To Reproduce
Steps to reproduce the behavior:
1. Create an Adaptive Dialog
2. Set the `Recognizer` variable to a `new QnAMakerRecognizer()`
3. Run the Bot and send a message to the Bot
4. See error

## Expected behavior
The OnQnAMatch() trigger should run

[2021-04-15 17:08] Zerryth commented on #5486
@bjamdort we would need more information on how to reproduce your error, such as how you initialized your `QnAMakerRecognizer` instance, what question/utterance are you sending, what answer you are expecting, etc.

However I just ran the adaptive dialog sample for QnA, [07.qnamaker](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/adaptive-dialog/07.qnamaker), an

[2021-04-15 17:21] Zerryth commented on #5486
Also note: adaptive sample [07.qnamaker](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/adaptive-dialog/07.qnamaker/QnAMaker.csproj) currently points to version 4.12.2. Upgrade it to 4.13.0 to get the latest version. (Although the sample still does effectively run at 4.12.2)

[2021-04-15 22:05] Stevenic commented on #5225
You can but they would need to be namespaced with "Crypto." and then the developer would need to tell composer to ignore anything under this namespace within their bots settings file.

[2021-04-15 22:47] EricDahlvang opened #5487 "4.13.0 TeamsSSOTokenExchangeMiddleware sometimes sends CancellationToken in the body"
![image](https://user-images.githubusercontent.com/11055362/114947313-c7d96080-9e01-11eb-861c-f061522cbf1f.png)

[2021-04-15 22:52] EricDahlvang opened #5488 "Add CreateConversationAsync to CloudAdapter implementation"
[code]

https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L150

[2021-04-16 01:03] clearab opened #5502 "The "Greeting" trigger isn't a greeting"
## Describe the bug

The "Greeting" label on the ConversationUpdate trigger is misleading. ConversationUpdate events are not limited to memberAdded events, they include at least the list here: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics-teams?view=azure-bot-service-4.0&tabs=csharp#teams-conversation-update-activities

The label for this shouldn't be "Greeting"

## Version

[2021-04-16 02:38] Danieladu opened #5489 "[LG]There exists performance issue while parsing long template body."
## Describe the bug
Given such LG file: (unzip to get LG file)
[LongTemplateBody.zip](https://github.com/microsoft/botbuilder-dotnet/files/6322104/LongTemplateBody.zip)

the format is like:
[code]
The lg file is totally 4627KB, with 25 lines and each line with long body.

Parse this LG file takes about 37 seconds.

[Enhancement]

[2021-04-16 08:42] aimskl commented on #3261
@clearab

I have just flagged and detailed a similar problem here: https://github.com/MicrosoftDocs/msteams-docs/issues/3124

The image in the adaptivecard is hosted in a public blob-only access level Azure blob storage account. **_The image renders without issue in Teams Desktop and Teams WebBrowser, but no longer in Teams iOS. This is since April 12th. It had otherwise been working without issue

[2021-04-16 08:45] garypretty opened #5491 "CloudAdapter - cannot call ContinueConversationAsync with an empty / null AppId"
## Version
4.13.0

## Describe the bug
Previously we were able to call ContinueConversationAsync with a null or empty appId, when developing locally and this worked fine.  Now though, there is an exception being thrown if the app Id is null or empty.https://github.com/microsoft/botbuilder-dotnet/blob/402bc02b4cbbd2f4ec359134640e99211367e4a5/libraries/Microsoft.Bot.Builder/CloudAdapterBase.cs#L144

[2021-04-16 15:31] clearab commented on #3261
Thanks for letting us know - that definitely sounds like a bug in the Teams iOS client, so we'll let them work it from the Issue you opened against their repo.

[2021-04-16 15:32] clearab commented on #3261
Love the setup of the LogicApp + Webhook + Adaptive Card. Such a clean, easy way to send notifications to Teams.

[2021-04-16 15:52] JonathanFingold commented on #4924
The fix is in place and live in the docs.

[2021-04-16 15:52] #4924 closed

[2021-04-16 16:58] guru98 opened #5492 "AdaptiveDialog / language generation doen't support AdaptiveCards 1.3"
Hi i use adaptivedialog loaded from a file and in attach to an activity inside an adaptive dialog using language generation.
Everything work fine with adaptivecard version 1.2 but just changing flag to 1.3 the card isn't show.

[2021-04-16 17:09] johnataylor commented on #5488
This is needed for parity with BotFrameworkAdapter.

We should consider adding this method as overridable to the abstract BotAdapter class.

[2021-04-16 23:11] carlosscastro opened #5493 "Runtime: IBot should be registered through TryAddSingleton"
https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime/Extensions/ServiceCollectionExtensions.cs#L54

[2021-04-16 23:16] carlosscastro opened #5494 "Runtime: Expose method to do the component loading only for non-web projects"
@tomlm ran into needing to run this method separately for console bots: https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime/Extensions/ServiceCollectionExtensions.cs#L94

We should have a non-http sample of how to consume the runtime also.

[2021-04-16 23:18] carlosscastro opened #5495 "ComponentRegistration deprecation: update TestScript and TestAdapter to use the new model and stop using ComponentRegistration"
I

[2021-04-17 07:56] guru98 commented on #5492
I found that the emulator wasn't updated. Fix

[2021-04-17 07:56] #5492 closed

[2021-04-19 09:04] bjamdort commented on #5486
I have resolved the problem I had.
Not sure why this solved it but after playing with the adaptive sample suggested by @Zerryth. I found settings that worked with my Knowledgebase. And after trial and error I found the `IncludeDialogNameInMetadata` setting caused succes.

I have configured it to false and my requests to the QnAMaker are now working.

[code]

[2021-04-19 09:04] #5486 closed

[2021-04-19 11:48] martinlarosa commented on #4936
Hi! Where can we see the example?
I need a place to store an API M2M token that will be used by the bot for all users. The most top level scope I have is the user level but that means I have to request a token for every user which is costly. What I need is a scope to store a token in memory that would live for as long the bot is running.

[2021-04-19 18:18] chrimc62 commented on #5453
@johnataylor are you still seeing this?  Did your machine have npm and node installed?

[2021-04-19 23:14] mrivera-ms opened #5498 "CI Pipelines failing due to schema.merge errors"

[2021-04-19 23:18] saipraneeth888 opened #5499 "NullReferenceException when calling CreateReply method in Activity.cs with null From property"
## Version
4.10

## Describe the bug
NullReferenceException being thrown when calling CreateReply method in Activity.cs with empty From(recipient) property
System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Bot.Schema.Activity.CreateReply(String text, String locale)

## To Reproduce
Steps to reproduce the behavior:
1. Create an Activity class with

[2021-04-19 23:23] #5498 closed

[2021-04-20 00:08] #5489 closed

[2021-04-20 02:41] boydc2014 commented on #5328
Hi, @boberg-ms, OnError trigger is designed for situations like this, once you specify an onError trigger, the exception will be wrapped up into turn.dialogEvent property instead of poping up in the chat window.

I assume you are using Composer, given the example you showed above. To create an onError trigger in Composer, here is the steps,
* create trigger => dialogEvent => error
* in the trigger

[2021-04-20 02:54] boydc2014 commented on #3531
Sounds like the solution to 2 is also the solution to 1, if we have one functions say missingProperties("templatename") returns a list of missing proproties, then 1 is actually saying length(missingPropeties("name)) == 0

[2021-04-20 03:09] Danieladu commented on #3531
Try this method [Templates.AnalyzeTemplate(String)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.languagegeneration.templates.analyzetemplate?view=botbuilder-dotnet-stable#Microsoft_Bot_Builder_LanguageGeneration_Templates_AnalyzeTemplate_System_String_)
Test file:
https://github.com/microsoft/botbuilder-dotnet/blob/c001736895649dcaf9efc7aa9a5727c01cddfb6b/tests/Microsoft.Bot.

[2021-04-20 04:18] #5307 closed

[2021-04-20 16:19] mrivera-ms commented on #5328
@boberg-ms, could you please review the reply above and let us know if this works?

[2021-04-20 17:30] boberg-ms commented on #5328
Hi,

This does not solve the issue for us.

For our scenario, customers are generating their own dialogs within composer, and then we're hosting and executing them within our Power Virtual Agent bot framework.  We cannot guarantee that customers have set up an Error event to handle the exceptions.  Properties in their dialogs, particularly json properties that could be the result of a flow/http ca

[2021-04-20 17:44] boberg-ms commented on #5328
Actually, we may be able to specify our own ErrorHandler on the root dialog and override any handler created by the customer, just on the root dialog.  I will sync up with my team this afternoon to look into that.

[2021-04-20 18:07] GeoffCoxMSFT commented on #5499
@EricDahlvang Could you kindly take a review of the PR to fix this issue?

[2021-04-20 21:18] dawwa opened #5503 "CosmosDbPartitionedStorage cannot handle Multi-Region Writes"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.12

## Describe the bug
When need enable multi-region writes for our cosmos db, and realized the current CosmosDbPartitionedStorage implemnetaion does not

[2021-04-21 02:05] mareekuh commented on #5502
Ok let's change it to Conversation Update.
I don't believe that at the time we named this activity all these other use cases were available, so I agree that 'greeting' is not accurate to summarize the current capabilities. Also - in searching customer feedback if we had complaints about this issue I did indeed find one customer comment.

So here's what needs to happen:
1. In the 1st dropdown 'Type

[2021-04-21 09:11] garypretty opened #5504 "Runtime is not logging dialog telemetry events"
## Version
4.13.0

## Describe the bug
Bots created in Composer using the new runtime are only getting some of the telemetry we would expect to be logged.  Activities are being logged correctly, but no dialog events are being logged at all.

This appears to be because we are not setting the TelemetryClient on the root dialog or adding it to the TurnState, so that it can be used by adaptive actions

[2021-04-21 09:58] stas-sultanov opened #5505 "Telegram channel - method sendMediaGroup"
**Is your feature request related to a problem? Please describe.**
The problem is that I am trying to send several images as one messag via Telegram Channel.
But can not succed because bot framework does no support Telegram specfic method sendMediaGroup

**Describe the solution you'd like**
Telegram channel  start support method [sendMediaGroup](https://core.telegram.org/bots/api#sendmediagroup)

[2021-04-21 12:19] guru98 opened #5506 "CodeAction support for input parameters and property"
CodeAction are useful to call adhoc code without exit from bot logic like you do calling azure functions or web api.
In this scenario could help offer the opportunity to pass parameters (to maintain the code generic) and have the property property to return result to a specific variable. both seems easy to implement

[2021-04-21 12:39] darrenj opened #5516 "OAuth login custom action reports "Object reference not set to an instance of an object""
## Describe the bug

OAuthLogin in a newly created (empty bot) reports "Object reference not set to an instance of an object". No other information is provided. The configured OAuth connection in ABS works just fine, validated with Test Connection.

Verified issue occurs with Composer WebChat and Emulator

Seems to occur when you don't set the **optional** `title` property on the action

![image](

[2021-04-21 13:56] sschutten opened #5508 "[LG] Switch template not matching cases"
## Version
4.12.2

## Describe the bug
The language generation [Switch template](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0#switch-template) doesn't match a case, even though the values match and are both of type integer. When both the switch and the case are explicitly converted to an integer, the Switch template matches th

[2021-04-21 16:02] carlosscastro opened #5511 "Runtime: IBotTelemetryClient should be replaceable"
Fix by adding to service collection through `TryAddSingleton`

[2021-04-21 16:49] carlosscastro opened #5513 "Skill handler only supports a single adapter"
Skill handler has a hard dependency on a single bot adapter, making it not possible to mix multiple adapters with skills. This happens both for composer and for code-first dialogs.

The issue is to make changes to allow multiple adapters on a root bot and skills routing to the right adapter.

[2021-04-21 18:05] Robulane opened #5514 "Templates.ParseText returns an error for legit lg content"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.11.1.0

## Describe the bug
Templates.ParseText method returns an error for the following template:

[code]

[2021-04-21 18:18] clearab commented on #5502
We can put all the channel-specific versions in the package for that channel so they aren't available by default.

[2021-04-21 22:14] cwhitten commented on #5516
I'm not sure if this field is optional: https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs#L311

cc @EricDahlvang

[2021-04-22 04:22] clearab commented on #5502
There really are only 2 that need to be included by default I believe - members added and members removed.

[2021-04-22 07:20] Danieladu commented on #5514
Hi, @Robulane. I use your content but could not reproduce this issue. And the diagnostic list is empty. Could you provide the full LG file, lest I miss some special non-printable characters? Thanks.

[2021-04-22 08:41] samoZacc opened #5521 "“No such host is known.” error when publishing bot with LUIS AI to Azure but working fine locally"
I have hosted a bot in Azure and when debugging with ngrok via bot emulator I get an error stating: No such host is known. I’ve had such an experience with the bot before, and it meant that the LUIS AI configuration, specifically the LuisAPIHostName value, was not written in the right format in appsettings.json.

As it turned out, back then when the app wasn’t even hosted, the problem was that I w

[2021-04-22 13:05] martinlarosa opened #5519 "Support multiple workspaces with a single Slack Adapter"
Failing to find any example nor a way to do it with the current slack adapter code, I'm assuming that the dotnet slack adapter can only work with one slack workspace. I want to be able to install the app into multiple workspaces without having to spin up multiple backend services or instantiate multiple slack adapters

I believe the js slack adapter supports this, can this be ported over?

https:/

[2021-04-22 14:07] Robulane commented on #5514
Hm... strange, this is what I am getting:

![image](https://user-images.githubusercontent.com/55888168/115728407-c8837100-a384-11eb-8146-0ac50807860b.png)

This is the value of content:
"\r\n\r\n# example()\r\n> To learn more Adaptive Cards format, read the documentation at\r\n> https://docs.microsoft.com/en-us/adaptive-cards/getting-started/bots\r\n- ```\r\n${json({\r\n  \"$schema\": \"http://ada

[2021-04-22 17:23] #5493 closed

[2021-04-22 17:23] #5511 closed

[2021-04-22 17:25] #5471 closed

[2021-04-22 18:01] pavolum commented on #5302
This issue should be resolved with the merged PR. Going to close the issue. If you pull in the latest bits that have the fix and this issue persists then reopen

[2021-04-22 18:05] pavolum commented on #5521
This issue is also being posted on stackOverflow
https://stackoverflow.com/questions/67209700
@dmvtech if we determine it is a 'how to' question then lets close out this github issue and vice versa if we determine it is a bug

[2021-04-22 18:26] lauren-mills opened #5522 "[Skills] Both the skill configuration and allowedCallers are required to be configured in Root Bot"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.13.0

## Describe the bug
Give a clear and concise description of what the bug is.
If you don't configure th

[2021-04-22 18:40] mrivera-ms commented on #5328
@boberg-ms, are there any updates on this?

[2021-04-22 19:32] stevengum opened #5523 "Thread starvation due to blocking thread in PayloadSender.WritePacketAsync()"
https://github.com/microsoft/botbuilder-dotnet/blob/402bc02b4cbbd2f4ec359134640e99211367e4a5/libraries/Microsoft.Bot.Streaming/PayloadTransport/PayloadSender.cs#L151-L153

[2021-04-22 22:59] JonathanFingold opened #5528 "People template bot producing a "SignoutUser(): not supported by the current adapter" message"
## Version
What package version of the SDK are you using: Whatever version the nightly build of Composer is using, presumably v4.13.

## Describe the bug
Give a clear and concise description of what the bug is.
This interaction seems...odd.
![image](https://user-images.githubusercontent.com/35047199/115794645-34fd7080-a383-11eb-94dd-3fe95c63db5f.png)

## To Reproduce
Steps to reproduce the behavio

[2021-04-23 03:22] Danieladu commented on #5514
hi @Robulane I found that there is a backslash after schema url:
[code]
That would break the json.
Could you please remove it and try again?

[2021-04-23 04:26] tsuwandy opened #5524 "Update Microsoft.BotFramework.Orchestrator in OrchestratorRecognizer to version to 4.13.1"
Fix for icu lib loading issue in MacOS

[2021-04-23 05:31] dmvtech commented on #5291
@peterinnesmsft I kinda see it as both.

When using the 'bad' phrase, LUIS/Timex does recognize two entities. One for duration and one for time range in the instance:

[code]

But for entities, the duration is just the string `the hour` with no resolution:
[code]

But when using a more valid English phrase `an hour`, then we get:
[code]

So, I do see this as being a bug in LUIS (if it recognizes a

[2021-04-23 15:52] BellaDunnett opened #5579 "Date format is assumed to be American"
When storing dates as properties, it seems an assumption is made that a date has been provided in the American format. If you enter a date in the format 10-20-2000, this will be converted to 2000-20-10. In cases where both the date and the month are 12 or below, the converter will assume you are using the American format. Therefore an input of 01-02-2000 will be converted to 2000-01-02. Is there a

[2021-04-23 17:52] scheyal opened #5547 "Investigate: Hand-off within a skill is likely not working."
We need a test scenario to ensure hand-off from a skill scenario works.

## Context:
I hear from multiple sources that a HandOff (Transfer to Agent) activity is not supported in a Bot that's running as Skill
* what does actually happen when a Skill get to the HandOff?
* Does it silently not execute the handOff and returns control to the parent Bot?
* Is there an event or exception that Skill gives

[2021-04-23 19:27] thomas-chung commented on #5528
Hey @johnataylor after talking with @carlosscastro he recommend transferring this issue to you as it seems like the SignoutUser action did not handle the new CloudAdapter properly.

[2021-04-23 19:29] carlosscastro commented on #5528
Technical notes: When the cloud adapter was introduced, all the paths that casted the adapter to IUserTokenProvider were updated to do 1) if CloudAdapter -> new flow 2) if IUserTokenProvider -> old flow 3) other -throw. We need to do the same with the SignOutAction

[2021-04-23 19:37] thomas-chung opened #5529 "Do not include memory dump in the Emit Trace event by default"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.13GA

## Describe the bug
When emitting trace events from skills in the Emulator, the root bot would end up throwing a "Bad Request" because the emit trace

[2021-04-23 19:47] lauren-mills commented on #5529
This appears to be caused by the specifically when a trace is sent from a skill bot to a root bot and reaches a certain depth. The serialization between the skill and root cannot handle the dialog stack object when it has too many layers

[2021-04-23 22:59] #5524 closed

[2021-04-23 23:44] dmvtech commented on #5521
Looks like it's solved there. To sum it up; settings configured in the environment take precedence from the settings in appsettings.json. Closing this one.

[2021-04-23 23:44] #5521 closed

[2021-04-24 18:32] johnataylor commented on #5528
yes its a straight forward fix, either including the same code as the OAuthPrompt or call OAuthPrompt to do the work, as the OAuthInput does.

[2021-04-26 12:53] #5491 closed

[2021-04-26 18:32] mdrichardson commented on #5519
Thanks for the suggestion, @martinlarosa. I'll be looking into this in the next couple of weeks.

[2021-04-26 18:53] mdrichardson commented on #5503
@dawwa You can set all of the `CosmosClientOptions` via [`CosmosDbPartitionedStorageOptions.CosmosClientOptions`](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Azure/CosmosDbPartitionedStorageOptions.cs#L51).

For Conflict Resolution Policies, [the default is Last Write Wins](https://docs.microsoft.com/en-us/azure/cosmos-db/conflict-resolution-policies#co

[2021-04-26 19:39] #5528 closed

[2021-04-26 20:23] #5482 closed

[2021-04-26 20:23] #5487 closed

[2021-04-26 21:22] chrimc62 opened #5537 "Adaptive expressions should support $ (and other chars) in property keys"
## Version
4.13.2

## Describe the bug
You can build adaptive expressions like this `${{ $kind: 'foo'}}`, but they will not be considered valid because of the $.  You can fix this by doing `${{ '$kind': 'foo'}}`, but that is inconvenient and inconsistent with Javascript.  We should allow any characters that do not need to be in quotes or escaped in Javascript.

## Expected behavior
I should not ha

[2021-04-26 21:28] Virtual-Josh opened #5539 "Repeat dialog doesn't work when auto-end is enabled for skills"
## Describe the bug
Repeat dialog doesn't work when if auto end dialog is set to true

## Version

Version:  2.0.0-nightly.239198.1de395f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the be

[2021-04-26 21:56] #5499 closed

[2021-04-27 06:09] Danieladu commented on #5537
`${{ $kind: 'foo'}}` does work in my side. So, could you update your LG/Expression library to check again? Thanks.

[2021-04-27 06:19] Danieladu commented on #5537
`${{ $kind: 'foo'}}` it works in my side. Could you update LG/Expression sdk to the latest version and have a try? Thanks.

[2021-04-27 09:13] #5508 closed

[2021-04-27 13:49] ahmetkocadogan opened #5542 "Teams users can not open a file in Teams which bot sends them in 1:1 chat"
## Version 4.13.0

I am sending Excel and PDF files from bot to user in 1:1 chat. It was working well till 22.04.2021. At this date, teams users started to have an issue about opening the file in teams with clicking on FileInfoCard, and they see a message says "this file is deleted or moved"

![image](https://user-images.githubusercontent.com/7287309/116252449-41653d00-a778-11eb-99ee-d9fa4a0e084b.

[2021-04-27 15:24] carlosscastro opened #5544 "OAuthInput fails to do SSO with adaptive runtime due to race condition with saving state"

[2021-04-27 16:17] boberg-ms commented on #5328
We're still confirming.  Will give an update later today.

[2021-04-27 16:48] goergenj opened #5552 "[MCS-DE-GO] Timezone extraction does not work in 1.4.0 Bot Runtime"
After upgrading to Composer 1.4.0. the timezone extraction does not work anymore.

Switching back to the previous runtime solves this issue.

This is one of the LG-Templates which uses this:

# TimeGreeting(scenario)
- IF: ${equals(getTimeOfDay(convertFromUTC(utcNow(), 'W. Europe Standard Time')), 'morning')}
    - Guten Morgen! ${WelcomeGreeting(scenario)}
- ELSEIF: ${equals(getTimeOfDay(convertF

[2021-04-27 17:04] #4684 closed

[2021-04-27 17:13] clearab opened #5674 "Component registration for declarative only packages"
We need a mechanism for determining if a particular package contains declarative assets only, so that the runtime can know not to look for a dll/library to load for that particular package. Currently we are using tags to determine this, however we'll need a long-term solution.

From @carlosscastro :

Taking a step back and throwing another option: The same NuGet apis that we use to get the list of

[2021-04-27 18:35] peterinnesmsft commented on #5547
Transferring to botbuilder-dotnet repo for further tracking. Assigning to R13 milestone for shiproom evaluation.

[2021-04-27 20:15] #5504 closed

[2021-04-27 20:28] cleemullins commented on #5493
Shipping in 4.13.1

[2021-04-27 20:29] cleemullins commented on #5524
Shipping in 4.13.1

[2021-04-27 20:29] cleemullins commented on #5491
Shipping in 4.13.1

[2021-04-27 20:30] cleemullins commented on #5504
Shipping in 4.13.1

[2021-04-27 20:30] cleemullins commented on #5528
Shipping in 4.13.1

[2021-04-27 20:31] cleemullins commented on #5544
Planned to ship in 4.13.1

[2021-04-27 22:11] #5544 closed

[2021-04-27 22:11] #5516 closed

[2021-04-28 00:13] Virtual-Josh opened #5550 "Skill Chaining breaks dialog stack"
## Describe the bug
The dialog stack completely breaks down if a skill has wiring to call another skill.

## Version
Version:  2.0.0-nightly.239895.e3e1b3e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps t

[2021-04-28 00:43] Virtual-Josh commented on #5539
This seems to be resolved with the current build. Closing for now. I'll reopen if it pops back up.

[2021-04-28 00:43] #5539 closed

[2021-04-28 03:01] Danieladu commented on #5514
Another tips: there is no need to write `json()`, because the parameter itself is json.
`json` function originally aims to convert json string into a json structure.
So, your template could be
[code]
or just simplified with:
[code]

[2021-04-28 09:03] boydc2014 commented on #5552
@goergenj thanks for reporting, sorry for the breaking, we had a fix to correct the timezone info of the result of convertFromUTC, causing the result is not matching the input of getTimeOfDay, which we are working on a fix now, should be fixed soon.

Meanwhile, a workaround to unblock customer is to add an extra formatDatetime after convertFromUTC , from
[code]

[2021-04-28 09:47] #5552 closed

[2021-04-28 14:49] boberg-ms commented on #5328
I don't think this is going to work for us.  It let's us get the exception information, but we already have access to that.  Sorry for the late response on this, some of us were out of office last week.

[2021-04-28 15:08] sgellock commented on #5550
Shiproom - not taking for R13.  moved to R14

[2021-04-28 15:28] sgellock commented on #5547
Shiproom - not taking for R13 - moving to R14

[2021-04-28 17:03] chrimc62 opened #5554 "Allow back quotes in adaptive expression object and array construction"
**Is your feature request related to a problem? Please describe.**
When constructing objects with adaptive expressions, it is painful to construct string values with interpolated values.  For example:
[code]
Would be a convenient way to construct the value, but is not legal today.  Today you have to either:
a) Use concat, i.e. `foo: concat('I would like ', item, ' today')` which is less clear.
b)

[2021-04-28 17:35] EricDahlvang opened #5555 "Enable using OrchestratorRecognizer without a DialogContext"
Recognizers do not necessarily require a DialogContext, and cases exist where it would be useful to utilize a recognizer outside of a dialog.

[2021-04-28 17:40] daveta commented on #5555
We should coordinate with Tom - realistically, the overall Recognizer interface should support this..

[2021-04-28 17:56] chrimc62 commented on #5537
This works in the library and is related to the vs code extension for errors.

[2021-04-28 17:56] #5537 closed

[2021-04-28 18:22] goergenj opened #5556 "[MCS-DE-GO] Skillconnection breaks with 1.4.0. Bot Runtime"
After the upgrade to Composer 1.4.0 we noticed that after a Skill has completed it's dialog, the root-Bot does not continue the Conversation.

It seems in the new version of the runtime does not correctly send the "ContinueConversation" flag with the "EndOfConversation".

Reverting to the previous version of the runtime on the root-Bot solved the issue so we assume this is a bug in the "/api/skill

[2021-04-28 19:18] Virtual-Josh opened #5635 "Composer web app bots have dialog breaking/non-performant behavior on 1st interaction in Azure"
## Describe the bug
Web app bots are slow to update/register state when talking to it in azure. It seems like a performance issue with dialogs breaking after a fresh deploy. Things work more or less as expected after you talk to the bot for a bit and restart the conversation.

This might not be a P0, but opening user experience here is so poor it's worth looking at.

## Version
Version:  2.0.0-nig

[2021-04-28 20:31] mrivera-ms opened #5557 "Release to Nuget pipeline shows warning on push stage"
The following warning is shown during the push stage:

`WARNING: The <licenseUrl> element is deprecated. Consider using the <license> element instead. Learn more: https://aka.ms/deprecateLicenseUrl.`

[2021-04-29 00:16] ipraveenMS opened #5558 "GetConversationPagedMembersAsync call from skills returns NotImplemented error"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.12.0

## Describe the bug
Give a clear and concise description of what the bug is.
We call GetConversationPa

[2021-04-29 01:30] Danieladu commented on #5537
Thanks for the feedback. We have updated the SDK version in  playground/vscode extension. Next version would works.

[2021-04-29 15:52] sgellock commented on #4730
Shiproom - moving out of R13 to R14

[2021-04-29 18:00] stevkan commented on #5542
@ahmetkocadogan, thank you for your patience. This appears to be an issue with Teams. I am attempting to connect the right person / team with this so they can provide additional support.

[2021-04-29 18:08] GeoffCoxMSFT commented on #5558
@mrivera-ms Could you assign to the right person to look into this?

[2021-04-29 18:12] GeoffCoxMSFT commented on #5542
@clearab - Could you add your thoughts on this one?

[2021-04-29 20:22] chrimc62 opened #5563 "Support object comparison in =="
**Is your feature request related to a problem? Please describe.**
There is not a simple way to look for objects in an array or select elements that match an object.  It is possible to write LG templates to do so, but it is complicated.

**Describe the solution you'd like**
Extend == to work recursively to compare objects or array and also enable the same behavior in contains.  Some examples:
[cod

[2021-04-29 21:02] chrimc62 opened #5564 "Simple expressions fail in LG playground"
## Describe the bug
A very simple template seems to fail unpredictably in the LG playground, while the expression itself works.  Hard to tell if this is an issue with the playground or a deeper issue.
[code]

![image](https://user-images.githubusercontent.com/17637681/116617961-50242f00-a8f3-11eb-8f7e-54e8ec4331d8.png)
![image](https://user-images.githubusercontent.com/17637681/116618017-6205d200-

[2021-04-29 21:34] ipraveenMS commented on #5558
This is resolved after I used https://smba.trafficmanager.net/amer for the service url

[2021-04-29 21:34] #5558 closed

[2021-04-29 22:09] sgellock commented on #5556
Shiproom - removing approval as we don't have a repro and a root cause yet.

[2021-04-29 22:58] dmvtech commented on #5291
Still investigating on the LUIS side of things. Will update when have more details.

[2021-04-30 15:14] goergenj commented on #5552
We found the cause and fix for this:

TimeEvaluation issue is due to an misformed result of the "convertfromUTC".
![image](https://user-images.githubusercontent.com/31212469/116716050-93f06480-a9d7-11eb-9768-4060117f452c.png)

It can be easily resolved by adding the below to the prebuildfunction:

convertFromUTC(utcNow(), ‘W. Europe Standard Time’, 'yyyy-MM-ddTHH:mm:ss.fffZ')

[2021-04-30 15:17] goergenj commented on #5556
We found the causes for the double input as discussed with Gabo.
We fixed a code issue in our Custom SharedSkill Issue which caused the double inputs required. All Skill-Calls must be changed to use the Custom Action.

The 500 error was relaated to the Skill sending Events which interrupted the root Bot. We were able to fix this by adding an "Event Catcher" in our root-Bot which solved this issue.

[2021-04-30 15:38] sgellock commented on #5556
Shiproom - moving out of R13.  @Kaiqb please note the request for documentation.  @gabog can you work with Kamran on the doc request?  thanks

[2021-04-30 23:47] mdrichardson opened #5565 "Ensure Slack breaking change makes it into release notes"
https://github.com/microsoft/botbuilder-dotnet/pull/5393

This was a small breaking change. Per @mrivera-ms, it's okay to push, but I need to make sure it makes it into the release notes.

[2021-05-01 00:08] #5323 closed

[2021-05-02 17:18] clearab commented on #5542
@Wajeed-msft

[2021-05-03 07:57] Wajeed-msft commented on #5542
This is a bug, we are working on fixing it. We will update this thread once it is fixed.

Internal Bug Tracker: [1744015](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/1744015)

[2021-05-03 13:28] martinlarosa commented on #5519
Hi @mdrichardson !
It's great that you can dedicate a bit of time into this. I have some modifications to the adapter for validating incoming requests and sending messages to multiple workspaces,
I'll be creating a PR so you can take inspiration on it and/or give feedback.

It doesn't include the OAuth installation process since I do that outside of the bot.

[2021-05-04 17:44] tomlm opened #5566 "AdaptiveDialog has dialogs property added in declarative schema and that property should be hidden."
## Version

4.13.0

## Describe the bug

To support legacy coded dialogs we added a DialogSet property on AdaptiveDialog called **Dialogs**.  The purpose for this is for you to add existing **coded dialog** to an adaptive dialog so that they can be invoked with a **BeginDialog**.

The schema file includes the definition of Dialogs as an array of IDialogs, which means that it shows up in composer U

[2021-05-04 19:43] tomlm commented on #5210
With addition of new AdaptiveDialogBot class, this change needs to happen in here. 

Essentially.

1.  Lazy\<> initilalizer assumes it will never change (this is not true with local development)
2.  We need to listen to resourceExplorer.Changed += to reload the dialog (and all of the resources).

To fix this.

1.  change Lazy\<Dialog> to Dialog with a lock
2.  Add Changed listener to reload the di

[2021-05-04 21:37] Zerryth opened #5567 "[Part 1] [Unit Tests - Code Coverage]: Microsoft.Bot.Schema.Teams"
Part 1 of 8: Increase code coverage for `Microsoft.Bot.Schema.Teams`.
___
See parent issue: Unit test coverage improvement needed #5167

Per Monica, creating separate issues for each package.

[2021-05-05 15:15] sgellock commented on #5566
Shiproom - investigate but candidate for moving out to R14.  @cwhitten to investigate

[2021-05-05 17:14] #5453 closed

[2021-05-06 05:31] tsuwandy commented on #5469
@QaisAlkhateeb, were you able to try @carlosscastro's workaround?

[2021-05-06 05:33] tsuwandy commented on #5467
@Wajeed-msft, did you have a chance to look into this issue?

[2021-05-06 09:25] QaisAlkhateeb commented on #5469
I tied it on the version 4.10.3 But did not work, null exception is thrown while loading the dialogs. currently I'm working on upgrade the My Bot to the latest version to test the workaround.

will let you know if it's work

[2021-05-06 12:46] martinlarosa commented on #5467
hey @clearab sorry for the late response, I don't have a code right now deployed that could test that.

[2021-05-06 13:00] maheshatanp opened #5578 "NumberInput and NumberExpression should support higher precision than float"
for example if i enter this following number 8144331287 .
it is changed to 8144331300.

Why it supposed happen?

[2021-05-06 15:35] sgellock commented on #5566
Shiproom - moving out to R14

[2021-05-06 18:05] cwhitten commented on #5566
@tomlm I have some thoughts here.

This is _super_ confusing in the authoring application. In order to call a coded dialog, you need to first have knowledge of this coded dialog's existence and then manually add it to this funky thing called a DialogSet, and then go back to the call-site and wire up the BeginDialog action. This needs to happen for evert Adaptive Dialog that wishes to call a partic

[2021-05-06 22:36] mdrichardson commented on #5503
@dawwa I'm going to close this as I believe my last comment addressed this fully. If you believe this is not the case, let me know and I'll re-open.

[2021-05-07 08:25] Clooney24 opened #5569 "Twilio Adapter response to WhatsApp message will not work due to wrong syntax of From field"
## Version
4.13.1

## Describe the bug
Twilio Adapter response to WhatsApp message will not work due to wrong from-syntax. Twilio will answer with:

Reason is that in From the prefix "whatsapp:" is missing.

## To Reproduce
Process a message coming from Twilio WhatsApp number

## Expected behavior
The value of that From field should contain that "whatsapp:" prefix. To achieve this in TwilioHelper.

[2021-05-07 11:39] darrenj opened #5634 "Compile warnings from Adaptive Runtime on a new project"
## Describe the bug

Following warnings on any new project created using Composer
[code]

## Version

![image](https://user-images.githubusercontent.com/33519520/117444247-19709900-af31-11eb-8ee1-6a2f9cea341f.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior

No compile warnings

[2021-05-07 12:07] aparnaji opened #5640 "While calling a API with content-type : "multipart/form-data", setting content disposition in header is not working"
## Describe the bug

While calling a API with content-type : "mutlipart/form-data",  setting content disposition in header is not working

## Version

## Browser

- [ ] Chrome
## OS

- [ ] Windows
## To Reproduce

Steps to reproduce the behavior:

1. Create a Dialog ->  Trigger
2. As part  of this as for user Input as 'attachment"
3. Send this file to input as using Access External resources -> Se

[2021-05-07 18:20] mdrichardson commented on #5569
@Clooney24 Sorry, I'm not super familiar with using Twilio and Whatsapp together. Per the error, it sounds like messages have to be either:

1. <regularPhoneNumber> to <regularPhoneNumber>, or
2. <whatsAppNumner> to <whatsAppNumber>

So, in your `appsettings.json`, you should be able to set `"TwilioNumber"` to `"whatsapp:<yourNumber>"`.

If this does not fix it for you, can you please specify exac

[2021-05-08 06:59] Clooney24 commented on #5569
Hi Michael,

yes, your assumption is right. When changing the number in appsettings, it might work, but then I'm no longer able to send SMS over this TwilioAdapter. I'd like to use both channels, WhatsApp and SMS over the TwilioAdapter.

My fix using From.Id does work with both channels. And in that case you are using both channels, the From.Id should change depending on the channel, so when the b

[2021-05-10 03:11] Danieladu commented on #5564
I have updated the code. Please Ctrl + F5 to get the latest version. Thanks.

[2021-05-10 19:46] ryanlengel opened #5572 "SwitchCondition schema expects StringExpression, should be flexible for Int"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.13.1

## Describe the bug
In the "duplicated intents recognized" trigger provided by Composer, there was a s

[2021-05-10 23:35] cwhitten commented on #5566
Update: spoke with Tom - need to revisit in R14

[2021-05-11 04:19] #3905 closed

[2021-05-11 16:22] dmvtech commented on #5291
There is a bug in the text-recognizer which is leading to the issues predicting DateTimeV2. A fix is in the works. Updates as I have more information.

[2021-05-11 16:30] sbacha opened #5576 "Set Property not allowing Lg Template call to be evaluated as a value"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.12

## Describe the bug
Customer has multi language bot, and is leveraging LG templates to assign localized strings to properties to dynamically construct

[2021-05-11 17:10] johnataylor commented on #5576
@boydc2014 this is related to https://github.com/microsoft/botbuilder-dotnet/pull/5319
@Stevenic has a design proposal that slightly alters the approach, he can fill in the details

[2021-05-11 22:28] mdrichardson commented on #5519
@martinlarosa I dove into this pretty deeply and it looks like the SlackAdapter will need a fair amount of work in order to support multiple workspaces. We've got a some design changes in the pipeline for this adapter, so I'm going to put this on hold until we work those out as this may either conflict with or become part of those design changes. That said, this is still on my priority list.

[2021-05-11 23:01] Danieladu commented on #5514
yes. I think so.

[2021-05-12 03:36] #5563 closed

[2021-05-12 03:44] Danieladu commented on #5514
Close it. @Robulane If the solution has not solved your problem or need further discussion, please leave a message under this issue. Thanks！

[2021-05-12 03:44] #5514 closed

[2021-05-12 12:02] darrenj opened #5704 "Orchestrator package doesn't have a helpful description and no readme"
## Describe the bug

Orchestrator package doesn't have a helpful description and no readme. Description should be clear as to why a developer should consider using the package - e.g. skill dispatch scenarios, multi-intent, etc.

![image](https://user-images.githubusercontent.com/33519520/117960123-98404a00-b314-11eb-99c4-77d396f71d05.png)

View documentation takes you to: https://github.com/Micros

[2021-05-12 16:51] cleemullins commented on #5547
Spoke with @msomanathan, and this is now resolved. He will add details here for the history books, and then close this issue.

[2021-05-12 18:05] tdurnford commented on #5578
@mrivera-ms Can you triage this issue appropriately?

[2021-05-12 19:38] cleemullins commented on #4768
Need PM Assistance. Scenarios / Scoping / Dates are needed before engineering can move forward.

[2021-05-12 20:40] msomanathan commented on #5547
- What does actually happen when a Skill get to the HandOff?
When a skill gets to handoff, a Handoff EventActivity is raised, which will need to be handled by bot code.
- Does it silently not execute the handOff and returns control to the parent Bot?
The control stays with skill bot, and it raises a handoff event that can be handled by bot code to relay messages from human agent back to parent bot

[2021-05-12 20:40] #5547 closed

[2021-05-13 19:24] stevengum opened #5580 "ConfigurationBotFrameworkAuthentication should check for Configuration keys"
## Version
4.13.1

## Describe the problem
The ConfigurationBotFrameworkAuthentication looks for auth configuration values using keys that haven't been used before.
https://github.com/microsoft/botbuilder-dotnet/blob/39b7a60a5d3078ff7f06360a1242fa344c7f53e9/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/ConfigurationBotFrameworkAuthentication.cs#L38-L39

However, known keys fo

[2021-05-13 21:29] carlosscastro opened #5581 "SDK Adapters should pass the component configuration to constructor"
Currently, SDK adapters register their component using the full dependency injection approach, where IConfiguration gets passed by DI. The problem with this is that now the components receive a subsection of the IConfiguration, so the DI construction pattern cannot be used as-is. The solution is to register sdk adapter components as follows:

[code]

where `configuration` is the IConfiguration pas

[2021-05-13 21:57] carlosscastro opened #5583 "Component Model: Within a component Configure(), DI should use a scoped version of IConfiguration"
Currently if I have my component

[code]

'and app settings looks like this

[code]

The problem is that with the implementation above, things would fail. The IConfiguration registered in DI contains the entire appsettingsfile (+ any other layers from environment variables, key vault, etc). However, the configuration passed to components is limited to the component settings prefix, i.e. the "Test.

[2021-05-13 22:20] #5581 closed

[2021-05-13 22:21] stevkan commented on #5579
@BellaDunnett, I've checked this over several times with a colleague and the formatting of the stored value is actually correct providing the client being used is configured for the 'en-UK' locale, as well.

We tested in both Emulator (changing the locale to the above) and in Web Chat (setting the browser language to UK English). As long as the date entered conformed to the UK format (dd-MM-yyyy o

[2021-05-14 14:11] martinlarosa commented on #5519
@mdrichardson I added a PR so you can take a look at what I did hoping it would help.

[2021-05-14 15:39] taicchoumsft opened #5586 "Orchestrator: Linux c# build is broken"
## Version
4.13.1

## Describe the bug
Orchestrator Recognizer does not appear to load correctly on Linux (Ubuntu 20.10 clean install).

1)Libsentencepiece is missing
2)after resolving the above, we get api errors on the cli and bot crashes with `liboc_abi.so undefined symbol ortgetapibase`

We do not officially support 20.10 so I’ll test with 20.04 today just to be sure

## To Reproduce
Steps to

[2021-05-14 17:33] dmvtech commented on #5291
Fix is still in works for the recognizer. After that LUIS fixes will be implemented. I'll update as I hear more information.

[2021-05-15 07:44] marodev opened #5587 "Reduce technical debt - Use Null Conditional Operator (?.)"
Hello,

Walking through the codebase, I found a lot of if conditions to prevent a null reference exception. For example:

[code]

The goal is to refactor these and use the [Null Conditional Operator](https://docs.microsoft.com/en-us/archive/msdn-magazine/2014/october/csharp-the-new-and-improved-csharp-6-0) (?.)

Concretely, the above example would be refactored to:

[code]

Advantages:
- Clean: 2

[2021-05-17 08:28] BellaDunnett commented on #5579
Hey @stevkan thanks for looking into this. It makes sense that we need to change the locale!

[2021-05-17 08:28] #5579 closed

[2021-05-17 16:58] ninggao commented on #5578
@mrivera-ms Could you please take a look at this one?

[2021-05-17 17:14] Mamatha-MSFT commented on #5542
Hi @ahmetkocadogan - The bug has been resolved could you please try now.

[2021-05-17 17:17] ahmetkocadogan commented on #5542
Hello @Mamatha-MSFT  - I tried now and works as expected.

Thank you.

[2021-05-17 17:17] #5542 closed

[2021-05-17 17:31] italoaguiar opened #5589 "Resume a conversation on the Direct Line api with the User Id"
## Version
Bot Framework v4
DirectLine Api v3

## Describe the bug
I am trying to maintain a unique conversation id for each user of my system. Each user has their own conversation id. My bot uses proactive messages and needed to keep the history of the messages sent, so I use a single conversation id.

I currently request a token in the DirectLine api and save to database the created conversation

[2021-05-18 16:57] stevengum opened #5591 "PasswordServiceClientCredentialFactory.CreateCredentialsAsync() - incomplete behavior around appId param"
## Version
4.13.1

## Describe the bug
https://github.com/microsoft/botbuilder-dotnet/blob/ececa515fc05c331d4ceeeca4b2b031fee39958c/libraries/Microsoft.Bot.Connector/Authentication/PasswordServiceClientCredentialFactory.cs#L74-L84

The `appId` parameter isn't validated against the public member `AppId` in the CreateCredentialsAsync() call. Without specifying the password when creating an AAD App R

[2021-05-18 21:22] gmajian opened #5592 "add conversation id header in skill requests"
**Is your feature request related to a problem? Please describe.**
To have better performance the bot service would like to enable the per-conversation affinity when routing the requests to the bot serivice instance.  The routing gateway would not look at the payload of the request to figure out the conversation id, to have better perf, we would like to have the conversation id in HTTP header.

**

[2021-05-18 23:20] cwhitten commented on #5586
https://fuselabs.visualstudio.com/APUB/_git/oc/pullrequest/15888

https://fuselabs.visualstudio.com/APUB/_git/oc/pullrequest/15884

[2021-05-18 23:43] taicchoumsft opened #5593 "Child Recognizers hit twice in quick succession when interruptions are enabled in Child Dialog (Adaptive)"
## Version
4.13.1

## Describe the bug
When building a bot with Composer, and enabling interruptions for a text input in a child dialog, the child recognizer is hit twice in quick succession.  There is one more call to the parent dialog recognizer, making 3 network calls for the same query. The parent query is expected, but should the child dialog recognizer be queried twice?

Fiddler screenshot s

[2021-05-19 00:59] #5554 closed

[2021-05-19 15:11] sgellock commented on #5586
Shiproom - unbelievable

[2021-05-19 19:01] marodev commented on #5587
Hi @stevkan, any update on this issue? Would you still appreciate such a contribution described above?

[2021-05-19 23:14] #5586 closed

[2021-05-19 23:22] mdrichardson commented on #5589
Under "To Reproduce", how long are you waiting between steps 2 and 3? If over 30 minutes, [the token needs to be refreshed](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#secrets-and-tokens).

Regardless, I'm afraid that the User ID is only present [when creating the token](https://docs.microsoft.com/en-us/az

[2021-05-19 23:46] johnataylor commented on #5578
This is presumably the NumberInput class, basically the same code as the NumberPrompt. The underlying conversion (from utterance string to number) is actually done by the NumberRecognizer.RecognizeNumber() from the Text Recognizers package. I'll investigate further and see where the problem lies.

[2021-05-20 12:52] VictoriaKalakustava opened #5596 "Declarative bot: An error occur if I try to start bot which begin a parent dialog from a child."
## Version
4.13.2

## Describe the bug
An error occur if I try to start bot which begin a parent dialog from a child.

I have two .dialog files: MainMenu.dialog and DiscountProgram.dialog. I want to return back to MainMenu from the DiscountProgram but the bot failing on start. I sure that cause of the issue in this part because if I try to go to the second child from DiscountProgram, all works cor

[2021-05-20 17:20] v-kydela commented on #5596
Thank you for the report, @VictoriaKalakustava. I would like to help and I have a few questions.

1. Are you using Composer or are you writing your own bot code to load the declarative dialogs?
2. Can you provide some sample code to help us reproduce the problem?
3. What documentation have you followed to create these declarative dialogs?

[2021-05-20 17:30] chrimc62 opened #5597 "Improve code documentation for triggers"
**Is your feature request related to a problem? Please describe.**
Our code documentation for triggers is almost useless.  The reason is that they all generate a condition and each trigger exists to build that condition out of particular concepts, but the auto-docs shows all of the fields even though the trigger exists to fill them.  Take [`OnContinueConversation`](https://docs.microsoft.com/en-us

[2021-05-20 19:40] johnataylor commented on #5578
Numbers in Composer should support double or decimal precision. C# float is very limiting.

[2021-05-20 21:58] johnataylor opened #5598 "Add < remarks /> Documentation Comments to runtime construction."
The various extensibility and customization aspects of the runtime should be documented in the source code with < remarks /> Documentation Comments. This is best practice established by the ASP team. @carlosscastro

[2021-05-21 09:01] VictoriaKalakustava commented on #5596
1. I'm writing my own code. I downloaded composer and created the same scenario with it and everything is ok.
2. I'm ready to provide you a whole project or dialog files. Let me know what you need.
3. I just try to combine information and samples from here:
https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore
https://docs.microsoft.com/en-us/azure/bot-service/bot-bui

[2021-05-21 16:32] v-kydela commented on #5596
@VictoriaKalakustava - This is good information so far, and it will help us diagnose the problem.

I can tell you that the documentation link returns 404 because the document was taken down, and the document was taken down because a decision was made to discourage developers from using the adaptive/declarative libraries directly. Declarative dialogs are only meant to be handled by Composer behind

[2021-05-21 17:25] ninggao commented on #5596
@v-kydela Please keep helping the customer on this issue.

[2021-05-21 17:27] JonathanFingold opened #5599 "OnHandoffActivity should not be visible to Composer"
## Version
What package version of the SDK are you using: 4.13.2+ (nightlies)

## Describe the bug
The [OnHandoffActivity](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/Activities/OnHandoffActivity.cs) class surfaces the `handoff` _activity_, which should not be used. But, since this is surfaced in the SDK, Composer is c

[2021-05-23 21:30] mvelosop opened #5600 "Handle custom language policies per recognizer type (LUIS/QnA Maker) and for language generation"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
When creating multilingual bots with unsupported LUIS locales in Composer the recommended solution is to create a customized language policy and then use a tr

[2021-05-24 19:22] ghost opened #5610 "PUT method in Send an HTTP request error"
## Describe the bug

After testing various settings it appears to only happen when Body is set to some value.  I can also confirm that the same bot running on 1.4.0 does not have this bug.

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce th

[2021-05-24 19:55] dulfe opened #5602 "Slack Ephemeral messages do not work."
## Version
4.13.2 (Latest in NuGet as of 2021-05-24)

## Describe the bug
Setting EPHEMERAL in a ChannelData for Slack messages does not work (it does not get sent)

## To Reproduce
Steps to reproduce the behavior:

[code]

## Expected behavior
An ephemeral message should be send to SLACK (visible only to the user)

## Screenshots
Expected:

![image](https://user-images.githubusercontent.com/12144

[2021-05-24 20:04] EricDahlvang opened #5603 "Add classes for SkillManifest"
**Is your feature request related to a problem? Please describe.**
PVA and other consumers of https://github.com/microsoft/botframework-sdk/blob/main/schemas/skills/v2.1/skill-manifest.json currently need to create these classes themselves.

**Describe the solution you'd like**
SDK support for the skill manifest

[2021-05-24 20:04] dulfe opened #5604 "Slack DeliveryMode = Ephemeral does not work"
## Version
4.13.2 (Latest in NuGet)

## Describe the bug
Setting ```DeliveryMode``` to ```DeliveryModes.Ephemeral``` for Slack messages gets ignored and the message gets sent as normal.

## To Reproduce
Steps to reproduce the behavior:

[code]

Slack receives the message, but as "normal" instead of "ephemeral".

## Expected behavior
The message should be ephemeral. (visible only to the user)

## S

[2021-05-24 21:05] v-kydela commented on #5596
@VictoriaKalakustava - Are you still working on this?

[2021-05-25 00:29] mdrichardson opened #5606 "[Draft] bug: Adapters should work with skills [parent issue]"
# Draft

SkillHandler doesn't know how to hand off replies from the skill to the correct adapter when custom adapters (Slack, Facebook, etc) are used--it uses whichever BotAdapter is dependency-injected.

We could use some design planning about how to fix this.

Current idea is something along these lines, from @carlosscastro:

create an adapter that does the multiplexing internally, which means t

[2021-05-25 07:37] Clooney24 opened #5766 "Choice options separator should be multi language"
## Describe the bug

I run a multi language composer bot but in User Input control, I only can set a single language text for inline separators.

## Version

Version:  1.4.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to reproduce the behavior:

1. Run a multi language bot
2. Create a user input
3. try to use multi language separators in

[2021-05-25 14:13] Reeso1983 opened #5607 "GetBlobName in BlobsStorage.cs encodes the forward slashes so that it doesn't create folders in storage."
## Version
4.11.1

## Describe the bug
GetBlobName in https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Azure.Blobs/BlobsStorage.cs encodes the forward slashes so that it doesn't create folders in storage, e.g. "directline%2fconversations%2f29jyvjMUwEPBUApd5H5MRd-c"

## To Reproduce
Set up blob storage for use with state. Start a conversation. See json file a

[2021-05-25 15:25] jwiley84 commented on #5604
Hi @dulfe

I'm going to close this issue so it can be tracked in only one place (#5602).

[2021-05-25 15:25] #5604 closed

[2021-05-25 17:45] Stevenic commented on #5576
Our current proposal is to enable string interpolation for every `StringExpression` property within our system.  This will let developers contextually call LG templates from not only `SetProperty` but from any field that accepts a string.

[2021-05-25 17:45] Stevenic commented on #5576
Our current proposal is to enable string interpolation for every `StringExpression` property within our system.  This will let developers contextually call LG templates from not only `SetProperty` but from any field that accepts a string.

[2021-05-25 20:26] mdrichardson commented on #5589
@italoaguiar Do you still need assistance with this? Issues need to stay active to keep them open.

[2021-05-25 20:41] fabio-muramatsu opened #5608 "Bot framework throws memory scope exception after 4.13"
## Version
4.13.2

## Describe the bug
We've started hitting an error when upgrading the bot framework SDK from 4.12.2 to 4.13.2. The error looks like the following:

[code]

This error gets thrown before it hits the root dialog of our bot, which is written using adaptive dialogs.

## To Reproduce
Comparing the code of our bot with the [MultiTurnPromptBot](https://github.com/microsoft/BotBuilder-S

[2021-05-25 20:49] KoradaRajesh opened #5611 "Maxturn count getting increase while interruption in composer prompts"
In side promts if we are allowing interruptions and setting maxturn count to 2 and if user message is interrupted twise in the same prompt and the maxturn count is increasing to 2 and the flow getting exit from the prompt.

So is there any way not to increase the maxturn count in promts while interrupting.

[2021-05-25 20:57] italoaguiar commented on #5589
Thank you @mdrichardson . I solved the problem by recording the user id in the cosmosDb used by the bot.

But this is a valid suggestion for improvement to token api.

[2021-05-25 20:57] #5589 closed

[2021-05-25 23:21] fabio-muramatsu opened #5609 "SetProperty throws in adaptive dialog for values starting with ="
## Version
4.13.2

## Describe the bug
The Bot Framework throws when calling SetProperty in an adaptive dialog and the value starts with `=`. The exception thrown looks like the one below:

[code]

## To Reproduce
1. Start from the [multi-turn prompt bot](https://github.com/microsoft/BotBuilder-Samples/tree/901bc140f5aa300fbfa852e64afd7c65fceebff9/samples/csharp_dotnetcore/adaptive-dialog/01.multi

[2021-05-26 16:32] carlosscastro commented on #5600
Thanks for your detailed explanation @mvelosop . I'm doing some experiments with this and will get back at you shortly.

[2021-05-26 16:39] carlosscastro opened #5612 "Declarative: OnCondition does not get loaded"
This happens because OnCondition is registered both as a Kind and through an InterfaceConverter (becase it;s used as a base class for dynamic polimorfism).

Repro steps: create any declarative file that has an OnCondition, and you'll get a null result.

Because of this, InterfaceCoverter gets selected by the json serializer to load the OnCondition, and it realizes it is a kind, so it calls the jso

[2021-05-26 16:42] mvelosop commented on #5600
Thanks @carlosscastro just let me know if you need any more info or details 😊

[2021-05-26 17:21] mvelosop commented on #5600
@carlosscastro I can invite you to a private repo in GitHub where you can see the working middleware solution, and the unsuccessful attempt, is that OK?

[2021-05-26 17:46] carlosscastro commented on #5600
Absolutely, feel free to invite me or send me a zip, whichever works better for you

[2021-05-26 18:08] mvelosop commented on #5600
You should 've received the invitation already.

[2021-05-26 18:10] mdrichardson commented on #5607
[Duplicate](https://github.com/microsoft/botbuilder-dotnet/issues/5165). Unfortunately, not something we can fix at this time as it would break backward-compatibility.

[2021-05-26 18:10] #5607 closed

[2021-05-26 18:22] ryanlengel commented on #5608
#5609 uses the same sample

[2021-05-26 21:33] dmvtech commented on #5291
Still waiting on fixes for Recognizers and LUIS.

[2021-05-26 21:49] johnataylor commented on #5608
Can you provide a few more details about what you are doing here?

As I understand it you are following the Adaptive code samples not the regular samples? is that correct?

I should point out up front that it is not recommended best practice to create Adaptive Dialogs with code. The recommended route is to use Composer. Our samples showing the ability to create Adaptive Dialogs from code are reall

[2021-05-27 00:05] fabio-muramatsu commented on #5608
After chatting with @johnataylor, it seems like the direction this is going is away from global registrations and instead using DI. Comparing our IBot code with AdaptiveDialogBot, there are missing pieces that we may want to converge, and hopefully this will fix our original issue. I'm closing this for now.

[2021-05-27 00:05] #5608 closed

[2021-05-27 12:25] karrimrabibiomni opened #5614 "Microsoft.Bot.Builder.Dialogs.Debugging.SourceMap Memory Leak"
## Version
Botbuilder sdk 4.13.2

## Describe the bug
When using the .net bot builder sdk the dialog debugging source maps are constantly being added to Microsoft.Bot.Builder.Dialogs.Debugging.SourceMap.Instance but nothing is clearing it down.  Due to it being a static it will never get handled by GC.

## To Reproduce
Steps to reproduce the behaviour:
1. put a break point in an OnTurnAsync
2. Ins

[2021-05-27 17:40] gabog commented on #5328
@boydc2014 / @boberg-ms, would removing the json string (args[0]) in the line @EricDahlvang pointed out above satisfy the requirement?

I think we are oversharing in our error message and rendering the json may not be ideal (it could also be a large object).

Looking at the native message from JsonReaderException, I think we can just return the err.Message property which will look like:

![image](

[2021-05-27 18:20] mdrichardson opened #5615 "AdaptiveExpressions `bool()` only converts `null`"
[The docs](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#bool) state that at least `1` and `0` should convert to true/false, respectively.

![image](https://user-images.githubusercontent.com/40401643/119877181-8c8c8000-bedd-11eb-9536-c48bf23a3c2f.png)

[2021-05-27 22:56] stevkan commented on #5602
@dulfe, thank you for your patience while I looked into this. It does appear that there is some sort of issue. It took a bit to get the correct configuration, but with the help of the '[Tester](https://api.slack.com/methods/chat.postEphemeral/test)' on their documentation page I was able to successfully send an ephemeral message to the Slack channel I and my bot were in. Using the same properties

[2021-05-27 23:44] JonathanFingold commented on #5596
I've just fixed the redierction so the deleted article URL should now take you to the Composer doc set, instead of generating a 404, which should never have happened in the first place.

[2021-05-27 23:47] dulfe commented on #5602
@stevkan, before I even looked a Bot Builder, I was researching Slack's "Bolt for Javascript" and I "talked" with Slack Developer Support about ephemeral messages, they gave me a "sample" code for it which only has 3 fields in it.

**Sample:**
[code]

So I am guessing their "docs" are a little out-of-date :)

Thank you for looking into it.

[2021-05-27 23:48] JonathanFingold commented on #5596
@VictoriaKalakustava PS. There is some preliminary documentation on how to extend a Composer bot project here:
- [Create custom actions](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions)
- [Create custom triggers](https://docs.microsoft.com/en-us/composer/how-to-create-custom-triggers)
- [Creating packages](https://docs.microsoft.com/en-us/composer/how-to-create-packages)

[2021-05-28 01:29] boydc2014 commented on #5328
This would probably satisfy the requirement of sanitizing the information, but as customer said above, in some case, they still need the full information.  I'm not sure, @boberg-ms what do you think?

[2021-05-28 02:27] Danieladu commented on #5615
@chrimc62 has changed the logic to : Make booleans be false if expression is null or error and otherwise be true for non-boolean values or the actual boolean value.
But the document has not been updated.
So, do we need to modify the doc or need to modify the code logic here?

Reference:
https://github.com/microsoft/botbuilder-dotnet/commit/effd01fb736a9ea8f794d3453286bfbe4ee72253

[2021-05-28 16:24] v-kydela commented on #5596
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2021-05-28 16:24] #5596 closed

[2021-05-30 19:06] carlosscastro commented on #5600
Hello @mvelosop! A few follow ups.

You mentioned above

The new component model that we are just releasing makes it so that code dialogs, recognizers and triggers are usable in composer and viceversa. So you can create your own recognizer in composer and not only consume it yourself in composer but if you wanted to, share it in a package if you want other folks to consume it.  You could create a

[2021-05-31 08:29] mvelosop commented on #5600
Hi @carlosscastro,

Thanks for the info, will check on the new component model, I guess that means migrating to composer 2.0, right?

About the LG custom language policy, what I did, roughly, was creating a specialized  MultilanguageGenerator and repplacing the new one on the explorer registration with a hard coded policy just as a POC, but couldn't make it to work.

I also tried using a custom re

[2021-06-01 14:07] boberg-ms commented on #5328
Yes, I think this would solve the issue for us.

[2021-06-01 18:37] johnataylor commented on #5614
@mrivera-ms can you take a look? thanks

[2021-06-01 18:43] johnataylor commented on #5611
@mrivera-ms any update on this?

[2021-06-01 18:49] johnataylor commented on #5610
@mrivera-ms looks like there might be an issue to investigate here.

[2021-06-01 19:08] johnataylor commented on #5578
@boydc2014 do you have any update on this?

[2021-06-01 19:46] clearab commented on #5202
I like the idea of making this a component to give developers additional control to turn this on/off. As a component, you could easily include it in dev/test environments, but not deploy to your production environment.

[2021-06-01 20:19] tracyboehrer commented on #5207
Will need to only do this as a default if appsettings does NOT have something specified.  Reason is, the bot could be behind a load balancer, or some other advanced config, and the above code will not work.

[2021-06-01 20:44] tracyboehrer commented on #5077
The related issue for this is how to enable in Runtime: https://github.com/microsoft/botbuilder-dotnet/issues/5202

One option is to also provide a BotComponent that could be added to Runtime (as a component) in a appsetting.development.  Though I suppose it could be baked into Runtime via the "runtimeSettings.features" node in appsettings, and it also be a development setting.

[2021-06-02 04:22] QaisAlkhateeb commented on #5469
Dears,

Just want to inform you that we upgraded the Bot to latest version and the workaround is working,

Thanks for your support

[2021-06-02 04:47] QaisAlkhateeb commented on #5071
As a chatbot developer I need to mention an issue if the Bot will Always Interrupting the Prompts if it's Unkown, this will cause us an issues in cases that we prompt user to enter free text (like feedback, ticket number, some data checked by backend code) in this scenarios the chatbot will always interrupt and fallback to Unkown

[2021-06-02 05:50] QaisAlkhateeb opened #5624 "Replace Dialog Action Not Working"
## Describe the bug

Replace Dialog action not working and throws the following error:
DialogContext.BeginDialogAsync(): A dialog with an id of ‘SecondDialog’ wasn’t found. The dialog must be included in the current or parent DialogSet. For example, if subclassing a ComponentDialog you can call AddDialog() within your constructor.

![image](https://user-images.githubusercontent.com/25031218/120430

[2021-06-02 19:05] chrimc62 opened #5619 "Change ForEach.ItemsProperty to allow any expression"
## Is your feature request related to a problem? Please describe.
As seen in this customer issue it is nice to be able to loop over a computed array and not just a property name.  https://github.com/microsoft/BotFramework-Composer/issues/7975

## Describe the solution you'd like
Switch ItemsProperty to a general expression from just a string expression.  This would allow computing an array when ne

[2021-06-02 19:09] chrimc62 commented on #5316
This has more details on how to do this. https://github.com/microsoft/botbuilder-dotnet/issues/5619

[2021-06-02 21:57] EricDahlvang opened #5620 "Upgrade Microsoft.Recognizers to 1.7.0"
The sdk is on 1.2.9.  There's been many improvements and fixes since: https://github.com/microsoft/Recognizers-Text/tree/master/.NET

Testing revealed these differences, which are bug fixes:
[Microsoft.Bot.Builder.Dialogs_DateTimeModel_ResultsDateTimePrompt_Error.txt](https://github.com/microsoft/botbuilder-dotnet/files/6587587/Microsoft.Bot.Builder.Dialogs_DateTimeModel_ResultsDateTimePrompt_Erro

[2021-06-02 22:06] clearab commented on #5467
This is being tracked by the Teams group here: https://github.com/MicrosoftDocs/msteams-docs/issues/3250

[2021-06-02 22:06] #5467 closed

[2021-06-03 04:18] #5328 closed

[2021-06-03 04:31] mrivera-ms commented on #5261
@johnataylor, is this issue to be resolved in R14?

[2021-06-03 04:34] mrivera-ms commented on #5229
@johnataylor, is this to be done in R14?

[2021-06-03 05:00] mrivera-ms commented on #5614
This seems to be a duplicate of #5469. @karrimrabibiomni, could you please see the referenced issue for a workaround? Thank you.

[2021-06-03 05:01] mrivera-ms commented on #5469
@carlosscastro, is this issue to be resolved in R14?

[2021-06-03 05:02] mrivera-ms commented on #4807
@gabog, @carlosscastro, please confirm if this is in scope for R14. Thank you.

[2021-06-03 05:11] mrivera-ms commented on #4768
@Jeffders, @darrenj, please see the request above. Thank you.

[2021-06-03 05:14] mrivera-ms commented on #5612
@carlosscastro, is this in scope for R14?

[2021-06-03 05:19] mrivera-ms commented on #5555
@daveta, @tsuwandy, could you please confirm this is to be complete in R14? Thank you.

[2021-06-03 06:05] boydc2014 commented on #5578
Sorry for the late response and thanks for the investigation above which is quite helpful.  The most straightforward fix to me is to change the default float to double, does that make sense to you?

I agree that the best treatment might be, as you said, keep it string until we really have to calculate, but the impact would be very big.

[2021-06-03 13:10] gabog commented on #4807
@mrivera-ms, I don't think there's enough time to address this in R14, I would move it for R15.

[2021-06-03 17:31] clearab opened #5622 "Teams - get meeting details (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6304)

[2021-06-03 17:38] clearab opened #5623 "Teams - meeting start/end events (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6305)

[2021-06-03 18:17] johnataylor commented on #5611
@Stevenic can you comment, thanks

[2021-06-03 20:46] Stevenic commented on #5611
Sounds like a bug. We should look at the ContinueAsync method and make sure that turn count is only incremented if turn.interrupted is set to false.

[2021-06-03 20:50] johnataylor commented on #5611
@KoradaRajesh thanks for reporting this bug.

@Stevenic thanks for taking a look, much appreciated. I'll assign to R14 and @mrivera-ms can see if it fits.

[2021-06-03 21:20] tsuwandy commented on #5555
@mrivera-ms, @EricDahlvang  this feature is nice to have for all recognizers and not just OrchestratorRecognizer.   Since R14 is a short release, can we move this to R15?

[2021-06-03 23:38] johnataylor commented on #5609
The AdaptiveDialog stack relies on MemoryScopes. 4.13 introduced a change where these were no longer global variables. The impact of this fix was handled in the regular Adaptive Dialog execution (meaning starting from JSON in a ResourceProvider) however these "code-first" samples haven't been updated to address that.

As they are the samples depend on 4.12 and shouldn't have been updated to 4.13 b

[2021-06-04 00:50] fabio-muramatsu commented on #5609
I think we had an extensive conversation about this story about using composer vs writing adaptive dialogs in code directly, so I won't go into it. Are you saying that the fact that the bot throws for a specific input can be explained by a missing memory scope? I should just add that this also repros in 4.12.

[2021-06-04 01:03] johnataylor commented on #5609
No you're right. I'm just debugging it right now

[2021-06-04 01:05] johnataylor commented on #5609
OK good to know. This is nothing to do with the change we did in 4.13. In fact when I run this sample as is it seems to be OK in 4.13. (It wouldn't be OK if it did more - it depends - that fragile nature of it was a big part of what we were fixing.)

[2021-06-04 01:06] johnataylor commented on #5609
does this happen if you generate the same logic but use composer?

[2021-06-04 02:12] johnataylor commented on #5609
OK so you say this is not a regression - you see this behavior in 4.12

 I can repro this using JSON so this is not special to code-first construction, here is my JSON version:

[code]

As @fabio-muramatsu describes, given this flow you can get the following error, if you type in something that might be interpreted as an expression, for example, try typing "=abc" and you get an exception "Value ca

[2021-06-04 02:16] johnataylor commented on #5609
This looks like a bug @boydc2014 can you take a look? User entered data can be interpreted as executable expression. Note this exception might surface differently depending on how you set up the runtime. In my test code I simply used AddBotRuntime() directly in the startup.cs.

@fabio-muramatsu as you are constructing everything in code, you can try a workaround of the issue with custom code to fi

[2021-06-04 07:09] boydc2014 commented on #5609
Yes, @johnataylor. So after digging into it, besides the error message is confusing, this behavior is by design. The context is, per customer's feature request, in https://github.com/microsoft/botbuilder-dotnet/pull/4291/files, we make this SetProperty's "value" field a "deep data binding" field, which is basically saying, we will look into the evaluated result and keep trying to do data binding i

[2021-06-04 23:49] Zerryth opened #5626 "[Part 2] [Unit Tests - Code Coverage]: Microsoft.Bot.Schema.Teams"
Part 2 of 8: Increase code coverage for `Microsoft.Bot.Schema.Teams`.
___
See parent issue: Unit test coverage improvement needed #5167

Per Monica, creating separate issues for each package.

[2021-06-05 00:52] mrivera-ms opened #5627 "Enable PVA as a Skill"

[2021-06-05 01:18] mrivera-ms commented on #5077
Assigned to @tracyboehrer per conversation with @gabog. This item is in scope for R14.

[2021-06-05 17:47] tracyboehrer commented on #5202
#5077 has a PR.  That PR just moves this middles out of Adaptive.Testing (preview) and into Bot Builder.

This issue will need to resolve how to make it available to runtime.  I am leaning somewhat to adding a feature flag.  There is an issue of where to put the BotComponent if we want to go that route.  In either case, this middleware could be enabled in appsettings.development.json to avoid it b

[2021-06-05 18:44] clearab commented on #5202
This definitely needs to be configurable - distributing as a package seems like a good way to accomplish that. If we want to leave it in the SDK, we'll need to make Composer UI changes to provide a toggle on the settings page, and update the CI/CD guidance to recommend using a JSON transform to disable it before deploying to production.

[2021-06-05 18:45] clearab commented on #5077
A Microsoft.Bot.Component.Testing package that contains both?