[2019-12-11 09:09] boydc2014 commented on #2983
@xieofxie we don't support fine-grained language-fallback for specific template inside a particular file.  We support language-fallback at file level.

The concern around enabling such a fine-grained language fallback is not just the cost to implement, but also a more complex and more confusing model brought by this level of flexibility.

Regarding you case, if you want to make a language variatio

[2019-12-11 10:10] xieofxie commented on #2983
@boydc2014 So if I have `replies.en.lg` and it imports `helpers.en.lg`. When I need to specialize one function f for en-us, I could separate them like `helpers(without f).en.lg`, `f.en.lg` and `f.en-us.lg`. Then others do not need to be copied. Do I understand correctly? Thanks

[2019-12-11 23:59] vishwacsena commented on #2785
We should consider support for interpolation in core expressions and not just in LG. This is per ask from adaptive cards integration.

[2019-12-12 01:02] #2915 closed

[2019-12-12 03:55] boydc2014 commented on #2983
This is the suggested hierarchy of your lg files, given the current implementations

/-shared
 replies.lg  // in which you [import]()
 helpers.lg // in which you [import](f.lg)

/-en_us
dialogA.en_us.lg  // here is the entry, you import replies.lg if you want to share replies.lg
f.en_us.lg  //here is somethings you want to specilize

/-zh-ch
dialogA.zh_ch.lg  // here is the entry, here you import

[2019-12-12 07:06] xieofxie commented on #2983
Thanks for the explanation~
So dialogA uses `"generator": "dialogA.lg"` and lg could be organized as:

/-shared
shared.lg // `[import](special.lg)`
special.lg
/-en
dialogA.en.lg // `[import](shared.lg)`
shared.en.lg // `[import](special.lg)`
special.en.lg
/-en_us
dialogA.en_us.lg // `[import](shared.lg)`
special.en_us.lg
/-en_gb
dialogA.en_gb.lg // `[import](shared.lg)`
special.en_gb.lg
/-zh
dialo

[2019-12-12 07:06] #2983 closed

[2019-12-12 08:32] xieofxie commented on #2959
For multiple QnAs, will it be List<KBRecognizer> in AdaptiveDialog or introduce a MultiKBRecognizerRecognizer? Thanks~

[2019-12-12 09:27] lsoliveira opened #3135 "Dialog timeouts"
## User Story
*As a* developer
*I want to* have dialogs timeout if the user/skill does not reply after a certain period of time
*so that* I can support channels on which voice interaction is preferred and lower the cognitive load on the user

## Acceptance Criteria
- [ ] In typical voice first scenarios, if the user did not reply after a certain period of time, then the dialog will not make sense

[2019-12-12 21:11] stevkan commented on #3105
@rajeshyalamarthi, can you post the JSON from your `rootDialog` file? And, what are you using as a reference for how to integrate adaptive dialogs into your project? Lastly, which version of the two packages are you using?

[2019-12-13 00:01] DDEfromOR opened #3131 "Allow developers to configure a maximum idle time for WebSocket connections."
**Describe the solution you'd like**
Users would like a method of setting a maximum time to live for WebSocket connections that are sitting idle but not yet closed. This would also require a mechanism to track the last time connections were active, and a process to periodically check for expired connections and close them.

[enhancement]

[2019-12-13 00:50] #3100 closed

[2019-12-13 03:44] xieofxie opened #3134 "[LG] can't use nested foreach/where"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Current master.

## Describe the bug
Nested foreach is not supported: `join(foreach(doubleNestedItems, items, join(foreach(items, item, concat(y, string(item

[2019-12-13 21:14] nimbusparis opened #3137 "AzureBlobStorage dependencies"
## Version
4.7.0
## Describe the bug
The implementation of AzureBlobStorage use `Microsoft.WindowsAzure.Storage` instead of `Microsoft.Azure.Storage` that cause strange issues while inherit. I didn't find any other solution than cut-past the source to implements my own version of AzureBlobStorage

## To Reproduce
Try to inherit a class from AzureBlobStorage

## Expected behavior
Can inherit AzureB

[2019-12-13 23:38] vishwacsena commented on #2959
@tomlm @chrimc62 - Updated based on our discussion today. Please take a look.

[2019-12-14 00:58] #2501 closed

[2019-12-14 15:54] sgellock commented on #3117
@Adityagrao thanks for opening the issue.  the team is discussing the use of CosmosDB to provide this.  we don't have a final design, and we haven't made a call as to where this would fit on our roadmap.  I've added it to our backlog.  please engage further if you'd like.

[2019-12-14 18:07] cwhitten opened #3139 "DCR [Adaptive] - Providing a "disabled" indicator in Actions"
BF Composer is beginning to scope a feature to select a series of contiguous actions intending to "skip" them in the runtime execution as a debugging feature: like "commenting-out" a series of instructions for testing purposes.

The intent of this DCR is to discuss serializing a new field into actions and triggers to encode this into the asset directly as an alternative to solving this in the appl

[2019-12-14 23:16] sgellock commented on #3135
We've looked at this about a year ago and it's not something we can implement consistently across channels.

[2019-12-14 23:16] #3135 closed

[2019-12-15 16:16] dkonyayev opened #3141 "Operation returned an invalid status code 'BadRequest'"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Latest v4 SDK

## Describe the bug
I am using a simple Adaptive Card to display an image using base64 encoded image value. It works fine on my local workstat

[2019-12-15 16:18] dkonyayev commented on #3141
[card-image.txt](https://github.com/microsoft/botbuilder-dotnet/files/3965138/card-image.txt)
![rsa1](https://user-images.githubusercontent.com/15344498/70865521-a6761500-1f2c-11ea-9ba1-8167e1685e55.png)

[2019-12-15 22:46] tomlm commented on #3139
Perhaps **disable: true**?

[2019-12-15 22:46] tomlm commented on #3139
related is $comment

[2019-12-16 07:36] Danieladu opened #3142 "Support LG output directly in ActivityFactory"
Currently, if we weant to convert lg output to an Activity, we should stringfy the output. It is strange. So, the direct lg output format should be supported in ActivityFactory.

Originally,
[code]

After fix, the step2, stringfy step, chould be omitted. And user can use it directly:
[code]

[2019-12-16 08:42] #3142 closed

[2019-12-16 13:03] AmolPawarGitHub opened #3145 "Microsoft BOT Framework BOT is stopped working intermittently"
I am facing intermittent issue in BOT.

I have two bots which are written using c# and BOT Framework V4 and both are same and are hosted on IIS.

Also i have hosted two WebChat Node.js applications and both are same.

I have two different Azure registration for two bots.

One bot is constantly throwing issue and it stops working intermittently. Then we have to recycle its application pool to make

[2019-12-16 15:54] garypretty opened #3146 "Expose BotIdentityKey via BotAdapter (move from BotFrameworkAdapter)"
The 'BotIdentityKey' const needs to be moved from BotFrameworkAdapter to BotAdapter, to ensure it is available to the customer adapters, which inherit BotAdapter and use it as part of ContinueConversationAsync for Skills.

As well as moving the const, following a discussion with @gabog, we think it would be useful to make the const public as it could be useful for any paths which might require acc

[2019-12-16 15:57] garypretty opened #3147 "Update custom adapters for skills compatibility"
The custom adapters for Twilio / Webex / Facebook and Webex require the addition of another ContinueConversationAsync method to ensure compatibility with skills.

[2019-12-16 16:08] garypretty commented on #3097
@scheyal Providing the root dialog has its TelemetryClient set, any child dialogs added to it using AddDialog will have their TelemetryClient set automatically, so you shouldn't need to set it as outlined above.

[2019-12-16 17:37] mdrichardson commented on #3145
@AmolPawarGitHub

I haven't seen this error before, so this will be difficult to troubleshoot, but let's see what we can do.

1. What is your appId?
2. You say that you have two C# bots and this is only occurring on one of them? There are no code differences between them? What about load/user differences?
3. Your Bot Framework packages are now ~10 months old. If you update them, does this fix your

[2019-12-16 17:47] mdrichardson commented on #3137
@nimbusparis What issues do you experience when creating a class that inherits from `AzureBlobStorage`? Can you copy/paste your code?

[2019-12-16 18:04] nimbusparis commented on #3137
The class that inherit AzureBlobStorage:
[code]

`Microsoft.WindowsAzure.Storage.CloudStorageAccount` cannot be found, in package `Microsoft.Azure.Storage.Azure.Common`, the class `CloudStorageAccount` is defined in namespace `Microsoft.Azure.Storage`. Since my project is in dotnet core, I think the namespace shouldn't be anything from Windows.

[2019-12-16 18:10] mdrichardson commented on #3137
@nimbusparis I see. However, if you use `Microsoft.WindowsAzure.Storage.CloudStorageAccount` as you have above, it works, correct?

You'd just prefer that `AzureBlobStorage` switches over to the `Microsoft.Azure.Storage` packages?

[2019-12-16 18:21] nimbusparis commented on #3137
I already use Microsoft.Azure.Storage.Common package for other part of my bot and if I add `Microsoft.WindowsAzure.Storage` package, I got other errors: CS7069 while calling base constructor.

[2019-12-16 18:26] mdrichardson commented on #3137
@nimbusparis I see. The issue, then, is that the packages have duplicate assembly names so you can't use both in the same project.

In that case, your options are to:
1. Only use `Microsoft.WindowsAzure.Storage` in your project, or
2. Wait until [this PR](https://github.com/microsoft/botbuilder-dotnet/pull/3149) is merged and released (Likely for v4.8 in January--if at all), or
4. Use the `AzureBl

[2019-12-16 18:31] nimbusparis commented on #3137
Thank you for the PR, I can wait for next release for this, thank you for the scheduled change! 👍

[2019-12-16 19:12] v-kydela commented on #3141
@dkonyayev - I would like to help but I have a few questions:

1. What channel are you using?
2. Have you tried connecting that channel to a locally-running bot using a tunneling service?
3. What specific error is being reported?

This could easily be a matter of the attachment being too large.

[2019-12-16 19:33] dkonyayev commented on #3141
@v-kydela Hi, here's the answers to your questions

1. Bot is running fine in local development environment with Bot Emulator. It fails on Azure App Service with DirectLine as channel. The error on happens on backend code so I am not sure if it's really channel related.

2. I cannot use tunnelling service in our environment.

3. Here's the error. Once I replaced the URL with actual URI instead of

[2019-12-16 20:09] maximicciullo commented on #3105
Hi, I've the same problem as @rajeshyalamarthi mentioned.

[2019-12-16 20:29] v-kydela commented on #3141
@dkonyayev - I've confirmed that the message is too big for Direct Line. The limit is 262144 bytes. If you want to embed an image in a Direct Line message, it needs to be smaller. Does this resolve your issue?

[2019-12-16 21:24] vishwacsena commented on #3105
@rajeshyalamarthi @maximicciullo - are either of you able to zip and share your sample integration? Also there is a declarative echobot sample [here][1] (In case you have not checked this out).

[1]:https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/adaptive-dialog/declarative/10.EchoBot

[2019-12-16 21:29] dkonyayev commented on #3141
@v-kydela It doesn't resolve my issue but it does explain it. Thanks!

[2019-12-16 21:29] #3141 closed

[2019-12-16 23:32] mdrichardson commented on #3137
@nimbusparis You're welcome. I'm not sure if this PR will go through or not, however, I believe it would be a breaking change for anybody already inheriting from `AzureBlobStorage`. I'm not sure if there's an easy/good way to make this work backwards-compat.

[2019-12-17 00:08] mdrichardson commented on #3137
@nimbusparis I looked into this more and asked around to folks more knowledgeable than I, and that PR makes an unfixable breaking change: https://github.com/microsoft/botbuilder-dotnet/pull/1711#issuecomment-502243167

Feel free to use it yourself, but I don't believe that's something we'll fix in a release; we'd need to make an additional class for it.

[2019-12-17 00:08] #3137 closed

[2019-12-17 00:31] lzc850612 opened #3152 "[Parity] Support providing additional credentials for OAuth flow"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

This issue is to track the parity work for this item #3034 on JS and Python. The PR has been merged for C#: #3035

**Is your feature request related to a problem? Please describe.**
A clear and concise description o

[2019-12-17 02:34] maximicciullo commented on #3105
Hi @rajeshyalamarthi,

Attached is the zip file of the sample integration using **BotBuilder Sample** [(this one)](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/19.custom-dialogs/README.md) and also using a template example of **Bot Framework Composer**.

You can find into the project a directory called **composerDialogs** that contains the **Main.dialog** f

[2019-12-17 06:36] #2966 closed

[2019-12-17 18:37] arturl opened #3154 "Bots created using Azure Portal bot create flow cannot change the credentials provider"
## Version
4.7.0

## Describe the bug
If you create a bot from the template in Azure Portal, changing its credentials provider by setting the `ICredentialProvider` singleton doesn't work.

## To Reproduce
Steps to reproduce the behavior:
1. Go to Azure Portal and create a new web app bot
2. Download source

Define a new credentials provider, for example:

[code]
3. Set it as the default credential

[2019-12-17 19:32] NickEricson opened #3155 "Add CancellationToken to WebSocketClient::ConnectAsync"
Here

https://github.com/microsoft/botbuilder-dotnet/blob/86d67b989c331fadc8f54efccf081586fc643c9a/libraries/Microsoft.Bot.Streaming/Transport/WebSocket/WebSocketClient.cs#L106

The cancellation token should be taken in the ConnectAsync methods and passed through to the underlying transport layer. ConnectAsync invokes code in the bot which could take a long time and should be cancel-able.

[enhanc

[2019-12-17 20:28] EricDahlvang commented on #3154
This will probably be addressed by this DCR:

[DCR: Reduce BotFrameworkAdapter constructor complexity through single, extensible BotFrameworkAdapterOptions parameter](https://github.com/microsoft/botbuilder-dotnet/issues/2972)

[2019-12-17 21:18] chrimc62 opened #3156 "Declarative support for LUIS dynamic lists and external entities"
LUIS supports both dynamic lists and external entities which are not accessible through the declarative system.  In order to support this:
1) Add dynamicList as a property to the LUIS recognizer.  It should take an expression which evaluates to an object like this: { <entity>: [ {cannonicalForm: <string>, synonyms: [<string>, ...]}, ..], ...} that is passed to LUIS.
2) Add the ability to specify a

[2019-12-18 09:45] #3134 closed

[2019-12-18 11:15] MaxMueller0815 commented on #1906
Hi,
In which sample?
The experimental (https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/qnamaker-prompting/csharp_dotnetcore) is with cards that cut the text of messages with promts.
<img width="379" alt="text cut" src="https://user-images.githubusercontent.com/4562396/71079679-00c0e100-218c-11ea-8253-2b82679881b7.PNG">

Can you handle the wrap of the text in heroCard?

Oth

[2019-12-18 11:28] MichaelBuczek commented on #1906
Max,
There is a “wrap” property:
[cid:image003.jpg@01D5B59E.A110A320]

Just use that. It’s also accessible in code, if that’s what you need. Good luck!

Kind Regards,
Michael

[hel logo flerfärg]
Skype: michael.buczek@brainless.se<mailto:michael.buczek@brainless.se>
+46 790 763 261

From: Max Müller <notifications@github.com>
Sent: den 18 december 2019 12:16
To: microsoft/botbuilder-dotnet <botbui

[2019-12-18 11:31] MaxMueller0815 commented on #1906
I tried sample 49.qnamaker-all-features
Maybe i made i mistake before.
now the prompts are displayed correctly!
<img width="446" alt="correct" src="https://user-images.githubusercontent.com/4562396/71082931-41bbf400-2192-11ea-9f71-4bc7149c2528.PNG">

Maybe this will help someone.

[2019-12-18 11:35] MaxMueller0815 commented on #1906
@MichaelBuczek

It seems the wrap property is only available in AdaptiveCards:
https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-format

Thanks!

[2019-12-18 19:13] #2322 closed

[2019-12-18 19:19] vishwacsena commented on #2363
dialogStateManager.getPathValue<type>() will return a strong typed representation of the value held by the property path.

[2019-12-18 19:19] #2363 closed

[2019-12-18 19:39] vishwacsena commented on #2385
Decision for R8
- Property (emitTrace with expression as value) for all actions that emit a trace when the action is executed

Emulator [?]:
- DialogState inspector
    - Trace output was a bit more structured and promote dialogState up if available in a trace
    - Add ability to eval expressions against dialog state

[2019-12-18 19:46] vishwacsena commented on #2394
Implemented in latest master

[2019-12-18 19:46] #2394 closed

[2019-12-18 19:51] #2604 closed

[2019-12-18 19:56] vishwacsena commented on #2804
Presume you are unblocked. please comment here if otherwise and i will reactivate.

[2019-12-18 19:56] #2804 closed

[2019-12-18 20:04] vishwacsena commented on #2913
Add a property `label` to TraceActivity action and include that as the label in the trace. Default value is `Trace`.

[2019-12-18 20:08] vishwacsena commented on #2967
We should just do elt.index and elt.value

[2019-12-18 20:31] vishwacsena commented on #3089
@Stevenic - thoughts? Seems like a good idea.

[2019-12-18 20:35] vishwacsena commented on #3139
`disabled : @{expression}`. Apply this to actions

[2019-12-19 01:01] v-kydela commented on #2548
@cleemullins - Has anyone looked at this?

[2019-12-19 01:02] v-kydela commented on #2449
@gabog - Have you looked at this?

[2019-12-19 02:43] mindncz opened #3161 "Importance flag not working in Teams"
Version: .NET SDK 4.7

Setting Importance flag in Activity not work in Teams.
` var activity = turnContext.Activity.CreateReply("Test Importance"); `
` activity.Importance = "high" `
` await turnContext.SendActivityAsync(activity); `

The message was sent as normal.
![Importance](https://user-images.githubusercontent.com/46016028/71140478-3fe14780-2209-11ea-9705-23e495d3eb88.png)

[2019-12-19 03:32] boydc2014 opened #3162 "[DCR] [Expression] Make IMemory interface follow the convention instead of returning tuple"
We should make the IMemory interface follow the convention like "TryGetValue\GetValue", to be more friendly to upper layer who implements this interface, and be friendly to porting this to other languages.

[2019-12-19 04:20] boydc2014 commented on #2967
yes, @vishwacsena  @Danieladu , `where` won't be smart to filter the orignal array, it will and should only filter the result of indicesAndValues,  if user want to get value, he can use select again. i guess

[2019-12-19 11:06] xieofxie opened #3165 "path resolver like at behaves not as expected"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

`@objs.name` is expected to be expanded to `turn.recog

[2019-12-19 11:10] xieofxie opened #3166 "luis settings is not parsed correctly"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

Here it uses `@{}`: https://git

[2019-12-19 12:16] boydc2014 commented on #3165
@tomlm @vishwacsena , `@x.y` is expected to be 'turn.reconginzed.entities.x.first().y', is that correct ?

[2019-12-19 12:20] boydc2014 commented on #3166
@vishwacsena this might be a loophole that perhaps some field in dialog, we also want to be expression?

[2019-12-19 17:59] vishwacsena commented on #3165
Not sure. @chrimc62 thoughts?

[2019-12-19 20:00] ISRAELISANILLEGITIMATESTATE opened #3170 "dotnet is a botnet?"
If I was gonna have a botnet installed on my computer, why do I have to get stuck with this star of david shit? WHERE'S MY CHRISTMAS HAT BILL

[2019-12-19 20:00] ISRAELISANILLEGITIMATESTATE commented on #3170
FUCK JEWS

[2019-12-19 20:05] #3170 closed

[2019-12-19 20:15] vishwacsena opened #3171 "[Adaptive] Update/ delete activity support in adaptive dialog"
This is tracking ticket for us to add support for update/delete activity in adaptive dialogs.

[2019-12-19 20:17] vishwacsena opened #3172 "[Adaptive] [LG] Fluent style expression builder for LG - samples"
In code based use of expressions, it is hard to just define all expressions as strings. We should consider adding support for and document + add samples that show fluent style construction of expressions especially in code based consumption of adaptive dialogs.

[2019-12-19 20:19] vishwacsena opened #3173 "[Adaptive] Ability to define component schema for declaratively defined dialogs"
Tracking ticket for work we need to do to support adding a component schema for a declaratively defined adaptive dialog.

[2019-12-20 02:59] tomlm commented on #3156
# 3 is done, RecognizerSet is the union of child recognizers.
# 1 and # 2 will be done by @chrimc62

[2019-12-20 06:03] #3004 closed

[2019-12-20 06:59] Chekrii opened #3189 "[Ms Teams][C#] - MessageReaction- Unable to get the text for which User has reacted to the bot message"
## Unable to get the text for which User has reacted to the bot message

- Whenever a user reacts to the Bot response, we are unable to get the message for which the user has reacted.
-We are just getting "Like or Laugh" when user reacts but not the message.
-Can we get the message in any other way like Graph API?

Thanks.

[2019-12-20 10:12] #3162 closed

[2019-12-20 13:57] achrafbenalaya opened #3175 "Cards not working on FaceBook messenger and in Web-chat"
Hi ,
I'm trying to build a new bot , after Working a year ago with v3 , tried now with V4.

But i'm really disappointed , cards are not rendering and some other functions too .

Here is a picture in the emulator :

![image](https://user-images.githubusercontent.com/13398378/71259283-6356e000-2338-11ea-8619-da08d09207c9.png)

but , in the webchat :

![image](https://user-images.githubusercontent.co

[2019-12-20 16:01] mark-szabo commented on #1686
@cleemullins How should we fix this build error till this `Microsoft.WindowsAzure.Storage` gets replaced by `Microsoft.Azure.Storage.Common`?

[2019-12-20 16:17] gabog commented on #3146
We need to create issues in the JS, Python and Java repos so we add this constant there as well.

@tomlm approved the C# PR so it is a bit late to change that but I would suggest we added /// documentation to the constant so user's know how to use it.

[2019-12-20 18:07] v-kydela commented on #3175
@achrafbenalaya - Thank you for the feedback.

With regard to you Web Chat issue, it looks like you're using the iframe version of Web Chat. If you use [the latest version of Web Chat](https://github.com/microsoft/BotFramework-WebChat) as its meant to be used according to [these instructions](https://github.com/microsoft/BotFramework-WebChat#how-to-use), your card should render just fine:

![image

[2019-12-20 18:07] #3175 closed

[2019-12-20 18:40] a-b-r-o-w-n commented on #3047
@dmvtech Does this repro on `4.7`?

[2019-12-20 19:24] dmvtech commented on #3047
I will check

[2019-12-20 20:02] abharath27 opened #3176 "RecognizerResult is unnecessarily serialized + deserialized"
**Is your feature request related to a problem? Please describe.**
This is a performance concern. `AdaptiveDialog` sets the `RecognizerResult` object in the `turn.recognized` property. I see that we try to set the recognizer result as a primitive JSON object, so it is [first serialized and then deserialized](https://github.com/microsoft/botbuilder-dotnet/blob/3502f50f0e34a68e49c27ac1f998338f61a137

[2019-12-20 20:16] kvbreddy opened #3177 "TeamsActivityHandler should not throw NotImplemented for default case of OnInvokeActivityAsync"
## Version
4.7.0.

## Describe the bug

We are receiving an Activity from msteams channel of type Invoke and name not in one of the values in the switch case defined in TeamsActivityHandler.cs. In the default  case, it throws an 501(HttpStatusCode.NotImplemented).  But the activity is still forwarded to IMiddlewares and IBot and can be processed. Shouldn’t it be upto the implementation to determin

[2019-12-20 20:23] chrimc62 opened #3178 "[Adaptive] Move ISelector to abstract base class."
As part of our move to abstract base classes we should move ISelector.

[bug]

[2019-12-20 21:22] dmvtech commented on #3047
@a-b-r-o-w-n Confirmation reproduces in `4.7`.

[2019-12-20 21:23] chrimc62 opened #3179 "[Adaptive] Adaptive testing should move out of adaptive library"
Adaptive dialog includes a testing folder which has test scripts and MockLuis which adds on dependencies.  We should move it out of the AdaptiveDialog project and into the testing library.
[bug]

[2019-12-20 21:24] chrimc62 opened #3180 "Review ask retries logic"
The Ask retries logic needs to be reviewed--in particular why SetProperty changes it.

[bug]

[2019-12-21 01:03] #2796 closed

[2019-12-21 18:08] tomlm opened #3185 "Cleanup: Need to remove all instances of new ExpressionEngine() for cleaner pattern."
## Version
4.7

## Describe the bug
We new up instances of expression engine and use it all over the place.  We need to replace with a pattern where you can define the custom functions and expression engine you are using and that is what is used.

[Bug] [Cleanu[

[2019-12-22 18:20] #2959 closed

[2019-12-23 08:46] Danieladu opened #3187 "[Expression] ExpressionEngine should be renamed to ExpressionParser"
ExpressionEngine should be renamed to ExpressionParser, as it is a parser totally.

[2019-12-23 15:56] mdrichardson commented on #3145
@AmolPawarGitHub I'm going to close this issue due to lack of activity. Feel free to re-open, but know that we're short-staffed this week due to the holidays.

[2019-12-23 15:56] #3145 closed

[2019-12-23 16:57] v-kydela commented on #2291
@cleemullins - Who is in charge of triaging these issues?

[2019-12-23 17:03] DavidStrickland0 opened #3188 "Microsoft.Bot.Configuration.LuisService.GetEndpoint() Throws NRE if Region is null."
## Version
Microsoft.Bot.Configuration, Version=4.6.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35

## Describe the bug
Microsoft.Bot.Configuration.LuisService.GetEndpoint() Throws NRE if Region is null.

    /// <summary>Gets the endpoint for this LUIS service.</summary>
    /// <returns>The URL for this service.</returns>
    public string GetEndpoint()
    {
      string lower = this.Reg

[2019-12-23 19:07] christopheranderson commented on #3188
Good catch on this bug. I've assigned @tomlm to take a look.

Would a fix on 4.7.x work for you, or do you need it on 4.6.x?

[2019-12-23 19:10] christopheranderson commented on #3176
@tomlm, can you please take a look at the proposed perf optimization and whether we should take it for R8?

[2019-12-23 19:15] christopheranderson commented on #3161
@johnataylor - is this a supported scenario in our current Teams support or a feature request?

[2019-12-23 19:18] christopheranderson commented on #3189
@johnataylor - should this be a sample maybe? This is really more of a question (potentially feature request).

[2019-12-23 19:25] anusharavindrar commented on #3106
The [PR](https://github.com/microsoft/botbuilder-dotnet/pull/3107) has been merged. Closing the issue. Feel free to reopen if this does not quite solve your scenario.

[2019-12-23 19:25] #3106 closed

[2019-12-23 19:41] EricDahlvang commented on #3189
@Chekrii If the reaction is to a message in a Team channel, you could query the roster and probably get the user's name based on a comparison of roster results with the activity.From.Id

An example of querying the roster for a Team can be found here: https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L103

`v

[2019-12-23 21:56] EricDahlvang commented on #3189
@Chekrii I apologize for mis-reading the issue here.

There is currently no built-in way to correlate incoming message reactions with previously sent messages.  The Message Reaction sample stores previously sent messages, and uses the activity.ReplyToId to find the previously sent message in the log: https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/25.message-r

[2019-12-23 21:56] #3189 closed

[2019-12-23 22:07] clearab commented on #3189
If you're interested in using Graph, you can also use this endpoint to retrieve the message: https://docs.microsoft.com/en-us/graph/api/channel-get-message?view=graph-rest-beta&tabs=http.

[2019-12-23 23:26] DavidStrickland0 commented on #3188
No rush was just writing some unit tests, hit it and had to decompile to figure it out so thought Id post. Thanks for looking into it.

[2019-12-23 23:49] eduardmartos opened #3210 "Scope variable to know the current active dialog in the dialog stack"
**Is your feature request related to a problem? Please describe.**
Since Bot Composer can easily become complex with many dialogs and flows, it would be very useful (at debug time) to know what the current active dialog is.
We try many combinations like:
dialog.name
this.dialog.name
this.dialogs[0].name
[...]
But none worked. As we have not been able to find the documentation on the properties of

[2019-12-24 06:38] #2975 closed

[2019-12-24 06:42] chrimc62 opened #3190 "Improve LUISRecognizer/Recognizer connection"
When IRecognizer moved to Recognizer abstract class it was slightly awkward with the way that LUISRecognizer works.  We need to review how it is integrated to see if we can make it smoother.

[bug]

[2019-12-24 14:07] Chekrii opened #3191 "[MsTeams]-Getting the user Unique Id in Teams based on User Email"
- Hi,
- Can we get the user Unique id(activity.from.id) of the user using email in Teams.
-I am able to get the user details using UniqueID but I want to get the same unique ID using Email of that user.
- I want this unique ID so that I can send Proactive messages to the user.
- Basically the solution to send proactive messages users using Unique ID. We are storing Unique Id in DB and sending Noti

[2019-12-24 17:08] HiltonGiesenow commented on #2309
@MickH3 I know this is an old thread, but I'm struggling with something similar and just wondering how you got the initial conversation id?  I can't seem a find a way to proactively create it - running into dead ends all around. Did you have it already from an existing conversation with the user? Presumably not, or you wouldn't be wanting to "CreateDirectConversation"...

[2019-12-24 18:26] HiltonGiesenow commented on #2984
I really appreciate your responding to this and sorting it out quickly, but to be honest I've been wondering whether this "helper" itself really should be public... While the methods _themselves_ are useless, I'm wondering if we could put them somewhere more specific than just a general "helper". What do you think? As a possible suggesting, as it's only two main methods (one one static field), per

[2019-12-25 01:03] #2991 closed

[2019-12-25 05:50] Danieladu commented on #3052
`HeroImages()` will return a random result from template `HeroImages`, so, `all` is just a normal function, it can not change/add more info from the "single string result" from a normal template reference. So, should we use another way to apply this feature? such as "expandTemplate('HeroImages')", or "listTemplate('HeroImages')" ?

[2019-12-25 07:19] #3187 closed

[2019-12-25 18:31] dejancg opened #3194 "Sharing the sign-in information between a Teams tab and a Teams bot"
## Version
v1.4.2 from https://statics.teams.microsoft.com/sdk/v1.4.2/js/MicrosoftTeams.min.js
and in the back-end Microsoft.Bot.Builder v4.6.3

## Describe the bug
Even though the documentation suggests that it's possible to have the user sign in to both tabs and the bot at the same time, the bot is not notified of the user's sign in initiated from a tab using the web-based authentication flow.

[2019-12-26 20:24] nimbusparis opened #3197 "Bot packages incompatibility with Azure Key Vault"
## Version
4.7.0

## Describe the bug
When adding `Microsoft.Bot.Builder` package to a working ASP.NET Core 3.1 app using Azure Key Vault make the app crash since `Microsoft.IdentityModel.Clients.ActiveDirectory.Platform` package cannot be found. This package doesn't exist anymore, something in the required packages of `Microsoft.Bot.Builder` should be wrong.

## To Reproduce
* clone the project o

[2019-12-26 23:39] jwiley84 commented on #3191
To be clear, are you trying to send a proactive message to the user's emails?

[2019-12-26 23:43] vishwacsena opened #3200 "[Adaptive] QnAMakerRecognizer improvements"
Here are list of additions to the QnA Maker deep integration DCR

* [x] Provide a `includeDialogNameInMetaData` property on QnA Maker recognizer. This defaults to `true` but non cross-trained use cases of QnA Maker recognizer can set this to `false` to not include `dialogName = active dialog name` meta data
* [x] Make it easy to consume `ChooseIntent` payload. Current payload has `turn.recognized.

[2019-12-27 01:03] #2771 closed

[2019-12-27 02:13] Chekrii commented on #3191
Hi ,
Yes I'm trying to send the proactive messages to user using activity.from.id(uniqueID) coming from Teams.

This is how I am sending proactive message:-
 TenantInfo Tenant = new TenantInfo();
                    Tenant.Id = TenantID;//teams ID
                    ConnectorClient connectorClient = new ConnectorClient(new Uri(serviceUrl), msBotID, msBotPassword);
          ConversationParameters

[2019-12-27 12:47] maximicciullo commented on #3105
Hi @vishwacsena, do you have any update about my issue?

Thanks!

[2019-12-27 15:35] DavidStrickland0 opened #3201 "Testability: Lack of a contract on WaterfallStepContext"
Can't unit test WaterfallDialog steps. I have a WaterfallDialog with multiple steps. I'd like to create Unit tests to validate the code I've written.

**Describe the solution you'd like**
IWaterfallStepContext Interface would be preferred but exposing the constructor on the concrete would allow for the same functionality using integration tests instead of unit tests.

[code]

**Describe alternativ

[2019-12-27 19:49] christopheranderson commented on #3197
This looks like it is crashing in Azure Key Vault's code because it has the lower version requirement from `Microsoft.Bot.Builder`.

It looks like they both depend on `Microsoft.IdentityModel.Clients.ActiveDirectory` via a dependency:

`Microsoft.Bot.Builder` 4.7.0
-> `Microsoft.Bot.Connector` 4.7.0
     -> `Microsoft.IdentityModel.Clients.ActiveDirectory` (>= 5.2.4)

`Microsoft.Extensions.Configu

[2019-12-27 20:01] christopheranderson commented on #3197
I also tried this on `dotnet`@3.0.100 and couldn't repro. I did have to modify the code, though, because I don't have certs installed in this machine that matches the config, so I just used the non-cert based KeyVault config and used BS strings. In that case, my setup fails with a 400 error, which I'd expect.

<details>
<summary>Expected 400 error message</summary>

[code]

</details>

<details>
<

[2019-12-28 03:19] Chekrii commented on #3191
Hello,

My issue is similar to this :- https://github.com/microsoft/botframework-sdk/issues/4312

[2019-12-28 21:24] vishwacsena commented on #2230
@luhan2017 can you help get a crisp repro of this against the latest bits?

[2019-12-30 16:54] anusharavindrar commented on #3194
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). Closing this issue as the members of the Teams team monitor Stack Overflow and will assist.

[2019-12-30 16:54] #3194 closed

[2019-12-30 17:46] v-kydela commented on #3049
@cleemullins - Has anyone looked at this?

[2019-12-30 19:32] vishwacsena commented on #3201
@gabog owns our unit testing infrastructure and can recommend the best way to do this.

[2019-12-30 19:36] vishwacsena commented on #3188
@EricDahlvang we should consider adding `deprecated` flag to this.

[2019-12-31 01:03] #2863 closed

[2019-12-31 15:16] #3147 closed

[2019-12-31 21:41] EricDahlvang commented on #3197
As @christopheranderson mentioned, this is an issue with [Microsoft.Extensions.Configuration.AzureKeyVault](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureKeyVault) depending on [Microsoft.Azure.Services.AppAuthentication/1.0.3](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.0.3) which depends on [Microsoft.IdentityModel.Clients.ActiveDirectory/

[2020-01-01 01:04] #3034 closed

[2020-01-01 01:04] #3021 closed

[2020-01-01 17:50] venkatesh-bhupathi opened #3205 "SendToConversationAsync fails with NullReference Exception, HttpClient null in ConnectorClient.HttpClient"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.5.3

## Describe the bug
We need to send an event from bot to the user webchat and we are using connectorCli

[2020-01-02 03:07] venkatesh-bhupathi commented on #3205
We used to construct the ConnectClient as follows in V3 and the SendToConversationAsync worked  without any issues,

`var connectorClient = new ConnectorClient(new Uri(serviceLink))`

However in V4, we are getting the exception with message,

_Value cannot be null.\r\nParameter name: clientId_

Is there a change in V4 ConnectorClient implementation to include the AppId/Password during the construc

[2020-01-02 11:44] venkatesh-bhupathi commented on #3205
We have tried using the constructor through which we can pass our own HttpClient as follows,

`public ConnectorClient(Uri baseUri, MicrosoftAppCredentials credentials, HttpClient customHttpClient, bool addJwtTokenRefresher = true, params DelegatingHandler[] handlers);`

[code]

Still it throws the Null reference exception.

[2020-01-02 13:46] rajeshyalamarthi opened #3207 "How To Trace the output in Composer Generated Adaptive Dialogs"
Hi, I successfully integrated composer into my V4 echo bot. And it is working pretty fine. My problem is after reading and loading the root dialog into Dialog manager, we are calling method:
**DialogManagerResult dialogresult = await this.dialogManager.OnTurnAsync(turnContext, cancellationToken: cancellationToken);**.

After Executing this method we can able to see the bot response in our chat win

[2020-01-02 14:46] KoradaRajesh opened #3208 "How To Trace the output Generated by the Composer"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reprod

[2020-01-02 14:48] KoradaRajesh opened #3209 "how to handle the adaptive cards response in composer"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reprod

[2020-01-02 18:03] v-kydela commented on #3208
@KoradaRajesh - This question lacks sufficient detail, so I'm closing it as a duplicate of https://github.com/microsoft/botbuilder-dotnet/issues/3207. Feel free to ask more how-to questions on Stack Overflow.

[2020-01-02 18:03] #3208 closed

[2020-01-02 18:04] ericrrichards opened #3211 "Why does this depend on SourceLink?"
Microsoft.Bot.Connector and Microsoft.Bot.Schema both depend on SourceLink.Create.CommandLine.  Installing that NuGet package junks up one's project file by adding unnecessary build targets to run SourceLink, which can break builds if your project is hosted on VSTS rather than GitHub.

Unless there's a good reason that these Bot Framework packages should pull in that dependency, it's pretty unwelc

[2020-01-02 18:13] v-kydela commented on #3207
@rajeshyalamarthi - I would like to help, but I have a few questions.

1. What do you mean when you say you've integrated Composer into your bot? Composer is a tool for building bots. Are you saying you had a preexisting bot that you were able to load into Composer?
2. What do you mean when you say you want to log the response and trace the output? Do you mean you want to save telemetry from your

[2020-01-02 18:18] EricDahlvang commented on #3205
Closing.  Root cause of null HttpClient was due to using the ConnectorClient after it had been disposed.

[2020-01-02 18:18] #3205 closed

[2020-01-02 18:23] EricDahlvang commented on #3211
Related: https://github.com/microsoft/botbuilder-dotnet/issues/2992

BotBuilder-dotnet should be using https://github.com/dotnet/sourcelink

[2020-01-02 19:06] vishwacsena commented on #3211
@BruceHaley can you take a look and comment?

[2020-01-02 19:08] vishwacsena commented on #3210
@eduardmartos Thanks for the feedback. We will consider supporting in the core SDK and will use this ticket to track any work related to this ask as a DCR.

[2020-01-02 20:02] Ky7m commented on #3191
@Chekrii as an option, you can try to install an app for the user and try to get chat to trigger **memberAdded** event. Sample code https://github.com/OfficeDev/msteams-sample-contoso-hr-talent-app/blob/master/TeamsTalentMgmtApp/src/TeamsTalentMgmtAppV4/Services/GraphApiService.cs#L43

[2020-01-02 20:29] gabog opened #3213 "Json Compat issues with Skills and .Net Core 3.1"
We have identified some issues when root bots (skill consumers) try to consume bots written in .Net Core 2.x or 3.x.

Here are the two issues we've found so far:

1. A skill consumer throws a MissingMethodException when receiving a response from a skill
![image](https://user-images.githubusercontent.com/12264946/71690780-b0dd3f00-2d73-11ea-8b7d-ca96cf48e8b9.png)

2. OAuth Cards render empty in a 3

[2020-01-02 20:50] EricDahlvang commented on #3191
We provide a sample demonstrating how to query the roster, and proactively message members of a team: https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L103

[2020-01-03 06:41] rajeshyalamarthi commented on #3207
thanks @v-kydela. Yeah what iam trying to say is with the help of composer tool we can able to generate dialogs which includes .lu, .lg, .dialog files. I loaded all those dialogs into my v4 echo bot. And i set up my echo bot in order to read all the dialogs by installing all the nudget packages required.
What i want is when i ask question to the bot, it gives response based on dilaogs and common.l

[2020-01-03 17:33] v-kydela commented on #3207
@rajeshyalamarthi - You've explained more about how you've set up your bot, but you still haven't answered the question of what you mean by "logging" responses.

I can sort of see that you want to access the activities that your dialog sends to the user. This can be done by providing a [`SendActivitiesHandler`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.sendactivitieshandler

[2020-01-04 17:23] gabog commented on #3211
If we don't upgrade to Microsoft.SourceLink, I think we should at least mark the dependency as `<PrivateAssets>all</PrivateAssets>` so it doesn't flow to derive projects.

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2020-01-06 01:59] xieofxie commented on #3083
`Remove stale label` by comment..

[2020-01-06 07:41] rajeshyalamarthi commented on #3207
@v-kydela. Not exactly. what i am trying to say is in the above chat window you can see the responses from the bot like **Let's check weather and what is your zipcode?**.
what i am asking how can i get these responses while debugging the code after exceuting the method **DialogManagerResult dialogresult = await this.dialogManager.OnTurnAsync(turnContext, cancellationToken: cancellationToken)**
=>B

[2020-01-06 09:20] mindncz commented on #3161
Could this support be added into Teams?

[2020-01-06 10:02] HiltonGiesenow opened #3217 "HttpHelper - Recompose away from "Helper""
I hadn't heard from anybody in a while on my [last post](https://github.com/microsoft/botbuilder-dotnet/issues/2984#event-2846939816), but perhaps because the issue was Closed it doesn't send followups? Reposting below:

I really appreciate your responding to this and sorting it out quickly, but to be honest I've been wondering whether this "helper" itself really should be public... While the meth

[2020-01-06 12:49] KoradaRajesh opened #3218 "How to get recent bot response from OnTurnAsync method"
![image](https://user-images.githubusercontent.com/51915291/71819123-00dc3e80-30b1-11ea-9b6b-a9728be640da.png)

[2020-01-06 17:53] dmvtech commented on #3218
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-01-06 17:53] dmvtech commented on #3218
@KoradaRajesh Can you please clarify what you mean by "recent bot response"? You mean the previous response from the _**bot**_ to the user?

[2020-01-06 18:02] scheyal opened #3219 "Adaptive HttpRequest body does not interpret property for body field"
‘Body’ is taking the property string literally "@{dialog.httpbody}".  It seems that Body requires a JObject.  In turn, Json is throwing an exception

Example:
[code]

$exception              {System.InvalidOperationException: The parent is missing.
   at Newtonsoft.Json.Linq.JToken.Replace(JToken value)
   at Microsoft.Bot.Builder.Dialogs.Adaptive.Actions.HttpRequest.ReplaceJTokenRecursively(Dialo

[2020-01-06 18:04] v-kydela commented on #3207
@rajeshyalamarthi

Application Insights uses a Kusto database. Can you explain why the `TelemetryLoggerMiddleware` solution isn't acceptable to you?

[2020-01-06 18:38] EricDahlvang commented on #3218
Hi @KoradaRajesh

Outgoing activities can be intercepted by adding an OnSendActivities handler to the turnContext.  Something like:

[code]

[2020-01-06 18:41] vishwacsena opened #3220 "[Adaptive] IncludeActivity property does not work"
IncludeActivity property has no effect. Expected that setting this to `true` will cause the child dialog to re-run its recognizer + triggers on initial invocation.

[code]

With this snippet, setting `IncludeActivity` to `true` or `false` causes the same result - bot responds with `you are in sub-dialog's on begin dialog`.

Also need to fix the json property

![image](https://user-images.githubuse

[2020-01-06 19:05] srinaath commented on #3217
@johnataylor Could you take a look at this ticket when you get a chance.

[2020-01-06 19:11] srinaath commented on #3019
@clearab Can you take a look at this ticket when you get a chance

[2020-01-06 22:40] lzc850612 opened #3222 "[OAuth] Close the OAuth flow gaps"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

There's a couple of issues/gaps on the OAuth flow especially with Skill bots in the architecture in emulator scenario:

1. When a skill is requesting OAuth SignInLink t

[2020-01-06 22:55] vishwacsena commented on #3210
@eduardmartos - does this resonate and meet your needs?

At the core of this ask is the need to know the dialog stack.

**Scenarios:**
1. Debugging
2. Interruption handling
    a. I'm in an active prompt and using an intent to extract entities. I need to be able to tell within an OnIntent handler within that dialog what the active input action is? Without this, developer will need to write assumpt

[2020-01-07 00:33] vishwacsena commented on #3105
@tomlm can you take a look and comment? we should document steps to add adaptive on top of existing v4 dialog based bots.

[2020-01-07 01:13] Danieladu commented on #2967
should add object supprt.

[2020-01-07 05:20] #2967 closed

[2020-01-07 07:13] eduardmartos commented on #3210
@vishwacsena, this sounds good. I think this proposal is perfect for now and would be a very useful option for composer programming.
Nice, thank you

[2020-01-07 14:23] rajeshyalamarthi commented on #3207
@v-kydela  , what i meant by db is on order to log my chat in sql db. But thanks @v-kydela , as you mentioned in above comment with the help of **send activities handler to onsendactivities** method with the help of this implementation i can able to see the activities that bot sending that to the user. Thanks a lot.

[2020-01-07 14:28] rajeshyalamarthi opened #3227 "How to Create Dialog flows by using Luis Entities in composer"
Hi, I am working on composer. I am trying to Create Dialogs Based on Luis Intent Trigger. But in the flow of the dialog i am trying to use the Luis Entities even though i can able to use regex expressions, but i was not able to handle Luis Entities.

[2020-01-07 16:40] johnataylor commented on #2665
👍

[2020-01-07 17:17] mdrichardson commented on #3227
@rajeshyalamarthi Can you be more specific about what issue you're running into? Are you able to run the ToDoBotWithLuis sample? If you go to Settings, have you input your appropriate LUIS information?

![image](https://user-images.githubusercontent.com/40401643/71914458-818d5000-312e-11ea-8a1f-80ab1c90e185.png)

[2020-01-07 17:56] vishwacsena commented on #3105
@maximicciullo @rajeshyalamarthi can you see the [delta here][1] and comment if this is what you are looking for? We are likely to clean this up in the upcoming release but this shows how to bring forward a declaratively defined adaptive dialog to work with waterfall dialog.

[1]:https://github.com/microsoft/BotBuilder-Samples/compare/vishwac/BBDotnet-3105?expand=1

[2020-01-07 19:02] tomlm opened #3228 "enums are not camelcased"
## Version
4.8

## Describe the bug
Enums should be camelcased when in json form

[bug]

[2020-01-07 19:32] cwhitten opened #3231 "HttpRequest support of application/x-www-form-urlencoded & multipart/form-data & text/plain"
Composer issue: https://github.com/microsoft/BotFramework-Composer/issues/1829

The SDK should additionally support `application/x-www-form-urlencoded` & `multipart/form-data` & `text/plain`

`application/x-www-form-urlencoded`: the keys and values are encoded in key-value tuples separated by '&', with a '=' between the key and the value. Non-alphanumeric characters in both keys and values are per

[2020-01-07 19:57] v-kydela commented on #3207
@rajeshyalamarthi - I'm glad we could get this resolved

[2020-01-07 19:57] #3207 closed

[2020-01-07 20:17] #3220 closed

[2020-01-07 20:17] #3228 closed

[2020-01-07 23:02] gabog opened #3233 "Skills Auth fails on Government cloud (DotNet)"
See [rollup Issue](https://github.com/microsoft/botframework-sdk/issues/5730) for details.

[2020-01-07 23:17] sgellock commented on #3117
@Adityagrao in looking at my roadmap for the 2020 calendar year, I don't see the team addressing this feature in my plans.  It's a cool idea, but I don't see us getting to it any time soon, unfortunately

[2020-01-07 23:17] #3117 closed

[2020-01-07 23:26] chrimc62 commented on #3190
The loader uses the syntax {path} to get config information from the loader.  This looks like, but is not an expression.  To make it an expression you need access context which is not present in the loader.  If we defer it to later we would have the context, but the current code relies on endpoint/key/appid being resolved at creation time.  We also need to make sure changes don't break legacy code

[2020-01-07 23:26] chrimc62 commented on #3190
I'm also not sure whether Tom or Emilio are better to make these changes, so I added Emilio.

[2020-01-08 00:08] chrimc62 opened #3236 "Should be able to use an expression as a dialog name in BeginDialog action."
Today we resolve all declarative dialogs at load time.  It should be possible to defer to runtime so you can compute the dialog to call using expressions. This came up in generated dialogs where we wanted to dispatch to a dialog based on a user response.  It is possible to work around this by generating a big case statement, but it is much cleaner to allow computing the name of the dialog to call.

[2020-01-08 06:13] Danieladu commented on #3052
Turn it off temporarily and discuss it later as a DCR.

[2020-01-08 06:13] #3052 closed

[2020-01-08 06:58] rajeshyalamarthi commented on #3227
Thanks @mdrichardson . Yeah i am able to run ToDoBotWithLuis. When i run the composer i can able to see the new intents and entities are getting created in Luis Application.
=> My issue is Based on intent it is triggering to Respective Dialog. I will elobrate my issue below.
I created on dialog based on Login Issue.
if user types login issue, then it trigger the Login issue Dialog and ask user a q

[2020-01-08 13:34] Danieladu opened #3238 "[LG] Expand with error result when using foreach"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Source code

## Describe the bug
We use ExpandTemplate to get the expand result.
But it so not work in the following cases.

## To Reproduce
Steps to reprodu

[2020-01-08 15:02] #2956 closed

[2020-01-08 15:05] EricDahlvang commented on #2956
FindChoicesOptions now has RecognizeOrdinals and RecognizeNumbers options. This will be released with 4.8

[2020-01-08 15:05] EricDahlvang commented on #3039
FindChoicesOptions now has RecognizeOrdinals and RecognizeNumbers options. This will be released with 4.8

[2020-01-08 15:05] #3039 closed

[2020-01-08 15:06] #3188 closed

[2020-01-08 15:08] EricDahlvang commented on #3188
A more specific error message has been added for null region.

[2020-01-08 15:50] HiltonGiesenow commented on #3217
Any news on this by any chance?

[2020-01-08 16:39] mdrichardson commented on #3227
@rajeshyalamarthi I see. Unfortunately, this will be very difficult to debug without having your bot. Are you able to link me to your code? Alternatively, can you provide me with steps to reproduce this?

I will attempt to troubleshoot this without your code/steps, but it will be very difficult.

[2020-01-08 16:58] vishwacsena commented on #3227
@rajeshyalamarthi the recognizer for a dialog is only run if `allowinterruption` property on an input action evaluates to `true`. So in what ever type of input action you are using to prompt user for `type of issue`, you need to set `allowInterruption` to `true` (note: this can be an expression). The next thing to do is to map the LUIS entity type to the property. To do this, you will need to set

[2020-01-08 17:49] gabog commented on #3201
Hi @DavidStrickland0, are you using the  [DialogTestClient](https://docs.microsoft.com/en-us/azure/bot-service/unit-test-bots?view=azure-bot-service-4.0&tabs=csharp#testing-dialogs)?

We don't expose WaterfallStepContext there but you should be able to look at the [DialogTurnResult](https://docs.microsoft.com/en-us/azure/bot-service/unit-test-bots?view=azure-bot-service-4.0&tabs=csharp#asserting-d

[2020-01-08 17:50] jwiley84 commented on #3191
@Chekrii, did @Ky7m and @EricDahlvang 's solutions help you?

[2020-01-08 18:02] johnataylor commented on #3217
As your previous issue suggested we've made the methods public. However, once we make them public changing them can involve some significant cost. For example, we would have to mark the current  methods as deprecated in favor of the replacements etc.

That's not to say I don't like the suggested factoring, its more that I'm thinking the cost of a largely syntactic change like this is hard to justi

[2020-01-08 18:02] #3217 closed

[2020-01-08 18:14] HiltonGiesenow commented on #3217
I should have thought more about this at the time I suggested it - was hoping it was recent enough this might not have been a problem. As it's just a few weeks, I'm probably still the only person using this new public class ;-).  Thanks for the review though and let me know if it changes at any point, happy to work on it.

[2020-01-08 19:26] gabog commented on #3213
Need to make some additional changes based on Tom's feedback, reopening this issue

[2020-01-08 23:24] DavidStrickland0 commented on #3201
We use XUnit for our Unit tests with specific code coverage metrics, For any bug a unit test to duplicate that bug is required and the more specific that test can be the better. If there is a bug in the 7th Step of a waterfall it would be preferable to only have to test the 7th step and not have to navigate the dialog through all proceeding steps first. If we do Dialog level testing to valid a bug

[2020-01-09 01:12] #2972 closed

[2020-01-09 05:59] boydc2014 commented on #2784
@Danieladu please make sure we cover the structured-lg scenario.

[2020-01-09 15:54] jamiemaguiredotnet commented on #2656
@tomlm - Hi, is this issue now resolved?

[2020-01-09 16:46] vishwacsena commented on #2656
Tracked via #3105

[2020-01-09 17:04] sbacha opened #3242 "Skill host deployed on multiple machines, causes UnAuthorized exceptions when relaying activities back to client"
## Version
4.7.0

## Describe the bug
We have our skill host deployed on Pod 1 and Pod 2.
Client sends activity and Pod1 recieves acitivty and relays the activity to skill
Skill sends back activity which hits a Traffic manager and requests gets sent to Pod2
Pod2 process the activity and sends to client. From Pod2 to client we get UnAuthorized Exception.

## To Reproduce
Set up 2 VA hosts, a webcha

[2020-01-09 21:45] gabog opened #3245 "Channel returns 401 on ContinueConversationAsync calls"
When a parent bot is deployed to multiple service instances and a skill responds to a different server instance than the one that was originally called by the bot service, attempting to send a message back to the channel returns a 401.

There are some inmemory objects and trusted URLs that are initialized when a bot is called from the channel for the first time. If a bot that hasn't been called fr

[2020-01-10 01:47] Chekrii commented on #3191
HI @jwiley84 ,

Thanks a lot. It helped me.

[2020-01-10 07:12] Danieladu opened #3248 "[LG] Centralize error message in one file"
We should really centralize the error message in one file.

[2020-01-10 07:14] Danieladu opened #3249 "[Expression] Make Expression meet the requirement from Adaptive Card team"
We have some requirements from AdaptiveCards team.
- [x] ${} instead of @{} as bounding syntax.
- [x] `+` for concatenation. If either operand is a string, then `+` should do string concatenation and cast other operand to string.
- [x] move string interpolation into expressions (bring forward Tom's work into expressions so hosts do not have to repeat this)
- [x] namespace change. Overall brand: Ad

[2020-01-10 10:43] EdwinOtten commented on #2956
@EricDahlvang that's great news! Thanks for making this happen 😃

[2020-01-10 16:05] jamiemaguiredotnet commented on #3105
Hi @vishwacsena | @maximicciullo | @rajeshyalamarthi
I've tried integrating the delta within a Skill

![image](https://user-images.githubusercontent.com/21563455/72167362-e9f45f80-33c2-11ea-9fc8-46c9f0f6a5ec.png)

I believ I have added the necessary updates however. Can you advise please?
Thanks in advance.

[2020-01-10 20:50] gabog commented on #3201
Hi David, thanks for the feedback, I understand your need but we don't have plans for adding additional capabilities in the upcoming release. I will keep this in for feature releases though.

Thanks again

[2020-01-10 20:50] #3201 closed

[2020-01-10 23:16] dmvtech opened #3251 "WaterfallCancel and WaterfallComplete events do not get tracked in WaterfallDialog"
## Version
4.7.0

## Describe the bug
Using Application Insights telemetry and middleware, the events `WaterfallCancel` and `WaterfallComplete` app insights events do not get tracked. These are both being done in `EndDialogAsync()`, inside [WaterfallDialog](https://github.com/microsoft/botbuilder-dotnet/blob/27430298098a92379006c317fc082c554d1247d9/libraries/Microsoft.Bot.Builder.Dialogs/Waterfall

[2020-01-11 01:12] #3096 closed

[2020-01-11 02:03] #3083 closed

[2020-01-13 03:05] #3084 closed

[2020-01-13 03:37] carlosscastro opened #3254 "Skills: ConversationId microformat <channel_id>:<convo_id>:<invocation_id>"
After evaluating the security implications of different patterns for conversation ids in a skills context, we landed on using a microformat with the following structure:

`<channel_id>:<convo_id>:<invocation_id>`

where invocation_id could just be an incrementing number that gets generated after a new begindialog is invoked.

This will allow relevant validations in the token service and prevent fr

[2020-01-13 06:06] #3248 closed

[2020-01-13 18:07] #3218 closed

[2020-01-13 19:10] vishwacsena commented on #3249
@matthidinger were there other changes required? can you help summarize/ confirm the list above? We'd like to start work on this at least on the things that are PORs.

[2020-01-13 19:43] matthidinger commented on #3249
The working document is here (internal link), but it would be great if we can regroup as I think some decisions are still pending. Are you folks available Weds at 3pm to dive into it? I can send the meeting invite

https://dev.azure.com/microsoft/AdaptiveCards/_git/Explorations?path=%2Fdocs%2FExplorations%2FTemplateLanguage%2FCommonExpressionLanguage.md&version=GBmaster&_a=preview

[2020-01-14 01:12] #3086 closed

[2020-01-14 14:44] jamiemaguiredotnet commented on #3105
**Update**:
I have now got the project to work by manually adding the deltas to the project:
BotBuilder-Samples-master(2)\BotBuilder-Samples-master\samples\csharp_dotnetcore\19.custom-dialogs\

[2020-01-14 15:14] sibbl opened #3256 "Start fails with "Unable to resolve service for type 'ChannelServiceHandler' while attempting to activate 'ChannelServiceController'.)'"
## Version
4.7.0

## Describe the bug
I'm writing a ASP.NET Core 3.1 C# app where I use several packages of the BotBuilder SDK. What works fine with SDK 4.6.3 now fails with 4.7.0 with the following exception:

[code]

## Expected behavior
The application starts fine.

## Additional context
Is it possible that this is related to this PR? https://github.com/microsoft/botbuilder-dotnet/pull/3038/fil

[2020-01-14 15:52] jamiemaguiredotnet commented on #3105
Hi -@vishwacsena, importing main.dialog from my existing collection of dialogs results in the following error when I try to use it:

![image](https://user-images.githubusercontent.com/21563455/72359165-b3ca1f00-36e5-11ea-8676-7c0724e7b1b3.png)

I have attached main.dialog for reference.

[Main.zip](https://github.com/microsoft/botbuilder-dotnet/files/4060062/Main.zip)

[2020-01-14 17:04] jwiley84 commented on #3191
Alright! I'm going to go ahead an close this issue. If you have further issues, please feel free to open new tickets, here or on stack overflow!

[2020-01-14 17:04] #3191 closed

[2020-01-14 18:24] dmvtech commented on #3256
hi @sibbl

I would be interested in a repro as well. What botbuilder packages are you using? Are you starting from a visx project or a sample?

That is interesting. Is all this testing, etc done locally? (running bot locally and testing with emulator)

I don't believe this has anything to do with 3.1 or the linked issue, but we'll see. If we can reproduce it, that will help. (If you're able to thr

[2020-01-14 21:28] gabog commented on #3242
Resolved in #3244

[2020-01-14 21:28] #3242 closed

[2020-01-14 21:29] gabog commented on #3245
Relates to #3242

[2020-01-14 22:15] vishwacsena commented on #3219
I debugged this and the core issue seems to be twofold.
1. We at the moment do not support body to be set to an expression. We however should. I tried this snippet and it worked great
[code]

Issue #2: we should consider adding headers without validtion so things like adding content-type does not blow up (it does with a .Add())

[code]

[2020-01-14 22:19] #3245 closed

[2020-01-15 09:34] sibbl commented on #3256
@dmvtech thanks for your quick reply! Please find a sample project here:
[BotBuilderDemoProject.zip](https://github.com/microsoft/botbuilder-dotnet/files/4064070/BotBuilderDemoProject.zip)

You can reproduce it either by
1. opening the solution and running it in Visual Studio
2. or by running the `reproduce.ps1` which sets the asp.net env to "dev" and uses `dotnet` for building and running it.

Wh

[2020-01-15 17:42] EricDahlvang commented on #3256
Hi @sibbl

With Bot Builder 4.7, we introduced a [ChannelServiceController](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/ChannelServiceController.cs).  This is being discovered by dependency injection when calling `.AddControllersAsServices()`

As a workaround, it is possible to exclude the integration library from d

[2020-01-15 20:38] BruceHaley commented on #3211
It looks like upgrading to Microsoft.SourceLink #2992 needs to be done but will take some time.

If we want a more immediate solution perhaps we should implement Gabo's suggestion now, that is mark the dependency <PrivateAssets>all</PrivateAssets>.

[2020-01-15 21:26] BruceHaley commented on #3211
PR #3259 implements the immediate solution mentioned above.

[2020-01-16 13:43] stephanbisser opened #3261 "Images in Microsoft Teams bot messages/Adaptive Cards not rendering"
## Version
4.7

## Describe the bug
When the bot sends an Adaptive Card which includes an image, the image is not rendered in Microsoft Teams, but it is in the emulator. The same is true if the image is coming from a QnA Maker response. This is a huge problem, if cards are not rendering accordingly...

## Expected behavior
Images in Teams (whether within Cards or just in a message) should render c

[2020-01-16 18:45] cleemullins commented on #3211
Fixed by #3259. Will release as part of R8 in March.

[2020-01-16 18:45] #3211 closed

[2020-01-16 19:46] clearab commented on #3019
Hi - unfortunately no, it isn't possible to add the bot as part of the search messaging extension. You could consider using a messaging extension with an action command triggered from a message instead of a search extension. That would send the necessary information to your bot for processing, but you'd have to build your own search results screen.

[2020-01-16 19:46] #3019 closed

[2020-01-16 19:47] clearab commented on #3161
Setting the importance flag on a message is not currently supported in the Teams channel. I know it is a feature they are considering for the future.

[2020-01-16 19:47] #3161 closed

[2020-01-16 20:33] clearab commented on #3261
Hi - Can you please share the JSON of the card? You can also try using the Card editor in App Studio in Teams to get a more accurate idea of how a card will be rendered for that particular channel. You can also take a look at the reference for Adaptive Card formatting in Teams, available here: https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-format

[2020-01-16 20:35] clearab commented on #3261
Here's an example of an Adaptive Card with an image that should render correctly in Teams: https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#adaptive-card

[2020-01-16 21:07] gabog opened #3264 "Test custom adapters and ensure they work with .NetCore 3.1"
We are making updates to Integration.AspNetCore so it supports .NetCore 3.1 (see [this PR](https://github.com/microsoft/botbuilder-dotnet/pull/3263) for details).

This issue is about testing the custom adapters (currently targeting NetStandard2.0) and making sure they work with .NetCore 3.1, and make any updates that may be necessary to make sure they work.

The custom adapters to test are:

- [x

[2020-01-17 02:19] kvbreddy commented on #2437
@EricDahlvang , Can this issue be reopened.

The above issue is still not resolved. DialogState [serialization and deserialization](https://github.com/microsoft/BotBuilder-Samples/blob/a66d06f7feff10168591cbac0181ae2ec09f29bd/samples/csharp_dotnetcore/42.scaleout/DialogHost.cs#L61) works only if  `TypeNameHandling = TypeNameHandling.All`. `TypeNameHandling = TypeNameHandling.None` still does not w

[2020-01-17 02:36] xieofxie commented on #3261
@clearab Thanks for the document! It says `Images must be at most 1024×1024 and 1 MB` and this solves a long ago problem for myself.

[2020-01-17 03:57] boydc2014 opened #3265 "[DCR] Treat '@{' an error instead of text in LG"
## Context
@{} is used in LG to identify an expression today, and if the ending '}' is missing, it will be treated as plain text, for example

[code]

This is technically simple and accurate, but not friendly to user, as they may not realize the typo until run time.

The suggestion is make this an error, and make `\@{` the correct way to output a @ if user really intended to have that.

[2020-01-17 04:59] EricDahlvang commented on #2437
Good point.  The dialog stack isn't using property accessors internally. BotState works, but not the dialogs use of it.

Thank you for raising this.

[2020-01-17 08:53] stephanbisser commented on #3261
thanks @xieofxie that was the problem with the image size. Do you have that from the docs and can post the link here?

[2020-01-17 11:26] xieofxie commented on #3261
@stephanbisser I just know this feature.. Thanks any way. I have tried and got the same result.
Maybe @clearab could help us..

[2020-01-17 19:06] vishwacsena opened #3266 "[LG] Improve LG errors and description"
# Error descriptions

## Design
1. Start with the .lg file that contains the offending issue.
2. Include the leaf error message. e.g. `'scope.xyz' evaluated to null.`
3. Include description of the rest of the composition stack with context using the following convention -
[code]
4. In case of composition, include the complete failure stack.
5. In case of file import, include the complete import st

[2020-01-17 19:54] #3139 closed

[2020-01-17 20:42] #2784 closed

[2020-01-17 23:51] kagJacky opened #3268 "MessageReceivedAsync will not get called sometimes"
## Screenshots

## Version

## Describe the bug

## Steps to reproduce

We follow the examples here:
https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-dialogs?view=azure-bot-service-3.0

public async Task StartAsync(IDialogContext context)
    {
        context.Wait(MessageReceivedAsync);
    }

    public virtual async Task MessageReceivedAsync(IDialogContext context, I

[2020-01-18 00:01] #3166 closed

[2020-01-18 00:01] #3236 closed

[2020-01-18 00:01] #3219 closed

[2020-01-19 08:39] SamaritanMachine opened #3270 "Issue With Multiple Luis Dialog and Its Entities"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Latest version

## Describe the bug
Briefly, when running the bookingDialog with missing parameters (entities), bot asks the missing parameter. However, when

[2020-01-19 09:03] xieofxie commented on #3270
Hi @SamaritanMachine, if you could run and debug the bot locally, you could set a breakpoint in the OnTurnError of your adapter where `The bot encounted an error or bug.` is sent.

Then in the exception, you will find the stacktrace and real exception type that causes the error. They would provide more information to help you identify the difference between book dialog and weather dialog.

Thanks~

[2020-01-19 10:34] SamaritanMachine commented on #3270
I didn't know we can debug BotFramework in real conversation enviroment. I'm really new in C# and Visual Studio :)

Thank you sir, it works like a charm now!

[2020-01-19 10:34] #3270 closed

[2020-01-19 10:50] arafattehsin opened #3271 "Release notes for 4.7"
## Version
4.7

## Describe the bug
I wanted to see what are the new features included in 4.7 SDK but the link of **Click here to find out what's new with Bot Framework** takes me to the archived repo.

## To Reproduce
Steps to reproduce the behavior:
On main README.md, click on the **Click here to find out what's new with Bot Framework**

## Expected behavior
It should take me to 4.7 Release Note

[2020-01-20 08:53] Danieladu commented on #3266
Several questions.

1. For the error stack, I think the bottom-most error needs to come first.
for example
[code]

assume `a` is not exist, when evaluate template `t2`, I think the error should be
[code]

2. Currently, we do not throw exception/diagnostic in IF condition, because we would treat the error expression as a `false` result and return it.

3. In this pr, #3273, I have adapted the most e

[2020-01-20 17:30] mdrichardson commented on #3271
@arafattehsin I've submitted a PR to update the link to point to [the docs](https://docs.microsoft.com/en-us/azure/bot-service/what-is-new?view=azure-bot-service-4.0). If you're looking for release notes, you can [check here](https://github.com/microsoft/botbuilder-dotnet/releases).

[2020-01-20 18:05] Virtual-Josh commented on #3268
Hi @kagJacky,

I have a couple of clarifying questions.

1. Has this issue occurred in the US?
2. Is your production environment located in Europe?
3. Is there any information you can provide between when, or how frequently this issue occurs?

Thanks

[2020-01-20 18:40] Virtual-Josh commented on #3268
Also what version of the SDK are you using?

[2020-01-20 19:25] kagJacky commented on #3268
Hi Josh
    Has this issue occurred in the US?
----We reproduced the issue in US before but the opportunity to reproduce it is pretty low. I would say 99% we can NOT reproduce it in US. In Europe, it is easy to reproduce especially before 12:00 PM (middle of day) CET time. After middle of day, it hard to reproduce. Before middle of day, 50% or even higher chance to reproduce it.
    Is your produc

[2020-01-20 20:15] EricDahlvang commented on #3268
MessageReceivedAsync looks like the v3 dotnet sdk.

Please share the startup code from Global.asax.cs, if you can.  What is this bot using for state storage?

[2020-01-20 20:24] arafattehsin commented on #3271
Thanks @mdrichard. 👍

[2020-01-20 20:25] #3271 closed

[2020-01-20 20:26] arafattehsin commented on #3271
Thanks @mdrichardson 👍

[2020-01-20 21:08] kagJacky commented on #3268
namespace *******
{
    using ....;

    public class Global : WebApiApplication
    {
        protected override void Application_Start()
        {
            GlobalConfiguration.Configure(WebApiConfig.Register);
            RouteConfig.RegisterRoutes(RouteTable.Routes);

            base.Application_Start();
        }

        protected override void RegisterDefaultExceptionMessageOverrideModul

[2020-01-20 21:09] kagJacky commented on #3268
my alias is kag, what's yours? I can share the code via email. The bot use cosmos db for state storage I believe.

[2020-01-20 21:14] apeckstl opened #3276 "When first adding a bot to Microsoft Team, the bot's TeamsInfo is incomplete"
## Version
Version 4.6

## Describe the bug
When first adding a bot to Microsoft Team, the bot's TeamsInfo only includes my account, even though there are several members in the team. I am using the TeamsInfo.GetMembersAsync method to get all of the members. I am calling the method in my overridden OnTeamsMembersAddedAsync, which I know gets called when the bot first gets added. Later I will add c

[2020-01-20 21:35] EricDahlvang commented on #3268
My email address can be found on my github profile: https://github.com/EricDahlvang

[2020-01-21 01:11] #3152 closed

[2020-01-21 01:11] #3097 closed

[2020-01-21 02:31] #3053 closed

[2020-01-21 02:40] #3213 closed

[2020-01-21 08:42] Chekrii opened #3278 "[Webchat][.NetCore][BotFramework] UpdateActivityAsync Method is not working in web chat"
## Platform

* .NetCore
* Bot frameworkV4

## Host
* Ms Teams
* Web Chat

Hi,

We are using connector.Conversations.UpdateActivityAsync() to update the previous activity with
new activity.
This method is working fine in teams but in Web chat it is throwing error.
Is there any alternative way to update any previous activity in web chat.

Please help.
Thanks.

[2020-01-21 09:07] xieofxie commented on #3278
A quick search ends up with https://github.com/microsoft/BotFramework-WebChat/issues/2426..
Maybe you could also track this there.

[2020-01-21 17:21] stevkan commented on #3278
As @xieofxie indicates, `updateActivity` is not supported by Web Chat at this time. I would suggest you add to the conversation with your interest, following the provided link, which will help drive the need for future development.

[2020-01-21 17:21] #3278 closed

[2020-01-21 19:27] mdrichardson opened #3279 "[LG] Need a way to iterate strings"
**Is your feature request related to a problem? Please describe.**

Currently, there is no way to iterate over a string using Language Generation / Common Expression Language. This issue spawns from a [StackOverflow question](https://stackoverflow.com/questions/59836636/botcomposer-how-to-iterate-through-the-characters-of-a-string-using-lg-language). Basically, they want to be able to pull numbers

[2020-01-21 19:38] Virtual-Josh commented on #3276
Hi @apeckstl,

A couple of things.

First, you will only ever get the bot in the members added event the very first time that you install a bot within a given scope (1:1 chat, group chat, or team). If you want to get that event again you will, unfortunately, need to create a new bot channel registration and re-install the bot.

Second, the `TeamsInfo.GetMembersAsync()` should return to you the lis

[2020-01-21 20:07] apeckstl commented on #3276
@Virtual-Josh
Thanks for the quick response! I do understand the need to reinstall each time to trigger that event, and have done so. I am getting the same result.

I am installing the app inside the general channel of a team that I know has 4 members. To check, that same bot in the same installation in the same team, if I put the `await TeamsInfo.GetMembersAsync(turnContext, cancellationToken);`

[2020-01-21 21:05] Virtual-Josh commented on #3276
@apeckstl
I think there's a tiny typo with the override with the method. The `TeamsActivityHandler` defaults back to the `ActivityHandler` behavior for some events. If the `GetMembersAsync` is working in the `OnMessage`, but not in `OnTeamsMembersAddedAsync` then I'd suspect there's some tiny error that's resulting in the base method being called vs the overridden one.

To debug, can you add a bre

[2020-01-21 21:13] apeckstl commented on #3276
Here are the relevant messages:
[code]
The OnTeamsMembersAdded() method in my code is definitely running, as it is outputting a log message that's not there otherwise. When I send a message to the bot saying "MessageAllMembers", all of the members in the channel get a message.

[2020-01-22 00:54] johnataylor commented on #3177
We resolved this issue, the behavior implemented in the TeamsActivityHandler is correct and consistent.

[2020-01-22 00:54] #3177 closed

[2020-01-22 00:56] johnataylor commented on #3256
@gabog PR fixed this issue for 4.8. To work with 4.7 you can use the work around from @EricDahlvang

[2020-01-22 00:56] #3256 closed

[2020-01-22 01:04] Danieladu opened #3282 "[DCR] [Expression] Format uniformity of jpath porting"
In .NET SDK, `jpath`  use `jToken.SelectTokens(format)` to select the token that matches the object path.

The format matches JSONPath expression,  the format doc is here:
[JsonPath](https://goessner.net/articles/JsonPath/)

In js SDK, currently, we use [jspath](https://www.npmjs.com/package/jspath) to select the corresponding node(s), the expression format is here [jspath format](https://www.npmj

[2020-01-22 01:12] #3154 closed

[2020-01-22 01:34] chrimc62 opened #3283 "All public code should have documentation"
## Describe the bug
Any public class, interface, method or property should have documentation.  There are many places where is it missing, for example IMemory or StackedMemory in the expression parser.  We should turn on missing documentation triggering an error.

[bug]

[2020-01-22 19:36] #3251 closed

[2020-01-22 21:51] Virtual-Josh commented on #3276
@apeckstl

I ran you code (minus the logging) and the `GetMembers` is return results for me. Let's try 1 more thing. If this doesn't work I'm happy to jump on a call with you to get this sorted out.

I want to make sure nothing's wrong with the logger. If you put a break point in the `OnTeamsMembersAddedAsync` function on the line with the `foreach` loop definition and look at the `members` object

[2020-01-23 00:01] apeckstl commented on #3276
@Virtual-Josh
I put a break point there, and it is returning just 1 person. You are saying that in your case, it returns members other than you when the bot is first added?

I tried to add another member to the team after adding the bot, and when the breakpoint triggers again, it displays the full correct list of members. It's just when the bot is first added that I see this behavior.

[2020-01-23 01:11] #2600 closed

[2020-01-23 01:40] tomlm commented on #3176
This behavior is by design.
There are a number of architectural reasons we want our memory system to always be JToken based.
1. it reduces brittleness of the underling type system changing.
2. it reduces the brittleness of groveling over memory from expression libraries, etc. because everything is in uniform shape without having to resort to using reflection.
3. it ensures that different disperse

[2020-01-23 01:40] #3176 closed

[2020-01-23 01:41] #2624 closed

[2020-01-23 01:41] #2913 closed

[2020-01-23 01:41] #3082 closed

[2020-01-23 02:38] maximicciullo commented on #3105
Hi @jamiemaguiredotnet,

How did you fix the issue that you mention before the last one? I got the same one in using last changes from master in `BotBuilder-Samples-master\samples\csharp_dotnetcore\19.custom-dialogs\` project

Issue -> fail:

[2020-01-23 05:50] rajeshyalamarthi opened #3291 "Retry Prompt Is Not Working In Composer"
Hi, I am working on composer. I just created one dialog flow in which user needs to upload an file attachment as input. So that In Dialog I am Asking user to upload an attachment by selecting **Ask a Question of Type File or Attachment**.
Till here it is fine. If user uploading an attachment it is working fine. But Instead of uploading file if user types a text then it needs to ask user again by d

[2020-01-23 18:04] garypretty commented on #3071
PR merged.

[2020-01-23 18:04] #3071 closed

[2020-01-23 19:02] CoHealer opened #3298 "Retry Prompt Is Not Working In Composer"
@rajeshyalamarthi commented on [Wed Jan 22 2020](https://github.com/microsoft/botbuilder-dotnet/issues/3291)

Hi, I am working on composer. I just created one dialog flow in which user needs to upload an file attachment as input. So that In Dialog I am Asking user to upload an attachment by selecting **Ask a Question of Type File or Attachment**.
Till here it is fine. If user uploading an attachme

[2020-01-23 19:02] CoHealer commented on #3291
Issue moved to [microsoft/BotFramework-Composer #1895](https://github.com/microsoft/BotFramework-Composer/issues/1895) via [**ZenHub**](https://www.zenhub.com/)

[2020-01-23 19:02] v-kydela commented on #2291
@johnataylor - Can you comment on this?

[2020-01-23 19:36] johnataylor commented on #3283
@Virtual-Josh  we need doc comments in this file:
https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/Teams/TeamsInfo.cs

[2020-01-23 19:54] gabog commented on #3256
Hi @sibbl, we accelerated the fix for this issue and we just released a fix, if you update your project to use 4.7.2 it should work now.

Thanks for the feedback and detailed repro project.

[2020-01-23 23:10] eduardmartos commented on #3279
Related with this, another interesting feature will be the ability to create an array of numbers like this:
intarray([start], [end])
intarray(1, 10) => [1,2,3,4,5,6,7,8,9,10]

So we can use foreach in conjunction with this and substring to iterate on each char of the string.
And this could be useful for other scenarios too.

[2020-01-24 07:55] maximicciullo commented on #3105
@vishwacsena I've tested the delta that you've mentioned [here](https://github.com/microsoft/botbuilder-dotnet/issues/3105#issuecomment-571699170) and it solves the error about **JSON TYPE**, but when I replace the main.dialog file with mine (did it with bot framework composer) I got an error about **Could not find resource 'TextInput.dialog' Parameter name: TextInput.dialog**

This is the excepti

[2020-01-24 08:01] boydc2014 opened #3297 "Optimize performance of LG evaluation"
Today, every time a free LG text like "@{welcome}" is evaluated by creating a new "anonymous template" to wrap this free text, and create a temporary LG file with the new content = original content + new anonymous template, for evaluation.

This is not performance friendly, we should seek to only parsing the new template, and evaluate it based on already parsed LG structure.

[2020-01-24 11:11] jamiemaguiredotnet commented on #3105
@maximicciullo  - I am also getting an error with my own Composer dialogs.

For me, it seems to stem from the common.lg file.

![image](https://user-images.githubusercontent.com/21563455/73064794-e91afd80-3e99-11ea-8c34-cec5cdb79bc6.png)

![image](https://user-images.githubusercontent.com/21563455/73064702-bcff7c80-3e99-11ea-9d25-75bb9a886a3c.png)

![image](https://user-images.githubusercontent.co

[2020-01-24 16:39] v-kydela commented on #2548
@johnataylor - Can you comment on this?

[2020-01-24 17:25] #3291 closed

[2020-01-24 17:32] Virtual-Josh commented on #2309
@HiltonGiesenow @MickH3

First, my apologies for the very slow response.

There's a sample that shows you how to send a message to a channel within a team:

https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/58.teams-start-new-thread-in-channel

Let me know if this does not solve your problem.

[2020-01-24 17:37] vishwacsena commented on #3279
We should support split(str) or split(str, '') to return an array of entire string split.
Also the prebuilt functions [doc][1] is missing details for `array` and the link is broken.

@boydc2014

[1]:https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/common-expression-language/prebuilt-functions.md#array

[2020-01-24 19:44] christopheranderson commented on #3298
While this issue was found via Composer, Vishwac believes this is a bug in the SDK itself and should be investigated first from the SDK side.

[2020-01-24 19:47] godwin3737 commented on #3089
Hi, is there any movement on this ? In my opinion , as adaptive cards can be custom (with different input id's ) we should have a virtual method responsible to try and get adaptive card value .

[2020-01-24 22:02] vishwacsena commented on #2406
Chatted with @scheyal and here is what we landed with for scoping -

The bullet list below is the suggested instrumentation [field name][1], properties should be configured to be accessible via customdimensions
1. All new recognizers should participate and log recognition result anytime the recognizer is run. This should be similar to how the existing luisrecognizer participates in instrumentation

[2020-01-24 22:18] vishwacsena commented on #2783
Had a scoping chat with @scheyal  yesterday. See how luisrecognizer does TrackEvent on recognition result. We need something similar for LG from a generator POV for adaptive dialog. Basically emit a `generatorResult` event name with properties that include the generator configuration (.lg files or any identifier we have) as well as the actual input/ output for the evaluate call.

@boydc2014

[2020-01-24 22:43] vishwacsena commented on #3249
@boydc2014 we can start resourcing this. See list above. Let's use this ticket as a living tracking item as we find other things to do.

@tomlm @chrimc62 @matthidinger

[2020-01-24 23:34] vishwacsena commented on #3105
@maximicciullo @jamiemaguiredotnet see updated delta [here][1]

@jamiemaguiredotnet you probably need the useLanguageGeneration on the adapter.
@maximicciullo not sure what's causing that. But can you apply the delta and see if you continue to repro?

[1]:https://github.com/microsoft/BotBuilder-Samples/compare/vishwac/BBDotnet-3105?expand=1

[2020-01-25 01:12] kvbreddy commented on #2437
I have fixed this issue for OAuthPrompt Dialog in this [PR](https://github.com/microsoft/botbuilder-dotnet/pull/3294). May be someone can do a similar fix for other Dialogs as well.

[2020-01-25 01:34] vishwacsena commented on #3298
The issue here seems to be that the `RecognizeInput` call in `InputDialog` will always look at attachments which will be `null` when user sends in a message. Although the user's expectation is that the AttachmentInput will issue its `UnrecognizedPrompt`, we will continue to render the `Prompt`.

https://github.com/microsoft/botbuilder-dotnet/blob/765ed6c96b5287c079cb19c20f653fca0e9cf3ea/libraries/

[2020-01-25 16:40] HiltonGiesenow commented on #2309
Thanks Josh, I'll try this out when I can. This will create a new thread in the Teams Channel though - the original discussion is about creating a brand new 1-1, in order to facilitate pro-active messaging.

[2020-01-25 20:54] apeckstl commented on #3276
Additionally, whenever I try to delete my custom app from the microsoft account, it is duplicating the entry for the app, and won't let me delete.
<img width="1200" alt="Screen Shot 2020-01-25 at 2 50 51 PM" src="https://user-images.githubusercontent.com/19844185/73127190-5b670d00-3f82-11ea-841c-5af3533394f6.png">

An error just pops up above it saying "something went wrong, please try again later

[2020-01-27 10:44] jamiemaguiredotnet commented on #3105
@vishwacsena - thanks for this.

I got much further but ran into another issue using the most recent delta:

![image](https://user-images.githubusercontent.com/21563455/73168137-24fbd000-40f1-11ea-9352-796fec1ca006.png)

The issue appears to be with Main.dialog. in the following Activity:
![image](https://user-images.githubusercontent.com/21563455/73168207-4e1c6080-40f1-11ea-98c4-1f249aa0d179.png)

[2020-01-27 14:41] jamiemaguiredotnet commented on #3105
@vishwacsena
EDIT:
By manually setting the path to my *common.lg* file in RootDialog I have been able to get this to work:

![image](https://user-images.githubusercontent.com/21563455/73183599-f989dd00-4112-11ea-9a5e-0e8b05c89655.png)

![image](https://user-images.githubusercontent.com/21563455/73183621-03abdb80-4113-11ea-9661-1949697cf61d.png)

Next, I will try to integrate this Composer Dialogue

[2020-01-27 17:20] Virtual-Josh commented on #2309
If that's what you're looking for then we have a sample that shows you how. You can look in same 57 in the `messageAllMembers` to see how that's done

https://github.com/microsoft/BotBuilder-Samples/blob/0bc30ed8ecdd8c82f2e20c48cc72426dd2100bc0/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L96

[2020-01-27 17:30] Virtual-Josh commented on #3276
If you go to `Apps` you can right click and `uninstall` the bot

![image](https://user-images.githubusercontent.com/50158775/73198157-6f784f00-40e7-11ea-87da-afc3488f17e1.png)

If you have multiple bots installed it might be worth uninstalling all of them, reinstalling it, and then seeing if the issue resolves. If the issue doesn't resolve let me know and we can find a better way to unblock you.

[2020-01-27 19:09] vishwacsena commented on #3203
Unrecognized Prompt:
Message to send when the recognizer does not understand the user input.

Invalid Prompt:
Message to send when the user input does not meet the validation rules.

[2020-01-27 19:30] vishwacsena commented on #3203
Tracked via https://github.com/microsoft/botbuilder-dotnet/issues/2934

[2020-01-27 19:30] #3203 closed

[2020-01-27 22:10] apeckstl commented on #3276
Thanks, that resolved that issue. You mentioned that the GetMembersAsync was working for you when testing it. Does this indicate that I have something wrong with the way my team is set up? I have checked over all the permissions in our tenant and it looks fine, but I can't think of any other reason why the bot would not be picking up all the conversation members.

[2020-01-27 22:16] Virtual-Josh commented on #3276
I asked someone who would know and I don't think there's any Tenant config things that would be getting in your way. If the `GetMembersAsync` wasn't working for you I can only assume there was some weird caching issue. If `GetMembersAsync` STILL isn't working for you let me know and we can keep digging.

For what it's worth I did have a weird interaction earlier this morning where I installed a ne

[2020-01-28 08:19] rajeshyalamarthi opened #3301 "How To Deserialize DialogManager Obejct of Assembly Microsoft.Bot.Builder.Dialogs.Adaptive"
Hi, here i have one scenario. I m working on composer. In startup.cs I am using services.AddTransient<> inorder to load the constructor which loads the dilaog manager by reading the root dialog file. But here I just want to load the Dialog Manager When I want. So Iam Trying to store this dialog manager object in RedisCache by serializing it. But When I am Trying to Deserialize it it is throwing er

[2020-01-28 11:33] garypretty commented on #3146
Tracking issues created. Closing.

JS tracking issue - https://github.com/microsoft/botbuilder-js/issues/1523
Python tracking issue - https://github.com/microsoft/botbuilder-python/issues/548
Java tracking issue - https://github.com/microsoft/botbuilder-java/issues/166

[2020-01-28 11:33] #3146 closed

[2020-01-28 18:35] v-kydela commented on #3301
@rajeshyalamarthi - Can you provide relevant code samples and screenshots so that we can better understand what you're trying to do and why?

[2020-01-28 19:22] clearab commented on #3261
Hi - I'd be happy to assist, but I'll need to see the JSON of the card in order to determine what the issue is.

Please keep in mind that each client is responsible for rendering their card. Because of this there is no guarantee that cards will render identically across channels. The rendering of the card occurs in the client application - the bot service / bot framework doesn't have any direct co

[2020-01-28 19:28] #3043 closed

[2020-01-28 21:21] vishwacsena commented on #3089
We should do "text": "value" in `Data` to get pulled back in value for property. This will be parallel to what we do with "intent" for `ValueRecognizer`

[2020-01-28 21:29] vishwacsena commented on #3105
Glad to hear. Please reactivate this ticket if you guys are blocked.

[2020-01-28 21:43] #3190 closed

[2020-01-29 02:39] maximicciullo commented on #3105
Hey @vishwacsena, great job!! I'm getting the same issue with my dialog file aobut **Text Input** error but now I can see that you have uploaded a Dialog from framework composer with Text Input button, so maybe it has changed the way to create "Text input" and mine is obsolete.

Do you have in mind when you will finally release this delta changes?

Many thanks for your help!

[2020-01-29 04:17] apeckstl commented on #3276
Hi Josh,
I figured out my problem. I was misreading your original reply to this thread where you said I "need to create a new bot channel registration and re-install the bot", thinking you were saying I needed to just delete the app package from the Teams store and re-upload. I just made a new bot channel registration to start over and it worked as expected. I am so so sorry for the confusion. Tha

[2020-01-29 09:41] rajeshyalamarthi commented on #3301
Yeah @v-kydela . Exactly what i am trying to do is, basically in Composer Solution the way it is loading the constructor is in below way
![Capture11](https://user-images.githubusercontent.com/31951690/73342939-9b413380-42a5-11ea-8d8a-02278c215e91.PNG)
=>So, as it is under single ton it is initiating only once at start.
But here what i am trying to do is, I am including the adaptive dialogs generat

[2020-01-29 14:33] jamiemaguiredotnet commented on #3105
@vishwacsena
I've got further forward but afraid I have hit an issue when trying to fetch a variable back from user scope.

One thing to note is that I had to remove one of the options for the TextInput in the Main.dialog:

![image](https://user-images.githubusercontent.com/21563455/73364408-74cdc900-42a2-11ea-9a8d-7a98e5d25abe.png)

I can get it to work (to a point) in that my dialogue:

1 - hand

[2020-01-29 17:20] Virtual-Josh commented on #3276
Not a problem. I'm glad you're unblocked.

[2020-01-29 17:20] #3276 closed

[2020-01-29 19:30] lzc850612 opened #3307 "[Skill] Handle EndOfConversation on Skill as part of core SDK"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The pattern to close out a ongoing skill dialog is for

[2020-01-29 19:38] lzc850612 opened #3308 "[Skill] Introduce a way to localize skill names"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently in VA implementation, there's a SkillSwitch

[2020-01-29 19:38] v-kydela commented on #3301
@rajeshyalamarthi - When I said to provide code samples _and_ screenshots, I didn't mean for you to provide code samples _as_ screenshots. You should never post screenshots of your code because that prevents people from copying it. You should post code using the appropriate formatting (GitHub Markdown in this case).

There are still some things that aren't making sense. You're registering the `IBo

[2020-01-29 21:10] clearab opened #3311 "SkillDialog (DotNet)"
See [rollup Issue](https://github.com/microsoft/botframework-sdk/issues/5723) for spec/design.

[2020-01-29 23:06] clearab opened #3312 "Add POCO classes for skills manifest parsing (DotNet)"
See the [rollup issue](https://github.com/microsoft/botframework-sdk/issues/5724) for details.

[2020-01-30 00:20] #3254 closed

[2020-01-30 00:35] clearab opened #3313 "Add OOTB ping method to bots (DotNet)"
See the [rollup issue](https://github.com/microsoft/botframework-sdk/issues/5660) for details.

[2020-01-30 01:06] clearab opened #3315 "Extend v3 SDK to support Skills (DotNet)"
See the [rollup issue](https://github.com/microsoft/botframework-sdk/issues/5589) for details.

[2020-01-30 02:10] EricDahlvang commented on #3315
Should this be here: https://github.com/microsoft/BotBuilder-V3 ?

[2020-01-30 02:32] EricDahlvang commented on #3315
Also, this was just merged:

https://github.com/microsoft/BotBuilder-V3/pull/180

[2020-01-30 02:42] NickEricson commented on #3155
Comment so it doesn't get closed.

[2020-01-30 07:26] KoradaRajesh opened #3612 "Unable to Deserialize json to abstract class"
I'm trying to Serialize and Deserialize Microsoft.Bot.Builder class ( DialogManager ) . It is Serializing and while Deserializing i'm getting error like
![Error in Deserialize DialogManager class](https://user-images.githubusercontent.com/51915291/73429053-b9b83500-4360-11ea-89f5-cbde933adea9.PNG)

[2020-01-30 07:50] rajeshyalamarthi commented on #3301
sure @v-kydela . First thing I am not registering the IBot type in my dependency injection twice. The first screenshot is from the project solution that generated by the composer. And the second screen shot is from my echo bot v4 solution where i am trying to integrate the adaptive dialogs working flow .
`        public BotProject(ConversationState conversationState, UserState userState, ResourceE

[2020-01-30 12:23] manish-95 opened #3316 "Nested evaluation of LG Templates"
**Is your feature request related to a problem? Please describe.**
Right now, I have to create a new Activity template for each response text in an lg file to explicitly set the inputHint.  As the number of responses increases, so does the number of templates required. It would be great if a single activity template could take a response text title as an input and generate the output activity base

[2020-01-30 15:10] garypretty commented on #3264
All 4 custom adapters tested using .Net Core 3.1 (latest master as of 30/01)

[2020-01-30 15:10] #3264 closed

[2020-01-30 16:46] v-kydela commented on #3049
@tomlm - can you comment?

[2020-01-30 19:03] tonyanziano commented on #3316
Hi @manish-95 , LG is still in preview and not fully supported.

We have asked our support team to take a look, but they still need to get up to speed on the product being that it is still fairly new.

[2020-01-30 23:08] CoHealer commented on #3316
We'll triage it tomorrow @manish-95 and do our best to help!

[2020-01-30 23:58] chrimc62 opened #3321 "Move expressions.properties into expressions namespace and assembly"
Once expressions library supports string interpolation we need to move the expression property code into it. Currently it depends on the LG library.

[2020-01-31 06:38] KoradaRajesh opened #3332 "Unable to Deserialize json to abstract class"
I'm trying to Serialize and Deserialize Microsoft.Bot.Builder class ( DialogManager ) . It is Serializing and while Deserializing i'm getting error like

![Error in Deserialize DialogManager class](https://user-images.githubusercontent.com/51915291/73517769-69a1a700-4422-11ea-85fc-481cfae675ca.PNG)

[2020-01-31 07:06] rajeshyalamarthi commented on #3301
thanks @v-kydela. I saw that you replied for my question in stack overflow. As you mentioned that to serialize correctly. I Already tried serializing it with **type-name handling** information. And not only that i also tried with **NullValueHandling**,**Formatting** and in some other ways. when I am trying with this while deserializing i got some other error like **Unable to find a constructor to

[2020-01-31 19:10] dmvtech commented on #3316
hi @manish-95 I'm taking a look at this. I'll let you know if I have any questions.

[2020-01-31 19:32] tracyboehrer opened #3323 "slack message Events coming from the bot are treated like user messages"
## Version
4.7

In the 60.slack-adapter samples, the message from the user is echoed back.  slack sends an event indicating it displayed the message as a message from the bot.  Since this appeared to the bot as just another incoming message, it was echoed back.  This would repeat forever.

This appears to only be an issue with the latest slack version.  Older slack versions did not do this.

[2020-01-31 19:35] tracyboehrer commented on #3323
Closing.  Already a commit on 1/28/2020 for this

[2020-01-31 19:35] #3323 closed

[2020-01-31 22:37] v-kydela commented on #3301
@rajeshyalamarthi - Is there any other way to do what? You still haven't asked a specific question that I can answer. You've just said that what you're doing doesn't work, but you haven't said why you're trying to do it. What are you hoping to do with your `DialogManager` instance?

It looks kind of like you're trying to use adaptive dialogs outside of Composer in an ordinary C# bot solution, and

[2020-02-02 10:08] nimbusparis commented on #3197
How can a blocked issue can be closed before it had been un-blocked?

[2020-02-02 16:26] dmvtech commented on #3316
Hi @manish-95

I'm not 100% sure if i understand the ask, but does the following accomplish what you need?
[code]

[2020-02-02 18:06] sgellock commented on #3197
@nimbusparis, we have some automation that flags issues that have no new activity over a 30 day period.  This is the most recent comment from the automation bot "gitHub-actions". As Eric documents, there is a dependency chain here with a root assembly provided by the AAD team.  We'll push on this team to see where they are at with this work on their specific roadmap.  But to be upfront, this is no

[2020-02-02 18:46] nimbusparis commented on #3197
Yes, I understood that this issue is blocked by another team, but this issue should not be closed until the issue on Azure Key Vault is fixed. each blocked team/project should add pression to AAD team to fix this issue, that had been discovered in september...

[2020-02-02 19:06] EricDahlvang commented on #3197
Thanks @nimbusparis

We should be able to keep this open until the packages are updated.

Jan 28th we were informed here https://github.com/Azure/azure-sdk-for-net/issues/7457#issuecomment-579539881 the `Microsoft.IdentityModel.Clients.ActiveDirectory` dependency in `Microsoft.Azure.Services.AppAuthentication` should be updated "within the next couple of weeks"  After this rolls out, `Microsoft.Ex

[2020-02-03 02:47] EricDahlvang commented on #3261
The original .json for the card is in the file shared:  [welcomeCard.zip](https://github.com/microsoft/botbuilder-dotnet/files/4071526/welcomeCard.zip)

This contains the following url: https://solvionaterdwinstorage.blob.core.windows.net/erdwinblobstore/erdwin_transparent.png which is a 4000x4000 image.

[code]

[2020-02-03 03:16] #3061 closed

[2020-02-03 04:35] Sams4u opened #3324 "BOT id in the response activity changed"
Recently i migrated my V3 bot V4(4.5.2) with channel support Directline, Facebook, teams & Webchat. After migration from.id property of all the response activities sent by the bot to user has changed. In V3 it used to be the Bot Channel registration name/Handler name(I keep Bot channel Registration, Handler, Directline site name same). Now this property has the same name appended with some random

[2020-02-03 05:17] manish-95 commented on #3316
Hi @dmvtech , I tried implementing this but I get a response activity with the text field populated with **@{if(isTemplate(title), template(title), title)** as its value.

[2020-02-03 06:08] xieofxie opened #3325 "[Test] duplicate files"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

Current master

## Describe the bug
Give a clear and concise description of what the bug is.

https://github.

[2020-02-03 06:36] boydc2014 opened #3326 "Tolerant null in LG context"
[code]

Today if user.name is null, it will result an exception, we should change this to "null" (we can optimize the result later) so that user won't be interrupted by exceptions.

[2020-02-03 08:34] stephanbisser commented on #3261
yes this is the correct json! is the image size too big?

[2020-02-03 11:11] #3279 closed

[2020-02-03 17:24] mdrichardson commented on #3324
@Sams4u That's correct. A major version change (v3.*.* -> v4.*.*) in the Bot Framework indicates that there are breaking changes. This is one of them.

[2020-02-03 17:24] #3324 closed

[2020-02-03 17:37] v-kydela commented on #3301
@rajeshyalamarthi - Are you still working on this?

[2020-02-03 20:43] clearab opened #3331 "Unexpected assignments before expected in runtime."
In order to ensure unexpected assignments are processed correctly, they need to come before the expected required ones.

[2020-02-04 00:55] clearab commented on #3261
I believe the issue is the image is too large. Images sent to/from a bot must be at most 1024×1024 and 1 MB.

[2020-02-04 02:38] #3297 closed

[2020-02-04 07:07] Danieladu commented on #3316
Try add a close curly bracket `}`

[2020-02-04 07:19] manish-95 commented on #3316
@Danieladu Have added that as well. Now I get the following error:
 `error message: isTemplate does not have an evaluator, it's not a built-in function or a customized function in expression 'if(isTemplate(title), template(title), title)' `

[2020-02-04 08:43] stephanbisser commented on #3261
ok thanks for the info as I didn't find any restrictions on the docs

[2020-02-04 08:48] fcapallera opened #3335 "Sending an activity inside a Prompt Validator doesn't fire the Retry Prompt message"
## Version
netcore 2.1, SKD 4.0

## Describe the bug
I have an imput prompt (TextPrompt, ConfirmationPrompt) with an associated promptValidator method and a `PromptOptions` object with a RetryPrompt.

If inside the PromptValidator method (that returns a `Task<bool>`) i send an activity, the `RetryPrompt` from `PromptOptions` is never sent.

## To Reproduce
Steps to reproduce the behavior:
1. Have

[2020-02-04 08:49] xieofxie commented on #3261
Hi @clearab I believe we forget the markdown part.. Image embedded via markdown (like `![Duck](https://aka.ms/Fo983c)`) won't work in Teams. It only displays a broken image as show above.

I saw you are the PM of Teams so maybe you could contact Teams to test and verify this. Thanks!

[2020-02-04 09:05] xieofxie commented on #3335
Interesting.. I just found that in the library, they check this:
https://github.com/microsoft/botbuilder-dotnet/blob/4df966c2a1904b2f72365dbdbd0ab12f4a356a66/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/Prompt.cs#L160
So it seems to be the designed behavior, but I am not sure.

[2020-02-04 09:32] fcapallera commented on #3335
I see... The obvious workaround which is setting `Responded` to false after sending the activity in the PromptContext is not possible because `Responded` is readonly.

So is the `Responded` flag set to true even if it's the bot and not the user who "responded" the previous activity? I don't get why should it be that way.

[2020-02-04 10:18] xieofxie commented on #3335
@fcapallera I think it means that when developer sends something, it suppresses the original RetryPrompt automatically.
So in your scenario, you should also send promptContext.Options.RetryPrompt after "Send some other message".

[2020-02-04 11:05] fcapallera commented on #3335
Thanks, I didn't think about that! I'll close the issue since it wasn't a bug.

[2020-02-04 11:05] #3335 closed

[2020-02-04 12:45] rajeshyalamarthi commented on #3301
Yes @v-kydela. I m still working on this. I m looking in Bot builder-Declarative samples which you mentioned above

[2020-02-04 17:26] clearab commented on #3261
@xieofxie No, that will not work. You need to use something like:

`            {
              "type": "Image",
              "url": "https://solvionaterdwinstorage.blob.core.windows.net/erdwinblobstore/erdwin_transparent.png",
              "size": "Large",
              "style": "Person"
            }`

[2020-02-04 17:26] #3261 closed

[2020-02-04 19:01] vishwacsena commented on #3316
@manish-95 are you using the latest from the botbuilder myget feed or Nuget? can you try the latest nightly from the myget feed and report back? https://botbuilder.myget.org/gallery/botbuilder-v4-dotnet-daily

[2020-02-04 19:05] v-kydela commented on #3301
@rajeshyalamarthi - Do you want to clarify this issue with a specific question or do you want to close this issue and ask a new question if you still need help?

[2020-02-04 19:07] daveta commented on #3332
@vishwacsena : Can you take a look?

[2020-02-04 19:21] stephanbisser commented on #3261
@clearab the string you mentioned here doesn't work:

I have this in my QnA Maker KB as an answer (like you mentioned)

![image](https://user-images.githubusercontent.com/29750798/73778623-ca671180-478b-11ea-84dc-13c61ddbeac5.png)

And I get exactly this back:

![image](https://user-images.githubusercontent.com/29750798/73778646-d521a680-478b-11ea-9aa7-14052a3c480e.png)

So how can we use pictures

[2020-02-04 19:22] stephanbisser commented on #3261
and please do not close the issue if it's not resolved, thank you

[2020-02-04 21:12] #3331 closed

[2020-02-04 21:13] chrimc62 commented on #3331
Change was checked-in.

[2020-02-05 00:09] vishwacsena opened #3339 "[LG] treat everything after first '=' as value for the property"
This template today fails

[code]

with the following error

[code]

We should treat everything after the first `=` as value.

[2020-02-05 01:40] #3339 closed

[2020-02-05 05:07] NickEricson commented on #3155
Comment didn't work. Removing Stale tag and reopening.

[2020-02-05 07:33] rajeshyalamarthi commented on #3301
@v-kydela - I am still working on this. Please close this issue. I will come with new one.

[2020-02-05 09:16] manish-95 commented on #3316
@vishwacsena After updating all the packages , I now get a new error as follows:

`System.TypeLoadException: 'Could not load type 'Microsoft.Bot.Builder.LanguageGeneration.TemplateEngine' from assembly 'Microsoft.Bot.Builder.LanguageGeneration, Version=4.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.'`

[2020-02-05 09:44] Danieladu opened #3343 "[Expression] support collection in max/min function"
Currently, Expression supports such builtin function:

[code]

It will be nice If they can support the collection parameter. Such as

[code]

[enhancement]

[2020-02-05 12:06] Danieladu commented on #3316
We have updated the API in the new version. So replace `TemplateEngine` with `LGFile`,
the classic sample is as follows:
[code]

[2020-02-05 15:20] pavolum opened #3344 "LG sets a default input hint on activities which leads to issues with prompts"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
**4.7.2**

## Describe the bug
Give a clear and concise description of what the bug is.
When LG builds an acti

[2020-02-05 19:04] #2934 closed

[2020-02-05 19:33] #3156 closed

[2020-02-06 01:11] vishwacsena commented on #3344
Two part fix to this -
1. we should not set a default for inputHint from activityFactory POV.
2. we should update adaptive inputs to set inputHint = expectingInput whenever we are issuing a prompt or reprompt (unrecognized/ invalid prompt).

[2020-02-06 03:05] #3343 closed

[2020-02-06 03:41] #3326 closed

[2020-02-06 07:05] #3301 closed

[2020-02-06 12:18] manish-95 commented on #3316
I am using this with the latest version of the Virtual Assistant solution, so the solution template is built to reference the TemplateManager, which internally uses the TemplateEngine. The entire structure will have to be changed to incorporate the solution provided by you ,right  @Danieladu ?

[2020-02-06 13:06] rajeshyalamarthi commented on #3105
@jamiemaguiredotnet , I too got this issue when i was using 4.7.0.0-preview where i am trying to set the value in user scope. Try it with  4.6.0~preview2. For me it worked.

[2020-02-06 13:45] vishwacsena commented on #3316
@manish-95 yes, all references to TemplateEngine needs to be updated.

[2020-02-06 22:37] chrimc62 opened #3348 "Handle multiple non-overlapping entities for choose properties"
When we generate ChooseProperties we show all overlapping properties, but it is possible that they don't all overlap with each other.  If they don't overlap they we want to recognize them.

Example:
"Name?"

"Did you mean 'wheat and ham sandwich' as your name, 'wheat' as bread or 'ham' as meat?

set meat to ham
"By 'wheat' did you mean 'whole wheat' or 'multigrain wheat'?

To fix this, we will kee

[2020-02-07 01:12] #3047 closed

[2020-02-07 01:18] vishwacsena commented on #3266
In LG file if > !# @sctrict = true, then throw on all `null` evaluations.

[2020-02-07 01:26] #2875 closed

[2020-02-07 03:19] chrimc62 opened #3352 "Loading lg throws syntax errors on template names"
## Describe the bug
When loading lg files, exceptions are thrown by the expression evaluator for .lg template names because the expression evaluator does not know the template names.

## To Reproduce
Debug with exceptions on the test: Microsoft.Bot.Builder.Dilogs.Adaptive.Tests/GeneratorTests/Generator_sandwich

## Expected behavior
We should not throw exceptions in normal operation.

## Additiona

[2020-02-07 06:16] Danieladu commented on #3344
Sorry for the blocking.

The `AcceptingInput` is added by `MessageFactory.Text()` function.

I do not know why the SDK would insert the `AcceptingInput` into the default message activity when `inputHint` property is not set.

We will make some investigation and provide the solution asap.

[2020-02-07 09:12] xieofxie opened #3354 "[LG] Best practice for mismatch Text and Speak in activity template"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

Sometimes, Text and speak are mismatch. For example, speak could have decorating SSML tags or could be a summary of long text.
Then the following a

[2020-02-07 17:43] #3233 closed

[2020-02-07 17:58] carlosscastro opened #3356 "SSO protocol implementation"

[2020-02-07 19:48] pavolum opened #3358 "Enable Skill Controller to allow for different adapter types (i.e. Alexa or Google adapters)"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
When hitting a bot through Google or Alexa devices, via their respective adapters from bot.builder.community, you are able to hit the bot itself but

[2020-02-07 19:51] garypretty commented on #3358
Thanks @pavolum - we have some discussions on-going surrounding the ability to use multiple adapters together with skills, as well as an affinity issue when using Alexa / Google (which work on a request / response pattern) with a scaled out app service - so the response from a skill won't necessarily hit the same instance that the original request from Alexa / Google came into.

[2020-02-07 19:55] pavolum commented on #3358
@garypretty Great! Thanks for the update and the tip. Keep me posted on whatever you all conclude. Once we are able to link up multiple adapters to a VA then I will create a sample and documentation in regards to Google/Alexa intergration into VAs with corresponding documentation on best practices (conditional response logic based on provider in .lg files, etc.).

[2020-02-07 20:58] #3348 closed

[2020-02-07 23:30] EricDahlvang commented on #3197
https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.4.0 has just been released.

Now, waiting on an update of `Microsoft.Extensions.Configuration.AzureKeyVault`: [github issue](https://github.com/dotnet/extensions/issues/1728)

[2020-02-08 02:49] dandriscoll opened #3361 "ChoiceInput etc do not cache Choice values"
## Version
4.7.0

## Describe the bug
Inputs with retry loops, like ChoiceInput, allow the developer to bind the Choices property to values in turn state. When the loop reevaluates, it blows up without a helpful error message.

## Expected behavior
ChoiceInput etc should either cache values on retry, or they should prevent referencing values in the turn. state store.

[bug]

[2020-02-08 02:52] dandriscoll opened #3362 "IfCondition throws if Condition field is missing with unhelpful error message"
## Version
4.7.0

## Describe the bug
Filing because this is an easy trap to fall into with Adaptive dialogs in code.

Developers should do this:
[code]

If you're typing quickly, it comes out as:
[code]

In the second case, the null ref exception is not helpful in discovering that the Condition property is missing.

(The second form is actually preferable from a visual standpoint but I get how it

[2020-02-08 03:01] dandriscoll opened #3363 "DialogStateManager.GetValue should have a non-generic overload that returns a string"
**Is your feature request related to a problem? Please describe.**
Much of my stored conv/turn/dialog state is in strings. However, the methods available are:
[code]

I've got a mid-sized bot and estimate I've typed `GetValue<string>()` about 50 times.

**Describe the solution you'd like**

I'd like either:
[code]

[enhancement]

[2020-02-08 03:12] dandriscoll opened #3364 "LG files should interpret newlines as double newlines"
**Is your feature request related to a problem? Please describe.**
LG files are based on markdown, but prohibit spanning text with a single line. For example,

[code]

LG renders into Markdown, and Markdown itself requires two lines to create a newline. So when I want to include newlines in output, I have to triple-quote it AND put double newlines in.

Imagine I want this output:
[code]

To achiev

[2020-02-08 17:20] #2785 closed

[2020-02-10 01:46] boydc2014 opened #3367 "String interpolation enhancement"
1. Merge individual string character
   today `hello` becomes 'h' & 'e' & 'l' & 'l' & 'o', it should be 'hello' or concat('hello') if we have to wrap a concat at top.
2. Update debugging string to mark scope more clear and avoid confusing
  today `hello, @{user.name}` is toString as 'hello ' & user.name, we should update this to concat('hello,', user.name)

[2020-02-10 11:18] jamiemaguiredotnet commented on #3105
@rajeshyalamarthi - did this work with new Composer created dialogues?

[2020-02-10 15:12] jamiemaguiredotnet commented on #3105
Hmm...seems there is now a State issue.
name: There is no UserState registered in TurnContext.TurnState.Get<UserState>().  Have you registered UserState? when I try 4.6.0-preview2.
@rajeshyalamarthi  - did you experience this?

[2020-02-10 15:58] jamiemaguiredotnet commented on #3105
@vishwacsena - any updates on this? thanks.

[2020-02-10 18:31] tomlm commented on #3321
done

[2020-02-10 18:31] #3321 closed

[2020-02-10 19:18] tomlm commented on #3185
this is merged

[2020-02-10 19:18] #3185 closed

[2020-02-10 19:21] tomlm commented on #835
I think Skillls means we drop this?  Assigning to Vishwac to evaluate.

[2020-02-10 19:23] JonathanFingold opened #3370 "FacebookAdapter.ContinueConversationAsync doesn't accept and pass through a cancellation token."
## Version
What package version of the SDK are you using: master (4.8 pre-alpha)

## Describe the bug
The FacebookAdapter.ContinueConversationAsync method does not include a cancellation token parameter and passes a default token to BotAdapter.RunPipelineAsync.

## To Reproduce
Steps to reproduce the behavior:
1. Look at the current implementation of [FacebookAdapter.ContinueConversationAsync](htt

[2020-02-10 21:17] vishwacsena commented on #3364
We should verify this is not an issue with LG. I vaguely remember an issue with webchat
(and hence emulator) dropping empty lines in markdown.

@boydc2014

[2020-02-10 21:32] BruceHaley opened #3371 "Test ShowTyping_TestMiddleware_Context_Completes_Before_Typing_Interval is bad."
The test ShowTyping_TestMiddleware_Context_Completes_Before_Typing_Interval is unstable and intermittently fails.

Example: In this build, the test fails in the debug build and succeeds in the release build: https://fuselabs.visualstudio.com/SDK_Public/_build/results?buildId=105006&view=results

[2020-02-10 21:40] vishwacsena commented on #3354
In cases where the speak .vs. dispaly is different, user should just inline the difference or use different templates. Recommendation is to use partial activity and compose using that.

[2020-02-10 21:40] #3354 closed

[2020-02-10 22:32] DDEfromOR opened #3372 "[DirectLine Speech] [Streaming] Inverted logic in BotFrameworkHttpAdapter makes it impossible to establish incoming WebSocket connections"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.7.2

## Describe the bug
The If statement below is inverted, if will always be true for WebSocket connections, causing a Bad Request to be returned:
https:

[2020-02-10 22:32] cleemullins commented on #3316
Reassigned to Vishwac. @vishwacsena, could you please triage this. I'm not sure if it's in scope for R8.

[2020-02-10 22:37] cleemullins commented on #3197
@EricDahlvang - any update here in the last few days?

[2020-02-10 22:38] cleemullins commented on #3155
@carlosscastro - are you able to pick this up? Seems like a quick change.

[2020-02-10 22:48] cleemullins commented on #2992
I pinged Bruce, and we should get this resolved.

[2020-02-10 23:00] vishwacsena commented on #3316
Closing with the solution provided. @manish-95 please update your bot to use the latest nightly packages and reactivate this ticket if you need further assistance.

[2020-02-10 23:00] #3316 closed

[2020-02-11 00:38] EricDahlvang commented on #3197
@cleemullins still waiting to hear on [KeyVault 2.2 nuget: Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory.Platform'](https://github.com/dotnet/extensions/issues/1728)

There was a new release of `Microsoft.Extensions.Configuration.AzureKeyVault` last month, but it is still dependent on `Microsoft.Azure.Services.AppAuthentication` (>= 1.0.3)
![image](https://user-i

[2020-02-11 00:44] Jeffders opened #3374 "QnAMakerDialog should support passed-in text instead of only Activty.Text"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
When the incoming activity into a bot does not include the text to be sent to a QnAMakerDialog, there is not a good way to pass this in as a paramet

[2020-02-11 01:06] #3222 closed

[2020-02-11 01:20] carlosscastro commented on #2851
@gabog this is about passing the conversation and 'relatesto' to the token service as discussed in the conversation id discussions right?

[2020-02-11 03:25] dandriscoll commented on #3364
I observed this behavior on SMS. Most of our channels implement the standard Markdown newline processing logic which requires two newlines to result in a single result newline. This is because Markdown allows you to use a single newline to break up long lines.

The reason I bring LG up is that it's a dialect of Markdown that prohibits newlines to break up long lines. Therefore, requiring two newli

[2020-02-11 03:41] vishwacsena commented on #3364
Thanks. We should then do this in ActivityFactory and not in LG. @boydc2014?

[2020-02-11 08:24] Danieladu commented on #3266
test file and result: https://github.com/microsoft/botbuilder-dotnet/blob/cc873222103e62cc50a8109d2be38a5c38268fdf/tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/RunTimeErrors.lg

[2020-02-11 09:43] rajeshyalamarthi commented on #3105
@jamiemaguiredotnet  yeah it is working.

[2020-02-11 09:45] jamiemaguiredotnet commented on #3105
Excellent @rajeshyalamarthi . I am getting a User State issue, I believe it has something to do with the User State not being setup somehow in the test project.

[2020-02-11 11:26] nagavamsi777 commented on #3141
Getting below issue when I am trying to post 24 hours weather report as courosel format means one card for one hour in teams
Operation returned an invalid status code 'BadRequest'   at Microsoft.Bot.Connector.Conversations.ReplyToActivityWithHttpMessagesAsync(String conversationId, String activityId, Activity activity, Dictionary`2 customHeaders, CancellationToken cancellationToken)

Is there any

[2020-02-11 12:48] jamiemaguiredotnet commented on #3105
For anyone else:

![image](https://user-images.githubusercontent.com/21563455/74238005-b90e8f80-4ccc-11ea-9158-99a9e4badac4.png)

![image](https://user-images.githubusercontent.com/21563455/74238025-c75cab80-4ccc-11ea-9f57-b04106c74bb2.png)

This is with 4.6.0-preview2

[2020-02-11 16:32] v-kydela commented on #3141
@nagavamsi777 - You are commenting on a closed issue. Please make new posts for new issues. But for now you can see in the [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#support-for-carousel-collections) that carousels have a 10-card limit in Teams.

[2020-02-11 19:12] carlosscastro opened #3377 "Skills + OAuth + Conversation IDs: Populate RelatesTo field with root conversation reference and pass to token service"

[2020-02-12 01:32] Virtual-Josh opened #3380 "ChannelServiceController can't deserialize into Activity consistently"
If the activity has an attachment (hero card for example) the auto-serialization that happens into the activity corrupts the Content property of the Activity. To fix you can do the following:

`string b = await (new StreamReader(Request.Body)).ReadToEndAsync();`

[2020-02-12 02:03] gabog commented on #3380
Are you seeing this in a .Net Core 2.1 or 3.1 project?

[2020-02-12 05:35] #3370 closed

[2020-02-12 06:40] #3265 closed

[2020-02-12 07:23] #3367 closed

[2020-02-12 09:40] Danieladu commented on #3282
We temporarily preserve the differences between coding languages

[2020-02-12 09:40] #3282 closed

[2020-02-12 14:39] boydc2014 commented on #3352
Thanks Chris, the issue here is not exactly "throwing exceptions when loading lg files", this is somehow a by design behavior to tolerance some exception, when we do the performance tuning. Let me explain.

* This exception is happening in evaluation time, not in loading time (otherwise we will not start the bot).
* This is exception is happened because we didn't pass the whole text to the parser

[2020-02-12 17:21] Virtual-Josh commented on #3380
It's 3.1

[2020-02-12 18:28] gabog commented on #3380
Do you have .AddNewtonsoftJson() when registering the controllers in Startup.cs? (you will need to add the Microsoft.AspNetCore.Mvc.NewtonsoftJson nuget to the solution)

![image](https://user-images.githubusercontent.com/12264946/74365086-6059f800-4d9b-11ea-972f-e6ae0ad1c92f.png)

We also fixed some other issues with 3.1 compat in R8, can you try referencing the nightly build and let me know if i

[2020-02-12 19:12] chrimc62 commented on #3165
For lists we end up with two levels of arrays, i.e.
wheat rye -> bread: [[multigrainWheat, wholeGrainWheat], [rye]]  The current @ resolver unwraps only the first level, not all levels, i.e. @bread -> [multiGrainWheat, wholeGrainWheat].  In the original definition of @ it would unwrap all arrays and produce "multiGrainWheat" in this case.

[2020-02-12 20:03] vishwacsena opened #3383 "[LG] Improve missing type error - activityfactory"
Today, it is possible for me to get thrown off by the error produced by LG, especially in cases where the user is trying to print out an object.

Here's an example -

[code]

The expression itself in this case evaluates to this
[code]

The error i see is this
[code]

The real issue here seems to be that we are trying to interpret the response from the expression as a structured response in Activit

[2020-02-12 22:06] DDEfromOR commented on #3131
As per discussion with @stevengum I'm closing this until/unless it's requested by a user. The current model doesn't account for the bot making decisions on connection lifespans and explicitly places that responsibility on the channel and client, it would require a significant amount of work in all three areas to support bot originated connection closures.

[2020-02-12 22:06] #3131 closed

[2020-02-13 00:06] clearab opened #3385 "Resolve dependencies between preview/GA bits"
Make sure we skillDialog and adaptiveDialogs are in the correct assemblies, and no dependency exists to adaptive in released code.

[2020-02-13 01:07] #2665 closed

[2020-02-13 05:07] Zerryth opened #3386 "Skills Don't Always Create Correct Connectors on Outbound Replies"
Deep breath. Tedious to debug, because it was like bot-ception :sweat: :dizzy_face:
## Version
dotnet 4.7

## Describe the bug

Channel --> Consumer --> Skill1 --> Skill2

In BF we create Connectors to send replies. The current Skills model makes the creation of the Connector on inbound Activity processing, caching that Connector, then on outbound we grab what's cached to send a reply. Since cache

[2020-02-13 05:21] Zerryth commented on #3386
Testing above also done using [Gabo's updated skills conversation id factory](https://github.com/gabog/BFSkillScenarios/blob/master/Src/DotNet/DialogToDialog2Instances/DialogRootBot.1/SkillConversationIdFactory.cs) using Cosmos DB, to get passed the error you encounter in multi-instance skills, where it can't get the id from convo reference

[2020-02-13 07:36] #3352 closed

[2020-02-13 07:38] boydc2014 commented on #3352
Fixed in #3387.

No more exceptions in Expression library, but i do see a few exceptions for dictionaries

Is this expected @chrimc62 ?

[2020-02-13 18:37] chrimc62 commented on #2831
Tom and I talked and decided adding this to runtime was not needed.  At runtime invalid json will get caught by deserialization and invalid semantics by the loader.  Validation is really an author time thing.

[2020-02-13 18:37] #2831 closed

[2020-02-13 19:13] garypretty commented on #3371
Yes, I saw this last week. I had some builds failing consistently.  I merged from master and subsequently the build passed, but I don't see any changes to anything that would affect that.

[2020-02-13 19:15] garypretty opened #3388 "Bring adapters out of preview"
Work is done, but preview flags need removing from the projects so the packages are not marked as pre-release anymore.

[2020-02-14 00:04] BruceHaley commented on #2992
PR: Update to Microsoft.SourceLink.GitHub #3389 https://github.com/microsoft/botbuilder-dotnet/pull/3389

[2020-02-14 00:18] dandriscoll opened #3390 "Azure Bot Builder libs should support encryption"
The Microsoft.Bot.Builder.Azure libraries should support encryption of bot state. Specifically I am looking for:

1. Encrypt bot state with a key that I specify and control
2. Protect bot state PKs so they don't contain bare PII. For example, an SMS conversation ID includes a phone number.
3. Allow me to roll my encryption keys over time

[enhancement]

[2020-02-14 02:18] vishwacsena opened #3391 "[Adaptive[ Dynamic properties do not work"
dialog[turn.abc].score where turn.abc resolves to string 'result' does not work.

[2020-02-14 03:16] xieofxie commented on #3354
@vishwacsena So I should use this? Thanks
[code]

[2020-02-14 05:24] dandriscoll opened #3392 "Adaptive Dialog user/conversation state interop does not work"
## Version
4.7.0

## Describe the bug
I am trying to use Adaptive Dialogs to read and write state used in the user and conversation stores in my older Waterfall dialogs. Unfortunately interop between the two systems does not work.

The problem appears to be a serialization issue.

The ConversationState and UserState objects serialize properties at the state root. For example, if I use Conversation

[2020-02-14 05:35] dandriscoll opened #3393 "Roll back DialogManager breaking change of stack property from "DialogState" to "_dialogs""
Issue is in DialogManager.cs#24

## Version
4.7.0

## Describe the bug
DialogManager uses a different property name for the dialog stack than the old DialogState system. DialogManager uses "_dialog" while the existing code uses "DialogState."

Preserving the existing name is important to:
1. Prevent breaking conversations when upgrading to DialogManager, which is largely a prerequisite for Adaptiv

[2020-02-14 19:29] tomlm commented on #3393
Hm. the dialogmanager is preview lib, and so we know that we are making breaking changes.

[2020-02-15 07:19] msftjayongg opened #3395 "Microsoft Teams: Bot Framework + Application Insights with CreateConversationAsync causes null exception?"
## Version
4.7.2

## Describe the bug
TelemetryInitializerMiddleware causes null exceptions when calling CreateConversationAsync.

## To Reproduce
Steps to reproduce the behavior (I was on MS Teams but unsure if this is necessary):
Create an AdapterWithErrorHandler inheriting from BotFrameworkHttpAdapter that "Use(middleware)" where middleware is of type TelemetryInitializerMiddleware.

call the m

[2020-02-16 22:14] dandriscoll commented on #3393
This is the issue we discussed last week -- the current preview library breaks compatibility with the existing ~v4.4 dialog system.

You're correct that this bug only needs to be fixed by the time DialogManager exits preview.

[2020-02-17 15:33] vishwacsena commented on #3354
@xieofxie yes. you can also do this

[code]

[2020-02-17 23:00] chrimc62 opened #3398 "Expressions should include flatten function"
There is currently no way in the expression language to flatten arrays into primitive values.  Union can do this for a static number of expressions, but can't do it across a computed sets of arrays.  What is needed is to be able to do flatten([[1, 2, 3], [4, [5], 6]]) -> [1, 2, 3, 4, 5, 6].

[enhancement]

[2020-02-18 09:26] jamiemaguiredotnet commented on #2230
Hi @vishwacsena - I wondered if this can be escalated at all please?

[2020-02-18 17:21] dmvtech commented on #3395
Agreed this looks like a bug. Looking into solutions.

[2020-02-18 18:58] #2992 closed

[2020-02-18 18:58] BruceHaley commented on #2992
Completed

[2020-02-18 19:46] chrimc62 opened #3401 "Release BERT based recognizer package"
We have the local BERT model and the recognizer implementation around it.  We should push to 100% for how we are going to release/document it.
[enhancement]

[2020-02-18 19:48] chrimc62 opened #3402 "Enable speech priming in adaptive dialogs"
Increasingly bots want to work for speech and we need to make sure speech priming is easy to use in adaptive dialogs.  To do this we should define how the current input controls and the ask action connect to speech priming.  This should include documentation and samples.

Work is in progress with the speech team to define this.  Rough work items:
* Add speech:pronunication/speech:phonetics to LU p

[2020-02-18 21:25] #3155 closed

[2020-02-18 21:49] #3249 closed

[2020-02-18 23:51] clearab opened #3405 "Add 'role' & 'tenantId` to teamsChannelAccount"
In the Teams channel the data returned from all get members APIs is changing to include the user role (guest, owner, user) and tenant Id. We should add this property to the appropriate objects and make sure it is assigned.

[2020-02-18 23:54] clearab opened #3406 "Cleanup onTeamsMembersAdded event"
With the changes to the data returned from the get members API, we should audit/cleanup our augmentation of the onTeamsMembersAdded event. The additional call to get more information about the user who was added is probably extraneous now. At a minimum we should switch to the get single member endpoint outlined [here](https://github.com/microsoft/botframework-sdk/issues/5714)

[enhancement]

[2020-02-19 00:38] cleemullins commented on #3356
@jeffders, @carlosscastro  This P0 Issues has no PR assigned to it. I thought this was done. Could you bring this issue up to speed with where things are at?

[2020-02-19 00:42] cleemullins commented on #3266
@danieladu, This is a P0 issue in R8. Do we have an ETA for when this is done?

[2020-02-19 00:44] cleemullins commented on #3200
@tomlm, @vishwacsena did @3376 close this issue?

[2020-02-19 00:46] cleemullins commented on #2783
@vishwacsena  - can you update this issue? Is this R8 and P0?

[2020-02-19 00:47] cleemullins commented on #2406
@tomlm, this is a P0 R8 bug. Can you please update the thread?

[2020-02-19 00:50] cleemullins commented on #3388
Pushing to R9 after discussion with Gary.

[2020-02-19 00:54] cleemullins commented on #3380
@virtual-josh, can you confirm this fixes the issue you were seeing? We believe this is a Samples issue as part of @garypretty is updating to .Net Core 3.1?

[2020-02-19 00:56] cleemullins commented on #3377
Note: This is alternate to the microformat. @johnatyalor is lobbying for the Microformat while listning to Band on the Run.

[2020-02-19 00:56] garypretty commented on #3380
You could also check the 3.1 samples branch I have open right now. They have all been updated so you should be able to test the sample straight from there if needed.

[2020-02-19 00:57] cleemullins commented on #3377
This is a P0 to enable SSO Auth work. Relabeling as P0.

[2020-02-19 01:03] vishwacsena commented on #3200
Yes. it did. Closing.

[2020-02-19 01:03] #3200 closed

[2020-02-19 01:05] cleemullins commented on #3380
@virtual-josh, can you confirm this fixes the issue? If so, please make sure the P0 set of Sample Updates we have in flight takes this change? (@garypretty is driving that set of changes)

[2020-02-19 01:05] cleemullins commented on #3380
https://github.com/microsoft/BotBuilder-Samples/issues/2189

[2020-02-19 01:07] Virtual-Josh commented on #3380
It doesn't fix it. I still get a `Sorry, it looks like something went wrong.` message from the bot.

[2020-02-19 03:36] heaths commented on #3197
The older Microsoft.Azure.* and related packages like this one are no longer under active development and we recommend customer upgrade to the newer Azure.* packages that are faster with less memory overhead, and easier to use - all supported languages (a growing list of languages) were designed to be easy, consistent, but idiomatic.

Specific to this issue, MSAL has caused lots of problems with b

[2020-02-19 05:00] xieofxie opened #3407 "[LG] from assembly for [import], fromfile etc."
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

From assembly will help in the following:
* When I am writing an SDK, these lg files must be embedded in dll itself
* When I don't need hot update,

[2020-02-19 15:04] garypretty commented on #3380
@Virtual-Josh What version of the integration libs are you using?  They have been updated for 3.1 compatibility.

Can you try the skill samples on the working 3.1 samples branch here -> https://github.com/microsoft/BotBuilder-Samples/tree/gary/net-core-3-1/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot

I just confirmed I was able to run the root and skill bots and send an attachment (HeroC

[2020-02-19 15:04] garypretty commented on #3380
@Virtual-Josh What version of the integration libs are you using?  They have been updated for 3.1 compatibility.

Can you try the skill samples on the working 3.1 samples branch here -> https://github.com/microsoft/BotBuilder-Samples/tree/gary/net-core-3-1/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot

I just confirmed I was able to run the root and skill bots and send an attachment (HeroC

[2020-02-19 19:42] Virtual-Josh commented on #3380
As a small update it seems as if the core problem is in the translation between integration libraries between 4.8-preview and current. I'm able to get hero cards to come across, as intended when everything is using all 4.7 stuff (what I've been working with), or all 4.8 preview (the skill bot sample).

While I've found a way to set serialization properties, I haven't been able to resolve the xcomp

[2020-02-19 21:30] Virtual-Josh commented on #3380
I was able to fix the issue. A combination of adding the `.AddNewtonsoft()` in the `startup.cs` as well as updating the serialization settings parameters on the `JsonResult` callback to the bot fixed the issue.

[2020-02-19 21:30] #3380 closed

[2020-02-19 21:48] cleemullins commented on #3197
@heaths Thanks! We'll hold off until Azure.Extensions.configuration.secrets (or whatever the final name is) is out. For now I've punted this bug to R9 (which will ship for us in May), as it sounds like that will align with your release cycle.

[2020-02-19 22:03] cleemullins opened #3413 "Onboard to .Net Dependency Graph Generator"
The new [Azure .Net SDK](https://github.com/heaths/azure-sdk-for-net) uses a very nice dependency generator and graph. They have it surfaced via Build Badges.

You can see it [in action here](https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-net/dependencies/InterdependencyGraph.html).

[2020-02-20 01:25] EricDahlvang commented on #3197
We do not actually have a dependency in our libraries waiting on a fix.  There is some confusion in that users tend to think the issue is with the Bot Builder packages.  But, we are already using Microsoft.IdentityModel.Clients.ActiveDirectory (>= 5.2.4)

This issue (#3197) is only open for tracking, while waiting for an official KeyVault extension ( Azure.Extensions.Configuration.Secrets?) which

[2020-02-20 19:09] heaths commented on #3197
@pakrym can confirm, but a preview of the packages should be shipping very soon with a GA planned in March.

[2020-02-21 00:54] Danieladu commented on #3266
Yes, we have close it.

[2020-02-21 00:54] #3266 closed

[2020-02-21 10:53] deenaMaistering opened #3424 "Dialog file in .cs format"
Using Bot Framework Composer has made creating dialogs much easier. Can we get the dialog files generated by the bot framework composer in an Adaptive Dialog format in .cs file? Right now we get it in the form of .dialog and .lu files.

[2020-02-21 19:45] stevengum opened #3418 "OAuthScope should be passed in to GetAppCredentialsAsync"
## Version
master/`4.7.x`

## Describe the bug
If the OAuthScope is not passed into GetAppCredentialsAsync, the cacheKey for the AppCredentials is incorrect:

https://github.com/microsoft/botbuilder-dotnet/blob/48c2d458c00e884bab42934168a78eacadca9df2/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L1288

When the method creates an AppCredentials, these AppCredentials will instantiate with

[2020-02-24 02:03] #3089 closed

[2020-02-24 02:45] #3179 closed

[2020-02-24 02:47] #3165 closed

[2020-02-24 03:09] #3344 closed

[2020-02-24 04:11] vishwacsena commented on #3344
@boydc2014 did we also do a fix so input dialog sets this correctly on prompt/ reprompt?

[2020-02-24 07:30] boydc2014 commented on #3344
yes, see https://github.com/microsoft/botbuilder-dotnet/pull/3427

[2020-02-24 15:52] #3231 closed

[2020-02-24 17:47] vishwacsena commented on #3424
Unclear what's needed here from SDK side. Pinged cwhitten for details.

[2020-02-24 18:31] #3386 closed

[2020-02-24 20:11] EricDahlvang opened #3429 "Add 'state' to AppBasedLinkQuery"
## Version
latest

## Describe the bug
During the auth flow for Link Unfurling, the 'state' field will be sent to OnTeamsAppBasedLinkQueryAsync within the activity.value.  This field should be on the [AppBasedLinkQuery](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Schema/Teams/Generated/AppBasedLinkQuery.cs)

## To Reproduce
Steps to reproduce the behavior:
1.

[2020-02-24 20:19] gabog commented on #2851
Hi @carlosscastro, yes, it is, we may need to update the description to represent the actual work once we are clear one what needs to be done in the SDK to support the relates to property

[2020-02-24 21:03] clearab opened #3430 "Skills can handle request/response from custom adapters & directline speech (DotNet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5735)

[2020-02-24 22:31] #3356 closed

[2020-02-24 22:40] vishwacsena commented on #3424
No plans right now to support this -
1. Round tripping generated code is non trivial
2. This would require every single concept available through code based adaptive dialog also be available through UX.

@deenaMaistering can you clarify if you are looking for an 'export to CS' option in composer .vs. 'serialize to CS' option? The later is not possible. If you are looking for a one-way export opera

[2020-02-24 22:40] #3424 closed

[2020-02-24 23:48] ruslanmozhaev opened #3432 "CodeAction ends dialog (in 4.8-preview)"
Hello!
I'm currently trying out Adaptive dialog with Luis (in 4.7-preview) and was adding QnA maker so that I can use them both in dialog. I've found out that integration with it is still in progress and decided to try the latest 4.8 preview to check it out. (But maybe I've missed how it should be done in 4.7-preview version?)
After implementing required changes to recognizers and LG I've found ou

[2020-02-25 00:43] #3392 closed

[2020-02-25 00:43] #3393 closed

[2020-02-25 16:08] carlosscastro commented on #3377
Done as part of #3360

[2020-02-25 16:08] #3377 closed

[2020-02-25 16:09] carlosscastro commented on #2851
Done as part of #3360

[2020-02-25 16:09] #2851 closed

[2020-02-25 21:43] johnataylor opened #3437 "implement request-response"
More details here:

https://github.com/microsoft/botframework-sdk/issues/5735

and an initial PR for JavaSCript:

https://github.com/microsoft/botbuilder-js/pull/1783/files

[2020-02-25 21:56] carlosscastro opened #3438 "Rename TeamsWorkaround middleware to a better name"
Having a 'workaround' in middleware makes customers feel like they are using patched code. Please, lets rename this builtin middleware to a name that doesn't convey that.

[2020-02-25 22:15] vishwacsena commented on #3432
@ruslanmozhaev, with 4.8.xx bits, you need to end the codeAction dialog from within it for the conversation to move forward.

**Old:**
[code]

**New:**
[code]

This will be documented as breaking change when we ship 4.8.xxx to NuGet.

[2020-02-25 22:15] #3432 closed

[2020-02-25 23:31] garypretty opened #3441 "Update TelemetryClient to enable tracking of dialog ('page') views"
This is to support the ability to track user flows within application insights and understand how users move between dialogs within a conversation using the built in user flows / funnels pages within App Insights portal.

POC completed and example results in Azure portal below.

![flows2](https://user-images.githubusercontent.com/3900649/75297072-d09a5c00-5826-11ea-82e5-8ff7e860fa2c.PNG)

[enhance

[2020-02-25 23:32] #3395 closed

[2020-02-26 01:11] msftjayongg opened #3442 "Microsoft Teams: Bot Framework + Application Insights proactive messages cause null exception"
## Version
4.7.2

## Describe the bug
TelemetryInitializerMiddleware.OnTurnAsync() causes null exceptions when there is no httpContext.

## To Reproduce
1. Create an AdapterWithErrorHandler inheriting from BotFrameworkHttpAdapter that "Use(middleware)" where middleware is of type TelemetryInitializerMiddleware.
2. Send a proactive message (i.e. there is no HttpContext).

Observe there is a null ex

[2020-02-26 01:12] msftjayongg commented on #3442
This is related, but not the same, as issue 3395.

[2020-02-26 01:38] msftjayongg commented on #3442
@clearab FYI

[2020-02-26 04:38] boydc2014 opened #3443 "API naming review for LG & Expression"
API naming revisit for LG & Expression since it's going to RC.

Meeting notes from LG sync up:

### LG
- [ ] rename LGFile class to LG
- [ ] rename SimpleMultipleLanguageGenerator to MultiLanguageLG
     - [ ] move MultiLanguageLG to LG package
     - [ ] MultiLanguageLG will not implement IGenerator
     - [ ] update the interface to accept a locale instead of turnContext so that it don't depends

[2020-02-26 06:12] Danieladu commented on #3443
name `EvaluateText` would be confused with `evaluate string content`.

[2020-02-26 12:23] ruslanmozhaev commented on #3432
thank you!

[2020-02-26 16:56] gabog opened #3445 "BotStateSet.GetPropertyValueAsync<T> throws exception when defaultValueFactory returns null in second attempt"
## Version
4.8.x

## Describe the bug
The BotStateSet.GetPropertyValueAsync<T> () method throws an exception if the defaultValueFactory returns null on the second attempt to read the value.

## To Reproduce
The following unit tests reproduces the error (the second call to convProperty.GetAsync and userProperty.GetAsync throw a nullreference exception:

[code]

[2020-02-26 17:04] johnataylor commented on #3437
already tracking as #3430

[2020-02-26 17:04] #3437 closed

[2020-02-26 17:48] johnataylor opened #3446 "Change to ActivityHandler breaks TeamsActivityHandler"
Either the code in ActivityHandler for invoke should be moved to TeamsActivityHandler which already at least partially covers this scenario. (i.e haandles "signin/verifyState")

Or the TeamsActivityHandler should overrride OnInvokeAsync.

Assuming the new code in ActivityHandler is actually Teams specific the new code in ActivityHandler seems unnecessary or at least should be a minor change in the

[2020-02-26 17:49] johnataylor commented on #3446
Also need to see if the JavaScript has similar problems.

Incidentally this did cause compiler warnings which were not caught by our build system.

[2020-02-26 18:25] clearab opened #3447 "Support single member & paged members endpoint for Teams"
We need to implement support for the single member and paged member endpoints for Teams. See [this parent](https://github.com/microsoft/botframework-sdk/issues/5714) for more details on the single member endpoint.

## Single member

We should implement SDK support for `TeamsInfo.GetTeamMember` (userId + teamId) and `TeamsInfo.GetMember` (userId + teamId). The endpoint should be modeled off of the

[2020-02-26 19:13] mdrichardson commented on #3442
@msftjayongg Good catch. I caught part of this in [this PR](https://github.com/microsoft/botbuilder-dotnet/pull/3436), but it looks like I missed one. I'll work up a PR for it, now.

[2020-02-26 19:28] stevengum opened #3449 "Update SkillConversationIdFactoryBase to take and return the correct Audience/OAuthScope"
## Describe the bug
SkillConversationIdFactoryBase should have overloads or new methods that take and return audiences when storing and retrieving ConversationReferences.

This is required to light up the work performed in https://github.com/microsoft/botbuilder-dotnet/pull/3409/ and will ensure that proactive messages from bots to other bots is correctly setup.

## Additional context
https://gith

[2020-02-26 19:38] stevengum opened #3450 "Update SkillHttpClient/BotFrameworkClient to support audience and bufferedReplies"
## Describe the bug
The SkillHttpClient needs to include an overload that takes an audience and passes it through to the SkillConversationIdFactory for storage.

This audience is required so that when the SkillConversationIdFactory is used via the SkillHandler class, the correct ConnectorClient is created for sending activities.

## Additional context
Issue https://github.com/microsoft/botbuilder-

[2020-02-26 19:46] stevengum opened #3451 "Update SkillHandler to use ContinueConversationAsync overload with audience"
## Describe the bug
SkillHandler needs to provide the correct audience when calling BotFrameworkAdapter.ContinueConversationAsync (#3409). It will get this audience from the SkillConversationIdFactory implementation.

## Additional context
Update SkillConversationIdFactoryBase to take and return the correct Audience/OAuthScope #3449
Update SkillHttpClient/BotFrameworkClient to include overload tha

[2020-02-26 20:04] garypretty commented on #2406
Spoke with @vishwacsena and I am happy to pick this up with the other telemetry work. Makes sense to tackle them as a group.

[2020-02-26 20:22] Kaiqb commented on #3446
@johntaylor - who should this be assigned to?

[2020-02-26 20:33] EricDahlvang commented on #3446
Is this referring to the sso changes from @Jeffders ?

[2020-02-26 21:30] stevengum commented on #3451
https://github.com/microsoft/botbuilder-js/issues/1801

[2020-02-26 21:30] stevengum commented on #3450
https://github.com/microsoft/botbuilder-js/issues/1802

[2020-02-26 21:30] stevengum commented on #3449
https://github.com/microsoft/botbuilder-js/issues/1800

[2020-02-27 01:23] #3430 closed

[2020-02-27 01:29] boydc2014 commented on #3443
I was actually very interested at options 3, we could possible do the evaluation natively in expression, by have LG evaluator only inject functions and form a customized expression engine, do you think that's possible?

[2020-02-27 02:14] Danieladu commented on #3443
Agree with this proposal. So we can put all expression/escape recognization work into expression library.

[2020-02-27 05:01] stevengum commented on #3450
Per @johnataylor, we will likely keep this method as `"bufferedReplies"` do not need to store the audience of the forwarded activities from the skill.

We do need a method that allows users to toggle `"bufferedReplies"`.

[2020-02-27 17:26] tomlm commented on #2406
Cool, a couple of thoughts
1.  **TelemetryLoggerMiddleware** should add  IBotTelemetryClient to **context.TurnState.Add<IBotTelemetryClient>()** so it is available to any component via **Context.TurnState.Get<IBotTelemetryClient>()**
2. We should consider instrumenting DialogContext.BeginDialog() EndDialg() etc. as that would give us telemetry for all dialogs regardless if they add additional tele

[2020-02-27 17:37] #3445 closed

[2020-02-27 17:40] chrimc62 opened #3459 "Rename $role union/union(type) to interface/interface(type)"
This will make the meaning of these $role tags much clearer.  This requires changes to the SDK schema definitions and bf dialog:merge, but should be transparent to the rest of the stack since it is only used to put together the app.schema.

[enhancement]

[2020-02-27 17:52] tomlm commented on #3459
**Today**
Declaring a componentization point looks like this
**Microsoft.IDialog.schema**
[code]
Declaring implementation of a component
**Microsoft.Foo.schema**
[code]

**After DCR**
Declaring a componentization point looks like this
**Microsoft.IDialog.schema**
[code]
Declaring an implementation of a IDialog
**Microsoft.Foo.schema**
[code]

[2020-02-27 17:57] garypretty commented on #2406
@tomlm Thanks.
1. Sounds sensible - all being well it will be the new abstract class as opposed to IBotTelemetryClient, depending on feedback on my open PR for enabling page views (https://github.com/microsoft/botbuilder-dotnet/pull/3440)

2. I think this will make sense for some events. i.e. the new page views event we will have once we figure out the other PR. We probably still need to have trac

[2020-02-27 19:13] tomlm opened #3460 "DialogClass and Class memory scopes don't evaluate expressions"
## Version
4.8 nighlties

## Describe the bug
When we added dialogclass and class scopes we didn't have expression properties.  Now that we have formalized expression properties, we don't have a way from the memory scope to do the evaluation of the expressions to get the actual configuration.

## Expected behavior
If I have a class with an expressionProperty on it, the memory scope shows the evalu

[2020-02-28 01:25] chrimc62 opened #3462 "Expressions should include unique function to remove duplicates from collection"
Currently there is no easy way to get a unique collection of values.  unique would remove all duplicates from an array.

[enhancement]

[2020-02-28 01:29] #3442 closed

[2020-02-28 01:31] #3391 closed

[2020-02-28 01:54] stevengum commented on #3418
Resolved via #3409

[2020-02-28 01:54] #3418 closed

[2020-02-28 18:09] chrimc62 commented on #3462
This has been implemented in JS, but is still needed for node.

[2020-02-28 18:10] chrimc62 commented on #3462
This is checked into js, but needs to move to c#.

[2020-02-28 18:12] chrimc62 opened #3465 "indiciesAndValues should work over objects as well as arrays"
In the original design of indicesAndValues it was supposed to work over both arrays and objects.  This has been implemented in node, but is still needed in C#.
[bug]

[2020-02-28 20:54] vishwacsena opened #3466 "Expression - improvements"
- [x] Today we have both `Array` and `CreateArray`. We should just do `CreateArray` and drop support for `Array` prebuilt function
- [ ] Support multi-line function definition. Writing long expressions as single line is hard, we should support multi-line parsing for expressions
[code]

[code]
- [x] Add prebuilt functions for type checking. isString, isArray, isObject, isInt, isDateTime, isFloat, i

[2020-02-28 22:34] vishwacsena commented on #3462
@chrimc62 can you add the JS PR so we can keep track?

[2020-02-28 22:35] vishwacsena commented on #3465
@chrimc62 can you link the JS PR?

[2020-02-29 00:07] tomlm opened #3467 "[DCR] Clean up $role semantics for composer"
**Change $role .schema files**
$role for expression properties should be the actual typed object:
[code]
type is essentially ignored, as the $role will define it.

**change for bf dialog:merge**
Change dialog merge to emit
* $role should be passed through
* type array should be used instead of oneOf, with the value type as the first type
   type = ["boolean","string"]
Unless for complex type defin

[2020-03-02 04:30] #3462 closed

[2020-03-02 04:30] #3465 closed

[2020-03-02 06:37] KoushikGoramane commented on #1098
Will it works for Microsoft teams channel also?

If it works then where these codes we have to put?

[2020-03-02 07:26] xieofxie opened #3472 "QnAMakerDialog should create QnAMaker with more parameters"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

QnAMakerDialog creates QnAMaker without parameters like IBotTelemetryClient telemetryClient, bool logPersonalInformation. So we could not control t

[2020-03-02 14:27] darrenj opened #3495 "Ability to trigger a dialog on "DialogComplete" event"
## Is your feature request related to a problem? Please describe.

As a dialog designer I want to execute common dialog logic at the end of all dialogs. For example, Feedback or sending an event at the end of a Dialog (e.g. EndOfConversation for skills)

## Describe the solution you'd like

Ability to trigger a dialog when a dialog has ended, the composer equivalent of doing this in code is below

[2020-03-02 19:24] #3459 closed

[2020-03-02 22:07] johnataylor opened #3475 "SkillDialog needs to handle DeliveryMode BufferedReplies correctly"
With BufferedReplies the activities generated from the skill are returned in the POST response. The SkillDialog therefore should process them when they arrive.

[2020-03-02 22:09] #3311 closed

[2020-03-02 22:09] #3385 closed

[2020-03-02 23:02] #3447 closed

[2020-03-03 00:06] vishwacsena commented on #3443
Tagging P0 since this will be a breaking change and require RC2 if not done for R8.

[2020-03-03 01:15] johnataylor opened #3479 "Possible redundant code in mention stripping."
Its not clear (from the tests) when the mention.text can be null. Its also not clear why the implementation uses RegEx. The JavaScript implementation does neither.

https://github.com/microsoft/botbuilder-dotnet/blob/c5839f89067e47887ec49e0c5b2a2fd19922112e/libraries/Microsoft.Bot.Schema/ActivityExtensions.cs#L68

[2020-03-03 20:08] #3446 closed

[2020-03-03 20:21] ryanlengel opened #3483 "LuisService deprecation inconsistent between languages"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
`4.8.0-preview*`

## Describe the bug
Give a clear and concise description of what the bug is.
Updating Soluti

[2020-03-03 20:56] Stevenic commented on #3210
Postponing to R9

[2020-03-03 21:04] Kaiqb commented on #3460
merged

[2020-03-03 21:04] #3460 closed

[2020-03-03 21:07] eduardmartos commented on #3210
Hi Stevenic. One question related to this... This postposing change would be implemented as part of BotFramework v4 Base Library (I mean, it would work on Bot “normal” .Net Core projects and Bot Composer projects or only at BotFramework Composer?
We need a flag on Activity Object to know if the Activity was created as a part of a Dialog or Not and I think this evolutive its a little bit related.

[2020-03-03 21:11] Kaiqb commented on #2324
No porting req'd.

[2020-03-03 23:16] #3449 closed

[2020-03-03 23:16] #3450 closed

[2020-03-03 23:16] #3451 closed

[2020-03-04 00:12] #3298 closed

[2020-03-04 00:41] v-kydela opened #3488 "Unclear whether IStatePropertyAccessor<T>.GetAsync should throw a MissingMemberException"
## Version
master branch

## Describe the bug
A `MissingMemberException` is mentioned in the doc comments for [`IStatePropertyAccessor<T>.GetAsync`](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/IStatePropertyAccessor.cs#L23) and [`BotStatePropertyAccessor<T>.GetAsync`](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.B

[2020-03-04 06:14] stevengum opened #3490 "BotFrameworkAdapter.BuildCredentialsAsync should support CertificateAppCredentials"
Currently, it is complicated to use CertificateAppCredentials when using BotFrameworkAdapter and BotFrameworkHttpClient, both of which have a BuildCredentialsAsync, and needs to be overriden.

Potentially, this could roll into a general refactor of the auth layer.

https://github.com/microsoft/botbuilder-dotnet/blob/b7ea3c09703b78fb9a9cc07cce11f7b96f10d8a2/libraries/Microsoft.Bot.Builder/BotFramew

[2020-03-04 21:07] johnataylor commented on #3441
fix checked in

[2020-03-04 21:07] #3441 closed

[2020-03-04 21:30] chrimc62 opened #3492 "Custom functions are not resolved in imported .lg files"
## Describe the bug
Custom functions are not used when evaluating imported .lg files.  This is fixed in the node version through this PR which also includes a test: https://github.com/microsoft/botbuilder-js/pull/1845  The specific issue is that start.ExpressionEngine is not passed into ParseText inside ResolveImportResources.

## Expected behavior
Custom functions should be allowed in imported .l

[2020-03-04 23:26] chrimc62 opened #3493 "Support array and json syntax in expressions"
It would be nice if you could construct an array using bracket syntax or an object using json syntax.  Today to create an array you need to do:
createArray('a', 'b', 'c') -> ['a', 'b', c']
It would be nice to just support array syntax.  While the current is OK, nesting makes it much harder to read, i.e. createArray(createArray(1, 3), createArray(4, 5)) is much less clear than [[1, 3], [4, 5]].

Si

[2020-03-05 02:28] clearab opened #3497 "Add channelCount and memberCount to TeamDetails"
Teams is returning two new fields to the object returned from the get Teams Profile endpoint. We need to add them to the TeamDetails object so they are serialized properly.

[2020-03-05 02:28] tomlm opened #3498 "Expression.ToString() is incorrect."
## Describe the bug
Expression.ToString() is used by JsonConverter to turn an Expression back into a string.  It has a bug that it doesn't create proper strings.  For example:
```json(`{'foo': '${hello}','item': '${world}'}`).foo,hello,) ```
generates incorrect escaping of quotes
```(replace("hello'", "'", '"'),hello",)```
generates incorrect escaping of quotes,
etc.

## To Reproduce
This unit tes

[2020-03-05 02:37] boydc2014 commented on #3498
Offline talked with Tom, We don't have to to exactly same string,  but we need to make sure at least the toString() result is re-parseable and generate same parseTree

[2020-03-05 06:22] #3475 closed

[2020-03-05 16:38] #3498 closed

[2020-03-05 17:51] kishanhickman opened #3504 "Declaritive Libraries fail to make HTTP requests within App Services"
## Describe the bug
When I try to make a http requests through the JSON files produced by Composer, this works fine locally, but fails when published in an Azure App Service.

I have tested using a different end point separate to API app we have in azure (changing the json config) - failed

I have tried to change various network settings within the app service, but it allows all traffic with all p

[2020-03-05 18:48] garypretty commented on #2406
Closing as P0 functionality has now been merged.

[2020-03-05 18:48] #2406 closed

[2020-03-05 19:29] stevengum commented on #3504
@CoHealer can you have one of the support engineers get a repro running with the code provided from @kishanhickman?

[2020-03-05 19:47] CoHealer commented on #3504
Assigning @v-kydela. Kyle, please assist and attempt a repro as requested above.

[2020-03-05 21:46] lzc850612 opened #3506 "[SkillDialog] Need to handle Resume/Reprompt for interruption scenarios"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

Currently SkillDialog doesn't h

[2020-03-05 22:08] v-kydela commented on #3504
@CoHealer - I'm sorry but I won't be able to repro this until my Azure subscription blockers are resolved

@kishanhickman - I've removed your code because it contained your password. If you'd like to provide sample code in the future then please make sure you remove sensitive information from it. It's also a good idea to create a minimal example when trying to reproduce a bug rather that sharing a

[2020-03-05 23:50] #3506 closed

[2020-03-06 00:01] v-kydela commented on #3504
@kishanhickman - Yes I understand that it's working locally but not when deployed. As I explained, it's beyond my power to test deployment issues at the moment. Perhaps my team will be able to unblock me or decide to assign someone else.

In the meantime, you may want to see if you can isolate your problem and make it easier to reproduce. The reason it's a good idea to create a minimal example isn

[2020-03-06 00:30] Danieladu opened #3510 "Support escape quotation marks in expression string"
currently, the escape of expression support is limited.
[code]

Expression may can support more comprehensive escape characters.
All the above invalid cases should be valid.
[enhancement]

[2020-03-06 03:52] roshanparmar11 opened #3512 "MS Bot - Teams Channel - Typing indicator not showing when bot added to a teams channel"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.7.2

## Describe the bug
When we create a bot with ms bot framework c# and add the bot to ms teams channel, at this time when bot is added as a seprate app

[2020-03-06 05:23] kishanhickman commented on #3504
Yes that was the bot

[2020-03-06 12:22] #3492 closed

[2020-03-06 12:23] #2783 closed

[2020-03-06 12:53] darrenj commented on #3495
@Dewain27 If you have a scenario that would require custom logic at the "end of a dialog" - good to provide it here. Note that buffering of responses for alexa/google is covered in a different way.

[2020-03-06 15:11] Cage-e commented on #1686
How should we solve this? Could you please provide a solution now that we have to stick with this problem?

[2020-03-06 18:18] vishwacsena commented on #3401
This work is not tracked in Git.

[2020-03-06 18:18] #3401 closed

[2020-03-06 19:32] #3497 closed

[2020-03-06 20:56] stevkan commented on #3512
@roshanparmar11, thank you for bringing this up. Please be patient while I research the issue. In the meantime, can you tell me if this was working previously (and, if so, which version of BotBuilder you were using) or is this something you came across thru a new implementation?

[2020-03-06 22:08] #2324 closed

[2020-03-06 23:29] v-kydela commented on #3504
I have become unblocked and have performed your repro steps. I can reproduce your error when I use your app service, but when I deploy your code to my app service it works fine:

![image](https://user-images.githubusercontent.com/41968495/76129353-163fed00-5fbc-11ea-992b-58cb669009c0.png)

It looks like the problem likely has more to do with your Azure resources than the SDK. We will need to inves

[2020-03-07 05:18] boydc2014 opened #3516 "Null reference exception in debugger when setting breakpoints"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
lastest master

## Describe the bug
setting breakpoints at a dialog file, causing the runtime to throw a null reference exception.

## To Reproduce
Steps to

[2020-03-07 12:57] kishanhickman commented on #3504
Hi Kyle

The only difference I can see if that your using West is for your app service and I’m using uksputh.  Let me try west us 2 today and get back to you

Other settings look identical how do I check the iOS version without code (ie inside azure)?

Sent from my iPhone

[2020-03-07 17:16] #3516 closed

[2020-03-08 13:20] kishanhickman commented on #3504
Hi Kyle

When I deploy this to westus with the deploy script it does work as expected - so thanks again for your help.

The only issue I see with this is GDPR and data protection objections with clients.  I wonder who I can raise this with on the Azure front to get it working for uksouth?

[2020-03-08 19:48] Kaiqb commented on #3443
@tomlm - this is waiting a review from you per @vishwacsena

[2020-03-09 02:27] chrimc62 opened #3519 "Expression extensions should be defined on Expression class"
The C# extension methods DeepEquals and References should be defined on the Expression class. They really belong there and it is much clearer when ported to other languages.  The C# version of clause.cs also has an unused field in the class.

[bug]

[2020-03-09 05:51] csnarain opened #3520 "luisResult was always null when using LuisRecognizerOptionsV3"
See this sample code below. Here luisResult return null when using LuisRecognizerOptionsV3, however works fine when using LuisRecognizerOptionsV2.

[code]

[2020-03-09 09:19] anagor commented on #750
Hello,
Any news on it?
I'm getting this error a lot on some bots, but not on others.
Let me know what type of information I can provide for you to investigate it further.

Thank you,

[2020-03-09 13:57] EricDahlvang commented on #750
Hi @anagor

This issue is closed, and closed issues are not monitored by the team.  Please open a new issue or ask a question on stack overflow.

Also, something to check is the facebook page subscription fields.  Are they the same on the bots with errors as the bots without errors?

[2020-03-09 19:21] cleemullins commented on #3443
spoke with @tomlm, and:

[2020-03-09 21:35] #3443 closed

[2020-03-09 23:51] v-kydela commented on #3504
@kishanhickman - You said you are able to send HTTP requests from a web app in UK south so long as those requests aren't coming from an adaptive dialog, right? If you were to take this to the Azure app service team they wouldn't know what to do with it because to them it would appear to be a Bot Framework problem. There is still work for us to do to isolate the bug and discover what's happening in

[2020-03-10 02:02] dmvtech commented on #3520
@csnarain Taking a look. Checking to see if I can repro/confirm.

[2020-03-10 07:26] Danieladu opened #3523 "[LG] Refactoring Expander"
Expander is out of date, it should catch up with Evaluator and the lastest feature of Templates.
including:
1. Support all kinds of LG functions
2. Discard the 'builtin.' prefix
3. Achieve the correct result for `foreach` expansion. ref: #3238
4. Escape issues, including double quotation, escape character
 example:
[code]

expand Template would get an invalid json `{"lgType":"Activity","text":"no

[2020-03-10 07:38] Danieladu commented on #3398
fixed by #3470

[2020-03-10 07:38] #3398 closed

[2020-03-10 10:24] GustavoMoreiraPT opened #3524 "BeginDialogAsync takes longer to execute on first request"
## Version
4.7.0 (Microsoft.Bot.Builder.Dialogs)

## Describe the bug
Hi everyone,
I am developing a webapp based on bot framework using the .Net Core SDK.
I have a direct line channel available and I noticed that be first request is always slower than the following ones.
The majority of the delay happens when calling **BeginDialogAsync** method from **DialogContext** class, from **Microsoft.Bot.B

[2020-03-10 13:41] HugoPeters1024 commented on #1368
Should anyone else stumble across this issue, it appears that inheriting from WaterfallDialog whilst actually intending just having a generic Dialog, also causes this issue.

Package version: Microsoft.Bot.Builder.Dialogs 4.7.2

[2020-03-10 14:48] kishanhickman commented on #3504
Hi Kyle

Yes ill try to get you a minimal verifiable example across tomorrow PM
(GMT).

Best Regards,

*Kishan Hickman*

*m  *+44 7944 325 218
*e   *kishan.hickman@gmail.com
*w  *http://uk.linkedin.com/in/kishanhickman

   -

Head of Development ★ CTO ★ Software Development ★ Web Technologist ★ IT
Strategy

On Mon, Mar 9, 2020 at 11:51 PM Kyle Delaney <notifications@github.com>
wrote:

[2020-03-10 16:52] cleemullins opened #3525 "XML Comment Warnings"
During the build process, the following Doc warnings are emitted:
![image](https://user-images.githubusercontent.com/1165321/76337579-ca8b8d00-62b4-11ea-8bc4-dccb3aa3eb75.png)

![image](https://user-images.githubusercontent.com/1165321/76337689-f27af080-62b4-11ea-811a-a63b2ec560d0.png)

[2020-03-10 16:56] cleemullins opened #3526 "Antler Parser build warnings"
There are compiler warnings coming out of the Antler parser. These seem straightforward to either suppress or remove.

[bug]
![image](https://user-images.githubusercontent.com/1165321/76337891-3e2d9a00-62b5-11ea-8432-bf53d50fb99d.png)

[2020-03-10 16:58] cleemullins opened #3527 "Adapter Extension Warnings"
The below warnings show up during the build process and need to be cleaned up.

![image](https://user-images.githubusercontent.com/1165321/76338128-82209f00-62b5-11ea-8c9d-113e9c67f967.png)

[2020-03-10 17:29] vishwacsena opened #3528 "[Adaptive] Classes access survey/ cleanup"
Classes should be made internal if we don't want people to use them or depend on them.
unit tests which rely on them should have trust relationship to continue to run (C# only)
Protected methods should be made private if we don't want to support them or want to change them.
Make sure there are no public/protected objects with bad names

[2020-03-10 17:36] v-kydela commented on #3504
@kishanhickman - Are you still able to talk to your deployed bot in the Emulator?

[2020-03-10 21:09] cleemullins opened #3530 "Depricate old Nuget Packages"
The following packages are old/legacy, and we should consider removing them from Nuget or labeling them as "obsolete".

* Microsoft.Bot.Builder.Skills (published as 4.6.3-preview)
* Microsoft.Bot.Expressions (published as 4.7.2-preview)

The below packages show up on MyGet. We should remove them from the daily feed, and verify none of them were published to NuGet.

* Microsoft.Bot.Builder.AI.LuisV

[2020-03-10 21:16] vishwacsena commented on #2385
Decision R9
    - vs code, vs extension ships
    - lg hook up for debug protocol
    - debug protocol for composer

[2020-03-10 21:18] vishwacsena commented on #3007
We can revisit based on continued feedback on adaptive/ composer. Moving out of R9.

[2020-03-10 21:20] chrimc62 opened #3531 "Add a missing property event"
In event driven dialogs we use the absence of a property to drive dialog.  What is missing is for a way to prioritize what properties are needed.  A good example comes from PVA where they go to call an LG template which might refer to a missing property.  It would be good to have this missing property help drive the conversation to fill in that property.  Today, you can do this by adding a conditi

[2020-03-10 21:20] vishwacsena commented on #3008
This is same as and enabled via EmitEvent, eventType = activityRecieved (for process activity)
EmitEvent, eventType = recognizedIntent (for processMessageActivity) this will allow the triggers to be re-evaluated and internal adaptive dialog mechanics to execute.

[2020-03-10 21:20] #3008 closed

[2020-03-10 21:21] vishwacsena commented on #3063
@cwhitten do you already have a recognizer sample? Is this just a doc ticket?

[2020-03-10 21:23] vishwacsena commented on #3171
Done.

[2020-03-10 21:23] #3171 closed

[2020-03-10 21:25] vishwacsena commented on #3173
Post R9.

[2020-03-10 21:29] vishwacsena commented on #3210
@Stevenic last we spoke, we would just do this through a prebuilt function rather than a memory scope. Can you share bit more info so we can get this wrapped up in R9?

[2020-03-10 21:49] vishwacsena commented on #3495
Try using `OnEndOfActions` that signifies there are no more actions queued up in this dialog. If there are no actions tied to `OnEndOfActions` and if `AutoEndDialog = true`, then this dialog will end.

[2020-03-10 23:13] dmvtech commented on #3524
Hi @GustavoMoreiraPT

This is just testing/debugging locally with the emulator? Or from deployed bot in azure with ngrok?

Do additional users have the same behavior? (if testing with emulator, starting a secondary emulator and starting a new conversation as a new user)

[2020-03-10 23:36] GustavoMoreiraPT commented on #3524
Hi @dmvtech ,

Thanks a lot for your reply.

This is happening when deployed from azure without ngrok, and with ngrok when running locally.

It just happens to the first user.
A second user does not wait 5 seconds for the bot reply.

Not sure if this is some behavior that we can control from our side.
Happy to help with whatever is needed.

[2020-03-11 03:37] luhan2017 opened #3534 "CancelAllDialogs action doesn't work"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
latest master

## Describe the bug
CancelAllDialogs action doesn't work as expected.

## To Reproduce
Steps to reproduce the behavior:
1. Go to Microsoft.Bot

[2020-03-11 10:59] Shubham-Kr10 commented on #2234
Hey @mdrichardson can you help me out as same errors are coming when used both approaches posted by you for publishing  bot to azure. As bot runs fine tested locally using emulator but as published to azure it provides attached errors in web chat.
![errors](https://user-images.githubusercontent.com/54877723/76410051-4d940c80-63b5-11ea-81fb-19cc6d4b2f42.png)

[2020-03-11 11:16] Shubham-Kr10 opened #3535 "There was an error sending this message to your bot: HTTP status code InternalServerError"
Hey anyone can help me out getting errors on publishing bot to azure , while it worked fine when tested locally with the help of emulator . I 've tried different publishing steps as stated by @mdrichardson  on https://github.com/microsoft/botbuilder-dotnet/issues/2234

Following is the snip of the errors
![errors2](https://user-images.githubusercontent.com/54877723/76414152-c6e32d80-63bc-11ea-859b

[2020-03-11 15:31] kishanhickman commented on #3504
Hi Kyle

I have re-deployed this to uksouth (trying to fix a locale issue) and this time it seems to have worked and I dont get the HTTPClient blocking issue.  I have deployed twice to uksouth and both times it works -  so I think we can close that and assume that this was a temporary issue.

Thanks again for all your help

[2020-03-11 15:31] #3504 closed

[2020-03-11 19:41] stevkan commented on #3535
If you are deploying via Visual Studio, be sure to select the "Remove additional files at destination" option. If you don't know, this is located in the Publish profile's settings, under "File Publish Options". Failing to do this can result in old and new files conflicting on the server. If you haven't tried this, give it a go and let me know your results.

I'm lukewarm on the above being the sour

[2020-03-11 20:21] marcusbooyah opened #3537 "SlackAdapter does not parse select options"
## Version
4.7.0

## Describe the bug
The SlackAdapter does not parse dropdown selections from interactive messages.

## To Reproduce
Steps to reproduce the behavior:
1. Create an interactive message with multiple choice `select` option.
2. Submit response.
3. `Activity` text is null, but should contain the response value.

## Expected behavior
Response value is passed into the `text` field.

[bug

[2020-03-11 20:56] dmvtech commented on #3524
Hi @GustavoMoreiraPT

From the behavior you explained and moderate testing on my end, I think you are seeing the .net core application starting/bootstrapping and the kestrel server starting up. Once the bot is running, then it doesn't have to do any of that again.

To help mitigate this in the Azure environment, you can ensure that the App Service is set to [always on](https://github.com/Azure/Azu

[2020-03-12 03:22] gabog opened #3541 "EoC should only be handled when coming from parent in RunAsync"
RunAsync currently calls cancelAllDialogs when a parent sends an EoC activity and when the skills returns EoC.

It should only call cancelAllDialogs when the EoC comes from a parent, otherwise it discards the return value from the skill.

[2020-03-12 04:23] Shubham-Kr10 commented on #3535
Web chat channel is "iframe" version. Also i've selected "Remove additional files at destination" but still facing the same issue @stevkan

[2020-03-12 04:48] #3541 closed

[2020-03-12 06:32] boydc2014 opened #3545 "Property assignment with dynamic path not working"
## Version
latest master

## Describe the bug
Our property assignment action, SetProperty, SetProperties, and EditArray are not working when the property contains dynamic values to evaluate, and the dynamic value is reference using a shortcut, for example

[code]

## To Reproduce
Run the bot above

## Expected behavior
Value correctly set to newtodo

## Screenshots
If applicable, add screenshots t

[2020-03-12 12:06] darrenj commented on #3495
- EndOfActions is not a Dialog Event that is supported natively inside Composer - we would need to add this?

I've manually added this in my .dialog file but it's never triggered? I've removed conditions to ensure they weren't causing a problemn.

[code]

[2020-03-12 14:40] vishwacsena commented on #3545
Not a R8 issue. Work around is to not use path resolvers in dynamic path and use explicit paths `dialog.xyz` instead of `$xyz`

[2020-03-12 14:41] vishwacsena commented on #3534
Fixed via #3536

[2020-03-12 14:41] #3534 closed

[2020-03-12 15:37] #3545 closed

[2020-03-12 18:45] vishwacsena commented on #3495
@chrimc62 I tried OnEndOfActions and it caused an infinite loop. I added EndDialog action in there and that caused `Object reference not set to an instance of an object.` exception.

[code]

[2020-03-12 19:45] chrimc62 commented on #3495
You need to make OnEndOfActions conditional, i.e. condition: "!feedback" and in your actions do setproperty on feedback.

[2020-03-12 20:45] vishwacsena commented on #3495
This did not work ..

[code]

[2020-03-12 21:37] vishwacsena opened #3547 "Fix ScopePath const names"
Filing a tracking ticket to fix ScopePath const names.

[2020-03-13 00:32] vishwacsena opened #3548 "[LG] fromFile() does not handle relative paths well"
fromFile('./foo.json') did not work. We should have relative paths work and paths must be relative to the path of the file that holds the function.

C# and JS. reproed issue in JS.

[2020-03-13 00:36] vishwacsena opened #3549 "[AdaptiveExpressions] json() does not escape correctly"
Try json() on a content that has escaped quotes .. `\"` and it does not work. I had to remove and replace `\"` with `'` to get the content to load.

You can see https://github.com/microsoft/BotBuilder-Samples/compare/master...vishwac/multi-card

In multi-card.json, change `<s>Your  meeting about 'Adaptive Card design session'` to `<s>Your  meeting about \"Adaptive Card design session\"` to repro

[2020-03-13 00:37] vishwacsena opened #3550 "[LG] improve import statement"
\[foo](foo.lg) does not work. We should consider this to be identical to \[foo](./foo.lg) where the path is relative to the file that holds the import reference.

[2020-03-13 00:39] vishwacsena opened #3551 "[LG] re-do multiLingualLg"
Make it easy for customers to use MultiLingualLG.. This is what VA team have to do because we do not use Evaluate() as well as do not return a BF activity. Consider moving this into adaptive package with a good turn-key solution.

[code]

[2020-03-13 01:50] xieofxie commented on #3551
The updated implementation is here https://github.com/microsoft/botframework-solutions/blob/next/sdk/csharp/libraries/microsoft.bot.solutions/Responses/LocaleTemplateManager.cs

I am also wondering if the LanguagePolicy could be an option with public interface

[2020-03-13 04:34] vishwacsena commented on #3364
Discussed in triage. Let's provide a function to put user in control so we do not inject additional line breaks where the user might not want that.

[2020-03-13 06:39] roshanparmar11 commented on #3512
No. I have not tested this feature before.

[2020-03-13 07:07] boydc2014 commented on #3548
This is an issue with js that we want the library to be run-able in browser environment, let's follow up by clarify the requirement.

[2020-03-13 07:14] boydc2014 commented on #3550
@vishwacsena  did you have a case that this is not supported? we have tested cases that supported multiple format of this
https://github.com/microsoft/botbuilder-dotnet/blob/master/tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/import.lg

[2020-03-13 07:16] boydc2014 commented on #3407
@xieofxie can you clarify the requirement, did you mean compile the lgfiles in dlls?

[2020-03-13 07:18] boydc2014 commented on #3551
We should expand the interface to accept a languagePolicy or a Dictionary<string, List<string>>.

[2020-03-13 08:30] xieofxie commented on #3407
@boydc2014 Right. When I want to use lg embedded in an dll, how to handle the import fromFile etc.?

[2020-03-13 09:06] GustavoMoreiraPT commented on #3524
Hi @dmvtech,

Thanks again for your reply.
Just to be clear, we have a custom solution that is based on bot framework, but already extends it.
We already tried to mitigate the issue by warming up the pipeline before doing the first request.

This warm up tasks that I am talking about helped us improve the first request response time around at least 50%. Before this actions, the first request would

[2020-03-13 10:52] boydc2014 opened #3553 "[DCR] Make Language Policy configurable in Adaptive"
### Scenario
In composer (as well as in VA) scenario, to support a multi-language experience, we create lg file for dialog per locale. For example, we will have main.en-us.lg and main.fr-fr.lg if en-us and fr-fr is the locale to support.

And assume the user want en-us to be default locale that bot serves. So

### Expected VS actual behavior
The expected behavior for this design, is if the incomin

[2020-03-13 12:56] Danieladu opened #3555 "Access index fails for list with object Generics"
## Version
source code

## Describe the bug
Access index fails for list with object Generics

## To Reproduce
Steps to reproduce the behavior:
1. create private class A
[code]
2.Create the scope：
[code]
3. call Experssion with below code :
[code]
4. See error `Cannot apply indexing with [] to an expression of type 'object'`

## Expected behavior
Get the right evaluation result "item1"

[bug]

[2020-03-13 20:12] vishwacsena opened #3556 "[Adaptive] Add default action to EndOfActions event"
If root adaptive dialog, on EndOfActions, send EndOfConversation. This probably is required to get an adaptive bot to be a skill.

[2020-03-13 20:23] vishwacsena opened #3557 "[Adaptive] Clean up constructors"
Actions:
[code]

[2020-03-13 20:25] vishwacsena opened #3558 "[Adaptive] Clean up global statics"
[ ] HostContext should go away
[ ] Make all extension methods base classes good names for usage with non-extension langauges

[2020-03-13 20:27] vishwacsena opened #3559 "[Adaptive] Add ability to iterate dialog IDs from root dialog (dialogManager)"
This would enable tooling like composer to list available dialog IDs including non declaratively defined dialogs for beginDialog action etc.

[2020-03-13 20:28] vishwacsena opened #3560 "[Adaptive] State clean up"
- [x] move dialogStateManager into dialog assembly.
- [x] replace dc.GetState() => dc.State

[2020-03-13 20:37] vishwacsena opened #3561 "Auto-generate skills manifest from declaratively defined adaptive dialogs (dotnet)"
Filing a tracking ticket to evaluate and build a library that can auto-generate a skills manifest for declaratively defined adaptive dialogs.

Input from @darrenj
The core of a manifest can be easily auto-generated and what we did with the preview bits including all the LU trigger information if your doing utterance invocation. for utterance triggering you don't need to expose discrete actions so

[2020-03-13 20:42] vishwacsena opened #3562 "[Adaptive] [Teams] Add adaptive support for TeamsActivityHandler"
https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/Teams/TeamsActivityHandler.cs

[2020-03-14 15:50] swaraj27 opened #3565 "Card Action button is not working with hero card in facebook messenger"
Bot info
- SDK Platform: .NET
- SDK Version: 3.0.10.
- Active Channels: WebChat,  Facebook
- Deployment Environment: Azure App Service

Issue Description
 - I created a  HeroCard. It have a button (CardAction) to select the item. If the user clicks on the button (the button title should be "click me"), I expect the user to see the response of "click me" intent. After clicking on button in messenge

[2020-03-15 02:25] vishwacsena opened #3567 "[Adaptive] VS code extensions"
# Adaptive tools - extension

`Adaptive tools` will ship to the [marketplace][7] as a VS code extension and provide the
following capabilities:

- [x] VS code
- [x] Debugging adaptive dialogs
- [x] Debugging language generation
- [x] syntax highlighting, auto-suggest, auto complete functionality
    - [x] .lu documents
    - [x] .lg documents
- [x] Expansion/ test UI for .lg documents
- [ ] C#

##

[2020-03-15 02:29] vishwacsena opened #3568 "[Adaptive] EndOfTrigger action"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reprod

[2020-03-15 02:31] vishwacsena opened #3569 "[Adaptive] End trigger action"
We have EndTurn, EndDialog but not an EndTrigger action. Basically need to be able to use an action to end the current action plan. Without this, users will have to resort to using goto or an alternate solution.

[2020-03-15 04:10] chrimc62 commented on #3495
@vishwacsena you need to do SetProperty on turn.feedback in your action.  I also don't think you need to do EndDialog--it will happen when that event handler doesn't run again.  Something like this:
[code]

[2020-03-15 21:27] tomlm commented on #3569
How about: **EndActions** ?

[2020-03-15 21:28] #3568 closed

[2020-03-15 21:28] tomlm commented on #3568
this is just the template, I think this is a duplicate of #3569

[2020-03-16 03:08] cosmicshuai commented on #3466
For multil-line function definition. Do we need also support & and && operations? @vishwacsena

[2020-03-16 03:52] Shubham-Kr10 commented on #3535
Thanks for response @stevkan , It worked

[2020-03-16 03:52] #3535 closed

[2020-03-16 04:06] vishwacsena commented on #3466
Yes.

[2020-03-16 06:16] csnarain commented on #3520
@dmvtech - any update on this? did you manage to reproduce this?

[2020-03-16 07:16] xieofxie opened #3572 "Set turn.recognized.score etc."
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

For input action inside a flow, if allowInterruptions is evaluated to false, `turn.recognized.score` etc. are not set because it will not emit an R

[2020-03-16 07:24] boydc2014 commented on #3550
Synced with Vish, that this is a reported case by Ted, maybe @Danieladu  and @cosmicshuai we should reach out to Ted since we can't repro it.

[2020-03-16 07:26] xieofxie opened #3573 "Better display for BotState in Emulator"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

It is hard to tell whether some value is list or dictionary like here `turn.recognized.intents` is dictionary and AddToDo is key:

![image](https:/

[2020-03-16 07:41] xieofxie opened #3574 "Set EndOfConversationCodes when send EoC"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Currently when sending EoC here https://github.com/microsoft/botbuilder-dotnet/blob/9e6d2b64f4e696fcc8e581cba1ee7a7983079a0f/libraries/Microsoft.Bot

[2020-03-16 16:39] tomlm opened #3577 "[DCR] Add PushTurnState()/PopTurnState() to TurnState to for contextual services."
We have situations where we want TurnState services that can be:
* inheritable
* over-rideable.

In particular, the LanguageGeneration templates are set at the root and inherited/shared for all dialogs, unless  you set a LanguageGeneration template at some point in the tree, at which point the child dialogs use that version of the service.

To support this in LG we hand coded a solution which main