[2020-05-18 19:13] #421 closed

[2020-05-18 19:14] gabog commented on #467
Closing as part of R10 triage. This now works with composer

[2020-05-18 19:14] #467 closed

[2020-05-18 19:15] gabog commented on #598
Closing as part of R10 triage.

[2020-05-18 19:15] #598 closed

[2020-05-18 19:16] gabog commented on #614
Closing as part of R10 triage. The community now has an adaptive card prompt: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Dialogs.Prompts

[2020-05-18 19:16] #614 closed

[2020-05-18 19:17] gabog commented on #624
Closing as part of R10 triage.

[2020-05-18 19:17] #624 closed

[2020-05-18 19:18] gabog commented on #629
Closing as part of R10 triage.

[2020-05-18 19:18] #629 closed

[2020-05-18 19:25] gabog commented on #718
Closing as part of R10 triage.

[2020-05-18 19:26] gabog commented on #773
Closing as part of R10 triage.

[2020-05-18 19:26] #773 closed

[2020-05-18 19:30] gabog commented on #799
Closing as part of R10 triage.

[2020-05-18 19:30] #799 closed

[2020-05-18 19:32] gabog commented on #803
Done as part 4.7, using https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Azure/CosmosDbPartitionedStorage.cs

[2020-05-18 19:32] #803 closed

[2020-05-18 19:33] gabog commented on #835
Closed via Skills feature.

[2020-05-18 19:33] #835 closed

[2020-05-18 19:33] gabog commented on #836
Closed via the Skills feature

[2020-05-18 19:33] #836 closed

[2020-05-18 19:34] gabog commented on #838
Closing as part of R10 triage.

[2020-05-18 19:34] #838 closed

[2020-05-18 19:37] gabog commented on #883
We can't make breaking changes and hide something that is currently public but we can look at improving HttpClients and deprecate old methods.

[2020-05-18 19:38] gabog commented on #999
Closing as part of R10 triage (done in a previous release).

[2020-05-18 19:38] #999 closed

[2020-05-18 19:43] garypretty commented on #1931
Closing as part of the R10 issue triage. This is still something we can accept in the community if it exists.

[2020-05-18 19:43] #1931 closed

[2020-05-18 19:49] gabog commented on #2548
Do we still need need this now that we have Adaptive?

[2020-05-18 19:54] gabog commented on #3007
We believe this one should be closed or done in R10, can you confirm @vishwacsena?

[2020-05-18 20:53] v-kydela commented on #2548
@gabog - Yes because this is about accommodating all types of dialogs and Bot Builder still supports custom dialog classes. An argument could be made that the only reason this would be needed is if a dialog class was badly coded, and therefore this feature shouldn't be added. The team should at least consider the need for this feature, though.

[2020-05-18 22:31] BruceHaley commented on #3917
This should do it: PR: Add badges for Win functional tests and Linux functional tests #3950 https://github.com/microsoft/botbuilder-dotnet/pull/3950
View the results here: https://github.com/microsoft/botbuilder-dotnet/tree/BruceHaley-patch-1

[2020-05-18 22:37] #3917 closed

[2020-05-18 22:38] EricDahlvang commented on #3917
Thanks @BruceHaley !

[2020-05-19 02:21] Danieladu commented on #3885
hi,  @ayenisholah We are very appreciate that you can voluntarily help us complete this feature.

For the user has a requirement for the js version, so I firstly completed this feature on the js side and ported it to C# later. The link is here: #3944. You can take a look and give some suggestions if you are interested.

Of course, you can continue go through your solution according to your own ide

[2020-05-19 07:21] cxbuilders commented on #3930
@benbrown I created a fresh bot and I could not replicate this now as well. The bot I am working on also does not show the Trigger phrases textbox on the Intent triggers, so I guess it has been corrupted between the many different version changes of Composer. I will need to see if I can create a fresh bot and copy the dialogs etc over.

[2020-05-19 18:20] vishwacsena commented on #3941
Thanks @cxbuilders. With setProperties and turn scope you already can achieve this. Can you clarify if you have an unmet need with SetProperties action or is this more of a preference to be able to write a piece of script that helped? As you pointed out, you can use codeActions. Another option of-course if these are complex or rather intensive/ extensive would be to use functions.

@Stevenic may b

[2020-05-19 19:05] BruceHaley commented on #3371
Seems OK now. Closing the issue.

[2020-05-19 19:05] #3371 closed

[2020-05-19 23:21] haacked commented on #3938
Thanks! Let me know if there's anything I can do to help. I am using Azure Channel Service.

[2020-05-19 23:45] Stevenic opened #3953 "BeginSkill action won't save results in expectReplies mode"
## Version
4.9.1

## Describe the bug
The new BeginSkill action doesn't save the result returned from a skill when the deliveryMode is "expectReplies".  The reason for this that we only do this assignment in an override of `ContinueDialog` which is looking for the EoC activity to be posted back.  This won't happen in expectReplies mode.

[bug]

[2020-05-20 02:51] #3885 closed

[2020-05-20 06:35] boydc2014 commented on #3933
on hold, this depends on #3945

[2020-05-20 06:55] #3888 closed

[2020-05-20 07:31] #3942 closed

[2020-05-20 07:41] cosmicshuai opened #3955 "Improve expression error messages."
Replace  ```error = $"{expr} can't evaluate."``` with more explicit descriptions in AdaptiveExpressions

[2020-05-20 15:05] Stevenic opened #3956 "Teams shows "bad request" when a skill invocation ends."
## Version
4.9.1

## Describe the bug
When you call a skill from a bot on teams you'll get a "bad request" message when the skill ends.  I believe this is related to the issue of the post back completing on a second thread.

![image](https://user-images.githubusercontent.com/698939/82462434-6af9ec80-9a70-11ea-88c0-b2935ce5b22e.png)

[bug]

[2020-05-20 17:21] mrivera-ms opened #3957 "NuGet.exe throws a circular reference exception when processing BotBuilder packages"
## Action Needed
Replace Nuget.Client with Nuget.Packaging 5.x from Microsoft.Bot.Builder.Dialogs.Declarative

From Joel Martinez:

"A few more details from the nuget team, summarized here from that GH issue:

1.	This issue stems from a reorganization of types in their packages … in newer versions they have done away entirely with the Nuget.Client package, and the dependency reversal causing the c

[2020-05-20 17:25] joelmartinez commented on #3957
For reference, this is the GH issue where the information above came from:
https://github.com/NuGet/Home/issues/9579

[2020-05-20 17:44] Stevenic opened #3958 "feature: add a new ExpectReplies property to BeginSkill action"
## Is your feature request related to a problem? Please describe.

BeginSkill currently invokes skills in a way that requires the skill POST all replies back to the bot via a separate HTTPS request. This is not only in-efficient it also makes testing a skill cumbersome.  The underlying SkillDialog supports a more efficient mode of skill communication where the invoked skill will buffer all of its

[2020-05-20 19:17] vipeketi commented on #3658
@tomlm can we close this issue?

[2020-05-20 19:25] vipeketi opened #3960 "[QnAMaker] Integrate QnAMaker's precise answering capability as an additional feature for BotFramework users"
QnAMaker is now capable of providing precise answers to the questions, if there is relevant information available. There is provision for modifying activity Response Dialog to display various answer choices. The choice can include precise answer, precise answer with source text and current behavior.

PFA Link to Dotnet Implementation:  PR #3935

I would be updating the issue link for other languag

[2020-05-20 19:52] vipeketi commented on #3960
PR #3935

[2020-05-20 20:03] cleemullins opened #3961 "X.509 Additional Parameter"
C# version of https://github.com/microsoft/botbuilder-js/issues/2264

[2020-05-20 20:03] vipeketi commented on #3960
@cleemullins  This is for MRC feature integration.

[2020-05-20 20:13] carlosscastro opened #3962 "BotFrameworkAdapter.CreateConversationAsync should accept AppCredentials instead of MicrosoftAppCredentials"

[2020-05-20 21:27] lucaism opened #3963 "Interruptions in OAuthInput not properly consuming the user input"
## Version
4.9.1

## Describe the bug
When specifying interruptions for an OAuthInput, the InvalidPrompt handler is still invoked after the interruption is complete.

## To Reproduce
I am using the OAuthInput below, and invoking this dialog via `BeginDialog`:
[code]

The result of executing this dialog is as follows:
![image](https://user-images.githubusercontent.com/64159080/82498695-4704ce00-9aa

[2020-05-20 22:25] haacked commented on #3938
Apologies if these questions seem naive. Still new to this and wrapping my head around it.

I was under the impression I had to use Azure Bot Service in order to host my bot so that I would get this translation.

But as I understand it now, it would be possible for me to have Slack talk directly to the bot. Also, there's an adapter for Teams and other chat platforms. So one approach I could do is

[2020-05-21 00:15] clearab opened #3965 "Tab unfurling for Teams (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5805)

[2020-05-21 08:21] joe-tossell-mando commented on #3942
Makes total sense thanks!

[2020-05-21 16:58] benbrown commented on #3938
The service provides normalization of many events into the Bot Framework activity protocol, and allows you to connect to multiple different channels.

The adapters provide more direct access to the raw features of the platforms - they still do light translation of the format, but leave much of the incoming and outgoing data untouched. They are not 100% the same.

[2020-05-21 17:10] mrivera-ms commented on #3374
Triaged by development team. This will, likely, need a rewrite. Reference: https://github.com/microsoft/botframework-sdk/issues/5851

[2020-05-21 17:10] #3374 closed

[2020-05-21 17:19] EricDahlvang commented on #3925
@cleemullins  maybe we should consider a v5 version of just https://www.nuget.org/packages/Microsoft.Bot.Builder.Azure in order to bring our dependencies up to the latest versions, and remove deprecated code.

[2020-05-21 17:21] cleemullins commented on #3528
It's too late to change this, as the product has shipped.

[2020-05-21 17:21] #3528 closed

[2020-05-21 17:24] cleemullins commented on #3537
This issue is bucketed with a few other Slack issues, and we're planning to address them all in our R10 Milestone.

[2020-05-21 17:35] haacked commented on #3938
Thanks @benbrown!

What exactly is the Bot Framework activity protocol? By this do you mean how the `Activity` object gets populated.

I see. So if I understand correctly, if I didn't use the service and connected directly to Slack and Teams, the `Activity` there might be some properties on `Activity` that are not populated and I would need to access `ChannelData` in more cases. Does that sound ri

[2020-05-21 17:54] mrivera-ms commented on #3831
@stephanbisser, could you please comment?

[2020-05-21 18:10] benbrown commented on #3938
The activity protocol meaning that Activity format, along with a set of expected event types.

If you connect directly to Slack, via the adapter, you would get Activities with the key fields bound as expected, but the full message from slack in channelData.  The event types may not all conform to the core protocol, because they will be slack event types.

There is not as far as I know a way to con

[2020-05-21 18:29] haacked commented on #3938
Ah! That's a big incentive to keep using the service. 😄

Thanks for all the info!

[2020-05-21 18:35] benbrown commented on #3938
The ability to have your bot connected to multiple channels through one interface is great!

[2020-05-21 19:43] cleemullins commented on #3957
PR #3964 fixes/closes this issue.

[2020-05-21 19:43] #3957 closed

[2020-05-21 21:58] gabog commented on #3956
Closing this one, the C# changes are ready and merged in 4.9 and cherry picked on master.
JS will be addressed as part of adding support for skills in DialogManager in R10.
Pyton and Java don't have DialogManager and this will be addressed as part of porting the class and other adaptive assets to them.

[2020-05-21 21:58] #3956 closed

[2020-05-22 02:34] boydc2014 opened #3968 "Native support of LG data binding for property value"
## Context
In AdaptiveDialog, the way to do LG data binding today is via 'SendActivity' which can accept a free text that including memory reference in it, like
[code]

## Issue
In QnA integration, we put the data binding text in the answer of a QA pair, then in runtime, the answer will be picked into `@answer` property in dialog state. For example
[code]

The issue is if we use SendAcitivity("${@

[2020-05-22 02:35] boydc2014 commented on #3968
Tag this with DCR, call out for triage to @vishwacsena @tomlm @chrimc62 @Stevenic

[2020-05-22 03:39] xieofxie opened #3969 "Add NonexistSubstitution in AdaptiveExpressions.Options"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I don't know whether a value is null because it is non exist or the value itself is null.

For example, I could use `contains` function to do this but not a global way.

**Describe the solution you'd like**
Add NonexistSubstitution like NullSubstitution but only invoked when the value is non-exist.

[enha

[2020-05-22 03:49] xieofxie commented on #3895
It seems some blocks are added both as file and function.

A workaround: replace https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Debugging/DebuggerSourceMap.cs#L259 with
[code]

[2020-05-22 03:53] xieofxie opened #3970 "Declarative: disable cycle detection to reduce release risk"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

Or we like to fix it in master in another way?

[bug]

[2020-05-22 06:40] cxbuilders commented on #3941
@vishwacsena I agree that it is possible. However I feel there is a gab between a custom action and using adaptive functions in set properties. By allowing to run an adaptive script this would be perfectly for the scenarios where a custom action is too much and set properties is too little. Using multiple set properties to mimic multiple lines of a script is really a bit of an ugly work around.

[2020-05-22 06:40] Danieladu commented on #3968
Maybe we can extend "Accessor" builtin funciton to support variable

[2020-05-22 06:48] xieofxie opened #3972 "null should not be treated as error in Expander"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

Current master

## Describe the bug
Give a clear and concise description of what the bug is.

In Expander her

[2020-05-22 07:19] stephanbisser commented on #3831
Sorry for the delay. @clearab yes the ID is correct when doing tracing that...
I guess a sample of the JIT installation sample would help a lot

[2020-05-22 07:20] xieofxie opened #3973 "Expander can't expand certain template"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

Current master.

## Describe the bug

Expander can't expand certain template.

## To Reproduce
Steps to repro

[2020-05-22 12:14] stephanbisser commented on #3831
I did solve the problem now and wrote down how to do that here: https://bisser.io/bot-framework-teams-messaging-extensions-walkthrough/

Basically I used the justInTimeInstall routine to check if the bot has been installed or not

[2020-05-22 16:59] haacked commented on #3938
BTW, this issue seems to have resolved itself. I didn't make any code changes. Feel free to close this issue if you're done investigating it.

[2020-05-22 17:10] haacked opened #3974 "Slack adapter doesn't render choice prompts"
## Version
4.80 (with `Microsoft.Bot.Builder.Dialogs` v`4.9.1`

## Describe the bug

I wrote a bot that does a sequential conversation flow. When I connect the bot to slack, it renders the choices as text even though Slack supports choice buttons.

The code for my bot is an exact copy of the code from [Implement Sequential Conversation Flow](https://docs.microsoft.com/en-us/azure/bot-service/bot-b

[2020-05-22 18:45] clearab commented on #3831
Awesome write up, thanks for that!

[2020-05-22 18:45] #3831 closed

[2020-05-23 03:37] Stevenic opened #4014 "Adaptive Expressions: fill in obvious gaps with additional pre-built functions"
## Issue

This issue is to track additional functions we want to add to Adaptive Expressions for R10.  Just reply with a proposed function.

[dcr]

[2020-05-24 19:21] cleemullins opened #3976 "Add "Naughty String" testing to prompts and other input vectors"
Consider adding automated complex string input testing to prompts and dialogs.
This list includes many "naughty" strings, and lists them in other places as well.
https://github.com/minimaxir/big-list-of-naughty-strings

[2020-05-24 23:09] Stevenic opened #3977 "BeginDialog.Property needs better example"
## Is your feature request related to a problem? Please describe.

The example for the `Property` field below is bad because we're expecting a property path not prompt text as in the example. A better example would be `ex. dialog.result`.

![image](https://user-images.githubusercontent.com/698939/82127696-75fc0680-976a-11ea-838f-86899aea7f88.png)

[2020-05-24 23:51] Stevenic opened #4142 "Property sheets use inconsistent case for labels"
## Describe the bug
Our use of case for property labels is all over the map. We should use consistent case for property labels.

![image](https://user-images.githubusercontent.com/698939/82767751-ac76f880-9dde-11ea-9f50-dfa80e79e2be.png)

[2020-05-25 14:27] pedrocunha87 commented on #3844
Hi,

This was already reported to the DL Speech team?
How can i track this issue?

Thanks.

[2020-05-25 17:28] v-kydela commented on #3974
@haacked - Thank you for the feedback.

Choice prompts will try to render choices as hero cards or suggested actions or text depending on what the channel supports. However, that only applies to Bot Framework channel connector services because the Slack API and the Slack adapter don't know anything about Bot Framework cards or suggested actions. When your choice prompt evaluates the capabilities o

[2020-05-25 17:31] #3974 closed

[2020-05-25 18:32] haacked commented on #3974
@v-kydela I am using Azure Bot Service for my bot. I was a bit confused about how the `SlackAdapter` plays into everything. I thought the `SlackAdapter` was used by ABS to translate choices into Slack choices.

So to recap, I am using ABS to connect my bot to Slack. I followed the tutorial exactly. Slack renders the choices as text. I want to confirm, that's not the expected behavior, correct?

[2020-05-25 18:52] v-kydela commented on #3974
@haacked - Your title says you're using the Slack adapter. I'm sorry for the confusion, and I will try to make this as clear as possible. If you are using ABS, you should not be using the Slack adapter. If you are using the Slack adapter, you should not be using ABS. ABS and the Slack adapter are incompatible.

If you are unsure of whether you are using the Slack adapter or a Bot Framework adapter

[2020-05-25 20:32] haacked commented on #3974
The title of my issue is incorrect and reflects my earlier confusion. I updated the title. I can confirm __I am not using the Slack Adapter. I am using ABS.__

I'm referring to the one I linked to in the [write-up for this issue](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-dialog-manage-conversation-flow?view=azure-bot-service-4.0&tabs=csharp).

So there's two things left for me

[2020-05-25 20:53] v-kydela commented on #3974
@haacked - Sorry for the misunderstanding. You are correct that this is an actual bug in the .NET SDK, but since I raised the bug nearly a year ago it would be better for you to comment on the issue rather than raising a new one: https://github.com/microsoft/botbuilder-dotnet/issues/2291

Your issue should remain closed. The workaround is to use the `HeroCard` list style instead of auto: https://g

[2020-05-25 21:40] haacked commented on #3974
Will do! Thanks for pointing me to it. And thanks for the workaround.

[2020-05-25 22:48] haacked commented on #2291
I ran into [this recently too](https://github.com/microsoft/botbuilder-dotnet/issues/3974).

I followed the documentation on how to [implement sequential conversation flow](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-dialog-manage-conversation-flow?view=azure-bot-service-4.0&tabs=csharp).

My expectation was that if I follow the docs, I'd get a nice interactive choice rendering

[2020-05-25 23:03] haacked commented on #2291
A third option is to simply update the docs I mentioned to use `ListStyle.HeroCard`. Though not sure if that causes issues for other platforms.

Might be nice if there's a way to have a fallback style. So I could have a choice that renders as `SuggestedActions` for platforms that target it, but fallback to `HeroCard` if the target platform doesn't support it.

[2020-05-25 23:46] v-kydela commented on #2291
That's what `ListStyle.Auto` already does

[2020-05-26 00:55] Stevenic commented on #3976
This would actually be a good piece of middleware. It could be configured to screen both incoming and outgoing messages.

[2020-05-26 01:05] Stevenic opened #3980 "Emit better error messages for all adaptive actions"
**Is your feature request related to a problem? Please describe.**
By default, the runtime host for composer is configured to echo any exceptions that are thrown back to the user as a message.  While this is helpful during the development of your bot, the error messages that are echoed back typically don't do anything to help you debug your bot.  There are a number of issues.

- Error messages don

[2020-05-26 15:46] #3943 closed

[2020-05-26 16:19] haacked commented on #2291
Ah, thanks! I looked at the docs for `ListStyle.Auto` and it says,

In looking at the code, `ListStyle.Auto` is the default, which as my original issue points out, renders choices as text in Slack. Just to be sure, I explicitly set the `ListStyle` to `ListStyle.Auto` and I still got a text response.

So it seems to me the bug is that when you set the `ListStyle` of a `ChoicePrompt` to `ListStyle.A

[2020-05-26 16:23] v-kydela commented on #2291
@haacked - Yes, that is why this bug was raised that you're commenting on now

[2020-05-26 17:01] cleemullins opened #3982 "Cherrypick Into Master"
The 4.9 PR needs to be pulled into master:
https://github.com/microsoft/botbuilder-dotnet/pull/3978

[2020-05-26 17:12] #3961 closed

[2020-05-26 18:14] gabog commented on #3963
Hi @dmvtech, can you please take a closer look at this one?

Thanks

[2020-05-26 18:15] gabog commented on #3901
Hi @luhan2017, what is the status of this issue?

[2020-05-26 19:00] chrimc62 opened #3984 "Should prefer $defaultOperation if LUIS return multiple $operations"
LUIS can return multiple operation for the same utterance like Show(meat), Clear(meat).  When it does so, we can use $defaultOperation to choose between them.

[enhancement]

[2020-05-26 19:30] dmvtech commented on #3938
I'll go ahead and close this out. Let us know if it returns.

[2020-05-26 19:30] #3938 closed

[2020-05-26 21:10] vishwacsena commented on #3973
@xieofxie can you add more info or close this if this has already been addressed?

[2020-05-26 21:11] vishwacsena commented on #3970
sync https://github.com/microsoft/botbuilder-dotnet/pull/3926 to master

[2020-05-26 23:39] sbacha opened #3985 "Dialog Manager to accept Options"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
I am using dialogmanager to run declarative adaptive dialog from another custom dialog stack.
I would like to pass input from 1 dialog to the declar

[2020-05-27 02:50] xieofxie commented on #3973
@vishwacsena This bug still exists in master and I updated the reproduce steps.
@Danieladu said this should be assigned to @feich-ms

[2020-05-27 03:36] feich-ms commented on #3973
I will take a look since the expander function is maintained by me.

[2020-05-27 06:10] cosmicshuai commented on #3933
#3945 has been merged.
#3934 has been updated.

[2020-05-27 07:52] cosmicshuai opened #3989 "Need ticksToDays, ticksToHours, ticksToMinutes pre-built functions"
ticksToDays, ticksToHours, ticksToMinutes  to convert ticks to desired metrics of time

[2020-05-27 17:23] #3982 closed

[2020-05-27 20:33] cleemullins opened #3990 "LG Behavior with Naughty Strings"
As part of our hackathon, I ran all the '[Naughty Strings](https://github.com/minimaxir/big-list-of-naughty-strings)' found here through the LG Templating system to see how it handled them.

Of the set, 511 round-tripped correctly, while 6 failed.

Ideally these would either:
1. Fail with a parse error on load.
2. Round-Trip correctly through the LG Evaluation phase.

The code used to do this is h

[2020-05-27 21:15] dmvtech commented on #3963
I am looking into this. Checking to see if I can reproduce as well.

[2020-05-28 01:01] dmvtech commented on #3963
Reproduced. Confirmed bug.

[2020-05-28 05:39] Danieladu commented on #3990
I went through these 6 failed cases, found that all of them are the expected result in LG.
1. LG would unescape some characters, like "\\", "\r", "\n", "\t", in LG, these "two char string" would be converted into one "one char string", the result would be "\", '\r', '\n', '\t'
2. LG would trim the heading whitespaces, because user may leave several whitespaces between "-" and content.

[2020-05-28 05:54] luhan2017 commented on #3901
@gabog  My PR is still open and waiting for review, would you mind to help review it?  :)

[2020-05-28 05:57] luhan2017 commented on #3901
@timoconnellaus ,  I've tried to open that link you shared, but don't know how to proceed, do you still need help on this?

[2020-05-28 06:52] xieofxie opened #3993 "use turnstate.activity.locale for multi-language generation"
**Is your feature request related to a problem? Please describe.**

Currently, multi-language generation uses turncontext.activity.locale to determine the locale.
However, when we set turn.activity.locale, it is set in turnstate instead of turncontext.
Then if we change it to another locale, the multi-language generation will remain the same.

**It blocks us from outputting responses in different

[2020-05-28 07:45] timoconnellaus commented on #3901
@Luhan2017 No it's OK. I have taken the logic out of the greeting for now - once the PR is merged to master I will check it again

[2020-05-28 11:53] pedrocunha87 opened #3995 "OauthScope null when using DL Speech"
## Version
v4.9.1

## Describe the bug
This problem was already reported in here:
[(https://github.com/microsoft/botbuilder-dotnet/issues/3844)]

## Additional context
On ProcessActivityAsync, BotFrameworkAdapter, you are setting the OAuthScope on TurnState.
But on ProcessStreamingActivityAsync, BotFrameworkHttpAdaptarBase, used by DirectLineSpeech that is missing, i believe.

Can that be the prob

[2020-05-28 16:14] chrimc62 opened #3996 "Please add range(start, end, increment) or for loop"
**Is your feature request related to a problem? Please describe.**
In adaptive expressions there is currently no way to generate an array with N elements in it.  You can enumerate over an existing array, object or IndicesAndValues with forEach, but you cannot iterate over N values.

**Describe the solution you'd like**
I would like either a function range(start: number, end:number, increment:numbe

[2020-05-28 17:38] darrenj opened #3998 "Version change exceptions"
## Version
4.9.1

## Describe the bug

There have been multiple reports from customers using the latest 4.9.1 SDK whereby they are reporting sudden `Version Change` exceptions being surfaced which haven't been seen before.

From conversations with SDK there is new (undocumented) behaviour whereby an event is fired if the SDK detects a conversation is resuming when a Dialog may have changed. If thi

[2020-05-29 01:50] #3933 closed

[2020-05-29 05:33] #3610 closed

[2020-05-29 06:24] #3787 closed

[2020-05-29 09:20] Danieladu opened #4001 "Activity message would be dropped when there is only a "ChannelData" property"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
source code

## Describe the bug
Message is dropped when the message contains only channelData property.

## To Reproduce
Steps to reproduce the behavior:
1.

[2020-05-29 13:46] Danieladu commented on #3996
Current expression has this one [range](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#range). Maybe we can enhance it with an "increment number" option?

[2020-05-29 20:12] chrimc62 opened #4003 "Should escape backquote in lg/expressions errors"
When an expression/lg has an error and the expression includes backquote the corresponding blocks appear as code.  There might be other markdown escaping we should do as well.  This would normally be fine, but does make it harder to understand error messages.  In the below you can see the backquote have different fonts.

![image](https://user-images.githubusercontent.com/17637681/83300941-b49fb100

[2020-05-29 20:55] chrimc62 opened #4004 "Template loop detection does not handle recursive functions"
If you define a template that calls itself, it is detected as a loop.  Here is an example:
[code]

Calling this with an array or object will throw an exception because of this code:
[code]
It is a loop only if it has the same arguments, i.e. templateName and scope are the same.

[bug]

[2020-05-29 21:22] vishwacsena commented on #3993
We need to respect what's on the incoming activity.

[2020-05-29 21:24] vishwacsena commented on #3985
@sbacha in your begin dialog, are you able to set `activityProcessed` to `false`? That should cause the callee adaptive dialog to re-run its recognizer and evaluate triggers on first turn.

[2020-05-29 21:33] chrimc62 opened #4005 ".lg evaluation should not reparse every expression on every evaluation"
This is a perf issue because we parse lots of expressions.  I would expect that expressions are parsed when the .lg template is loaded and then the parse tree is evaluated.  (I suspect we do this anyway to catch load-time errors, so why not keep the expression parse tree?)

If this is because of calling .lg templates, then you can build whatever evaluator in when you lookup function names that loo

[2020-05-30 00:57] boydc2014 opened #4006 "LG Perf improvement plan"
Use this as the top-level ticket to track the performance improvements in LG

### Parsing
[TBD]
### Evaluation
* Cache expression parsing result https://github.com/microsoft/botbuilder-dotnet/issues/4005

[2020-05-30 01:06] boydc2014 opened #4007 "Locale-aware pre-built functions"
Use this to track the effort to make a set of functions to be locale aware, which contains 3 parts
1. Make adapter pick and store locale in Activity in certain place, ie Thread.CurrentThread.CurrentCulture
2. Make a set of expression functions (conversation, formating related) use the locale get in step1 as the default locale
3. Expand the interface of those functions to accept a parameter to over

[2020-05-30 08:01] #3931 closed

[2020-05-30 13:22] KoradaRajesh opened #4009 "Nested if in LG file"
Unable to create nested if in LG

![image](https://user-images.githubusercontent.com/51915291/83329409-f1030800-a2a6-11ea-96fe-db79196de379.png)

[2020-05-30 13:36] KoradaRajesh opened #4008 "Calling an event or dialog from Invalid prompt and Unrecognized prompt"
I'm trying to call an event or dialog from Invalid prompt and Unrecognized prompt I found like this feature is not yet present so I'm Requesting this feature to add

[2020-05-31 20:15] Stevenic opened #4010 "Add Expression support to BeginDialog"
## Is your feature request related to a problem? Please describe.

Currently there's no way within composer of dynamically selecting the name of the dialog or skill you want to start.  For `BeginDialog` a simple fix would be to add an "Expression" entry to the drop down list composer shows:

![image](https://user-images.githubusercontent.com/698939/83361742-49d2af00-a340-11ea-9234-bdf22e902c47.png

[2020-06-01 01:58] xieofxie commented on #4007
I think we should make locale an parameter passed in from turn.activity.locale instead of some thread storage. Since in await mechanism, there could be multiple context running on the same thread I guess?

[2020-06-01 02:04] xieofxie commented on #3993
Agreed. But current behavior might be a little confusing.
For example, the user knows LU/LG use locale from the incoming activity.locale. However, when the user changes turn.activity.locale, LG will not change. Yet in the bot state, the value is changed. It will cause confusion.

Further more, if we could change the real turncontext.activity.locale, we could enable developer to change locale in th

[2020-06-01 03:22] Danieladu commented on #4009
Suggestions:
Implement nested conditions with multi-templates, example:
[code]

[2020-06-01 05:48] boydc2014 commented on #4007
This proposal included the adding parameter approach see no.3 in the item list, and also included an approach trying to set a good default if possible. Thread storage is just on option which is probably the convention. If thread storage don't looks promising, we will reach out for better solution.

[2020-06-01 07:05] boydc2014 commented on #4007
@Danieladu @cosmicshuai two actions needs to be clarifed before we started
1. list of functions we need this support
2. the location of storing default locale

[2020-06-01 17:14] vishwacsena commented on #3993
@xieofxie is the primary use case the one where the developer can explicitly set the locale based on user input?

[2020-06-01 17:23] vishwacsena commented on #4009
For improved readability, nesting is only supported via composition. Please see @Danieladu's example above.

[2020-06-01 17:23] #4009 closed

[2020-06-01 17:37] KoradaRajesh commented on #4009
Thank you! @daniel-castro and @vishwacsena

[2020-06-01 18:12] tracyboehrer commented on #4008
@vishwacsena All the Chris's ask that you look into this, plese.

[2020-06-01 18:13] tracyboehrer commented on #3995
@gabog What is the status of this?

[2020-06-01 18:15] tracyboehrer commented on #3925
Assigned to R10

[2020-06-01 20:38] vishwacsena commented on #3852
The fix is to ensure the necessary components are registered. See this sample .. https://github.com/microsoft/BotBuilder-Samples/blob/667c57c1341f5d4573da57aa60c3e2ed4271f926/samples/csharp_dotnetcore/adaptive-dialog/08.todo-bot-luis-qnamaker/Startup.cs#L28

[2020-06-01 20:40] vishwacsena commented on #2387
We GA'd with this behavior and so far there has not been many customer issues with this because we have made it super easy to build your own confirm prompt with LUIS + text input. Closing this.

[2020-06-01 22:45] cleemullins opened #4013 "Cherrypick PR4000 to master"
PR #4000 was merged into 4.9. It needs to be cherrypicked into master.

https://github.com/microsoft/botbuilder-dotnet/pull/4000

[2020-06-02 01:47] #3955 closed

[2020-06-02 01:48] #3989 closed

[2020-06-02 02:26] xieofxie commented on #3993
@vishwacsena the use case occurs in the Multi-Language VA in Mixed Reality hackthon where the bot knows there are multiple people using different languages. Then in one turn, the bot may response '[en] ok, I have set it up. [es] what do you need?' etc.

I don't meet this in other scenarios and we could just leave it as it is.

[2020-06-02 06:50] cosmicshuai opened #4016 "Need Math.Floor, Math.Ceiling, Math.Round pre-built functions in Expression"
floor(number) -> int
ceiling(number) -> int
round(number, int?) -> number

[2020-06-02 14:31] gabog commented on #3995
Hi @pedrocunha87, DL speech requires websockets that doesn't use the connector client to respond, it uses the WS connection so the OAuthScope is not required to authenticate the response.

Makes sense?

[2020-06-02 18:30] vishwacsena commented on #4008
Unfortunately this is not possible with the native set of inputs available as part of adaptive dialogs. However you can extend adaptive actions with your own custom actions and you could pursue providing this capability via a custom input action.

Keeping this in backlog so we can consider supporting this natively in a future release.

[2020-06-02 19:20] pedrocunha87 commented on #3995
I'm not having problems connecting to the bot.
The problem happens when handling a response from a Skill.
The SkillHandler, doing the ProcessActivityAsync will get the ConversationReference and there the skillConversationReference.OAuthScope is null.
Then on ContinueConversationAsync, BotFrameworkAdapter, the parameter audience is null.

[2020-06-02 19:22] gabog commented on #3895
Hi @xieofxie, can you confirm this was closed by the related PR? If yes, please close this issue too.

[2020-06-02 19:25] gabog commented on #3902
Hi @luhan2017, can you close this issue if it is done?

Thanks

[2020-06-02 19:28] gabog commented on #3905
TODO: Check if this is not addressed by just enabling Roslyn FxCop analyzers on the solution and close it if it does.

[2020-06-02 19:43] cleemullins commented on #3990
related to #3976

[2020-06-02 19:45] gabog commented on #3984
Hi @chrimc62, is this related to adaptive or something else? is it a bug or a DCR?

Thanks

[2020-06-02 19:53] johnataylor commented on #883
The issue we have is that the ideal factoring in dotnet core would be to use the new (relatively new) HttpClientFactory behavior built into ASP. However, this isn't available in the older Web Api.

The best approach is probably to focus on the new framework.

[2020-06-02 19:54] #4013 closed

[2020-06-02 20:36] carlosscastro commented on #3970
We'll push a fix for this to master early next week that includes re-enabling cycle detection, for baking until R10.

[2020-06-02 20:38] KoradaRajesh commented on #4008
Sure @vishwacsena Thank you

[2020-06-02 22:17] cleemullins commented on #3998
Fixed as part of 4.9.3

[2020-06-02 22:17] #3998 closed

[2020-06-03 03:07] xieofxie commented on #3895
@gabog No, since it is not migrated to current master 03a51e1e09d36cd8c4e8f1dcde6263e5d62e806e (https://github.com/microsoft/botbuilder-dotnet/issues/3970), this issue is not resolved yet.

[2020-06-03 03:51] xieofxie opened #4018 "Enable continuing conversation from an activity instead of reference.GetContinuationActivity()"
**Is your feature request related to a problem? Please describe.**

As far as I can see, this logic is almost the same as ProcessActivityAsync except for the contruction of turncontext.
https://github.com/microsoft/botbuilder-dotnet/blob/03a51e1e09d36cd8c4e8f1dcde6263e5d62e806e/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L342

Then if we could support continuing from an activity (with c

[2020-06-03 04:38] chrimc62 opened #4019 "Trigger Condition/Priority do not evaluate against the generator"
## Version
4.9.3

## Describe the bug
When evaluating triggers condition and priority go directly against adaptive expressions rather than through the generator.  This means they cannot use functions defined in the generator templates to simplify condition/priority.  The same issue may be found other places.

[bug]

[2020-06-03 05:38] chrimc62 opened #4020 "isObject throws an exception if value is null"
An expression of isObject(null) throws an exception.

[bug]

[2020-06-03 06:34] stevengum commented on #4018
@axelsrz the logic around ContinueConversationAsync/Proactive messaging might fall into your scope for R10 and this sounds like a reasonable ask.

I believe @gabog and @garypretty likely have some solid feedback/perspective on using this code that could be baked into this method. They also likely have some R10 overlap as well 😉

Lastly, @xieofxie if you are using ContinueConversationAsync in a Ski

[2020-06-03 06:53] khiemnvd opened #4028 "Using UTF-32 in Language Generation template."
I can't show emoji using UTF-32 in the template.lg in bot framework emulator.

[code]

[2020-06-03 12:05] DavidStrickland0 opened #4022 "Throwing Generic Exceptions"
Problem:
In our coding standards we don't allow

`try
{}
catch(Exception ex)
{}
`

This is because we operate under the assumption that if you can't actually do anything about an exception you shouldn't catch it and instead let it bubble up to code that can. Catching all Exceptions and handling them generically is something we assume the UI will do with a Generic Exception Handler.

The issue is t

[2020-06-03 12:12] DavidStrickland0 commented on #4022
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/using-standard-exception-types

[2020-06-03 14:49] gabog commented on #3895
Ah, OK thanks.

[2020-06-03 22:27] sbacha commented on #3985
@vishwacsena yeah that fixed the problem with the alternative solution :) thank you.
but I still see value in exposing option param in the dailog manager, instead of this work around.

[2020-06-04 08:46] Danieladu commented on #4014
It would be better if a sample is attached for each function

[2020-06-04 08:47] #4006 closed

[2020-06-04 09:04] KayMKM commented on #4014
A function that can combine two list.
E.g. a=[1, 2, 3], b=[2, 3, 4], combine(a, b)=[1, 2, 3, 2, 3, 4]

[2020-06-04 22:38] #4004 closed

[2020-06-05 00:15] vishwacsena commented on #3968
+1 for `eval`

[2020-06-05 00:16] vishwacsena commented on #3968
@tomlm @chrimc62 are you ok with `eval()`?

[2020-06-05 07:30] lunyi opened #4027 "Skype Bot doesn't response in group channel"
hi all
as the title
is it allowed to send messages with PDF or word files?

[2020-06-05 16:08] gabog commented on #2367
Reopening for R10

[2020-06-05 16:08] gabog commented on #3905
This should be probably be addressed as part of #2367

[2020-06-05 17:46] anusharavindrar commented on #4027
@lunyi, sending attachments such as PDFs is not supported yet due to [security concerns](https://github.com/microsoft/botframework-sdk/issues/4047#issuecomment-359482543). Skype allows you to send only media attachments such as audio and video. As Skype blocks you from sending PDFs as attachments in any form (links, local file or Base64Strings), you can still send them as links by simply embedding

[2020-06-05 17:48] anusharavindrar commented on #4027
@lunyi, sending attachments such as PDFs is not supported yet due to security concerns. Skype allows you to send only media attachments such as audio and video. As Skype blocks you from sending PDFs as attachments in any form (links, local file, or Base64Strings), you can still send them as links by simply embedding the link in your text.

[2020-06-05 17:48] #4027 closed

[2020-06-05 19:12] cxbuilders opened #4050 "Variables / Expressions are not parsed in JSON object"
When using a variable or expression in a JSON object it does not get parsed.
![image](https://user-images.githubusercontent.com/49873947/83914288-42146f80-a771-11ea-94d4-4eb975083d59.png)
![image](https://user-images.githubusercontent.com/49873947/83914298-4771ba00-a771-11ea-8127-03dbc4970852.png)
![image](https://user-images.githubusercontent.com/49873947/83914311-4c366e00-a771-11ea-8cb0-f06cc20c

[2020-06-06 02:34] boydc2014 opened #4029 "[DCR] Expression data binding support for special character as top-level key"
Today data binding support is basically 3 apporaches
1. a plain variable like `foo` or foo.bar
2. [], like  foo["bar"]
3. getProperty function, getProperty(foo, "bar")

the issue is if the memory in property contains special character like ":" we won't support that in approach 1, because that's don't match will our parser rule.

The issue with approach 2 and 3 is that it required a property to sta

[2020-06-06 02:36] boydc2014 commented on #4029
related to a customer reported issue https://github.com/microsoft/AdaptiveCards/issues/4134

[2020-06-06 03:47] Danieladu commented on #4028
@khiemnvd sorry for the blocking. Currently, LG does not support the \U escape, So, the "\U0001F60A" in LG is really a constant string.
The work around is just paste the UTF-8 format emoji into the lg file, it supposed to work. Snipping picture:

![image](https://user-images.githubusercontent.com/7289268/83935347-6e6cd200-a7eb-11ea-8dd3-4f4549d17682.png)

In emulator:
![image](https://user-images.

[2020-06-06 04:06] chrimc62 commented on #4029
I prefer 2.  $data feels artificial to me.

From: Dong Lei <notifications@github.com>
Sent: Friday, June 5, 2020 7:35 PM
To: microsoft/botbuilder-dotnet <botbuilder-dotnet@noreply.github.com>
Cc: Chris McConnell <chrimc@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [microsoft/botbuilder-dotnet] [DCR] Expression data binding support for special character as top-level key (#4029)

To

[2020-06-06 04:28] #4020 closed

[2020-06-06 06:51] boydc2014 commented on #3990
Can we close this @cleemullins since this is expected?

[2020-06-06 06:55] boydc2014 commented on #3973
@xieofxie i'm taking off R10 of this, the original expander design has some limitation when it deals with list functions, and it was not going to give a complete result in all cases, especially when it evolves in functions that generate and\or manipulate list.

We will re-design expander in the way how it works with list functions, but we don't have the commitment in R10 yet.

[2020-06-06 07:17] boydc2014 commented on #3972
Take off the R10 label, for the same reason listed in https://github.com/microsoft/botbuilder-dotnet/issues/3973#issuecomment-639998213, we will do a best effort to fix certain bugs in expander, but given the priority and the adoption of this expander feature, we are not listing the expander as a commitment in R10.

[2020-06-06 07:19] boydc2014 commented on #3238
taking off R10 label for the same reason of https://github.com/microsoft/botbuilder-dotnet/issues/3973#issuecomment-639998213

[2020-06-06 07:21] boydc2014 commented on #3172
Taking off R10 and aded backlog as the design and intention was not clear right now, @vishwacsena can you also adding some examples of what you refered with fluent-style expression builder.

[2020-06-06 08:46] khiemnvd commented on #4028
Thanks @Danieladu ,
I hope LG will support in the next release version.

[2020-06-06 08:46] #4028 closed

[2020-06-06 15:10] vishwacsena commented on #3172
No plans to do this

[2020-06-06 15:10] #3172 closed

[2020-06-07 23:49] #4005 closed

[2020-06-08 06:46] boydc2014 commented on #4014
@Danieladu can you propose the function signature for those functions and let us review

[2020-06-08 06:49] boydc2014 commented on #3969
@Danieladu can you verify first whether our IMemory interface distinguish null and not-exist ?

Take off R10 for now.

[2020-06-08 07:04] #3821 closed

[2020-06-08 18:55] JonathanFingold commented on #3976
JSON is in UTF-8 and C# uses UTF-16 for strings. We explicitly convert back and forth, but Wikipedia notes that there can be some issues.

[2020-06-08 21:10] JonathanFingold commented on #2638
Verified the issue persists in 4.9.3.

[2020-06-09 00:46] v-kydela opened #4033 "Consider supporting TypeNameHandling.Auto"
**Is your feature request related to a problem? Please describe.**

By default, the three storage classes in Microsoft.Bot.Builder.Azure (`AzureBlobStorage`, `CosmosDbStorage`, and `CosmosDbPartitionedStorage`) use `TypeNameHandling.All` to ensure .NET types can be round-tripped to JSON and back. This more than doubles the size of many JSON strings because they end up looking like this:

[code]

N

[2020-06-09 03:58] Danieladu commented on #4014
## indexOf/lastIndexOf
 Expression already contains these two functions, but just with the default `equals` condition.
So, should we change the original function to make it 'lambda'? The function may like:
`indexOf([1, 2, 3], x, x > 2)`
Change the original function maybe a breaking change?

## merge
`merge(json1, json2)`, should we add some more parameters? like ignore case

## Combine two list
No

[2020-06-09 06:32] Danieladu commented on #3969
There is a `TryGetValue()` method in interface `IMemory`, the user can implement it with own memory accessor. For example, if the property does not exist, return false, if the property exists, return true.

[2020-06-09 13:58] cxbuilders opened #4071 "Switch with number in strings as value -> Error: Arguments must either all be numbers or strings"
When using a switch statement on a string (coming from Api JSon payload as string) that contains numbers;
![image](https://user-images.githubusercontent.com/49873947/84156438-c4e74400-aa69-11ea-8bac-2add0456fa98.png)

It throws an error:
![image](https://user-images.githubusercontent.com/49873947/84156474-d29cc980-aa69-11ea-8cfc-9027a710044d.png)

When just adding a letter after the 23 like 23A it

[2020-06-09 22:19] vishwacsena commented on #3180
@chrimc62 any update?

[2020-06-09 22:26] vishwacsena commented on #3531
@boydc2014 can we support a policy in LG where an alternate is skipped if a property is missing?

[2020-06-09 22:31] vishwacsena commented on #3569
Workaround is to use Goto action or BreakLoop action

[2020-06-09 22:33] vishwacsena commented on #3586
https://www.nuget.org/packages/ComponentSchema/

[2020-06-09 22:34] vishwacsena commented on #3784
Fixed.

[2020-06-09 22:34] #3784 closed

[2020-06-09 22:40] vishwacsena commented on #3835
Fixed.

[2020-06-09 22:40] #3835 closed

[2020-06-09 22:46] vishwacsena commented on #3900
@carlosscastro @tomlm believes this was fixed in R9. can you confirm?

[2020-06-09 22:51] vishwacsena commented on #3958
@Stevenic not sure if this is still an issue with 4.9 bits?

[2020-06-09 22:57] JonathanFingold opened #4034 "Parity issue for transcript loggers/stores"
## Version
What package version of the SDK are you using. **4.9.3**/master

## Describe the bug
The concrete classes available in each language varies greatly:
1. TraceTranscriptLogger (C# only)
1. FileTranscriptLogger (C# only)
1. ConsoleTranscriptLogger (missing in C#)
1. MemoryTranscriptStore (**language parity**)
1. FileTranscriptStore (JavaScript only)
1. AzureBlobTranscriptStore (missing in

[2020-06-09 22:59] vishwacsena commented on #3985
@sbacha did the solution/ workaround provided by @tomlm  worked for you? Do you need anything else here?

[2020-06-09 23:03] vishwacsena commented on #4010
@cwhitten this is a dialogExpression which can either be a dialog or an expression that resolves to an ID of a dialog to begin.

[2020-06-09 23:06] vishwacsena commented on #4019
@tomlm says he worked through this with you offline.

[2020-06-09 23:06] #4019 closed

[2020-06-10 00:25] xieofxie commented on #3900
I just checked it on 275cb070dbd5c328b8a932c864dbd0a0c1d92991 of master and it still exists.

[2020-06-10 00:26] MichaelStark-Reactor opened #4035 "AttachmentPrompt does not work in OmniChannel Implemtation .Net"
## Version
version 4.7.1

## Describe the bug
When using a Prompt in Waterfall step to have the user attach an image we are using the AttachmentPrompt.  In WebChat and emulator this work fine.  When running it in the OmniChannel or D365 it never leaves the Prompt.  No matter what the user upload it returns to the prompt.
The OnContinueDialogAsync event is triggered and I can examine the attachment

[2020-06-10 00:52] axelsrz opened #4036 "Enable warnings as errors for analysis tools"
This issue is related to #2367 and should be done after configuring hierarchical rules for the repo and adhered current code to the standard.

[2020-06-10 00:58] #3906 closed

[2020-06-10 01:16] axelsrz opened #4038 "Add CosmosDb tests to nightly functional tests"
Ensure that CosmosDB tests are running as expected and passing on the nightly build

[2020-06-10 03:07] axelsrz opened #4039 "Migrate tests to XUnit"
Move 100% of unit tests from MSTest to XUnit,

Once the migration of a given project is done, remove references to MSTest.TestAdapter and MSTest.TestFramework from the csproj files.

[code]

[2020-06-10 04:48] gabog opened #4040 "Add ToAttachment() method to OAuthCard"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5871)

[2020-06-10 05:33] gabog opened #4041 "Update CardAction to support alt text for images and buttons"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5874)

[2020-06-10 07:43] DingmaomaoBJTU opened #4042 "Support test code coverage calculation for declaritive"
**Is your feature request related to a problem? Please describe.**
Hope test code coverage number can be provided for declarative bot test project so that declarative bot quality can be measured.

**Describe the solution you'd like**
For 1) declarative steps 2) expression 3) LG they both have condition branch. Is there a way to provide an api to return test coverage at least for declarative steps?

[2020-06-10 07:55] cosmicshuai opened #4043 "need Timex pre-built functions for getNextViableDate, getPreviousViableDate, getNextVal, getPreviousViableTimeidTime"
Timex.getNextViableDate
Timex.getPreviousViableDate
Timex.getNextValidTime
Timex.getPreviousViableTime

These functions should return an timex expression with a valid next( or previous) date (or time) based on current time and user's timezone.

The signature of these functions:
getNextViableDate(string expr, string timezone?)
getPreviousViableDate(string expr, string timezone?)
getNextViableTime(s

[2020-06-10 09:47] vipeketi commented on #3706
js changes [QnAMaker] For overloaded GetLowScoreVariation js sdk changes. #2330

[2020-06-10 16:30] stevengum opened #4047 "[Engineering] Improve SDK Build times, refactor solutions"
### _7/20/20 Edit:_

Some potential steps to address these issues involve educating the team about some of steps outlined on ["Load a filtered solution"](https://docs.microsoft.com/en-us/visualstudio/ide/filtered-solutions?view=vs-2019) which includes topics such as [not loading projects](https://docs.microsoft.com/en-us/visualstudio/ide/filtered-solutions?view=vs-2019#open-a-filtered-solution) an

[2020-06-10 16:34] stevengum opened #4048 "[Engineering] Lower time needed to complete running tests"
Potential causes of the long duration are:
- Arranging background resources before each test and then dismantling the resources before proceeding to the next, similar text (e.g. CosmosDB)
- Running both the .NET Core 3.1 and .NET Core 2.x test suites in the same solution
    - Consider splitting the tests out by runtime

[2020-06-10 18:27] Stevenic opened #4049 "DCR: Add new stack inspection methods to DialogContext"
**Is your feature request related to a problem? Please describe.**
It turns out that the C# and Python versions of the SDK store their dialog stacks inverted from the JavaScript SDK.  This could lead to errors when writing code that needs to inspect the stack so we'd like to add some API's for inspecting the stack in a normalized way.  My proposal would be to add two new methods:

- **ForEachDialo

[2020-06-11 00:16] EricDahlvang commented on #4034
FileTranscriptStore related: https://github.com/microsoft/botbuilder-dotnet/pull/1355

[2020-06-11 07:09] #3840 closed

[2020-06-11 10:13] cxbuilders commented on #3930
@benbrown I ran into this issue again and figured what the problem is.
The rootdialog contain the intent triggers, including the Unknown Intent trigger. After the greeting trigger I move the user to the MainMenu dialog form which they can move to other dialogs and come back to the MainMenu dialog.

In this MainMenu dialog the intents from the root dialog are nicely triggered and an interruption ta

[2020-06-11 13:18] #3973 closed

[2020-06-11 15:31] gabog opened #4052 "Ensure documentation is provided for all visible methods, properties and parameters"
Working towards SDK tracking issue https://github.com/microsoft/botbuilder-dotnet/issues/3283

There are several classes, properties and methods that don't have code documentation associated to them.

As part of #2367, we enabled code analysis and enforced treating warnings as errors.

This issue involves:

1. Removing the NoWarn `PropertyGroup` from each project in the libraries folder in the sol

[2020-06-11 18:11] a-b-r-o-w-n commented on #3930
@cxbuilders are you able to share the *.dialog files for this project? We can take a look at this.

[2020-06-11 18:24] cxbuilders commented on #3930
@a-b-r-o-w-n Just send the export of the bot to your email.

[2020-06-11 18:25] Stevenic opened #4053 "SkillHandler doesn't return ResourceResponse when forwarding activities"
## Version
4.9

## Describe the bug
The SkillHandler currently [generates a fake ResourceResponse](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/Skills/SkillHandler.cs#L204) when it forwards activities from the skill to the channel.  This means that future operations like `Update` and `Delete` won't work. We instead should remember the response from the

[2020-06-11 18:26] cxbuilders commented on #4050
@vishwacsena Am using set properties now as a step before, which is fine. Having this feature would make it a more clean approach. Thanks.

[2020-06-11 18:46] vishwacsena commented on #4001
@Danieladu can you make a fix/ pr here?

[2020-06-11 19:14] v-kydela commented on #4035
@MichaelStark-Reactor - Thank you for the link. I tried your code in Teams and it seems to work okay:

![image](https://user-images.githubusercontent.com/41968495/84428965-4363f300-abdc-11ea-8050-34cd786986a3.png)

We'll need some more information in order to reproduce your problem.

1. Your picture step says "Attach a profile picture (or type any message to skip)." Does your attachment prompt hav

[2020-06-11 22:46] vishwacsena commented on #3531
Among other design considerations this is also one - if we are firing this event, we need to do it once per property

[2020-06-11 22:58] Danieladu commented on #4001
Of course.

[2020-06-11 23:04] vishwacsena commented on #3649
Options discussed:
- parent memory scope
- partial class.

[2020-06-11 23:22] vishwacsena commented on #3968
DCR triage function makes sense. function name `expandText()`

[2020-06-12 00:04] vishwacsena commented on #3993
@tomlm @boydc2014 is this related to using the thread locale .vs. turn.activity.locale in C#?

Dropping R10.

[2020-06-12 00:07] vishwacsena commented on #3990
@axelsrz @cleemullins closing this since LG behaves correctly here. See explanation from @Danieladu above.

[2020-06-12 00:07] #3990 closed

[2020-06-12 00:12] vishwacsena commented on #4007
What's the impact/ related change of this to LG?

[2020-06-12 00:19] vishwacsena commented on #4014
index/indexof - need to verify with @stevenic if what we have is enough
merge(json, json) makes sense.
concat(list1, list2) makes sense.

[2020-06-12 01:13] stevengum opened #4055 "[Engineering] Reduce CI Pipeline duration"
The CI pipeline takes between 25-27 minutes, there's room for improvement as the CI doesn't deploy or publish code.

The duration can improve by addressing #4047 & #4048.

___

- [ ] Disable or remove superfluous stages and steps
- [ ] Investigate "better" parallel builds

[2020-06-12 03:36] #4016 closed

[2020-06-12 03:56] vishwacsena commented on #3996
Chatted offline with @chrimc62 . Closing as we believe [range][1] is sufficient for the primary use case here.

[1]:https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#range

[2020-06-12 03:56] #3996 closed

[2020-06-12 06:30] boydc2014 commented on #3968
you mean function name called expandText()? eval or evalText feels more natural to me

[2020-06-12 08:06] andreatosato opened #4060 "QnA Bot - The bot encountered an error or bug."
Hi,
I'm using this [sample ](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/70.qnamaker-multiturn-sample)project for my customer.
After some question, the bot encountered an error or bug.

## Version
Microsoft.Bot.Builder.ApplicationInsights Version="4.9.3"
Microsoft.Bot.Builder.AI.QnA Version="4.9.3"
Microsoft.Bot.Builder.Azure Version="4.9.3"
Microsoft.Bot.

[2020-06-12 16:41] vishwacsena commented on #3968
@boydc2014 the naming party is over.. :)`expandText()`

[2020-06-13 14:04] vman opened #4062 "Teams `MessageActionsPayload` class is missing `linkToMessage` property"
## Version
Bot Builder .NET SDK 4.9.3

## Describe the bug
Teams `MessageActionsPayload` class is missing the `linkToMessage` property.

The Generated folder in the master branch seems to be updated 9 months ago and could be the reason why it doesn't have the linkToMessage property.

## To Reproduce
Observe the MessageActionsPayload class: https://github.com/microsoft/botbuilder-dotnet/blob/master

[2020-06-14 10:28] vman commented on #4062
Happy to create a PR for this if everything is OK to go ahead?

[2020-06-14 18:02] #3897 closed

[2020-06-14 18:09] #3972 closed

[2020-06-14 22:44] #4001 closed

[2020-06-15 10:59] garypretty opened #4065 "Update repository community profile documents to meet community standards"
Related to SDK tracking issue https://github.com/microsoft/botframework-sdk/issues/5911

As per the community profile checklist for this repository (https://github.com/microsoft/botbuilder-dotnet/community), the following additional readmes / templates are required.

- [x] Contributing guidance aligned with https://github.com/microsoft/botframework-sdk/blob/master/Contributing.md
- [x] Code of con

[2020-06-15 14:30] gabog opened #4068 "Add locale in Conversation Update (dotnet)"
see [parent](https://github.com/microsoft/botframework-sdk/issues/5901)

[2020-06-15 14:40] gabog commented on #3985
Hi @sbacha, I am triaging the backlog for r10, can you ping me over teams and let me know if you still need this?

[2020-06-15 14:57] gabog opened #4069 "TeamInfo type does not expose aadGroupId (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5870)

[2020-06-15 15:14] gabog opened #4070 "Read receipt conversationUpdate event (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5891)

[2020-06-15 15:50] garypretty commented on #3593
There is now an open PR (just awaiting some resolution of failing tests) which implements some changes to the Slack adapter, including one that will address this issue - we have now changed the Blocks property to be a collection of object. You can see the PR at https://github.com/microsoft/botbuilder-dotnet/pull/4046.

I am going to close out this issue, but once the PR has been merged, this will

[2020-06-15 15:50] #3593 closed

[2020-06-15 15:54] garypretty commented on #3537
There is now an open PR (just awaiting some resolution of failing tests) which implements some changes to the Slack adapter, including those within this PR. @marcusbooyah , thank you very much for your contribution here.

The changes in the PR, which consolidates a number of changes, also removes the tight dependency on the Slack client that was being used.  Now, a developer can install and use an

[2020-06-15 15:54] #3537 closed

[2020-06-15 16:00] sidmore opened #4166 "Make SkillHttpClient methods virtual to improve E2E Testability"
For Testing TaskModuleInvoke need to Mock SkillHttpClient.PostActivityAsync<>() method which is a concrete method and not possible to Mock, it may be better to make this method virtual and override it for purpose of Testing

[2020-06-15 16:58] gabog commented on #3985
I talked with @sbacha offline and the workaround worked but it would be good to have an option so I am tagging this one as P1 and move in into the SDK repo to see if we can address this as part of R10

[2020-06-15 17:19] vishwacsena commented on #4071
Not sure if this is an issue with expressions or with adaptive itself I suspect the later but @boydc2014  can you investigate and comment?

[2020-06-15 18:05] vishwacsena commented on #3995
@gabog can you help take a look and comment?

[2020-06-15 20:15] andreatosato commented on #4060
There isn't specific question that encounter errors, but question must not find QnA answer.
We try with Webchat and emulator with same result.

[2020-06-15 21:09] #4065 closed

[2020-06-15 21:16] clearab opened #4072 "SkillHandler doesn't return ResourceResponse when forwarding activities (c#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5919)

[2020-06-16 03:11] xieofxie commented on #4071
We expect a string in the case https://github.com/microsoft/botbuilder-dotnet/blob/54bad3490e0167ae5cfa08be58a3100787014fc2/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/Case.cs#L25 and parse it to number if it is https://github.com/microsoft/botbuilder-dotnet/blob/54bad3490e0167ae5cfa08be58a3100787014fc2/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SwitchCondition.cs#L122.

[2020-06-16 16:27] mdrichardson commented on #4038
I'll update this as I go through until all checkboxes are green.

# Progress:

### Dotnet

- [ ] Successfully runs locally without skipping tests
- [ ] (does not test anything) Tests exist in the nightly pipeline
- [ ] Successfully runs nightly without skipping tests

### Node

- [ ] Successfully runs locally without skipping tests
- [x] Tests exist in the nightly pipeline
- [ ] (currently skips)

[2020-06-16 17:21] BruceHaley opened #4076 "Allow code analysis to be disabled by a build command line argument"
Code analysis now runs every time a solution or project is built. That means it runs in just about all of our pipelines. CA needs to be run in only the CI-PR pipelines. In the other pipelines it just increases their running time and makes them more liable to break.

Right now there is no easy way to disable CA. Setting up CA so the build argument "-p:RunCodeAnalysis=false" could disable it would m

[2020-06-16 17:36] eduardocampano opened #4077 "Getting Unauthorized from service API response when SendActivityAsync"
## Version
4.9.3

## Describe the bug
My bot is unable to send any activity to channels. I think this is related to my bot being internal to the organisation. It's registered an Single Tenant app in App Registrations
![image](https://user-images.githubusercontent.com/166483/84802750-68d76f00-afd7-11ea-98c4-a7b23fb531dc.png)
`MicrosoftAppId` and `MicrosoftAppPassword` are properly defined in `appse

[2020-06-16 18:04] vishwacsena commented on #4062
@vman please feel free to issue a PR and request review from @johnataylor

[2020-06-16 18:36] eduardocampano commented on #4077
Just found this comment in source code
[code]
Does it mean that single tenant cannot be used?

[2020-06-16 19:38] clearab opened #4079 "Additional channel/chat lifecycle events (c#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5892)

[2020-06-16 20:32] v-kydela commented on #4035
@MichaelStark-Reactor - Are you still working on this?

[2020-06-16 20:39] MichaelStark-Reactor commented on #4035
I found a hack.  I added logic to grab the image in the OnContinueDialogAsync event then restart the conversation and skip the prompt the second time through.

Now there is an issue with using the same Bot as a Skill inside a PVA and then host the PVA in OmniChannel.

[2020-06-16 20:54] v-kydela commented on #4035
@MichaelStark-Reactor - I'm glad you were able to resolve your issue.

If you have any questions about your new issue, we would prefer it if you asked them on Stack Overflow. If you use the `botframework` tag then my team will see your questions. GitHub issues are best-suited for bugs and feature requests.

You might also consider opening a support ticket through the Azure portal. There is a docum

[2020-06-16 20:54] #4035 closed

[2020-06-16 21:53] BruceHaley opened #4081 "Stop building twice in the dotnet functional test pipelines"
DotNet functional test pipelines [here](https://fuselabs.visualstudio.com/SDK_v4/_build?definitionScope=%5CDotNet%5CFunctionalTests) are building twice. Once with VS, once with dotnet publish. Drop the VS build. That would shorten the running time.

[2020-06-16 22:37] vishwacsena commented on #3930
@cxbuilders - are you using LUIS or regex recognizer? Also to clarify, is this what you are expecting?

[code]

[2020-06-16 22:46] sidmore opened #4233 "Generic InvokeResponse definition seems reversed"
When using  PostActivityAsync(string fromBotId, BotFrameworkSkill toSkill, Uri callbackUrl, Activity activity, CancellationToken cancellationToken); invokeResponse contains 2 member variables with name Body,
one with Generic Type set to null and other member variable named Body of type object. This happens because InvokeResponse definition seems reverse as a result i am not able to get Body object

[2020-06-16 23:49] #4069 closed

[2020-06-17 03:20] cxbuilders commented on #3930
@vishwacsena I use Luis. And yes, that is what I expect. If intents are triggered from the root dialog when the user is in a child dialog, so should the no intent recognized trigger from the root dialog.

When the active child dialog also has a no intent recognized trigger that should take precedence.

[2020-06-17 12:25] WalkingDisaster opened #4084 "Support TTL for CosmosDbPartitionedStorage in Microsoft.Bot.Builder.Azure"
**Problem Statement**
The current implementation of `CosmosDbPartitionedStorage` does not support the declaration of a default TTL when creating a new Cosmos DB container. Supporting default TTL requires either creating the container before the code runs or updating the container at a later time to have a default TTL.

**Proposed Solution**
Add `TimeToLive` to `CosmosDbPartitionedStorageOptions` a

[2020-06-17 14:16] eduardocampano commented on #4077
Changing App Registration to Multitenant solved the problem, I guess the tenant restriction must be enforced from the bot itself as https://stackoverflow.com/questions/62279824/restrict-microsoft-bot-framework-bot-to-certain-ad-tenant suggests

[2020-06-17 14:16] #4077 closed

[2020-06-17 16:16] EricDahlvang commented on #4084
Other requests for this:

https://github.com/microsoft/botbuilder-dotnet/issues/3086
https://github.com/microsoft/botframework-sdk/issues/5890

[2020-06-17 17:32] vishwacsena commented on #4071
We will address this as a bug in the next release.

[2020-06-17 17:39] Virtual-Josh opened #4085 "Migrate AdaptiveExpressions to Xunit"
#4039

[2020-06-17 17:40] Virtual-Josh opened #4086 "Migrate botbuilder.ai.luis tests to xunit"
#4039

[2020-06-17 17:47] Virtual-Josh opened #4087 "Migrate botbuilder.api.luis.v3"
#4039

[2020-06-17 17:48] Virtual-Josh opened #4088 "migrate botbuilder.ai.qna to xunit"
#4039

[2020-06-17 17:50] Virtual-Josh opened #4089 "migrate botbuilder.applicationinsights to xunit"
#4039

[2020-06-17 17:51] Virtual-Josh opened #4090 "migrate builder.azure tests to xunit"
#4039

[2020-06-17 17:51] Virtual-Josh opened #4091 "migrate builder.dialogs.adaptive.profiling to xunit"
#4039

[2020-06-17 17:52] Virtual-Josh opened #4092 "Migration builder.dialogs.adaptive.templates"
#4039

[2020-06-17 17:53] Virtual-Josh opened #4093 "migrate builder.dialogs.adaptive to xunit"
#4039

[2020-06-17 17:53] Virtual-Josh opened #4094 "migrate builder.dialgs.debugging to xunit"
#4039

[2020-06-17 17:54] Virtual-Josh opened #4095 "migrate builder.diaglogs.declarative to xunit"
#4039

[2020-06-17 17:54] Virtual-Josh opened #4096 "migrate builder.dialogs to xunit"
#4039

[2020-06-17 17:55] Virtual-Josh opened #4097 "migrate builder.languagegeneration"
#4039

[2020-06-17 17:55] Virtual-Josh opened #4098 "migrate builder.templatemanager to xunit"
#4039

[2020-06-17 17:56] Virtual-Josh opened #4099 "migrate builder.testbot.netcore21 to xunit"
#4039

[2020-06-17 17:57] Virtual-Josh opened #4100 "migrate builder.testbot to xunit"
#4039

[2020-06-17 17:57] Virtual-Josh opened #4101 "migrate builder.testing"
#4039

[2020-06-17 17:58] Virtual-Josh opened #4102 "migrate builder.transcripts"
#4039

[2020-06-17 17:58] Virtual-Josh opened #4103 "migrate configuration to xunit"
#4039

[2020-06-17 17:59] Virtual-Josh opened #4104 "migrate connector to xunit"
#4039

[2020-06-17 17:59] Virtual-Josh opened #4105 "migrate schema"
#4039

[2020-06-17 17:59] vishwacsena commented on #3930
@cxbuilders a workaround for you is to add a 'None' intent handler in your parent. See attached.

[EmptyBot-0.zip](https://github.com/microsoft/botbuilder-dotnet/files/4794257/EmptyBot-0.zip)

[2020-06-17 17:59] Virtual-Josh opened #4106 "migrate streaming to xunit"
#4039

[2020-06-17 18:00] Virtual-Josh opened #4107 "migrate adapters folder"
#4039

[2020-06-17 18:00] Virtual-Josh opened #4108 "migrate integration folder to xunit"
#4039

[2020-06-17 18:01] Virtual-Josh opened #4109 "migrate skills folder"
#4039

[2020-06-17 18:12] vishwacsena commented on #4062
We will review the PR later today and likely merge it in pending any review feedback.

[2020-06-17 19:17] vishwacsena commented on #3930
@cxbuilders I investigated this a bit more and here's what is going on. The default behavior in adaptive dialog is to not fire the `unknown` intent trigger on consultation. This is essential because the child at this point has not made a call if it wants to take the input user utterance or not. So in case where you are not using a LUIS recognizer for a child adaptive dialog, you can simply use an

[2020-06-17 19:17] #3930 closed

[2020-06-17 19:58] carlosscastro opened #4111 "Streaming: Minimize memory footprint from connector client and other disposable objects"
We may be hitting premature memory Pressure Conditions inside the bot builder SDK  (.net core version 4.9) when using the streaming extensions because the BotBuilder SDK is relying on the .net garbage collector to do cleanup instead of using the IDispose pattern in many places.

We are seeing a runaway amount of memory and threads being consumed in our test bot (simple echo bot) increase slightly

[2020-06-17 20:16] Virtual-Josh opened #4113 "remove MSTest and associated packages from all projects"
Clean up task after XUnit migration is done

[2020-06-17 20:33] #3325 closed

[2020-06-17 20:40] #3968 closed

[2020-06-17 21:01] furkani94 commented on #3141
I fixed same problem with removing empty contents in my json text.

[2020-06-17 22:15] munozemilio opened #4114 "Publish previews and RCs to nuget"
**Is your feature request related to a problem? Please describe.**
Reduce friction when accessing future releases and bug fixes

**Describe the solution you'd like**
Stop publishing previews and release candidates to Myget and follow publishing processes other .NET project use

Specs are provided at #4112

[enhancement]

[2020-06-17 22:30] Virtual-Josh commented on #4109
Already ported.

[2020-06-17 22:30] #4109 closed

[2020-06-17 22:32] mdrichardson commented on #4084
@WalkingDisaster The SDK team has decided not to implement TTL (or additional Cosmos SDK features) so as not to duplicate the Cosmos SDK, itself.

However, [@EricDahlvang provided a GREAT programmatical workaround](https://github.com/microsoft/botframework-sdk/issues/5890#issuecomment-642810480) or you can also [set it manually](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live?

[2020-06-17 22:32] #4084 closed

[2020-06-17 22:48] EricDahlvang opened #4116 "Skill Dialog processes incoming activities from the skill while still loaded"
## Version
current

## Describe the bug
When a host bot uses the Skill Dialog to call a skill which results in activities sent back to the parent, state can get corrupted.

## To Reproduce
Created a repo here: https://github.com/EricDahlvang/SkillDialogIssue/blob/master/RootBot/Dialogs/MainDialog.cs#L177

EndOfConversation received from a skill while the SkillDialog is still processing the origina

[2020-06-17 23:04] EricDahlvang commented on #4116
@Zerryth (who ran into this creating functional tests)
do you have anything to add?

[2020-06-17 23:09] #4107 closed

[2020-06-17 23:47] #3562 closed

[2020-06-18 00:39] #3960 closed

[2020-06-18 01:27] Stevenic opened #4117 "LuisRecognizer returns Empty intent with perfect score when there is no utterance"
## Version
4.9.3

## Describe the bug
The `ValueRecognizer` class is used as a fallback to map submitted adaptive cards to intents for dispatch within your bot. Currently you get an empty string instead of the name of the cards intent due to a [bug on this line](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/ValueRecognizer.c

[2020-06-18 02:28] cleemullins commented on #4117
@vishwacsena, I'm not sure who to assign this to. Could you re-target as necessary?

[2020-06-18 06:03] Stevenic opened #4119 "EmitEvent action should map strings passed with "error" events to Exceptions"
**Is your feature request related to a problem? Please describe.**
So in composer you can emit an "error" event but you can only pas simple values like strings or JObjects as the `value` of an event.  The "error" event is special in that it expects and `Exception` as the value.

**Describe the solution you'd like**
To better support "error" events raised by composer flows, the `EmitEvent` action s

[2020-06-18 06:25] gabog opened #4120 "Add linkToMessage to the MessageActionsPayload object (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5894)

[2020-06-18 06:42] cosmicshuai opened #4121 "When Convert.Int32 method failed, pre-built functions should provide more infomation in error messages."
currently, if we try to evaluate round(3.12134, 1234567890123456),
the error message is "Value was either too large or too small for an Int32."
We should make the error massage contains more infomation based on the context, such as
"The second argument 1234567890123456 was either too large or too small for an Int32."

[2020-06-18 07:39] tomlm commented on #4117
The issue is the LuisV3Recognizer.

When it has an empty utterance it returns a recognizer result with
[code]

The RecognizerSet merges ValueRecognizer and LuisRecognizer together, but logic is expecting that there will be no intent, an intent, or a 'None' Intent.  Because it finds an EMPTYSTRING intent with a perfect score it ignores the perfect score for the intent that has from the card recogni

[2020-06-18 14:29] garypretty opened #4124 "Slack Adapter Functional Tests failing"
Slack functional tests are failing due to the content-type in the request within the functional test containing the encoding as well as the media type.  The adapter needs updating to check the content type more robustly.

[2020-06-18 14:59] #4124 closed

[2020-06-18 19:44] #4117 closed

[2020-06-19 00:29] #4105 closed

[2020-06-19 03:45] swagatmishra2007 opened #4131 "Support SSO on teams via OAuthPrompt"
The following changes are required on oauthprompt to support SSO on teams -
- Teams supports OAuthCards now. So remove teams from the list of channels that sends signincards instead of oauthcards.
- When SSO fails, teams expects a status code of 412 in the invoke response and not 409 (current behavior). This (breaking) change won't impact any current customers (like PVA), since the logic on client

[2020-06-19 03:58] clearab commented on #4131
@johnataylor here's the Teams SSO work that needs to be done.

[2020-06-19 04:09] mrivera-ms commented on #3843
@cleemullins, I am not seeing these errors in the nightly builds. According to [this PR,](https://github.com/NuGet/NuGet.Client/pull/3226) this error has been removed from NuGet.Client. If there are still errors, could you please point me to the build?

[2020-06-19 06:55] cosmicshuai opened #4133 "[Expression] Refactor GetStandardFunctions in ExpressionFunctions"
GetStandardFunctions might be refactored, so the length of GetStandardFunctions method could be shortened.

[2020-06-19 21:25] #4101 closed

[2020-06-20 15:50] Stevenic opened #4139 "BeginSkill dialog doesn't save skills results"
## Version
4.9.3

## Describe the bug
When invoking a skill with `DeliveryMode = "expectReplies"` the `BeginSkill` action won't save the `EndOfConversation` results to the property configured as the `ResultProperty`. The current workaround is to add a `SetProperty` action immediately after BeginSkill and save the results using `turn.lastResult`.

[bug]

[2020-06-20 16:42] Stevenic opened #4140 "LG: null or empty activity text field results in malformed [Activity ] template"
## Version
4.9.3

## Describe the bug
I have the LG template below which works as long a `turn.activity.text` contains an utterance:

[code]

If `turn.activity.text` is null or has an empty string, LG ends up generating the activity below:

[code]
I can work around the issue for now by removing the `text = ${turn.activity.text}` line from the template if text is null or empty.

[bug]

[2020-06-20 20:38] #4040 closed

[2020-06-22 02:36] Danieladu commented on #4140
I notice that the `entities` is "null", but the real type of entities is `Array`, this would break the json deserialization.
I suggest you can try to set `entities` to Array format.
Thanks.

[2020-06-22 03:38] Danieladu commented on #4140
Hi @Stevenic  Thanks for the feedback.
I can repro the issue with the below data scope:
[code]

Here are my investigations:
1. I can reproduce the issue. No matter the text is Empty or null
2. Remove the `text = ${turn.activity.text}` line does not work for me. (So I don’t know if the following approach works)
3. The cause of `1` is as follows:
- If the expression is evaluated to `null` and the st

[2020-06-22 03:56] luhan2017 commented on #4142
Transferring this issue to sdk, this needs the component schema update. @vishwacsena for your awareness.

[2020-06-22 06:31] #3963 closed

[2020-06-22 06:33] #3902 closed

[2020-06-22 09:31] luhan2017 opened #4143 "MultiLanguageRecognizer‘s languagePolicy should follow the LG UseLanguagePolicy convention"
We are enabling the MultiLanguage feature of Composer, and we want LU and LG follow the same LanguagePolicy Rule. But we found that MultipleLanguageRecognizer does not take the LanguagePolicy in DialogManager which is used by LG. (DialogManager.UseLanguagePolicy(New LanguagePolicy(defaultLanguage)))

Expected behavior:
Set the defaultLanguage in the appsettings.
DialogManager.UseLangugaePolicy(New

[2020-06-22 11:17] garypretty commented on #3283
Closing this issue. Now tracking this work with #4052.

[2020-06-22 11:17] #3283 closed

[2020-06-22 11:22] eddynaka commented on #4022
Hi, is this issue is still available?

[2020-06-22 16:16] anusharavindrar commented on #4060
@andreatosato, thanks for the above info. I will attempt a repro on my end and update the thread.

[2020-06-22 16:37] RootOfAllEval opened #4146 "DirectLine Intermittently Throwing 429 Errors"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9.3

## Describe the bug
DirectLine API throwing 429 errors intermittently during conversation operations.

## To Reproduce
I noticed while testing our bot

[2020-06-22 18:25] gabog commented on #4022
We are looking into it, just to set the proper expectations, we may not be able to address it. I will post back here on the status once we have a chance to review the options.

[2020-06-22 18:39] #4085 closed

[2020-06-22 19:51] vishwacsena opened #4149 "Update all prediction options for luisrecognizer to be expression properties"
Update `PredictionOptions` to be an expression. Given expressions can also be initialized inline and given composer does not expose this yet, I suspect this would not be a breaking change.

Related:
- microsoft/BotFramework-Composer#3317
- microsoft/botframework-cli#805

@chrimc62 FYI

[2020-06-23 02:20] Danieladu opened #4152 "Keep LG resource IDs consistent"
Currently, there are two modes of ID generation, one is the top level of lg resource, which would return the `filePath` as its id, but for child lg resource,(which is imported by top lg),  `filename` is the id. It would cause redundant parse.

How to fix:
Make the id consistent, make them all filename or make them all filepath.

[2020-06-23 03:22] #3210 closed

[2020-06-23 03:22] #3363 closed

[2020-06-23 07:23] mutanttech commented on #2466
@mdrichardson, Just wanted to check if story has changed for Danish Support. I found that Health Bot supports it -
https://docs.microsoft.com/en-us/healthbot/supported_locales
Any comments?

[2020-06-23 07:47] Danieladu opened #4156 "Improve LG CRUD performance"
Currently, each operation on `AddTemplate`, `UpdateTemplate` and `DeleteTemplate` would trigger the whole LG file parsing. This may cost a lot of time, especially when updating LG files frequently.

It is best to be able to optimize these three APIs to reduce the time of function calls
[enhancement]

[2020-06-23 13:45] DavidStrickland0 opened #4157 "Remove TurnContext from LuisRecognizerOptions RecognizeAsync"
LuisRecognizerOptions .RecognizeAsync would be infinitely more useful if it didn't have a hard dependency on ITurnContext. With the latest changes isolating out the utterance the only use of ITurnContext is to perform TraceActivityAsync. (Without getting into the question of TurnContext having a TraceActivityAsync). Would RecognizeAsync not be better served with TraceActivityAsync being a delegate

[2020-06-23 13:50] garypretty opened #4158 "Update readme and decomission wiki"
Related to https://github.com/microsoft/botframework-sdk/issues/5898

The readme for the .NET repository needs to be updated as part of a broader review across the languages and in order to decommission the wiki's for each repository.

- [ ] Update introduction text to remove obsolete links (e.g. old botframework repo)
- [ ] Move build instructions from wiki to readme
- [ ] Update contributing sec

[2020-06-23 16:35] #4158 closed

[2020-06-23 17:25] gabog opened #4161 "Additional channel/chat lifecycle events (dotnet)"
See [parent issue](https://github.com/microsoft/botframework-sdk/issues/5892)

[2020-06-23 17:30] gabog commented on #4161
duplicate

[2020-06-23 17:30] #4161 closed

[2020-06-23 18:14] garypretty commented on #4158
Wiki also now hidden.

[2020-06-23 18:17] garypretty commented on #3388
Facebook and Slack adapters now ready.  Twilio / Webex adapters needs amending to accept the options class as opposed to the client class, mirroring the changes in Facebook.

[2020-06-23 19:58] cleemullins commented on #3970
@carlosscastro We need a plan for this. Your thoughts?

[2020-06-23 20:00] cleemullins commented on #3939
Dupe of #3980

[2020-06-23 20:00] #3939 closed

[2020-06-23 20:02] cleemullins commented on #3900
@carlosscastro Per @tomlm & @vishwacsena we believe this to be a P0. Carlos, can you provide an ETA for a fix? This is thought to be related to the cycle-detection code.

[2020-06-23 20:05] cleemullins commented on #3895
We believe this was fixed by @tomlm merge of 4.9 into master last week. Please confirm.

[2020-06-23 20:08] cleemullins commented on #3839
Our group-think settles on "Can we update the description to make this more clear?" as the various solutions all have pros/cons.

[2020-06-23 20:10] cleemullins commented on #3793
I removed the "Changes Required" tag on the PR, as it's ready for review again.

[2020-06-23 20:10] sangwoohaan commented on #3839
That goes to every single property fields we have :)

[2020-06-23 20:13] cleemullins commented on #3402
Reviwed with @tomlm and @vishwacsena  and we don't believe there is anything actionable for this in R10. Moving to backlog.

[2020-06-23 20:15] cleemullins commented on #3566
This is done in PR #4063.

@vishwacsena is also building a sample.

[2020-06-23 20:15] #3566 closed

[2020-06-23 22:10] vishwacsena commented on #4157
@DavidStrickland0 thanks for the suggestion. @chrimc62 @tomlm any reason why we cannot do this?

[2020-06-23 23:15] mdrichardson commented on #2466
@mutanttech No official support at this time. [I added a few additional languages back in December](https://github.com/microsoft/botbuilder-dotnet/pull/3129), but officially, we follow the [Recognizers-Text library](https://github.com/microsoft/Recognizers-Text/blob/master/.NET/Microsoft.Recognizers.Text/Culture.cs).

I'm not sure if you saw the workaround PR, though, where you can [pass in your o

[2020-06-23 23:18] mrivera-ms commented on #4034
Per discussion with the R10 Pillar leads, this item does not meet the priority bar for R10. Pushing it to R11.

[2020-06-24 06:08] xieofxie commented on #3895
Yes, it worked now. Hope we could find some way to UT this..

[2020-06-24 06:08] #3895 closed

[2020-06-24 08:20] Danieladu commented on #4140
@Stevenic may you take a look and have a try?

[2020-06-24 14:16] gabog commented on #3627
TODO: repro this issue and create feature rollups and ports if we can repro.

[2020-06-24 14:34] gabog opened #4165 "Skill Dialog processes incoming activities from the skill while still loaded (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5930)

[2020-06-24 14:56] garypretty commented on #3630
HI @xhr0804.  As noted in the LUIS documentation, the Bing spell check capability is no longer available in the V3 LUIS API. https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-bing-spellcheck

[2020-06-24 14:56] #3630 closed

[2020-06-24 16:56] cleemullins commented on #3312
This needs a spec before we write the code. @clearab Could you author the requirements / spec for this so we can implement?

[2020-06-24 16:58] gabog commented on #4076
OK, once I finish enabling CA on all assemblies and move the analyzers to dirprops, I think I can add a condition in dirprops to exclude the analyzers from the nuget references.

[2020-06-24 22:51] johnataylor commented on #3848
The initial plan here is to make a stepwise improvement to our unit test coverage in this area before we do any refactoring.

[2020-06-25 12:08] hhasenauer opened #4169 "ExtractEntityMetadata crashes on specific entity"
## Version
"Microsoft.Bot.Builder" Version="4.9.3"

## Describe the bug
An specific german entity, namely "**Sicherheitsdienstmitarbeiterinnen**" throws an exception in LuisUtil:ExtractEntityMetadata() when calling .RecognizeAsync() on the Dispatch Model.

## To Reproduce
I have created a minimal .lu example to generate a LUIS Language Model to reproduce the error.
[code]

And here the matching Di

[2020-06-25 12:08] hhasenauer opened #4566 "ExtractEntityMetadata crashes on specific entity"
## Version
"Microsoft.Bot.Builder" Version="4.9.3"

## Describe the bug
An specific german entity, namely "**Sicherheitsdienstmitarbeiterinnen**" throws an exception in LuisUtil:ExtractEntityMetadata() when calling .RecognizeAsync() on the Dispatch Model.

## To Reproduce
I have created a minimal .lu example to generate a LUIS Language Model to reproduce the error.
[code]

And here the matching Di

[2020-06-25 18:07] srinaath commented on #4157
@munozemilio Can you take a look at this ticket?

[2020-06-25 18:34] jwiley84 commented on #4169
Acknowledging that this is mine, not @dmvtech 's because of github assignment issues.

[2020-06-25 18:46] EricDahlvang commented on #3488
@v-kydela said he will do some research on this, to ensure MissingMemberException is no longer thrown (which is what it looks at first glance)

[2020-06-25 21:06] Virtual-Josh commented on #4088
https://xunit.net/docs/shared-context

[2020-06-25 21:24] Virtual-Josh commented on #4089
https://xunit.net/docs/shared-context

[2020-06-25 22:01] jwiley84 commented on #4169
Using a LuisResult with that entity seems to work  just fine. I'm going to need a bit more details to chase down what's causing this. Is this a VA bot?

[2020-06-25 22:07] v-kydela commented on #2449
It looks like `OAuthPrompt` doesn't implement its own `ResumeDialogAsync` or `RepromptDialogAsync`, so this issue only applies to `Prompt` and `ActivityPrompt`.

[2020-06-25 22:54] Virtual-Josh opened #4173 "port dialogs.adaptive.teams"

[2020-06-25 23:40] EricDahlvang commented on #3605
Looks like @mdrichardson has already completed this work: https://github.com/microsoft/botbuilder-dotnet/pull/3949

Thanks @mdrichardson !

[2020-06-25 23:40] #3605 closed

[2020-06-26 02:00] axelsrz opened #4174 "Increase coverage for adapters package"
Increase unit test coverage of adapters package to 80%

[2020-06-26 02:01] axelsrz opened #4175 "Increase coverage for botbuilder package"
Increase unit test coverage of botbuilder package to 80%

Current Botbuilder package coverage is at 72.7%, effort to cover subpackages and files below 70% could make a big impact:

* Inspection (Subpackage) | 68.4
* Streaming (Subpackage) | 37.05
* AdapterExtensions.cs | 33.33
* BotAdapter.cs | 68.89
* BotAssert.cs | 40
* BotFrameworkAdapter.cs | 40.03
* BotFrameworkHttpStatusCodeErrorDetectionStr

[2020-06-26 05:22] munozemilio commented on #4157
@DavidStrickland0 thanks for reaching out. We will evaluate your request and consider it for the next releases

[2020-06-26 06:57] hhasenauer commented on #4169
@jwiley84 Yes it is a VA bot using version: "Microsoft.Bot.Solutions" Version="1.0.1"
Have you generated the LUIS language models in german?
I will also strip down the bot to better pin the issue.

[2020-06-26 07:32] hhasenauer commented on #4169
Also here is the full activity sent to .RecognizeAsync()
[code]

[2020-06-26 13:42] garypretty commented on #2638
@JonathanFingold The new modifier on the ComponentDialog is being used to ensure that the method on the derived class is used when setting TelemetryClient and is being called against an instance of Dialog, not necessarily ComponentDialog (e..g https://github.com/microsoft/botbuilder-dotnet/blob/71696394f8dc29533c250a359fb39c2c69e0117e/libraries/Microsoft.Bot.Builder.Dialogs/DialogSet.cs#L63).

[2020-06-26 13:48] garypretty commented on #2638
This has since been altered. I changed this from 'new' to 'override' a while back to ensure the last defined implementation is called, even if the method is called on the base class. e.g. https://github.com/microsoft/botbuilder-dotnet/blob/71696394f8dc29533c250a359fb39c2c69e0117e/libraries/Microsoft.Bot.Builder.Dialogs/DialogSet.cs#L63.  I think you're right in terms of us being able to move the i

[2020-06-26 15:47] jwiley84 commented on #4169
Excellent, thank you.
I only generated it in English, because I wanted to do a quick test and see if it was simply the length  of the entity hiccuping in LUIS. Now that I was able to eliminate that, I can look deeper. I will try a full repro this morning, and get back to you. Thank you for your patience!

[2020-06-26 17:48] chrimc62 opened #4179 "Data-driven resource explorer to support component customization"
For reusable components we need a way to customize declarative assets like .lu, .lg, .qna and .dialog.  Today we also require code configuration of the resource explorer.  Our overall component story is to make use of native package systems (nuget, npm).  We want to automatically be able to discover their declarative components and to allow overriding definitions without modifying the package asse

[2020-06-26 17:54] chrimc62 opened #4180 "Support inheritance for .lg"
This relies on #4179.

1) Add an inherit: resource loaded protocol which would include the next version of the file it is found in from the resource loader.
2) Add an override decorator to indicate that a definition is an override of something found in parent versions.  This would relax the constraint that template names must be unique.

Imagine project includes component1 and component1 defines a

[2020-06-26 18:01] srinaath commented on #3995
@gabog Could you take a look at this ticket?

[2020-06-26 18:34] Virtual-Josh commented on #4092
Error is related to the injection error around some schema. Should be less complicated than other issues.

[2020-06-26 20:01] v-kydela commented on #3049
I've reconsidered this issue for the following reason. Prompts store their options and their attempt count in state. If either of these are unavailable on a subsequent turn then it indicates that something has gone very wrong, and it doesn't really make sense to initialize them with default values. A similar argument can be made for waterfall dialogs. While it is possible that some improvement can

[2020-06-26 20:01] #3049 closed

[2020-06-26 20:26] v-kydela commented on #3488
@johnataylor edited `BotStatePropertyAccessor<T>.GetAsync` to not throw a `MissingMemberException` on January 29, 2019: https://github.com/microsoft/botbuilder-dotnet/pull/1330

However, the reference to `MissingMemberException` was never removed from the doc comment for `BotStatePropertyAccessor<T>.GetAsync` so @JonathanFingold edited the doc comment for `IStatePropertyAccessor<T>.GetAsync` to al

[2020-06-26 22:40] #4097 closed

[2020-06-27 00:12] JonathanFingold commented on #3488
The comments for the `IStatePropertyAccessor<T>` interface methods should describe the contract. If the intent is for all implementors to throw this exception, then the `<exception>` should stay in the comments and there's an error in the implementation. Otherwise, the comments are out of sync and the `<exception>` should be removed.

[2020-06-27 04:40] mrivera-ms commented on #3843
@stevengum Is this still an issue? I am not able to find the build that is producing semver errors. Please see my previous comment.

[2020-06-27 04:49] mrivera-ms commented on #4036
@axelsrz , this seems to be a duplicate of #4061. Unless this item is meant for a specific project not addressed there. Please advise.

[2020-06-27 04:53] #3483 closed

[2020-06-28 05:34] xieofxie opened #4186 "Mysterious Mac stack overflow"
## Version
What package version of the SDK are you using.

c65c7443dcfbf3a39588b9684ecd635c92562f8b

## Describe the bug

See this https://github.com/microsoft/botbuilder-dotnet/pull/4185

## To Reproduce
Steps to reproduce the behavior:
1. Clone https://github.com/xieofxie/botbuilder-dotnet/tree/hualxie/mac_stackoverflow
2. Run TestScriptTests_HttpRequestMock in Mac
3. Stack over flow

## Expecte

[2020-06-28 10:32] bartbilliet commented on #3566
@cleemullins I understand this now gives us the ability to use proactive triggers in adaptive dialogs, correct? I believe the original issue mentioned if it would be possible to use proactive triggers in Bot Framework Composer. Am I correct that an activity trigger must still be implemented in Bot Framework Composer to expose this new adaptive dialog functionality?

[2020-06-29 00:58] #4156 closed

[2020-06-29 13:37] Danieladu opened #4191 "Keep language policy consistent across platforms"
## description
Currently, the SDK uses `var cultureCodes = CultureInfo.GetCultures(CultureTypes.AllCultures)` to get all cultures.
Here are some data from the different platform:

platform | locale number
-- | --
windows 10 | 848
ubuntu 18.04 | 723
mac | 931

This will result in different language fallbacks on different platforms.

## How to fix
1. Consistent with the locale fallback of each platf

[2020-06-29 16:20] tomlm opened #4192 "StringExpression messes up with slashes"
If you have a string expression with an escaped slash it messes it up

StringExpression Foo {get;set;}

Foo = "c:\\\\this\\\\test"

Comes out with "C:TABthisTAB test when evaluated.

Expected:
"c:\this\test"

This because it gets encoded as an expression "='{value}'"  and the espression needs to properly deal with escape char.

[2020-06-29 16:25] v-kydela commented on #3488
If the intent was for all implementors to throw that exception, why would @johnataylor have removed the exception from the implementation?

[2020-06-29 17:00] gabog commented on #3995
Hi, the workaround for DL speech is to use clone the incoming activity, set ExpectReplies and then send it to the skill, something like:

[code]

We do have a bug around not setting OAuthScope but this is low priority. DL speech uses affinity because of the WebSockets connection so you need to ensure the skill replies back to the calling server (that is achieved using ExpectReplies).

If you post

[2020-06-29 17:16] #4120 closed

[2020-06-29 17:30] EricDahlvang commented on #3488
It looks like the comments are out of sync.

[2020-06-29 20:07] #4036 closed

[2020-06-29 20:09] anusharavindrar commented on #4060
@andreatosato, I tested the sample on my end and it works as expected. Attaching the screenshots of the emulator and Test in Web Chat. What happens when you test an unknown question in the "Test" feature on the QnAMaker portal? Also, can you test your sample with another KB and see if you still encounter the same issue?
![QnABot 1](https://user-images.githubusercontent.com/48731427/86050669-046dd4

[2020-06-29 20:15] BruceHaley commented on #3843
This was all fixed on 4/30. The builds fixed were:
Revert the preview version formatting containing a dot (Semver 2.0.0). In these active builds:
v	SDK_v4\builds\AI\BotBuilder-NetCoreTemplate-VASkills-daily.json
v	SDK_v4\builds\DotNet\BotBuilder-DotNet-Signed-yaml\BotBuilder-DotNet-Signed-yaml.json
v	SDK_v4\builds\DotNet\LegacyVersions\BotBuilder-DotNet-4.2-CI-PR.json
v	SDK_v4\builds\DotNet\Legacy

[2020-06-29 20:15] #3843 closed

[2020-06-29 20:25] #4192 closed

[2020-06-29 22:14] johnataylor commented on #3479
The code in C# is functionally identical to the JavaScript and wouldn't be if the null check was removed or the regex replace substituted with a string replace. So we should leave this code as it is.

Firstly, regarding the null check in the C#, the replace function in JavaScript will ignore an undefined property. So the check would be redundant in C#.

Secondly, regarding the use of teh regex rep

[2020-06-29 22:14] #3479 closed

[2020-06-30 01:38] #4029 closed

[2020-06-30 02:12] #3823 closed

[2020-06-30 02:36] somigithub commented on #3706
@cleemullins
Based on other priorities at this moment, moving this issue to backlog. No planned ETA/sprint at this moment.
Please take it out of R10 release.

[2020-06-30 02:47] axelsrz opened #4197 "Increase coverage for dialogs-adaptive package"
Increase unit test coverage of dialogs-adaptive package to 80%

[2020-06-30 02:49] axelsrz opened #4198 "Increase coverage for dialogs-declarative package"
Increase unit test coverage of dialogs-declarative package to 80%

[2020-06-30 09:15] xieofxie opened #4200 "can't parse array in appsettings.json; can't handle number string as key in object"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

61e4e5dde95f7fa1dca8330ae3d833b622ca22c6

## Describe the bug
Give a clear and concise description of what th

[2020-06-30 14:09] #3488 closed

[2020-06-30 17:19] #4102 closed

[2020-06-30 17:20] #4087 closed

[2020-06-30 17:54] #2291 closed

[2020-06-30 18:02] cwhitten opened #4203 "update autoEndDialog in Adaptive component schema to support expressions"
Users need to be able to dynamically set this property on the dialog. For example, when operating as a Skill, `autoEndDialog` needs to be set to `true`, when _not_ operating as a skill, it needs to be set to `false`.

[code]

[2020-06-30 18:51] #2638 closed

[2020-06-30 18:53] #4041 closed

[2020-06-30 21:30] chrimc62 opened #4205 "Connect $kind to .lu/.lg files"
We need a way in the schema to connect a $kind property to .lu or .lg files in order to enable the UI to render the appropriate control.  For LUIS, we don't point to the corresponding .lu file.  For the generator we do point to the .lg file, but we don't know it is an .lg file.  We should either add a $role or be explicit about the semantics so composer can discover the connection through the sche

[2020-06-30 22:45] Stevenic opened #4207 "LG doesn't support sending "invokeResponse" so can't be used to generate responses for things like tasks modules"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9.3

## Describe the bug
LG doesn't support sending "invokeResponse" so can't be used to generate responses for things like tasks modules

The issue is on

[2020-06-30 22:51] Stevenic commented on #4207
The additional activity types can be found in `ActivityTypesEx`.

[2020-06-30 23:52] #3793 closed

[2020-07-01 00:20] mrivera-ms opened #4208 "Refactor AdaptiveExpressions method GetStandardFunctions()"
Method GetStandardFunctions  in _[libraries/AdaptiveExpressions/ExpressionFunctions.c](https://github.com/microsoft/botbuilder-dotnet/blob/43d91bfdf17fe1f08943c3fe5dbe16e66ad69731/libraries/AdaptiveExpressions/ExpressionFunctions.cs#L2764)s_ is 1881 lines long. It needs to be refactored. Please consider using an appropriate design pattern.

[2020-07-01 00:25] cleemullins commented on #4208
@boydc2014 During code reviews, we've been unable to reason over this method due to complexity. As many new PRs make changes to that method, the complexity needs to be reduced so that we can maintain agility.

Myself, @mrivera-ms and @tomlm are very hesitant to take any new PRs in this area until the code has been refactored along with tests, so we can more concretely reason over the code.

[2020-07-01 00:49] boydc2014 commented on #4208
Thanks, like i present in some PR comments, i feel like it's more of a data table than a code, but i totally understand this could be confusing for two major issues, 1 is is a table for lambada function and 2 we used some high-order function wrappers around an specific function implementation.

I will call a check-in of this issue on dev side soon to get a fix for this.

[2020-07-01 00:59] cosmicshuai commented on #4133
Duplicate to #4208

[2020-07-01 00:59] #4133 closed

[2020-07-01 01:17] #4092 closed

[2020-07-01 03:12] luhan2017 commented on #4203
Gabo told me that we can use this expression to decide whether it is a skill mode:
[code]
I think we need to expose this to user, so that user can create an expression to dynamic decide autoEndDialog is true or false.

[2020-07-01 07:07] xieofxie opened #4209 "Add a flag for skill mode in turn for adaptive dialog memory state"
**Is your feature request related to a problem? Please describe.**

I don't find a way to determine whether bot is running in skill using adaptive dialog memory state.
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-memory-states?view=azure-bot-service-4.0#turn-scope

**Describe the solution you'd like**

Add a flag in turn like turn.isSkill. This will also s

[2020-07-01 10:36] AntonyEy opened #4213 "Store Teams Context in SQL database / Table storage to send Proactive notification to specific User"
Hello,
Currently I am working on Botframework V4 to create AD authenticated Chatbot  which works on teams.
But i am facing some issue in Sending proactive messages to Specific User .
What is requirement to send Proactive message to specific user who had logged to my chat bot

Thanks And Regards
Anto

[2020-07-01 17:01] scheyal opened #4234 "Add custom telemetry event"
Add the capability to define a custom telemetry event using SDK capability.

@garypretty - can you add details?

[2020-07-01 17:06] v-kydela commented on #4213
Thanks for the question, @AntonyEy

You might find this document helpful: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages

Can you tell us what you've tried so far? Please include links, code samples, and screenshots when appropriate.

[2020-07-01 18:08] #4071 closed

[2020-07-01 18:32] #3388 closed

[2020-07-01 18:38] gabog commented on #4062
Thanks again for the submission, this has been implemented as part of Implemented as part of https://github.com/microsoft/botbuilder-dotnet/issues/4120, closing this one.

[2020-07-01 18:38] #4062 closed

[2020-07-02 02:07] xieofxie commented on #4186
Notice the validation report for the closed pr: it will only fail on mac with stackoverflow
![image](https://user-images.githubusercontent.com/2876650/86196284-808d2680-bb85-11ea-8ee0-2f70ad94e77c.png)
![image](https://user-images.githubusercontent.com/2876650/85938913-f0ac6a00-b943-11ea-949e-41aa3c1db43e.png)

I don't have a macOS so I use the pr to check it.

[2020-07-02 03:02] xieofxie opened #4217 "enable libraries to be compiled when added in another solution"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When I added libraries in another solution for debuggi

[2020-07-02 06:45] luhan2017 opened #4218 "QnAMaker recognizer filter does not works with declarative bots"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
The QnARecognizer filter does not work for declarative bots.
For declarative, the dialog

[2020-07-02 08:53] pedrocunha87 commented on #3995
Ok.
I'll try that approach for now.

Thanks.

[2020-07-02 08:53] #3995 closed

[2020-07-02 09:40] mutanttech commented on #2466
@mdrichardson, Thanks for update. I will take reference from from the PR.

[2020-07-02 10:30] garypretty opened #4219 "Null activity locale causes exception in MultiLanguageRecognizer"
If an incoming activity has no locale set and the MultiLanguageRecognizer is called, an exception is thrown (Value cannot be null. Parameter 'key').  This is due to the LanguagePolicy.TryGetValue throwing an exception her -> https://github.com/microsoft/botbuilder-dotnet/blob/53a5648947ad4a46afdc164aae6bbec4b1f3cc6a/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/MultiLanguageRecogniz

[2020-07-02 17:46] kvbreddy opened #4221 "Downloading/Accessing attachments in skills when using MSTeams/Skype channel"
**Is your feature request related to a problem? Please describe.**
Attachments uploaded when using MSTeams/Skype can't be downloaded from skills as the token generated by the skill bot is not authorized to download the attachment. Only the parent bot that is present on the same thread where the user uploaded the attachment is able to authorize and download the attachment.

**Describe the solution

[2020-07-03 00:57] #4219 closed

[2020-07-03 01:03] #3980 closed

[2020-07-03 08:20] xieofxie opened #4223 "Strange behavior of SetProperty and UtcNow"
## Version
What package version of the SDK are you using.

ec8a15c5b177452e126ac0242ea28942bdea1a13

## Describe the bug
Give a clear and concise description of what the bug is.

When using SetProperty with utcNow, the saved value is not string as described in document here https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bo

[2020-07-06 03:55] Danieladu commented on #4223
Yes. It is a known bug. Caused by the C# deserialization tool when deserializing the DateTime string.

[2020-07-06 04:06] xieofxie commented on #4223
That's crazy.. Do we have an issue in dotnet library?

[2020-07-06 06:15] AntonyEy commented on #4213
@v-kydela I have used Concurrent Dictionary to save the conversation reference, And I am able to send Proactive message . But next day when i send the proactive message  to teams , User is not getting Proactive message .
I think Concurrent Dictionary is getting erased.
Can you suggest  me some method to store conversation reference permanently
Thanks And Regards
Antony

[2020-07-06 07:33] AntonyEy commented on #4213
@v-kydela https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp I had followed above link

[2020-07-06 08:25] coldplaying42 opened #4227 "Set default values for topAnswer of QnA"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
We need to pre-set startIndex and endIndex of topAnswer, or else it will show the followi

[2020-07-06 16:15] anusharavindrar commented on #4060
Closing the issue. Please feel free to reopen if the issue persists.

[2020-07-06 16:15] #4060 closed

[2020-07-06 17:59] v-kydela commented on #4213
@AntonyEy - It sounds like you're saying you're storing information in the bot's local memory. You need to use bot state: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-state

[2020-07-06 18:43] vishwacsena commented on #3977
It appears that we are rendering the example for `$ref` rather than examples within the component definition itself. @cwhitten can we fix this on composer side to render any `examples` defined within the component schema for that property and if not, fall back to any examples provided with the type e.g. `"$ref": "schema:#/definitions/stringExpression"`?

Today, beginDialog defines the following ex

[2020-07-06 19:27] Stevenic commented on #4139
It doesn't work because we do this assignment in `ContinueConversationAsync` which doesn't happen in "expectReplies" mode.

[2020-07-06 20:24] carlosscastro commented on #3970
I have a fix for that I'm testing in the background. I've just been working on other workstreams where I block people. I should pick this up on 7/14 approx.

[2020-07-06 20:25] carlosscastro commented on #3900
Thanks @cleemullins - I can work onthis next week, approximately starting on 7/14.

[2020-07-06 22:02] #3959 closed

[2020-07-07 17:04] vishwacsena commented on #3839
@sangwoohaan can you comment on what you would like for the UX to be? In composer, it's not clear if you are expecting a drop down box with number and expression show up in the UI. Can you clarify?

[2020-07-07 17:05] #3940 closed

[2020-07-07 17:51] johnataylor commented on #883
The immediate task for adapter clean up in R10 is to fill the gaps in the unit testing. Then we will look at deeper refactoring such as this.

[2020-07-07 18:10] jwiley84 commented on #4169
Hi  @hhasenauer I'm still working on this. I've hit a snag (possible bug) with my VA bot that I'm trying to sort out. I haven't forgotten you, I promise!

[2020-07-07 18:51] johnataylor commented on #3848
We are working on units tests in R10. Any refactoring is R11.

[2020-07-07 19:04] #4166 closed

[2020-07-07 19:04] #4233 closed

[2020-07-08 00:00] cleemullins opened #4239 "Automated Build Warnings"
When I run an automated build via Azure Devops, the following warnings show up.

These warnings need to be fixed. Either the code fixes, the warnings globally suppressed, or each one fixed via a Pragma.

[code]

[2020-07-08 00:03] cleemullins opened #4240 "More Automated Warnings need to be fixed"
The automated build shows the following warnings. These need to be cleaned up (fixed or supressed).

[code]

[2020-07-08 00:14] cleemullins opened #4241 "Adapters incorrectly picking up version numbers"
The 4 adapters are NOT, via the automated build system, picking up the correct version strings. This applies to both the .nupkg and .snupkg files.

For example, in [this nightly build](https://fuselabs.visualstudio.com/SDK_v4/_build/results?buildId=144229&view=logs&j=2b24746b-9354-575f-9962-d8911c3fbbf1&t=161c04d3-f4f1-5bf1-f3f7-cf6f31573299), you can see:
[code]
I don't see an obvious problem, bu

[2020-07-08 00:31] cleemullins commented on #4241
I've looked at this for a little while now, and still don't see the issue. @garypretty let's sync tomorrow and see if we can figure this one out.

[2020-07-08 00:42] #4207 closed

[2020-07-08 00:44] #4208 closed

[2020-07-08 01:12] cleemullins commented on #4241
@tomlm was able to spot the problem. PR incoming.

[2020-07-08 03:40] #4241 closed

[2020-07-08 06:21] munozemilio commented on #4157
Hi @DavidStrickland0 I will flag it as R11 (our next release cycle). Thanks!

[2020-07-08 06:37] boydc2014 commented on #4140
@Danieladu null becomes "null" is the default treatment in non-strict mode, i expect this would work in strict mode, if not, let's fix the issue there.

[2020-07-08 06:52] boydc2014 commented on #4014
@Stevenic can you confirm what we have now index\indexof is good enough?

[2020-07-08 06:57] berhen opened #4244 "The "turn.recognized" property of an adaptive dialog does not contain the entity if the None intent hits"
## Version
4.9.3

## Describe the bug
When using a "Cross-Trained Recognizer Set" with a LuisAdaptiveRecognizer, if the "None" intent is hit, then the "turn.recognized" property does not contain the entity, even though the LUIS recognizer result contains it.
If I connect the same entity to a different intent than "None" the "turn.recognized" property contains the entity.

## Expected behavior
The

[2020-07-08 07:57] praveenck06 commented on #3643
we are also getting the error **[ The request payload is invalid. Ensure to provide a valid request payload]** when saving the conversation-state.

We havent made any changes in the DialogBot.cs

        `public override async Task OnTurnAsync(ITurnContext turnContext, CancellationToken cancellationToken = default(CancellationToken))
        {
            var activity = turnContext.Activity;

[2020-07-08 08:12] praveenck06 commented on #4060
we are also facing this issue. it happens when **await stepContext.BeginDialogAsync();** is called multiple times.
the error is originated from the **await ConversationState.SaveChangesAsync(turnContext, false, cancellationToken);** inside the DialogBot.cs

We are using bot.builder 4.5.1

**Code to save conversationState**:

          ` public override async Task OnTurnAsync(ITurnContext turnConte

[2020-07-08 08:58] Danieladu commented on #4014
Here is the workaround:
`where(indicesAndValues(user_list), x, x.value > 2)[0].index`

In the next stage, we may consider supporting some functions for lambda. like `first`, `last`, `count`, `indexOf`, `lastIndexOf` .etc.
For example:
[code]

But before this feature is completed, users can also achieve these function results through the solution by other builtin functions or customize functions.

[2020-07-08 09:30] UlrichBodentien opened #4246 "Slack interactive messages not firing"
## Version
`4.9.3`

## Describe the bug
I have followed the tutorial on setting up a Slack channel on my bot, which is using ABS
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs

I have used a Choice Prompt, to display some buttons using the HeroCard ListStyle. The choices renders correctly, however, when I click them, no requ

[2020-07-08 10:54] youyu16 commented on #4246
Slack deprecated some of the API methods and trigger an error in Slack Channel. The fix is on its way.

[2020-07-08 17:06] tomlm commented on #4205
I have no idea what you are talking about.

[2020-07-08 18:22] garypretty opened #4247 "Add null check for activity in TelemetryLoggerMiddleware"
Parity issue to add null checks on the activity in fill(Send / receieve / update / delete)EventProperties methods on the TelemetryLoggerMiddleware as per this JS PR https://github.com/microsoft/botbuilder-js/pull/2434/

[2020-07-08 19:57] v-kydela commented on #4246
Linking: https://github.com/microsoft/BotBuilder-Samples/issues/2553

[2020-07-08 21:13] vishwacsena opened #4250 "[Adaptive] Respect `ID` set by an adaptive dialog when loading declaratively defined dialogs"
This was discovered when @tomlm was looking into the code for an unrelated issue but nevertheless we should fix it.

When a .dialog defines an ID, we should use it and not always set this to `resource.id`.

@chrimc62 FYI

[2020-07-09 01:14] v-kydela commented on #4213
@AntonyEy - Are you still working on this?

[2020-07-09 02:23] luhan2017 commented on #3901
@timoconnellaus Sorry that we decide to not fix this issue, we recommend you don't use turn memory + prompts under foreach action. You can always mitigate this by assigning the turn memory to a dialog memory and use that in the foreach action.

[2020-07-09 05:19] AntonyEy commented on #4213
@v-kydela  Thank you
I have completed proactive messaging. I have stored tenant id and from id and service url along with user email into table storage. And created a api for sending proactive message using above data.

[2020-07-09 05:20] #4213 closed

[2020-07-09 05:49] kittu610 commented on #4246
This following [documentation ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) has updated. but in document it mentioned that to add a bot user but i unable to find bot user field in slack application creation.
please find the below attached image
![image](https://user-images.githubusercontent.com/49742373/87001752-bf4e5c80

[2020-07-09 06:07] youyu16 commented on #4246
I think slack move the bot user from a standalone tab to the App Home.
![image](https://user-images.githubusercontent.com/17819112/87003098-8c17c780-c1ed-11ea-9813-3d5efa66fa3b.png)

[2020-07-09 12:17] garypretty commented on #4234
PR raised to add a new action into the SDK.  This action allows a user to specify an event name and, optionally, additional properties to be attached to the event.  The event is tracked using the registered IBotTelemetryClient and will be captured alongside the existing passive telemetry capture that is already present.

[2020-07-09 12:53] Danieladu commented on #4050
May I apply the deep data binding method (`ReplaceJTokenRecursivelyAsync` from `body` property of `HttpRequest` action) to the other three properties? (`value` property of `SetProperty`, `Assignments` of `SetProperties`, and `value` property of `EndDialog` action)

[2020-07-09 17:06] #3839 closed

[2020-07-09 20:35] #4234 closed

[2020-07-09 20:43] anusharavindrar commented on #4060
@praveenck06, are you also following the same sample 70.QnAMultiTurn? As of now, sample 70 is deleted, and you can make use of the sample [49.QnAMaker-all-features](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/49.qnamaker-all-features) which has both active learning and multi-turn prompt.

[2020-07-09 21:57] a-b-r-o-w-n opened #4253 "[Adaptive] add uischemas for all components"
Migrate existing UI overrides from Composer into component ui schemas.

[2020-07-09 23:58] boydc2014 commented on #4250
without this, Qna will not work in Composer right?

[2020-07-10 00:10] boydc2014 commented on #4014
@Stevenic we are closing this now, see above the resolved issue, if you continue to have gaps, let's track them via new issues

[2020-07-10 00:10] #4014 closed

[2020-07-10 03:44] xieofxie opened #4254 "Can't call skill in direct line speech channel"
## Version
What package version of the SDK are you using.

https://github.com/microsoft/botbuilder-dotnet/commit/a253e4bd020dfc900db93bdc847ce6b1ba08daf6

## Describe the bug
Give a clear and concise description of what the bug is.

When calling a skill host in direct line speech, the skill could not reply due to audience is null.

It turns out these two functions are not same yet https://github.c

[2020-07-10 15:32] vishwacsena commented on #4149
Tagging P0 since this is an ask to light up VA/ skills

[2020-07-10 15:53] garypretty opened #4255 "Add Teams specific properties to telemetry"
SDK Tracking issue: https://github.com/microsoft/botframework-sdk/issues/5855

Add the following properties to the BotMessageReceieved event when channel is MSTeams.

* Tenant ID
* User Aad Object Id
* Teams Team Info

[2020-07-10 17:08] jwiley84 commented on #4169
I  had some issues with my VA bot, but I'm back on track now:

I attempted a repro with a VA bot, provisioning resources in english, just to see. I stripped out all the intents except on called 'demo' with 'my job is sicherheitsdienstmitarbeiterinnen' jus to see, and ran into no errors both locally, and on Azure. I'm going to delete the bot, and reprovision in German to see if 'ich bin sicherheits

[2020-07-10 18:24] #4247 closed

[2020-07-11 00:15] #4218 closed

[2020-07-12 01:35] Virtual-Josh commented on #4244
@stevkan @anusharavindrar can you provide an update for this issue?

[2020-07-13 01:36] Danieladu opened #4259 "LanguageGeneratorManager should apply customer's language policy"
`LanguageGeneratorManager` would scan all LG resources and group them by locale with the default language policy.
But now, LG support customizing locale fallback in the runtime. we should make the LanguageGeneratorManager support the fallback provided by the customer.

[2020-07-13 04:11] Trubzzz opened #4378 "Coalesce and the datetimeV2 entity"
I'm having an issue with extracting user input from a triggering utterance, specifically when it comes to the datetimeV2 entity. I'm currently working on a process with multiple entities required and an open-ended initial intent trigger. For example,
1) User: I want to book an appointment
2) User: My name is John and I'd like to schedule an appointment
3) User: My name is John and I'd like to sche

[2020-07-13 06:31] hhasenauer commented on #4169
Hi @jwiley84 thank you a lot for looking into this. As far as I have seen it *only* happens when using a German language model. Since it seems to NOT split up the entity into smaller word (which is usually does). Have you been able to reproduce with the German language model?

[2020-07-13 09:53] praveenck06 commented on #4060
No we are using core bot. Bot builder version is 4.5.1

[2020-07-13 12:14] hawkpgl opened #4260 "Dialog Abstraction"
**Is your feature request related to a problem?** Yes.
The current Dialog structure is highly dependable on implementations, and not on abstractions. I.e.: If I want to add child dialogs into a Waterfall Dialog, I have to provide a Dialog instance to the method ComponentDialog.AddDialog(Dialog dialog). That prevents me to inject the Child Dialogs into the Parent Dialog constructor, to be used in t

[2020-07-13 16:56] AmerJaber opened #4262 "Calling Bot (teams, skype, etc..)"
I'm planning to create a calling bot (a bot that someone or group can call using MS Teams, Skype, etc...)
can you provide a sample or a guide on how to develop the above?
I've followed the [guide](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/tutorial-voice-enable-your-bot-speech-sdk)
and added the bot to Teams, however whenever I call it I get a reply that "you can't ta

[2020-07-13 17:04] anusharavindrar commented on #4244
@Virtual-Josh, I will attempt a repro on my end and update the thread.
@berhen, are you following any specific sample? Can you elaborate on the repro steps so that I can try it on my end?

[2020-07-13 17:45] #4255 closed

[2020-07-13 18:09] compulim commented on #4254
@johnataylor Could you take a look at this?

[2020-07-13 18:10] compulim commented on #4223
@tomlm Could you look at this one?

[2020-07-13 18:11] compulim commented on #4223
@vishwacsena Could you look at this one?

[2020-07-13 18:12] compulim commented on #4217
@cleemullins Could you take a look at this?

[2020-07-13 18:13] compulim commented on #4209
@vishwacsena Could you take a look at this?

[2020-07-13 18:14] compulim commented on #4200
@cleemullins Could you take a look at this?

[2020-07-13 18:22] jwiley84 commented on #4169
Good morning, @hhasenauer!

Due to some issues with my VA bot, I've attempted a repro with a simple Dispatch bot and a German language model, thus I'm having to input the entities into the list on LUIS.ai manually, and I can see what you mean by splitting the word into smaller ones. When inputting 'Sicherheitsdienstmitarbeiterinnen", it split to 'sicherheits dienst mitarbeiterinnen' (and did not l

[2020-07-13 18:25] compulim commented on #4260
@gabog a PR is opened, could you take a look at this approach?

[2020-07-13 18:41] Virtual-Josh commented on #4262
Hi @AmerJaber

I'm not sure what language you're using, but here's the [link](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/57.teams-conversation-bot) to the basic conversation bot in C#. If you're using Python or JS you can navigate to the same sample in the respective directory in above repo.

As for

[2020-07-13 18:41] #4262 closed

[2020-07-13 19:38] #4079 closed

[2020-07-13 20:08] vishwacsena opened #4265 "[Adaptive] Update description for SignOut action"
Component schema for the `UserId` property for `SignOutUser` action is incorrect

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SignOutUser.schema

[2020-07-13 21:26] #4072 closed

[2020-07-13 21:31] andrew-j-frank opened #4266 "Value cannot be null. (Parameter 'clientSecret') when sending an activity from a bot"
We are trying to send an activity directly to our bot using the /api/messages endpoint for our bot. We are doing this so that we can have 2 Twilio numbers associated with our bot.

First, we get an access token for the bot with the following code:
[code]
We then put this access token in the header of our api call to the bot and send the bot an activity through the /api/messages endpoint. The activ

[2020-07-13 21:36] andrew-j-frank opened #4268 "Changing the service url for a direct line activity that is sent to our bot"
We are trying to send a message into our bot using the direct line api and then send a message out from our bot without using the direct line api. In order to do this, we need a different service url than the default direct line api service url.

We have tried putting a different service url in the activity we send the direct line api but then when the activity is sent to the bot the direct line a

[2020-07-13 22:24] Virtual-Josh commented on #4039
Closing this issue for now. Xunit migration has been deprioritized.

[2020-07-13 22:24] #4039 closed

[2020-07-13 22:26] Virtual-Josh commented on #4174
Closing this issue for now as unit tests have been deprioritized for R10.

[2020-07-13 22:26] #4174 closed

[2020-07-13 22:26] Virtual-Josh commented on #4175
Closing this issue for now as unit tests have been deprioritized for R10.

[2020-07-13 22:26] #4175 closed

[2020-07-13 23:33] jwiley84 commented on #4169
Hi @hhasenauer

I was able to put your example utterances/entities into a VA bot, deployed in de-de and using a de-de language model. I'm still unable to repro this.

![image](https://user-images.githubusercontent.com/17333688/87363706-9657ff80-c526-11ea-87b7-48d11bd2f2f6.png)

Are you testing this using the emulator, or using webchat?

[2020-07-13 23:57] jwiley84 commented on #4169
I also  just noticed in your entity definition on your dispatch file:

![image](https://user-images.githubusercontent.com/17333688/87364975-d66cb180-c529-11ea-9c3b-047f76348b28.png)

What happens when you remove that second set of [ ] ?

[2020-07-14 02:08] xieofxie commented on #4223
Yeah.. The main issue is `SetProperty` will change the type of a DataTime string to DataTime as the following:
![image](https://user-images.githubusercontent.com/2876650/87372367-f1870200-c5b9-11ea-95d5-dc7cb2dffc86.png)

![image](https://user-images.githubusercontent.com/2876650/87372349-e502a980-c5b9-11ea-8b29-6bb56630b2f6.png)

[2020-07-14 06:32] AmerJaber commented on #4262
Hi,
I'm using C#, and my bot is currently deployed and I can chat with it on teams, I've also added it as a teams app enabling video and voice calls. My issue is that when I call the bot I get the following reply "you can't talk to this bot just yet but we are working on it".
I'll check the bot sample mentioned above, however, if a calling sample is available kindly share.

[2020-07-14 09:00] garypretty commented on #3856
The issue here is that the call to v3/conversations/{conversationId}/members within GetConversationMembersWithHttpMessagesAsync is returning a result in the format below.  It tries to deserialize this into List<ChannelAccount>, however the property names 'objectId' and 'userRole' do not match the attributed JsonProperty names on the ChannelAccount class, which are 'AadObjectId' and 'Role'.

[code]

[2020-07-14 11:10] garypretty opened #4269 "Track key unhandled DialogEvents in telemetry"
SDK tracking issue https://github.com/microsoft/botframework-sdk/issues/5861

Send a trace activity and log a trace event via the telemetry client for key dialog events.

[2020-07-14 15:19] cwhitten commented on #4250
@vishwacsena is someone else taking this given Tom’s vacation?

[2020-07-14 17:26] v-kydela commented on #4266
@andrew-j-frank - Thank you for the report. We prefer that you ask how-to questions on Stack Overflow. Here's the blurb you should see when you raise a new issue in this repo:

I will close this here so it can be handled on Stack Overflow: https://stackoverflow.com/questions/62880211/value-cannot-be-null-parameter-clientsecret-when-sending-an-activity-from-a

[2020-07-14 17:26] v-kydela commented on #4268
@andrew-j-frank - Thank you for the question. We prefer that you ask how-to questions on Stack Overflow. Here's the blurb you should see when you raise a new issue in this repo:

I will close this here so it can be handled on Stack Overflow: https://stackoverflow.com/questions/62881626/changing-the-service-url-for-a-direct-line-activity-that-is-sent-to-our-bot

[2020-07-14 20:18] #4268 closed

[2020-07-14 20:18] #4266 closed

[2020-07-14 20:31] #4068 closed

[2020-07-15 01:54] chrimc62 commented on #4205
We don't need this fixed.  Composer can identify that a property uses ILanguageGenerator or IRecognizer from the schema and do the right thing.

[2020-07-15 01:54] #4205 closed

[2020-07-15 02:10] chrimc62 commented on #3747
I think this has been done.  At least vs-old now seems to be gone.

[2020-07-15 02:10] #3747 closed

[2020-07-15 08:32] garypretty commented on #3358
@pavolum We have been looking into this but we are currently not sure if this makes R10.  If we don't get time to address this within R10, as an interim, we think we can have the adapters enable the expectReplies flag on (already used by Google / Alexa due to them always expecting an immediate response). This would essentially wait for the turn to finish and send all messages back through the sour

[2020-07-15 12:22] berhen commented on #4244
@anusharavindrar I'm not following a specific sample, we are using parts of several examples, based on our needs.

Our RootDialog uses a CrossTrainedRecognizerSet with three recognizers, a LUIS one, and two QnA Maker:
![image](https://user-images.githubusercontent.com/55977816/87543889-d1347180-c6a5-11ea-972e-d2917ef518dd.png)

There are LUIS entities for basic tasks of our conversation flow (like

[2020-07-15 14:12] #4121 closed

[2020-07-15 15:58] #4114 closed

[2020-07-15 19:34] vishwacsena commented on #4223
@Danieladu can you comment on path to resolution here? Do we have a dependent bug/ issue we need to track?

[2020-07-15 19:34] Stevenic opened #4273 "DCR: add setting for skill to persist conversation state across multiple invocations"
**Is your feature request related to a problem? Please describe.**
Today when you invoke a skill, each skill invocation gets a unique Conversation ID. That means there's no simple way of persisting state across skill invocations. I'm currently working around this issue by passing in a shared "skill" memory bag that my skills can persist shared information into. The issues with my current approach

[2020-07-15 19:36] vishwacsena commented on #4209
Rather than set a property, should this instead be a prebuilt function injected to expressions by adaptive?

@Stevenic @gabog @tomlm @boydc2014

[2020-07-16 00:39] Danieladu commented on #4223
I probably know the cause of this issue, but have no idea how to fix it appropriately.
Maybe ban all DateTime parsing for the whole solution? Just use :
[code]
Or make some patch up for the places with Serialization/Deserialization of `DateTime`?
Or other solutions...

Maybe @tomlm can participate in the discussion and give some comments.

[2020-07-16 00:52] axelsrz opened #4275 "Add info to User Agent header to identify WebApi bots"
**Is your feature request related to a problem? Please describe.**
We don't any way to quantify the number of bots using WebApi

**Describe the solution you'd like**
Adding this information to the User-Agent header

[enhancement]

[2020-07-16 10:24] boydc2014 commented on #4050
@vishwacsena as i went through again, it's hard to find a unified solution that both take care of consistency and non-breaking change.

The best recommendation i got now, is to share out the code employed in the processing of httpBody inside httpRequest, which support arbitrary level of data binding for json. Share that to the scenarios (beginDialog, endDialog, setProperties, etc), basically anywh

[2020-07-16 17:05] guru98 opened #4277 "Use an Activity Event as an Input in adaptive Dialog"
In Adaptive Dialog you can handle Events as a trigger using th OnEventActivity but you can't handle it as an Input.
In a conversation flow you could wait for a specific event instead of an user input.
For example you could ask for customer profile info and than wait that the client application take a picture and send it through an event. Event, in a bot, could be used to send service messages that

[2020-07-16 17:32] EricDahlvang commented on #3490
We also need to document how to use CertificateAppCredentials

[2020-07-16 19:33] vishwacsena opened #4279 "[Adaptive] Replace dialog does not work"
The current code is faulty. We need to do a replace on the parent without which the current `replaceDialog` will be replaced with the new dialog instead of the parent being replaced.

[2020-07-16 20:51] cleemullins commented on #1686
I can provide an update on this.

In R10, @EricDahlvang is making a change to introduce new storage classes bases on the latest "Azure.*" packages, rather than the old storage drivers. That'll let us keep the old stuff, and also allow folks to consumer the newer packages if that's what they prefer.

@EricDahlvang Can you chime in here with an update?

[2020-07-16 21:22] EricDahlvang commented on #1686
@cleemullins this was pushed out of R10, but we can pick it up again if this is a priority.

[2020-07-16 21:29] vishwacsena commented on #4277
@guru98 You can achieve what you are looking for with this -
1. With any `InputAction`, you can set the `AllowInterruptions` property to `true` (or an [adaptive expression][1] that evaluates to bool value) to allow the input to be interrupted. What this enables is for the triggers within the adaptive dialog to be consulted/ evaluated. Let's say your input is prompting for an image from the user an

[2020-07-16 21:57] stevengum commented on #3860
I just tested this and was unable to repro the warning message (though I do recall seeing it in the past).

Closing issue.

[2020-07-16 21:57] #3860 closed

[2020-07-16 22:53] mrivera-ms opened #4281 "Microsoft.Bot.Streaming: Ensure documentation is provided for all visible methods, properties and parameters"
To do:
1. Remove the NoWarn PropertyGroup from each project in the libraries folder in the solution.
2. Compile and address all the documentation errors provided by the compiler.

Parent Issue #4052

[2020-07-17 00:27] DDEfromOR commented on #3372
It's been two .x versions and I'm still the only person who's reported this issue, so I doubt anyone else is out there trying to make WebAPI bots work with DLS or DL ASE. I seem to be cursed with trying to get this one line change merged in, and I'd be willing to bet the entire WebAPI integration gets removed before anyone else runs into this bug, so I'm giving up.

[2020-07-17 00:27] #3372 closed

[2020-07-17 01:40] xieofxie commented on #4279
Releated https://github.com/microsoft/botbuilder-dotnet/issues/3900

[2020-07-17 02:13] cwhitten commented on #3900
@vishwacsena has this fixed in a separate pull request

[2020-07-17 02:16] mrivera-ms opened #4283 "AdaptiveExpressions: Add missing documentation to all visible classes, methods, properties and parameters"
To do:

1. Remove the NoWarn PropertyGroup from each project in the libraries folder in the solution.
2. Compile and address all the documentation errors provided by the compiler.

See more details in the parent Issue #4052

[2020-07-17 02:18] mrivera-ms opened #4284 "Microsoft.Bot.Builder.LanguageGeneration: Add missing documentation to all visible classes, methods, properties and parameters"
To do:

1. Remove the NoWarn PropertyGroup from each project in the libraries folder in the solution.
2. Compile and address all the documentation errors provided by the compiler.

See more details in the parent Issue #4052

[2020-07-17 05:54] youyu16 commented on #4246
@UlrichBodentien The fix is checked in please check again.

[2020-07-17 14:46] #4279 closed

[2020-07-17 14:56] gabog commented on #4260
Hi @hawkpgl, thanks for the suggestion but interfaces are problematic for backward compatibility and we try to favor base classes rather than interfaces (we have some legacy interfaces but we keep them around for backward compat too).

The `Dialog` class is abstract and I think you should be able to implement what you need using that (I don't know the details of your implementation but if you crea

[2020-07-17 15:25] hawkpgl commented on #4260
Thank you for the feedback @gabog . I'll stick with the Factory pattern for now then.

Pardon my ignorance, but since you mentioned "too many breaking changes", could you give me a simple example on something that would break by merging that PR? I'm asking because not a single unit test from more than 4.5k failed, and I kept both implementations of the AddDialog method to not affect previous imple

[2020-07-17 17:49] rbakshi2 opened #4287 "Missing InstallationUpdate Event handler for ActivityHandler"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Trying to capture the InstallationUpdate Event is not possible through TeamsEventHandler as the handler is missing a case for InstallationUpdateEven

[2020-07-17 17:54] EricDahlvang commented on #4287
The InstallationUpdate event is not Teams specific, so this should be in the ActivityHandler (which TeamsActivityHandler inherits from).

ref: https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#installation-update-activity

[2020-07-17 17:57] EricDahlvang commented on #4287
This should also be updated, if Teams is sending this event: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0#uncategorized

[2020-07-17 18:04] compulim commented on #4287
@EricDahlvang I am assigning this to you. Please feel free to re-assign to appropriate people if needed.

[2020-07-17 19:31] EricDahlvang commented on #4287
see parent issue: https://github.com/microsoft/botframework-sdk/issues/5959

[2020-07-17 20:06] compulim commented on #4287
@munozemilio do we add "Bot Services" and "customer-reported" for internal partner teams? Internal partner = under Microsoft org.

[2020-07-17 21:05] anusharavindrar commented on #4244
@berhen, thanks for the above info. I will repro on my end and update the thread with my findings.

[2020-07-18 12:02] guru98 commented on #4277
I try what you suggest. OnEventActivity is always called independently the value of AllowedInterruptions but seems that the value of the property isn’t re-evaluated.
I made some test, here is my last code
            var rootDialog = new AdaptiveDialog(nameof(AdaptiveDialog))
            {
                Generator = lg,
                Triggers = new List<OnCondition>()
                {

[2020-07-19 12:05] guru98 commented on #4277
I did some check in the inputdialog code: the OnPreBubbleEventAsync function check if  ActivityType is a message so it doesn't call parent for event activities. In my mind events activies are handle in a different manner probably to manage event emission at dialog level. In my mind the best way is to have an event input or a more generic activity input.

[2020-07-19 15:52] coldplaying42 opened #4290 "Add qna maker extension"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Similar to LuisExtentions, we need to use QnAMakerExtentions to obtain some config resour

[2020-07-20 06:59] carlosscastro commented on #3970
Update: I picked this up. PR should come prior to 7/21 EOD

[2020-07-20 07:02] carlosscastro commented on #3900
Looking at the PR, cool to see. However it seems to break a test. I'll sync up with Vishwac. If more work is required, I have time to help this week.

[2020-07-20 07:07] carlosscastro commented on #3900
Also note that this doesn't seem cycle detection related, since the bug reproes with cycle detection disabled, and there is no StackOverflowException.

[2020-07-20 07:08] carlosscastro commented on #3962
ETA: 7/21

[2020-07-20 07:08] carlosscastro commented on #3490
ETA: 7/21

[2020-07-20 18:22] vishwacsena commented on #3900
@carlosscastro Here's a crisp repro

**Expected**
[code]

[code]

[2020-07-20 18:23] #4287 closed

[2020-07-20 18:43] vishwacsena commented on #4277
@Stevenic can you comment?

[2020-07-20 18:49] axelsrz opened #4295 "Solve diffs between C# and SDK swagger files"
Get resolution on wether port the following diffs to SDK file, open individual issue for porting the code or safe to ignore:

- [ ] 1) /v3/conversations/{conversationId}/members/{memberId} -- C# has a get endpoint that SDK does not
- [ ] 2) C# added /v3/conversations/{conversationId}/handoff
- [ ] 3) Locale description changed for Activity
- [ ] 4) C# added transcript property for Activity
- [ ] 5

[2020-07-21 16:42] #4275 closed

[2020-07-22 12:48] sschutten opened #4309 "[LG] Import fallback not working as it used to"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9.3

## Describe the bug
In earlier versions, I believe 4.8.x, when importing LG files it used the following fallback rules: "en-us" -> "en" -> "". As of v

[2020-07-22 14:05] vifani opened #4310 "Allow defining Autoscale options in CosmosDbPartitionedStorageOptions"
The current class CosmosDbPartitionedStorageOptions used to configure CosmosDbPartitionedStorage doesn't allow to define the container throughput with in auto scale mode. It's possible to consider the change of the Property ContainerThroughput from int to Nullable<int> in order to allow defining it as null. In the private method CosmosDbPartitionedStorage .CreateContainerIfNotExistsAsync this prop

[2020-07-22 16:01] sgellock opened #4311 "Add a constant for "empty speak tag""
We have agreed on a xml tag structure to indicate an empty speak tag.  The format of that tag is:

`<speak version="1.0" xmlns="https://www.w3.org/2001/10/synthesis" xml:lang="en-US" />`

Let's expose this string as a constant in the speech namespace.

For internal user, you can get additional data here:
 https://github.com/microsoft/botframework-obi/pull/85

[enhancement]

[2020-07-22 16:41] EricDahlvang opened #4312 "Change AdaptiveExpressions pre-built classes from Public to Internal"
Built in functions folder in AdaptiveExpressions library.

[bug]

[2020-07-22 16:42] #4043 closed

[2020-07-22 16:59] carlosscastro commented on #3900
Thanks Vishwac! We synced up offline on this. I'll pick this one up Monday 7/27.

[2020-07-22 20:04] munozemilio commented on #4310
@mdrichardson @mrivera-ms could you please triage this issue?

[2020-07-22 20:05] munozemilio commented on #4309
@chrimc62 @vishwacsena could you please take a look?

[2020-07-22 20:57] EricDahlvang commented on #4310
Hi @vifani

Thank you for raising this issue.  We will consider this for a future release.  Until then, it is possible to create an IHostedService implementation to provide custom cosmosdb container creation:

this demonstrates a custom Time to Live setting for the container:

[code]

then in startup:

[code]

[2020-07-22 21:37] chrimc62 commented on #4309
This was broken by @boydc2014 with commit a457ec6d when he allowed specifying default languages.  He only added those if the language was empty which will never happen.  He should remove the lines below from LanguagePolicy.
[code]

[2020-07-23 09:24] dingjianrui opened #4317 "SSO not working between my Root Bot and Skill Bot with OAuthPrompt"
## Version
Microsoft.Bot.Builder.* 4.9.3

## Describe the bug
I follow the steps "https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Ceml" to configure the SSO environment, and with source code provided in the link, everything worked as expected.
Then i used the same configuration in my personal root bot(Virtual Assistant) and

[2020-07-23 09:27] guru98 commented on #4277
Hi i make it works with some changes on the previous approach:
1) Event are always raised indipendently the flag of allow interruptions (as expected)
2) After event continuedialogasync is called
3) onRecognizedInputAsync is called.
To manage changes that the onevent makes in the property (as you describe) you have to override continuedialogasync to manage activitytypes.event
My suggestion is to de

[2020-07-23 12:07] Rouvo opened #4500 "Accessing UserState/ConversationState properties"
Hi all,

I'm trying to set up a little bot architecture, where botframework composer will act as the leading part (easy deployment + set up). Im coding my own directline chat at the moment and trying to pass data objects around via webviews that will also be used by the facebook chat.

I came up with a little "middleware" concept, where I'm using azure functions for creating endpoints (such as for

[2020-07-23 12:35] #4227 closed

[2020-07-23 16:10] Shubhankar-Nath opened #4318 "Adaptive Card response is throwing an error"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Bot Builder 4.9

## Describe the bug
The immediate response after an adaptive card is throwing an error in the method 'OnTurnAsync' Method

## To Reproduce
S

[2020-07-23 16:32] v-kydela commented on #4318
Thank you for the report, @Shubhankar-Nath. I would like to help, but I have a few questions.

1. When you say "Adaptive Card response" are you talking about the HTTP response to the request that sends the card to the channel, or are you talking about an action the user sends to the bot by clicking on the card?
1. What channel are you using?
1. What is the JSON of the card?
1. What is the relevant

[2020-07-23 16:34] anusharavindrar commented on #4317
A similar issue was reported on SO https://stackoverflow.com/questions/63039371/bot-framework-sso-in-virtual-assistant-skills-scenario

[2020-07-23 18:02] johnataylor commented on #4311
As @stevengum commented I think this would be a constant in Schema.

[2020-07-23 18:05] munozemilio commented on #4309
@boydc2014 could you please take a look?

[2020-07-23 19:20] mrivera-ms opened #4320 "Limit API compatibility validations to changed libraries only on BotBuilder-DotNet-CI-PR"
## The problem
There are 13 parallel checks under API Compatibility Validation in the CI builds. These happen in the SDK_Public project which has only 10 available agents. Consequently, PRs wait for a long time, sometimes for hours, before their checks are able to run.

## Proposed behavior
Add a check that evaluates which compatibility checks are needed, depending on what libraries have been modi

[2020-07-23 23:16] mrivera-ms opened #4321 "Microsoft.Bot.Builder.Dialogs.Adaptive: Add missing documentation to all visible classes, methods, properties and parameters"
To do:

- Remove the NoWarn PropertyGroup from each project in the libraries folder in the solution.
- Compile and address all the documentation errors provided by the compiler.

See more details in the parent Issue #4052

[2020-07-23 23:18] mrivera-ms opened #4322 "Microsoft.Bot.Builder.Dialogs.Adaptive.Testing Add missing documentation to all visible classes, methods, properties and parameters"
To do:

- Remove the NoWarn PropertyGroup from each project in the libraries folder in the solution.
- Compile and address all the documentation errors provided by the compiler.

See more details in the parent Issue #4052

[2020-07-24 06:25] Mrinnaal opened #4323 "Operation was cancelled"
Getting "Operation was cancelled" issue in production. Bot was working fine all the time. Suddenly, from morning we are facing this issue.

[2020-07-24 16:09] #4217 closed

[2020-07-24 16:15] #4173 closed

[2020-07-24 16:33] gabog opened #4325 "Refactor to Dialogs.Debugging fix CA1034"
This issue involves refactoring the code to address the #pragma statements added for CA1034 and CA1819 as part of https://github.com/microsoft/botbuilder-dotnet/pull/4297

[2020-07-24 16:43] #2449 closed

[2020-07-24 16:50] #4048 closed

[2020-07-24 16:59] #4311 closed

[2020-07-24 18:12] jwiley84 commented on #4323
Hi @Mrinnaal There isn't a lot of detail to go on here. Can you post your appId and a time frame this is happening, along with the SDK version you're using, your OS type and what channel this is happening on?

[2020-07-25 05:21] Mrinnaal commented on #4323
Ideally we had a call with Microsoft cloud team and realised it’s an issue from azure. They fixed it and now everything works fine. @jwiley84 thanks for the swift response 😊 appreciated!!

[2020-07-25 05:21] #4323 closed

[2020-07-27 03:33] #4250 closed

[2020-07-27 04:49] luhan2017 opened #4328 "using expandText throws an error"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

When I use expandText in composer, I got such error:

# SendActivity_QnAMatch()
- ${expandText(@answer)}

echobot-2.en-us.lg:[Error] inline content: Duplicated definiti

[2020-07-27 06:05] carlosscastro commented on #4131
4.9.3 shipped with all the pieces for this.

[2020-07-27 06:05] #4131 closed

[2020-07-27 14:03] #4328 closed

[2020-07-27 15:31] boydc2014 commented on #4309
@chrimc62 @sschutten sorry for the late response,  short summary is

1. the import behavior of lg was impacted because of the language policy change
2. but the root cause is not language policy structure is wrongly updated, it's a by design change to support more flexible fallback behavior, more context is added in below
3. the root cause is LG importing is not using customized language policy

Al

[2020-07-27 15:48] anusharavindrar commented on #4244
@berhen, apologies for the delay. I am currently working on the repro and experiencing issues specific to my testing sample, will update the thread soon.

[2020-07-27 18:01] EricDahlvang commented on #4246
@UlrichBodentien can you confirm the fix please?

[2020-07-27 18:02] EricDahlvang commented on #4260
Closing, please open a new issue if you are still having trouble.  Or, direct questions to StackOverflow.

Thanks.

[2020-07-27 18:02] #4260 closed

[2020-07-27 18:47] EricDahlvang commented on #4317
Hi @dingjianrui

Which channel are you using?

Source code for the OAuthPrompt can be found here: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs

[2020-07-27 20:27] carlosscastro commented on #3490
We had a discussion on this, we might repupose this bug for some deeper work in R11. Re-labelling to R11, renaming the issue and updating the description accordingly.

In the meantime, https://github.com/microsoft/botbuilder-dotnet/issues/3759 has a description on how to do this right now, which is overriding this.

[2020-07-27 21:01] carlosscastro commented on #4317
assigning to @lzc850612 since he'll take a look from a VA perspective.

[2020-07-28 00:30] Virtual-Josh commented on #4239
leave awaits as is

[2020-07-28 00:31] Virtual-Josh commented on #4240
leave awaits as is

[2020-07-28 01:58] gabog commented on #4240
What do you mean @Virtual-Josh ?

[2020-07-28 07:17] UlrichBodentien commented on #4246
Yes, I can confirm it. I have tested it, and it works in the bot I am working on

[2020-07-28 08:52] bradrlaw opened #4343 "Feature: Add global Dialog Begin / End Triggers"
## Is your feature request related to a problem? Please describe.

There is no method currently to create a dialog to be executed when any other dialog begins or ends.

## Describe the solution you'd like

Would like the ability to add a global level trigger on dialog events so that various functionality can be implemented easily.  This will be useful for custom metrics / telemetry capture, adding

[2020-07-28 09:34] #4290 closed

[2020-07-28 14:09] berhen commented on #4244
@anusharavindrar Okay thanks

[2020-07-28 14:12] Olakhrisat opened #4342 "Validation on Max turn count"
## Is your feature request related to a problem? Please describe.
yes, because if the user enters number larger than this number 2147483647 (max integer) the bot composer will stop working

## Describe the solution you'd like
put validation on "Max turn count"

## Describe alternatives you've considered

## Additional context

[2020-07-28 14:13] sschutten commented on #4309
@boydc2014 thank you for the answer. I've read your answer but I fail to fully understand. Can you help me clear this up?

Does this mean that a shared common.lg across all languages is no longer supported?

My issue is referring 4.9.3. In 4.9.3 the policy class is like:
en-us => en
fr-fr => fr
So the last "" is missing.

As I understand this won't help resolve a common.lg (without language) from

[2020-07-28 14:18] #4283 closed

[2020-07-28 15:44] EricDahlvang commented on #4246
Thank you.

[2020-07-28 15:44] #4246 closed

[2020-07-28 16:37] cwhitten commented on #4342
This is called out as a need to apply a max integer property that describes the language capability (JS, C#, etc)

Once defined in schema, Composer can look to validate against this field.

[2020-07-28 18:04] EricDahlvang commented on #4342
@boydc2014 would you please take a look at this.

[2020-07-28 19:52] cwhitten commented on #4342
@EricDahlvang I'll unassign @boydc2014 and ask @vishwacsena to review, accept/not-accept, and prioritize the bug.

[2020-07-28 21:01] vishwacsena commented on #4342
This is a good suggestion. Will consider this for a future release.

[2020-07-29 09:40] Shubhankar-Nath commented on #4318
When you say "Adaptive Card response" are you talking about the HTTP response to the request that sends the card to the channel, or are you talking about an action the user sends to the bot by clicking on the card?
 == Response the user gives after receiving/or by the text field in a Card.
What channel are you using?
== Bot emulator and Iframe to a webpage
What is the JSON of the card?
==Attached

[2020-07-29 14:03] garypretty opened #4346 "StrictFiltersCompoundOperationType missing from QnA Maker options"
A user on Stack Overflow has tried to use StrictFiltersCompoundOperationType when calling QnA Maker, but it looks like we do not currently support this property on the QnA Maker options.

Details of the property can be found at https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage#logical-or-using-strictfilterscompoundoperationtype-property

Origin

[2020-07-29 17:07] pkueecslibo opened #4347 "Client have intermittent auth issue when invoking skills after upgrade to bot builder SDK 4.9.1"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9.1

## Describe the bug
After upgrade to sdk 4.9.1, client got intermittent auth issue when invoking skills. When invoke the skills from one service insta

[2020-07-29 18:22] v-kydela commented on #4318
@Shubhankar-Nath - I would like to help, but you still haven't given us enough information. There doesn't seem to be anything wrong with the Adaptive Card, so the problem is most likely in the bot code that handles the Adaptive Card action. You haven't given us that code, and the code you have given us is very generic and can't be the actual cause of the problem. Here are some rules to follow in g

[2020-07-29 20:20] Virtual-Josh opened #4349 "Remove Xunit warning supression"
We are suppressing xunit warnings in the Test directory to see what warnings/errors remain. The majority of the xunit warnings are around style cop complaints, not higher priority issues. This is a tracking ticket to make sure we remove the suppression and fix those issues.

xUnit1013 - mark method as Fact or Theory
xUnit2000 - asserts should be (expected, actual)
xUnit2003 - assert.Equal should n

[2020-07-30 00:26] Virtual-Josh opened #4353 "Microsoft.Bot.Builder.Dialogs.Debugging: Add missing documentation to all visible classes, methods, properties and parameters"
Hey @willportnoy,

Here's the task for adding documentation to the dialog.testing package in reference to #4052. I have a PR up that makes the various classes internal here:

https://github.com/microsoft/botbuilder-dotnet/pull/4352

feel free to add your docs once this is merged.

[2020-07-30 04:29] #4240 closed

[2020-07-30 04:30] #4265 closed

[2020-07-30 06:51] cvangoor commented on #1283
I am facing the same issue when trying to use Spotify Oauth in azure bot service, this is not fixed @jwiley84

[2020-07-30 08:56] stevengum commented on #3799
@cleemullins do you have a status update?

[2020-07-30 16:13] gabog commented on #4165
Moving this to R11

[2020-07-30 16:43] BruceHaley commented on #4076
For Microsoft.Bot.Builder.sln the msbuild argument to disable CA turned out to be "-p:RunAnalyzersDuringBuild=false".

[2020-07-30 17:22] BruceHaley commented on #4076
PR #4074 resolves this issue.

[2020-07-30 17:24] #4076 closed

[2020-07-30 18:32] #4347 closed

[2020-07-30 18:54] mrivera-ms opened #4356 "Revert temporary changes to functional tests due to template validation errors"
Functional tests started failing on June 17th due to changes to template validations in Azure:

`2020-07-22T02:17:06.3141288Z InvalidTemplate - Deployment template validation failed: 'The resource 'Microsoft.Web/serverfarms/***' is not defined in the template. Please see https://aka.ms/arm-template for usage details.'.`

This error happens in the templates that use nested deployments, where the de

[2020-07-30 22:54] EricDahlvang commented on #3856
Hi @beauzeaux

For Teams specifically, the recommendation is to use TeamsInfo.GetPagedMembersAsync, and this should return a TeamsChannelAccount with the appropriate aadobjectid.

Here is a more thorough reply from @tacri :

_The objectId and aadObjectId represent the same thing: the aad object id of the user and that it is how the SDK refers to it. During deserialization the aadObjectId field val

[2020-07-30 22:54] #3856 closed

[2020-07-30 23:47] vishwacsena opened #4358 "Orchestrator recognizers and bot.builder.ai.orchestrator package."
Move orchestrator SDK component to master repo, tagged with preview label so packages ship with preview tag.
- OrchestratorRecognizer
- OrchestratorAdaptiveRecognizer
- OrchestratorComponentRegistration

All this code lives [here](https://github.com/microsoft/botbuilder-dotnet/tree/orchestrator/libraries/Microsoft.Bot.Builder.AI.Orchestrator)

[2020-07-30 23:50] #4050 closed

[2020-07-30 23:52] boydc2014 commented on #4050
@cxbuilders With #4291  get merged, you will be able to use deep JSON databinding in a few places
* value property in SetProperty
* PropertyAssignment (for SetProperties)
* value property in EndDialog
* body in HTTPAction

[2020-07-31 03:26] lzc850612 commented on #4317
@carlosscastro it looks to me that there's incorrect behavior after calling ABS to get a token. This should be default behavior of OAuthPrompt as part of the core SDK so I don't think it's a VA/Skill issue. Have you tried to reproduce it?

[2020-07-31 05:56] cxbuilders commented on #4050
great news, thanks!

[2020-07-31 16:38] chrimc62 opened #4360 "Microsoft.Test.HttpRequestSequenceMock should be able to model errors"
The HttpRequest mocking in the declarative testing only supports the content of a response and not the error code.  Without the error code, you cannot mock error situations.

Please add statusCode to the mock object and return it as part of the response.

[enhancement]

[2020-07-31 19:44] chrimc62 opened #4361 "Fix Random thread safety and control random seed to improve testability"
# Problem
Our usage of Random is not thread safe and when writing tests, you currently need to test for all random responses.  This makes it harder to write tests and adds minimally to the test coverage.  One method in particular is to take a transcript and turn it into declarative test to make sure the same path gets executed.  This does not work if there is any variation in .lg templates or if t

[2020-07-31 19:49] v-kydela commented on #4318
@Shubhankar-Nath - Are you still working on this?

[2020-08-01 01:50] dingjianrui commented on #4317
@carlosscastro @lzc850612 thanks for your feedback, to share more information with you.
1. In the Calendar Skill bot, i replace the "MultiProviderAuthDialog" with the "OAuthPrompt", then the SSO process can work until the CalendarSkill get the "TokenExchangeInvokeRequest" from VA. The SSO process cannot event start if i use the MultiProviderAuthDialog dialog. (Probably the SSO mechanism for VA and

[2020-08-01 01:54] dingjianrui commented on #4317
Hi @EricDahlvang , this version of the source code is not consist with the package "Microsoft.Bot.Builder.* 4.9.3" i used.

[2020-08-01 07:54] dingjianrui commented on #4317
Hi @carlosscastro  @lzc850612 ,
Here are two methods in the Skill bot's ActivityHandler:
![ttt](https://user-images.githubusercontent.com/1256355/89097094-52ae3280-d40e-11ea-9fc7-6feb98b6c622.png)
Due to the "DialogState" changed in the "OnMessageActivityAsync" cannot be loaded in "OnSignInInvokeAsync",  It seems like that the "OnSignInInvokeAsync" always create a new "DialogState", instead of usi

[2020-08-01 12:43] Shubhankar-Nath commented on #4318
@v-kydela
Yes still facing the issue.Channel is WebChat

` public async Task<DialogTurnResult> SearchProblemInQnA(WaterfallStepContext sc, CancellationToken cancellationToken)
        {
            // setting the response into state2.RegisteredCarNumber
            var state2 = await _accessor2.GetAsync(sc.Context, () => new DetailsModel(), cancellationToken);
            state2.RegisteredCarNumbe

[2020-08-01 18:12] Stevenic opened #4365 "ReplaceDialog action doesn't work"
## Version
4.9

## Describe the bug
The `ReplaceDialog` action doesn't work. It starts a new dialog but the current dialog stays on the stack.  That's because the code needs to be calling [dc.parent.ReplaceDialogAsync()](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ReplaceDialog.cs#L61)  It currently just attempts to replace th

[2020-08-02 06:13] EricDahlvang opened #4366 "Consolidate duplicate Test project and test code"
![image](https://user-images.githubusercontent.com/11055362/89116110-37124e80-d445-11ea-9556-45700ee19a4e.png)

**Describe the solution you'd like**
A shared project, containing the duplicate code and tests.

[enhancement]

[2020-08-02 15:40] tomlm opened #4367 "Resource.id is not being used as default dialog.id for referenced dialogs."
## Version
4.9.3

## Describe the bug
We use resource.id as the default dialog.id if there isn't already one defined.  This policy is not being applied to nested references.

## To Reproduce
Create dialog with "string" ref to resource.id and examine the dialog.id

## Expected behavior
it should be the resource.id if the dialog doesn't have a "id" property.

[bug]

[2020-08-03 00:52] xieofxie commented on #4365
related https://github.com/microsoft/botbuilder-dotnet/issues/3900

[2020-08-03 02:33] daveta commented on #4310
Hi @vifani, let us know if that helps - we'll close this issue in a few days.
Thanks!

[2020-08-03 12:59] vifani commented on #4310
Thank you @daveta and @EricDahlvang. Yes, this helps, however is only a workaround. In my opinion, because the CosmosDbPartitionedStorage class creates the container and in the documentation (https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp#using-cosmos-db) is stated "skip manually creating a container since CosmosDbPartitionedS

[2020-08-03 18:07] daveta commented on #4277
@Stevenic : FYI..

[2020-08-03 18:48] v-kydela commented on #4318
@Shubhankar-Nath - I asked for the code that handles message activities. Do you have an `OnMessageActivityAsync` method?

And while you did provide some of your waterfall code, you said the error is being thrown from the next step. What is the code for the next step?

[2020-08-03 19:22] Stevenic commented on #4277
@guru98 I think you're on the right path for doing what your wanting but you'll probably need to create a custom action. As you said, with waterfalls you would just create a custom prompt so for adaptive you do the same thing. You just create a custom action.

I have a new "Task" feature I'm working on specifically for scenarios like this where you want to send a card and then block until a user c

[2020-08-03 20:29] peterkarman1 opened #4371 "declarative dialog webchat does not read property condition"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.9.4
## Describe the bug
Give a clear and concise description of what the bug is.

Properties on user state a

[2020-08-03 20:38] Stevenic opened #4372 "BeginSkill action throws exception if bot re-deployed mid-skill invocation"
## Version
4.9

## Describe the bug
The `BeginSkill` action dynamically binds the base `SkillDialog` class options as part of the `BeginDialogAsync` call. This works fine but some of these options are things like the ConversationIdFactory so should the bot be redployed in the middle of a multi-turn skill invocation `BeginDialogAsync` won't have been called so these components won't have been bound

[2020-08-03 21:09] mrivera-ms opened #4373 "Enable FxCop to Orchestrator library"
Starting in R10, Roslyn analyzers are now a requirement for all libraries in the dotnet repo. [See the tracking task here](https://github.com/microsoft/botbuilder-dotnet/issues/2367).

Please include the following analyzers and address all issues as needed before merging this to main:

- AsyncUsage
- FxCop

Sample here: [PR 4338: Added FxCop for TemplateManager](https://github.com/microsoft/botbui

[2020-08-03 21:12] Stevenic opened #4374 "SkillDialog generates a new Conversation ID on each turn"
## Version
4.9

## Describe the bug
The `SkillDialog` class is currently generating a new conversation ID for every activity forwarded to a skill. This prevents multi-turn skills for working properly as the skills dialog stack is constantly reset on every message.  The `SkillDialog` should create a conversation ID once in `BeginDialogAsync` and then cache that ID to dialog state for use on subsequ

[2020-08-03 21:50] cleemullins commented on #3627
@clearab to sync with @gabog on status update.

[2020-08-03 23:18] vishwacsena commented on #4378
@chrimc62 @tomlm can we converge on the shape of entity recognition result across LUIS + the date time recognizer used by datetime input?

[2020-08-03 23:54] #3976 closed

[2020-08-04 00:04] anusharavindrar commented on #4244
@berhen, this looks like the expected behavior. When every recognizer in the RecognizerSet has a None intent, it just returns a default NoneIntent and not the actual None Intent from LUIS.
https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/CrossTrainedRecognizerSet.cs#L225

[2020-08-04 00:05] #4367 closed

[2020-08-04 00:52] #4309 closed

[2020-08-04 08:24] eluchsinger opened #4396 "Question: Where does the QnA action take the input from?"
When I add a QnA action, the tutorial shows that by adding an unknown intent trigger. That works fine, but I would like to have an explicit QnA call in my bot, read: I would like to ask my QnA service using a variable as input.

What kind of  input does the QnA action use? There seems to be nothing I can use as an input in the QnA action itself, so I believe it uses a predefined input variable.

B

[2020-08-04 15:36] gabog opened #4380 "Additional channel/chat lifecycle events"
See [parent](#5892) for more details.

This issue involves adding declarative triggers to Microsoft.Bot.Builder.Dialogs.Adaptive.Teams for the new event types described in the parent issue

[2020-08-04 15:47] guru98 opened #4381 "MultilanguageLg issue resolving templates using import"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9.4
## Describe the bug
i have a multilanguage application and i use adaptive cards. To make an adaptivecard generic i have activity and adaptive cards tep

[2020-08-04 16:19] berhen commented on #4244
@anusharavindrar Thank you for the update on this issue. I was not aware of that behavior, thanks for the clarification. Is there any way to trigger / pick the actual LUIS intent in the case that every recognizer in the set has a None intent?

[2020-08-04 17:05] carlosscastro commented on #3900
Update: Actively working on this. The issue is pretty deep and challenges the fundamental decisions on how replace dialog should be implemented.

[2020-08-04 17:07] #3970 closed

[2020-08-04 18:11] jwiley84 commented on #4381
Hi @guru98 I'll try to track down what change broke this, and get back to you. Thank you for reporting this!

[2020-08-05 00:00] boydc2014 commented on #4312
Thanks @EricDahlvang , i will take this asap, just noticed this, somehow this one didn't show up in my personal query.

[2020-08-05 00:05] clearab opened #4388 "Message reaction change Activity (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5972)

[2020-08-05 03:01] #3706 closed

[2020-08-05 16:08] #4281 closed

[2020-08-05 16:22] Zerryth commented on #3879
Handing over to Gabo, as he's working on another issue that overlaps

[2020-08-05 17:18] gabog commented on #4380
Duplicate, addressed in #4079

[2020-08-05 17:38] mrivera-ms opened #4392 "Add missing XML documentation to Microsoft.Bot.Builder.Dialogs"
Related to #4052

[2020-08-05 18:00] stevkan commented on #4371
@peterkarman1, is there a particular sample you are using for building this?

[2020-08-05 20:09] mrivera-ms commented on #4320
Not needed.

[2020-08-05 20:09] #4320 closed

[2020-08-05 20:14] mrivera-ms commented on #4111
@carlosscastro , would you please take a look at this?

[2020-08-05 20:21] mrivera-ms commented on #3901
Closed as No Fix.

[2020-08-05 20:21] #3901 closed

[2020-08-05 20:32] gabog commented on #4380
Not done, reopening it.

[2020-08-05 20:56] #4325 closed

[2020-08-05 22:31] anusharavindrar commented on #4244
@berhen, as of now this is the default behavior.
@tomlm, any pointers on whether this issue should be considered a DCR or if it's going to stay this way?

[2020-08-05 22:50] stevkan commented on #4371
@peterkarman1, I'm testing with the [21.AdaptiveBot-declarative](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/adaptive-dialog/21.AdaptiveBot-declarative) sample while using Web Chat. As you mentioned, Web Chat doesn't send an OnMembersAdded activity, however it does send a `conversationUpdate` when a user joins (see below). You can also implement the [04.ap

[2020-08-05 23:01] clearab opened #4395 "OAuthPrompt should provide the ability to cancel itself (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5964).

[2020-08-05 23:06] #4269 closed

[2020-08-05 23:34] #4374 closed

[2020-08-05 23:59] carlosscastro commented on #4111
We already merged a Pr with a number of improvements in streaming memory and connection management.

Post R10, by end of August, we plan to ship another set of improvements that should end in significant reduction of the overhead documented above.

[2020-08-06 00:58] #4312 closed

[2020-08-06 01:01] chrimc62 opened #4397 "JSON function does not display source being parsed on an error"
If you have an adaptive expression with JSON where there is an error, like this:
[code]

The error message you get is like this:
[code]

The problem is that usually the reason you are using the json function is that you are constructing the payload.  We should include the JSON that is being parsed so that you can interpret the position.

[bug]

[2020-08-06 01:25] chrimc62 opened #4398 "Direct adaptive expression object creation does not support multi-line"
When directly constructing a JSON object it does not support multi-line.

This works:
[code]

This does not:
[code]

This will fail with an error message like:
[code]

[bug]

[2020-08-06 01:26] boydc2014 commented on #4397
@cosmicshuai can you take this one, also check if any place in our direct object syntax implementation, any more error message we can dump if something went wrong

[2020-08-06 03:11] EricDahlvang commented on #3627
Thanks @navzam

This was indeed due to checking only for ActivityTypes.Message.

[2020-08-06 03:55] EricDahlvang opened #4400 "Add Adaptive Action for InstallationUpdate invoke (not Teams specific)"
See rollup issue: https://github.com/microsoft/botframework-sdk/issues/5959

Note: this is not a Teams only specific event.  This is an sdk level event.

[enhancement]

[2020-08-06 04:26] #4284 closed

[2020-08-06 04:52] carlosscastro commented on #3900
Relabeled to P1 after discussing with Vishwac.

[2020-08-06 05:07] mrivera-ms commented on #2385
Discussed with @boydc2014 , this is blocked and being removed from R10 and pushed to R11.

[2020-08-06 05:34] #4253 closed

[2020-08-06 06:33] boydc2014 commented on #4007
solved by #4276

[2020-08-06 06:33] #4007 closed

[2020-08-06 06:33] boydc2014 commented on #4007
the impact for LG is some functions leveraged in LG will peform different based on locale

[2020-08-06 07:23] eluchsinger commented on #4396
I would like to add it's not just the `dialog`'s memory. The whole response is somehow duplicated aswell. The last response in the screenshot should start with a **2**.

[2020-08-06 09:08] WizX20 opened #4402 "MicrosoftAppCredentials does not accept empty MicrosoftAppId and MicrosoftAppPassword"
## Version
Microsoft.Bot.Builder Version 4.9.4
_Microsoft.Bot.Builder.Azure Version 4.9.4
Microsoft.Bot.Builder.Dialogs Version 4.9.4
Microsoft.Bot.Builder.Integration.AspNet.Core Version 4.9.4
Microsoft.Bot.Configuration Version 4.9.4
Microsoft.Bot.Schema Version 4.9.4
Microsoft.Bot.Solutions Version 1.0.1_

## Describe the bug
The `Microsoft.Bot.Connector.Authentication.MicrosoftAppCredentials`

[2020-08-06 09:44] WizX20 commented on #4402
Using this for now so I can get on with it for now...
**Notice: Not properly tested, use at your own risk!**

[code]

[2020-08-06 14:49] DishaAgarwal commented on #4396
@vishwacsena When QnA Maker can't find an answer it just returns a "No QnAMaker answers found" response. It doesn't influence the dialog state in anyway. It is possible that there is a bug in how the response is handled thereafter at the composer end?

In the scenario when QnA maker does return a multi-prompt answer and user does select one of the prompts, I believe the fallback intent is triggere

[2020-08-06 18:06] carlosscastro commented on #4402
Hey, we are throwing the exception on purpose, because we don't accept null client id or password. If you wnat empty credentials, use MicrosoftAppCredentials.Empty.

The question is, why do you want to pass null to the credentials? what are you trying to achieve. Closing since this is not a bug, it is by design, but happy to respond questions.

[2020-08-06 18:17] carlosscastro commented on #4402
Hello, thanks for reporting. I understand that you are trying to achieve proactive messaging with empty credentials, is that correct?

Could you provide a full repro of the end to end scenario? For example, `start from the [proactive sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/16.proactive-messages), modify setting X, create a console application w

[2020-08-06 19:52] #4353 closed

[2020-08-06 21:21] mrivera-ms commented on #4239
Warnings are still appearing. Reopening the issue.

[2020-08-07 00:27] #4395 closed

[2020-08-07 02:20] #3962 closed

[2020-08-07 03:01] mrivera-ms commented on #4055
The CI Pipeline runs under 20 minutes now. Exceptions happen when there is a high volume of jobs and available build agents are not enough to cover the volume. We have done work to reduce the use of build agents by selecting the API compatibility verifications to only libraries that have been changed.

![image](https://user-images.githubusercontent.com/44449640/89604030-3ef43900-d81f-11ea-9c6d-04d

[2020-08-07 03:01] #4055 closed

[2020-08-07 03:04] #4047 closed

[2020-08-07 06:17] #4397 closed

[2020-08-07 06:25] berhen opened #4409 "The class scoped properties and "this.turnCount" are always "null" in input prompts of adaptive dialogs"
## Version
4.9.3

## Describe the bug
Following this example of a NumberInput (but also with other kinds of prompts):
https://docs.microsoft.com/en-us/azure/bot-service/adaptive-dialog/adaptive-dialog-prebuilt-inputs?view=azure-bot-service-4.0#numberinput

The property "this.value" does contain a value, but the properties "this.turnCount" and "class.defaultValue" are always "null", no matter what

[2020-08-07 14:36] mrivera-ms opened #4410 "Investigate performance improvements from implementing pipeline caching for Nuget restore in CI Pipelines"
Nuget restore takes nearly 17% of the average pipeline duration. [Azure Pipelines Cache task for Nuget](https://user-images.githubusercontent.com/44449640/89656478-7d6e1000-d880-11ea-8740-e4a5a4037d6a.png) is an option we should try to reduce duration.

![image](https://user-images.githubusercontent.com/44449640/89656478-7d6e1000-d880-11ea-8740-e4a5a4037d6a.png)

[2020-08-07 15:49] mdrichardson opened #4412 "Correct Cosmos Test"
There was a small test fix in [this closed PR](https://github.com/microsoft/botbuilder-dotnet/pull/4359) that still needs to be committed to the code. Cosmos changed one of their Exception responses and that needs to be accounted for when running live.

[2020-08-07 16:53] EricDahlvang commented on #4412
@mdrichardson if this gets merged: https://github.com/microsoft/botbuilder-dotnet/pull/4369  Does it address the test?

[2020-08-07 16:55] mdrichardson commented on #4412
@EricDahlvang I don't believe so. There might've been a couple of issues my closed PR addressed, though (need to dig through it as part of this issue), and that one might address them. TBD.

[2020-08-07 17:29] jwiley84 commented on #4381
Hi @guru98 Can you post a limited version of your lg files?

[2020-08-07 19:01] #4372 closed

[2020-08-07 19:03] cleemullins commented on #4365
Carlos is working on this now, landing today.

[2020-08-07 19:04] #4203 closed

[2020-08-07 19:06] cleemullins commented on #4149
Per @tomlm, moving to backlog and removing P0 label.

[2020-08-07 19:07] cleemullins commented on #4149
@vishwacsena  Can you help us figure out it's priority, and who can do the work and when?

[2020-08-07 19:09] #2367 closed

[2020-08-07 19:42] Zerryth commented on #4409
@berhen, it looks like snippet that you got from the docs is incorrect (or maybe out-of-date) with regards to accessing variables--but you seemed to have gotten over that point, at least, with regard to getting the value for `this.value` by adding `$` in front to make `${this.value}`

However for the class properties, I've repro'd your issue as well.

[code]

![image](https://user-images.githubuse

[2020-08-07 19:56] carlosscastro commented on #3900
We got to the bottom of this. The current ReplaceDialog action implementation needs to call `dc.Parent.ReplaceDialog`, since the one that needs to be replaced is the first dialog container found in the parent chain of the current active dialog.

However tihs fix does not work when replacing the root dialog. A workaround for that would be to hang all dialogs off of the DialogManager, however we nee

[2020-08-07 19:57] #4380 closed

[2020-08-07 20:29] vishwacsena commented on #4396
@DishaAgarwal can you get someone to debug this? I suspect something in qnamaker dialog is causing the parent adaptive dialog's `dialog` scope to get overwritten. Also the issue is not with fallback intent triggering or multi-turn etc. In a simple flow, after qnamaker action completes, the dialog state as it was prior to qnamaker action should be available.

[2020-08-07 20:40] v-kydela commented on #4318
@Shubhankar-Nath - Do you still need help?

[2020-08-07 20:52] vishwacsena opened #4417 "[Expression] Add deepMerge(obj1, obj2) to prebuilt functions"
From @Stevenic

We should add `deepMerge(obj1, obj2)` to prebuilt functions. If there are duplicate keys at any level, then have the last values win.

[code]

Additional info from @Stevenic
[code]

[2020-08-07 20:52] Zerryth commented on #4409
Tried a few other things offline and also spoke with Vishwac offline from our team. Confirmed to be a bug, though we need to do a little more digging into why this is happening.

Unfortunately there is no workaround at the moment for using class scope--we just need to resolve the bug 😞

Thanks for reporting @berhen , we'll get to the bottom of the state issue

[2020-08-07 21:17] #3627 closed

[2020-08-07 21:17] scheyal opened #4418 "Json builtin function doesn't accept empty strings"
Using the composer, I found out that we don’t accept empty string value:
Example:
[code]

[2020-08-08 03:45] EricDahlvang commented on #4317
@dingjianrui I'm sorry for the delay in answering.  Have you tried [4.9.4](https://www.nuget.org/packages/Microsoft.Bot.Builder/4.9.4) ?

[2020-08-08 04:07] EricDahlvang opened #4420 "AdaptiveExpressions tests failing the build"
getPrevioiusViableTime test fails

## Screenshots
![image](https://user-images.githubusercontent.com/11055362/89701878-14be7c00-d8f0-11ea-9be1-5eb9ef47c29a.png)

[bug]

[2020-08-08 09:30] guru98 commented on #4381
Hi @jwiley84  sure...
in attach
[Responseszip.zip](https://github.com/microsoft/botbuilder-dotnet/files/5045029/Responseszip.zip)

[2020-08-09 17:18] guru98 commented on #4277
Thanks @Stevenic ,
here the code i wrote for EventInput. You can use an event activity as prompt and manage the event as it's send back from the client. I did'nt test every case but seems it works
`
using AdaptiveExpressions.Properties;
using Microsoft.Bot.Builder.Dialogs;
using Microsoft.Bot.Builder.Dialogs.Adaptive.Input;
using Microsoft.Bot.Schema;
using Newtonsoft.Json;
using System;
using Sys

[2020-08-10 04:28] Virtual-Josh opened #4421 "Resolve warning suppression"
I'm suppressing the await warning in the `Microsoft.Bot.builder.streaming.tests/NamedPipeTests.cs` currently on line 34.

This warning is currently being suppressed. It's not clear how or why adding an async/await to this call, the underlying ConnectAsync call, or some combination of the two causes the test to hang indefinitely. Maybe this test needs to be refactored. Maybe there's something that

[2020-08-10 13:42] eluchsinger commented on #4396
I've built a custom service to query QnA via REST, because the QnA Action right now is not good enough to use it in our customer projects. Would be happy to hear any news about the debugging and or further advancements with the QnA action.

[2020-08-10 17:32] Virtual-Josh commented on #4421
Found a fix.

[2020-08-10 17:32] #4421 closed

[2020-08-10 18:48] bojingo opened #4422 "ITranscriptLogger to have access to ITurnContext"
**Is your feature request related to a problem? Please describe.**
In my Bot Framework projects (2 for 2), we find ourselves needing to log contextual information as part of the transcript log. In one case we needed to log related information from Bot State accessed via `IPropertyAccessor` objects. In another case we need to log details found in the `TurnState` dictionary. In both cases, we had to

[2020-08-10 20:05] #4412 closed

[2020-08-10 20:32] cwhitten opened #4423 "component schemas for some triggers are not correct."
See the following:

OnEndOfConversationActivity: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnEndOfConversationActivity.schema

OnCondition: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnCondition.sc

[2020-08-10 22:47] EricDahlvang opened #4424 "Update Bot.Builder.Azure.Queues"
- Create an interface for the storage.
- Pull dialog specific code into Adaptive Dialogs

[enhancement]

[2020-08-11 00:14] VinaiMeyyappan opened #4425 "pre-built function - to convert timex expression into a UTC ISO format"
## Version
What package version of the SDK are you using.
v4

## Describe the bug
Give a clear and concise description of what the bug is.
- Collect date and time in separate steps of a descriptive adaptive dialog
- Combine them into UTC ISO format before calling a REST API with HTTPRequest action.

- the following expression will return - 2020-08-10T14:30:00.000Z
"${formatDateTime(concat($Reading

[2020-08-11 01:14] vishwacsena commented on #4423
I believe this is same ask as this DCR #3007

@cwhitten can you comment (or close this ticket) if you believe the parent #3007 captures what you are looking for?

[2020-08-11 01:40] #4423 closed

[2020-08-11 03:01] xieofxie commented on #4186
As this pr https://github.com/microsoft/botbuilder-dotnet/pull/4154 's status indicates, even windows stackoverflow now

[2020-08-11 07:13] DishaAgarwal commented on #4396
@vishwacsena We will look into it and get back to you.

[2020-08-11 13:19] bojingo commented on #3643
@praveenck06 - I continue to intermittently get the error and have since updated to the absolute latest version of Bot Builder libraries.

It sounds like perhaps you made some progress understanding the cause, or at least how to reproduce? Perhaps you can open a new issue detailing your findings? I haven't been able to reproduce reliably, but if you link it here (just so I can find it) I'd love to

[2020-08-11 14:02] DavidStrickland0 opened #4430 "ArgumentNullException for none Null Argument"
https://github.com/microsoft/botbuilder-dotnet/blob/05001a135a401212eb20c343c1699a6eb290de69/libraries/Microsoft.Bot.Builder.AI.LUIS/Generator/DateTimeSpec.cs#L29-L32

Calling
            var obj = new DateTimeSpec(type:"",expressions: new List<string>());
Produces:
            System.ArgumentNullException : Value cannot be null. (Parameter 'type')

Expected:
             System.ArgumentException

[2020-08-11 16:36] #4239 closed

[2020-08-11 17:34] #4373 closed

[2020-08-11 17:50] v-kydela commented on #4318
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-08-11 17:50] #4318 closed

[2020-08-11 18:04] carlosscastro commented on #4430
Hello, I understand your point but this is unfortunately part of the convention that the SDK started with. At this point, if we were to change this it would result in behavior changes, thus breaking changes. thanks for reporting!

[2020-08-11 18:04] #4430 closed

[2020-08-11 18:07] carlosscastro commented on #4425
@boydc2014 Could you verify the repro and triage / redirect? Thanks!

[2020-08-11 18:10] carlosscastro commented on #4422
Thanks for filing this, sounds like a useful pattern and we understand your scenario. We've included it in the backlog that we'll use in our next planning phase. Please stay tuned on tags and milestones.

[2020-08-11 19:37] mrivera-ms commented on #4358
The package should be ready after the project is checked in.

[2020-08-11 19:37] #4358 closed

[2020-08-11 19:38] #1686 closed

[2020-08-12 08:35] WizX20 commented on #4402
@carlosscastro Hi, I will try and create an example repo, give me some time...
I am indeed using proactive messaging with empty credentials (`MicrosoftAppCredentials.Empty`)

[2020-08-12 09:15] saikiran521 opened #4437 "QnAMakerOptions using StrictFilters how to check "contains" for metadata filters"
Hi,

I using QnA Maker API to get response for StrictFiletrs as

{
    "question": "qna maker and luis",
    "top": 5,

    "strictFilters": [
    {
        "name": "category",
        "value": "api"
    }]
}

getting response if metadata key and value matches with given input. (if metadata key is "category" and value is equal to "api" getting response)

Please let me know is there any way to chec

[2020-08-12 11:03] guru98 opened #4438 "Adaptive Dialogs HttpRequest support for app level auth"
HttpRequest is an usefull action in Adaptive Dialogs but you should provide an easy way to generate a token for app authentication:
For user level auth yuo provide OAuthInput but many external apis, graph and azure functions require at least app level auth.
I know that i caqn generate the token in a CodeAction but i think that this is a limitation at least for declarative dialog generated by compo

[2020-08-12 12:47] denscollo commented on #4410
Hi @mrivera-ms ! We investigated the use of the Azure Pipelines Cache task and concluded that it doesn't contribute with a reduction of time for the CI pipeline.
We ran some tests to get an average time using the Cache Task and without it and we came to the conclusion that it doesn't reduce the total time, as can be seen in the tables below.
![imagen](https://user-images.githubusercontent.com/2721

[2020-08-12 16:50] #4322 closed

[2020-08-12 16:54] #4052 closed

[2020-08-12 18:04] carlosscastro commented on #4438
Thanks, this is a very good request. I'm adding it to the backlog so we consider it in the planning of the upcoming releases.

[2020-08-12 18:08] carlosscastro commented on #4157
Adding to backlog for R11 consideration

[2020-08-12 18:17] jwiley84 commented on #4437
@dmvtech

[2020-08-12 18:43] dmvtech commented on #4437
Hi @saikiran521,

My apologies, but could you clarify a little bit further? I'm not quite clear on what you are asking. Are you wanting to check that the strictFilters you supply in the request match the strictFilters you get in the response?

[2020-08-12 21:18] mrivera-ms commented on #4410
Thank you for the analysis @denscollo, I will close this issue as no further action is needed.

[2020-08-12 21:18] #4410 closed

[2020-08-12 21:41] mrivera-ms opened #4442 "Analyze unit tests, performance and code coverage"
## The Problem
Test suites in the Bot Builder solution execute in ~5.5 minutes, which account for over 40% of the time to complete the build stage in the CI pipelines. Currently, the test suites include tests that use external dependencies that decrease performance.

## Proposed Solution
Move tests that are not purely unit tests to the Functional Tests and execute them daily instead of with each P

[2020-08-13 00:52] stevkan commented on #4371
Closing due to lack of activity. Please feel free to reopen if the issue persists or you have new information to contribute.

[2020-08-13 00:52] #4371 closed

[2020-08-13 04:52] saikiran521 commented on #4437
Hi @dmvtech

Using strict filters data checks equals with metadata key value pair. For example if metadata is "category:api" we can retrieve by strict filters as

"strictFilters": [
{
    "name": "category",
    "value": "api"
}]

I need an example if metadata is "category: api response" I need to get response using same strict filter as

"strictFilters": [
{
    "name": "category",
    "value": "

[2020-08-13 17:49] cwhitten commented on #4365
@carlosscastro is this not shipping in 4.10?

[2020-08-13 18:02] carlosscastro commented on #4425
@boydc2014 kind reminder :)

[2020-08-13 20:13] gabog opened #4447 "Add support for skills auth in sandboxed environments"
Currently skills support public cloud and gov cloud auth, we need to make the auth model extensible so we support other environments and AADs.

[2020-08-13 20:33] gabog commented on #3312
We don't think we need this, closing

[2020-08-13 20:33] #3312 closed

[2020-08-13 20:35] gabog commented on #3561
Composer adds support for this, we won't be doing this at the SDK level

[2020-08-13 20:35] #3561 closed

[2020-08-13 22:49] EricDahlvang opened #4448 "Facebook and Webex functional tests not running"
The pipeline runs, but the tests are skipped.

[2020-08-14 03:15] cosmicshuai commented on #4425
I tested several cases of the timestamp format.
for formatDateTime function, `2020-08-10T14` is not a valid input. However, `2020-08-10T14:00` is valid.
My opinion is we should have a solution to make sure  `$ReadingTime.timex[0]` can be converted to `THH:mm`  or `THH:mm:ss` formats correctly. Could you provide more information about the type of `$ReadingTime`. If it is a Timex-Property object, we

[2020-08-14 07:23] xieofxie opened #4451 "use HttpRequestMock to mock Luis, QnA etc."
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Put all http mocks together.

**Describe the solution