[2018-04-10 21:32] JonathanFingold commented on #390
@cleemullins working on it. ETA ~20 minutes, couldn't merge subsequent changes cleanly.

[2018-04-10 21:52] #390 closed

[2018-04-10 23:28] garypretty commented on #324
@cleemullins now that the PR has been merged we should be able to close this issue

[2018-04-11 18:57] sayar opened #403 "Bug: Public Members that are not Getters/Setters Properties are not persisted between Turns."
Only properties with getters/setters (and not public members) are being persisted in the context per turn. This should be documented or public members should be persisted. Thoughts?

This was discovered at an internal hack.

[2018-04-11 19:01] sayar opened #404 "Bot Emulator does not handle Click from Hero Card Buttons"
When using Hero card with buttons, the user clicks the button and nothing happens in the new Emulator. In the old emulator, it works perfectly. This bug was discovered at an internal hack.

Reproduction Steps:

Create an IActivity and use an Hero Card with button. Run the bot and click on the button.
[code]

[2018-04-11 19:47] drub0y commented on #403
Version 4 has taken an approach of serializing according to the rules of [Data Contract Serialization](https://docs.microsoft.com/en-us/dotnet/standard/serialization/serialization-guidelines). Under these rules, only public properties are candidates for serialization and only those not marked with the `[IgnoreDataMember]` attribute.

More specifically, the framework is currently using JSON.NET und

[2018-04-12 16:17] drub0y commented on #341
I want to reopen this issue since the State Management DCR PR (#376) has been put on hold.

[2018-04-12 20:10] ovishesh opened #415 "Proactive Messaging - BotFramewokAdapter.ContinueConversation() comes back with null for UserState"
I've been trying to implement a agent handoff setup where:

1. User requests to talk to an agent
2. User is added to a queue (via Table Storage) and UserState has a variable that tracks the state of the user `userState.UserHandoffState` (Bot, **inQueue**, Agent)
3. If the Agent accepts the request, the User get notified as a proactive message and sets `userState.UserHandoffState` to `Agent`
[code]

[2018-04-12 23:29] cleemullins commented on #377
+1 to this.

We're re-doing all the samples in the next 2 weeks as part of an actual plan rather than a bunch of haphazard samples. As part of that plan, they'll be done against the packages.

[2018-04-12 23:32] cleemullins commented on #333
We've made some progress on this. We now have prompts, and have a PR currently outstanding for Waterfall dialogs. We have more plans here, but nothing public yet.

[2018-04-12 23:34] cleemullins commented on #371
We've moved this post-build. It'll probably happen mid-May.

[2018-04-12 23:36] cleemullins commented on #415
@EricDahlvang

Hi ovishesh, Eric should be able to help you here. It's not clear (to me) from your code if you're using the BotBuilder SDK v3 or v4. Can you provide a bit more details?

[2018-04-12 23:37] cleemullins commented on #404
@sayar , this should probably be in the Bot Emulator repo. If you can report this in there, the team that owns the emulator should be able to fix it.

https://github.com/Microsoft/BotFramework-Emulator

[2018-04-12 23:37] #404 closed

[2018-04-12 23:39] cleemullins commented on #403
@sayar

+1 to everything Drew said. We're using POCOs for serialization, and the general rules there mean "Properties'. As I understand it, this is how Entity Framework and other POCO / POJO serialization frameworks work.

[2018-04-12 23:39] #403 closed

[2018-04-12 23:42] JonathanFingold commented on #398
@sayar , Updated NuGet packages dropped earlier today. The wiki now in sync with the 0412 NuGets.

[2018-04-12 23:44] cleemullins commented on #392
@JonathanFingold

I've reached out to @dandriscoll and the Protocol folks to get this answered. Personally, I've not seen this Activity type before, but it's certainly in the Swagger file.

[2018-04-13 01:47] Stevenic opened #419 "FileStorage race condition prevent eTag from always being honored"
In `FileStorage.write()` we do [concurrency checks](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Core.Extensions/FileStorage.cs#L123) outside of a lock which means that it's not guaranteed to be accurate should two separate writers attempt to update the same object at the same time.  The result will be "Last Write Wins" even though the caller requested

[2018-04-13 02:45] Stevenic opened #420 "DCR: BotFrameworkAdapter.continueConversation() and createConversation() should create 'event' activities."
Currently `BotFrameworkAdapter.continueConversation()` mocks up an activity of type `message` and `BotFrameworkAdapter.createConversation()` mocks up an activity of type `conversationUpdate`.  I'd argue that both of these are somewhat dangerous as they can easily trigger unexpected behavior in the bot and it might be safer to mock up an 'event' activity of some sort instead.

The potential issue w

[2018-04-13 03:20] Stevenic opened #421 "Add helper for composing delay(), typing(), event(), endOfConversation(), invokeResponse(), etc."
After stripping these methods off the `TurnContext` it's now cumbersome to compose all of the non-message activity types.  We could add a new `ActivityFactory` helper class that makes it easy to compose all of these again.

[2018-04-13 18:00] drub0y commented on #420
Wow, strange timing because yesterday afternoon I started writing an issue that I was tentatively titling `DCR: Rethinking the "proactive" messaging endpoint in integration libraries` which dovetails almost perfectly with this. Specifically, after working side by side with @ovishesh and seeing him try to port a "real world" scenario from V3 to V4, I realized that the endpoint that the integration

[2018-04-13 18:35] DeniseMak opened #423 "don't set context.Responded for trace events (such as LUIS trace events) and other events that aren't messages to user"
Just discussed this with Tom. The SDK shouldn't set `context.Responded` for trace events (such as LUIS trace events) and other events that aren't messages to the user.

We use `context.Responded` for fallback processing to see if middleware has already sent a response, and execute fallback logic if not. So setting `context.Responded` to `true` for non-message events will break this scenario when y

[2018-04-13 21:54] cleemullins commented on #423
Great point. Fixing now.

[2018-04-14 00:32] #423 closed

[2018-04-14 02:20] tomlm opened #428 "IStorage should return IDictionary<string, object> instead of IEnumerable<string, object>"
No reason to make people grovel over the data structure.

[2018-04-14 07:25] cleemullins opened #429 "Many tests fail when run on a disconnected machine"
Tests for QnA Maker, Translator, and LUIS Recognizer are not correctly being skipped when run on a machine w/o access to the relevant keys.

This means tests pass when run on Corpnet, and on the Build server, but fail in the general case, such as running from a non-corpnet machine.

The pattern that should be used is the "if (HasStorage())" pattern found in the BlobTranscriptTests.

[2018-04-14 07:26] cleemullins commented on #341
This has been resolvbed with the merging of #345

[2018-04-14 07:26] #341 closed

[2018-04-14 07:27] cleemullins commented on #333
(Simple) Dialogs are being merged today. Hopefully, this helps provide a good start. We're looking at many more abstractions, but are not there yet.

[2018-04-14 07:27] #333 closed

[2018-04-14 07:29] cleemullins commented on #346
Removed. With Prejudice!

Thanks Ryan!

[2018-04-14 07:29] #346 closed

[2018-04-14 07:30] cleemullins commented on #289
@JonathanFingold Could you take a quick look at this and resolve? I believe we're plannning to delete the AlarmBot samples soon, so I'm not sure how much we should invest in this.

[2018-04-14 17:57] #389 closed

[2018-04-15 16:51] drub0y opened #433 "Concurrency issue in AzureBlobStorage::Read"
The implementation of `AzureBlobStorage::Read` has a concurrency issue in that it spins off multiple async which can each complete concurrently and, once completed, the logic modifies a single shared `Dictionary<K, V>` instance.

Line 138 is the problem spot here:

https://github.com/Microsoft/botbuilder-dotnet/blob/88c9242112f1ca6b1e8528fc05f34e141d784c08/libraries/Microsoft.Bot.Builder.Azure/Azu

[2018-04-15 17:03] drub0y opened #434 "AzureBlobStorage use of Lazy<> to ensure CloudBlobContainer is still problematic"
`AzureBlobStorage` is now using a `Lazy<ValueTask<CloudBlobContainer>>`, but this doesn't ultimately achieve the goals. First, it effectively eliminates any gain of using `ValueTask<T>` because it will 100% of the time be wrapping a `Task<CloudBlobContainer>` and never a raw `CloudBlobContainer`. So, while this pattern _does work_, it might as well just be typed as `Lazy<Task<CloudBlobContainer>>`

[2018-04-16 02:51] cleemullins commented on #2
Fix in #396 and related PRs around the implementation of type=Trace.

[2018-04-16 02:51] #2 closed

[2018-04-16 02:51] cleemullins commented on #34
Fixed in #394

[2018-04-16 02:51] #34 closed

[2018-04-16 02:52] cleemullins commented on #36
There's a PR sitting out there for this, but we decided to put this (for now) in a Toybox or similar - not in the core product.

[2018-04-16 02:52] #36 closed

[2018-04-16 02:52] #88 closed

[2018-04-16 02:53] cleemullins commented on #108
FlexObject is depricated in #425

[2018-04-16 02:53] #108 closed

[2018-04-16 02:53] cleemullins commented on #109
FlexObject has been fully removed in #425

[2018-04-16 02:53] #109 closed

[2018-04-16 02:53] cleemullins commented on #128
FlexObject has been fully removed in #425

[2018-04-16 02:53] #128 closed

[2018-04-16 02:54] cleemullins commented on #110
FlexObject has been removed by #425

[2018-04-16 02:54] #110 closed

[2018-04-16 02:54] cleemullins commented on #233
FlexObject has been totally removed by #425.

[2018-04-16 02:54] #233 closed

[2018-04-16 02:55] cleemullins commented on #91
This was done months ago. Closing issue.

[2018-04-16 02:55] #91 closed

[2018-04-16 02:55] cleemullins commented on #111
StoreItems has been totally removed by #425

[2018-04-16 02:55] #111 closed

[2018-04-16 02:56] cleemullins commented on #116
We've changed the names on the parameters to be in line with suggestions from CSE and the community. We're now passing "activity" around, rather than Request.

[2018-04-16 02:56] #116 closed

[2018-04-16 02:58] cleemullins commented on #195
The new Bot Emulator is registering a protocol handler, and once that's in we'll update the auto-generated pages to support that

Holding off on resolution until I can verify the behavior has been fixed.

[2018-04-16 02:59] cleemullins commented on #223
Closing, as the LUIS PRs and other recognizer code has changed to be unrecognizable from when this was filed.

[2018-04-16 02:59] #223 closed

[2018-04-16 02:59] #241 closed

[2018-04-16 03:00] cleemullins commented on #255
@drub0y - Is this still valid? I'm gong through all the open issues and closing the ones that are either completed or obsolete. This was done long enough ago, I suspect it's no longer relevant.

[2018-04-16 03:01] cleemullins commented on #262
The current implementation of State has been pretty well settled at this time. We may revisit this post Build.

[2018-04-16 03:01] #262 closed

[2018-04-16 03:01] #277 closed

[2018-04-16 03:03] cleemullins commented on #286
@EricDahlvang  - Eric, if you have a moment, could you investigate this?

I suspect the answer is "By Design" as we're using Newtonsoft to do the serialization, and sticking with it's default behavior(s) is the right thing for us to be doing.

[2018-04-16 03:05] cleemullins commented on #301
The full set of "Blessed" samples has been agreed upon and is part of a larger change set. This set includes tutorials, echo bot(s), and - of course - hello world.

Closing this, as it's tracked elsewhere.

[2018-04-16 03:05] #301 closed

[2018-04-16 03:07] cleemullins commented on #335
@JonathanFingold - This code was recently updated by @tomlm.

Can you check and see if this issue is still relevant? I believe it's resolved.

[2018-04-16 03:07] #349 closed

[2018-04-16 03:10] cleemullins commented on #357
@RamjotSingh @drub0y

By design - the SDK should fully embrace people using DI with the Bot Framework. We're avoiding using DI within the Bot Framework, as it would mean pushing our DI preferences (or lack thereof!) onto other people. As we saw in the V3 SDK with the selection of AutoFaq, that choice can be very polarizing.

If something we're doing is PREVENTING folks from using DI in standard wa

[2018-04-16 09:30] billba commented on #262
I don't quite understand your comment - this DCR was adopted (we eventually settled on `context.service`/`context.Service`.

[2018-04-16 16:27] EricDahlvang commented on #286
The documentation here https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-channeldata states:

Example:

There's also a little more explanation in @craigjensen answer here : https://github.com/Microsoft/BotBuilder/issues/998

[2018-04-16 17:13] drub0y commented on #428
If you feel strongly enough about this it's of course easy enough to change, but I have a philosophy of not spinning up expensive data structures until someone needs really needs them. Right now, if someone really wants/needs to work with this data in an actual `Dictionary<K, V>`, a dev need do little more than wrap the returned `IEnumerable<KeyValuePair<string, object>>` using the `Dictionary<K,

[2018-04-16 17:26] #433 closed

[2018-04-16 17:26] #434 closed

[2018-04-16 19:37] Stevenic commented on #421
That only exists for C#, the JS SDK doesn't have that.  Also, not all activities are supported. Things like "delay" and "invokeResponse" are missing.  And then it doesn't help you to know what fields should be populated.  Do you know which field you use to specify the delay interval for instance?

[2018-04-16 19:38] Stevenic opened #440 "botbuilder-toybox-memories: a different take on state managment"
Cross linking to an issue on the JS side of things:

https://github.com/Microsoft/botbuilder-js/issues/185

[2018-04-16 19:44] drub0y commented on #255
Yeah, this is still valid IMHO. I would not include something that is tied specifically to .NET Core/Standard configuration APIs to the Core library. Honestly, with the addition of the integration library APIs, you'd want to use one approach for .NET Core/Standard and another for WebAPI.

[2018-04-17 00:04] #429 closed

[2018-04-17 00:33] #190 closed

[2018-04-17 00:33] #191 closed

[2018-04-17 00:35] vishwacsena commented on #280
This sample will be replaced by //BUILD.

[2018-04-17 00:35] #280 closed

[2018-04-17 00:36] vishwacsena commented on #286
This by design with json .net

[2018-04-17 00:36] #286 closed

[2018-04-17 00:37] vishwacsena commented on #289
By design. We are replacing the alarm bot sample.

[2018-04-17 00:37] #289 closed

[2018-04-17 00:40] vishwacsena commented on #329
By design. V4 C# is Visual studio only. Happy to evaluate post //BUILD.

[2018-04-17 00:40] #329 closed

[2018-04-17 00:43] vishwacsena commented on #348
By design.

[2018-04-17 00:43] #348 closed

[2018-04-17 00:48] vishwacsena commented on #392
Closed offline (chris w/ jonathan)

[2018-04-17 00:48] #392 closed

[2018-04-17 18:30] cleemullins commented on #428
For me the simplicity of the IDictionary<K,V> semantics of the more complex semantics of the IEnumerable<KeyValuePair<string, object>> seem like a win.

I think this is something to consider post-build, as we consider other potential state mechanisms.

[2018-04-17 18:33] drub0y commented on #428
Yeah I think my point 2 is probably the biggest thing to changing this right now.

How much more do we want to invest in the interface design right now if we're going to have a broader review of all state management post build? This isn't going to kill anybody and it doesn't prevent any scenarios, so I wholeheartedly agree with pushing this to post build/post state management API review.

[2018-04-17 19:05] JonathanFingold commented on #421
On the parity side, that makes sense, and on the missing CreateX side, too.

Since [for C#] the CreateX methods return a strongly typed object, it's easy (if an additional step) to find the associated properties.

In any case, this was not meant as an objection.

[2018-04-17 19:29] JonathanFingold commented on #335
@cleemullins , The issue appears to remain.

The method for getting conversation members is declared/defined in:
- IConversations.GetConversationMembersWithHttpMessagesAsync
- Conversations.GetConversationMembersWithHttpMessagesAsync

I don't see that functionality surfaced anywhere else. And so, you're stuck jumping through a bunch of hoops:
- To get a Conversations object, you need a ConnectorCl

[2018-04-17 21:52] Stevenic opened #446 "Expose GDPR related methods from BotFrameworkAdapter"
The new GDPR connector methods need to be exposed by the adapter.

[2018-04-17 22:02] GeekTrainer commented on #329
Can you please explain the technical reason for this decision? Everything can be done in VS Code.

[2018-04-17 22:03] GeekTrainer commented on #348
Can you please elaborate? This doesn't actually address the concern.

[2018-04-17 22:05] GeekTrainer commented on #348
@vishwacsena Can you please elaborate? This doesn't actually answer my question.

[2018-04-17 22:05] GeekTrainer commented on #329
@vishwacsena Can you please explain the technical reason for this decision? Everything can be done in VS Code.

[2018-04-17 22:15] Stevenic opened #447 "Added OAuthClientAPI methods to swagger"
Currently the `OAuthClientApi` pieces are bolted on to the connector manually through hand-generated code. these methods should be added to the swagger so that they can just be generated using AutoRest.

[2018-04-17 22:23] nrandell opened #448 "Support for ASP.NET Core 2.1?"
What are the plans for supporting this on ASP.NET Core 2.1?

Given the takeup of ASP.NET Core 2.0 when it came out, I guess most people will be upgrading to 2.1 as soon as it is ready.

[2018-04-17 23:27] cleemullins commented on #448
@nrandell, I think it depends on the compatibility story.

If it's easy to "Multi-Target", then supporting both seems like a great idea. If we have to have a 3rd integration library (ASP.Net WebAPI, Core 2, Core 2.1) then it's something we'll need to evaluate.

Personally, I suspect @drub0y will have an ASP.Net Core 2.1 integration PR submitted very soon after 2.1 is released.

[2018-04-17 23:48] cleemullins opened #451 "Remove System.Dynamic dependency from Core.Extensions"
The (now deleted) FlexObject class had dependency on System.Dynamic.

With the removal of FlexObject, we can now remove the Dynamic dependency.

[2018-04-18 16:56] brandonh-msft opened #454 "no XML docs on anything"
There are no XML documentation tags on any of the APIs in the m3.1 nupkgs.
![microsoftteams-image](https://user-images.githubusercontent.com/20270743/38946568-b8c4a2ba-42ee-11e8-892f-cbd9d6be7d20.png)
![microsoftteams-image 1](https://user-images.githubusercontent.com/20270743/38946590-cd657ec4-42ee-11e8-9f60-b7663f4024df.png)

[2018-04-18 18:12] #377 closed

[2018-04-18 18:13] vishwacsena commented on #377
New samples will address this.

[2018-04-18 21:52] JonathanFingold opened #458 "Some of the LUIS types are still in the Microsoft.Cognitive.LUIS namespace"
When the LUIS types were moved to the **Microsoft.Bot.Builder.Ai.LUIS** namespace, nearly all of the ones defined in the `Client` and `Client/Models` subdirectories were skipped and still live in the **Microsoft.Cognitive.LUIS** and **Microsoft.Cognitive.LUIS.Models** namespaces.

[2018-04-18 22:01] garypretty commented on #458
Is assumed that as they were already in their own namespace not consistent with the project that this was intentional which is why I left them where they were. Happy to rectify if needed.

[2018-04-18 22:05] JonathanFingold commented on #458
Interesting, I'll defer to the architects. @cleemullins ?

[2018-04-18 22:09] cmayomsft opened #459 "Use enums for fixed sets of values"
Throughout the SDK, there are a lot of places where string constants or enums could be used in order to leverage Intellisense and/or eliminate errors due to mis-typing.

For example, in Cards, CardAction is a string property ("imBack") vs. a string const or enum.

[2018-04-18 22:14] garypretty commented on #459
Totally agree that anything that can be done to help the dev is great, but we need to ensure that we retain the flexibility to set an arbitrary string value if we need to. For example when integrating with alexa you can set the activity type string to whatever the alexa request type is, but having the enum helps for discoverability and use of pre-defined types.

[2018-04-18 22:25] brandonh-msft opened #460 "Typing activities blow up in live bot"
[code]

Works great in emulator, blows up in Azure with a nullref exception down in Botbuilder core.

also tried

[code]

w/ the same result.

[2018-04-18 22:47] Kaiqb commented on #298
This is getting cleaned up with the new samples.

[2018-04-18 22:47] #298 closed

[2018-04-18 23:09] drub0y commented on #460
Would you be so kind as to edit and include the full stack trace?

![please](https://media.giphy.com/media/aZ4sQUpybai5y/giphy.gif)

[2018-04-18 23:52] cleemullins commented on #460
That's not good. Working on a Repro now. Can you include the stack trace? That would make this much quicker to turn-around.

[2018-04-18 23:55] cleemullins commented on #459
@cmayomsft The point is a good one. The problem with that is compatibility.

Enums break compat in weird ways even if you're only adding things. Likewise, scoping things to enums means the flexibility of the string is gone.

The Microsoft Graph, for example, does the string approach. We (Gareth++) all look at using a back-compat enum of some sort, but there was just no good solution.

[2018-04-18 23:57] Stevenic commented on #460
@brandonh-msft  what channel are you using out of curiosity?

[2018-04-18 23:57] cleemullins commented on #458
This is not intentional. @emadelwany , can you fix?

[2018-04-18 23:58] cleemullins commented on #458
@garypretty - this is not intentional. The old LUIS client was called "Microsoft.Cognitive.LUIS" and we nuked it some time ago. Apparently some of the pieces escaped. Emad, on the LUIS team, should be able to clean this up asap.

[2018-04-18 23:59] cleemullins commented on #460
As a quick workaround, here's Jason's comment on this in the [v3 SDK](https://stackoverflow.com/questions/49908140/bot-framework-cant-get-activitytypes-typing-to-work/49910627#49910627) earlier today.

It's probably the same problem, with the same fix.

[2018-04-19 00:12] emadelwany commented on #458
This client code is just temporarily part of the Microsoft.Bot.Builder.Luis project until the identical code ships as part of the Microsoft.Cognitive.LUIS nuget. Once Microsoft.Cognitive.LUIS nuget is released by the Cognitive Services team, the whole /Client directory should be nuked, and the nuget should be a drop-in replacement (requiring 0 code changes). I can move it to the project's namespac

[2018-04-19 00:15] cleemullins commented on #460
@JasonSowers  has confirmed this is working properly.
"the second code snippet is working in emulator, webchat, and facebook.  However in webchat it is not actually displaying the typing indicator"

[2018-04-19 00:16] JasonSowers commented on #460
@brandonh-msft using the code below I was able to send a typing activity in the emulator, facebook, and webchat.  It did not blow up at all the only thing that was an issue for me was that in webchat the typing indicator was not actually displayed, but the code ran just fine.  Can you please provide more detail and context?

[code]

[2018-04-19 00:23] Stevenic opened #464 "parity: BotFrameworkAdapter.sendActivities() never calls replyToActivity()"
The JS version of the BotFrameworkAdapter will call `replyToActivity()` for activities with a `ReplyToId` and `sendToConversation()` for activities without a ReplyToId.  The C# version of the adapter only ever calls `sendToConversation()`.

[2018-04-19 00:25] JasonSowers commented on #460
I think Steve is correct.  It blew up in Teams stack trace below:

[code]

[2018-04-19 00:27] JasonSowers commented on #460
Yup @Stevenic  is right the following code worked:

[code]

[2018-04-19 00:29] Stevenic commented on #459
So these properties all have to stay `strings`. Changing them to enums is a non starter as this is a protocol level thing.  With that said, adding string constants is fine but keep in mind that I lot of these properties, like the `CardAction.type` are very open ended and every channel is likely to have a different set of values it supports.  There are some common standard ones like `imBack` but te

[2018-04-19 00:33] cleemullins commented on #460
@JasonSowers will update CreateReply tomorrow to make sure this is always filled out. Note that it *only* fails with Teams.

Note: I think this thread highlights that Bug Reports really need to be more detailed. I'll talk with the team tomorrow, and make sure we have a Bug Template.

[2018-04-19 00:37] JasonSowers opened #465 "Teams and Skype do not return a ResourceResponse for typing activities"
Reporting bug for issue #460. When using teams and skype, the channels do not return a `ResourceResponse` after an `ActivityType.Typing` has been sent.

The code Blows up on this line [`var activity = activityList[i];`](https://github.com/Microsoft/botbuilder-dotnet/blob/8acf7a9e118863764b76abef83fb3575165e70dd/libraries/Microsoft.Bot.Builder.Core/TurnContext.cs#L255)  Because there is no response

[2018-04-19 00:43] JasonSowers commented on #460
That code is no longer working after about 5 successfully sent typing activities, it blows up everytime now.

[2018-04-19 03:05] drub0y commented on #459
After years of dealing with API versioning, I have to agree with leaving them strings... enums are not forward compatible. 😣 As long as there's a static class filled with all the possible values for a given version I think that provides a happy medium.

[2018-04-19 03:26] brandonh-msft commented on #460
My example occurred in Skype.

[2018-04-19 04:58] brandonh-msft opened #466 "Conversation restart doesn't work"
**Channel**: Skype
**nupkg v**: alpha-m3.1

I have a long-running operation my bot kicks off. As such, I send to my endpoint a serialized version of ConversationReference like so:
[code]

and I've added another controller to my bot like so:
[code]

For my `POST` handler, I have the following:
[code]
but, despite no exceptions in deserializing back in to a `ConversationReference` and all the proper

[2018-04-19 05:07] brandonh-msft commented on #466
I also tried this:
[code]
with the same results

[2018-04-19 05:33] drub0y commented on #466
Oh you're doing proactive, there's a known bug (#314) there right now that's fixed in #461.

[2018-04-19 09:23] devedse opened #467 "Using botbuilder in combination with a .NET Core Azure Function"
**Introduction**

I'm currently working on building a bot service using the latest .NET Core technology. I would like to set this up using Azure Functions as they are pay per use instead of having to pay for the complete month.

They way this worked within the bot builder framework is that I would create a .NET Standard project which contained all the bot logic. The .NET Framework Azure Function w

[2018-04-19 14:47] drub0y commented on #467
Good news: this is totally possible today!

We're aware that we need to whip together some official docs/samples on Azure Function hosting (and maybe even a first class experience), but, for now, [let me point you to this sample from @brandonh-msft where he has replicated the `EchoBot` sample in Azure Functions](https://github.com/brandonh-msft/botbuilder-functions). Please note that, at the time

[2018-04-19 14:58] drub0y commented on #451
Looks like #463 took care of this and is merged in so closing out this issue.

In future, suggest including "Fixed #<issue-number>" in the commit and/or PR description to automatically link and close out issues.

[2018-04-19 14:58] #451 closed

[2018-04-19 15:25] drub0y commented on #448
So, this is a bit of an overloaded question. The short answer is: it should "just work".

First, .NET Core has declared they are using a "roll-forward" approach to their major versions, so whatever works on 2.0 should work on all 2.x. So that means if you were to spin up a new project and target .NET Core 2.1, you will be able to use all of our libraries. Not only that, but, since the libraries ar

[2018-04-19 15:29] brandonh-msft commented on #467
Also worth noting, the bot doesn't work live (on Skype) due to issues w/ the SDK.

[2018-04-19 15:31] nrandell commented on #448
That's what I thought. I've had it running on 2.1, but found some issues running on Azure where I kept on getting 502.3 errors when sending activities at certain times.

However - and this is a big however - I think it may have been down to user error on my part, which is why I wanted to ask the question about should it work rather than a specific problem.

Now I've got my scenario working under 2

[2018-04-19 15:45] drub0y commented on #466
I've decoupled this fix from the other work in #461, now the PR we're waiting for is #468.

[2018-04-19 15:54] drub0y commented on #467
@brandonh-msft That's a fair point, that needs looking into still. I think the main point here is your sample clearly demonstrates a working integration of the v4 Bot Framework within an Azure Function.

Right now the sample works great with the emulator for sure, so at least people can use the sample to start writing some code and we'll of course sort out whatever the internal issue is with integ

[2018-04-19 16:36] drub0y commented on #448
Great, let us know!

[2018-04-19 17:48] JonathanFingold commented on #458
If changing the namespace for these will introduce a breaking change later, I think it may be better to not make the change. I can add a comment in the doc XML remarks that these will be part of a later version of the Microsoft.Cognitive.LUIS NuGet package.

[2018-04-19 18:34] drub0y commented on #467
### TL;DR - Bottom line for now: non-authenticated emulator requests _SHOULD_ work, anything authenticated _WILL NOT_ work.

Ok, just wanted to give you an update here....

First, I want you to see that it does work in an unauthenticated scenario. Point your bot emulator here at my deployed instance with no credentials and see it work for yourself: http://drmarsh-echobot-function.azurewebsites.net

[2018-04-19 19:09] brandonh-msft commented on #467
Yes the header name wasn't right; that had been resolved in all my deployments to Azure and still wasn't able to chat w/ the bot.

[2018-04-19 19:29] drub0y commented on #314
This should be completely working now without any need for workarounds. You _DO NOT_ need to use the `BotFrameworkAdapter` specific overload of `ContinueConversation` that takes the `botAppId` explicitly and can instead just use the base version of `ContinueConversation` from within an existing turn and it will automatically link up to the correct bot that was stored with the `ConversationReferenc

[2018-04-19 19:51] drub0y commented on #454
Yeah, the problem is the `<DocumentationFile>` property has a `Condition` to only build for the `Documentation` specific build configuration only and not `Release`. There's a couple ways to skin this cat. Options:

 1. Put the `<DocumentationFile>` property into the `Release` specific property group - probably simplest for now, but dupes it
 2. Change the condition on the current property group th

[2018-04-19 19:54] brandonh-msft commented on #467
No dice. Appears putting Bots on Azure Functions is blocked by https://github.com/Azure/azure-functions-host/issues/992 as well.

[2018-04-19 20:36] drub0y commented on #466
@brandonh-msft #468 was merged in earlier this morning. There are no packages published for it, but if you build locally and reference the local packages you can try out the fix and see if it's working for you now. At bare minimum I know that specific `NullReferenceException` will be gone. I was also able to get a contrived test scenario working locally against the emulator in which I was able to

[2018-04-19 20:45] Stevenic opened #471 "parity: UserAgent string for .Net contains wrong protocol version number"
The UserAgent string for .Net found here:

https://github.com/Microsoft/botbuilder-dotnet/blob/542b988d84f3ab9cfd9a6260fd39edccc2191b43/libraries/Microsoft.Bot.Connector/ConnectorClientEx.cs#L34

Translates to `Microsoft-BotFramework/4.0 (BotBuilder .Net/${package version})`.

Compare that with the JS UA string of `Microsoft-Botframework/3.1 (BotBuilder JS/${package version})`.

My understanding i

[2018-04-19 20:59] dandriscoll commented on #471
That's right, the JS string is correct.

[2018-04-19 21:01] jorupp commented on #467
re: doing something like assembly bindings on Azure functions, you can try hooking the `AssemblyResolve` event as described in https://github.com/Azure/azure-functions-host/issues/992#issuecomment-298624059.

That approach has worked for the bot I have deployed as a v1 Azure Function.

[2018-04-19 21:39] nrandell commented on #448
So I created a new test repository (https://github.com/nrandell/botbuilder-dotnet-issue-448) - and guess what - it all works ok!

I then switched the original version back to 2.1 and it worked ok.

This may be something transient that is down to the roll out of 2.1

I'll close the issue for now.

[2018-04-19 21:39] #448 closed

[2018-04-19 21:51] JonathanFingold opened #472 "Some types are internal or private, instead of public"
The following types are suspiciously not public:
[code]
[code]
[code]
- [The corresponding BotMessageHandler for ASP.NET Core is public.]

[2018-04-19 22:18] drub0y opened #474 "Build and publish NuGet symbol/src packages"
## Overview
Officially released packages should publish src and symbols so that the debugging experience can be as flawless and rich as possible for the scenario where the developer is working with packages instead of the raw source code.

## Build Changes
First, we need to enhance the builds so they build companion symbols package for each NuGet package. This would only take adding an `<IncludeSy

[2018-04-19 22:29] drub0y opened #475 "Nightly (at least) builds of NuGet packages"
Most of the big projects out there in .NET land these days are providing _at least_ nightly builds of their NuGet packages for those who want/need to live on the bleeding edge. For example, .NET Core has pretty much been doing this since day 1: https://dotnet.myget.org/

The build part is pretty easy, but the publishing of the packages needs a little up front work because they shouldn't be publish

[2018-04-19 22:32] drub0y commented on #472
*RE: BotMessageHandler* - oops, yeah I made the Core one public, I guess I just missed the WebAPI one. Honestly it's debatable that these should be public, but I know a lot of people tend to be upset when things are marked internal/private so, barring any discussion, I was just erring on the side of caution and making it open until we discussed otherwise.

[2018-04-19 22:40] JonathanFingold commented on #472
I don't really mind as long as it's intentional. With one BotMessageHandler public and one internal, this looked like an oversight.

[2018-04-20 04:35] brandonh-msft commented on #466
Doesn't fix the problem. I built the latest `master` source, published the packages to a VSTS instance, and pulled them down. I use them, ship the bot to Azure, and get a proactive message. At the point where I do `turn.SendActivity()` it blows up with:

[code]

[2018-04-20 12:49] devedse commented on #467
So I just ran the bot local again without any AppId / password filled in:
![image](https://user-images.githubusercontent.com/2350015/39051662-ac0e65ee-44a9-11e8-88ad-a9d2420a7664.png)

But I'm still running into a 500 internal server error that the JwtValidation failed. How can I ensure that the Bot Emulator does not provide credentials?

I also tested to connect to your bot using the Bot Emulator

[2018-04-20 15:35] JonathanFingold opened #478 "QnAMaker: Is using a hardcoded Region in the endpoint string a bug?"
Is it a problem for the Region to be hardcoded into the QnA Maker service endpoint?

We currently have

[public const string qnaMakerServiceEndpoint = "https://westus.api.cognitive.microsoft.com/qnamaker/v3.0/knowledgebases/";](https://github.com/Microsoft/botbuilder-dotnet/blob/762f76b7188b53607ea55cd05c73781af0911cc4/libraries/Microsoft.Bot.Builder.Ai.QnA/QnAMaker.cs#L14)

and then this in the c

[2018-04-20 16:00] JonathanFingold opened #479 "QnA Maker: improve error checking and default value handling"
In the QnAMaker constructor we stub in default values for ScoreThreshold and Top options, but don't have any error checking. The call to `GetAnswers` include no further checks or processing on these values.
[code]
These two options jumped out at me, there may be others that should also be checked in code before sending the request.

**Note**: ScoreThreshold is used for filtering the response, so i

[2018-04-20 18:54] cleemullins commented on #465
Closed by #480

[2018-04-20 18:54] #465 closed

[2018-04-20 18:56] cleemullins commented on #460
Fixed in #480

[2018-04-20 18:56] #460 closed

[2018-04-20 18:58] cleemullins commented on #466
@brandonh-msft Thanks for the bug report, and the detailed analyis. I'll look into removing the problematic overload completly. I want to sync with @Stevenic to make sure we mirror that behavior in Node.

[2018-04-20 19:18] chrimc62 opened #481 "LUIS tracing uses obfuscated"
@cleemullins suggested this should be changed to be like QnA Maker where there is a specific trace record.

[2018-04-20 19:33] Stevenic opened #482 "Set inputHint in sendActivity() and MessageFactory"
We had agreed that we would by default set the `inputHint` to `acceptingInput` for all outgoing activities.  We need to add this logic to `TurnContext.sendActivity()` and `MessageFactory`.

[2018-04-20 21:11] cleemullins commented on #478
Every time I see this, I believe it's a bug. Then I reach out to the product team and ask, and they say "That's correct".

So at this point, it's right. As the product goes GA shortly, that may change.

[2018-04-20 21:11] #478 closed

[2018-04-20 22:05] #472 closed

[2018-04-20 22:07] #459 closed

[2018-04-20 22:11] cleemullins commented on #466
Fixed / Merged in PR #483

[2018-04-21 00:32] cleemullins commented on #471
Fixed in #489

[2018-04-21 00:32] #471 closed

[2018-04-21 00:47] cleemullins commented on #464
Resolved in #490

[2018-04-21 00:47] #464 closed

[2018-04-21 00:56] tomlm opened #491 "Make botadapter have single connectorclient for perf reasons"
Remove lazy static HttpClient, as it is not sufficient for high perf scenarios

[2018-04-21 16:52] alariju opened #495 "Accessing the user responses after a dialog is finished"
Hello!

First, I would like to thank you guys for the effort and the project, it's really nice!

My question is really simple. Is there a way to access or keep track of the user responses to a dialog? Right now, I have a 4 steps dialog, and at the end, I would like to preview the user a summary of its reponses (among some info I get to some API calls).

[2018-04-21 17:05] cmayomsft commented on #459
Agree, static class filled with all the possible values are a happy medium.

This doesn't feel closed to me. Totally understand the point @stevenic makes above, but having to remember these strings and make sure they are typed correctly is way to easy to introduce bugs.

[2018-04-21 19:34] drub0y commented on #459
Yeah, probably shouldn't be closed until the static class/constants are there an accounted for.

[2018-04-23 15:57] JonathanFingold opened #498 "Proactive messaging throws OAuthExcption (Unauthorized)"
## Setup
1. Create a bot and assign it credentials.
2. Add proactive call
[code]
1. Run the bot locally.
1. Test it in the old emulator.

## Result
I see this against the bits I built this morning (4/23):
[code]

[2018-04-23 16:05] drub0y commented on #314
NOTE: This was regressed by #483 and is likely a problem again. See discussion on #466.

[2018-04-23 16:33] drub0y commented on #466
Removing the overload does not seem like the correct solution to this and has now regressed #314. The default overload of `BotAdapter::ContinueConversation` needs to be overridden in `BotFrameworkAdapter` or else it won't have a chance to inject the services into the `TurnContext` that it relies on later.  So, while I understand I used the wrong value in the implementation (bot id vs bot _app_ id)

[2018-04-23 17:42] cleemullins commented on #482
Resolved via #494

[2018-04-23 17:42] #482 closed

[2018-04-23 19:40] drub0y commented on #498
Err... sorry, your sample code doesn't actually seem like it could work because you're calling an overload of `SubscribeUser` that doesn't take the `appId` that your `SubscribeUser` method signature actually requires. Not only that, but you couldn't just pass `context.Adapter` like that because it's of type `BotAdapter` and your `SubscribeUser` needs a `BotFrameworkAdapter`. (Side note: [this is e

[2018-04-23 22:46] cleemullins commented on #479
@garypretty Thanks Gary!!

[2018-04-23 22:46] #479 closed

[2018-04-24 13:47] garypretty commented on #446
Merged by @cleemullins so this should be ok to be closed now.

[2018-04-24 14:50] JonathanFingold commented on #498
@drub0y , I've fixed my copy-paste error and have just included the full bot code. Agreed that this issue is very similar to #466, if not an outright duplicate.

[2018-04-24 14:59] JonathanFingold commented on #498
@drub0y , the following overload works, passing in the value from my GetAppId(context) call:
[code]
However, this is probably dependent on the BotFrameworkAdapter setting the "BotIdentity" ClaimsIdenty behind the scenes.

[2018-04-25 04:52] Stevenic opened #509 "DCR: change QnA Maker component to take URL for configuration"

[2018-04-25 18:09] cleemullins commented on #509
Should we take the full URL (Host+Segments), or just the host?

The current default is:
`public const string qnaMakerServiceEndpoint = "https://westus.api.cognitive.microsoft.com/qnamaker/v3.0/knowledgebases/";`

I think the most flexible option is to just remove this in it's entirety, and have the developer pass in the fully URL.

[2018-04-25 18:16] vishwacsena commented on #446
Complete

[2018-04-25 18:16] #446 closed

[2018-04-25 19:01] garypretty opened #510 "Serialization error when using Bot.Builder.Classic"
Hi.

Trying to port a simple existing bot which only has a single dialog, a Luisdialog, over to v4 using the Classic package. The bot runs, but during execution it throws a serialization error, **'Type 'System.RuntimeType' in Assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e' is not marked as serializable.'**. Error is thrown in Store.cs. (see the

[2018-04-25 23:38] #495 closed

[2018-04-26 16:57] ivorb opened #516 "Confusion between Prompts and Dialogs library"
**Repo steps:**

Create basic prompt/dialog bot, using number prompt, such as the example in the wiki.

**Result:**

If you just use Dialogs library, you can't use NumberResult (necessary to get to the Value of the response). If you use just the Prompts, you can't use dialogs (DialogSet in this case). Using both complains about an ambiguous reference to NumberPrompt (you can specify the library, b

[2018-04-27 02:00] ovishesh commented on #509
At the moment, QnA Maker doesn't give an entire URL (Host+Segments) and unless the QnAMaker team has plans to change that on the portal adding an additional parameter for Host would work better.

Something similar to [this](https://github.com/Microsoft/botbuilder-dotnet/blob/b01fe6e3de5f37b3d93875dda965fa8166c3cd28/samples/Microsoft.Bot.Samples.Ai.QnA/Startup.cs#L36) and something that is alinged

[2018-04-27 15:29] garypretty commented on #509
We also might need to allow developers to specify if they want to target v2 or v3 APIs.  The only difference for v3 are some additional properties so this should be straightforward. Happy to help here if needed.

[2018-04-28 00:28] cleemullins opened #522 "Fix broken QnA Maker tests causing the Build to fail"
The subscription used to run QnA Maker has been whitelisted to the new release of QnA Maker. This causes the old tests to now fail.

I've got to clean this up.

related to #509

[2018-04-30 20:20] DeniseMak opened #525 "Intent and Entity names"
The RecognizerResult changes intent and entity names like "HomeAutomation.TurnOn", "HomeAutomation.Room", "Calendar.Add" to "HomeAutomation_TurnOn", "HomeAutomation_Room", "Calendar_Add".

Is it possible to keep the periods as they are?

- All of the prebuilt domain models have periods in the names.

- Behavior is inconsistent with Node.js

- Changing them to underscores in the results makes it ha

[2018-04-30 20:46] DeniseMak commented on #525
Just talked to @chrimc62 - this is by design.

[2018-04-30 20:46] #525 closed

[2018-05-02 00:13] Andrea-Orimoto opened #528 "Final echobot with state sample doesn't handle state well when sending a few quick messages one after the other"
![image](https://user-images.githubusercontent.com/17152540/39499459-f505bed4-4d62-11e8-9672-326f1ee1539e.png)

if you send multiple messages fast one after the other, state does not catch up.

[2018-05-02 04:09] gabog opened #530 "Azure storage issues"
Hi, I am trying the latest version of BF with a sample bot I wrote and I am running into several issues when trying to use AzureTableStorage or AzureBlobStorage to store conversation state.

When using AzureBlobStorage I get the following exception:
![blobexception](https://user-images.githubusercontent.com/12264946/39504620-c4cdbce8-4d9a-11e8-9c4f-ae4c15dcd0fb.png)

When using AzureTableStorage I

[2018-05-02 04:13] gabog opened #531 "Guidance on Storage for State"
Hello @cleemullins , is there any guidance one when to use Azure Tables, Azure Blobs or DocumentDB for persistent bot state?
What needs to be considered and it what circumstances is one preferred to the other?
Also, is there any guidance on how to handle old state? As it is right now, old sessions will be stored indefinitely, what would be a "clean way" of removing old data in each case?

Thanks

[2018-05-02 21:06] johnataylor commented on #522
should be fixed now - at least the basic scenario works and the unit tests work

[2018-05-02 21:06] #522 closed

[2018-05-02 21:06] johnataylor commented on #509
should be fixed now

[2018-05-02 21:06] #509 closed

[2018-05-02 21:09] johnataylor opened #534 "QnA Maker Regex is problematic and will often fail"
- Cut and paste can introduce formatting problems (extra spaces.)
- Multi-line escaped strings in code are more awkward than useful. We are expecting the programmer to format and escape this somehow?

Overall the feature seems to be more trouble than it is worth. Suggest removing feature.

[2018-05-02 21:10] johnataylor commented on #534
and for consistency remove from JavaScript implementation as well

[2018-05-02 21:13] johnataylor opened #535 "QnA Maker .NET implementation inconsistent with JavaScript"
QnA Maker in .NET is layered as separate middleware and client components - one wrapping the other.

JavaScript is not factored this way.

The C# also introduced additional option properties: StrictFilters and MetadateBoost.

The C# (because of the layering) has client options and then derived middleware options. Perhaps the middleware options should just be generic across middleware.

Overall the

[2018-05-02 21:36] RamjotSingh opened #537 "ConnectorClient init does not honor DelegatingHandler being passed unless UseSharedHttpClient is set to false."
[code]

The above code replaces the HttpClient thus resulting into DelegatingHandler not being honored unless UseSharedHttpClient is set to false. And since it is by default set to true, thus making it very hard to discover this without looking deep into code and understanding the Swagger generated code pattern.

[2018-05-03 20:53] drub0y commented on #537
To be frank... the usage of `ConnectorClient` is flawed at the moment and that flawed usage is what seems to have lead to `UseSharedHttpClient` even being added.

How is it flawed? Well, first we need to make sure we understand that `ConnectorClient` derives from `ServiceClient<T>` from the `Microsoft.Rest.ClientRuntime` SDK/NuGet package. `ServiceClient<T>` itself is just an abstraction over/arou

[2018-05-07 07:57] SamVanheer opened #550 "MemoryStorage cannot store private fields"
When using MemoryStorage and possibly other types of storage private fields are not stored.
Even if fields are made public, some Bot Builder framework types have private fields that cannot be stored, such as DialogSet.

When storing a class that contains a DialogSet the set will not be restored with its previously added dialogs, resulting in an exception when a new dialog or prompt is started.

I

[2018-05-07 07:57] nimbusparis opened #551 "Location Card"
Is it possible to send location to user with a card? Perhaps Adaptative Cards could handle that? Can you add a sample of this feature?

[2018-05-07 08:39] Stevenic commented on #551
Are you just wanting a card that has a map with a pin in it? You should be able to use Bing Maps to generate such a card. I've seen several bots that do this.

[2018-05-07 09:38] nimbusparis commented on #551
In fact, i would like both way : tell the user to go to a specific location and receive from the user where he is (the user should send the location, I don't intent to get it silently).
The location card using Bing I've seen was developed for previous bot builder framework, I didn't see anything for the v4.0.
I mainly target Telegram Bot, would it be possible to develop a specific card for this ki

[2018-05-07 16:52] drub0y commented on #550
First, purely regarding serialization, please [check out this reply that I gave on a previous issue](https://github.com/Microsoft/botbuilder-dotnet/issues/403#issuecomment-380573809) that addresses this topic. TL;DR - this is indeed "by design".

Now, specific to your question about `DialogSet`, yes any state you want to persist you need to persist (and retrieve) through the state management APIs

[2018-05-07 16:54] Stevenic commented on #551
I'll have to re-investigate a LocationPrompt. The core issue is not every platform supports sending location to the bot but it might be ok to have a LocationPrompt that only works on select channels.  It's been a year or so since I dug into which channels support sending location and which don't.

On the outbound side there's not many updated samples for v4 yet but they'll get there pretty quickly

[2018-05-07 20:32] drub0y opened #553 "Expose/consume BotFrameworkAdapter instance as service in ASP.NET integration (.NET Core)"
Currently the ASP.NET integration for .NET Core creates a `BotFrameworkAdapter` internally and does not expose it to be discovered/used by other code that might want access to it. For example, it's possible that in addition to the defaults endpoints that the integration library provides, the user might want to expose their own custom endpoints via custom controllers/handlers. Instead of keeping it

[2018-05-07 20:38] drub0y opened #554 "Consume optional BotFrameworkAdapter instance as service in ASP.NET integration (WebAPI)"
Currently the ASP.NET integration for WebAPI creates a `BotFrameworkAdapter` instnace internally and does not expose it to be discovered/used by other code that might want access to it. For example, it's possible that in addition to the defaults endpoints that the integration library provides, the user might want to expose their own custom endpoints via custom controllers/handlers.

Now, unlike .N

[2018-05-07 20:44] drub0y opened #555 "Expose configuration of the HttpClient that will be used by the BotFrameworkAdapter in ASP.NET integrations"
Right now the ASP.NET integrations (both .NET Core and WebAPI) do not expose a way to specify the `HttpClient` instance that the `BotFrameworkAdapter` should use as the basis for making outbound requests to the Bot Framework Service.

Need to:

 - [ ] Expose configuration of the `HttpClient` to each API
 - [ ] Use the configured `HttpClient` instance when creating the underlying `BotFrameworkAdapt

[2018-05-07 23:05] vcardins opened #557 "Multiple contexts based on Card Selector"
Hi All,
I'm fairly new to the BOT world and I haven't found much information out there for the new SDK v4 (I haven't worked with v3 before).
What I'm trying to accomplish is simple (I'm using [AspNetCore-RichCards-Bot](https://github.com/Microsoft/botbuilder-dotnet/tree/master/samples-final/AspNetCore-RichCards-Bot) as seed project):
Once I select one of the available options, instead of returning

[2018-05-08 08:14] vcardins commented on #557
Hello @Stevenic, thank you very much! As I said, I'm learning through examples, I put a gist with some of the bot files  so you can have a better understanding. https://gist.github.com/vcardins/23a9f363ef1eeb7a3414790193148881.

[2018-05-08 11:35] SamVanheer commented on #550
Alright, i've set up my dialogs to create the dialog set in a no argument constructor to ensure they are always created, all state is kept as public properties. Thanks for the information.

[2018-05-08 11:44] SamVanheer opened #558 "No way to get result value from DialogContext.End()"
When creating a dialog context to run small dialogs such as `TextPrompt`, there is no way to get the result value (`TextResult`) unless you're running the prompt from inside another parent dialog.

The `DialogContext` constructor that takes a callback to get the result value is marked internal, and there is no other way to get to this object. When a prompt recognizes input the dialog prompt versio

[2018-05-08 11:52] Arincon opened #559 "ConfirmPrompt not uses Culture parameter"
I am using ConfirmPrompt in my development, and I was passing to it the value of `Culture.Spanish` in the constructor, but it was not working. I am looking at the source code and I noticed this:

[code]

As you can see, the culture parameter is not being used at all, so it is the cause it does not work.
Do you know if this is fixed in another branch or release?
If not, I have done a PR (#560) with

[2018-05-08 13:26] SamVanheer opened #561 "FormBuilder equivalent in V4"
Will there be a FormBuilder equivalent that enables us to define the data to be prompted for?

FormBuilder does a lot of work behind the scenes, like initializing fields with given values, allowing fields to be edited if requested, pattern matching, etc.

Such a tool would be very good to have, though it would probably be difficult to implement given the stateless nature of the new bot API.

[2018-05-08 13:35] wmeints opened #562 "System.ArgumentNullException: 'Value cannot be null.' when credentials provider not configured"
When I configure my ASP.NET Core app with the code below, without specifying a credentials provider.
I receive a `ArgumentNullException` on the line `app.UseBotFramework()` without actually specifying what the problem is.

However, I know what my problem is by looking  at the stacktrace: I didn't specify a credential provider.

I think it would be a great help if people got a descriptive error mes

[2018-05-08 14:40] drub0y commented on #562
Thanks for reporting this! Ironically I just stumbled across this yesterday while working on unit tests for the ASP.NET integration APIs and am already working on a fix. The proposed fix will be as follows:

Now, the only thing I don't like about this is that this will at least get past the `ArgumentNullException`, but you'll run into a runtime problem later about missing credentials if those sett

[2018-05-08 14:42] #550 closed

[2018-05-08 15:16] Stevenic commented on #561
Nothing to announce just yet but we'd love to create an updated version of FormFlow for v4.

[2018-05-08 15:25] Stevenic commented on #558
So you can use any dialog (including prompts) on its own outside of a `DialogSet` using it's `begin()` and `continue()` methods. Here's a basic sample for calling each.  It's in JavaScript but the same basic pattern should apply in C#...

Calling begin() to start prompt:

[code]

Save off the state object you passed in (it's a dictionary in C#) and when the user replies call continue():

[code]

T

[2018-05-08 16:15] vcardins commented on #557
Actually, the work flow shoild start with PromptStep.CardSelector and then when I select one of the available options (Create Project or Update Profile) it switches to the other workflow and only returns to the CardSelector after being completed. Basically, select an option from the menu and start a different workflow with different state.
Hope I'm making myself clear, it'd be similar to v3 FormFl

[2018-05-08 17:13] Stevenic opened #564 "DCR: add extra safety checks to DialogContext.continue() and begin()"
The driver code for using dialogs, while flexible, is pretty easy to get wrong.  The two primary things I see happening are people calling `dc.continue()` and then calling `dc.begin()` without checking whether the bot responded or the reverse... They call `dc.begin()` and then call `dc.continue()` which you pretty much should never do. I've done both myself so it's pretty easy to accidentally do e

[2018-05-08 17:20] Stevenic commented on #557
The code I pasted was from your Gist... So I see that you're starting `GatherUserProfile` when the user first messages not `CardSelector`. I think what you want to do will work but it looks like you're starting the wrong dialog.

[2018-05-08 17:27] Stevenic commented on #557
To better understand what's happening in your `onTurn()` routing code...

You're calling `dc.continue()` first to let any active dialog have a chance to run.  When that's done you need to know if anything ran and the easiest way to determine that is to see if anything responded to the user using `context.responded`. If nothing responded then most likely there wasn't an active dialog so you should

[2018-05-08 21:28] drub0y commented on #562
Ok, I'm flip-flopping on this because I had this change all set and working in tests and then I remembered that, when someone just does file -> new project and wants to fire it up in an emulator locally, they shouldn't be required to be supply any specific credentials because they might not even have any yet. So I don't want to put that 🚧 in the way of the experience.

Instead I'm going to go the

[2018-05-09 00:02] vcardins commented on #557
Hey @Stevenic, I do appreciate your help. I'll try again tonight and see how it goes. For now, I can tell that if I have:
[code]
and then select UpdateProfile, the first UpdateProfile question/dialog is skipped and `result` is always null for the subsequente ones.
Also, is the following piece the correct way of changing the workflow? `OnTurn` will always be called anyways after the card selection

[2018-05-09 03:56] vcardins commented on #557
@Stevenic, just tested, some more info
If at `onTurn` I have
[code]
then select Update Profile,
[code]
The `GatherUserProfile` workflow breaks cause the result object is null, see screenshot below. Again, if I start with `UpdateProfilePromptStep.GatherUserProfile` it works just fine. Ideas?
![image](https://user-images.githubusercontent.com/2383329/39794848-4eee7dde-5301-11e8-8c2b-3fc6cdc8d63e.png

[2018-05-09 16:18] gabog commented on #531
Hi, from looking at what gets stored in state, I don't see a last modified field in the data (unless I'm missing something). It would nice to add that to the state providers so we can build tools to delete stale state that hasn't been used for a while.

[2018-05-09 17:30] drub0y commented on #531
Yes, it's true there is nothing in the bot state abstraction that represents the last modified (right now), but if you consider something like the Azure Table Storage implementation, each row that's stored there has an implicit timestamp column in the backing store so you can always use that. Blob Storage and File System both have a concept of last modified, etc. Knowing that, you could go against

[2018-05-11 00:27] gabog commented on #531
Thanks, if I use CosmosDB, the timestamp is not there either, I haven't used FileSystem but I think those attributes can be altered unintentionally if you move or copy the files. My preference would be to have the timestamp as part if the data itself in all the providers to make it more consistent across the board.

[2018-05-15 15:19] gopal300 commented on #559
i have similar problem , to be precise it´s with the localization of the Prompt Confirm.

[2018-05-15 15:59] Arincon commented on #559
If you want to get it working until this is fixed in the repo and in the Nuget, you can copy the classes I modified in the PR, add these classes into your project, and use the modified ConfirmPrompt class instead of the class in the dll.

[2018-05-15 21:24] mjwsteenbergen opened #572 "Utterence cannot be null"
At [LuisRecognizer.cs#L58](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Ai.LUIS/LuisRecognizer.cs#L58) there exists a line to check that the utterence is not null. However, when a user uploads a file (image,recording), there exists no such utterence. This results in an exception.

Tested in Telegram, Web Chat and Emulator

Full stacktrace:
[code]

I im

[2018-05-16 07:00] sidecus opened #573 "Any plan to support bot authentication capabilities via Azure Bot Service?"
V3 SDK seems to support bot authentication via Azure Bot Service as documented [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-authentication?view=azure-bot-service-3.0&viewFallbackFrom=azure-bot-service-4.0).

Is this any plan to support this in the new botbuilder SDK?

[2018-05-16 18:38] drub0y opened #575 "Race condition can occur around AzureBlobStorage container initialization"
The code currently initializes the `_container` field before completing the actual initialization that calls `CreateIfNotExists`. This can lead to two separate threads coming through and `Thread1` starts the initialization process, but because it assigned to `_container` before it finished, `Thread2` sees the `_container` as non-`null` and just assumes it can use it, but can now get an error becau

[2018-05-16 18:41] drub0y opened #576 "Race condition can occur around AzureTableStorage container initialization"
The code currently initializes the `_table` field before completing the actual initialization that calls `CreateIfNotExistsAsync`. This can lead to two separate threads coming through and `Thread1` starts the initialization process, but because it assigned to `_table` before it finished, `Thread2` sees the `_table` as non-`null` and just assumes it can use it, but can now get an error because the

[2018-05-16 19:02] #575 closed

[2018-05-16 19:02] #576 closed

[2018-05-16 19:47] #553 closed

[2018-05-16 19:47] #555 closed

[2018-05-16 19:47] #562 closed

[2018-05-16 19:48] drub0y commented on #554
This is now addressed with #556 having been merged in.

[2018-05-16 19:48] #554 closed

[2018-05-16 22:58] cleemullins commented on #573
We're working on the same OAuth support now.  You can see it in PR #520.

Hopefully, it'll come in quite soon. I believe the support is already there in the Node SDK, and we're just waiting on some minor code review changes.

[2018-05-16 22:59] cleemullins commented on #572
Good Catch.

@emadelwany, could you take a look and confirm the correct behavior?

[2018-05-16 23:01] cleemullins commented on #559
@johnataylor, who wrote these C# prompts, is out until next week. Can this wait until then? Ideally he would review/incorporate, just because I'm not sure I have enough context.

Note: This change will need to be done in the Javascript SDK as well to keep them in sync, and then the docs have to be updated as well. :)

[2018-05-17 06:41] NCC1701M opened #579 "Dialog with ChoicePrompt won't go to the next waterfall step"
I extended you [Complex waterfall dialog example](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-waterfall?view=azure-bot-service-4.0&tabs=cstab#define-a-more-complex-waterfall-dialog) with a ChoicePrompt but after I clicked on one of the options the next waterfall step is being ignored.
After `await dc.Continue();` the `context.Responded` is set to false.

For testing the

[2018-05-17 09:04] Arincon commented on #559
Yes, It can wait, because I fixed it for my project (a workaround).
If I have to apply these changes to the Javascript SDK as well, I would to look at these more thoroughly, because I am not so familiar with it.

Regarding the documentation, I think it is not necessary to change anything, because the change is only internal, and external behaviour is not changed, but maybe I am wrong.

[2018-05-17 13:12] devedse commented on #467
@brandonh-msft is it still the case that the framework v4 does not support authentication? I saw that that the Microsoft/botbuilder pages were all updated with information about the botbuilder v4 preview?

[2018-05-17 14:13] gopal300 opened #580 "Error while Debugging in Bot Emulator"
I am trying to use Bot.Builder v.4.0.1 Preview. When i try build and run the Chatbot i get the following error.
![error](https://user-images.githubusercontent.com/29302147/40183026-08391780-59ed-11e8-8cc1-8d98dea84a90.PNG)

I am sharing my MessageController & Global.asax codes.

Message Controller:
`namespace LuisBot
{

    using System;
    using System.Diagnostics;
    using System.Linq;
    usi

[2018-05-17 15:01] JonathanFingold commented on #579
A choice prompt current returns a `FoundChoice`, a type in the Prompts library.

On the off chance that you're conversion is tripping up, you could try:
[code]

[2018-05-17 15:09] JonathanFingold commented on #564
Can we use a different check as to whether a dialog step was processed, other than `if (context.Responded)`? There are many ways this could go wrong, such as middleware sending an activity, and it forces every dialog step to send an activity to the user. (This may be a good practice, but I could probably come up with some scenarios where it isn't relevant.)

[2018-05-17 15:25] gopal300 commented on #580
WebConfig:

`<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>
  <connectionStrings>
    <add name="StorageConnectionString" connectionS

[2018-05-17 20:48] cleemullins opened #583 "Enforce Sytlecop"
Enabled on the projects.
Enforce on the build.

Do not accept PRs unless stylecop passes.

[2018-05-17 21:11] #195 closed

[2018-05-17 21:11] cleemullins commented on #195
This was fixed in the last iteration of the ASP.Net Integration code.

[2018-05-17 21:16] cleemullins commented on #257
Fixed, with initial test coverage. More tests are needed, but the issues filed need to be more specific and based around code coverage.

[2018-05-17 21:16] #257 closed

[2018-05-17 21:17] cleemullins commented on #256
Fixed, with initial test coverage. More tests are needed, but the issues filed need to be more specific and based around code coverage.

[2018-05-17 21:17] #256 closed

[2018-05-17 21:25] cleemullins commented on #335
This has been added into the BotFRameworkAdapter. Found here:
https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L375

[2018-05-17 21:25] #335 closed

[2018-05-17 21:31] JonathanFingold commented on #335
@cleemullins , excellent, thanks.

[2018-05-17 21:33] #368 closed

[2018-05-17 21:44] cleemullins commented on #421
I thought these existed in c#. We must have removed the at Bill's request at some point.

[2018-05-18 04:58] vcardins commented on #579
Hi @NCC1701M, I'm having exactly the same issue.

[2018-05-18 06:59] NCC1701M commented on #579
@JonathanFingold Thanks for your answer. Because I redesigned the bot test already it's just from my memory but as I remember correct, the dialog never called the next step so I couldn't even cast the value to `FoundChoice` but I discovered when I use textPrompt instead of smokingPrompt it works. But this could only be a workaround

[code]

[2018-05-18 12:38] GhostAtom commented on #530
Hi, I have the same issue with AzureTableStorage when persisting the state.

@gabog did you managed to fix it ? Thanks

[2018-05-18 13:31] ClintFrancis opened #584 "Message Activity isn't updated with bot response in Middleware"
When testing out the echo bot sample, adding a piece of simple middleware never updates the text for the bot's response. When putting a break point in I can see that the emulator receives the response prior to the middleware hitting the break point.

If this isn't a bug, how do I log the bot's response??

[code]

[2018-05-18 15:02] JonathanFingold commented on #579
It might be that you were passing an activity list instead of a `ChoicePromptOptions` object when invoking the choice prompt.

I'm still getting the hang of the Dialogs library, but the following might solve the problem:

[code]

[2018-05-18 16:46] JonathanFingold opened #586 "For a prompt, Dialog.Begin with default option causes a NullReferenceException"
**Issue**

1. Assume a turn context `context`, a Dictionary<string, object> `state`, and a Dialogs.TextPrompt `prompt`.
1. Call `prompt.Begin(context, state)`
1. **Result**: a NullReferenceException from Prompt<T>.BeginDialog, args is null.

**Expected**

Prompt<T>.BeginDialog does not throw an exception.

[2018-05-18 17:01] drub0y commented on #530
So @gabog originally opened this 17d ago and while that doesn't seem like a long time, there's actually been some pretty significant changes to the storage implementations in that timeframe. For example, `StoreItem` and `FlexObject` have not existed since before the //Build conference timeframe, so if you're using the latest `4.0.1-preview` version of the packages then you shouldn't even be workin

[2018-05-18 17:30] #572 closed

[2018-05-18 17:32] drub0y commented on #583
[W|C|S]hould this include adding [SonarQube](https://marketplace.visualstudio.com/items?itemName=SonarSource.sonarqube) to the builds?

[2018-05-18 17:54] cleemullins commented on #530
+1 to what @drub0y has said. The Azure Storage code has had several key bug fixes this past week. There's a chance it's already fixed.

@gabog - The removal of FlexObject from your code would be a good place to start. The serialization behavior of that is non-standard and may be conflicting with other serialization that's happening. We've removed this from the SDK, and settled on standard POCOs to

[2018-05-18 17:57] cleemullins commented on #481
This looks as though it's no longer relevant:
https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Ai.LUIS/LuisTraceInfo.cs

Closing.

[2018-05-18 17:57] #481 closed

[2018-05-18 18:08] cleemullins commented on #584
@ClintFrancis +1 to evertyhign @drub0y has said.

This seems like more a documentation & samples issue than anything else. Any suggestions for how to better document this and make the ability more self-discoverable?

[2018-05-18 18:29] cleemullins commented on #580
@gopal300

This doesn't look like SDKv4 code. This looks more like v3 code. V4, for example, doesn't use a Controller anymore, but rather uses the IBot class and OnTurn.

Could you try starting from the VSIX file and seeting if the EchoBot works for you?

[2018-05-18 20:34] rhuebner76 opened #588 "Dialog.Begin with optional dictionary causes InvalidCastException"
While this issue is much like #586, here providing the optional `IDictionary<string,object> dialogArgs` argument to a class implementing `Dialogs.Prompt<T>` and calling BeingDialog throws a System.InvalidCastException when using an instance of `Dictionary<string,object>`.

**Issue**
 1. Given: a turn context `ITurnContext context`, a state `Dictionary<string, object> state`, options ` Dictionary<s

[2018-05-18 22:27] jeffrey-opdam opened #592 "How to flow your appsettings from startup.cs into your XBot.xs file?"
How do you flow your appsettings, from startup.cs, where you retrieved them, into your bot?

What would the pattern look like?

[2018-05-19 02:45] drub0y commented on #592
TL;DR; - if you're familiar with how options are configured in ASP.NET Core, just follow the same approach and then request an `IOptions<YourOptions>` to your bot's constructor and it will be injected just like it would for a controller.

The integration library for ASP.NET Core leverages the same dependency injection container as the rest of ASP.NET Core to resolve the configured `IBot`. This mea

[2018-05-19 02:45] #592 closed

[2018-05-20 15:55] Stevenic commented on #564
The issue @JonathanFingold is that the alternative approaches have even bigger issues.  At one point we returned a `handled` flag back through everything. While that was technically more accurate it meant every component had to remember to either set it or pass it through. People were constantly forgetting to set it and it wasn't intuitive as to what it actually meant.

The reason I personally lik

[2018-05-20 16:03] Stevenic commented on #579
Yes... @JonathanFingold is correct.  You need to pass the choice prompt the list of choices otherwise it doesn't know what to listen for.  You're free to pass in a formatted activity if you want but if you pass in a string as Jonathan shows the prompt will format the prompt for you.  One scenario where you might want to format it yourself is if you want to only show the user a couple of options bu

[2018-05-20 16:32] Stevenic commented on #531
Answering this in a little different way... I think ideally you'd use a Redis based storage provider for your conversation state and then something more durable like Tables or CosmosDB for user state.

The reason I suggest Redis is that a) it's has significantly higher throughput (20k RPS for Tables vs 180k RPS for Redis), and b) you can set individual rows to automatically expire after a period o

[2018-05-20 20:15] Stevenic opened #593 "DCR: add a new DialogContext.IsOnStack() method"
When crafting your bots interruption logic you may want to disable certain interruptions if a given dialog is running. The `DialogContext.IsOnStack()` method would let you pass in a list of dialog ID's and would return `true` if any of those dialogs are currently on the stack.

Open ended text prompts like "what would you like to call the file?" are good examples where you'd want to disable listen

[2018-05-21 09:49] ClintFrancis commented on #584
A point to note, but the updated sample needs amending as it doesn't return a ResourceResponse[]

[code]

Ending with method with this works for the moment:
`return await handlerNext.Invoke();`

[2018-05-21 13:15] garypretty opened #594 "Issue using NumberPrompt"
Hi.  I am trying to use a NumberPrompt in a dialog set, but it is throwing an error when the bot is initializing.

[code]

The error is occurring when the prompt dialog is added to the set in the bold line above.  I am not using this prompt at all and if I remove the above line the bot works as expected.

The error I get is as follows....

"Did not find an IBot service via the dependency resolver.

[2018-05-21 19:43] vcardins commented on #557
Hello @Stevenic, thanks for your support. Yes, I recently figured it out.
The issue seemed to be by calling `await dialogContext.End(); `, this issue can be closed.

Thanks again!
`
...
private async Task ShowMenuOptions(DialogContext dialogContext, object result, SkipStepFunction next {
	var selectedCard = (result as ChoiceResult).Value.Value;
	var activity = dialogContext.Context.Activity;

	swi

[2018-05-22 05:55] NCC1701M commented on #579
@JonathanFingold Thanks it's working.

@Stevenic Is there a documentation for ChoicePrompts and AttachmentPrompts because I couldn't find some which is explaining how to use it.

[2018-05-22 10:27] gopal300 commented on #580
Hello @cleemullins  Yes, i realized it later that this v3 code does not comply with v4 SDK. Thanks for the reply.

[2018-05-22 16:19] drub0y commented on #594
Ok, so, actually... I just realized what could be happening here and we should do a better job with logging in this case at least at the integration layer.

So, ignore what I just said about the container stuff. What's happening is that the handler is attempting to resolve the bot from the underlying `IDependencyResolver` and something is going wrong during the construction of that bot and the cur

[2018-05-22 16:24] drub0y opened #596 "Improve exception handling when resolving IBot dependency in ASP.NET WebAPI"
Per discovery via #594, the `BotMessageHandler` base has a naïve implementation of exception handling around resolving the `IBot` instance that completely swallows any underlying exception that might be thrown during dependency resolution. This makes it impossible to figure out what is going wrong with the construction of the bot unless you were to turn on first chance exceptions.

Need to improve

[2018-05-22 17:52] #596 closed

[2018-05-22 20:34] Stevenic opened #598 "DCR: add 'immediateAccept' setting to BotFrameworkAdapter"
The `BotFrameworkAdapter` currently holds open incoming requests for the lifetime of the turn which has two significant impacts on the bot:

1. It holds open a network resource which can negatively impact the performance of the bot and limit scalability.
2. If the bot performs a long running operation the incoming request can be timed out by the calling server leading to false errors being reporte

[2018-05-22 21:14] cleemullins commented on #588
@johnataylor  - could you take a look at this? I'm guessing it's a 30 second fix.

[2018-05-22 22:42] drub0y commented on #598
Totally like the idea on the surface, here are some thoughts that popped into my head as soon as I thought about it for a second:

First, might I suggest that, since this is really a transport level concern, we actually represent the `immediateAccept` concept via an HTTP header and not inside of the message payload (e.g. activity) itself. For example, maybe something like:

`X-MS-BotFramework-Opti

[2018-05-22 23:36] johnataylor commented on #586
looking at this today - eta end of week with some other fixes around prompts and dialogs

[2018-05-22 23:37] johnataylor commented on #588
looking at this today - eta end of week with some other fixes around prompts and dialogs

[2018-05-23 08:45] GhostAtom commented on #530
@cleemullins how do you manage the the POCO initialization with _dc.ActiveDialog.State_? By passing it to the constructor? Do you have a working example with the last version of the package? Thanks

[2018-05-23 10:04] garypretty commented on #594
@drub0y Thanks. I will check this out later and report back 👍

[2018-05-23 11:26] garypretty commented on #594
@drub0y Ok, so this may be something funky with my local solution. The PR worked, so I am now getting a more detailed error - so thanks for that.  The error is that the DLL for Microsoft.Recognizers.Number cannot be found.  I am referencing the local Prompts project, which has the NuGet package for this installed, so I would have though that would be ok as my local bot project doesn't reference th

[2018-05-23 14:58] GhostAtom commented on #530
I fixed my issue by updating the package and using each time the conversation/user state service to retrieve the POCO. And when it's not possible ie with the dialog.CreateContext() method, by adding an _explicit operator Dictionary<string, object>(UserState state)_  to cast the POCO. Hope that would help someone.

[2018-05-23 18:31] drub0y commented on #391
A separate batch file should not be needed to solve this problem and doesn't work as nicely with the inner loop of development (e.g. just building the projects/solution in VS). PR #432 was trying to solve this in a pure MSBuild sense and already worked for local builds, it's just that the VSTS build needed to be updated to override the find the packages and we didn't have time for that before buil

[2018-05-23 18:34] drub0y commented on #594
Yeah, if you're going to work against the source directly, you're bound to run into issues. It's definitely a good idea to work against 100% packages if you can. It will guarantee all the right dependencies are brought in and even help you deal with any version conflicts (e.g. getting your binding redirects right) if there are any.

I know @cleemullins is directing the team to put effort towards t

[2018-05-23 18:37] garypretty commented on #594
@drub0y thanks. Yeah I'm working in the repo with the source projects as I'm building a bot with the new alexa adapter and testing / tweaking it as I go. Great advice though so thanks.

[2018-05-23 18:43] #428 closed

[2018-05-24 20:34] BruceHaley opened #608 "Typos in SDK v4 vsix template"
1. line 11 of default.htm was written for the old Emulator. To revise it for the new Emulator I would say something like:

    <p>To debug your bot using the Bot Framework Emulator, paste this URL into the **New Bot / Endpoint URL textbox**:</p>

2. there is a typo on line 11 of default.htm:

    <p>To debug **you** bot using the Bot Framework Emulator, paste this URL into the Emulator window:</p>

[2018-05-27 14:00] vovanb opened #611 "Azure Bot Service V.Next"
Will be added any GUI tool for manage conversation flow aka Azure Bot Service V.Next declared at Microsoft Build 2017 https://blog.botframework.com/2017/05/10/build/?
Will be added new channels?

[2018-05-27 20:04] Stevenic commented on #598
Thanks for the detailed response @drub0y.

While i agree that it feels like a transport thing it needs to very on a per-bot basis.  When would the channel know to send it versus not send it?  The protocol says you have *n seconds* to respond with a 202. Perf wise the best way to fulfill the protocol is to ACK immediately but that can cause issues in some cases (particularly with IIS) which is why

[2018-05-27 20:17] Stevenic opened #612 "DCR: add onDialogBegin() and onDialogContinue() methods to DialogContainer"
The `DialogContainer` class doesn't currently provide a way for a derived class to listen in on the activities as they're routed to its underlying dialogs. That means that if you create a component based off DialogContainer you can't perform any sort of interruption because you can't properly intercept the incoming activity.

I propose that we make a small change to the DialogContainer class that

[2018-05-29 16:51] JonathanFingold opened #614 "Problem: No clear way to combine Adaptive Cards with prompts in dialogs."
Setup:

- Create a waterfall dialog.
- For one of the steps present the user with a choice via an adaptive card.

Issue:

- There's no way to present that choice as a prompt that includes a validation argument.

Discussion:

The user can use the adaptive card to send a response, or just type in a value. There is no clear way to handle this with existing prompts with writing a new one from the base

[2018-05-29 19:19] johnataylor commented on #559
we have merged in the PR here

[2018-05-29 19:19] #559 closed

[2018-05-30 07:34] mcinnes01 opened #619 "How do you inject your own dependencies using the v4 SDK?"
Hi,

I just wondered if there is any documentation/advice on how best to register your own dependencies?

Previously I would do something like:

[code]

I'm happy to use the Autofac or the built in DI in net core, whichever is recommended.

Many thanks

Andy

[2018-05-30 14:50] mcinnes01 opened #620 "How do you inject dependencies in to a waterfall step?"
Hi,

I am just wondering how you recommend injecting dependencies in to waterfall steps as part of a dialog set with the v4 SDK?

I guess the nearest thing in the original bot builder libraries was using a DialogFactory, but we were able to use the Fibers.

[code]

Many thanks

Andy

[2018-05-30 16:48] drub0y commented on #619
Are you using .NET Core or WebAPI 2.x?

[2018-05-30 18:38] johnataylor commented on #516
WE are going to make the non-dialog Prompts internal - and once we've done that most likely rename or eliminate that layer.

[2018-05-31 06:36] mcinnes01 commented on #619
Hi @drub0y

I am using .Net Core 2.0

Many thanks

Andy

[2018-05-31 17:18] drub0y commented on #619
Ah, ok, great.

So, it's up to you if you want to replace the built-in DI with Autofac, but for the sake of simplicity I'll just show you how to do it with the built-in DI and you can translate to Autofac later if that's your preference.

The ASP.NET integration library for .NET is already tightly integrated with the container, so the act of calling `AddBot<TBot>` will actually register it with th

[2018-05-31 20:37] #586 closed

[2018-05-31 20:37] #588 closed

[2018-05-31 20:40] navzam opened #624 "BotFrameworkAdapter.ContinueConversation() requires an app ID"
`ContinueConversation` requires you to pass the bot's ID (from [here](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Core/BotAdapter.cs#L170)):

[code]

But what should you pass when running a bot locally and using the emulator without an app ID? In `BotFrameworkAdapter`, `ContinueConversation` throws an exception if you pass null or an empty string (fro

[2018-05-31 22:45] JonathanFingold opened #625 "MessageFactory.SuggestedActions should take an IEnumerable instead of IList"
Accepting only an IList for the choices is overly restrictive. The MessageFactory does not need to add or remove entries from the choice list.

[2018-05-31 23:40] BruceHaley commented on #475
Questions:
1) Should nightly publishing be to this site?: https://github.com/Microsoft/botbuilder-dotnet/releases
2) Should the Bot.Builder-DotNet-Pull Request build publish here?: https://fuselabs.visualstudio.com/SDK_v4/SDK_v4%20Team/_packaging?feed=sdkv4&_a=feed

[2018-05-31 23:56] BruceHaley commented on #475
I suggest we do #2 now since it's internal to the team. I suggest we discuss #1 before executing on it. We want to be sure the code is fairly solid before sending it out to the public. Right?

[2018-06-01 07:04] mcinnes01 opened #629 "Proactive message with payload"
Hi,

In order to authenticate a user of my bot with our main product, I created a LoginCard with a button that has a link to a register page in the main product. The url contains a query string containing the ConversationReference GZipped and a bot ID and then our main product (which doesn't contain any botframework packages) calls an endpoint on my bot using these.

The payload contains the bot I

[2018-06-04 12:36] mcinnes01 commented on #530
Hi

I am also experiencing this issue, I've got the latest master branch and have just tried with the AlarmCards example, referencing the Microsoft.Bot.Build.Azure project from within the solution to ensure I am using the latest versions. This was a good test for me as I am using topics in my actual project.

I've updated the two state objects to implement a Dictionary<string, object> as below and

[2018-06-04 17:53] drub0y commented on #530
@mcinnes01 Instead of inheriting from `Dictionary<K, V>` can you try just having a property of `Dictionary<K, V>` hang off your `ConversatioData` and `UserData` classes?

[2018-06-04 18:03] drub0y opened #633 "AdaptiveCard SubmitAction does not serialize anonymous types in Data"
So I just stumbled across this today. I was attempting to use an anonymous type for the `Data` property of a `SubmitAction` and while it compiles fine (of course) and runs fine at runtime, the action data from the anonymous type is not being serialized and emitted into the `data` property in the JSON that is returned.

I was surprised by this because JSON.NET supports serialization of anonymous ty

[2018-06-04 18:04] mahomedalid opened #634 "Add screenshots to the wiki examples"
It would be very useful to see what a "Card" means or a "Suggested Action" before compiling a version of the bot with the examples code provided. This could be very useful in terms to know what kind of card do I need.

Pages: Sending Cards and Attachments, Dialogs-and-Prompts

[2018-06-04 18:05] drub0y opened #635 "HeroCard CardAction does not serialize anonymous types in Value"
Similar to #633, I was attempting to use an anonymous type for the `Value` property of a `CardAction` and while it compiles fine (of course) and runs fine at runtime, the action data from the anonymous type is not being serialized and emitted into the data property in the JSON that is returned.

[2018-06-04 20:18] johnataylor commented on #612
This seems like a pretty simple and useful and consistent change.

[2018-06-04 20:19] #516 closed

[2018-06-04 20:20] johnataylor commented on #516
We've removed the non-dialog prompts. The current state of the implementation is to move this prompt code into the dialogs package and make it all internal - we also changed some names to make that less confusing.

[2018-06-04 20:21] johnataylor commented on #288
Looks to me like we should just cover all the numbers here.

[2018-06-04 21:21] ryanvolum opened #636 "Need a sample that calls QnA Maker directly and not in middleware"
The QnA Maker sample included in the repo calls QnA Maker from middleware, which is useful for a very specific scenario (a very simple QnA bot), but not for bots that just have an FAQ conversation flow. Please include a sample that demonstrates how to use the QnA Maker module in botbuilder-ai to pass a question to the service and decide what to do with the scored answers on your own.

[2018-06-04 22:15] JonathanFingold commented on #634
@mahomedalid , More complete documentation is available on **docs.microsoft** at https://docs.microsoft.com/en-us/azure/bot-service/?view=azure-bot-service-4.0. (We'll updating the wiki soon to point there.) However, this issue still exists there, but hopefully, we'll fix it up soon.

[2018-06-04 23:05] stevengum opened #638 "[Bug, Bot.Builder.Core.Extensions] Missing CardFactory.cs"
There is no implementation of a CardFactory in the .NET SDK (see related issues #77 and #166). As such there is also a discrepancy in the RichCards sample implementation as it uses the Card classes from the Schema library as opposed to the CardFactory from Bot.Builder.Core.Extensions.

Example: [CreateAnimationCardAttachment()](https://github.com/Microsoft/botbuilder-dotnet/blob/master/samples-fin

[2018-06-04 23:13] johnataylor commented on #288
added long, double, decimal with unit tests

[2018-06-04 23:13] #288 closed

[2018-06-04 23:52] johnataylor commented on #558
The C# code is modeled closely on the JavaScript and follows the pattern @stevenic describes.

One place to find usage examples (while we are waiting for other more fleshed out docs and samples) is the unit test code. For example you can take a look at the [NumberPrompt](https://github.com/Microsoft/botbuilder-dotnet/blob/master/tests/Microsoft.Bot.Builder.Dialogs.Tests/NumberPromptTests.cs) tests

[2018-06-04 23:52] #558 closed

[2018-06-05 14:00] mcinnes01 commented on #629
Just wondered if there is any update, I still haven't managed to successfully continue a conversation?

I wonder does this perhaps have anything to do with no using an MicrosoftAppId or Password whilst debugging, and perhaps an empty string is not handled or the bot ID isn't being defaulted to "default-bot" for continuing a conversation?

[2018-06-05 15:46] mcinnes01 commented on #530
Hi @drub0y

Sorry for my ignorance I don't follow, please could you show me what you mean in reference to the alarms example above?

The only time I got the azure table storage to work was following this example: [here](https://github.com/Microsoft/botbuilder-dotnet/blob/master/samples-final/5.AspNetCore-MultiplePrompts-Bot/MultiplePromptsState.cs)

I also read a few issues relating to the flatten

[2018-06-05 16:47] #557 closed

[2018-06-06 18:52] apulliam opened #642 "Need docs and samples on proactive messaging"

[2018-06-06 21:39] JonathanFingold commented on #642
Hi @apulliam , here's a link to our v4 topic on [How to use proactive messaging](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=cs). Let me know if that is missing information that you need.

[2018-06-06 22:16] JonathanFingold commented on #634
PS. Does the [Channel Inspector](https://docs.botframework.com/en-us/channel-inspector/channels/Skype/) meet your needs? In addition, the [Adaptive Cards project](http://adaptivecards.io/) has its own documentation, along with a visualizer.

[2018-06-07 09:31] SHUBHAMARORA731 commented on #572
I am facing the same issue using the latest package from NuGet . when can we expect the next release of the package including this resolution.

[2018-06-07 21:07] johnataylor opened #644 "No way to override choices text on ConfirmPrompt (unlike the javascript)"

[2018-06-08 00:03] drub0y commented on #530
@mcinnes01 Yeah so the problem is likely that you're storing an `ITopic` in your state. It _might_ be able to persist that, but it wouldn't know what concrete time to re-instantiate when it was deserializing.

First, to be clear, the `ITopic` stuff is only a sample and not formally fleshed out/supported. It works with `MemoryStore` (of course) and any other store that may so happen to serialize us

[2018-06-08 19:35] johnataylor opened #648 "DateTimePrompt drops resolutions"
The prompt logic just takes the first value from the resolved values.

Some query strings will result in multiple resolutions, for example, "Wednesday 4 oclock" should result in two TIMEX expressions because 4 oclock could be either 4AM or 4PM.

[2018-06-08 20:55] twlodarc opened #650 "Can’t use custom conversation state type with dialogs"
Is there any possibility to use custom type of conversation state and dialogs.
`_dialogs = new DialogSet();`
`var dc = _dialogs.CreateContext(turnContext, state);`
Creating dialog context requires to pass state of type IDictionary<string, object>. It means that if I want to store extra information I need to manually get them from dictionary and can’t use  `var state = ConversationState<Conversatio

[2018-06-08 22:24] Stevenic opened #651 "BotFrameworkAdapter should return ErrorResponse for bot errors"
The C# adapter doesn't currently catch errors that happen in the bots code. The JS code does but it maps them to a 500 error. The correct behavior is to return 200 OK to the channel but return an `ErrorResponse` object with the exception that was caught.

[2018-06-08 22:27] Stevenic opened #652 "CreateConversation() should NOT mockup a ConversationUpdate activity"
Instead, it should mockup an "event" activity with a `name` of "createConversation". Similarly, the ContinueConversation() method should mockup an "event" named "continueConversation". This recomendation is based off discussions we had with MS Teams.

[2018-06-11 20:33] cleemullins commented on #608
@FranciscoPonceGomez - can you take a look and fix? Thx!

[2018-06-11 20:35] johnataylor commented on #648
resolved #649

[2018-06-11 20:35] #648 closed

[2018-06-12 17:27] #634 closed

[2018-06-13 20:12] johnataylor commented on #625
Looks like this is already fixed (I seem to remember it from the PR Jonathan submitted) - closing.

[2018-06-13 20:12] #625 closed

[2018-06-14 16:32] mishrapratyush opened #656 "AspNetCore-MultiplePrompts-Bot sample repeats output when age is too big a number"
Repro Steps:
1. run the sample and for name, specify abc
2. for age: enter 4324324234234234232
3. The bot prompts for name again
4. enter abc
5. for age specify 54
6. bot will display => your name and age and then it will run the "GatherInfoStep" again and this time on line #60 when converting result back to number, it fails as result is null.

Question:
Why did the flow repeat again? Shouldn't it

[2018-06-15 21:42] vishwacsena opened #658 "[Sample/ doc] Key scenario gaps"
At the moment, there is no/ very limited documentation around our prompt recognizer + validators.

We should add a sample that shows the different prompt recognizers and validators in action.

Specifically for the TimexValidator, its unclear on how to get that to work with the strong typed C# class produced by LUISGen CLI tool. We should document that as well.

[2018-06-15 21:47] vishwacsena opened #659 "Waterfall dialogs - its unclear that you cannot write code after await next() or await prompt() etc inside a waterfall step"
async (dc, args, next) =>
{
    dc.ActiveDialog.State = new Dictionary<string, object>();
    await dc.Prompt("choicePrompt", "Which of our locations would you like?", promptOptions);
    // I can write more code here but might not work
},

Another scenario -

if(state.ContainsKey("cafeLocation")) {
    // some code
    await next();
    // I can write more code here but might not work
}

[2018-06-15 21:56] vishwacsena opened #660 "Document the right way to pass new contextual values to the middle of a waterfall step"
Here's what I'm trying to accomplish -

I have a luis intent that triggers a waterfall dialog. While I’m in the waterfall dialog, I’d like to continue to pick up new luis entities. The way to pass that into the waterfall seems to be through dc.continue() but that does not take any args.

This also applies to the case when you get a card interaction based input that you need to be able to plumb thr

[2018-06-15 22:00] vishwacsena commented on #658
Few more ..

1. How do i returning a collection of values from waterfall step (or when waterfall completes)? The scenario at hand is to be able to persist that value as context for subsequent conversation or to perform an operation outside of the waterfall.

2. Need a sample and docs that show how to manipulate user/ conversation state from within a waterfall step. e.g. user provided their name in

[2018-06-15 22:00] johnataylor opened #661 "Async methods should take cancellation token"
For example the middleware is async and should take cancellation tokens.

[2018-06-15 22:01] vishwacsena opened #662 "QnA and LUIS Emulator inspectors do not work if called from within the bot logic (only work as middleware)"
At the moment, QnA and LUIS inspectors in the Bot Framework V4 Emulator do not show any trace activities if using the QnA and LUIS recognizers in the bot logic. The trace activities only show up when using the LUIS and or QnA middleware.

[2018-06-15 22:03] vishwacsena opened #663 "TIMEX recognizer cannot be used used to just capture date or time"
It seems impossible to use the TIMEX recognizer to just look for either date or time. It would be good to add support for being able to do just time or date resolutions.

[2018-06-16 00:53] sidecus commented on #573
Circling back on this. Seems the PR has been merged late May. Are we releasing a new nuget package? @cleemullins

[2018-06-17 11:08] thomasmartinsen opened #665 "Bot in Teams freeze"
I often experience that bots in Microsoft Teams freeze - they simply stop reponding. They still responds in other channels like Skype and Web. Any help or input is appreciated.

SDK 4.0

[2018-06-17 13:06] darrenj opened #666 "Microsoft.Bot.Builder project not set to generate nuget package for local build"
When building the BotBuilder project locally the nuget package for Microsoft.Bot.Builder is not generated and put in the outputpackages folder. All other projects seem fine.

Checking the "Generate NuGet package on Build" setting on Microsoft.Bot.Builder.csproj resolves the issue.

![image](https://user-images.githubusercontent.com/33519520/41508101-08f386ee-7237-11e8-9a0b-fc066cbcc612.png)

[2018-06-18 03:35] cleemullins commented on #666
@johnataylor John is in the middle of cleaning up (and merging / refactoring) a number of the projects in our overall solution. John - can you take a quick look? I don't want to change this myself simply so you don't end up in Crazy Merge Land with all of the outstanding changes you have.

(If you can't get to this, it's easy enough to fix once you're all checked in)

[2018-06-18 03:37] cleemullins commented on #665
@thomasmartinsen Can you post this on Stack Overflow with a "#botframework" tag? Our support team will then pick it up. I know they're eager to delve into some SDK v4.0 issues!

[2018-06-18 15:42] JonathanFingold commented on #660
If there is a way to do this that is easier than just writing a custom, non-waterfall dialog, tell us how, and the doc team will write an article around it.

[2018-06-18 16:47] yochay commented on #290
@Kaiqb can you please create a doc issue, copy the link to here and close this one?

[2018-06-18 16:48] yochay commented on #391
@drub0y  can you please validate and close?

[2018-06-18 16:56] yochay commented on #440
Closing as relates to #375

[2018-06-18 16:56] #440 closed

[2018-06-18 16:58] yochay commented on #458
@emadelwany can we get an ETA?
@Kaiqb heads up we'll need to update LUIS docs in BF

[2018-06-18 17:02] nimbusparis opened #668 "Update Roadmap"
Could somebody update the roadmap of the project: https://github.com/Microsoft/botbuilder-dotnet/wiki/Roadmap since it had not been touched since 1 month?

[2018-06-18 17:02] yochay commented on #491
@tomlm any updates

[2018-06-18 17:10] yochay commented on #528
related to  #375
@cleemullins  @Stevenic

[2018-06-18 17:15] yochay commented on #531
@Kaiqb please create a doc issue for tracking.

POR (for now): Cosmos and inMemory and all other providers as samples

@vishwacsena for vetting plan with partners

[2018-06-18 17:16] yochay commented on #534
@johnataylor did you end up removing this form the code? If not do it.

[2018-06-18 17:22] yochay commented on #551
This is more of a question for https://stackoverflow.com/questions/tagged/botframework

[2018-06-18 17:22] #551 closed

[2018-06-18 17:29] yochay commented on #573
@sidecus  we are working on releasing the nuget package shortly. Short term solution, build the package yourself.  Longer term, daily builds are on the horizon.

[2018-06-18 17:33] vishwacsena commented on #584
@ClintFrancis - this is documented [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-create-middleware?view=azure-bot-service-4.0&tabs=csaddmiddleware%2Ccsetagoverwrite%2Ccsmiddlewareshortcircuit%2Ccsfallback%2Ccsactivityhandler).

[2018-06-18 17:33] #584 closed

[2018-06-18 17:35] yochay commented on #593
@johnataylor note backlog

[2018-06-18 17:39] yochay commented on #608
@FranciscoPonceGomez  any updates?

[2018-06-18 17:42] yochay commented on #611
@vovanb please file new channel request at https://feedback.azure.com/forums/562027-azure-bot-service

No current plans for a GUI tool.

[2018-06-18 17:42] #611 closed

[2018-06-18 17:49] yochay commented on #620
related to #614

[2018-06-18 17:54] yochay commented on #633
@drub0y  can you take a look and see if you can fix this?

[2018-06-18 17:55] yochay commented on #635
@drub0y can you take a look and see if you can fix it?

[2018-06-18 18:01] yochay commented on #636
Similar to #535

Update https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0&tabs=cs to not use QnA as a middleware and use QnAMaker class directly in bot logic.

[2018-06-18 18:08] yochay commented on #642
We have a doc on the topic.

[2018-06-18 18:08] #642 closed

[2018-06-18 18:10] yochay commented on #650
this is part of #375

[2018-06-18 18:10] #650 closed

[2018-06-18 18:20] yochay commented on #660
Dup of #620

[2018-06-18 18:20] #660 closed

[2018-06-18 18:36] drub0y commented on #666
So, it's there, it's just that it's only doing in `Release` configuration. This needs to be added to the project to bring it inline with the other projects:

[code]

That said, now that we're using `Directory.Build.props` this kind of stuff should ultimately just be rolled up under there instead of maintained on a per-project basis. /cc @BruceHaley

[2018-06-18 18:38] yochay commented on #255
@drub0y can you make this happen by end of June?

[2018-06-18 18:39] #391 closed

[2018-06-18 18:41] yochay commented on #458
@chrimc62  can you take this one

[2018-06-18 18:42] yochay commented on #474
@drub0y  please validate

[2018-06-18 18:42] #474 closed

[2018-06-18 18:52] yochay commented on #534
@Stevenic verify the core was removed from JS https://github.com/Microsoft/botbuilder-js/issues/281

[2018-06-18 19:01] #534 closed

[2018-06-18 19:13] FranciscoPonceGomez commented on #608
WIP. I will upload an update today.

[2018-06-18 20:51] drub0y commented on #255
Yep, consider it done! Should have it PR'd shortly.

[2018-06-18 21:09] drub0y commented on #255
There ya go.

[2018-06-18 21:27] FranciscoPonceGomez commented on #608
https://github.com/Microsoft/botbuilder-dotnet/pull/671

[2018-06-18 21:34] #255 closed

[2018-06-18 21:38] JonathanFingold opened #672 "Using locally built nuget packages with the C# template produces a CS0433 error."
**Repo steps**:
1. Sync and build the repo using the Release config.
2. Create a new project using the Bot Builder Echo Bot template for v4.
3. Remove the 4.0.1-preview nuget packages from the project references.
4. Go to NuGet Package Manager settings, general options and clear the NuGet package cache.
5. Under Package Sources, add one for your local builds, i.e. …\source\repos\botbuilder-dotnet\

[2018-06-18 22:20] #666 closed

[2018-06-18 22:40] drub0y commented on #672
Sooo, I pulled `master` and it looks like the changes to eliminate the separate assembly for `Microsoft.Bot.Builder.Core` landed and now I only end up with `Microsoft.Bot.Builder` with everything in there. Therefore we need to make sure we remove the reference to the `Microsoft.Bot.Builder.Core` package from the projects, otherwise it's going to pull that down off NuGet still and clash with `Micro

[2018-06-18 22:41] JonathanFingold commented on #672
Yes Core and Core.Extensions seem to have gone away as packages, and were just phantoms on my machine. Closing.

[2018-06-18 22:41] #672 closed

[2018-06-18 22:44] JonathanFingold commented on #672
It would be nice if the build did an initial clean up the outputpackages directory though. :|

[2018-06-18 23:29] drub0y commented on #661
We should probably make sure this is coordinated or someone's going to be in a merge conflict nightmare! 😆

Side note: this might be a good time to introduce a strongly typed delegate for what is currently just `Func<ITurnContext, Task>` because now that's going to have to become `Func<ITurnContext, CancellationToken, Task>` allllll over the place.

![Good luck!](https://media.giphy.com/media/1lk1

[2018-06-18 23:31] chrimc62 commented on #458
From Emad's comment sounds like we are waiting for CS to publish a nuget.  I've started a thread to see where that process is.

[2018-06-19 15:54] drub0y commented on #672
💯

I totally agree that we should add something to the Clean target to clean up `outputpackages`.

[2018-06-20 07:59] gabog opened #676 "TimezoneOffset option for LuisRecognizerMiddleware should be set per turn"
H @cleemullins & @emadelwany, as it is, the TimezoneOffset for LuisRecognizerMiddleware is set in the constructor and in a globalized solution I want LUIS to resolve things like "tomorrow" based on the user's time zone.

User's can be anywhere in the world so I think there should be a way of setting this offset per turn based on the user location (similar to what we do with TranslatorMiddleware) a

[2018-06-20 20:53] RamjotSingh opened #679 "InvokeResponse should be part of Bot.Schema and not Bot.Builder"
InvokeResponse is not dependent on the Adapter layer and should be moved to Bot.Schema

[2018-06-20 22:53] cleemullins commented on #676
@gabog - I think that's a very good point. I can think of some "hack" ways to do this, but a big problem here, historically, is finding out the users location to enable finding their tz offset. is that a problem that's surmountable?

Behavior wise, I do think our entire stack should set the TZ Offset for the turn and store it in the Context (or even - for C# - set it in the thread. That'll have so

[2018-06-20 22:54] cleemullins commented on #679
That seems... like a good point. I'm not sure why it's in the Adapter layer at this time. @Stevenic may have more context here, so tagging him.

[2018-06-20 23:08] swagatmishra2007 opened #680 "oauth feature does not work without setting up a bot on azure on emulator"
The node sdk has a commit, where if an appid/password is not set for a bot and the oauth feature is invoked on an emulator, then the bot returns a dummy signin url and token.
This work needs to be ported over from the node sdk , so that we can try out oauth in c# on emulator without requiring a bot

[2018-06-22 14:57] Tyagit3 opened #682 "Change size of SubmitAction button in C#"
Is there a way to change size of SubmitAction button in C#. If it can be done by using HostConfig, then please provide sample example in C# of how to use HostConfig in the project.

[2018-06-22 20:56] vishwacsena commented on #530
For V4 stable release, we plan on moving table, blob and file storage to samples. Pushing this to backlog but approved work item for now. The goal is to support table storage for persisting state by stable release.

[2018-06-24 16:00] Tyagit3 opened #685 "Use of emotes in bot framework"
Is there any way that we can use custom gifs/ emotes in bot framework?
Or may be using a third party dll or any other way around?

[2018-06-25 13:28] gabog commented on #530
OK, thanks @vishwacsena, we are using CosmosDB for now that seems to do what we need, also working on getting rid of FlexObject (we have that as a placeholder while we migrate to the new state management).
Gabo

[2018-06-25 13:28] #530 closed

[2018-06-25 15:10] brandonh-msft commented on #467
@drub0y is closer to the work that would be necessary to fix this problem than I am. Any update we know of, Drew?

cc @cleemullins, @tomlm

[2018-06-25 18:22] drub0y commented on #467
All auth scenarios should work at this point _using the latest framework bits from the repo_. We just did some direct work on the security token validation path a week or so again in fact and validated several of these scenarios.

@devedse, I just want to make sure I'm on the same page here: this thread was originally about hosting in Azure Functions... is that still the scenario you're working wi

[2018-06-25 22:31] #608 closed

[2018-06-25 22:57] cleemullins commented on #685
Your bot can emotes with no trouble - they're just unicode codepoints to us. :)

Even something like this, 👩🏼‍⚕️, which is really 5 codepoints (U+1F469 U+1F3FC U+200D U+2695 U+FE0E) shouldn't be an issue, although it does rely on the target system to have the relevant fonts installed.

[2018-06-26 06:47] Tyagit3 commented on #685
Simple emojis aren't required. I meant animated emojis/ animojis.

[2018-06-26 08:43] Danieladu opened #689 "How to set MicrosoftAppId and MicrosoftAppPassword dynamically in C# code"
For some reason, we map many bots to one endpoint service, so we have to assign an appid and appsecret after `Post api/messages`, but if we leave  MicrosoftAppId and MicrosoftAppPassword empty in appsettings.json, the system would response code 403 anytime. Is there any way to solve this problem?

[2018-06-26 09:22] devedse commented on #467
@drub0y ,

Good to hear that all Auth Scenario's should now work. Initially we were working on implementing the bot with Azure Functions, but have found on multiple places that Azure Functions are giving more issues then solutions when working with Bots. E.g. Skype Voice calling doesn't work, the binding redirects you're refering to, long startup times etc.

[2018-06-26 11:40] JeffCordes opened #690 "Expansion of LuisResult for External Services"
In the Luis api you can enable external services such as sentiment analysis and when enabled an extra node is added to the json response.

"sentimentAnalysis": {

    "label": "positive",

    "score": 0.7576124

  }

The current LuisResult model in Microsoft.Cognitive.LUIS.Models does not contain parameter for sentimentAnalysis so it is never deserialized and is discarded.  This request is to exp

[2018-06-26 13:54] franperezlopez opened #691 "Luis middleware exception"
I'm using `LuisRecognizerMiddleware` and when I try to upload an image in the emulator, it throws an exception:

[code]

If I disable the Luis middleware, then I've got the correct activity in the OnTurn handler. How should I configure Luis middleware to "un-handle" non text activities?

[2018-06-26 13:56] brandonh-msft commented on #467
@devedse
it'd be great if you could post on the binding redirects issue in the Functions repo so we get another signal.

on the topic of long startup times, a couple of things:
1. You can always deploy a Function to a proper App Service and set it to 'Always On'
1. If going Functions to stay on Consumption billing, keep in mind if you run a Function 24/7 constantly, you may in fact be better off a

[2018-06-26 15:34] drub0y commented on #689
Yes, you can write your own [`ICredentialProvider`](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Connector/Authentication/ICredentialProvider.cs) implementation. This will be called to validate an incoming `appId` (`IsValidAppIdAsync') and get the corresponding password for that app ('GetAppPasswordAsync').

You connect a custom credential provider up at start

[2018-06-26 18:12] tonyanziano opened #692 "Update SimplePrompt Sample with new Prompt Code"
The code for `Prompt`s within the `Microsoft.Bot.Builder.Dialogs` library is currently in the process of being changed / refactored, and the `SimplePrompt` sample needs to be updated once that work is complete.

[2018-06-27 00:29] vishwacsena commented on #668
Done.

[2018-06-27 00:29] #668 closed

[2018-06-27 00:46] cleemullins commented on #691
Today we removed the LUIS Middleware as part of some code cleanup. The Middleware was from a time when we though Middleware was the solution to everything and recent hacks showed that having this as Middleware led to confusion and incorrect code.

[2018-06-27 00:46] #691 closed

[2018-06-27 00:47] cleemullins commented on #690
That's.... not good. We should be doing exactly that.

@emadelwany - can you take a quick look and see if we can get the Sentiment in there? Throwing it away seems a mistake.

[2018-06-27 01:31] Danieladu commented on #689
@drub0y  Thanks drub0y. It works.

[2018-06-27 01:57] RamjotSingh opened #696 "IStorage lacking information on what it is Reading and Writing"
I hit a peculiar case where because I moved the class from one dll to another and the whole Storage abstraction blew. I digged and the issue stems from the fact that we use TypeNameHandling.All which is in turn due to StateMachine not passing the Type is expects when reading (by extension writing too, though that matters less).
This means that once a class is written in one dll developers won't be

[2018-06-27 17:08] #689 closed

[2018-06-27 17:15] drub0y commented on #696
Yeah, I don't think type name handling should be used at all... that's kind of an old school approach that I think we (the community) have learned over time leads to serious versioning issues. I purposefully got rid of that in my DCR (#375) and, instead, it deserializes to a `TState` you ask it for.

[2018-06-27 20:00] cleemullins opened #699 "TestFlow allows incorrect usage"
The following code in the TestFlow "fails to fail", and I believe (as does @JonathanFingold who found this) that the code should be failing.

[code]

[2018-06-27 20:52] cleemullins commented on #699
As designed (per Tom):

The fluent pattern as implemented is that each method returns a new TestFlow() which represents the next step in the chain.  Because you aren’t assigning the flow variable it ends up that you are awaiting the new TestFlow(adapter, bot.OnTurn) TestFlow, which is a testflow with no tests defined.

[code]

If you do this it should work

This one works because:
[code]
The await

[2018-06-27 20:52] #699 closed

[2018-06-27 21:03] stevengum opened #700 "Unused locale argument in Tokenizer.DefaultTokenizer"
The optional string arg `locale` is not used at all in [Tokenizer.DefaultTokenizer][DefaultTokenizer].

[code]

  [DefaultTokenizer]: https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Choices/Tokenizer.cs#L28

[2018-06-28 00:02] tomlm opened #703 "DCR: GetConversationReference and ApplyConversationReference should be on Activity class"
In javascript we don't have an actual "Activity" class which caused the utility methods of
* GetConversationReference()
* ApplyConversationReference()
to be implement as global functions off of TurnContext.

That's the wrong place for them because
a. they have nothing to do with TurnContext
b. They are operations on the activity.  (Get a Conversation reference from an activity, apply a conversatio

[2018-06-28 00:03] tomlm commented on #682
This is an adaptiveCard question and should be submitted to http://adaptivecards.io

[2018-06-28 00:03] #682 closed

[2018-06-28 00:04] tomlm commented on #685
You can send an AnimationCard, but not inline to text other then Unicode. BTW: Unicode endpoints do allow some level of animation.

[2018-06-28 00:11] tomlm commented on #652
CR pending

[2018-06-28 00:15] RamjotSingh commented on #696
@drub0y Thanks man!! I hit the issue where I tried to reuse the same C# class across 2 projects using linking. Thanks for taking care of this :)

[2018-06-28 00:35] cleemullins commented on #703
+1

[2018-06-28 09:20] mennolaan commented on #636
Im using Luis dispatch and removed qna from middleware for this:

`   private static QnAMakerEndpoint qnaEndpoint = new QnAMakerEndpoint
        {
            // add subscription key for QnA and knowledge base ID
            EndpointKey = "",
            KnowledgeBaseId = "",
            Host = ""
        };

        private static readonly QnAMaker qnaMaker = new QnAMaker(qnaEndpoint);

        p

[2018-06-28 14:35] drub0y commented on #696
Well, just to set expectations, that DCR is not being accepted, so for now we kind of have to hope whatever implementation does show up takes the same philosophy.

Let's leave this issue open so it is ultimately addressed one way or another.

[2018-06-28 15:43] drub0y commented on #703
Looks like this is being addressed in #705. Just mentioning here for issue<->PR linkage since the commits/PR don't mention it themselves directly right now.

[2018-06-28 16:11] johnataylor opened #706 "Tokenizer in Choice Prompt fails on some characters"
The Tokenizer attempts to split input that includes emojis. This code works for the basic emoji characters (thumbs up, down, smile etc.) but fails on the multi-character emojis that include modifiers for things such as FitzPatrick scale skin tone.

Suggest we simplify the Tokenizer in the product code and move the partial implementation of emoji tokenization into sample. (The Tokenizer should alre

[2018-06-28 20:37] cleemullins commented on #700
This code looks very bug prone, as the logic around tokenizing is quite complex. For fun, I looked up what Lucine does and the answer is "People can define their own tokenizers".

[2018-06-28 20:38] cleemullins commented on #690
via @chrimc62 "I will take care of this.  It is related to some other things on the result format."

[2018-06-28 20:40] cleemullins commented on #696
@Stevenic is working on this now and planning to have the Node code checked in today. Hopefully I can then get the same behavior working in C#.

[2018-06-28 20:41] #685 closed

[2018-06-28 20:41] cleemullins commented on #680
@swagatmishra2007 Any update on this?

[2018-06-29 04:42] stevengum opened #710 "Remove overloads from ChoiceFactory and other cleanup"
Per discussion in office.

[2018-06-29 09:50] franperezlopez opened #711 "ctor patterns"
I'm seeing this pattern all around in samples:
[code]
In samples, the objects that you use for adding to dialogs are *simple*. Now I'm working in a real prototype, using DI, and having so much code in the ctor can cause lot of problems. I'd rather have another pattern for initializing the dialogs. I assume this is for "simplistic" reasons, but I feel having so much work done in the ctor is not rig

[2018-06-29 16:48] NickEricson opened #712 "Add ability to get conversation members back in pages"
Currently you can get back all the members in a conversation via v3/conversations/<conversation id>/members. Bot builder should support the paged route also v3/conversations/<conversation id>/pagedmembers which returns conversation members in pages.

[2018-06-29 20:08] johnataylor opened #714 "MiddlewareSet should not derive from IMiddleware"
The derivation of MiddlewareSet from IMiddleware introduces extra surface area that is not used nor is there any scenario we have in mind.

Removing this surface area just simplifies the product. If a developer should which to compose (and debug) hierarchical middleware stacks then they are of course free to factor their code like that.

[2018-07-02 09:42] franperezlopez opened #717 "suggestedactions behavior"
I'm using `CardAction` as buttons for `MessageFactory.SuggestedActions`. I have some problems understanding the relationship between Type and DisplayText. Currently:
* Type = `Postback`, no text is displayed in the feed when the button is clicked
* Type = `ImBack`, in the feed I've got displayed the `Value` property, even if the `DisplayText` inline help (*Gets or sets (Optional) text to display i

[2018-07-02 17:39] JuanAr opened #718 "[PROPOSAL] New Microsoft.Bot.Builder.Testing project containing all tests-related classes"
Taking into account the following issues:
 * TestAdapter does not provide proper assertions. Instead, it uses a combination of ifs and exceptions.
 * TranscriptUtilities depends on MSTests's TestContext to retrieve Transcript files following a naming convention. This is in part the reason which it is part of the test project.
 * The .chat-to-.transcript-to-Activities conversion logic is implemente

[2018-07-02 19:35] cleemullins commented on #718
This sounds reasonable, and certainly removing the TestAdapter and related code from the core BotBuilder assembly would be a win. I'm a bit concerned about having "Yet Another" assembly though.

@johnataylor, @drub0y, @tomlm, @Stevenic

[2018-07-02 20:20] cleemullins commented on #676
@johnataylor - John, you removed this entire class. Can you sync with Gabo as to the reason why? He was using it.

[2018-07-02 21:13] franperezlopez commented on #711
can you send me an email to frankjperez|at|yahoo|dot|es ?? I can share my sample with you

[2018-07-02 22:08] cleemullins commented on #717
@EricDahlvang, @JonathanFingold

[2018-07-02 23:21] EricDahlvang commented on #717
Hi @franperezlopez

Thank you for taking the time to report these issues.

There is some discussion about the current implementation of **DisplayText** on SuggestedActions here: https://github.com/Microsoft/BotFramework-WebChat/issues/868  (Apparently the WebChat repository is waiting for the DirectLineJs repository to implement something.  Since the emulator uses WebChat internally, it is also wa

[2018-07-03 10:53] franperezlopez opened #721 "attachments in Skype channel"
I need to access to files (images) using the Skype application. I've got the same code working in v.3 bot, and now I've just "translated" some things to get it working in v.4

[code]

But I've got a 401 error. Obviously, this works flawlessly in the chat emulator, and in the "Test in Web Chat" tab from Azure / Bot. I know in the past has been some problems in the Skype channel to retrieve file att

[2018-07-03 16:47] drub0y commented on #714
I'm not sure I understand this at all. What is the extra surface area? It's one method (`OnTurn`), right? If you don't derive from `IMiddleware` you're going to need a specific method to call anyway, which seems to be `ReceiveActivity` right now, which honestly seems like it was the mistake in the first place as there should only need to be `OnTurn`.

Finally, not subtyping `IMiddleware` seems to

[2018-07-03 23:34] JonathanFingold commented on #711
@franperezlopez , I'm probably not understanding your issue entirely. There are two options that come to mind.

[code]

Those IDialogs can be simple prompts, or they can be another dialog defined as a DialogContainer.

[2018-07-04 08:57] n01d opened #724 "Allow access to original user input and detected language when using TranslationMiddleware"
Sometimes you need access to the original (untranslated) user input or detected language in your bot while using the TranslationMiddleware. This might be the case if you want to forward untranslated text to a search engine or ask the user for specific terms that should not be translated. Currently only the translated text is available through Context.Activity.Text.

A solution could be leaving the

[2018-07-04 09:08] n01d opened #725 "Provide a way to create a list of terms not to be translated when using TranslationMiddleware"
When using TranslationMiddleware you currently can only provide a list of patterns to detect parts of the user input not be be translated.

This works well for cases like the one described in the example (https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-translation?view=azure-bot-service-4.0&tabs=cs#bypass-translation-for-specified-patterns) but I did not find a way to add a li

[2018-07-04 15:45] franperezlopez commented on #721
I thought the `ConnectorClient` class was taking care of the authentication token. Using the raw HttpClient seems to work fine. Note that skype seems not to be using anymore hosts from "skype.com" domain

thanks for the help

[2018-07-04 15:45] #721 closed

[2018-07-05 20:49] johnataylor opened #727 "Dot Net implementation is missing validate version middleware functionality"
@stevenic says this is essential functionality and it is currently included in the JavaScript.

Refer to the JavaScript implementation for reference.

[2018-07-05 22:54] JonathanFingold opened #728 "Remove MiddlewareSet.ReceiveActivityAsync"
Per conversation with @johnataylor , this looks to be left over from earlier development and is currently only called from a few test cases.
re: [ReceiveActivityAsync](https://github.com/Microsoft/botbuilder-dotnet/blob/047da9ed26eb3dfb59018c79df0e4bf930bc1a2a/libraries/Microsoft.Bot.Builder/MiddlewareSet.cs#L34)

[2018-07-06 16:16] JonathanFingold opened #730 "Hide the PagedResult class"
re: [PagedResult.cs](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/PagedResult.cs).

Per discussion with @cleemullins and @johnataylor , paging behavior should not be public.

[2018-07-06 16:31] JonathanFingold opened #731 "Should the Intents and Entities properties of RecognizerResult return JObect?"
The current descriptions for these properties suggest that they return Dictionary<string, object>.

Since this class supports an interface definition, we probably want something more strongly typed than a JObject here. Implementers won't know what format they should give to these properties.

[2018-07-06 16:41] JonathanFingold commented on #731
PS. Looks like for LUIS, this could just be Dictionary<string, double> for **Intents**.

[2018-07-06 20:53] johnataylor opened #733 "Problems with serialization when using adaptive cards in prompts"
@gabog I narrowed down the serialization issue to line 217 in RichCardBot.cs:
If you do

[code]

Instead of

[code]

You’ll get a serialization exception in the next turn. This used to work in previous versions of the framework and only fail when you use card attachments with dc.Prompt() so something changed underneath but I’m not sure where (it fails with memory storage and docDb).

For now, my w

[2018-07-06 23:41] JonathanFingold opened #734 "Consider removing unused parameter from OAuthClient.GetUserTokenAsync"
re: [OAuthClient.GetUserTokenAsync](https://github.com/Microsoft/botbuilder-dotnet/blob/72762abcea7fea4e7b2d7bd759de8d41a81eb8f9/libraries/Microsoft.Bot.Connector/OAuthApiClient.cs#L45)

The optional **customHeaders** parameter is not used in the implementation of the method, and none of the calling methods specify a value for it.

[2018-07-07 05:40] ADefWebserver opened #736 "Cannot use AzureTableStorage to persist ConversationState for dialogs"
Trying to use Azure table storage to handle dialog state.
File Storage works, but not Azure Storage.

When using this code for dialogs:

[code]

In startup.cs this works:

[code]
But this doesn't
[code]
![image 55](https://user-images.githubusercontent.com/1857799/42407251-3e0ef594-816d-11e8-8561-da8d4f8ae047.png)

[2018-07-07 22:40] ADefWebserver commented on #736
Working version: https://www.dropbox.com/s/fv31dqt8wr2oycw/HelloWorldBot-works.zip?dl=0
Not working version: https://www.dropbox.com/s/sbp5vl4c0drrtr2/HelloWorldBot-doesnotwork.zip?dl=0

[2018-07-08 16:09] drub0y commented on #736
hey @adefwebserver, thanks for reporting this and supplying a repro. Can I ask you to please include the fukl details of the exception being thrown (i.e. `$exception.ToString()`) as well? Might help reach a resolution a little faster.

[2018-07-08 16:21] ADefWebserver commented on #736
More details on the error:

**exception.Message:**
Parameter count mismatch.

**exception.StackTrace:**
 at System.Reflection.RuntimeMethodInfo.InvokeArgumentsCheck(Object obj, BindingFlags invokeAttr, Binder binder, Object[] parameters, CultureInfo culture)
   at System.Reflection.RuntimeMethodInfo.Invoke(Object obj, BindingFlags invokeAttr, Binder binder, Object[] parameters, CultureInfo culture

[2018-07-08 16:38] drub0y commented on #736
ah, OK so that's telling me you have a NuGet package versioning issue somewhere... specifically related to Azure Storage SDK. I'm not in front of a PC at the moment, but check your version and see if it aligns with what the Bot SDK is expecting or if you maybe rev'd up a bit too high. Will check your repro code when I can.

[2018-07-08 17:01] ADefWebserver commented on #736
This is all I have in my assembly configuration:

[code]

[2018-07-08 17:02] ADefWebserver commented on #736
This is all I have in my assembly configuration:

[code]

[2018-07-08 17:03] ADefWebserver commented on #736
The only thing I can add is that I do have the latest .Net Core SDK installed on my system.

[2018-07-09 10:16] chintan3100 commented on #736
I am facing the same issue. Any solution?

[2018-07-09 21:35] drub0y commented on #736
Ok, so I finally got a sec to look into this. It's not the NuGet package mismatch issue that I thought it might be at first glance, so let's forget about that.

This is due to a bug in the `EntityPropertyConverter` inside of the Azure Storage SDK where, when it tries to serialize types that have an indexer property (such as `Dictionary<K, V>`) it will throw this error because it's attempting to re

[2018-07-09 21:51] ADefWebserver commented on #736
@drub0y  - What storage should we use? Asking because I need to update my article: http://aihelpwebsite.com/Blog/EntryId/1031/Saving-User-and-Conversation-Data-MS-Bot-Framework-V4-Preview-Edition Thanks!

[2018-07-09 22:10] drub0y commented on #736
If you take a look at the current state of `master`, the only Azure based storage provider that's still "in-the-box" as of right now is the `CosmosDbStorage`. So, for now, I suppose that's your safest bet.

Again, to be clear, I don't think the team's absolutely finalized this decision at this point so it might make a return. Keep your eyes peeled... if you really need blob or table storage, and i

[2018-07-09 22:18] drub0y commented on #718
![100](https://media.giphy.com/media/lGmKzynHWftFm/giphy.gif)

[2018-07-09 22:49] ADefWebserver commented on #736
@drub0y - Thanks for the heads up. I will update the code to use CosmosDbStorage for now. This is how pre-release software goes, I'm used to it.

[2018-07-10 04:34] ADefWebserver commented on #736
I updated my article to use Cosmos DB http://aihelpwebsite.com/Blog/EntryId/1031/Saving-User-and-Conversation-Data-MS-Bot-Framework-V4-Preview-Edition

[2018-07-11 02:45] fahadash opened #742 "Luis Sample is not working, getting a 404 from LUIS"
I tried  [LUIS Sample](https://github.com/Microsoft/botbuilder-dotnet/tree/master/samples-final/8.AspNetCore-LUIS-Bot), followed all the instructions to import the LUIS app and the app gets a 404 from LUIS.

[2018-07-11 02:58] fahadash commented on #742
It turns out, new apps on LUIS takes sometime to become available after you publish them. May be a good idea to add this to steps.

[2018-07-11 17:22] JuanAr opened #745 "Several unit tests fails in UTC+xx (East UTC) time zones"
When executing tests in a time zone east to UTC (e.g. UTC+01) several unit tests fail due to DatetimeOffset conversion.

AggregatedExceptions show the following error message: `The UTC time represented when the offset is applied must be between year 0 and 10,000`.

![image](https://user-images.githubusercontent.com/805847/42588956-a93e960a-853f-11e8-84cd-dff517e59258.png)

Failing unit tests belon

[2018-07-11 22:40] vishwacsena commented on #734
By design.

[2018-07-11 22:40] #734 closed

[2018-07-11 22:59] vishwacsena commented on #475
Done

[2018-07-11 22:59] #475 closed

[2018-07-11 22:59] vishwacsena commented on #491
Done.

[2018-07-11 22:59] #491 closed

[2018-07-12 08:01] cocoke commented on #614
Any update of a possible solution ?
I'm in the same situation.

[2018-07-12 15:55] JonathanFingold commented on #614
This is my current theory, but I don't know which direction the team is going in with this...

It seems like the intention for combining adaptive cards with dialogs is to use the card to collect information that can use to start the dialog, by passing in values in the call to the dialog context's Begin method. In the first step of the dialog, you would check for any input values and...discard any

[2018-07-12 16:06] #742 closed

[2018-07-12 19:55] chrimc62 commented on #731
We have defined a generic JSON payload for any recognizer (including LUIS) to return.  It looks like:
{ "intents": {"Help": {"score":0.9}, "Cancel": {"score": 0.01}}, ...}
In addition to score, any given recognizer is also free to return other information about each intent.  For example, if your recognizer supported multiple intents, it might point to the span where the intent was found.  We reall

[2018-07-12 20:23] JonathanFingold commented on #731
@chrimc62 , RecognizerResult has a Properties property, used to capture such additional information. Would it be untoward to continue that sort of model one more level down? (I'm not sure what a RecognitionEntity class should look like, but I'll take a wild guess.)
[code]
Then intents (and entities) could be defined as some sort of collection, IEnumerable, Dictionary, whatever:
[code]

[2018-07-12 22:22] chrimc62 commented on #731
I can push it one level down.  IDictionary<String, ScoredObject>
class ScoredObject
{
double Score;
IDictionary<string, object> Properties;
}

[2018-07-13 00:45] cleemullins commented on #745
This was fixed by PR #747

[2018-07-13 07:35] cocoke opened #749 "Sending adaptive card doesn't change ITurnContext.Responded"
Hello, I'm facing a problem, I'm sending an adaptive card with the ``MessageFactory.Attachment`` method and the ``turnContext.SendActivity``
My project contains multiple middleware and the problem is that after sending this adaptive card ``turnContext.Responded`` doesn't set to true.
Also my custom ConversationState doesn't persist until the next 'real' message.

Is that the normal behavior ?

[2018-07-13 10:20] Sire opened #750 "Facebook channel getting flooded with "Failed to validate incoming Facebook message""
Bot Builder v4.0.1
.NET Core 2.0

I've setup the echo bot and a Facebook channel, published to Azure and sending/receiving messages and everything else works fine.

However, I get flooded with these FB channel warnings around every 2 minutes:
"Failed to validate incoming Facebook message. Make sure your FacebookAppSecret is entered correctly."

I've triple checked the facebook app id, secret, page

[2018-07-13 17:43] cleemullins opened #752 "LanguageMap.cs class in Microsoft.Bot.Builder.Ai.Translation should be readonly and static"
The LanguageMap class is currently created frequntly, and is a high-cost-to-construct.

The code should be refactored in 2 ways:
1. The language map should be made Readonly as the contract level. Current usage implies its immutable anyway, so enforcing that makes things cleaner.

2. Construction should be done via a static Lazy<T>, so it's only done once. As the data is unchanging this will cleanu

[2018-07-13 20:36] cleemullins commented on #644
Fixed by @daveta in #753.

If @daveta had said "fixed #644" in the PR comment, this would have auto-resolved. 👍

[2018-07-13 20:36] #644 closed

[2018-07-14 16:48] gabog opened #754 "Change Request: Remove dc.Context.Activity.Type != ActivityTypes.Message check from Prompt.cs"
@cleemullins , @johnataylor , @Stevenic: I am working on a custom EventPrompt that can send an event and expect an event as a response, I am deriving my custom prompt from the abstract Prompt<T> class.

The issue I have is that he base class ignores activities that are not of type ActivityTypes.Message and my custom prompt never gets the response.

Would it be possible to remove this guard from th

[2018-07-14 17:14] darrenj commented on #754
Makes sense given the scenario I think your trying to solve. Might be useful to add a high level generic scenario to help frame the need for the change.

[2018-07-16 16:41] darrenj commented on #690
This will help simplify the proposed telemetry work which right now has to call Text Analytics for each message to get sentiment and keyPhrases both of which LUIS can now do natively which simplifies things. keyPhrases come through as an entity so that should automatically just work but worth a test ahead of checkin.

[2018-07-17 16:23] drub0y opened #761 "DCR: Strongly Typed Activities"
# TL;DR;

Refactor the `Activity` class so it is is no longer a union of all possible activity schemas and instead represents the common properties of all activities and then utilize subclasses for each specific activity type to reduce confusion about which properties have to do with which types of activities as well as being enable to utilize rich language features for determining activity type.

[2018-07-17 16:37] JuanAr commented on #745
We are reopening this issue since we are still seeing 7 tests failing with the same error: `System.ArgumentOutOfRangeException: The UTC time represented when the offset is applied must be between year 0 and 10,000.
Parameter name: offset`

![image](https://user-images.githubusercontent.com/805847/42831965-19fab824-89f0-11e8-8cb9-0f33df66dc15.png)

Note: The `BotAdapted_Bracketing` unit tests is fi

[2018-07-17 20:46] jorupp commented on #736
It'd definitely be nice to still use table storage for persistence even if it gets a not-great-for-production tag (is it's latency a problem?) or something.  Unless I'm misreading it, for a not-used-a-lot bot, bottom-end price point for a Cosmos instance is $25/mo, while azure table storage is trivial.

Of course, given the extensiblity goal there, writing it myself for apps probably won't be hard

[2018-07-18 10:58] lukasvolf opened #764 "OAuthPrompt returns expired token and exits without showing the sign in card"
In my bot (ASP NET Core, Bot Framework 4 latest one compiled locally) I tried using the OAuthPrompt to authenticate the user in my service. I used the following piece of code:

OAuthPromptSettingsWithTimeout settings = new OAuthPromptSettingsWithTimeout()
            {
                ConnectionName = "connection",
                Title = "Title",
                Timeout = 300000
            };

[2018-07-18 12:39] phule80 opened #766 "Customize the response from QnA maker"
I am using Bot SDK v4 integrate with QnA maker.Everything works fine but now I want a way to customize the response message from QnA maker. For ex:  when use is in the middle of conversation and then suddenly he/she asked unrelated question to Bot and then QnA detects the question and response. I need a approach to catch the response and append the message to ask user that he/she want to continue

[2018-07-18 15:17] ukphillips commented on #766
Are you using the QnAMaker middleware? There is an option in the QnAMakerMiddlewareOptions for an answer prefix:

[code]
not appending on the end, but close.

It seems like you would need to set some state on the bot to indicate you have transitioned to an QnA response, if you know that you could send a proactive message following up the QnA response with another message "Do you want to continue?"

[2018-07-18 16:36] JonathanFingold commented on #766
If you are using QnA Maker as a service, as opposed to middleware, you will have access to the responses from your bot code.

**Note**: the following code was written against one of the recent daily builds, so some small amount of reworking would be necessary to get this to compile against the packages published to NuGet.org.

Within your bot's turn handler (here, QnA is an instance of the QnAMake

[2018-07-18 18:20] drub0y opened #768 "Proposal: DelayActivity no longer offers any real value and should be removed"
`DelayActivity` was invented back when outbound activities were buffered before being sent and, therefore, a bot (or middleware) needed to tell the `BotAdapter` to introduce a delay when _actually_ sending the activities out.

Now that a call to `SendActivityAsync` results in an _immediate_ outbound activity being sent, I believe we should remove `DelayActivity` to simplify the code base both exte

[2018-07-18 18:34] drub0y opened #769 "CancellationToken not propagated to the callback/IBot/Dialogs"
When the changes were made to support passing `CancellationToken` down through the pipeline, [I called out](https://github.com/Microsoft/botbuilder-dotnet/issues/661#issuecomment-398226838) that we needed to make sure to add it to the `Func<ITurnContext, Task>` callback that ultimately represents the "bottom" of the chain... today this is usually `IBot` or the Dialogs layer.

It looks like that wa

[2018-07-18 19:52] drub0y opened #770 "Issues w/nightly package versioning scheme"
The nightly packages seem to be building with a four-part version identifier and no pre-release suffix.

First, NuGet packages need to follow [semver](https://semver.org) versioning rules or else wacky things will start to happen with NuGet clients. In short: the versions need to be match the format of: `<major>.<minor>.<patch>[-<prerelease>+<build-metadata>]`

Most of the time people leverage [Gi

[2018-07-18 20:55] cleemullins commented on #770
Thanks for the link to the blog posts. Reading today.

[2018-07-18 21:14] cleemullins commented on #769
This seems like an oversight by John. I've assigned this over to him, and once he's back (later this week) we should be able to do this.

[2018-07-18 21:16] cleemullins commented on #768
@drub0y That's... a great point. Your logic seems correct to me. Let me sync with Steve and verify, at which point we can accept this bug and remove it.

[2018-07-18 21:17] cleemullins commented on #764
Thanks for the bug report! @swagatmishra2007 is the author & owner of this code, and I would like to get his opinion.

[2018-07-18 21:31] swagatmishra2007 commented on #764
Some of the issues seems to be service side. I am following up and will update this thread once i get clarifications.

[2018-07-19 02:31] phule80 commented on #766
Thanks so much for your quick response. Let me re-describe the situation more details so you guys don't take time much on this.
For ex :  In the bot project I have a dialog name: “dialog1” which using Waterfall technology as below:
this.Dialogs.Add(dialogId1, new WaterfallStep[] { Step1, Step2 , Step3, Step4});

When user is in a conversation and at step2, suddenly the user type: “abc” then QnA re

[2018-07-19 07:11] lukasvolf commented on #764
So I made some progress yesterday:
4) I was able to log out using this piece of code:
            var client = turnContext.Services.Get<IConnectorClient>() as ConnectorClient;
            OAuthClient cl = new OAuthClient(client, AuthenticationConstants.OAuthUrl);
            await cl.SignOutUserAsync(turnContext.Activity.From.Id, _connectionName);
I still haven't figured out how to do this in Skyp

[2018-07-19 16:54] drub0y opened #773 "Components requiring state can only document scoping requirements, bot developer has configure correctly"
Under this new design a component indicates it needs one or more pieces of state by requiring `IStatePropertyAccessor<T>` parameters to its constructor. [One of the points](https://github.com/Microsoft/botbuilder-dotnet/pull/760#pullrequestreview-138043228) I was trying to make against this design is that it puts the burden on the bot developer to create these "properties" up front, hold on to the

[2018-07-19 19:34] garypretty commented on #761
I love this approach. Especially being able to use the language level checking / conversions.  Plus, anything like this that can make the experience of on boarding new users to the SDK, which I think this absolutely does, is great to see.  I absolutely support this and think it would be great to see this move forward before we get too far down the road to GA.

[2018-07-19 22:53] daveta commented on #680
@swagatmishra2007 any update?

[2018-07-19 22:58] swagatmishra2007 commented on #680
sorry for the delay on this. Hoping to get on this tomorrow or early next week.

[2018-07-19 23:00] daveta commented on #717
Closing since this is being discussed/ tracked in the webchat repo

[2018-07-19 23:00] #717 closed

[2018-07-19 23:03] daveta commented on #749
@cocoke can you please share a repro code snippet?

[2018-07-19 23:11] daveta commented on #754
@Stevenic's new dialog changes fixes this by introducing a new allActivityPrompt type. We'll wait for that change to come in before we bring this to C# as well.

[2018-07-19 23:15] daveta commented on #766
Thanks for reporting this. We are working through a solution for this. @Stevenic @Kaiqb

[2018-07-20 20:29] drub0y opened #777 "MemoryTranscriptStore::GetTranscriptActivitiesAsync does OrderBy on timestamp producing non-deterministic results that break tests"
`MemoryTranscriptStore` is storing the `Activity` instances it sees in a `List<Activity>`. It's `GetTranscriptActivitiesAsync` performs an `OrderBy` on this list when scanning through it to try to ensure the activities are returned in the order they were received.

The problem is that when activities go by fast enough, such as is the case with unit tests, performing an the timestamps on the activi

[2018-07-20 20:41] drub0y commented on #777
Thinking about this a little further, we would need to be careful about this with any transcript store implementation. For example, the `AzureBlobTranscriptStore` can fall victim to the same problem as it's relying on the `Timestamp` of the blob which could theoretically have activities within the same date/time precision.

[2018-07-20 20:58] mingweiw commented on #764
Issue #2: We shouldn't be returning expired tokens there. I'll take a closer look. Do you have the approximate time when that happened? What's the bot id? What service provider was "connection" for? Do you know the user id of the token? That's in Activity.From.Id.

Issue #3: Cortana doesn't support the new OAuthCard. The v3 / v4 SDK downgrades it to the old signincard. However Cortana doesn't full

[2018-07-21 01:13] vishwacsena commented on #750
@Sire I cannot repro this. Can you clarify where you see these events logged to?

[2018-07-21 01:14] vishwacsena commented on #662
Since the middleware options are gone, this is critical to be addressed in the next iteration.

[2018-07-21 01:15] vishwacsena commented on #636
We need to add this sample since the middlewares are gone.

[2018-07-21 05:20] sidecus commented on #764
@mingweiw Not sure whether Cortana team has checked the current documents for connected account - it's just a mess with the new Azure bot service migration/knowledge.store deprecation. I've spent quite a few hours searching and still cannot get it to work with simple Microsoft account auth on aadv2.

To be specific, I found quite a few documents and none of them is really up to date... I tried eve

[2018-07-21 06:15] fahadash opened #778 "Bot returns 500 directline.postactivity with empty bodies in HTTP to Emulator"
I deployed my bot to a server, I can see the homepage fine but when I connect the Emulator it first shows the following messages

The bot does not even say the conversationUpdate messages to me, and when I say something I get the following in the console

I when connected the Fiddler tool to see what was going through the wire, I noticed that there were errors from the get-go

Request:
[code]

Res

[2018-07-23 07:13] lukasvolf commented on #764
@mingweiw #2: The bot was configured to authenticate against a custom IdentityServer 4 instance running locally. My guess is that the token would be refreshed automatically provided the service was running, but since it is "in development" right now, it is running only when I am testing/debugging. After the token expiration, however, there should be some way to re-authenticate.

[2018-07-23 13:30] JeffCordes opened #779 "Continuing DialogSet from information in state"
All of the current samples that use dialogs or waterflows instantiate a DialogSet in the bot constructor that is called each time a new message or event is received.  This would create a lot of extra instantiation for bots with several possible dialog workflows.

When a dialog starts it stores a List<DialogInstance> in the state with the key "dialogStack".  There should be a way to attempt the con

[2018-07-23 16:02] JonathanFingold commented on #766
@phule80 , sorry for the delay. I will defer to @Stevenic for a full answer, but in short, you probably want to design your logic as follows. (Note that the team is planning to remove both the QnA Maker and LUIS middleware classes, and suggesting that developers just use QnA Maker and LUIS as services within their bot code.)

**Step n**: The user has asked a question and your bot has sent an answe

[2018-07-23 17:39] stevengum opened #780 "Valid prompt answers are null if they follow an invalid answer"
Recreating issue for @jamesemann, who originally posted the issue in the BotBuilder repo: [#4888](https://github.com/Microsoft/BotBuilder/issues/4888)

___

## Bot Info
* SDK Platform: dotnet
* SDK Version: 4.0.1-preview
* Active Channels: testing with emulator
* Deployment Environment: local development with emulator

## Issue Description
args is null in waterfall step following a DateTimePrompt

[2018-07-23 22:46] #745 closed

[2018-07-24 03:09] stevengum opened #784 "CreateDirectConversationAsync throws ArgumentNullException"
Moved over for @michaelmsm89 from the BotBuilder repo: [#4891](https://github.com/Microsoft/BotBuilder/issues/4891)

___

## Bot Info
* SDK Platform: .NET
* SDK Version: 4.0.1-preview
* Active Channels: Slack
* Deployment Environment: Local development

## Issue Description
`IConversations.CreateDirectConversationAsync` throws a `ArgumentNullException`, but the sync version doesn't.

[code]

## Co

[2018-07-24 13:20] jjshuler opened #785 "Where is source for AzureTableStorage?"
I cannot find the source for AzureTableStorage IStorage implementation. I may have encountered a bug with it, but searching all of Microsoft's code for "AzureTableStorage" yielded only the example templates using the class.

[2018-07-24 13:27] JasonJShuler opened #786 "AzureTableStorage throws 400 Bad Request when writing"
I am attempting to write to an AzureTableStorage object following the example documented here:
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharpechorproperty%2Ccsetagoverwrite%2Ccsetag

When I call the Write() method, it throws a 400 Bad Request error.

Here is my code
`await _dataStore.Write(new[] { new KeyValuePair<string, obje

[2018-07-24 19:15] JeffCordes opened #787 "Proactive Messaging Documentation"
bot framework has an extra endpoint at api/messages/proactive?BotAppId={appId} to receive post information for proactive messages.  This is hidden and not mentioned in the current documentation [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=cs) .  This is also not mentioned on the default index page, only api/messages i

[2018-07-24 19:32] johnataylor commented on #769
@drub0y working on this today

[2018-07-24 21:12] drub0y commented on #785
See [my comment](https://github.com/Microsoft/botbuilder-dotnet/issues/736#issuecomment-403628172) on #736 for more details on this.

[2018-07-24 21:12] #785 closed

[2018-07-24 21:14] drub0y commented on #786
I'm not sure what's causing this, but the `AzureTableStorage` implementation has been removed from more recent versions of the code base and, as I replied on #785, [you can read more about it here in my comment](https://github.com/Microsoft/botbuilder-dotnet/issues/736#issuecomment-403628172) on #736.

[2018-07-24 21:21] drub0y commented on #787
So this isn't documented because it's still in a state of flux. I would not suggest relying on that endpoint making the cut, but there's a discussion about it going on here in PR #461 where I was attempting to clean up the endpoint a bit and make it based on events (which #705 recently also moved the internal APIs toward now).

If you feel like this endpoint should be provided "in-the-box" please

[2018-07-25 00:01] johnataylor commented on #769
not yet propagated to dialogs but that we are handling in other threads.

[2018-07-25 00:01] #769 closed

[2018-07-25 00:58] stevengum opened #791 "DCR: change defaultValueFactory to take ITurnContext in BotState.CreateProperty()"
@tomlm drifted from the JS BotState.CreateProperty() implementation by using a delegate to set the default value for the BotStatePropertyAccessor.

The delegate has this type, `Func<T>`, and is called in [BotStatePropertyAccessor.GetAsync()][GetAsync]:
[code]

Since GetAsync already requires an ITurnContext, should we also forward this context to the delegate and thus change BotState.CreatePropert

[2018-07-25 04:10] phule80 opened #792 "Bot sdk version 4- Can't get the conversation reference to connect to LiveAssist(CafeX)"
Hi there,

I am doing the migration from Bot v3 to Bot v4 and integrate with LiveAssist( using C# Bot as an Enabler). Everything works well in v3. Below is the code in the v3 to interact with LiveAssist:

**//get conversation reference
conversationRef = JsonConvert.SerializeObject(activity.ToConversationReference());

//get replied message from LiveAssist server
var reply = JsonConvert.Deserialize

[2018-07-25 04:17] phule80 commented on #766
Thanks @JonathanFingold , @Stevenic , @daveta so much for your time on this. I got your idea. It works now .

[2018-07-25 06:08] stevengum commented on #791
I should note that I haven't forgotten the conversations we've had for the PropertyAccessors implementation 😄

However, I thought this mini-DCR might help flesh out prospective uses for the code we have checked in.

[2018-07-25 10:36] phule80 commented on #792
Hi,

After playing around i realize that we have a class : "ConversationReference" so I tried with the new approach as below and I can get the replied message from LiveAssist server :

**ConversationReference conRef =
             new ConversationReference
            {
                ActivityId = activity.Id,
                Bot = new ChannelAccount { Id = activity.Recipient.Id, Name = activity.

[2018-07-25 11:25] MarceloRGonc opened #793 "Bot created with the Bot Builder SDK v4 into an Azure Bot Function"
Hi there,

I've been trying to put a bot created with the Bot Builder SDK v4 into an Azure Bot Function, so far unsuccessful, due to problems with dependencies.

My question is at this point the Bot Builder SDK v4 is already supported by the Azure Bot Function? If not, are there any plans for it to be introduced?

Thanks in advance for the help...

[2018-07-25 16:19] JonathanFingold commented on #792
@phule80 So, there are some big changes between v3 and v4. Also, some of the SDK features are still changing, so you will need to update your bot code again in a few weeks. However, the following documentation should help for now:

[Bot basics](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics?view=azure-bot-service-4.0) and  [Activity processing](https://docs.microsoft.com/en-

[2018-07-25 19:58] cleemullins commented on #792
@vishwacsena Vishwac, can you take a look at this?

[2018-07-25 20:03] cleemullins commented on #793
Hey @Andrea-Orimoto, can you chime in with the roadmap here around support for SDKv4? I suspect the issue is .Net Core 2 support, as we bumped into that recently.

[2018-07-25 20:08] drub0y commented on #793
Actually we have an open issue around this already in #467 that I suggest you read, but the TL;DR; is that the .NET assembly versioning issues that are common with Azure Functions, due to lack of binding redirects, are a blocker to working with the BBSDK within a function right now. Those still haven't been solved in AF 2.x, and you can [follow along here](https://github.com/Azure/azure-functions-

[2018-07-26 00:42] WhitWaldo opened #794 "Dialog documentation is inconsistent"
Reading through the documentation at [https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-dialog-manage-conversation-flow?view=azure-bot-service-4.0&tabs=csharp](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-dialog-manage-conversation-flow?view=azure-bot-service-4.0&tabs=csharp), there are a few inconsistencies that need corrections.

Each of the issues I found are with

[2018-07-26 08:06] phule80 commented on #792
Hi ,

My scenario is : I want to establish a connection between bot v4 and LiveAssist(LA) and I made it .So far I can send the history information from bot to LA and get back the reply message from LA to show on bot screen. And now what i want is : when the user types something in the bot screen then I process to post the message to LA .The "MessageReceivedAsync" method will do that. Below is the

[2018-07-26 16:35] JonathanFingold commented on #794
@WhitWaldo , this article has known issues and is in the process of being rewritten. I don't have a firm date yet, as we mid-process in preparing for the next update of the NuGet packages, which will contain a number of breaking changes.

[2018-07-26 16:59] JonathanFingold opened #796 "IRecognizerConvert.TopIntent() returns wrong value"
Against daily build v4.0.0.36972

The following code should return a top intent of **Reservation**; however, it is returning **None**.

[code]

Here's runtime info from a breakpoint:

![image](https://user-images.githubusercontent.com/35047199/43276530-c968f85a-90b9-11e8-9142-3aa1006532fd.png)

[2018-07-26 18:21] jjshuler commented on #736
What must we do to encourage the team to maintain Azure Storage account implementations?

CosmosDB is considerably more expensive than table or blob storage, and I would strongly disagree with any claims that it is not fine for production (VMs use storage accounts)

From what I have read, the performance cosmos offers comes at a high cost, and the value just isn't there.

I certainly hope this dec

[2018-07-26 18:34] jjshuler opened #797 "Hosting V3 Dialogs in V4 issues"
We are attempting to convert a v3 bot to use the v4 code with the Classic compatibility layer. This requires using the full .NET framework with the v4 sdk, but there is near zero documentation on how to do this (everything is .NET core)

1. Should we be switching to using the IBot-style, controllerless root? How does this work in the full framework asp.net?
2. How do we implement persistent storag

[2018-07-26 20:56] bchen007 opened #798 "LuisRecognizer surpresses the start and end attributes for data type builtin.datetimeV2.daterange"
When I call the Recognize method and it does not return the start and end attributes in a LuisResult object for datetimeV2 data type which are available in the response.

recognizerResult = await luisRecognizer.Recognize(text, System.Threading.CancellationToken.None);

or
var luisResult = context.Services.Get<RecognizerResult>(LuisRecognizerMiddleware.LuisRecognizerResultKey) as RecognizerResult

[2018-07-26 21:44] daveta opened #799 "DCR: Add ability to Add/View Http Headers"
Currently, by-design, there isn't a way to get Http headers (both incoming from channel, or adding http headers outbound).

There have been a few cases (specifically around custom correlation id scenarios) to:
- Inspect Http Headers coming in, and be able to access in Middleware components
- Be able to add Http Headers when sending messages

For correlation/tracing, I believe this mostly goes away

[2018-07-26 22:18] drub0y commented on #797
Some thoughts...

1. I would highly suggest this, yes. It abstracts away all the ASP.NET'isms and gives you a simpler surface area for unit testing as well. For full framework there's the `Microsoft.Bot.Builder.Integration.AspNet.WebApi` package which does all the same plumbing work using ASP.NET WebAPI 2.x. There is a sample project showing that kind of project [here in the history of the codebas

[2018-07-26 22:32] drub0y commented on #799
⚠️ HTTP is just one possible transport and I would highly recommend we be _very_ careful about leaking anything specific into the Bot Builder APIs that mention or expose HTTP'isms directly. ⚠️

At most you'd maybe shove something into the `TurnContext::Services` collection at the adapter level that downstream middleware could look for _and be tolerant to not finding_ in case, somewhere down the li

[2018-07-26 22:50] stevengum commented on #662
Fixed via #788 for QnA Maker and #775 for LUIS

[2018-07-26 22:50] #662 closed

[2018-07-26 22:53] stevengum commented on #750
Closing due to lack of activity. Please reactivate if you continue to see this or will additional information on where you were seeing these events logged to.

[2018-07-27 09:49] MarceloRGonc commented on #793
Thanks for the quick answer!

I' ll keep an eye on this for future updates.

[2018-07-27 13:10] JeffCordes opened #800 "TurnContext.SendActivityAsync Setting Responded"
Should the SendActivityAsync and SendActivitiesAsync methods in TurnContext accept an optional bool as a parameter to set if the Responed flag is set after Activities are sent?

There is a lot of code that ends up using if (!context.Responded) so it is important that we can control what sets context.Responded.

SendActivitiesThroughAdapter() has logic to not set Responded = true only if the Activi

[2018-07-27 16:57] drub0y commented on #800
I agree that the current implementation is a bit flawed as the SDK just decides what it means to have responded without offering any direct control over it. I don't know if adding the `bool` to the `SendXXX` methods is the right move either, but I think this topic bears some discussion.

[2018-07-27 17:18] drub0y commented on #791
I think your use case is a good one. The only thing I would recommend is that the API offer the ability to simply just take a `Func<T>` _as well_ since I suspect the majority of implementations will probably just return a constant and not need to deal with the `ITurnContext`. The core API can be changed to `Func<ITurnContext, T>` and then if someone just calls the overload/extension method that on

[2018-07-27 17:22] drub0y commented on #791
Not to muddy the waters, but another consideration that should be had is whether the factory offer support for `async` values? If so, the core signature should be changed to `Func<ITurnContext, ValueTask<T>>` and then the synchronous version should also be offered as an extension method that just auto-wraps the sync result with a `ValueTask<T>`.

[2018-07-27 18:15] JonathanFingold commented on #796
Narrowed this down further. It is an issue with the model I had generated from the LuisGen tool. **RecognizerResult** has changed.

[2018-07-27 18:23] JonathanFingold opened #802 "QnAMaker.GetAnswersAsync call not succeeding"
My calls to **GetAnswersAsync** are returning null, signifying that the HTTP request did not succeed.

I think the issue is with this [line](https://github.com/Microsoft/botbuilder-dotnet/blob/e350993d9b0559be88aa085b39b81bdbedb6dab4/libraries/Microsoft.Bot.Builder.Ai.QnA/QnAMaker.cs#L125):
[code]

Manual testing via Postman shows that a payload starting with `{ “question”: “<questionText>”,` work

[2018-07-30 11:00] Sire commented on #750
@vishwacsena Sorry was on vacation.

Under my Azure "Web App Bot", page "Channels", under the "Health" column for channel "Facebook Messenger".

After I successfully send and receive a message it says "Warnings (2)" in this column. Clicking to show details displays:

Facebook Messenger
Recent issues
Clear All
Time	Message
7/30/2018, 12:57:33 PM	Failed to validate incoming Facebook message. Make su

[2018-07-30 11:40] JeffCordes commented on #800
What if instead of having the bool Responed, TurnContext has a property Responses that is a List<IActivity>.  This way the adapters can add all responses without having to do any filtering based on type.  The integrating developer with special logic that only wants to know responses with a certain type can use Linq on the collection to determine that.

[2018-07-30 12:20] ukphillips opened #803 "CosmosDbStorage partitioning option"
It does not appear that the CosmosDbStorage for storing state allows for partitioning. Was this a conscious decision? It seems like it would make sense to naturally partition on a conversation id to allow for better long term scaling.

[2018-07-30 13:30] ukphillips commented on #357
Just now running into this. I want to use dependency injection for creating my middleware (TranscriptLoggerMiddleware) in this case, where I have created my ITranscriptLogger that I need to pass in, which itself gets an internal storage wrapper class passed in to it's constructor. It feels completely out of place to have to create a chain of 3 news:

``options.Middleware.Add(new TranscriptLoggerMi

[2018-07-30 13:34] jjshuler commented on #797
1. Thanks, I will investigate this.

2. To workaround this issue, I copied the code for TableBotDataStore from the v3 github and updated the namespaces. Code is attached.
[TableBotDataStore.cs.txt](https://github.com/Microsoft/botbuilder-dotnet/files/2241298/TableBotDataStore.cs.txt)

[2018-07-30 15:13] jjshuler opened #804 "Possible to host both IBot and WebApi controllers?"
Working on converting a V3 implementation to V4 using Classic support. This requires us to use ASP.NET Full (not Core).

I was able to get the IBot implementation working using Autofac (rather than Unity as in the example), but our bot message handler instance requires some additional controllers (that need to be in the same appdomain as the bot code)

In the BotConfig.cs, I have tried adding the

[2018-07-30 15:34] jjshuler commented on #804
Got it - the base path cannot be the same as the api route. Switching it to api2 and it works like a champ.

[2018-07-30 15:34] #804 closed

[2018-07-30 15:48] drub0y commented on #803
Yes, we should probably do this. Would you be happy with a purely internal implementation of the partitioning algorithm that maybe just takes the id and runs it through a hash to arrive at a partition key or would you expect a hook that would allow you to calculate the partition key yourself? If you would want to calculate it yourself, what inputs were you thinking you'd need?

Right now, off the

[2018-07-30 16:36] ukphillips commented on #803
When it comes to state my initial thought is that this should be handled internally by the framework since from the code it will be storing a DocumentStoreItem object, which the consumer would know nothing about. Or are you suggesting possibly adding a partition key property that could be extracted based on a passed in `Func<string, string>`

I'm having a hard time of thinking when that type of fl

[2018-07-30 19:41] JasonJShuler opened #805 "BotMessageHandlerBase.SendAsync (full framework) media type problem"
Microsoft.Bot.Builder.Integration.AspNet.WebApi does not work with an actual Azure Bot Service - it throw a NotAcceptable exception.

This is because the SupportedMediaTypes list does not contain culture info, and the bot service sends it as utf-8.

I ended up grabbing the source for 4.0.1-preview and patching as follows (to only use the media type name)

I'm sure there is a better way.

I noticed

[2018-07-30 21:37] stevengum commented on #796
@jonathanFingold what is your current status; are you still blocked? Are you using [`GetTopScoringIntent()`](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/RecognizerResultExtensions.cs#L18)?

[2018-07-30 22:11] JonathanFingold commented on #796
Maybe? The LuisGen tool doesn't produce a code file appropriate to the current state of the daily NuGets. I'll need a version that does so  in order to update the documentation that should go live when we update the public NuGets.

LuisGen currently produces a class that provides a `TopIntent()` method (which doesn't call `GetTopScoringIntent()`).

[2018-07-31 11:31] chintan3100 opened #806 "Proactive Bot message not working with Microsoft App id & password."
I am working on Proactive Bot. It is working on local simulator with below code but when we deploy to Azure it is not working.Proactive Bot message not working with Microsoft App id & password.

Please review the attached screenshot. It looks like the authentication issue. Microsoft App id & password is available in the app setting.  It worked only once after stoped working.

  var connector = new

[2018-07-31 12:02] ukphillips commented on #806
Can you provide more information about what the code is doing? It looks like you are responding to an existing conversation? Can you connect to this conversation using postman directly with the DirectLine endpoints? Is this this running in webchat, or within the azure portal web chat tester?

[2018-07-31 12:09] GhostAtom opened #807 "Cannot get BotState services because by default BotState are tranformed into CachedBotState"
Hi,
At runtime when the key requested doesn't exists in AzureBlobStorage a new CachedBotState is added in the turn services collection. Then I cannot access the original BotState object to create the assessor

`var userState = dc.Services.Get<UserState>();`
or
`var userState = dc.Services[nameof(UserState)] as UserState;`
`userState` is null because of the impossible cast to `BotState.CachedBotSta

[2018-07-31 17:03] pradeepkumarkm opened #808 "Error thrown while invoking Bot "Bot should use its own storage""
Hi,
   In Azure portal I create BOT Channel and used the same to communicate with my webservice. And recently I am getting error as show below.
{
  "error": {
    "code": "ServiceError",
    "message": "Bot should use its own storage"
  }
}
This is happening only for newly created BOT Channels. Previous channels were working fine.

Regards,
Pradeep

[2018-07-31 17:43] cleemullins commented on #764
@lukasvolf, I've assigned this over to @Jeffders who will take a look. Hopefully we can get to resolution pretty quickly.

[2018-07-31 17:43] mingweiw commented on #764
Assuming we have the issues here covered. Feel free to reopen if not. Thanks.

[2018-07-31 17:43] #764 closed

[2018-07-31 17:45] swagatmishra2007 commented on #680
assigned to @Jeffders who is working on this.

[2018-07-31 20:11] yochay commented on #806
This is a great question for Bot Framework on [Stackoverflow](https://stackoverflow.com/questions/tagged/botframework).

[2018-07-31 20:11] #806 closed

[2018-08-01 11:08] jjshuler commented on #797
Thanks, I was successful in switching to the IBot implementation with the caveat mentioned in #797 (4.0.1-preview doesn't work with azure bot service). I have also worked around this.

[2018-08-01 11:08] #797 closed

[2018-08-01 11:09] GhostAtom commented on #807
@drub0y for me it isn't a question but more an issue.
Using the underling private object `CachedBotState` directly in the services collection prevent any use of the `BotState` and the state management methods.

[2018-08-01 11:38] jjshuler commented on #805
Here is a better looking example fix:

Add the following using statement
`using System.Linq;`

At line 58 (59 after adding reference to System.Linq) in [Microsoft.Bot.Builder.Integration.AspNet.WebApi.BotMessageHandlerBase.cs](https://github.com/Microsoft/botbuilder-dotnet/blob/ffc18910fa5c157922c9a4a11c2842ce9fe6213f/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotMessage

[2018-08-01 16:31] GhostAtom commented on #807
@ukphillips in the master branch version this extension doesn't exists.
I created my own extensions but in the implementation I have faced the issues mentioned in this thread.

I managed to tackle this by turning the `CachedBotState` to public.

[2018-08-01 19:13] ukphillips commented on #807
Good point. I was just looking and it appears a lot around state has changed quite a bit. Looking at the latest code and the tests, it's definitely a little confusing how to use it. Loading the state sets the service (`CachedBotState` as you mentioned which is private) this doesn't quite feel right, but it would mean that you need that as a public type as you has solved it.

It seems like there sh

[2018-08-02 07:53] franperezlopez opened #811 "WhatsApp channel support"
WhatsApp just launched the [API for business](https://developers.facebook.com/docs/whatsapp/) in preview
do you have any plans for adding whatsapp as a channel in bot framework and support regular messaging capabilities??

[2018-08-02 10:29] 1110770MiguelSilva commented on #750
Having same problem when using test app.

[2018-08-02 13:10] GhostAtom commented on #807
Sadly I cannot access UserState, ConversationState or a custom BotState actually because of the problem I mentioned, `CachedBotState` is inaccessible.
Anyway `GetPropertyValueAsync` is internal so I would have to do some plumbing with a custom BotState manager.

[2018-08-02 20:04] EricDahlvang commented on #811
Hi @franperezlopez

This issue: https://github.com/Microsoft/BotBuilder/issues/2920  on the BotBuilder repository is currently tracking interest in a Bot Framework WhatsApp channel.  Please share your interest there.

[2018-08-02 21:30] suensky opened #813 "Bot API is not flexible"
Now you can only config the Bot API when launching the bot service. E.g., config
[code]
What if I want to add some routes information to the API? E.g.,
`/Company/{companyName}/Department/{DepartmentName}/version/{version}/api/messages`
Here all the variables inside {} are filled during connection. With the current hard coded API path, this is infeasible. But the scenario is quite valid as this RES

[2018-08-02 22:09] JonathanFingold opened #814 "BotState should not be abstract"
There are scopes other than **user** and **conversation** for which state is useful.

In particular, I'm working on a proactive sample. If the bot is managing a number of "jobs" for various users, supporting state information doesn't fit into either conversation or user state.

Do we want people to roll their own each time this comes up?

* Caching information from another service.
* Managing info

[2018-08-03 02:43] drub0y commented on #813
So, first, you could always write your own controller and host the bot in it yourself by taking the `BotFrameworkAdapter` as a dependency to that controller's constructor and then calling things like `ProcessMessageAsync` and `ContinueConversationAsync`.

Next, the existing integration does not actually leverage the rich routing features of ASP.NET Core. It's working at a slightly lower level usin

[2018-08-03 03:10] drub0y commented on #805
First, I'd probably avoid using LINQ here because of the performance implications and the fact that this is core logic that needs to be super sensitive about introducing overhead, but the point is still valid that this needs to be fixed.

That said, I believe we can fix this much more simply by adding an entry to the `SupportedMediaTypes` to the `JsonMediaTypeFormatter` we create to include one th

[2018-08-03 08:46] GhostAtom commented on #807
Of course I know that the implementation is not final but I need SSO features...So for now this workaround is good enough for my needs.
Thanks for pointing me to this PR I'll take a look.

[2018-08-03 11:41] JasonJShuler commented on #808
Hey, just a couple questions that might help getting you help with this:
Is your webservice using the bot builder SDK? v3 or v4?
When you say "BOT Channel" do you mean you created a Bot Service, or added a new channel to an existing bot registration?
What type of bot registration are you using? Functions, Web App or message handler registration?

Where are you seeing this error?

Thanks!

[2018-08-03 12:05] JasonJShuler commented on #805
Thanks @drub0y,

Here is a revised patch based on your recommendations:

In the 4.0.1-preview code, insert the following after line 31 (After the closing brace for SerializerSettings on the BotMessageMediaTypeFormatters definition)

`                ,SupportedMediaTypes =
                {
                    new System.Net.Http.Headers.MediaTypeHeaderValue("application/json") { CharSet = "utf-8"

[2018-08-03 12:46] gabog opened #815 "Proper capitalization convention for the Microsoft.Bot.Builder.AI namespace"
Hi, based on the C# capitalization conventions (https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/capitalization-conventions) two letter acronyms should be uppercase and not PascalCase (i.e. System.IO, System.UI, etc.).

So the proper capitalization for the AI namespace should be Microsoft.Bot.Builder.**AI** and not Microsoft.Bot.Builder.**Ai**.

Gabo

[2018-08-03 16:50] ukphillips commented on #807
I also ran into the DI and middleware issue (or atleast a dependency of the middleware). As a short term fix, I explicitly resolved it when I created the middleware in configure services:

`services.AddTransient<ITranscriptLogger, CosmosTranscriptLogger>();`
`var sp = services.BuildServiceProvider();`
`var service = sp.GetService<ITranscriptLogger>();`
...
`options.Middleware.Add(new TranscriptLog

[2018-08-03 17:42] suensky commented on #813
Thanks @drub0y for the quick and detailed response. Here are my thoughts and correct me if I'm wrong.

1. Writing my own controller and use the lower level components is definitely an option that crossed my mind. But that means I throw away all the good efforts the Integration of ASP.NET Core you have already done. That means, whenever there is upgrade regarding that part, I need to either follow

[2018-08-03 18:09] ukphillips commented on #814
I personally think the current approach is fine - the only thing the concrete classes currently do is implement the look up key for the IStorage implementation. Not exactly a huge lift to implement for custom state objects you might want. On any BotState you can have whatever properties of whatever type you want via `CreateProperty<T>(name)`, allowing for custom items to be stored on the Conversat

[2018-08-03 21:22] stevengum commented on #791
I think it's safe to close this DCR as now the `defaultValueFactory` is on the [`getAsync`](https://github.com/Microsoft/botbuilder-dotnet/pull/812/files#diff-82c6659b3b366b234170a2b7a16e6081R296) as opposed to the constructor. This means that when you get the property value you'll have access to the current context and can create a turn specific  `defaultValueFactory` before getting the property

[2018-08-03 21:22] #791 closed

[2018-08-03 22:27] #811 closed

[2018-08-04 00:52] JonathanFingold commented on #787
@JeffCordes I have a proof of concept proactive message bot that will send the proactive message in response to receiving an event activity with a specific name. The bot will send the proactive message to the appropriate conversation in response to the event. If this will address your issue, I can include more details. The bot is written against the daily builds, but the methodology should work ag

[2018-08-06 02:56] WhitWaldo opened #818 "Can't access non-bot MVC controllers"
I'm attempting to build a proof of concept of using the BotBuilder v4 in a Service Fabric stateful service running ASP.NET Core. Each of the samples given shows implementing the BotFramework itself, but none show using it alongside other MVC functionality.

Specifically, because this service isn't available on the internet, I need to access it via the App Gateway and because it uses non-standard p

[2018-08-06 03:10] WhitWaldo commented on #818
Further poking around has indicated that BotFramework isn't doing anything wrong here - I had a Service Fabric misconfiguration with regards to Kestrel and static ports.

[2018-08-06 03:10] #818 closed

[2018-08-06 15:13] JeffCordes commented on #787
@JonathanFingold I would like to look at the POC that you have made to see if it will fit our needs.  We can run against the current version to review this also.

[2018-08-06 16:46] JonathanFingold commented on #787
@JeffCordes , here's the POC, using daily build package v4.0.0.37444 of **Microsoft.Bot.Builder.Integration.AspNet.Core**. There may still be some breaking changes to state classes in the pipe, so double check which version you use.

1. Start from the VSIX template.
1. Update the **Microsoft.Bot.Builder.Integration.AspNet.Core** NuGet package for your project.
1. **Important**: Update **appsetting

[2018-08-06 16:53] JonathanFingold commented on #814
I'll run with whatever the team decides.

If a bot needs to route a question to another user (moderator or admin), then neither user nor conversation state will be appropriate. Same goes for any automated process not tied to a user.

[2018-08-07 13:09] JeffCordes commented on #787
Thanks for this.

Is the assumption that for a real solution instead of using the bot emulator, you would have the event triggering code use the directline v3 API to authenticate, start a conversation, then send and activity?

Otherwise, I think my only concern with this approach is its kind of magic stringy.  There is nothing stopping a user from typing a phrase that starts with "done."

Would it

[2018-08-07 14:44] PhilThome opened #823 "[tracking] ConfirmPrompt not working in German, Chinese and French"
Hi,

I use a ConfirmPrompt to use with German:

Dialogs.Add("confirmPrompt", new ConfirmPrompt(Culture.German));

and would expect it to understand "Ja" or "Nein" (which mean "Yes" or "No"). It doesn't. :-)
Could you please tell me if it supports German? Or how it works?

Thanks,
Phil

[2018-08-07 15:43] JonathanFingold commented on #787
@JeffCordes , Yes, processing the "done …" message is only a stand in for the event, to allow this scenario to be demonstrated in the emulator.

This example assumes a separate job processing system, that might use DirectLine to communicate with the bot. The bot would send information to the job system, and the job system would send [event](https://docs.microsoft.com/en-us/azure/bot-service/bot-se

[2018-08-07 15:48] garypretty opened #824 "Confirming during WaterfallStep flow"
Hi.

I have a bot with a WaterfallStep dialog.  This drops through the steps, prompting the user for various answers.

Is there an easy way for the dialog to confirm that the previous value entered is correct before moving on to the next step in the waterfall? Or perhaps move back to the previous step if the user doesn't confirm that their entered value was correct?

Thanks

Gary

[2018-08-07 16:01] #802 closed

[2018-08-07 16:08] JonathanFingold commented on #824
@garypretty , This is covered a bit in the using prompts topic, see the [Validate a prompt response](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-prompts?view=azure-bot-service-4.0&tabs=csharp#validate-a-prompt-response) section. Short form, if you include a validator, the step will repeat until the input validates. You would also want to [Specify prompt options](https://docs.mic

[2018-08-07 16:12] garypretty commented on #824
Thanks. I thought about using a validator, but I'm not clear that during this step I can present the user with a confirmation prompt. E.g. Is this the right email XXXX? Yes / No and then fail the validation if they answer no. I guess the question is can I have a multi step validation process?

[2018-08-07 16:16] JonathanFingold commented on #824
Oh, yes, that is a less straight-forward problem. We are in the process of writing a topic that will help. I'll post a link when it is live (today or tomorrow). You could break up your waterfall dialog, and then loop though a specific section as necessary (using a combination of the dialog context's begin, end, and replace methods).

[2018-08-07 16:18] garypretty commented on #824
That sounds exactly like what I need. Please do share once you have it. Thanks 👍

[2018-08-07 16:25] garypretty commented on #824
Also if you have a small code snippet you can share for this that I can figure out for myself that would help as I could do with solving this tonight if possible. Thanks for your help.

[2018-08-07 16:40] JonathanFingold commented on #824
Here's the raw dialog set we'll have in the topic (current live, as opposed to daily build)...
[code]

[2018-08-07 18:18] JonathanFingold commented on #787
@JeffCordes , That that would be a change to the underlying REST API, as opposed to this SDK. Extending the **IEventActivity** or **Activity** type with **GetValue<T>()** and **TryGetValue<T>(out T value)** methods might be the way to go, and might be a good feature request.

There are already similar extension methods for accessing the **ChannelData** property on message activities, see [GetChann

[2018-08-07 22:01] p-nagpal opened #825 "User-Agent proposal: Formatting requests"
We would like to extract 6 fields from the user agent string if possible:

1. BotFramework  Protocol version
2. SDK version
3. SDK Host   (Language)
4. SDK Host Version
5. OS
6. OS arch

To allow this, can we request the [User Agent Proposal ](https://github.com/Microsoft/botbuilder-dotnet/blob/d342cd66d159a023ac435aec0fdf791f93118f5f/doc/UserAgents.md
) support the additional fields below?

1. Co

[2018-08-08 02:40] vishwacsena commented on #535
@daveta @stevengum is this addressed with the recent cleanup?

[2018-08-08 11:44] garypretty commented on #824
Thanks. Just seen this. Will check this out as soon as I can. Thanks very much for sharing!

[2018-08-08 13:57] JeffCordes commented on #787
I feel like ChannelData is a good comparable.  A few things here though...  The GetValue and TryGetValue are never used in the code except for the unit tests.  The unit tests are skewed because the setup uses a object initialized in the executing code, and that allows object.GetType() to work.

The real use case is that the Activity that contains the Channel data comes in through an api as a JObje

[2018-08-08 15:25] JuanAr opened #826 "Use Azure.Test.HttpRecorder to record and mock LUIS service responses"
We found the [Azure.Test.HttpRecorder](https://www.nuget.org/packages/Microsoft.Azure.Test.HttpRecorder) used in the LUIS [Runtime.Tests](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Language/LUIS/Runtime.Tests/BaseTest.cs#L26-L35) to conditionally hit the external service and store the response in file system and then use this responses to mock t

[2018-08-08 17:31] JonathanFingold commented on #787
@JeffCordes , Can you open a new issue about how to get event data out of an event activity? I think it will get lost in this thread. I'll try to investigate, but I'm not sure how soon I can get to it.

If you are unblocked with respect to proactive messaging, I'd like to close this issue.

[2018-08-08 22:35] vishwacsena commented on #375
State management is in and will be available as part of SDK v4 stable release.

[2018-08-08 22:35] #375 closed

[2018-08-08 22:36] vishwacsena commented on #420
Done.

[2018-08-08 22:36] #420 closed

[2018-08-08 22:42] vishwacsena commented on #824
Please reactivate if you need additional clarification.

[2018-08-08 22:42] #824 closed

[2018-08-09 01:46] DanDev33 opened #828 "AzureBlobTranscriptStore.DeleteTranscript(channelId, conversationId) does not delete stored transcript"
1. Create new AzureBlobTranscriptStore
2. Save user message activity using LogActivityAsync()
3. Retrieve Ids of stored transcripts using ListTranscriptsAsync()
4. Attempt to delete excess stored transcripts using DeleteTranscriptAsync()
    - try/catch returns no error, but transcripts are not deleted.
Example code built with Daily Build v4.0.0.37534 attached.
readme.md details the test logic.

[

[2018-08-09 11:08] garypretty commented on #824
@JonathanFingold Hi. Just wanted to say a massive thanks for sharing that code with me. Answered my scenario perfectly. Really appreciate the assistance.

[2018-08-09 11:17] JeffCordes commented on #787
That is fine @JonathanFingold.  There may be some more around this, but I also need some more time to put some more complex POCs together and see where we are.  So yes we can handle in subsequent tickets.  This has definitely reached TLDR; status..

[2018-08-09 13:31] JeffCordes commented on #828
It looks like the id gets Uri.EscapeDataString(key) as it is saved.  however when you get the transcripts you are getting its already escaped version, and the delete is escaping it again.

try..  await _myTranscripts.DeleteTranscriptAsync("emulator", Uri.UnescapeDataString(thisChannelId));

It is expecting the unescaped version of the conversationId.

@DanDev33

[2018-08-09 16:33] #787 closed

[2018-08-09 17:12] DanDev33 commented on #828
Thanks Jeff,

That worked great. I preferred to move the string conversion up to where the conversationIDs were initially stored, but the end result was the same.

foreach (var item in pagedResult.Items)
{
     // Make sure we store an unescaped conversationId string.
     var strConversationId = item.Id;
     storedTranscripts.Add(Uri.UnescapeDataString(strConversationId));
}

For the released pr

[2018-08-09 20:02] ukphillips commented on #807
Having pulled down the daily builds I am starting to see with some of the issues caused by the latest changes. Based on a few samples I have seen posted, there is an accessor being registered as a singleton after the bot that wraps the variaous IStatePropertyAccessor<T> properties. This works fine to get the injection to work into the Bot main class, but I think I'm running into the same issue as

[2018-08-09 22:38] #659 closed

[2018-08-09 22:48] #766 closed

[2018-08-10 20:36] vishwacsena opened #834 "[Spec] Samples for Bot Builder V4 SDK"
# Goals
- Make it easy for developers to learn basic bot concepts
- Provide a numbering scheme for samples so developers can start simple and layer in sophistication
- Samples targeted at scenarios rather than technology involved
- Consistent set of samples across supported languages
- Samples are also consistently used in the docs topics for continuity and are developed by the documentation team,

[2018-08-10 22:35] yochay commented on #834
@vishwacsena , there are minor copy & paste error in the sample structure js folder/files description. update the .CS ref to JavaScript

| - Program.js                              // Default program.cs
| - Startup.js                              // Default startup.cs – configuration builder + middlewares

[2018-08-10 22:40] jamesemann commented on #834
These look great! I missed these initially because I was looking at botbuilder-dotnet/master, mostly because I can't follow instructions but just an FYI as other people may do the same

[2018-08-10 22:55] ksivamuthu commented on #834
Looks great !!!  Some of the suggestions I've is:

1. File names of JS/TS. (kebab case, lowercase letters)
2. index.js as the start script (instead of program.js)
3. Use `transcripts` directory to save the transcripts of example in the repo. .chat file can also be in this directory where the mock conversation is designed.

Question: Can we integrate Adaptivecard.io Visualizer into Bot Framework Em

[2018-08-10 23:44] vishwacsena commented on #834
@yochay - Fixed.
@ksivamuthu - fixed #1, #2, for #3, I believe the .chat files should live under the individual scenario. Transcripts make sense to live at the root level.

[2018-08-11 00:16] ksivamuthu commented on #834
@vishwacsena Transcripts at root level makes sense. 👍

[2018-08-12 05:27] yochay commented on #834
@christopheranderson we document steps required for developers success using popular tools like VS Code as well as common Microsoft tools like VS.

Most current JS samples, for example [Echo-Bot](https://github.com/Microsoft/botbuilder-js/tree/master/samples/echobot-es6) work with npm install + npm start. We will take a not to make sure JS samples continue to have that functionality (they have to.

[2018-08-12 06:39] yochay commented on #834
@vishwacsena  do we need to add a 'deployment' folder for resource generation and deployment scripts?

[2018-08-12 18:19] yochay opened #835 "Enable Bot.Builder.Classic (V3) dialog to run side-by-side with V4 dialogs"
The classic namesape enables to run V3 dialogs wrapped in a V4 bot. To provide continuation from V3 to V4, we need to find a way to pass enough context (state) and control to a V4 dialog. For example. V3 root dialog has two child dialogs, order, and name. Once both dialog complete, the root dialog can call a V4 dialog (to collect address information).

The ask is to provide the capability to have

[2018-08-12 18:23] yochay opened #836 "Host V3 dialogs in a V4 bot sample"
Add a sample, showing V3 dialogs hosted within a V4 bot, using an adapter.

- V3 should have a root dialog, with two child dialogs that collect information.
- pass state (received information) between V3 dialogs and V4 bot.
- Create a new dialog, using V4 based on data collected with the V3 dialogs.

related to https://github.com/Microsoft/botbuilder-dotnet/issues/835

[2018-08-13 12:51] JeffCordes commented on #800
This is now being accomplished by using the eventhandlers.. https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-event-handlers?view=azure-bot-service-4.0&tabs=cseventhandler

And storing the sent activities in the context.Services

[2018-08-13 12:51] #800 closed

[2018-08-13 22:37] yochay commented on #826
We can run tests on .NET 4.61, which should be enough for GA. Keep track of this items and pull in the updates as soon as they are ready.

[2018-08-13 22:49] yochay commented on #814
Our state implementation is not designed to capture all state. Use other stores to save specific user data.

[2018-08-13 22:49] #814 closed

[2018-08-13 22:54] yochay commented on #808
Please ask questions on stack overflow https://stackoverflow.com/questions/tagged/botframework

[2018-08-13 22:54] #808 closed

[2018-08-13 22:59] yochay commented on #805
@JasonJShuler  please create a PR with your changes.

[2018-08-14 01:00] JasonJShuler commented on #805
@yochay seems I don't have rights to push a branch. Am I doing it wrong?

[2018-08-14 01:52] rcervantes opened #837 "Issue with ChoicePrompt"
The issue is simple to replicate:

- Create a ChoicePrompt in C# Bot Builder V4.
- Fill the List<Choice> with the following values:
    - "Word1, Word2 Word3 Word4"
    - "Word1 Word2, Word3 Word4"
    - "Word1 Word2 Word3, Word4"

PD: If you see with detail is almost the same string a comma makes the difference.

- The issue is able to reproduce when you pick the Item 2 or 3 of the List, since al

[2018-08-14 04:16] yochay opened #838 "Externalize bot components and services dependencies"
FInd a way to create a place to store all bot components and services such as LUIS, QnA, Storage, type of middlewares, etc. A suggestion was to create a dictionary in the services that each component can register. Is the Services object a good place to store this?

[2018-08-14 08:14] Souvik04 opened #839 "Ability to get ranked results based on the input does not work"
Using Bot Framework SDK v-3 I was able to get the list of matching questions based on a keyword as suggested action/cards like this-
[Suggested actions cards in QnAMaker Dialog](https://stackoverflow.com/questions/50326318/retrieve-multiple-questions-matching-the-search-keyword-in-qna-maker)

![image](https://user-images.githubusercontent.com/17876015/44079488-d7ba174c-9fc6-11e8-9854-169b5a5dd2e5.

[2018-08-14 14:02] chintan3100 opened #841 "Transcript for user and bot is not available. In bot V3.0 there is IActivityLogger , can we have similar sample using V4.0"
I would like to see all conversation history, Including bot and user's responses

For Ex.

Bot : Hi,
User : Hellow
Bot : What is your location
User : some city
Bot : Please enter your current location

..........

[2018-08-14 18:49] JonathanFingold commented on #839
@Souvik04 , We will be removing the implementation of QnA Maker as middleware from the v4 SDK. However, it will still be available as a service. Here is some sample code, based on the C# echo bot template.

Please reopen the issue if this does not answer your question.

1. Install the `Microsoft.Bot.Builder.Ai.QnA` NuGet package.

1. Add information about your knowledgebase to your appsettings.jso

[2018-08-14 18:49] #839 closed

[2018-08-14 21:10] #805 closed

[2018-08-14 21:18] #815 closed

[2018-08-14 21:33] johnataylor commented on #754
This should be fixed now. As an example see the test code in ActivityPromptTests.cs

[2018-08-14 21:33] #754 closed

[2018-08-14 21:34] johnataylor commented on #710
This was fixed a while back.

[2018-08-14 21:34] #710 closed

[2018-08-14 21:37] johnataylor commented on #612
We have these methods on ComponentDialog now.

[2018-08-14 21:37] #612 closed

[2018-08-15 07:51] Enghouse-CCSP-PS commented on #750
same problem with ver 3.12

[2018-08-15 07:55] vovanb commented on #750
same issue

[2018-08-15 08:42] Sire commented on #750
@stevengum please reopen

[2018-08-15 08:42] vovanb opened #843 "Failed to validate incoming Facebook message. Make sure your FacebookAppSecret is entered correctly."
Hi
Suddenly getting error in Facebook channel. Did all reconfiguration - same problem.
Thanks

[2018-08-15 12:41] Souvik04 commented on #839
@JonathanFingold Thanks for the work around. As an alternate approach I also used the native HTTP calls to the API, as described here- [Get answers to a question by using a knowledge base
](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/csharp#get-answers-to-a-question-by-using-a-knowledge-base) and constructing the CardAction, similar to how you have shown.
Here is

[2018-08-15 13:50] vishwacsena commented on #658
Covered via #834

[2018-08-15 13:50] #658 closed

[2018-08-15 16:53] stevengum commented on #843
Cross linking with #750

[2018-08-15 16:54] stevengum commented on #750
@1110770MiguelSilva, and @vovanb, please provide which template you're using if any and the botID and bot handle for your bot.

[2018-08-15 16:55] stevengum commented on #843
@vovanb I'm closing this issue as it's directly related to #750. Can you please see my comment there and provide the additional requested information.

[2018-08-15 16:55] #843 closed