[2022-02-07 20:32] dmvtech commented on #6094
Maybe something like:
`coalesce(getProperty({"pro1":23}, 'path'),'PATH_IS_NULL')`

[2022-02-07 20:58] gabog commented on #6156
Hi @Nehaongithub, if your asp.net core app is targeting dotnet 3.1, you should get microsoft.logging.extensions 3.1 automatically, if not, you can try adding an explicit reference to 3.1.3 to your project and I think that should override the request for 2.1, let us know if that's not the case.

Gabo

[2022-02-07 22:48] lauren-mills commented on #6084
Also, if you would like to restrict access to your bot for users in a specific tenant that can be done by adding an OAuth Connection in your bot configuration in the Azure Portal and adding in an OAuth Prompt or Input asking users to login.

[2022-02-07 22:57] anishprasad01 commented on #6098
@effirmaevei,

When you say "LanguageServices", are you referring to [QnA Maker](https://www.qnamaker.ai/), or [Cognitive Service for Language](https://azure.microsoft.com/en-us/services/cognitive-services/language-service/)? The former should work, but the latter may not.

[2022-02-07 23:23] effirmaevei commented on #6098
This issue is in reference to the updated version of QnA Maker, "Question answering" that all doc articles tell users to start implementing. The parent service would be **Azure Cognitive Service for Language**, right?. See message below:

![image](https://user-images.githubusercontent.com/20551019/152888200-75e1f351-ffc5-4a6a-934f-9a453ea4338f.png)

https://azure.microsoft.com/en-us/services/cogni

[2022-02-08 03:33] ramfattah commented on #6098
Hi @effirmaevei

Correct, Azure Cognitive Service is the newer version.

I was able to access "QnAServiceType" property by doing the following steps:
1) Complete this documentation [Quickstart: question answering](https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/question-answering/quickstart/sdk?pivots=studio) - (Select Language Studio)
2) After creating the "[question an

[2022-02-08 14:37] #6154 closed

[2022-02-08 17:57] #6176 closed

[2022-02-08 17:57] #6087 closed

[2022-02-08 22:05] EricDahlvang opened #6182 "Add future deprecation message to AdalAuthenticator"
**Is your feature request related to a problem? Please describe.**
In preparation for https://github.com/microsoft/botbuilder-dotnet/issues/6175 with V5 of the sdk, add an Obsolete attribute with instructions to AdalAuthenticator

[2022-02-09 06:47] effirmaevei commented on #6098
Yes indeed. Compatible code can be found if you follow those outlined steps. I think I mentioned that it works by using that included project reference for the QnA.AI library.

The matter here is that it does not work with the QnA.AI library published here in master. So.....

When are we getting that custom built QnA.AI library that comes fron the steps you described added to the main branch here

[2022-02-09 12:54] sahithikkss opened #6184 "Language Service Question Answering to be invoked from Microsoft.Bot.Builder.AI.QnA"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Language Service QA feature does not have equivalent feature official Bot builder SDK.

**Describe the solution you'd like**
Microsoft.Bot.Builder.AI.QnA to h

[2022-02-09 18:31] ramfattah commented on #6098
Hi @effirmaevei, looks like this is currently being worked on - [pull-request](https://github.com/microsoft/botbuilder-dotnet/pull/6179) #6179.

[2022-02-09 18:47] ramfattah commented on #6098
I am closing this one for now, feel free to re-open if you are still having issues.

[2022-02-09 18:47] #6098 closed

[2022-02-10 10:18] i-knezevic-milan opened #6186 "Template expand issues with string() and jsonStringify()"
## Version
.NET SDK 6
AdaptiveCards.Templating 1.2.2

## Describe the bug
1. When using literally ${string({'name': 'Sophie Owen'})} in a template as text of text block (or anywhere else) calling template.Expand does not execute this expression
2. When using ${string(myObject)} where myObject is a variable passed to Expand method, template **is** expanded, but the way it is expanded makes the expa

[2022-02-11 00:36] mrivera-ms commented on #6120
Thank you for opening this issue, @podgito. Please note that the Bot Framework Custom Adapters are being moved to the Community repository located here: [BotBuilderCommunity: dotnet](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/pull/461). The PR is currently under review.

This and all future issues should be opened there.

cc @padraiccloda

[2022-02-11 00:36] #6120 closed

[2022-02-11 07:25] woasishen opened #6199 "Microsoft.Bot.Builder.Integration.AspNet.Core 4.15 has a bug with App Service extension"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.15

## Describe the bug
I follow the doc [Configure .NET bot for extension](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directli

[2022-02-11 09:09] Rich-biomni commented on #6094
@dmvtech I get where your going unfortunately path is not always a constant string.  In our application the end user can define the expression, therefore the path can be a variable e.g dialog.XXXX

Currently when the path is null a NullReferenceException is thrown (never a good thing) which tells the user nothing and is really difficult to support. Ideally we want the engine to return an error 'yo

[2022-02-14 16:36] miguelhughes opened #6202 "TurnContext is disposed when using TwilioAdapter on Proactive Message"
## Version
4.14.1

## Describe the bug
Using TwilioAdapter, I'm unable to start a dialog in a proactive message, and save changes to the turn context. After the activity goes out, TurnContext is disposed and I can't persist the updates to the conversation.

## To Reproduce
Steps to reproduce the behavior:
1. Clone this repo: https://github.com/miguelhughes/ProactiveTwilioDialog
2. Initialize appse

[2022-02-14 18:12] ramfattah commented on #6202
Hey @miguelhughes, I'm investigating this.

[2022-02-14 18:30] #5007 closed

[2022-02-14 18:39] #4810 closed

[2022-02-14 19:01] gabog commented on #5671
closing it should be done as part of https://github.com/microsoft/botframework-sdk/issues/6448

[2022-02-14 19:06] #5909 closed

[2022-02-14 19:10] gabog commented on #5951
Hi, the custom adapters are in the process of being moved to the community repo.

Here is the link to the PR: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/pull/461

Can you please post your issue and PR there?

Thanks

[2022-02-14 19:10] #5951 closed

[2022-02-14 19:13] #5924 closed

[2022-02-14 20:39] anishprasad01 commented on #6084
Since this is expected behavior, I am going to go ahead and close this issue. If you have issues or feature requests in the future, please feel free to raise them in the appropriate repository.

[2022-02-14 20:39] #6084 closed

[2022-02-15 18:11] dmvtech commented on #6186
hi @i-knezevic-milan

This looks like a known issue with Adaptive Card templating and Adaptive Expressions (both of which use `$`) in which there is a type of collision.

Please see this issue for further info:
https://github.com/microsoft/BotFramework-Composer/issues/8798

@boydc2014 I'm going to assign this one to you as well. Feel free to close whichever is more appropriate and leave the other

[2022-02-15 22:26] #6173 closed

[2022-02-16 21:22] LeeParrishMSFT commented on #5729
Closed with PR: https://github.com/microsoft/botbuilder-dotnet/pull/5682

[2022-02-16 21:22] #5729 closed

[2022-02-17 00:27] BruceHaley commented on #6043
All branches renamed except 4.15 which awaits PR #6203 to be merged.

[2022-02-17 20:06] BruceHaley commented on #6043
Completed for all branches.

[2022-02-18 12:18] miguelhughes commented on #6202
Thanks @ramfattah . Is there anything I can do to help?

[2022-02-18 22:36] anishprasad01 commented on #6199
I am looking into this. In the meantime, the `ib` and `ob` being false could indicate that the bot is either unreachable due to a config issue, or the bot is not running. You could try setting the App Service to never idle and see if that fixes the problem.

[2022-02-21 21:21] javier-mora opened #6230 "'Break out of loop' does not work"

[2022-02-22 18:58] ramfattah commented on #6202
Hi @miguelhughes,

Thank you for your patience. This is my first time working with Twilio. I followed this documentation [Connect a bot to Twilio](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-twilio?view=azure-bot-service-4.0) to get familiar.

I created a free trial account on Twilio to get a phone number along with account credentials. I cloned your repo and in

[2022-02-22 19:29] mrivera-ms commented on #6167
Thank you for submitting this issue @mocalv. Closing as resolved by the customer.

[2022-02-22 19:29] #6167 closed

[2022-02-22 19:56] mrivera-ms commented on #5973
@Meghana-MSFT, @clearab, are there any updates?

[2022-02-23 09:04] mocalv commented on #6167
@mrivera-ms my provided "solution" is really only a workaroud, since a douple structure is painful to maintain. So please consider reopen it. Maybe it is a Composer issue only, but somewhere this problem should be solved.

[2022-02-23 16:55] Swimburger opened #6216 "`dotnet new corebot -n TestBot` creates project at TestBot/CoreBot"
## Version
`Bot Framework Echo Bot (v4.15.0)`

## Describe the bug
When creating a new bot using `dotnet new corebot`, the `-n` argument should be used as the name of the project.
This works correctly for echobot, but not for corebot.

Instead of creating the project using the specified name, it creates a folder and then puts the project into a "CoreBot" subfolder.

## To Reproduce
Steps to reprod

[2022-02-23 18:36] Swimburger commented on #6216
This also uses `CoreBot` as the root namespace which should also use the `-n` argument value

[2022-02-23 19:39] ramfattah commented on #6216
investigating this.

[2022-02-24 18:35] Swimburger commented on #6216
For anyone else running into this, here's a PowerShell script to put the project in the correct folder, rename the project, and update the namespaces:
[code]

[2022-02-24 19:06] johnataylor commented on #6216
@ramfattah please check the readme.

https://github.com/microsoft/botbuilder-dotnet/tree/main/generators/dotnet-templates

[2022-02-24 19:53] ramfattah commented on #6216
Hey @Swimburger

Thanks for raising this issue. I believe this is expected. The documentation needs a little clarification.

When running `dotnet new corebot -n TestBot` only the parent folder receives the bot name. i.e. the folder output is `TestBot/CoreBot`

I opened an issue for this [Create a bot with the Bot Framework SDK doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-qui

[2022-02-24 20:02] Swimburger commented on #6216
This is unintuitive to .NET developers as they already expect projects to be generated and use the name-argument to specify the folder and namespace.
It's also inconsistent with the other project templates which do use the name-argument correctly, and inconsistent with how the Visual Studio templates work.

I understand this is probably because of the extra argument to also generate a test project

[2022-02-24 20:58] anishprasad01 commented on #6199
Did that work?

[2022-02-24 22:14] #6216 closed

[2022-02-24 22:51] Anshul21 opened #6220 "Slack Adapter doesn't send item in reaction_added event"
as per the documentation of slack, the reaction_added event should have information about item for which reaction is given but bot framework doesnt send it. the "item" object is empty

https://api.slack.com/apis/connections/events-api#receiving_events

[2022-02-24 23:38] BruceHaley opened #6222 "Ensure BotBuilderTemplatesVSIX project builds locally and in ADO for main and v5 branches"
Check whether the fix implemented in PR #6221 for branch releases/4.15 is also needed in these branches.

In that branch: Build VSIX-DotNet-templates/293117 against branch releases/4.15 failed. It also failed to build locally.

[2022-02-25 04:27] #6230 closed

[2022-02-25 19:23] johnataylor commented on #6094
The design is to return the error as an exception. The code snippet illustrates one of the ways you can check for and avoid the exception in your expressions.

[2022-02-25 19:23] #6094 closed

[2022-02-25 19:26] eallegretta commented on #6202
I'm experiencing similar issues where ITurnContext gets disposed when I launch a new thread, I was not having this issue on the -pre versions I'm currently using 4.15.2

[2022-02-25 22:32] anishprasad01 commented on #6199
Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-02-28 15:15] Rich-biomni commented on #6094
@johnataylor I disagree first of all the method contract for ExpressionEvaluator  is

private static (object value, string error) Evaluator(Expression expression, IMemory state, Options options)

it returns errors, therefore it should return error, only throw in exceptional instances.
It is completely possible the input argument could be null and the code is missing a validation check for that cas

[2022-02-28 15:37] geo-msft commented on #6199
I can still repro this issue here https://clientforbotextension.azurewebsites.net/

[2022-02-28 15:44] anishprasad01 commented on #6199
@geo-msft,

I'm a bit confused, the bot you linked to responds correctly.

![image](https://user-images.githubusercontent.com/33945547/156012698-f6015117-cd87-4536-931d-e726554c9027.png)

[2022-02-28 18:25] msomanathan opened #6228 "Create new Schema and Connector libraries based on System.Text.Json"
Create 2 new libraries based on the existing `Microsoft.Bot.Schema` and `Microsoft.Bot.Connector` libraries. However, the new libraries need to make use of `System.Text.Json` instead of `Newtonsoft.Json` for serialization. For now, these new libraries will be released as `preview` for PVA to consume internally. They will GA as part of the 4.16 release.

Tentative names for the new libraries:
- Mic

[2022-02-28 18:50] JonathanFingold opened #6229 "Add descriptions to ARM template parameters files"
**Is your feature request related to a problem? Please describe.**

- It's difficult to understand the deployment process, even with documentation. (It's also hard to document.) Anything we can do to make it easier for users to understand (and for writers to document) would be great.
- Currently, the READMEs for the samples and bots generated from templates point to the deployment article in the d

[2022-02-28 18:53] JonathanFingold commented on #6229
Is the parameters file even needed? I just noticed the parameters are duplicated in the ARM template itself, and the ARM template includes descriptions. If the parameters files are not used, can we please delete them?

[2022-02-28 19:15] johnataylor commented on #6186
@dmvtech investigate further - understand if there is an appropriate escape sequence

[2022-02-28 22:59] BruceHaley commented on #6222
Local and ADO builds for both branches succeed with no errors.

[2022-02-28 22:59] #6222 closed

[2022-02-28 23:55] stevkan commented on #6220
**Please note:** Any adapters that were previously supported by the BotFramework dotnet SDK, such as the Slack adapter, have been moved to the [botbuilder-community-dotnet](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet) repo. As such, these adapters are no longer supported by Microsoft. Any questions, bugs, or issues should be posted there according to their community posting

[2022-02-28 23:55] #6220 closed

[2022-03-01 04:13] dmvtech commented on #6186
Hi @i-knezevic-milan

Since it appears that Adaptive Card templating is [not currently implemented](https://github.com/microsoft/botframework-sdk/issues/6477) within the SDK, you are likely going to have to handle this in a specific manner. i.e. it may have to escape characters at certain points, etc. I believe you will have to do the adaptive expressions evaluation before passing it to the adapti

[2022-03-01 04:36] woasishen commented on #6199
I have build a test case. https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/8d5ceb22-44c7-4367-bfc6-07378096e055/resourceGroups/cfyASEV415-group/overview

[2022-03-01 04:37] woasishen commented on #6199
![image](https://user-images.githubusercontent.com/22291967/156105704-8e4e4bdd-c8cf-48f2-ad09-1623876cfa5b.png)

.bot works well, but DL-ASE do not work

[2022-03-01 04:39] woasishen commented on #6199
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web Chat: Full-featured bundle with Direct Line Speech channel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      crossorigin="anonymous"
      src="https://cdn.botframework.com/botframework-webchat/latest/webchat-minimal.js"

    <style>
      html,
      body {
        background-color: #f

[2022-03-01 09:55] geo-msft commented on #6199
Hi, you can speak to my bot here https://clientforbotextension.azurewebsites.net/  because I downgraded the SDK from 4.15 to 4.14.4. If in the bot code, I update the NuGet packages to 4.15, the bot no longer replies when tested in that webchat. I took the code for the webchat from here https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-webchat-client?view=a

[2022-03-01 13:31] i-knezevic-milan commented on #6186
# Data

[code]

# 1. Hardcoded with "

**Template**

[code]

**Expanded template (didn't expand)**

[code]

# 2. Hardcoded with '

**Template**

[code]

**Expanded template (didn't expand)**

[code]

3. # Referenced as object

**Template**

[code]

**Expanded template**

[code]

Notice that this time referenced object (person) was expanded, but \"text\":\"{\"name\":\"Sophie Owen\"}\" part is not a

[2022-03-01 16:39] Agodak opened #6231 "Recogniser doesn't work in other dialogues except "Greeting"."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.15.2

## Describe the bug
Give a clear and concise description of what the bug is.
Recogniser is not called

[2022-03-01 16:57] ramfattah commented on #6202
@miguelhughes @eallegretta

Adapters previously integrated with the SDK, like Twilio, have been transferred to the [BotBuilder-Community-dotnet](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet) repo for continued support and ownership.

Closing this issue, you will want to file this as a new issue in that repo for additional support. Thanks.

[2022-03-01 16:57] #6202 closed

[2022-03-02 03:33] EricDahlvang commented on #6231
Hi @Agodak

Thank you for raising this issue and providing a repro. I'm looking into this and will get back to you soon.

[2022-03-03 08:46] ahmadbk commented on #6115
Hi, please follow the following git hub repo link to access the code that reproduces the error:
https://github.com/ahmadbk/NestedDialogsBot

[2022-03-03 16:51] jamesemann opened #6240 "Using SendHandoffActivity throws exception when context is null"
## Describe the bug

Using SendHandoffActivity throws exception when context is null

## To Reproduce
Add a `Microsoft.SendHandoffActivity` to your conversation and do not provide any values for the `context` , e.g:

[code]

This line throws an exception because the `value` is null

https://github.com/microsoft/botbuilder-dotnet/blob/402bc02b4cbbd2f4ec359134640e99211367e4a5/libraries/Microsoft.Bot

[2022-03-03 17:58] EricDahlvang opened #6241 "Different recognizers within parent and child dialogs do not function as expected"
## Version
tested on 4.15 and 4.14

## Describe the bug
Recognition appears to be happening multiple times when an activity is processed.

1) Initially, while an input dialog is on the top of the stack: InputDialog.OnPreBubbleEventAsync fires AdaptiveEvents.RecognizeUtterance. Which ends up in AdaptiveDialog.ProcessEventAsync AdaptiveEvents.RecognizeUtterance. This uses the correct recognizer, the

[2022-03-03 18:00] EricDahlvang commented on #6241
[AdaptiveDialog_ForEachElement_BeginDialog.test.dialog.txt](https://github.com/microsoft/botbuilder-dotnet/files/8179956/AdaptiveDialog_ForEachElement_BeginDialog.test.dialog.txt)
[AdaptiveDialog_ForEachElement_BeginDialog_innerDialog.dialog.txt](https://github.com/microsoft/botbuilder-dotnet/files/8179963/AdaptiveDialog_ForEachElement_BeginDialog_innerDialog.dialog.txt)

(changed the above test f

[2022-03-03 18:03] EricDahlvang commented on #6241
Related: https://github.com/microsoft/botbuilder-dotnet/issues/6231

[2022-03-03 18:08] carlosscastro commented on #6241
Note that this happens with the new ForEachElement and with the previous ForEach action, so it's not specific to the action but rather to the bubbling process

[2022-03-03 18:45] gmajian opened #6242 "Return 400 instead of 501 (Not Implemented) when there is no response for Invoke Activity"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Currently BotBuilder SDK will return http code 501 (Not Implemented) when there is no response provided for the incoming Invoke activity.
here is the code: ht

[2022-03-03 19:49] EricDahlvang commented on #6241
@carlosscastro yes, exactly. This has nothing to do with foreach, but rather is a separate bug related to the recognition flow. The following parent dialog script with no looping action will also fail for the same above reason:

[code]

[2022-03-03 20:12] LeeParrishMSFT opened #6243 "Deprecate Teams GetMembers (non-paged)"
This feature is to implement the request from: [Deprecate Teams GetMembers (non-paged)](https://github.com/microsoft/botframework-sdk/issues/6444) logged in the botframwork-sdk repository for the botbuilder-dotnet project.

[2022-03-03 21:18] EricDahlvang commented on #6241
Closing this as a known issue:
_Child dialogs with a different recognizer from a parent will not function as expected, IF that child dialog allows interruptions._

[2022-03-03 21:18] #6241 closed

[2022-03-04 00:44] anishprasad01 commented on #6199
@woasishen, @geo-msft,

I attempted a reproduction myself, and I was able to get it to work. I deployed a simple Echo Bot running on 4.15.2 to Azure and set up Direct Line App Service Extension and was able to talk to the bot using the Web Chat from the linked documentation.

I supposed the next step would be to check various points:

- AppId, Password, DirectLineExtensionKey, and other secrets. I

[2022-03-04 00:44] anishprasad01 commented on #6199
@woasishen,

I deleted one of your comments because your Direct Line secret was visible. This is a public repository, so please be careful with what you post.

[2022-03-04 03:01] woasishen commented on #6199
@anishprasad01
Thanks. You are right, it is not suitable to put the secret here.
I have changed the app.UseNamedPipes, and redeploy & restart.  But the question still there,

The token acquisition method correct, and get the right token.
![image](https://user-images.githubusercontent.com/22291967/156690784-2cb0482e-9109-45fc-9fa8-09736891a672.png)
![image](https://user-images.githubusercontent.com

[2022-03-04 03:06] woasishen commented on #6199
@anishprasad01
It seems everything works well, except the last picture.
And if I change the <microsoft.bot.builder.integration.aspnet.core> version from 4.15.2 to 4.14.2. The issue in the last picture will be not exist.

[2022-03-04 03:06] woasishen commented on #6199
![image](https://user-images.githubusercontent.com/22291967/156691628-2c39b14b-4001-4e99-9626-ce1e444867fd.png)

[2022-03-04 16:28] anishprasad01 commented on #6199
Have you configured CORS settings in your App Service? for testing purposes, you can just use `*` to allow all origins.

[2022-03-04 17:01] #6243 closed

[2022-03-04 19:15] johnataylor commented on #6242
The application controls the Invoke return code. It does this by setting the invoke response in the turn context. That is the mechanism in the framework.

If the application has not implemented this, the adapter sets the return code as 501 (Not Implemented) to indicate the method is not implemented.

Typically, an application will be using the TeamsActivityHandler and overriding the appropriate me

[2022-03-04 19:15] #6242 closed

[2022-03-04 19:33] anishprasad01 commented on #6240
Hi @jamesemann,

The [handoff docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-design-pattern-handoff-human?view=azure-bot-service-4.0) specify using the `EventFactory.CreateHandoffInitiation` function instead, which explicitly performs a null check and throws an exception. Thus, throwing an exception on a null context is in fact intended behavior, and disallowing empty context

[2022-03-04 21:32] jamesemann commented on #6240
Hi @anishprasad01 . Are you referring to the validation linked below (`turnContext`)?   If so, this is not validating the `handoffContext`, which is a separate argument.

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/EventFactory.cs#L26-L29

[2022-03-05 11:38] woasishen commented on #6199
Last time I don't know CORS. Now I try add CORS, But still not work the same.
![image](https://user-images.githubusercontent.com/22291967/156881363-91ed14f3-77cd-422d-881e-f6f5a84ca70a.png)

[2022-03-07 19:29] axelsrz commented on #5973
@Meghana-MSFT @clearab do we have any updates on this one?

[2022-03-07 21:14] clearab commented on #5973
The bug has been filed, but currently there is no timeline for when it will be fixed.

[2022-03-07 21:22] anishprasad01 commented on #6240
You're correct, my mistake. I was looking at the wrong object. I took another look at it does appear there is no check for a null handoff context. Let me check-in with the team on potential steps.

[2022-03-07 23:59] anishprasad01 commented on #6199
I took another look at your web app, and I noticed that it does not have the `MicrosoftAppType`, `MicrosoftAppId`, `MicrosoftAppPassword`, and other fields that would be expected to be present when running a published bot. How exactly did you publish your bot?

[2022-03-09 03:29] #6184 closed

[2022-03-09 17:07] woasishen commented on #6199
![image](https://user-images.githubusercontent.com/22291967/157493308-f4f0a84c-5bc0-4b29-bdbb-85eeb3d20c56.png)

you mean this?

[2022-03-09 17:21] anishprasad01 commented on #6199
No, I'm referring to Application Settings in the App Service Configuration blade.

![image](https://user-images.githubusercontent.com/33945547/157495780-f0a9de0e-caaa-4b4e-8175-3642fce871a9.png)

When you deploy a bot using the Azure CLI using the steps from the [documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0), you should end

[2022-03-09 18:15] anishprasad01 commented on #6240
Looks like I can confirm this is a bug. I will look into fixing this, and I will link the PR to this issue when it's ready.

[2022-03-10 14:47] miguelhughes commented on #6202
I found a workaround for this problem, in case anyone runs into this. I posted it on the [linked SO](https://stackoverflow.com/a/71413068/1574861) item

[2022-03-10 16:42] gabog commented on #6126
Closing this one as v5 has been put on hold, we can revisit in the future

[2022-03-10 16:43] gabog commented on #6090
Closing this one as v5 has been put on hold, we can revisit in the future

[2022-03-11 02:26] woasishen commented on #6199
![image](https://user-images.githubusercontent.com/22291967/157789349-780651f6-c8c1-42ed-929c-15403794f0e4.png)
![image](https://user-images.githubusercontent.com/22291967/157789412-7ca20796-7b26-44ec-b450-da72d45c0b5d.png)

I just create a new proj use <echo bot .net core3.1>
![image](https://user-images.githubusercontent.com/22291967/157789572-2a0c941a-9490-4dd9-97a6-91590bf93fa8.png)
And add Us

[2022-03-11 02:27] woasishen commented on #6199
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web Chat: Full-featured bundle with Direct Line Speech channel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      crossorigin="anonymous"
      src="https://cdn.botframework.com/botframework-webchat/latest/webchat-minimal.js"

    <style>
      html,
      body {
        background-color: #f

[2022-03-11 13:27] MatteoMilanese commented on #6230
When this fix is planned to be released on NuGet?

[2022-03-11 18:34] #6231 closed

[2022-03-11 19:20] EricDahlvang commented on #6231
This fix for this has been merged, and will be released with 4.16.0

[2022-03-11 19:31] EricDahlvang commented on #6230
@MatteoMilanese we expect to release 4.16.0 end of month, or early April.

If you require this immediately, the daily build on myget might be an option:
https://botbuilder.myget.org/feed/botbuilder-v4-dotnet-daily/package/nuget/Microsoft.Bot.Builder.Dialogs.Adaptive

[2022-03-11 20:44] anishprasad01 commented on #6199
After taking another look at you App Service in Azure, It looks like there are residual files and for some reason your `Bot.Builder.Integration` (the key package in question) version is set to `4.14.0-local`.

At this point, I think you should try a clean wipe and deploy the bot fresh. I will lay out the steps I used to get my bot working, and hopefully by following them you can get it working as

[2022-03-14 02:45] raghavsuriya opened #6264 "OAuth Prompt not working with the Slack adapter 4.13.0"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.13.0

## Describe the bug
I am trying to use Oauth Prompt in slack and for some reason it keeps failing and I get the following exception:

fail: Microsoft

[2022-03-14 17:35] BruceHaley commented on #6174
Completed.

[2022-03-14 17:35] #6174 closed

[2022-03-14 22:40] stevkan commented on #6264
**Please note:** Any adapters that were previously supported by the BotFramework dotnet SDK, such as the Slack adapter, have been moved to the [botbuilder-community-dotnet](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet) repo. We apologize for the inconvenience, but these adapters are no longer supported by Microsoft. Any questions, bugs, or issues should be posted there accord

[2022-03-14 22:40] #6264 closed

[2022-03-15 14:20] MatteoMilanese opened #6265 "NullReferenceException when passing dialog name as variable to Microsoft.BeginDialog"
## Version
**4.14.1**

## Describe the bug
When trying to start a dialog passing its name as a variable to `Microsoft.BeginDialog`, SDK throws a `NullReferenceException`.
This is because the name is resolved at runtime and, when `DialogContext.FindDialog` tries to resolve dialog by name, it doesn't find it in its property `Dialogs`

## To Reproduce
Steps to reproduce the behavior:
1. Create a new

[2022-03-15 16:33] podgito opened #6266 "Looking for Bot Builder V5 plans/features/changes"
Hi, I noticed through looking at changes/issues that you're building a V5 of the SDK. I'm just wondering where I can find some detail of your plans, breaking changes and new features for V5.

[2022-03-15 19:02] ramfattah commented on #6262
@SandeepBhagoji202, thank you for raising this issue, there is a pull request for this here https://github.com/microsoft/botbuilder-dotnet/pull/6261

I'm closing this one due to PR. Please re-open if you are still facing issues.

[2022-03-15 19:29] gabog commented on #5751
The relevant dependencies have been updated to use 3.1 as part of removing support for 2.1, closing this issue

[2022-03-15 19:29] #5751 closed

[2022-03-15 20:47] EricDahlvang opened #6267 "Add JsonExtensionData 'AdditionalProperties' to TeamsChannelData"
**Is your feature request related to a problem? Please describe.**
Teams would like extra properties to be available in TeamsChannelData

**Describe the solution you'd like**
JsonExtensionData 'Properties' to TeamsChannelData

[2022-03-15 21:19] stevkan commented on #6265
@MatteoMilanese, I believe this [solution](https://github.com/microsoft/BotFramework-Composer/issues/9050#issuecomment-1068467578), posted to a similar issue as yours, may serve you. Can you give it a try?

[2022-03-15 22:32] anishprasad01 commented on #6266
V5 exists primarily as a proposal. At this time, there is no planned release date or feature list available.

[2022-03-15 22:32] #6266 closed

[2022-03-16 00:05] dmvtech commented on #6186
Thank you @i-knezevic-milan

Can you confirm the method you're using [ExpandTemplate()](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-language-generation?view=azure-bot-service-4.0&tabs=csharp#expand-api) (there is no `Expand()`)?

If you are intending the value of `text` to be an object, you do not need to have the expression `${}` surrounded with double quotes `"`. While

[2022-03-16 14:27] piechk commented on #4509
When attempting to use this type of delay, SMS does not respect this activity.

[2022-03-17 07:11] SandeepBhagoji202 commented on #6262
Thankyou @ramfattah . Do we have have this fix only with respect to Bot framework SDK or is it possible to integrate this with  Bot framework Composer as well.

[2022-03-17 14:11] #6267 closed

[2022-03-17 22:02] mrivera-ms opened #6269 "Remove customer data from error logging"
This issue tracks internal request https://msazure.visualstudio.com/CCI/_workitems/edit/12978183

[2022-03-17 22:54] #6269 closed

[2022-03-18 18:06] gabog commented on #5973
Closing this one as it belongs to Teams and it is being tracked there.

[2022-03-18 18:06] #5973 closed

[2022-03-18 18:09] hopsusa commented on #5973
@gabog Do you have a link to the Teams ticket that I can track? We have a commercial application that is currently working around this issue. I need to know when this is fixed so we can remove the workaround.

[2022-03-21 07:12] Shefali27387 opened #6273 "Updateactivity throws forbidden error"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug

            var responseActivity = MessageFactory.Attachment(attachment);
            re

[2022-03-21 08:35] MatteoMilanese commented on #6265
I'm sorry I'm answering a little bit late.

I tried to do the following as per the solution you linked above:
* assigned the property to `conversation` state bucket
* used a `SingleUseCancelDialog` in `conversationUpdate` trigger

None of the above worked. Moreover, the latter caused another exception:
[code]

The problem behind the fact that the dialogs won't start, is briefly explained in [#9050

[2022-03-21 18:04] #5643 closed

[2022-03-22 04:07] gabog opened #6275 "Generated *.settings.composer.json path doesn't resolve property when deploying to azure functions"
## Version
4.15.2

## Describe the bug
When deploying a composer bot to azure functions using CI/CD the runtime should be able to load `luis.settings.*.luisregion.json`, `qnamaker.settings.*.qnaregion.json` and `orchestrator.settings.json` from the generated folder under the application root.

The code uses
`var luisSettingsPath = Path.GetFullPath(Path.Combine(botRoot, "generated", $"luis.settings

[2022-03-22 17:11] gabog commented on #6172
We will not be addressing this at the moment

[2022-03-22 17:11] #6172 closed

[2022-03-22 17:11] gabog commented on #6148
This will be addressed as part of a separate effort.

[2022-03-22 17:11] #6148 closed

[2022-03-22 17:12] gabog commented on #6138
This will not be addressed

[2022-03-22 17:12] gabog commented on #6130
We will not address this at the moment

[2022-03-22 17:12] #6130 closed

[2022-03-22 17:12] gabog commented on #6129
We will not address this at the moment

[2022-03-22 17:12] #6129 closed

[2022-03-22 17:13] gabog commented on #6128
We will not address this at the moment.

[2022-03-22 17:13] #6128 closed

[2022-03-22 17:14] gabog commented on #6125
We will not address this at the moment.

[2022-03-22 17:14] #6125 closed

[2022-03-22 17:15] gabog commented on #6107
We will not address this at the moment.

[2022-03-22 17:15] #6107 closed

[2022-03-22 17:16] gabog commented on #6102
We will not address this at the moment.

[2022-03-22 17:16] #6102 closed

[2022-03-22 17:17] gabog commented on #6101
We will not address this at the moment.

[2022-03-22 17:17] #6101 closed

[2022-03-22 17:17] #6100 closed

[2022-03-22 17:18] gabog commented on #6086
This is not possible in v4 without breaking changes, closing this issue.

[2022-03-22 17:19] gabog commented on #6086
Reopening for later consideration.

[2022-03-22 17:21] gabog commented on #6025
We will not address this at the moment.

[2022-03-22 17:21] #6025 closed

[2022-03-22 17:21] #6099 closed

[2022-03-22 17:22] gabog commented on #6024
We will not address this at the moment.

[2022-03-22 17:22] #6024 closed

[2022-03-22 17:23] gabog commented on #6020
We will not address this at the moment.

[2022-03-22 17:24] gabog commented on #6017
We will not address this at the moment.

[2022-03-22 17:24] #6017 closed

[2022-03-22 17:25] gabog commented on #6016
We will not address this at the moment.

[2022-03-22 17:25] #6016 closed

[2022-03-22 17:26] gabog commented on #6013
We will not address this at the moment.

[2022-03-22 17:26] #6013 closed

[2022-03-22 17:26] gabog commented on #5980
We will not address this at the moment.

[2022-03-22 17:26] #5980 closed

[2022-03-22 17:29] #5841 closed

[2022-03-22 17:30] gabog commented on #5812
We will not address this at the moment.

[2022-03-22 17:30] #5812 closed

[2022-03-22 17:31] gabog commented on #5738
We will not address this at the moment.

[2022-03-22 17:31] #5738 closed

[2022-03-22 17:33] #6175 closed

[2022-03-22 17:34] EricDahlvang commented on #6182
We cannot deprecate AdalAuthenticator until msal is the default, and this would be a breaking change in v4.

For instructions on how to use msal instead, see https://github.com/microsoft/botbuilder-dotnet/pull/5736

[2022-03-22 17:34] #6182 closed

[2022-03-22 17:35] gabog commented on #5276
We will not address this at the moment.

[2022-03-22 17:35] #5276 closed

[2022-03-22 17:35] #5172 closed

[2022-03-22 17:37] gabog commented on #3402
We will not address this at the moment.

[2022-03-22 17:37] #3402 closed

[2022-03-22 17:38] gabog commented on #3490
We will not address this at the moment.

[2022-03-22 17:38] #3490 closed

[2022-03-22 17:40] gabog commented on #3816
We will not address this at the moment.

[2022-03-22 17:40] #3816 closed

[2022-03-22 17:40] gabog commented on #4033
We will not address this at the moment.

[2022-03-22 17:40] #4033 closed

[2022-03-22 17:40] gabog commented on #4034
We will not address this at the moment.

[2022-03-22 17:40] #4034 closed

[2022-03-22 17:41] gabog commented on #4038
We will not address this at the moment.

[2022-03-22 17:41] #4038 closed

[2022-03-22 17:42] tracyboehrer commented on #4165
We will not be addressing at the moment.

[2022-03-22 17:42] #4165 closed

[2022-03-22 17:43] tracyboehrer commented on #4197
We will not be addressing at the moment.

[2022-03-22 17:43] #4197 closed

[2022-03-22 17:43] tracyboehrer commented on #4198
We will not be addressing at the moment.

[2022-03-22 17:43] #4198 closed

[2022-03-22 17:46] tracyboehrer commented on #4378
We will not be addressing at the moment.

[2022-03-22 17:46] #4378 closed

[2022-03-22 17:46] #4672 closed

[2022-03-22 17:47] tracyboehrer commented on #4679
We will not be addressing at the moment.

[2022-03-22 17:47] #4679 closed

[2022-03-22 17:47] tracyboehrer commented on #4683
We will not be addressing at the moment.

[2022-03-22 17:47] #4683 closed

[2022-03-22 17:47] tracyboehrer commented on #5199
We will not be addressing at the moment.

[2022-03-22 17:47] #5199 closed

[2022-03-22 17:48] tracyboehrer commented on #4773
We will not be addressing at the moment.

[2022-03-22 17:48] #4773 closed

[2022-03-22 17:48] #4802 closed

[2022-03-22 17:49] tracyboehrer commented on #4807
Already resolved elsewhere.

[2022-03-22 17:49] #4807 closed

[2022-03-22 17:49] #5200 closed

[2022-03-22 17:50] tracyboehrer commented on #4931
We will not be addressing at the moment.

[2022-03-22 17:50] #4931 closed

[2022-03-22 17:50] tracyboehrer commented on #4956
We will not be addressing at the moment.

[2022-03-22 17:50] #4956 closed

[2022-03-22 17:50] tracyboehrer commented on #4986
We will not be addressing at the moment.

[2022-03-22 17:51] tracyboehrer commented on #5008
We will not be addressing at the moment.

[2022-03-22 17:51] #5008 closed

[2022-03-22 17:52] tracyboehrer commented on #5033
We will not be addressing at the moment.

[2022-03-22 17:52] tracyboehrer commented on #5037
We will not be addressing at the moment.

[2022-03-22 17:52] #5037 closed

[2022-03-22 17:53] tracyboehrer commented on #5277
We will not be addressing at the moment.

[2022-03-22 17:54] tracyboehrer commented on #5131
We will not be addressing at the moment.

[2022-03-22 17:54] #5131 closed

[2022-03-22 17:55] tracyboehrer commented on #5132
We will not be addressing at the moment.

[2022-03-22 17:55] #5132 closed

[2022-03-22 17:56] tracyboehrer commented on #5143
We will not be addressing at the moment.

[2022-03-22 17:56] #5143 closed

[2022-03-22 17:56] tracyboehrer commented on #5161
We will not be addressing at the moment.

[2022-03-22 17:56] #5161 closed

[2022-03-22 17:58] tracyboehrer commented on #5502
We will not be addressing at the moment.

[2022-03-22 17:58] #5502 closed

[2022-03-22 17:58] tracyboehrer commented on #5415
We will not be addressing at the moment.

[2022-03-22 17:58] #5415 closed

[2022-03-22 17:58] tracyboehrer commented on #5396
We will not be addressing at the moment.

[2022-03-22 17:58] #5396 closed

[2022-03-22 17:59] #5335 closed

[2022-03-22 17:59] #5330 closed

[2022-03-22 18:00] #5327 closed

[2022-03-22 18:00] tracyboehrer commented on #5306
We will not be addressing at the moment.

[2022-03-22 18:00] #5306 closed

[2022-03-22 18:00] tracyboehrer commented on #5305
We will not be addressing at the moment.

[2022-03-22 18:00] #5305 closed

[2022-03-22 18:50] #6240 closed

[2022-03-22 20:13] gabog commented on #5783
We will not be addressing this at the moment.

[2022-03-22 20:13] #5783 closed

[2022-03-22 20:14] gabog commented on #5253
We will not address this at the moment.

[2022-03-22 20:14] #5253 closed

[2022-03-22 20:17] gabog commented on #5688
This has already been removed. Closing

[2022-03-22 20:17] #5688 closed

[2022-03-22 20:19] gabog commented on #5171
We will not address this issue at the moment.

[2022-03-22 20:19] #5171 closed

[2022-03-23 11:23] SilvioHuckel opened #6277 "Bot Framework Custom Action and custom ArrayExpression property"
### Libraries name and versions
- Microsoft.Bot.Builder 4.15.2
- Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime 4.15.2

### Environment
- .NET Core 3.1
- Windows 10 Enterprise

### The staging
I’m building a bot using **Microsoft’s Bot Framework Composer**. To extend the composer’s standard features, I also built some **Custom Actions**, including one that needs input in the form of an array of a

[2022-03-23 16:40] LeeParrishMSFT commented on #5780
We will not be addressing this at this time.

[2022-03-23 16:41] johnataylor commented on #5229
this is a minor quality point not worth pursuing at this stage

[2022-03-23 16:41] #5229 closed

[2022-03-23 16:44] johnataylor commented on #5261
The customer for this was PVA and they are taking a different approach.

[2022-03-23 16:44] #5261 closed

[2022-03-23 19:05] nikhilesh1702 opened #6278 "Make the exception message more detailed for non 200 responses while sending a streaming activity"
## Version
What package version of the SDK are you using.
4.15.1

## Describe the bug
Give a clear and concise description of what the bug is.
In the StreamingRequestHandler, when we try to call _innerConnection.SendStreamingRequestAsync() to send the activity, we check StatusCode of the response and log an exception if it's not 200. The code lives here -

https://github.com/microsoft/botbuilder-d

[2022-03-23 23:03] anishprasad01 commented on #6199
@woasishen, @geo-msft,

I created a new bot and web chat and published them to Azure, and can now reproduce and confirm this issue. With the repro in hand, we now have a path forward to investigate this issue. Apologies for the delay, and thanks for your patience.

[2022-03-24 18:08] stevkan commented on #6273
When you say "the card is sent by user", you are referring to the card being sent because of a user action in the task module, correct? In other words, the task module window opens, some interaction happens from the customer, and on click of a button, an adaptive card is sent?

Are you able to provide your code related to sending the task module as well as the adaptive card being sent. This will m

[2022-03-24 19:08] anishprasad01 commented on #6199
@geo-msft, @woasishen

It appears that there is some sort of bug in the `CloudAdapter` in SDK 4.15 that prevents ASE from working correctly with the new streaming library introduced in 4.15. The named pipes functionality required for ASE was [recently updated](https://github.com/microsoft/botbuilder-dotnet/pull/6147) to use the new streaming library, thereby fixing this issue. However, the fix is

[2022-03-24 20:02] stevkan commented on #6265
@MatteoMilanese, thank you for your patience. I looked over your issue, again, from beginning to end with a colleague. And, I would like to revisit the original issue. Following your original repro steps, can you try those again? However, this time can you test by observing the following:

1. In the trigger, within the Begin a new dialog action, first test by hard-coding the 'Dialog name' property

[2022-03-25 00:56] mrivera-ms opened #6280 "Update references to .NET Framework"
Existing libraries reference .NET 4.6.1, which reaches end of support on April 26th, 2022. See more information here: [.NET Framework Supported Versions](https://dotnet.microsoft.com/en-us/download/dotnet-framework).

[2022-03-25 17:13] anishprasad01 commented on #6199
Since we have identified a workaround for testing and development in the short-term (the daily builds) and a long-term fix (SDK 4.16), I am going to go ahead and close this issue.

[2022-03-25 17:13] #6199 closed

[2022-03-25 18:43] msomanathan opened #6281 "Proactive messages for streaming scenario is blocked if the bot has an empty ServiceUrl"
## Version
4,15

## Describe the bug
When sending proactive messages using web sockets, CloudAdapter will look up the list of open connections to identify the right connection to send the proactive message. This is being done by matching the ServiceUrl of the activity. However, if any connection has a null ServiceUrl, the search will exit even if a later connection in the list is the correct conne

[2022-03-28 12:25] #6278 closed

[2022-03-28 17:49] stevkan commented on #6277
@SilvioHuckel, I'd like to try repro'g this using your code, if possible. Are you able to share a copy of your Composer bot, or a slimmed down version of it that adequately demonstrates the issue?

[2022-03-29 13:38] s1lv1o commented on #6277
Hey @stevkan,
the following repo contains a slimmed down Composer project:
https://github.com/s1lv1o/bot-framework-customaction

[2022-03-29 19:00] dmvtech commented on #6186
Closing due to inactivity. If you still need assistance, please comment or reopen and we can continue to work on this.

[2022-03-29 19:00] #6186 closed

[2022-03-31 15:56] stevkan commented on #6273
Closing due to inactivity. Please feel free to reopen if the issue persists or you have new details to share.

[2022-03-31 15:56] #6273 closed

[2022-03-31 20:33] #6281 closed

[2022-04-01 16:01] tracyboehrer commented on #5794
No plan to implement this.

[2022-04-01 16:01] #5794 closed

[2022-04-01 16:04] #5212 closed

[2022-04-01 16:04] tracyboehrer commented on #5583
No plans to implement this

[2022-04-01 16:07] sibbl commented on #5583
I'd appreciate it if you could share some insights about this decision, especially since it was already considered for some milestones before?

[2022-04-01 16:13] tracyboehrer commented on #5494
No plans to implement this

[2022-04-01 16:13] #5494 closed

[2022-04-01 16:23] tracyboehrer commented on #5583
@sibbl We will not be making breaking or major changes to Adaptive for the foreseeable future.  This appears to have slipped the R15 milestone, and we are planning for R17.

[2022-04-02 03:03] xieofxie opened #6288 "Keep existing ClaimsIdentity when handling get request"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Currently main branch

## Describe the bug
When in websocket, if we had already set `ClaimsIdentity` in adapter, it will be overwritten here
https://github.c

[2022-04-04 14:23] sadviramana opened #6289 "Fixing issue of Improper Authentication for .Net Framework"
Due to the issue [https://github.com/advisories/GHSA-qxx8-292g-2w66](url) we had to upgrade the bot.connector lib above 4.9.4 which we are currently using. But this is causing the web roles to get stuck while deployment of CSES (Cloud Service).

Instead I wanted to try this fix which allows us to keep 4.9.4 version [https://github.com/microsoft/botbuilder-dotnet/blob/main/doc/SkillClaimsValidation

[2022-04-04 18:58] #5674 closed

[2022-04-04 20:07] tracyboehrer commented on #5240
SkillHttpClient has been deprecated.

[2022-04-04 20:07] #5240 closed

[2022-04-04 20:09] tracyboehrer commented on #5513
Known limitation.

[2022-04-04 20:09] #5513 closed

[2022-04-04 20:09] #5522 closed

[2022-04-04 20:10] tracyboehrer commented on #5523
This version of the library was deprecated.

[2022-04-04 20:10] #5523 closed

[2022-04-04 20:11] tracyboehrer commented on #5529
Known limitation.

[2022-04-04 20:11] #5529 closed

[2022-04-04 20:12] #5550 closed

[2022-04-04 20:12] #5635 closed

[2022-04-04 20:15] tracyboehrer commented on #5572
Known limitation.

[2022-04-04 20:15] #5572 closed

[2022-04-04 20:19] #5606 closed

[2022-04-04 20:25] tracyboehrer commented on #5633
Corrected in R15

[2022-04-04 20:25] #5633 closed

[2022-04-04 20:29] tracyboehrer commented on #5744
Known limitation.

[2022-04-04 20:29] #5744 closed

[2022-04-04 20:29] munozemilio commented on #5743
This cannot be supported with LU

[2022-04-04 20:29] #5743 closed

[2022-04-04 20:30] #5753 closed

[2022-04-04 20:33] tracyboehrer commented on #5773
Deprecated.  Use CloudAdapter.

[2022-04-04 20:33] #5773 closed

[2022-04-04 20:50] tracyboehrer commented on #5657
See also: https://github.com/microsoft/botbuilder-dotnet/issues/5792

[2022-04-06 08:35] xieofxie opened #6290 "Is CloudAdapter supported in DirectLine Extension?"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
`CloudAdapter` is the new adpater. However when I am reading the document, I found we are still using `BotFrameworkHttpAdapter` for DirectLine Extension here:

[2022-04-06 16:44] RamkumarManavalan commented on #5528
I am using 4.14.1, but I get the same error in Bot Framework Emulator (v 4.14.1). Could someone please help? I use the "Sign out user" option in the Bot Framework Composer (version 2.1.1).

[2022-04-06 16:50] anishprasad01 commented on #6289
Working with internal customer via another platform.

[2022-04-06 18:10] munozemilio commented on #6265
Closing due to inactivity. @MatteoMilanese feel free to reopen if needed.

[2022-04-07 21:35] rslavey opened #6291 "Overriding OnTeamsSigninVerifyStateAsync"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.15.2

## Describe the bug
I have configured SSO for Teams. I get a login prompt in teams, and when I hit login, it returns a screen that says: Unable to re

[2022-04-07 21:53] rslavey commented on #6291
Please disregard. This is working successfully. The Startup.cs had the wrong bot.

[2022-04-07 21:53] #6291 closed

[2022-04-11 13:49] tdurnford commented on #6277
@stevkan Any progress on this?

[2022-04-11 19:43] stevkan commented on #6277
@SilvioHuckel, thank you for your patience while I've been looking into this. I am able to repro the issue you are experiencing. I have been trying to identify if there is a possible workaround but, as of yet, I have been unable to do so. I am also trying to reach out to some of the devs who originally worked on this part of the code base. However, I'm having some difficultly with this. I'll post

[2022-04-11 20:07] ceciliaavila opened #6292 "Remove Azure functional tests from the solution"
## Description

The **_Azure Storage_** and **_CosmosDB_** functional tests were moved to the _BotFramework-FunctionalTests_ repository.
We should create unit tests to recover lost coverage and remove the old tests.

### Related Issues

- Move CosmosDB tests [#552](https://github.com/microsoft/BotFramework-FunctionalTests/issues/552)
- Move Azure Storage tests [#562](https://github.com/microsoft/B

[2022-04-11 21:57] raghavsuriya opened #6293 "Unable to set the turnstate through the DialogTestClient"
I am using the BotBuilderSDK v4. I am trying to use the DialogTestClient to unit my code. In the Dialog, my code is doing the following BotMessage message = (BotMessage)stepContext.Context.TurnState["botMessage"];

How can I set this object botMessage into the turnState with the DialogTestClient in order to unit test this Dialog. Right now I am seeing this error :

System.Collections.Generic.KeyNo

[2022-04-11 23:32] stevkan commented on #6265
@MatteoMilanese, thank you for your patience. I was able to get a copy of your project and have been digging deeper into it. I know adding the dialogs array to the root JSON object is less than ideal due to loading time. However, have you explored adding a dialogs array to the dialog being called that only contains the dialogs needed for that particular flow? I would expect that if you isolated th

[2022-04-12 18:08] anishprasad01 commented on #6293
Hi @raghavsuriya,

A couple things.

Firstly, have you tried creating a bot using the bot with tests template to get an idea of how testing should be implemented?

Secondly, it would help if you could provide a list of reproduction steps and/or a code sample that reproduces your issue so I can test it directly rather than guessing how your bot and tests are implemented.

[2022-04-12 21:59] stevkan commented on #6277
@SilvioHuckel, I'm glad you found a solution that worked!

[2022-04-12 21:59] #6277 closed

[2022-04-15 00:20] anishprasad01 commented on #6289
@sadviramana,

Do you require further assistance from the bot side, or can this issue be closed?

[2022-04-15 14:45] tracyboehrer commented on #6228
Closing.  This is being tracked in ADO for PVA.

[2022-04-15 14:45] #6228 closed

[2022-04-15 15:46] tracyboehrer commented on #6290
@xieofxie This is supported in 4.16.0, which is in the process of being released now.

[2022-04-15 15:46] #6290 closed

[2022-04-15 16:41] #6289 closed

[2022-04-19 00:05] fabricioloupias commented on #2548
Any solution to this? It would be a good functionality for those of us who use the generation of dialogs at runtime, allowing us to edit/delete them

[2022-04-19 16:13] anishprasad01 commented on #6293
Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-04-19 16:13] #6293 closed

[2022-04-19 18:07] tracyboehrer commented on #6265
Adding to next milestone.

[2022-04-19 18:20] tracyboehrer commented on #6265
Associated IcM: https://portal.microsofticm.com/imp/v3/incidents/details/299641824/home

[2022-04-20 16:59] wany23 commented on #5519
Hello @mdrichardson , has this been implemented?

[2022-04-20 17:11] wany23 commented on #5519
thanks for the very quick response and info!

[2022-04-21 14:44] MatteoMilanese commented on #6265
Hi @stevkan and @tracyboehrer
I'm sorry I'm answering so late.
I tried the method you illustrated in your response and it works. However, it has some limitations:
* doesn't allow to be "dynamic", in the sense that a user have to manually specify which values can assume the variable passed to `BeginDialog`
* if you specify a dialog with loops, it will throw a `StackOverflowException`, i.e.: say tha

[2022-04-21 17:13] stevkan commented on #6265
@MatteoMilanese, I was informed by one of the devs that the SDK and various components use "NewtonSoft.Json" Version="12.0.3". If you are using a version higher than the above, it can lead to the `StackOverflowException`. It is advised that you downgrade the version to match that used by the SDK. Doing so should alleviate the issue.

Side note: I have been moved off of this issue. @tracyboehrer is

[2022-04-21 22:38] EricDahlvang opened #6296 "Tracking changes in DialogStateManager is not always required"
## Version
main

## Describe the bug
Unless IDialogDebugger.TraceSteps is true, there is no need to track changes in the DialogStateManager. Under certain circumstances, the processing of change tracking is cpu intensive.

## To Reproduce
Steps to reproduce the behavior:
Run DialogContextMemoryScopeTest_Interruption and note how many times the CheckChildren method is called unecessarily.

Any dial

[2022-04-25 06:35] kino-song opened #6299 "predictionOptions.slot cannot bind to settings"
i want to bind preditionOptions.slot to primary appsetting.config, as following:

[code]

but it seems do not work. when i check source code, i found that slot is evaluated with dialogContext. (in LuisAdaptiveRecognizer.cs)

`options.Slot = this.Options.Slot?.GetValue(dialogContext);`

it seems it need to evaluate with dialogContext.State to make it work, as version did.

`options.Version = this.V

[2022-04-25 09:53] Rishy17 opened #6300 "Adding Bot Framework Composer Dialogs To SDK bots [Help Needed]"
Hi Team,

We have been using a mix of Composer and SDK dialogs in our project, with the recent updates to the packages, The Dialog Manager class was marked Obsolete. our implementation is based on this [Adding Bot Framework Composer dialogs to a Skill](https://microsoft.github.io/botframework-solutions/skills/handbook/experimental-add-composer/).

Are there any other ways to achieve similar functi

[2022-04-26 04:32] woasishen opened #6306 "NamedPipe could not reconnect correctly when disconnected unexpectedly"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.14-4.16

## Describe the bug
I'm a dev in Microsoft for DirectLine App Service Extension.
Some customers said their DL-ASE got disconnected once or twice p

[2022-04-26 15:43] karrimrabibiomni opened #6307 "Nested Component Adaptive Dialog's Maximum nesting depth of 127 exceeded"
## Version
4.15.2

## Describe the bug
We are using ComponentDialogs to make a customise-able bot, the problem using DialogContainers like Foreach we are getting Maximim nesting depth error of 127 exceeded even when we are only 6-10 dialogs.

## To Reproduce
Steps to reproduce the behavior:
1. Create an adaptive bot with a DialogContainer
2. In side that container call another ComponentDialog
3. T

[2022-04-26 18:17] craigjensen opened #6308 "Changing OAuthClientConfig.OAuthEndpoint has no affect due to OAuthClient caching"
## Version
4.15.1

## Describe the bug
BotBuilder caches OAuthConfig objects so changing the OAuthClientConfig.OAuthEndpoint at runtime does not pick up the new Url

## To Reproduce
Steps to reproduce the behavior:
1. Use BotFrameworkAdaptor to request an OAuthToken for a user
2. Not that the global endpoint was used to fetch the token (https://api.botframework.com)
3. Change the value of OAuthCli

[2022-04-27 08:37] Rishy17 commented on #6300
@stevkan any update on this is appreciated

[2022-04-27 10:17] stevkan commented on #6300
@Rishy17, thank you for your patience. Unfortunately, the ability to integrate adaptive dialogs with SDK bots is no longer supported in the current version. As you can see, in the link you referenced, under the section "Add additional Nuget package references", the last officially supported version is 4.9.1 of the SDK.

If you want to continue to use a mix of adaptive dialogs and SDK dialogs, you

[2022-04-27 10:17] #6300 closed

[2022-04-27 17:10] dmvtech commented on #6299
Hi @kino-song

Is this a Composer bot? If so, what version? If an SDK bot, what version of the SDK are you using? Is this based off of a [Sample](https://github.com/microsoft/BotBuilder-Samples)?

[2022-04-27 17:56] ramfattah commented on #5657
investigating

[2022-04-27 17:57] ramfattah commented on #5792
investigating

[2022-04-27 18:48] msomanathan commented on #6307
@karrimrabibiomni - Deep nesting of dialogs is not a recommended scenario, and it also makes maintaining difficult. One way to work around this issue is to call your utility dialogs from [custom event](https://docs.microsoft.com/en-us/composer/how-to-define-triggers?tabs=v2x#custom-events) triggers in the root dialog rather than nesting them many levels deep. You can then emit an event from the ch

[2022-04-28 00:29] kino-song commented on #6299
I am using bot composer v2.1.2, bot sdk was 4.14.1 (generated by bot composer by default),
then i tried to upgrade sdk to 4.15.2, still have the same issue.

I am using bot composer v2.1.2, bot sdk was 4.14.1 (generated by bot composer by default),
Then I tried to upgrade sdk to 4.15.2, still have the same issue.

[2022-04-29 10:40] karrimrabibiomni opened #6313 "ForeachElement Does not Re-prompt"
## Version
4.16.0

## Describe the bug
We are running an InputDialog inside an Adaptive For each, another dialog is then run proactively when that proactive dialog has finished then input dialog resumes and Re-prompts the user where they were left before.

Since upgrading to 4.16.0 we noticed that ForEach is Obsolete using the new ForEachElement the above behaviour no longer exists and the InputDi

[2022-04-29 15:56] danmoseley commented on #5977
Feel free to reach out to me (from .NET team) if you have any questions or issues we can help with.

[2022-04-29 17:54] msomanathan commented on #6306
@woasishen - From the description, you mentioned this issue happens with both BotFrameworkHttpAdapter and CloudAdapter. Is my understanding correct?

[2022-04-29 19:20] ramfattah commented on #6313
Hey @karrimrabibiomni -- Thanks for reaching out.

For clarity, could you please share the steps to reproduce this issue? I will attempt to reproduce from my end.
Also, are you able to share your dialog code?

[2022-05-02 14:59] ceciliaavila commented on #6229
Hi @JonathanFingold, adding descriptions in the parameters files is currently [not working](https://github.com/Azure/azure-cli/issues/12009). We tested it and it throws an error when trying to deploy the bot.
Instead, we added a README in each bot's _deploymentTemplates_ folder with the descriptions for the parameters.

[2022-05-02 20:07] sw-joelmut opened #6317 "Add possibility to skip Governance task in forks"
**Is your feature request related to a problem? Please describe.**
When executing the CI pipeline ([botbuilder-dotnet-ci.yml](https://github.com/microsoft/botbuilder-dotnet/blob/main/build/yaml/botbuilder-dotnet-ci.yml)) from an organization that doesn't have the `ComponentGovernanceComponentDetection@0` task installed, it fails to start.
This task doesn't seem to be publicly available, thus, it w

[2022-05-02 22:25] #6308 closed

[2022-05-02 23:28] ramfattah commented on #6288
BotFrameworkHttpAdapter is deprecated, and this is resolved in CloudAdapter.

[2022-05-02 23:28] #6288 closed

[2022-05-03 14:03] #6229 closed

[2022-05-03 16:47] BruceHaley commented on #6317
You could put the component governance task into the yaml, then add the condition:
[code]

[2022-05-03 17:57] sw-joelmut commented on #6317
Hi @BruceHaley, thank you for the response.
Regarding the provided solution, we've tried that and didn't work for us, since the task validation is happening at compile-time rather than run-time.
Our pipelines run on a different DevOps organization outside Microsoft's, and thus we don't have the possibility to install it.

[2022-05-04 18:03] EricDahlvang opened #6320 "Calls to CosmosDb should include Microsoft.Bot.Builder.Azure and version"
**Is your feature request related to a problem? Please describe.**
For the sake of telemetry, the bot builder sdk should include itself in the UserAgent header for calls to cosmos.

[2022-05-04 18:26] #6320 closed

[2022-05-04 23:28] gabog opened #6323 "Update generators and vsix to target Net 6 by default"
## Summary

**Note:** This issue depends on #5977 and should be done once 4.17 packages are published.

Update generators and vsix to generate projects that target Net 6 by default. The generated projects should not use some net 6 specific features like implicit namespaces or class names so customer can easily retarget them to dotnet core 3.1 if needed.

[2022-05-04 23:45] dmvtech commented on #6299
Hi @kino-song Thank you. I was able to reproduce your findings and am currently investigating further.

[2022-05-05 10:21] woasishen commented on #6306
Yes, they all can't reconnect correctly. BotFrameworkHttpAdapter has reconnect code, but there are some bugs~
Some icm created a long time ago, I think they used BotFrameworkHttpAdapter.  But not resolved perfectly.
As the connection is between processes locally, I guess it's disconnection may not happens very often.

[2022-05-09 15:15] karrimrabibiomni commented on #6307
Changing the singleton IStorage in the Bot's startup from the CosmosDbPartitionedStorage to the BlobsStorage fixes this issue.

What are the advantages of using CosmosDbPartitionedStorage for the Bot Framework and are the any problems or issues with using Blob storage?

[2022-05-09 17:34] EricDahlvang commented on #6307
Hi @karrimrabibiomni

As you've determined, the 128 nesting limit is from Cosmos: https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-item-limits

Cosmos tends to have better performance than Blobs depending on usage. Particularly the transcript implementations. Other than that, I'm not aware of any issues.

[2022-05-09 17:34] #6307 closed

[2022-05-09 19:13] EricDahlvang commented on #6313
Hi @karrimrabibiomni

Thank you for the repro project! This PR adds reprompt support to ForEachElement, with a unit test of the repro you've provided: https://github.com/microsoft/botbuilder-dotnet/pull/6325

[2022-05-11 10:38] AnshAgrawal1994 opened #6330 "QnAMaker's Strict filter for empty metadata in QnA"
I don't have meta data for some of the QnA pair, but i want to get those result also based on keyword matching. Let's say i have 10 QnA pair , 3 have metadata as "country : us", 3 have metadata as "country : in " ,2 have metadata as "country : uk " and remaining  1 with no metadata.
When i tried this strict filter:
strictFilters: [
        {
            "name": "country",
            "value": "us"

[2022-05-12 16:55] dmvtech commented on #6299
Closing as PR has been submitted. If approved, it will be included in some future build. Thank you for your contribution.

[2022-05-12 16:55] #6299 closed

[2022-05-13 17:58] stevkan commented on #6330
@AnshAgrawal1994, thank you for your patience. I will take a look at this and let you know what I find.

[2022-05-17 18:47] #5678 closed

[2022-05-19 18:05] stevkan commented on #6330
@AnshAgrawal1994, I'm still looking into this and hope to have an update for you today.

[2022-05-19 18:05] EricDahlvang opened #6336 "MeetingDetails ScheduledStartTime and ScheduledEndTime should be nullable"
**Is your feature request related to a problem? Please describe.**
Teams has stated the start and end times are not present in some meeting scenarios. The two fields should be nullable, and not return a default date/time.

[2022-05-19 19:07] sw-joelmut commented on #5678
Hi @JonathanFingold, we noticed there are a few channels in the enumeration list that are not in the Azure Portal's channels anymore. Should we also mark these as obsolete?
- Console
- Cortana
- Kik
- Skype for business (There is an existing Skype channel only)
- Telephony
![image](https://user-images.githubusercontent.com/62260472/169382581-bcf14120-c64b-484d-9a1b-f2c180b1fecc.png)

Thanks.

[2022-05-23 18:16] stevkan commented on #6330
@AnshAgrawal1994, I had a chance to look into this deeper. This issue isn't a problem in Botbuilder. To be clear, it's not actually an issue. QnAMaker doesn't allow empty strings to be passed in to strictFilters as that would be equivalent to using a wild card. This goes against the idea of a strict filter.  Furthermore, testing in Postman reveals a "400 Bad Request" response and an error code/mes

[2022-05-23 20:29] ceciliaavila opened #6339 "Mark deprecated channels as obsolete in Channels enum"
Parent issue https://github.com/microsoft/botframework-sdk/issues/6448

## Describe the bug
libraries/Microsoft.Bot.Connector/Channels.cs contains a few channels that are no longer available in Azure Portal:

- Cortana
- EnterpriseChannel
- Kaizala
- Kik
- SkypeForBusiness

## Expected behavior
The Channels enumeration should be up to date with the channels on the Azure portal.
Deprecated channels

[2022-05-24 20:00] ceciliaavila commented on #6086
Hi @EricDahlvang, @gabog, do you know if this feature is still in validation, or is it worldwide implemented?
We couldn't get suggested actions to work on Teams.

[2022-05-24 21:07] gabog opened #6340 "Lower net library version requirements for NetStandard packages"
## Summary

When we removed support for net core 2.1 we updated the minimum version for some required libraries in the netstandard 2.0 configuration to 3.1, this is causing some issue with legacy systems that can update to net core 3.1 or net 6 yet.

As part of this issue we will change back some references to 2.1 in the netstandard target.

[2022-05-25 03:06] #6340 closed

[2022-05-30 08:04] agrubskiy opened #6344 "Unable to load shared library 'liboc_abi' on MacOS (DllNotFoundException)"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.16
Microsoft.Bot.Builder.AI.Orchestrator

## Describe the bug
When trying to initialize OrchestratorRecognizer object, it fails due to be unable to find li

[2022-05-30 16:19] UMAMAHESHWARIG opened #6345 "Get access token for Teams Activity handlers [OnTeamsChannelRenamedAsync ]"
I need an access token to make a call to external api's ,  just like below code
`
 public async Task<DialogTurnResult> LoginStepAsync(WaterfallStepContext stepContext, CancellationToken cancellationToken)

     {
            var tokenResponse = (TokenResponse)stepContext.Result;
            if (tokenResponse?.Token != null)
            {
             **here we were making an api call by using the

[2022-05-30 22:09] ramfattah commented on #6344
Hi @agrubskiy

Do you get the same error if using `Object initializer` to initialize the OrchestratorRecognizer class?

Example:
[code]

[2022-05-31 06:15] ToriParla opened #6346 "Add Azure Storage (BlobStorage.cs) using a managed identity"
It will be a great feature to access to BlobStorage with Managed Identity (DefaultAzureCredential)

[2022-05-31 07:36] UMAMAHESHWARIG commented on #6345
Hi Team, any updates

[2022-05-31 09:03] agrubskiy commented on #6344
Ok, using this kind of initialisation works correctly both on ARM64 and x64, tried it in both envirionments

[2022-05-31 11:16] ridasaleem0 opened #6347 "Add Custom Commands application as a skill in Bot framework composer application"
The documentation (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-integrate-remote-skills) gives an idea about how to export the Custom Commands application as a skill, however, there is no skills tab available in the Speech studio under Custom commands settings.

Is there a way to export our commands app as a skill inside the bot framework applicat

[2022-05-31 14:04] #6339 closed

[2022-05-31 18:02] stevkan commented on #6347
Closing as duplicate of https://github.com/microsoft/BotFramework-Composer/issues/9212.

[2022-05-31 18:08] UMAMAHESHWARIG commented on #6345
can't we get the access token for conversation update ?

[2022-05-31 18:22] anishprasad01 commented on #6345
Which APIs? If you want to access Microsoft APIs, you'd be best served following the Microsoft Graph bot samples. If you want to access external APIs, you should use their method for obtaining a token.

[2022-05-31 18:32] UMAMAHESHWARIG commented on #6345
Which sample?

[2022-05-31 18:33] UMAMAHESHWARIG commented on #6345
But will i get token for a conversation update event  ?
That to in teams channel / group chat to access graph api

[2022-05-31 18:36] anishprasad01 commented on #6345
You still haven't told me what you're trying to achieve, so I can't say for sure. However, here is the relevant [sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/24.bot-authentication-msgraph), and the accompanying [documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-authentication?view=azure-bot-service-4.0). Additionall

[2022-05-31 18:41] UMAMAHESHWARIG commented on #6345
I want to make graph api call as well as external api call, ignore external api for now,
I want to make a graph api call when teams channel is renamed,
I don't have any sort of dialog for signing in,
Is it possible to make call inside the OnTeamsChannelRenamedAsync() method?

[2022-05-31 18:49] anishprasad01 commented on #6345
You need to authenticate with the Identity Platform *somehow* in order to use Graph APIs. If you don't want to sign in a user, perhaps you could instead [obtain a Graph access token](https://docs.microsoft.com/en-us/graph/auth/auth-concepts). You would then use this token to interact with Graph APIs. I don't believe you can use the bot's token to accomplish this, and it would not be good practice

[2022-05-31 18:55] UMAMAHESHWARIG commented on #6345
Can we use a bot composer for teams channel renamed event?

[2022-06-01 21:55] EricDahlvang opened #6349 "Add settings.selectedChannel.id to TeamsChannelData"
Teams has requested new optional field added to TeamsChannelData:

[code]

This will currently be present for installation update events.

[2022-06-07 15:22] EricDahlvang commented on #6230
@kmaughan BreakLoop should end the ForEachElement dialog, but not necessarily the turn.

[2022-06-07 15:31] kmaughan commented on #6230
@EricDahlvang thanks for the response.  For clarity (mine),  we have a dialog with a break loop followed by several nodes that are no longer getting executed after upgrading to 4.16.1.  The other nodes are considered part of the turn, correct?
![BotBuilder_v4_16_breakLoop_endingDialog](https://user-images.githubusercontent.com/20192595/172419904-b597001e-b401-409b-8672-3603d3becd09.PNG)

[2022-06-07 21:58] rmt2021 opened #6350 "Unhandled 409 BlobAlreadyExists error when uploading activities to Azure Blob"
## Version
9ea8e1367e7b34cd84bfcf3ebae508599dfdc785

## Describe the bug
We encountered an `Azure.RequestFailedException : The specified blob already exists` when uploading the log activities via [`LogActivityAsync`](https://github.com/microsoft/botbuilder-dotnet/blob/4cab8f1d039fef6101e2d7c6ca4deb454d4cbde0/libraries/Microsoft.Bot.Builder.Azure.Blobs/BlobsTranscriptStore.cs#L107). The reason behi

[2022-06-08 11:15] patatofries commented on #3008
Hi @vishwacsena,

I want to override the Message Received Activity in Bot Composer.
However, I'm not able to find a way to call the base implementation, every with your quoted instructions.

Is this feature in Bot Composer still missing? Alternatively, it would be great if you could clarify the instructions!

[2022-06-08 15:39] #5837 closed

[2022-06-08 16:15] gabog commented on #6296
Discussed with @EricDahlvang and we decided to close this issue

[2022-06-08 18:26] LeeParrishMSFT commented on #6350
@rmt2021 Thanks for filing this issue, and providing such a detailed analysis of the root cause. If you'd like to submit a PR for this we will be happy to evaluate it for addition in a future release.

[2022-06-09 10:12] Arsh-Kashyap opened #6351 "Custom Question Answering previous prompt buttons do not pass question ID"
Copied from js SDK issue: https://github.com/microsoft/botbuilder-js/issues/4253

### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.16

## Describe the bug
he issue is, if users asks one question which wil

[2022-06-09 12:17] ceciliaavila commented on #6317
Reviewed with Gabo, we'll close this issue and find an alternative on the SW side.

[2022-06-09 12:17] #6317 closed

[2022-06-09 13:53] #6265 closed

[2022-06-09 14:03] MatteoMilanese commented on #6265
@gabog @sw-joelmut
With respect to the PR #6338 that closed this issue, we encountered some problems with scalability as described in [this comment above](https://github.com/microsoft/botbuilder-dotnet/issues/6265#issuecomment-1105316866) that doesn't seem to be taken into account.
To reproduce it, you can start dynamically a multi-turn dialog and, in the middle of the dialog, restart the bot. Of

[2022-06-09 14:07] gabog commented on #6265
Thanks for the comment @MatteoMilanese, @sw-joelmut, can you please see if you can repro the issue described above in your environment. If you do, please create a new issue so we can track it as a different PR (please add a reference to this issue in the new issue so we can track it in github too).

Thanks

[2022-06-10 15:26] #5977 closed

[2022-06-10 15:28] #6292 closed

[2022-06-10 20:33] anishprasad01 commented on #6345
Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-06-10 20:33] #6345 closed

[2022-06-13 10:14] craighanson opened #6354 "isMatch adaptive expression returns error when value is null or empty string"
## Version
4.16.0

## Describe the bug
The prebuilt adaptive expression 'isMatch' returns the error message 'regular expression is empty.' when the target string is null or empty string. This makes the function hard to use and would be better if it simple returned false.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://playgroundclient.azurewebsites.net/
2. Enter expression --> i

[2022-06-13 20:16] sw-joelmut opened #6355 "ContinueDialog fails to find dynamically loaded dialog after bot restart"
TODO

[2022-06-13 21:15] EricDahlvang opened #6357 "Add support for Teams Read Receipts"
**Is your feature request related to a problem? Please describe.**
see https://github.com/microsoft/botframework-sdk/issues/6457

[2022-06-14 14:07] tracyboehrer commented on #6354
Added to next milestone for review and analysis.

[2022-06-15 03:49] woasishen opened #6363 "Update deployment template"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.
I'm from azure bot service team,
Azure bot service have split the deployment of AppService and AzureBot.
So, we want to change the templates.
Also, we will publish AzureBot regionality soon.
So, we add a configuration about Az

[2022-06-15 20:16] EricDahlvang opened #6364 "Teams meeting notification api"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/11055362/173919002-f270640f-21ae-4a5d-ab03-9d968091c729.png)

[2022-06-15 20:19] #5765 closed

[2022-06-15 20:26] #5580 closed

[2022-06-15 20:30] tracyboehrer commented on #5599
Cannot remove from SDK for back compat.

[2022-06-15 20:30] #5599 closed

[2022-06-15 20:55] #6351 closed

[2022-06-16 02:48] #6323 closed

[2022-06-16 15:02] ceciliaavila commented on #5766
Hi @tracyboehrer, we forgot to assign this issue to us, but here you have the PR that fixes it: #6366

[2022-06-16 23:44] ramfattah opened #6367 "Telemetry not working inside child dialogs using latest Adaptive Runtime"
#### Related to icm 298217233

## Version
* [Composer](https://github.com/microsoft/BotFramework-Composer/releases/tag/v2.1.2) version 2.1.2
* [Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime](https://www.nuget.org/packages/Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime/) version 4.15.0 (greater than 4.15.0 will repro failure)

## Describe the bug
After upgrading Bot.Builder.Dialogs.Adaptive.Runtim

[2022-06-20 20:48] LeeParrishMSFT opened #6368 "SDK uses deprecated Microsoft.Azure.DocumentDB.Core library"
## Version
4.16.1

## Describe the bug
The SDK uses a deprecated version of Microsoft.Azure.DocumentDb.Core which is now causing security warnings due to the lack of support for this library. Migration to Cosmos Db.NET V3 is the recommended path forward: [Migrate your application to use the Azure Cosmos DB .NET SDK v3](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/migrate-dotnet-v3?tabs=dot

[2022-06-20 21:12] tracyboehrer commented on #6156
Fixed by https://github.com/microsoft/botbuilder-dotnet/pull/6341

[2022-06-20 21:12] #6156 closed

[2022-06-20 21:14] #5657 closed

[2022-06-20 21:41] LeeParrishMSFT commented on #6368
There are currently two classes that work with Cosmos, the older is CosmosDBStorage and the newer is CosmosDbPartitionedStorage. The latter is compatible with the original, and CosmosDBStorage has been marked deprecated now for two years, so let's remove CosmosDbStorage.cs, CosmosDBCustomerClientOptions.cs, and CosmosDBStorageOptions.cs which will then allow us to remove the dependency on Microsof

[2022-06-21 14:41] sw-joelmut commented on #6355
Hi @EricDahlvang, can you take a look at this PR?. It is related to the previous PR #6338.

Thanks

[2022-06-21 16:32] tracyboehrer commented on #6306
@ceciliaavila @sw-joelmut @JuanAr Muthu can provide background on this

[2022-06-22 14:23] karrimrabibiomni opened #6371 "ForEachElement Performance Degradation"
## Version
4.16.1

## Describe the bug
After upgrading we have noticed our bots slowing down by a factor of 10.  we have pined it down to a bug in the constructor of the ForEachElement.  When you perform a linq query on a ForEachElements Actions the GetDependancies gets called several times rather than once.  For complicated dialogs this can make a 2 second turn call now be 20 seconds.

## To Repr

[2022-06-23 18:30] ceciliaavila commented on #6306
Hi @msomanathan,
We've been trying to reproduce this issue without success.
Do you have the samples you used for testing named pipes? ([PR#6147](https://github.com/microsoft/botbuilder-dotnet/pull/6147))
Maybe we can adapt those to repro this issue and test the possibility of adding the reconnect logic as suggested.

[2022-06-23 19:40] msomanathan commented on #6306
@ceciliaavila - Any sample can be used to test named pipes (like, echo bot sample). You just need to follow the instructions here to set up the sample to use DirectLine ASE: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0

[2022-06-24 19:43] ceciliaavila commented on #6306
Hi @msomanathan, thanks for the quick reply.
We followed that guide to connect the bot to DL-ASE, however, we are not sure it's calling the _NamedPipeClient_ and _NamedPipeServer_ classes that we need to test.
We are trying to figure out how to simulate the connection issue between the bot and the DL extension without any success.
We thought on simplify the scenario, creating a small client that c

[2022-06-24 19:54] ramfattah commented on #6344
Hey @daveta, reaching out if you have any updates? Thanks.

[2022-06-24 22:17] msomanathan commented on #6306
@ceciliaavila - Since DL-ASE requires the bot to be published, you would need to debug into the bot deployed to Azure. Below are the steps to debug DL-ASE bots, please let me know if these steps are able to unblock you:

1. I took the CloudAdapter echo bot sample to set up DL-ASE, and attached to debugger in Visual Studio from the deployed bot as per the following option:

![image](https://user-im

[2022-06-27 14:08] ceciliaavila commented on #6306
Hi @msomanathan, thanks for the info!
We'll use this debug option to follow the code of the bot and create a console client to test this again trying to reproduce the error.
We'll let you know how it goes.
Thanks!

[2022-06-27 15:32] tracyboehrer opened #6392 "Bump Newtonsoft.Json from 12.0.3 to 13.0.1"
Bumps [Newtonsoft.Json](https://github.com/JamesNK/Newtonsoft.Json) from 12.0.3 to 13.0.1.

Release notes
Sourced from [Newtonsoft.Json's releases](https://github.com/JamesNK/Newtonsoft.Json/releases).

13.0.1
New feature - Add JsonSelectSettings with configuration for a regex timeout
Change - Remove portable assemblies from NuGet package
Change - JsonReader and JsonSerializer MaxDepth defaults to

[2022-06-27 16:34] EricDahlvang commented on #6392
For the sake of backwards compatibility, we need to ensure MaxDepth of null (or something very large) wherever json serialization/deserialization occurs.

[2022-06-28 15:40] EricDahlvang commented on #6371
Hi @karrimrabibiomni

Thank you for raising this issue. I've added your suggestion in this pull request: https://github.com/microsoft/botbuilder-dotnet/pull/6394

[2022-06-29 17:08] daveta commented on #6344
Hi @agrubskiy : Unfortunately, Orchestrator only supports Mac OS on Intel x64..

[2022-06-29 17:08] #6344 closed

[2022-06-30 13:53] vivekagrawal1110 opened #6396 "Unauthorized error in User authentication in Bot in Government Cloud (GCC High)"
I am getting Unauthorized error, bot setup details are given below. I have tried the same setup in commercial azure and it's working. Issue is only in GCC High Azure.

bot Setup in Azure portal (portal.azure.us)
- Created Azure Bot in Azure portal.
- Add new client secret in Bot Azure App.
- Added redirect URI in authentication settings "https://tokengcch.botframework.azure.us/.auth/web/redirect"

[2022-07-01 18:08] tdurnford commented on #6350
@rmt2021 Closing due to inactivity. Please reopen once you create a PR.

[2022-07-01 18:08] #6350 closed

[2022-07-01 18:39] EricDahlvang commented on #6396
Hi @vivekagrawal1110

Please review this document:
https://docs.microsoft.com/en-us/azure/bot-service/how-to-deploy-gov-cloud-high

What is missing might be the ChannelService configuration setting:
[code]

[2022-07-04 06:45] vivekagrawal1110 commented on #6396
Thanks. I have made changes as per the document and still getting error.

`Microsoft.Bot.Schema.ErrorResponseException: Operation returned an invalid status code 'BadGateway' at Microsoft.Bot.Connector.Conversations.ReplyToActivityWithHttpMessagesAsync`

- Using Bot Framework SDK version 4.16
- Startup.cs file has this line: `services.AddSingleton<BotFrameworkAuthentication, ConfigurationBotFramew

[2022-07-05 18:00] #6368 closed

[2022-07-05 18:02] #6392 closed

[2022-07-05 18:05] #6336 closed

[2022-07-06 21:23] EricDahlvang opened #6403 "HttpRequest should not throw http exceptions"
## Version
If the endpoint is unreachable, HttpRequest action should just return a 404 and not throw an exception

[2022-07-07 03:34] #6349 closed

[2022-07-07 05:28] vivekagrawal1110 commented on #6396
[46.teams-auth.zip](https://github.com/microsoft/botbuilder-dotnet/files/9060641/46.teams-auth.zip)
I have removed the client secret from appsettings.json file. Rest everything is same.

[2022-07-08 10:05] woasishen commented on #6306
Hi there, I can provide two ways to reproduce this issue.
1、[ConfigBotExtension](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0) and [AseWebClient](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-webchat-client?view=azure-bot-service-4.0).
Follow these two docs, create a DL-A

[2022-07-08 16:25] tracyboehrer opened #6405 "Update generators to set NewtonSoft MaxDepth"
services.AddHttpClient().AddControllers().AddNewtonsoftJson(options =>
{
      options.SerializerSettings.MaxDepth = 128;
});

[2022-07-10 23:57] rmt2021 opened #6407 "Activities that should be logged are missing due to transient network errors"
### Version
9ea8e1367e7b34cd84bfcf3ebae508599dfdc785

### Describe the bug
We found that when sending the message activities to the bot, some activities which are expected to be logged did not appear in the transcript due to transient network errors, and there is no handling for this. For instance, Azure SDK API [`UploadAsync`](https://github.com/microsoft/botbuilder-dotnet/blob/4cab8f1d039fef6101

[2022-07-11 13:26] #6357 closed

[2022-07-11 14:26] #6371 closed

[2022-07-11 15:33] Citronjack commented on #5130
How about .Net6?

[2022-07-11 15:35] gabog commented on #5130
@Citronjack, we will skip net 6, the upcoming release, 4.17.x will add support for net 6 (it should be available in a few weeks from now)

[2022-07-11 16:31] EricDahlvang opened #6408 "Upgrade Microsoft.ApplicationInsights to 2.20.0"
**Is your feature request related to a problem? Please describe.**
2.8.1 has deprecated dependencies

[2022-07-11 18:42] #6408 closed

[2022-07-11 19:45] #6403 closed

[2022-07-11 23:13] mostafaa-microsoft opened #6413 "Authentication: Add support for MSAL to acquire tokens using SubjectName/Issuer (SNI) authentication approach"
### Description
Can you please add support for MSAL to acquire tokens using SubjectName/Issuer (SNI) authentication approach.

**Background context**
The` MsalAppCredentials` and  `MsalServiceClientCredentialsFactory` is already implemented in `Microsoft.Bot.Connector` to support certificate based msal authentication of AzureBot. It is pretty flexible and can be used by users at `startup.cs ` to s

[2022-07-11 23:37] milkyware opened #6414 "Adding support for CLU and Orchestration Workflow"
### Description

Currently, the LUIS recogniser (and adaptive recogniser) doesn't support Language Studio CLU or Orchestration workflow. It would be great for support to be added for these features. Considering there's been quite a push to migrate from QnAMaker to Custom Questioning, this would help to start migrating from LUIS to Language Studio.

### Solution

Either adding support for CLU and O

[2022-07-12 18:26] jamesemann opened #6415 "FormatDateTime adaptive expression fails to parse if input is DateTimeOffset type"
## Version
4.16.1

## Describe the bug
If you set a memory scope variable to be a `DateTimeOffset` type, and then try and use that variable in an expression containing `formatDateTime`, the `formatDateTime` fails at the following line.

https://github.com/microsoft/botbuilder-dotnet/blob/402bc02b4cbbd2f4ec359134640e99211367e4a5/libraries/AdaptiveExpressions/BuiltinFunctions/FormatDateTime.cs#L50

[2022-07-13 17:54] stevkan commented on #6415
@jamesemann, thank you for bringing this to our attention. I'll begin looking into this attempting a repro and will let you know what I find.

[2022-07-13 18:47] #6407 closed

[2022-07-13 23:35] stevkan commented on #6415
@jamesemann, could you post the complete code you used, or attach a file that contains it, that generated the above error? Unfortunately, I am having some difficulty repro'ing your experience despite my attempts.

[2022-07-14 07:20] devbynight opened #6417 "TeamsInfo.GetMemberAsync failing with error "MethodNotAllowed""
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.15.2
4.16.1

## Describe the bug
When trying to get the user info when testing using teams
Exception being thrown when invoking
member = await TeamsInfo.Ge

[2022-07-14 11:31] vivekagrawal1110 commented on #6396
Please let me know if you found the issue. I can provide any other information that you may require.

[2022-07-14 14:51] #6363 closed

[2022-07-14 17:32] stevkan commented on #6417
@devbynight - A 500 type error in App Insights typically means there was an error in the bot, itself. So, this actually aligns with the 'MethodNotAllowed' error you are receiving in the bot. As to why you are receiving this error, can you elaborate on the details?

Did you encounter this while running one of the BotBuilder samples or are you trying to implement the functionality yourself? If a sam

[2022-07-14 18:42] stevkan commented on #6417
Also, with respect to your original post, I think we'll focus on the v4.16.1 `GetPagedMembersAsync` method since `GetMembersAsync` has a deprecated dependency and is marked as obselete.

[2022-07-14 23:19] devbynight commented on #6417
This is not from the samples.

I am using GetMemberAsync and not GetMembersAsync

member = await TeamsInfo.GetMemberAsync(stepContext.Context, stepContext.Context.Activity.From.Id, cancellationToken);

This is a skill bot that we have. We have added this as a skill to a root bot
When I chat with the root bot, the skill bot throws exception at this line

But if I chat directly to the skill bot via

[2022-07-15 16:48] #6306 closed

[2022-07-18 19:57] tracyboehrer opened #6421 "NullReferenceException in adaptive dialog"
## Version
4.16.3

PVA: https://msazure.visualstudio.com/CCI/_workitems/edit/14984624

Assembly version: 2022.05.1.750
Microsoft.CCI.OnlineEngine.Exceptions.AdaptiveDialogException: Exception executing adaptive dialog. ActiveDialogId: BeginDialog[='QnaMakerTrigger']. Type:System.NullReferenceException ---> System.NullReferenceException: Object reference not set to an instance of an object.
   at M

[2022-07-19 19:37] stevkan commented on #6417
If you are, in fact, trying to use `GetMembersAsync`, then I am unable to help you. As I mentioned, this method is deprecated and marked as obsolete because of a deprecated dependency. Your use of it is failing, and will continue to fail, because of this.

The solution is to use the newer `GetPagedMembersAsync` method available in the same library.

As a solution already exists to your issue and t

[2022-07-19 19:48] stevkan commented on #6415
@jamesemann - Just checking in if you are able to include the minimal repro.

[2022-07-19 19:51] jamesemann commented on #6415
will get over it ASAP

[2022-07-19 21:02] mostafaa-microsoft commented on #6413
This pr is not required, Since one can create msal client by setting sendX5C in the constructor like below which will send the X5C with every request.

[code]

[2022-07-19 21:02] #6413 closed

[2022-07-19 23:02] devbynight commented on #6417
@stevkan - I'm not using `GetMembersAsync`. I'm using `GetMemberAsync`

GetMemberAsync is not deprecated.
[Documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.teams.teamsinfo.getmemberasync?view=botbuilder-dotnet-stable)

[2022-07-20 10:49] hulin17 opened #6422 "CreateDirectConversationAsync return “Bad format of conversation ID“”"
## Version
What package version of the SDK are you using.
4.10.3.0

## Describe the bug
Give a clear and concise description of what the bug is.
I want to init conversation with a user via 1:1 chat in MSTeams Channel. I use the below sample to implement this.  But I got the next error. Why this? I got the Bot Channel Account & User Channel Account from "ConversationUpdate".

## To Reproduce
Steps

[2022-07-21 02:24] hulin17 commented on #6422
Updates: It's so wired when I try it again with the exactly same request, I got next error not like yesterday:
![image](https://user-images.githubusercontent.com/31561654/180116169-992f5604-40d7-41f2-a1d1-2a8465f6fb57.png)
when I add the tenantId, I got this error:
![image](https://user-images.githubusercontent.com/31561654/180116111-cd38a87c-60ad-4061-bd4f-2fe10a1a3674.png)
My botId is 96c84039-7

[2022-07-22 18:04] dmvtech commented on #6422
Hi @hulin17

Can you confirm the version you are running? Is it `4.10.3` or `4.13.0` ?

[2022-07-25 03:14] hulin17 commented on #6422
Hi @dmvtech, Confirmed for 4.10.3.  I also used postman to test this. You can check with the screenshots.

[2022-07-25 17:47] compulim opened #6821 "[Doc-Schema] [Accessibility] `imageAltText` is defined but not used in places where `image` is used"
## Version

Current version of schema.

## Describe the bug

In the [schema section `imageAltText`](https://github.com/microsoft/botframework-sdk/blob/main/specs/botframework-activity/botframework-activity.md#image-alt-text), it stated how `image`, `imageAltText` and `title` is defined.

However, in the card actions ([Message Back](https://github.com/microsoft/botframework-sdk/blob/main/specs/botf

[2022-07-25 19:15] stevkan commented on #6417
@devbynight - It looks like the docs were not properly updated to reflect the change in the code. I apologize for the confusion and will notify the docs team to make the appropriate changes.

As you can see in the botbuilder-dotnet Teams library, the [`GetMembersAsync`](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/Teams/TeamsInfo.cs#L119) method is, in f

[2022-07-26 01:49] devbynight commented on #6417
@stevkan - Again, I am not using GetMembersAsync

I am using [GetMemberAsync](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/Teams/TeamsInfo.cs#L195)

[2022-07-26 17:49] dmvtech commented on #6422
Thank you @hulin17. I can reproduce the original error. I'm continuing to troubleshoot.

[2022-07-26 22:58] stevkan commented on #6415
Closing due to inactivity.

[2022-07-26 22:58] #6415 closed

[2022-07-27 00:20] stevkan commented on #6417
Okay...so, first off, my apologies. Your initial post referenced using `GetPagedMembersAsync` and I think my brain simply glommed onto the plural version of every method after that. 😬 I'm on track now.

Our sample 57.teams-conversation-bot makes use of the same `GetMemberAsync` method (reference sample code [here](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/

[2022-07-27 02:25] devbynight commented on #6417
@stevkan - That's alright.

This is still not working in the context of a skill bot.

Alternative solution - I replaced usage of `GetMemberAsync ` with a Graph API call to get the user details, by passing the AadObjectId obtained from the Activity context.

[2022-07-27 02:25] #6417 closed

[2022-07-28 19:35] tracyboehrer opened #6427 "Bots in Shared Channel Support P1 - new Events and APIs"
This is the P1 stage for Bot support in Shared Channel.
Goal:
Bot is going to support shared channel specific functionalities to enhance the user experience.

## Requirements:
new APIs:
getSharedTeams for a shared channel
getAllowedMembers for a shared channel selected team
New event support:
Share/Unshare a team with shared channel. Host team need to get event.
Related SDK update

https://domoree

[2022-08-01 11:28] Rich-biomni opened #6428 "Adaptive ForEachElement loop's incorrectly when changes cause ContinueDialogAsync to be recalled"
## Version
c# 4.16.1

## Describe the bug
When looping using the ForEachElement, if something causes changes the ForEachElement runs the first action in its actions list rather the continuing with the next.

## To Reproduce
Use the ForEachElement with > 1 loops
In the Actions Property
 Ask a question
 Begin Dialog where the dialog is an adaptive dialog, and its action causes change (for example us

[2022-08-01 18:19] LeeParrishMSFT commented on #6428
Thanks for the issue details and repro project. We have some fixes for an issue related to this in the main branch here [Handle DialogEvents.RepromptDialog in ForEachElement](https://github.com/microsoft/botbuilder-dotnet/pull/6325) that will be part of an upcoming release. We will use your sample to test this and see if it will solve this issue.

[2022-08-03 09:39] JamesSinclairBiomni commented on #6428
Looks like this issue was reported against Bot Framework DotNet SDK 4.16.1 which includes the fix you're referring to but this issue is still broken

[2022-08-04 13:56] Rich-biomni opened #6430 "Adaptive ForEachElement does not exit when child action CancelAllDialogs is called"
## Version 4.16.1

## Describe the bug
When a ForEachElement Child Action is CancelAllDialogs the ForEachElement Loops again rather than cancelling
This is also the case when there are nested ForEachElement  actions aand at the lowest point a CancelAllDialogs is ran

## To Reproduce

Create and adaptive dalog
Create a ForEachElement
In the action add a message, question, CancelAllDialogs, message

[2022-08-04 17:02] stevkan commented on #6430
Related to #6428

[2022-08-05 00:02] stevkan commented on #6428
@Rich-biomni - Unfortunately, I am unable to test using your Simplebot project. I am getting dependency errors related to the BotFramework Solutions library you have included that I am unable to get around. The library was [marked as obscelete](https://github.com/microsoft/botframework-solutions#the-virtual-assistant-template-and-samples-have-been-replace-by-the-enterprise-assistant-template-in-bo

[2022-08-05 07:23] Rich-biomni commented on #6428
@stevkan - Dependency removed

[SimpleBot.zip](https://github.com/microsoft/botbuilder-dotnet/files/9266357/SimpleBot.zip)

[2022-08-05 07:34] Rich-biomni commented on #6430
Adding the sample bot again, since on a different bug it was mentioned, the sample could not be run  / reproduced because of an out dated dependenc
[SimpleBot.zip](https://github.com/microsoft/botbuilder-dotnet/files/9266427/SimpleBot.zip)

[2022-08-05 20:33] ramfattah opened #6432 "TeamsInfo.GetMemberAsync(...) doesn't work properly in Skill Bot scenario, it returns http 405 error."
[Summary]
Severity 3 = Urgent or High business impact, no SLA impact

[GENERAL INFO]
The TeamsInfo.GetMemberAsync() doesn't work properly in the Skill Bot scenario, it returns http 405 error. I can replicate the same issue on my lab,

[PROBLEM DESCRIPTION]

I used 80.skills-simple-bot-to-bot to reproduce this issue,

https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetco

[2022-08-05 20:44] ramfattah commented on #6432
Hey @JuanAr

I'm able to reproduce this issue where if we call the method `TeamsInfo.GetMemberAsync(...)` from the Root bot to EchoSkillBot.  It throws `The skill encountered an error or bug.`

Example:
![image](https://user-images.githubusercontent.com/38049078/183159337-c1d839ff-3132-4a78-8fda-8888d5c76c33.png)

Sharing the steps I took:
1. Clone sample [80.skills-simple-bot-to-bot](https://gith

[2022-08-05 23:52] stevkan commented on #6428
@Rich-biomni - Thank you for the updated project. I have it working now, without issue, using a local build of the SDK. I have started testing and will let you know what I find. I've found a couple curiosities, but I haven't had a chance to dig into them just yet. I will let you know what I find when I know more.

[2022-08-08 06:55] sbiaudet opened #6433 "Error in AdaptiveDialog.ContinueActionAsync with native dialog SDK"
## Version
Version 4.17.1

## Describe the bug
I use a "SatisfactionDialog" dialog inherited from ComponentDialog. This dialog is called in an AdaptiveDialog via BeginDialog("SatisfactionDialog"). I have an error in the AdaptiveDialog.ContinueActionAsync function.

System.ArgumentException: Could not find resource 'SatisfactionDialog.dialog' (Parameter 'SatisfactionDialog.dialog')

The problem is

[2022-08-08 13:54] ceciliaavila opened #6434 "Priority broken for RegexRecognizer"
## Describe the bug

RegexRecognizer is always processed "in order", but it is impossible to change that order using the Priority.

Example:

[code]
Will always trigger "MyCommand" even if typing "help".
Changing Priority in UI for "MyCommand" adds a '"priority": 99999'  in the commands' json, but does not alter the order of the commands in the RegexRecognizer section.
![image](https://user-images

[2022-08-09 14:28] #6434 closed

[2022-08-09 14:28] #5800 closed

[2022-08-09 14:29] #6354 closed

[2022-08-09 14:35] #6421 closed

[2022-08-09 18:15] stevkan commented on #6428
@Rich-biomni - I was able to repro the issue using your sample. Unfortunately, I was unable to find a simple solution / workaround to help mitigate this for you.

Escalating to @JuanAr for continued support on this.

[2022-08-09 18:16] stevkan commented on #6430
@Rich-biomni - I was able to repro the issue using your sample. Unfortunately, I was unable to find a simple solution / workaround to help mitigate this for you.

Escalating to @ceciliaavila for continued support on this.

[2022-08-10 07:34] vivekagrawal1110 commented on #6396
hi @tracyboehrer, Please let us know if there is any update on this.

[2022-08-10 07:56] saskialorraine commented on #2387
Hello there, are there any updates on how to handle the Confirm prompt input text translation in a more scalable and practical way?

[2022-08-10 14:22] tracyboehrer commented on #6430
Is this repeatable in 4.17.1?

[2022-08-10 21:05] tracyboehrer opened #6436 "several threads stuck on Microsoft.Bot.Builder.Dialogs.Adaptive.AdaptiveDialogBot+<SetUpTurnStateAsync>d__18.MoveNext()"
IcM:  https://portal.microsofticm.com/imp/v3/incidents/details/323426123/home

[2022-08-10 22:44] jamesemann opened #6438 "It's not possible to send binary data with the HttpSend activity"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Latest

## Describe the bug
It's not possible to send binary data with the HttpSend activity

## To Reproduce
Steps to reproduce the behavior:
1. Add a prope

[2022-08-13 07:51] stevkan commented on #6438
@jamesemann - Thank you for reporting this. I'll investigate and let you know what I find.

[2022-08-15 13:35] Rich-biomni commented on #6428
@tracyboehrer

Issue exists in 4.17.1 as well

[2022-08-15 18:06] tdurnford commented on #6433
@JuanAr Can you give us a status update on this?

[2022-08-16 13:02] tomezpl opened #6442 "SSML for individual cards or attachments"
**Is your feature request related to a problem? Please describe.**
In one of the Dialogs provided by our chatbot, we make use of [carousel collections](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#carousel-collection). As an accessibility consideration, we aim to always provide text-to-speech for all areas of the bot. However, it appears SSM

[2022-08-16 15:02] JuanAr commented on #6433
Hi @tdurnford, this issue is on our backlog. We'll be tackling it this week.
Thanks.

[2022-08-18 20:10] stevkan commented on #6438
@jamesemann - Thank you for your patience. I've been testing the above and have some ideas as to what is happening and _possible_ a workaround. I need to test a few more scenarios and then connect with one of the devs on this. I will keep you posted when I know more.

[2022-08-18 22:34] jamesemann commented on #6438
Thanks @stevkan , yes we would specifically like to post binary data. In our example it is to service now to upload an attachment:

https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/c_AttachmentAPI#attachment-POST-file

We will look forward to updates on this issue - thank you!

[2022-08-22 05:42] aosolis opened #6446 "TeamsInfo GetTeamChannelsAsync, GetTeamDetailsAsync don't pass along the cancellation token"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.17.1

## Describe the bug
We noticed that TeamsInfo.FetchChannelList and FetchTeamDetails aren't passing along the cancellation token.

Compare
https://git

[2022-08-22 11:14] MatteoMilanese commented on #6355
@sw-joelmut @EricDahlvang

I recently updated a project with the new SDK version (4.17.1) which includes the PR #6365 (the one that closes this issue).
I found that there's still a bug with respect to internal events. I'll try to better detail with an example:

Suppose:
- to have deployed your bot in an Azure App Service which has a number of instances >= 2
- at a certain point of a conversation,

[2022-08-22 19:43] Ravi-Macha opened #6447 "SSL Connection failure to "login.microsoftonline.com" when we add BOT app service in VNet"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
 <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <LangVersion>latest</LangVersion>
  </PropertyGroup>

  <ItemGroup>
    <PackageRef

[2022-08-23 16:57] dmvtech commented on #6447
Hi @Ravi-Macha

This is not an issue with the SDK. This is a networking issue as shown in the error (The SSL connection could not be established).

[2022-08-23 17:00] dmvtech commented on #6422
Apologies for the delay. I am still investigating.

[2022-08-23 18:07] #6447 closed

[2022-08-23 18:15] johnataylor commented on #6446
This seems like a simple fix. We don't need and end to end repro for this. The correct code is to pass through the cancellation token.

[2022-08-24 18:06] johnataylor commented on #6433
@sbiaudet we have a fix in the works for this, thanks.

[2022-08-25 13:00] awasthisubham opened #6451 "Failed to acquire token for client credentials. when Calling the Skill bot"
Hi Team,

we have encountered a issue below :
Error Occured in RouteStepAsyncFailed to acquire token for client credentials. (AADSTS700016: Application with identifier ‘xxxxxxxxx-xxxx-xxx-xxx-4’ was not found in the directory ‘Bot Framework’. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent you

[2022-08-25 17:35] sbiaudet commented on #6433
@johnataylor thanks. I've read the PR and it looks good. I will try it in a next daily build

[2022-08-26 18:03] stevkan commented on #6451
@awasthisubham - Can you check that the app registration for either the bot or the skill exists in the same tenant as the bot/skill?

[2022-08-26 23:24] stevkan commented on #6438
@jamesemann - Thank you for your patience. I did some additional testing and there does appear to be some issue with both the C# and JS `base64ToBinary` functions, though each seems to respond differently from one another. The C# implementation appears to return the object's key.

This will need to be escalated so a fix can be put in place. I'm working on trying to identify who that might be.

[2022-08-28 13:22] awasthisubham commented on #6451
@stevkan yes I have already checked that, the tenantID for the skill and root bot is same.
do we need to give some permissions to the app services as well to connect??

[2022-08-29 22:16] stevkan commented on #6451
Assigning to @ramfattah for continued support.

[2022-08-30 13:44] #6432 closed

[2022-08-30 13:44] #6433 closed

[2022-09-01 15:10] ramfattah commented on #6451
Hi @awasthisubham,

Thank you for your patience. I'm investigating this issue.

[2022-09-01 19:37] Ravi-Macha commented on #6447
Well The bot framework is able to make connection but failing in acquiring the TOKEN, Bot code deployed in Azure app service is not able to LOAD and USE our company uploaded certs. Can you assist how to call URL using our CERT ?

[2022-09-01 19:40] Ravi-Macha commented on #6447
@johnataylor  - We had 3 calls with Microsoft, Networking and Bot framework teams. Case Number - 2207180010008359 . We do not allow directly to internet. The call to login.microsoftonline.com should happen through PROXY.  In order to pass PROXY we need Certs to be present in call. We dont know how to LOAD our certs in BOT framework

[2022-09-02 14:11] sw-joelmut opened #6459 "Typing indicator shown after bot has replied"
## Issue referenced from https://github.com/microsoft/BotFramework-Composer/issues/9138

<blockquote>

## Describe the bug

The bot shows typing indicator after it replies
## Version

Version:  2.1.2
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [x] Safari
- [ ] Firefox
- [x] Edge

## OS

- [x] macOS
- [ ] Wi

[2022-09-02 14:45] davidimmanuel007 opened #6461 "Error resolving type specified in JSON 'LivePersonConnector.EscalationsConversationData, LivePersonConnector'. Path 'EscalationsConversationData.$type'.Newtonsoft.Json.JsonSerializationException Could not load assembly 'LivePersonConnector'"
Hi Experts, I'm integrating one off the handoff sample **(Live person Proxy Assistant)**  from here [to](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/handoff-library/csharp_dotnetcore/samples) my bot framework solution. Im using azure cosmos db for storing the conversation states. And the Code works as expected. I have also integrated my bot with Microsoft teams. Recently

[2022-09-02 18:00] ceciliaavila opened #6462 "Set Human Handoff event context from Composer"
## Issue referenced from https://github.com/microsoft/BotFramework-Composer/issues/9357

<blockquote>

## Describe the bug
This could be a documentation issue.

In the Human Handoff event, there is a context that allows you to send information to another package.

Paraphrased from the [documentation ](https://docs.microsoft.com/en-us/composer/concept-agent-handoff)

When using the Send a handoff a

[2022-09-05 11:12] Rich-biomni opened #6464 "Expression language, support fluent style method calling for better readability"
The expression language is an extremely valuable part of building a bot, It would be a great enhancement in terms of expression readability if the expression syntax could support a fluent/extension method style.

Examples:

//decalred variable..
var1 = [{age:21}, {age:22}, {age:23}]

Current syntax

where(select(var1, x => x.age), x => x > 21))

--

fluent/extension syntax

var1.select(x => x.age)

[2022-09-05 15:51] harald-thoenig opened #6465 "Parameter MessagingExtensionQuery always returns just first CommandId from manifest"
I'm using Microsoft Bot Framework V4 SDK to create a messaging extension bot.

I created two commands (searchQuery, processQuery). I would like to call up a configuration page for each command. The problem is that the MessagingExtensionQuery parameter in the OnTeamsMessagingExtensionConfigurationQuerySettingUrlAsync event always returns just the first command Id, I entered in the manifest.

I woul

[2022-09-05 18:09] ramfattah commented on #6451
Hi @awasthisubham,

Are you referring to this [virtual-assistant](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants/virtual-assistant) and this [skill](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/skill) sample?

Would you be able to provide us with a repro project zipped file of your bot that we could test from our end? If

[2022-09-06 14:14] #6459 closed

[2022-09-06 14:15] #6446 closed

[2022-09-06 14:26] #6462 closed

[2022-09-06 14:39] tracyboehrer commented on #6461
Is SDK 3.1 correct?  If so, SDK v3 reached end-of-support on 12/31/2019.  The path forward is using the latest v4 SDK version (4.17.1 at present).

[2022-09-06 18:25] tracyboehrer commented on #6422
Can we try the latest SDK version, which is 4.17.1?

[2022-09-07 17:38] dmvtech commented on #6465
I am taking a look at this.

[2022-09-08 10:05] tanzeelali12 opened #6469 "TurnContext objects get disposed in Microsoft bot framework session timeout function"
Microsoft.Bot.Builder Version = 4.15.1

I'm working on a scenario where the user is warned after 1 minute of inactivity and after another, 1-minute chat will auto close.

Callback is successfully invoked after 1 minute but when I'm using TurnContext to send a message to user then it shows an exception that "cannot access a disposed object".
The Locale in TurnContext is shown null and Microsoft.Bot

[2022-09-08 14:35] ceciliaavila commented on #6428
Hi @tracyboehrer, the reverted PR was related to another issue ([#6430](https://github.com/microsoft/botbuilder-dotnet/issues/6430)). Which issue is causing problems with PVA?

[2022-09-08 15:14] #6428 closed

[2022-09-08 15:14] tracyboehrer commented on #6430
This PR for this was reverted due to a breaking change. We will need to revisit.

Notes for SDK: This breaks Bot Designers (PVA) "SlotFillingTest" and some "IntentSwitchingTests". We will need to extract the tests to reproduce outside PVA.

[2022-09-08 16:39] ramfattah commented on #6469
Thanks @tanzeelali12, we are investigating.

[2022-09-08 17:32] tracyboehrer commented on #6469
Our only recommended technique is something based on proactive messaging (see the proactive sample).  Timers within the bot that try to reuse TurnContext objects would be problematic.

[2022-09-09 06:24] PrakashCCS commented on #6396
@tracyboehrer Facing similar issue. Will really appreciate if there is a sample starter project that work for bots in GCC high.

[2022-09-09 08:54] tanzeelali12 commented on #6469
@tracyboehrer Can you direct me to specific link/documentation/any samples regarding proactive messaging.

[2022-09-09 18:09] #6461 closed

[2022-09-12 13:57] ramfattah commented on #6451
Closing due to inactivity. @awasthisubham, please re-open if needed.

[2022-09-12 13:57] #6451 closed

[2022-09-14 14:06] #6469 closed

[2022-09-15 09:14] DridiFathi commented on #6465
@dmvtech any update on this?

[2022-09-16 11:35] tanzeelali12 commented on #6469
Didn't exactly fixed the TurnContext dispose object.

[2022-09-19 08:49] davhdavh opened #6476 "InvalidCastException in Activity.GetChannelData"
## Version
4.16.1

## Describe the bug
[code]

## To Reproduce
The 2 functions  `Microsoft.Bot.Builder.Teams.TeamsInfo.SendMessageToTeamsChannelAsync(ITurnContext turnContext, IActivity activity, string teamsChannelId, MicrosoftAppCredentials credentials, CancellationToken cancellationToken):Task<Tuple<ConversationReference,string>>` and    `Microsoft.Bot.Builder.Teams.TeamsInfo.SendMessageToTeams

[2022-09-19 18:11] dmvtech commented on #6422
Closing due to lack of response.

[2022-09-19 18:11] #6422 closed

[2022-09-19 20:28] ceciliaavila commented on #6430
We need information on the broken PVA tests to reproduce on the SDK side.

[2022-09-20 02:15] hulin17 commented on #6422
Apologies for the delay. @dmvtech @tracyboehrer. I also used Postman to test this. This is still repro. Do you guys find the root cause of this?

[2022-09-20 17:51] dmvtech commented on #6465
Hi @DridiFathi

Apologies for the delay. We are still investigating.

[2022-09-21 05:49] ramfattah commented on #6476
Fix is being addressed pull request https://github.com/microsoft/botbuilder-dotnet/pull/6477

[2022-09-21 05:49] ramfattah commented on #6476
Fix is being addressed in pull request https://github.com/microsoft/botbuilder-dotnet/pull/6477

[2022-09-26 12:49] tanzeelali12 opened #6478 "TimerCallback function not getting hit in deployed environment C#"
Microsoft.Bot.Builder Version = 4.15.1

I have a Microsoft Chatbot C# code,which has a TimerCallback function, which runs after some inactive time by user. This function gets hit when running code locally, but the same function does not get hit, when deployed on Azure environment.

Appologies for too much logging lines in the code, it was just to verify that function gets hit on deployed environme

[2022-09-26 13:00] ikaur1718 opened #6479 "Bot not authorizing on teams"
The Teams bot Authentication doesn't work, doesn't allow users to login. It always give the error below

![image](https://user-images.githubusercontent.com/33502206/192282633-a7424e42-8ef7-408d-82a5-fd594f428b55.png)

when logging on mobile teams app. It is redirecting to https://token.botframefork.com but with an error saying failed to load webview

[2022-09-26 18:29] anishprasad01 commented on #6479
Hi @ikaur1718,

We need you to provide more information in order to repro or investigate this.

- What samples did you use as a base?
- What code changes did you make?
- What documentation did you use?
- What kind of configuration did you perform?
- Is there any other relevant information which may help diagnose your issue?

[2022-09-27 15:02] anishprasad01 commented on #6479
I believe the `UseSingleSignOn` setting needs to be set to `true` for Teams SSO.

[2022-09-27 16:20] ikaur1718 commented on #6479
That did not work. that app setting is not being used in the application.

[2022-09-27 16:20] #6479 closed

[2022-09-27 16:23] anishprasad01 commented on #6479
As per the README of the sample you linked:
![image](https://user-images.githubusercontent.com/33945547/192581195-143a6b2c-1418-4022-9831-b47b07b33ba7.png)
The setting is set to `false` be default, but the developer should enable it when configuring Teams SSO, assuming the rest of your configuration is correct.

[2022-09-27 22:59] dmvtech commented on #6478
Hi @tanzeelali12

I will be looking closer at your code.

But first:

- Is the App Service set for 'Always on'? This can be checked/verified in the Configuration\General Settings portion of the App Service
- What bot state are you using? Cosmos or memory? or something else (I see reference to customconversationstate)?

[2022-09-29 12:33] ikaur1718 commented on #6479
I made those changes but now my adaptive card for login is not appearing at all.

[2022-09-29 17:37] marcopelegrini opened #6482 "ConnectorFactoryImpl should use a named client so that an specific client can be configured accordingly"
The ConnectorFactoryImpl:
https://github.com/microsoft/botbuilder-dotnet/blob/6cb09dce74d2725867375c4ab3679713b1fe696b/libraries/Microsoft.Bot.Connector/Authentication/ConnectorFactoryImpl.cs#L40

Uses the default name for the HttpClient, which limits the flexibility to configure the HttpClient the Bot SDK will use to communicate with smba

For instance, I can't define a timeout for this particula

[2022-09-29 18:15] dmvtech commented on #6465
Hi @harald-thoenig

To clarify the behavior a bit. When you say:

Do you mean; when you click on the three dots? Or when you select settings:
![image](https://user-images.githubusercontent.com/43397658/193111041-43971171-7cde-4a57-bd1c-abed9b6d3b77.png)

If you could please share more information and specifics on how exactly you set up the configuration/configuration page.

[2022-09-29 18:15] dmvtech commented on #6465
@ramfattah

[2022-09-30 06:37] harald-thoenig commented on #6465
Hi @ramfattah
If I select settings the event OnTeamsMessagingExtensionConfigurationQuerySettingUrlAsync will be triggered. In this event I get the command Id. But this command Id is always the first command Id from manifest. But I like to know on which command the user has selected the settings, then I could provide users different configuration pages per command Id.
I did the implementation of th

[2022-10-03 06:59] Raviiraju opened #6483 "Send proactive message with "Important" tag in Teams"
[question]
Can we send proactive message with "Important" tag for Teams?

[2022-10-03 20:24] anishprasad01 commented on #6482
Hi @marcopelegrini,

Thank you for your report. You're right about this, though at the moment there are no plans to modify the implementation. However, the `_httpClientFactory` is pluggable, and you could look into creating your own factory which implements `IHttpClientFactory` which can then be passed into the bot at startup via dependency injection. This approach should get you around your block

[2022-10-03 20:24] #6482 closed

[2022-10-03 21:24] marcopelegrini commented on #6482
@anishprasad01 that's not really an workaround, as the factory doesn't have any information regarding where that client is being created, so there's no way to be specific in the configuration for the client of the bot sdk.

This is a very low hanging fruit and 1 line of code to change it. I'm surprised it can't be accommodated easily in your backlog

[2022-10-03 21:40] anishprasad01 commented on #6482
My apologies. I can certainly communicate that sentiment, but I cannot offer any guarantees.

[2022-10-04 14:14] #6476 closed

[2022-10-04 17:28] ramfattah commented on #6483
Duplicate https://github.com/microsoft/BotBuilder-Samples/issues/3831

[2022-10-04 17:28] #6483 closed

[2022-10-04 23:43] dmvtech commented on #6478
Hi @tanzeelali12

This approach is not recommended. The recommended approach is to use [proactive messages](https://learn.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp). Please pursue that approach.

[2022-10-04 23:43] #6478 closed

[2022-10-05 08:23] tanzeelali12 commented on #6478
Well, I am using proactive messages, and that is working fine, there isn't any issue in that. The issue s that timer callback function does not get called in deployed environment.

[2022-10-06 20:47] johnataylor commented on #6430
we have a PR so marking this as exempt from the daily DRI report

[2022-10-06 20:48] johnataylor commented on #6438
we have a PR so marking this as exempt from the daily DRI report

[2022-10-06 20:52] tracyboehrer commented on #6430
Actually... this is still outstanding.  See the note above about the PR being reverted until we can duplicate outside of PVA scenario tests in SDK.  Still fine to exempt for now though.

[2022-10-07 00:03] ramfattah commented on #6465
Thanks @harald-thoenig,

I was able to reproduce this issue using C# bot sample [52.teams-messaging-extensions-search-auth-config](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/52.teams-messaging-extensions-search-auth-config).

Sharing the steps to reproduce:
1. Clone sample [52.teams-messaging-extensions-search-auth-config](https://github.com/microsoft/BotBu

[2022-10-10 07:34] iliosana commented on #2387
Hello @saskialorraine, I am using Composer and for simple yes/no confirmation prompts, the following worked for me:

![image](https://user-images.githubusercontent.com/95961035/194811582-8e07f8fc-50bb-4046-99f7-ebd76d101387.png)

I have omitted any confirm choices suggestions, this results in the composer displaying the options: yes/no or ja/nein automatically. I can then check the value of the pr

[2022-10-11 15:17] jamesemann opened #6485 "Microsoft.ConfirmInput doesn't show the prompt text in teams"
## Version
4.17.2

## Describe the bug
When using a `Microsoft.ConfirmInput` the prompt text is not shown.

On inspection it is because the method `AppendChoices` is setting `prompt.Text` to null.

## To Reproduce
Add a `Microsoft.ConfirmInput` and test it on a teams bot:

[code]
## Expected behavior
It should show the prompt text and yes/no buttons.

## Screenshots
It only shows the yes/no button

[2022-10-11 16:25] ramfattah commented on #6465
Hey @JuanAr, we are reaching out to see if there is status update on this.

Thanks.

[2022-10-12 17:48] BruceHaley opened #6486 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 17:48] BruceHaley commented on #6486
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77284)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:34.95Z | Bruce Haley | 2022-10-12T17:37:38.533Z |
        Bruce Haley | Tracy Boeh

[2022-10-12 19:10] BruceHaley opened #6488 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:10] BruceHaley opened #6489 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:10] BruceHaley opened #6490 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:10] BruceHaley commented on #6490
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77286)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:43.277Z | Bruce Haley | 2022-10-12T17:38:19.53Z |
        Bruce Haley | Tracy Boeh

[2022-10-12 19:10] BruceHaley opened #6491 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:10] BruceHaley commented on #6491
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77287)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:45.24Z | Bruce Haley | 2022-10-12T17:38:16.82Z |
        Bruce Haley | Tracy Boehr

[2022-10-12 19:10] BruceHaley opened #6492 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:11] BruceHaley opened #6493 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:11] BruceHaley commented on #6493
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77289)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:48.927Z | Bruce Haley | 2022-09-22T00:00:48.927Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:11] BruceHaley opened #6494 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:11] BruceHaley commented on #6494
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77290)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:50.883Z | Bruce Haley | 2022-09-22T00:00:50.883Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:11] BruceHaley opened #6495 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:11] BruceHaley commented on #6495
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77291)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:52.32Z | Bruce Haley | 2022-09-22T00:00:52.32Z |
        Bruce Haley | Tracy Boehr

[2022-10-12 19:11] BruceHaley opened #6496 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:11] BruceHaley commented on #6496
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77292)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:54.123Z | Bruce Haley | 2022-09-22T00:00:54.123Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:11] BruceHaley opened #6497 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:11] BruceHaley commented on #6497
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77293)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:55.99Z | Bruce Haley | 2022-09-22T00:00:55.99Z |
        Bruce Haley | Tracy Boehr

[2022-10-12 19:11] BruceHaley opened #6498 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:11] BruceHaley commented on #6498
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77294)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:58.083Z | Bruce Haley | 2022-09-22T00:00:58.083Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:11] BruceHaley opened #6499 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:11] BruceHaley commented on #6499
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77295)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-22T00:00:59.417Z | Bruce Haley | 2022-09-22T00:00:59.417Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:12] BruceHaley opened #6501 "CodeQL alert SM03926: Security sensitive JsonWebTokenHandler validations are disabled in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Security sensitive JsonWebTokenHandler validations are disabled</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001248">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Connector/Authentication/EnterpriseChannelValidation.cs#L30&amp;l

[2022-10-12 19:12] BruceHaley commented on #6501
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77423)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:00:36.88Z | Bruce Haley | 2022-09-27T00:00:36.88Z |
        Bruce Haley | Tracy Boehr

[2022-10-12 19:12] BruceHaley opened #6502 "CodeQL alert SM03926: Security sensitive JsonWebTokenHandler validations are disabled in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Security sensitive JsonWebTokenHandler validations are disabled</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001248">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Connector/Authentication/EmulatorValidation.cs#L38&amp;lineStartC

[2022-10-12 19:12] BruceHaley commented on #6502
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77424)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:00:38.903Z | Bruce Haley | 2022-09-27T00:00:38.903Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:12] BruceHaley opened #6503 "CodeQL alert SM03926: Security sensitive JsonWebTokenHandler validations are disabled in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Security sensitive JsonWebTokenHandler validations are disabled</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001248">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Connector/Authentication/ChannelValidation.cs#L29&amp;lineStartCo

[2022-10-12 19:13] BruceHaley opened #6504 "CodeQL alert SM03926: Security sensitive JsonWebTokenHandler validations are disabled in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Security sensitive JsonWebTokenHandler validations are disabled</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001248">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Connector/Authentication/SkillValidation.cs#L138&amp;lineStartCol

[2022-10-12 19:13] BruceHaley opened #6505 "CodeQL alert SM03926: Security sensitive JsonWebTokenHandler validations are disabled in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Security sensitive JsonWebTokenHandler validations are disabled</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001248">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Connector/Authentication/GovernmentChannelValidation.cs#L29&amp;l

[2022-10-12 19:13] BruceHaley commented on #6505
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77427)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:00:46.123Z | Bruce Haley | 2022-09-27T00:00:46.123Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:13] BruceHaley opened #6506 "CodeQL alert SM02211: Unsafe TypeNameHandling in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Unsafe TypeNameHandling</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001132">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Builder/MemoryStorage.cs#L21&amp;lineStartColumn=32&amp;lineEndColumn=52">https://github.com/microsoft/bo

[2022-10-12 19:13] BruceHaley commented on #6506
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77428)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:00:47.337Z | Bruce Haley | 2022-09-27T00:00:47.337Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:13] BruceHaley opened #6507 "CodeQL alert SM03926: Security sensitive JsonWebTokenHandler validations are disabled in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Security sensitive JsonWebTokenHandler validations are disabled</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001248">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Connector/Authentication/ParameterizedBotFrameworkAuthentication.

[2022-10-12 19:13] BruceHaley commented on #6507
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77429)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:00:48.287Z | Bruce Haley | 2022-09-27T00:00:48.287Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:13] BruceHaley opened #6508 "CodeQL alert SM02211: Unsafe TypeNameHandling in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Unsafe TypeNameHandling</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001132">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Builder.Dialogs/ObjectPath.cs#L20&amp;lineStartColumn=121&amp;lineEndColumn=141">https://github.com/micro

[2022-10-12 19:13] BruceHaley commented on #6508
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77430)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:00:51.867Z | Bruce Haley | 2022-09-27T00:00:51.867Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:13] BruceHaley opened #6509 "CodeQL alert SM02211: Unsafe TypeNameHandling in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Unsafe TypeNameHandling</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001132">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs#L712&amp;lineStartColumn=36&amp;lineEndColumn=5

[2022-10-12 19:13] BruceHaley commented on #6509
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77431)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:00:56.053Z | Bruce Haley | 2022-09-27T00:00:56.053Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:13] BruceHaley opened #6510 "CodeQL alert SM03926: Security sensitive JsonWebTokenHandler validations are disabled in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Security sensitive JsonWebTokenHandler validations are disabled</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001248">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Connector/Authentication/ParameterizedBotFrameworkAuthentication.

[2022-10-12 19:13] BruceHaley opened #6511 "CodeQL alert SM02200: Weak hmacs in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Weak hmacs</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001108">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Adapters/Microsoft.Bot.Builder.Adapters.Webex/WebexClientWrapper.cs#L75&amp;lineStartColumn=31&amp;lineEndColumn=88">https://github.

[2022-10-12 19:13] BruceHaley commented on #6511
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77433)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:01:00.69Z | Bruce Haley | 2022-09-27T00:01:00.69Z |
        Bruce Haley | Tracy Boehr

[2022-10-12 19:14] BruceHaley opened #6512 "CodeQL alert SM00431: Information exposure through an exception in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Information exposure through an exception</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000311">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Streaming/StreamingResponseExtensions.cs#L28&amp;lineStartColumn=50&amp;lineEndColumn=5

[2022-10-12 19:14] BruceHaley commented on #6512
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77434)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-09-27T00:01:02.233Z | Bruce Haley | 2022-09-27T00:01:02.233Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:14] BruceHaley opened #6513 "CodeQL alert SM03926: Security sensitive JsonWebTokenHandler validations are disabled in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Security sensitive JsonWebTokenHandler validations are disabled</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001248">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Connector/Authentication/ParameterizedBotFrameworkAuthentication.

[2022-10-12 19:14] BruceHaley opened #6514 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbu

[2022-10-12 19:14] BruceHaley opened #6515 "CodeQL alert SM02211: Unsafe TypeNameHandling in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Unsafe TypeNameHandling</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001132">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Builder.Azure/CosmosDbPartitionedStorage.cs#L24&amp;lineStartColumn=129&amp;lineEndColumn=149">https://gi

[2022-10-12 19:14] BruceHaley commented on #6515
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77506)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-10-06T08:05:59.643Z | Bruce Haley | 2022-10-06T08:05:59.643Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:14] BruceHaley opened #6516 "CodeQL alert SM02211: Unsafe TypeNameHandling in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Unsafe TypeNameHandling</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001132">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Builder.Azure.Blobs/BlobsStorage.cs#L80&amp;lineStartColumn=72&amp;lineEndColumn=92">https://github.com/m

[2022-10-12 19:14] BruceHaley opened #6517 "CodeQL alert SM02211: Unsafe TypeNameHandling in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Unsafe TypeNameHandling</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001132">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Builder.Azure/AzureBlobStorage.cs#L37&amp;lineStartColumn=32&amp;lineEndColumn=52">https://github.com/mic

[2022-10-12 19:14] BruceHaley commented on #6517
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77508)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-10-06T08:06:05.993Z | Bruce Haley | 2022-10-06T08:06:05.993Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:14] BruceHaley opened #6518 "CodeQL alert SM02200: Weak hmacs in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Weak hmacs</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001108">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookClientWrapper.cs#L119&amp;lineStartColumn=31&amp;lineEndColumn=95">https://

[2022-10-12 19:14] BruceHaley commented on #6518
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77509)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-10-06T08:06:08.243Z | Bruce Haley | 2022-10-06T08:06:08.243Z |
        Bruce Haley | Tracy Boe

[2022-10-12 19:14] BruceHaley opened #6519 "CodeQL alert SM02211: Unsafe TypeNameHandling in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Unsafe TypeNameHandling</b> (<a href="https://onees.lgtm.microsoft.com/rules/1001132">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/Microsoft.Bot.Builder.Azure.Blobs/BlobsTranscriptStore.cs#L117&amp;lineStartColumn=36&amp;lineEndColumn=56">https://git

[2022-10-12 19:15] BruceHaley opened #6521 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-10-12 19:15] BruceHaley commented on #6521
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77512)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-10-06T08:06:15.62Z | Bruce Haley | 2022-10-06T08:06:15.62Z |
        Bruce Haley | Tracy Boehr

[2022-10-12 22:48] JuanAr commented on #6465
Hi @ramfattah, this issue is on our backlog. We'll be tackling it next week.
Thanks.

[2022-10-13 17:47] dmvtech commented on #6485
Hi @jamesemann

Is this a Composer bot? Or a code bot using adaptive/declarative?

[2022-10-13 22:26] jamesemann commented on #6485
Hi @dmvtech , it is a declarative bot which I made in composer. The issue is in the C# runtime.

[2022-10-14 10:43] Aiswarya1794 opened #6531 "Prompt validation of confirm prompt in chatbot is not working for newly added language"
### I have a question

I am working on a chat bot project and we support English and Dutch languages.
Now we need to add German support also

But the prompt validation for confirm prompt is not working. Translation to English working correctly but while validating the data from prompt context , its showing PromptRecognizerResult  as False

[2022-10-15 07:18] dawwa opened #6523 "Issues on Waterfall Steps share private variables across multiple Azure web app service instance"
## Describe the bug
What would be the right way to share variables among waterfall steps, to make it work with multiple web app service instances, do we have to use the state always?

## To Reproduce
Steps to reproduce the behavior:
1. Create a simple dialog with multiple waterfall steps, these steps should attempt to access a same private variable, such as step 1 to writes value to the private va

[2022-10-17 16:08] ramfattah commented on #6396
@vivekagrawal1110 @PrakashCCS, Thank you for your patience.

We will attempt to try from our end to see if we can reproduce this issue.
Will report back once we have updates. Thanks.

[2022-10-17 20:13] ceciliaavila commented on #6465
We reproduced the issue and found that it's the MSTeams client the one sending the wrong _commandId_ in the property _value_ of the activity (documentation [here](https://learn.microsoft.com/en-us/microsoftteams/platform/resources/messaging-extension-v3/search-extensions#receive-user-requests)).
We consider this issue can be closed as there's nothing to fix on the SDK.

[2022-10-17 20:37] ramfattah commented on #6465
Thank you @ceciliaavila.
Closing as this issue is not related to Bot Framework SDK.

[2022-10-18 05:56] PrakashCCS commented on #6396
@ramfattah Issue has been open for 3.5 months. There is no substantial update on this so far. Can you give some timeline on when something meaningful can be done for this? I have tried all possible options but bot is not working in GCC. If you can just give a simple working sample from your side then that is enough. Thank you.

[2022-10-18 14:07] tracyboehrer commented on #6465
Reopening, will notify Teams during sync meetings.

[2022-10-19 19:27] ramfattah commented on #6396
Hi @vivekagrawal1110,

Are you planning to use sample [46.teams-auth](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/46.teams-auth) specifically for Teams channel?

[2022-10-20 04:52] vivekagrawal1110 commented on #6396
@ramfattah  yes, I need in Teams channel only.

[2022-10-20 17:28] tracyboehrer opened #6525 "Add new handler for new invoke type composeExtension/anonymousQueryLink"
Link to dev design: https://microsoft-my.sharepoint-df.com/:w:/p/daseong/EfqTDS4lubRBnYfwnQGwb0sBjBi0ks05dSHc28HHfWltyA?e=IVJB4N

[2022-10-20 17:57] #6525 closed

[2022-10-26 22:02] anishprasad01 commented on #6396
I'm unsure if these points were clarified, so let me quickly ask:

1. Are you unable to communicate with the bot in GCC High at all, or is it just the OAuth scenario which results in a 401 Unauthorized error?
2. For this code:
`string uri = "https://apiGCCH.botframework.azure.us"; MicrosoftAppCredentials.TrustServiceUrl(uri); AuthClientConfig.OAuthEndpoint = uri;`
Where exactly in the `Startup.cs`

[2022-10-27 06:51] vivekagrawal1110 commented on #6396
@anishprasad01,

1. I am able to communicate with bot but problem is with Authentication.
2. you can download my code for GCC High bot from [here](https://github.com/microsoft/botbuilder-dotnet/files/9060641/46.teams-auth.zip). I originally took the code from [here](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/46.teams-auth) and modified for GCC High.
    I h

[2022-10-27 12:57] tracyboehrer opened #6532 "Adaptive Runtime will default to Memory Storage for invalid values"
See ServiceFactory.

The scenario is that "CosmosDB" was the value used.  The actual value is "CosmosDBPartitionedStorage".  In this case, it silently uses Memory.

It should rather throw an exception.  Only default to Memory for an empty/missing "storage" value. Also, should error if the corresponding storage settings section isn't found.

[2022-10-27 14:14] andreas-sommer-engenious opened #6534 "multi-choice question with the composer"
I created a multi-choice question with the composer. This input has the type suggestedActions and contains a yes and no button. If the bot then shows this question, the suggested actions are displayed as buttons. However, if the user makes no input, the bot automatically responds with no. Can this be turned off? The max turn count setting ist set to 1 and no default response.
Regards
Andreas

[2022-10-27 18:31] #6518 closed

[2022-10-28 05:04] ramfattah commented on #6534
Hi @andreas-sommer-engenious,

Are you referring to if user doesn't select one of the SuggestedAction choice?

#

I'm not able to reproduce this issue. The bot did not automatically respond with "No".

Perhaps I'm missing something from my end, sharing the steps I took:
1. Created a new Composer Empty Bot (C#) Project
2. In Greeting trigger, I created a [multiple-choice action](https://learn.micro

[2022-10-28 13:38] #6532 closed

[2022-10-31 15:09] ceciliaavila commented on #6531
Hi everyone, we reviewed this issue and added it to our backlog. We'll be tackling it next week.

[2022-10-31 19:33] jamesemann commented on #6485
Hi @dmvtech and team.
Have you been able to repro this issue?

[2022-11-01 17:58] ramfattah commented on #6534
Hi @andreas-sommer-engenious, any updates on this?

[2022-11-02 09:18] andreas-sommer-engenious commented on #6534
Yes I’m also confused, because in the emulator it does not automatically respond. We created the web front end with nodejs and there it automatically respond after 5 minutes. I never had the effects in other bot projects.
Regards
Andreas

[2022-11-02 10:43] BruceHaley opened #6537 "CodeQL alert SM01507: Client-side URL redirect in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Client-side URL redirect</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000661">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main/build/AnalyzeDeps/InterdependencyGraph.html#L346&amp;lineStartColumn=16&amp;lineEndColumn=19">https://github.com/microsoft/botbuilder-

[2022-11-02 10:43] BruceHaley commented on #6537
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77718)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-10-31T04:48:33.51Z | Bruce Haley | 2022-10-31T04:48:33.51Z |
        Bruce Haley | Tracy Boehr

[2022-11-02 16:01] dmvtech commented on #6485
Hi @jamesemann I am unable to reproduce this yet. There are a few more things I need to try but am hitting some stumbling blocks on my end. I will update when I have more info.

[2022-11-02 18:13] ramfattah commented on #6396
Hi @vivekagrawal1110,

I'm also running into problems when setting up [46.teams-auth](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/46.teams-auth) for GCC High.

#

Sharing the steps I took:
1. Clone Teams Auth [sample](https://github.com/microsoft/botbuilder-dotnet/files/9060641/46.teams-auth.zip)
2. Added authentication to the bot by following docs [here](ht

[2022-11-02 18:18] ramfattah commented on #6396
Cross examined the [46.teams-auth](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/46.teams-auth) without **GCCH** account.

Using non-government cloud account seems to work without issues:
![image](https://user-images.githubusercontent.com/38049078/199569461-67dd6cc7-8d38-456e-99af-aacafafdb0d7.png)

[2022-11-03 14:02] #6537 closed

[2022-11-03 14:02] #6493 closed

[2022-11-03 14:02] #6494 closed

[2022-11-03 14:02] #6496 closed

[2022-11-03 14:02] #6497 closed

[2022-11-03 14:02] #6498 closed

[2022-11-03 14:02] #6514 closed

[2022-11-03 14:02] #6521 closed

[2022-11-03 14:11] #6488 closed

[2022-11-03 14:11] #6489 closed

[2022-11-03 14:11] #6490 closed

[2022-11-03 14:11] #6491 closed

[2022-11-03 14:11] #6486 closed

[2022-11-03 19:29] ceciliaavila commented on #6511
Hi @tracyboehrer, using SHA256 in Webex Adapter is not possible because the [Webex API](https://developer.webex.com/docs/api/guides/webhooks#handling-requests-from-webex) uses SHA1 encryption for the messages' signature.
We created PR #6540 suppressing the warning for this line of code.

[2022-11-04 14:07] #6511 closed

[2022-11-04 21:09] dmvtech commented on #6485
Hi @jamesemann I was unable to reproduce this at all. Are you able to share a sample bot that reproduces the issue? You can share in a repository or in a zip file.

[2022-11-07 07:47] vivekagrawal1110 commented on #6396
Hi @ramfattah ,

Thanks for trying this out. I had followed the same steps earlier and it did not work for me in GCC.

Please let us know what is the next step to resolve this issue and get the bot working in GCC environment.

[2022-11-07 18:20] johnataylor opened #6542 "applying BotMessageSerializerSettings.MaxDepth doesn't seem to work"
Customer reports that they see "The reader’s MaxDepth of 64 has been exceeded." Using Botbuilder V4.17 with Newtonsoft.Json 13.0.1

Downgrading to Newtonsoft.Json to 12.0.3 resolved the issue. As described in https://github.com/microsoft/BotBuilder-Samples/issues/3328

However when they tried the settings as described in https://github.com/microsoft/BotFramework-Composer/issues/9387#issuecomment-1

[2022-11-07 19:12] tdurnford commented on #6542
@JuanAr Can you investigate this issue?

[2022-11-07 20:53] JuanAr commented on #6542
Hi @tdurnford, we'll add this issue to our backlog. We'll let you know as soon as we start investigating it.
Thanks!

[2022-11-07 21:55] ramfattah commented on #6534
@andreas-sommer-engenious are you able to share a minimal reproducible bot?

[2022-11-08 20:27] ceciliaavila commented on #6542
Hi @tracyboehrer,
We reviewed the issue and the changes we made a few months ago, and we may have missed applying the _MaxDepth_ setting in the [OAuthClient](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Connector/OAuthClient.cs#L728) class. Also, we need to check the [ConnectorClient](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.B

[2022-11-09 02:01] BruceHaley opened #6543 "CodeQL alert SM00431: Information exposure through an exception in microsoft/microsoft/botbuilder-dotnet/botbuilder-dotnet"
## Repro Steps

<b>Summary: </b><br>CodeQL detected the following issue: <b>Information exposure through an exception</b> (<a href="https://onees.lgtm.microsoft.com/rules/1000311">Help link</a>)<br><b>Repository:</b> <a href="https://github.com/microsoft/botbuilder-dotnet/blob/main?path=/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotFrameworkHttpAdapter.cs#L171&amp;lineS

[2022-11-09 02:01] BruceHaley commented on #6543
[Original Work Item URL](https://dev.azure.com/fuselabs/SDK_v4/_workitems/edit/77767)

<details><summary>Original Work Item Details</summary><p>

| Created date | Created by | Changed date | Changed By | Assigned To | State | Type | Area Path | Iteration Path|
|---|---|---|---|---|---|---|---|---|
| 2022-11-07T01:25:56.283Z | Bruce Haley | 2022-11-09T01:47:19.247Z |
        Bruce Haley | Tracy Boe

[2022-11-09 20:13] raghavsuriya opened #6545 "Sending proactive message to slack without user conversation reference"
I am looking to send a message through the bot framework to slack. However the user has not interacted with the slack bot earlier and hence no conversation reference is available. But to send a proactive message , I need a conversation reference object. How can I construct the object given that I have the botID and the userID (slack) for whom I want to send the message to.

Also I saw the method C

[2022-11-10 14:34] sombe opened #6547 "Handling Telegram video notes"
Hello,
I'm not sure if this is a bug or intended behaviour, I've found out that when a user sends a video note recorded within Telegram mobile app (not by using smartphone camera app but the built-in functionality) that message isn't handled like a normal file and isn't included in activity's attachments. The only place where I can find some data of that is in channel data. I think that those vide

[2022-11-10 16:10] #6542 closed

[2022-11-11 18:40] #6506 closed

[2022-11-11 18:41] #6509 closed

[2022-11-11 19:01] stevkan commented on #6545
@raghavsuriya, I am looking into this and hope to have a response to you by EOD, today.

[2022-11-11 19:05] tdurnford commented on #6547
@luhan2017 @boydc2014 Do either of you know if this a feature we support?

[2022-11-11 19:56] #6512 closed

[2022-11-14 17:08] #6534 closed

[2022-11-14 19:06] johnataylor commented on #6547
@boydc2014 @luhan2017 any update on this?

[2022-11-14 19:09] #6501 closed

[2022-11-14 19:09] #6502 closed

[2022-11-14 19:09] #6513 closed

[2022-11-14 19:09] #6505 closed

[2022-11-14 19:09] #6507 closed

[2022-11-14 20:10] dmvtech commented on #6485
Closing due to lack of response and unable to reproduce. If you can please share a sample or exact steps on how to reproduce, we will reopen and continue.

[2022-11-14 20:10] #6485 closed

[2022-11-14 20:31] jamesemann commented on #6485
@dmvtech I will try and carve out some time so that I can give you an exact repro of the issue.

[2022-11-15 00:36] raghavsuriya commented on #6545
Hi @stevkan , thank you for the response. Did you get a chance to look at this ?

[2022-11-15 23:43] stevkan commented on #6545
@raghavsuriya - Thank you for your patience. I am still looking into this at the moment. I am able to send a proactive message to Slack using the `createConversation` method from the deprecated BotFrameworkAdapter without issue. However, I am running into some issue using the `createConvesationAsync` method from the CloudAdapter. I am continuing to investigate and will let you know what I find as

[2022-11-16 14:03] #6515 closed

[2022-11-16 14:03] #6516 closed

[2022-11-16 14:04] #6517 closed

[2022-11-16 14:04] #6519 closed

[2022-11-17 03:34] NewFuture opened #6552 "Got Newtonsoft.Json.JsonReaderException in Bot"
Got `Newtonsoft.Json.JsonReaderException` for some event

## Version
`Microsoft.Bot.Builder.Integration.AspNet.Core` = `4.18.1`

## Describe the bug
Give a clear and concise description of what the bug is.
[code]
call stack
[code]

## To Reproduce
I found some errors like this in the server logs. It seems to be a bug in the bot framework.
The events are triggered from Teams messages.

## Additiona

[2022-11-17 15:42] Zaragor opened #6553 "SNAT Port exhaustion"
## Version
4.16.0

## Describe the bug
We're hosting bots created by the bot composer on a custom server in Azure, and our SNAT ports usage steadily climbs until we run out and start getting timeout errors.

## To Reproduce
Steps to reproduce the behavior:
1. Create a bot (I believe that makes an external HTTP call, but not 100%)
2. Create a web app that will load the AdaptiveBot and run it (using

[2022-11-17 22:02] ramfattah commented on #6552
Thanks @NewFuture,

Are you able to provide a minimal repro project or steps to reproduce this issue?

[2022-11-18 09:17] NewFuture commented on #6552
@ramfattah I cannot reproduce it in local development.
I can only find this exception from the production server log.
I guess the clients invoke different schemas.

And you can locate the bug from the call stack.

The source code is here https://github.com/NewFuture/my-stickers/blob/main/server/Bots/TeamsMessagingExtensionsBot.cs

[2022-11-18 09:30] NewFuture commented on #6552
This error may come from here.
https://github.com/microsoft/botbuilder-dotnet/blob/d65ed01d0c7ed0caa38bf2c12ce6537b5acb2c8e/libraries/Microsoft.Bot.Schema/Teams/MessageActionsPayloadReaction.cs#L47

The `reactionType` input message is an array. (usually it is a string). so it breaks.

[2022-11-18 09:39] boydc2014 commented on #6547
Sorry for the delay. I've confirmed with team that is expected behavior that we didn't handle video notes specificly. We don't have plan to do so given this feature was released at telegram side at 2017 and the decision in channel side at that time was made to leave it to as it is within in channel data.

[2022-11-18 15:05] #6510 closed

[2022-11-18 15:35] tracyboehrer opened #6558 "Update to ANTLR 4.11 to compensate for breaking changes between versions"
https://github.com/antlr/antlr4/issues/3963

[2022-11-18 19:10] johnataylor commented on #6547
closing this issue

[2022-11-18 19:10] #6547 closed

[2022-11-18 20:24] ramfattah commented on #6552
Thanks @NewFuture, investigating further.

[2022-11-20 13:34] xelossan opened #6560 "Allow TokenCredential authentication in CosmosDbPartitionedStorage"
Currently in order to use CosmosDbPartitionedStorage as a bot state out-of-the-box, it's required to use the CosmosDB authentication key.
CosmosClient allows using TokenCredential instead, so CosmosDbPartitionedStorage should allow this as well.

[2022-11-21 19:33] tracyboehrer commented on #6553
Adding an HttpClient to TurnState via Middleware is the recommended course.

[2022-11-22 11:30] 462sai commented on #6542
Hi @ceciliaavila

Could you please confirm this fix is released? if yes please confirm the botbuilder version

Regards,
Sai.

[2022-11-22 15:09] tracyboehrer commented on #6542
@462sai This is not released.  Rather just merged into main.  The next release is currently scheduled for early January.  However, there is a periodic development release to MyGet.  Reference the "UsingMyGet.md" for details.

[2022-11-23 14:20] Meghana-MSFT commented on #5973
@hopsusa - This issue has been fixed, can you please verify and confirm?

[2022-11-28 15:11] vova-lantsov-dev opened #6562 "Bug while receiving Submit button action from Adaptive Card in Teams"
## Version
`4.18.1`

## Describe the bug
Before (last week), when you clicked a 'submit' action button of adaptive card in order to submit some input fields, the `invoke` activity type was received in `Microsoft.Bot.Builder.ActivityHandler` class.

As for now, the `message` activity type is sent for some reason, that causes `Microsoft.Bot.Builder.Teams.TeamsActivityHandler.OnInvokeActivityAsync()`

[2022-11-28 19:49] tracyboehrer opened #6563 "Expired JWT token exception not being handled"
[1:19 PM] Tom Laird-McConnell
If a jwt token is expired the SecurityTokenExpiredException  exception is thrown which is not caught and mapped to 401.
We need to add to the authentication something like this:

It throws all the way out to the controller.

[code]

[2022-11-28 20:56] anishprasad01 commented on #6562
Hi @vova-lantsov-dev,

- Did you make any code changes, and if so, does reverting them fix the issue?
- SDK 4.18.1 is fairly new. Does this issue occur on older versions of the SDK?
- Did you upgrade any Teams packages?

[2022-11-28 21:25] vova-lantsov-dev commented on #6562
@anishprasad01
1) No, I didn't make any changes. It just stopped working when I tried to call this API on Monday after holidays.
2) I tried on version 4.16, the same behaviour
3) What packages I exactly have:
![image](https://user-images.githubusercontent.com/45858087/204384066-782a80e1-d3d7-4b35-8ee9-a6d8b1935b8a.png)

[2022-11-29 21:38] yingduyingdu opened #6565 "Teams message update and message delete events"
This feature aims to extend the dotbet Bot SDK so that developers can consume newly added events that Teams will emit to the bot. They are:

a user edit a message in Teams.
a user undelete message in Teams.
a user soft delete a message in Teams.

[2022-11-29 22:32] #6553 closed

[2022-11-30 17:51] ramfattah commented on #6552
Thanks for your patience @NewFuture, we are still looking into this.

[2022-11-30 22:15] stevkan commented on #6545
@raghavsuriya - Again, thank you for your patience. I was running into some slight issues using the dotnet SDK so I switched to JS and, after some trial and error, I have been able to get it to work. I am now going back to dotnet to replicate the JS setup. I hope to have an update on that soon.

[2022-11-30 22:44] #6565 closed

[2022-11-30 22:45] #6543 closed