[2019-07-01 11:57] VKAlwaysWin commented on #2140
@EricDahlvang thank you very much for your answer. It is really great that it is already added as internal bug.

Should I close this issue or leave it until it will be resolved in https://github.com/microsoft/BotFramework-Services ?

[2019-07-01 13:39] EricDahlvang commented on #2140
Hi @VKAlwaysWin

Thank you for reporting this. Please do leave it open. Someone will transfer it to the correct repo, and we will leave it open until the fix is implemented.

[2019-07-01 14:04] VKAlwaysWin commented on #1877
Hi, @dmvtech any updates on this ?

[2019-07-01 14:09] gabog commented on #2001
@darrenj, @lauren-mills & @managedcoder can you point me to the QnA KB that has the How Heavy is the Moon question? There's probably an issue with the framework code but I need the KB to be able to repro without having the deploy the entire VA.
Thanks

[2019-07-01 14:32] lauren-mills commented on #2001
@gabog There isn't a kb with that question. The Dispatch model thinks it should go to qna, but there isn't a match in the kb. You can use the models from the VA Template to repro.

[2019-07-01 14:48] gabog commented on #2001
k, thanks lauren, I'll try to repro outside VA and will report back to the thread.

[2019-07-01 16:03] gabog opened #2157 "SourceLink doesn't seem to be working"
## Version
4.4.x

## Describe the bug
I am trying to debug the Virtual Assistant code and would like to be able to step into the SDK source but SourceLink doesn't seem to be pulling the source.

I don't load nuget package explorer as described in [this article](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/sourcelink#using-source-link) and when I look at the SDK code I don't se

[2019-07-01 16:16] gabog commented on #2157
ore info

From reading [this](https://github.com/dotnet/sourcelink/blob/master/README.md) doc it seems we need to change our references to SourceLink.Create.CommandLine, if I understand it correctly, we need to use Microsoft.SourceLink.GitHub instead.

![image](https://user-images.githubusercontent.com/12264946/60451422-0173b400-9bfa-11e9-8f00-c9f3dd17baef.png)

[2019-07-01 17:27] gabog commented on #2001
This issue seems to have been fixed in 4.5 (I'm not sure what PR addresses the issue though).

I was able to repro the issue against 4.4.5 by using the following code:

    public async Task TestBug()
    {
        var qnaEndpoint = new QnAMakerEndpoint()
        {
            KnowledgeBaseId = "MyKBID",
            EndpointKey = "MyKBKey",
            Host = "https://myQnAHost-qnahost.azurewebsit

[2019-07-01 17:27] #2001 closed

[2019-07-01 18:31] gabog commented on #2148
Addressed in https://github.com/microsoft/botbuilder-dotnet/pull/2158

[2019-07-01 18:31] #2148 closed

[2019-07-01 19:30] gabog commented on #2123
Hi @abishekreddy, the testing package will be released to nuget when we release 4.5, in the meantime you can reference the nightly builds from my get https://botbuilder.myget.org/feed/botbuilder-v4-dotnet-daily/package/nuget/Microsoft.Bot.Builder.Testing.

Let me know if you have any feedback or comments on the DialogTestClient.

Thanks

Gabo

[2019-07-01 19:30] #2123 closed

[2019-07-01 19:55] CoHealer commented on #1989
@v-kydela, please investigate.

[2019-07-01 21:34] v-kydela commented on #1989
@vidya091209 - In order to determine if this is related to adaptive dialogs, can you successfully send the base64 image outside of an adaptive dialog?

[2019-07-02 01:39] Danieladu commented on #2147
Sure. I think vscode extension debug feature (has custom iterations of evaluation) can help and it is more lightweight.

[2019-07-02 02:26] vidya091209 commented on #1989
@v-kydela  yes i am able to send it outside the adaptive dialog.

[2019-07-02 02:38] boydc2014 commented on #2147
Yes, vscode extension can help on ad-hoc testing, here by testing, i'm refering to testing like UT.

[2019-07-02 03:39] gabog commented on #2157
Never mind, I got this to work by disabling "Just My Code" in the debug options window.

That said, the sourcelink site recommends that we use Microsoft.SourceLink going forward (https://github.com/ctaggart/SourceLink#quick-start).

Something for a future release.

[2019-07-02 03:39] #2157 closed

[2019-07-02 06:24] DingmaomaoBJTU opened #2160 "[Adaptive] Provide confirm prompt while intent switching"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
When using adaptive dialog to switch intent, developers will either:
1. Do redispatch without confirmation (current way, less noise but may have sid

[2019-07-02 06:29] DingmaomaoBJTU opened #2161 "[Adaptive] Add Delete/Put support to HTTPStep"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.5

## Describe the bug
Currently http step does not have support delete and put. This will block our implementation of the calendar event delete.

## To Re

[2019-07-02 09:34] subhamawasthi opened #2162 "IOS Teams app stopped displaying image | Teams Bot | Mobile Teams app"
Hi Team,

I have create a Bot using Botframework v3 and using the Bot in Teams channel.
Bot is working when using the Teams in Windows/PC.
While when I use it in mobile app(IOS) the images which are present in QnA Answer are not getting displayed.

Images I have saved in azure storage(BLOB) with anonymous read.
IOS teams version : 1.0.78

Please help me for this.

Regards
Subham Awasthi

[2019-07-02 10:47] #2154 closed

[2019-07-02 15:25] james-novino opened #2163 "Rip Cord Dialogs"
**Is your feature request related to a problem? Please describe.**
We have broken our business applications down into module component dialogs that we can re-use across flows. As such when running the bot it's possible to have multiple component dialogs as children to the root Waterfall dialog as shown below:

![image](https://user-images.githubusercontent.com/10082447/60523937-a43f3780-9cb9-11e9-

[2019-07-02 15:25] james-novino opened #2280 "Rip Cord Dialogs"
**Is your feature request related to a problem? Please describe.**
We have broken our business applications down into module component dialogs that we can re-use across flows. As such when running the bot it's possible to have multiple component dialogs as children to the root Waterfall dialog as shown below:

![image](https://user-images.githubusercontent.com/10082447/60523937-a43f3780-9cb9-11e9-

[2019-07-02 16:49] carlosscastro commented on #1794
Working on this.

[2019-07-02 16:53] #2060 closed

[2019-07-02 17:27] tomlm commented on #2089
this is not repo after my last dialog memory changes

[2019-07-02 17:27] #2089 closed

[2019-07-02 17:30] carlosscastro commented on #2041
Notes from Dong

    there is no difference of expression in LG and expression engine
    LG depends on expression
    this issue is actually says
 what works in LG/ExpressionEngine (user[list.type]) is different what works in dialog property (user.{list.Type})
    the issue is for Tom, per my last check with Vishwac, the property fix to me, is remove the support of user.{list.type} in dialog, and

[2019-07-02 17:45] ceciliaavila commented on #1477
Hi @cleemullins, @sgellock,

We reviewed this issue and found that with the [version 1.1.6](https://github.com/microsoft/Recognizers-Text/releases/tag/dotnet-v1.1.6) of **_Recognizers-Text_** we needed to set up the _enablePreview_ option in _NumberRecognizer_ so "last" utterance could get recognized. With the [latest version](https://github.com/microsoft/Recognizers-Text/releases/tag/dotnet-v1.2.

[2019-07-02 18:14] tomlm commented on #2041
The issue is that we need to evaluate the property as an expression for both GET and SET operations.

I think the right way to solve this is to add support **in the expression class only** for setting a value for an expression.

for expression **conversation[user.name]**

[code]

I don't think I can do this without writing my own expression parser.

[2019-07-02 20:13] EricDahlvang commented on #2097
Please share the LUIS model you've used to reproduce this.

[2019-07-03 02:08] jamiewilbraham commented on #2143
Hey there! Is there any update on this issue? It is currently impacting many of our solutions. Are there any workarounds?

[2019-07-03 02:26] v-kydela commented on #1989
@vidya091209 - Adaptive Cards are unrelated to adaptive dialogs, so naturally an adaptive image is not a valid adaptive dialog step. You can see all the types of steps available to you in the steps folder. What specific branch have you pulled in order to use adaptive dialogs?

[2019-07-03 03:26] xieofxie opened #2174 "cannot recognize space"
**Is your feature request related to a problem? Please describe.**
Space will result in empty Intents in Microsoft.Bot.Builder.RecognizerResult. However, you can't test it on https://www.luis.ai.

**Describe the solution you'd like**
It should return None intent.

**Additional context**
Maybe it is a LUIS bug..

[enhancement]

[2019-07-03 04:04] vidya091209 commented on #1989
@v-kydela I simply wanted to send a base64 image as step in adaptive dialog. i am using 4.Future branch.

[2019-07-03 08:46] Danieladu opened #2179 "[LG] Make directory separator in LG cross platform"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
July 3 source code

## Describe the bug
#### The file path in LG file is not cross platform.
Here is a fragment from LG file:
[code]
[code]
[code]

[2019-07-03 11:45] khurram-aziz commented on #1237
While publishing bot on Skype channel; faced this issue; resolved using the @liamkernighan middleware fix

[2019-07-03 14:17] th0ger commented on #2097
I'm attaching the C# demo project, which also contains the extended LUIS model FlightBookingWithWeight.json
[luisdemo_issue2097_clean.zip](https://github.com/microsoft/botbuilder-dotnet/files/3355359/luisdemo_issue2097_clean.zip)

- C# project was based directly on the "Core Bot (Bot Framework v4)" template.
- FlightBooking.json was uploaded to eu.luis.ai to create a new app. Added the new dimensi

[2019-07-03 14:30] th0ger commented on #2097
As a side note, this seems related to issues like [Decimal point ignored in Convert.ToDouble](https://stackoverflow.com/questions/37461888/decimal-point-ignored-in-convert-todouble).

After LUIS, I have a waterfall dialog that can ask for supplementary information. I utilize Microsoft.Recognizers.Text.NumberWithUnit to be able to provide input such as "3.3 kg".

[code]
The `InvariantCulture` part

[2019-07-03 15:18] sgellock commented on #1989
@v-kydela I'm moving this over to the Adaptive team to address.  Thanks for the initial help, but I'd like them to address the issue.

@tomlm @carlosscastro we should decide if we can get this fixed before the next train leaves.

[2019-07-03 17:45] #1934 closed

[2019-07-03 17:48] EricDahlvang commented on #1794
This appears to be fixed.  User State is now stored within a record having the user state key:
[code]

However,  the Dialog State record still has empty ConversationState and UserState records for each step:

[code]

[2019-07-03 21:56] tomlm commented on #1989
You need to use a **SendActivity(activity) step.  That takes a **Activity** object which can have attachments.

If all you are trying to do is send an image as an activity then it would be something like this:
[code]
If you are truly trying to send an **AdaptiveCard**, then you need to do the same thing but add an attachment with adaptive card that has an AdaptiveImage inside that.

[2019-07-03 21:56] #1989 closed

[2019-07-03 23:38] johnataylor opened #2181 "Mention removal code could cause data loss"
Code review of the @ mention removal code suggests it could cause data loss. The line that causes specific concern is a string replace for the contents of the <at></at>.

This needs further testing. There are no unit tests for this function in C# (there is now one in JS.)

Suggested alternative implementation is to take the value of the text in the entity and search and replace that in the text in

[2019-07-03 23:42] johnataylor commented on #2181
Here is a specific example:

[code]

Look for the entities/text value its "<at>TestOAuth619</at>" and replace this in the top level text field with an empty string. Very simple.

However does this work on every channel?

[2019-07-03 23:49] tomlm commented on #2147
The TestAdapter has **AssertReplyOneOf()**, which is exactly for this

[2019-07-03 23:56] tdurnford commented on #2143
Possibly related to https://github.com/microsoft/BotFramework-WebChat/issues/2138

[2019-07-03 23:57] #1820 closed

[2019-07-04 01:20] chrimc62 commented on #2041
PR #2184 added setPathToValue and has been merged which should enable Tom to use it to fix this issue.

[2019-07-04 01:29] chrimc62 opened #2186 "[Adaptive] Shortcuts should not require a static path to start."
**Is your feature request related to a problem? Please describe.**
You cannot use computed values at the root of shortcuts.  For example you cannot do %[user.name] to find options defined for a particular person.

**Describe the solution you'd like**
Short cuts should be treated as simply that--a shortcut that you can treat like any path.

**Additional context**
The current parser requires an IDEN

[2019-07-04 03:25] vidya091209 commented on #1989
Thanks a lot it worked.

[2019-07-04 08:18] vishwacsena commented on #2160
@DingmaomaoBJTU, there isn't a clear way we could do this automatically. The author of the bot could choose to prompt user to confirm or perform disambiguation as they see fit to either stop consultation bubbling or continue it.

One thing we have added recently is EditSteps which provides more fine grained control for desired consultation behavior including ability to added inputs or sending acti

[2019-07-04 08:18] #2160 closed

[2019-07-04 10:21] Danieladu opened #2188 "[LG] Refine static checker"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Static checker in LG should be friendly to mslg tool or vscode extension or other upper layer customer.

Due to performance reason, out previous sta

[2019-07-04 13:42] Danieladu commented on #2156
Please provide how to reproduce it.

[2019-07-04 14:09] boydc2014 commented on #2147
Hey, @tomlm, per my understanding, what Jing is asking here is not a test method. I think Jing's asking is a method to get all possible variations of a template. So that users can get total control of the output.

There is one scenario i think this would be particular useful, that, as a LG user, i want to make sure my bot to avoid some sensitive word (or phrases) in the output, so i can use this m

[2019-07-04 14:22] boydc2014 commented on #2186
@chrimc62 hi, Chris, I want to clarify a little bit here, because i see a little inconsistency in the form of `%foo and `%[foo]`. We can support `%[any computed result]` if we can allow such inconsitency. The issue i see is
* In %foo actually `%`  is translated (conceptually) to `dialog.options.`
* In %[foo], i expect you mean dialog.options[foo] which means % is translated to `dialogs.options` wi

[2019-07-04 14:43] boydc2014 commented on #2188
Update some description, and add myself in assign list to easy track.

[2019-07-04 16:57] chrimc62 commented on #2186
I'm ok with the inconsistency of @chris means ...entities.chris and @[user.name] evaluates to the same path.  I think we can build that into the semantics of shortcuts.  @foo is consistent for how other platforms refer to entities so we don't want to change that, but I do want a way to do a computed path and just doing @[user.name] seems the clearest to me.  @vishwacsena should chime in as well.

[2019-07-04 22:31] dmvtech commented on #1877
@VKAlwaysWin Not much. The fix is done, but not still yet in public release rings.

[2019-07-04 22:39] dmvtech commented on #2162
@subhamawasthi Are you able to [debug the bot using ngrok](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/)? I'm curious to know if when using the teams mobile app on iOS if you are getting any exceptions. Also; do images that don't come from QnA answers (but from the bot) work in the iOS app?

[2019-07-05 02:58] boydc2014 commented on #2186
Cool, if inconsistency is ok, next thing i want to clarify is we want support
* just one level flexibility like,  @foo, @[foo]
* or truly free path, like @foo.bar, @foo[bar].zar, @[foo].bar[size-1].x

[2019-07-05 03:11] zidaneymar commented on #2155
@hibrenda  The max turn count is 2, so the datetime prompt will only prompt twice.

[2019-07-05 03:40] vishwacsena commented on #2186
@chrimc62 - great suggestion. Yes. I do agree that we should have shortcuts work with computed paths as well. I do not see an issue with the inconsistency and I believe it is palpable.

@boydc2014 - do we not already support a[b].c? Once we go down this path, I believe we should support free paths so users do not get dead ended.

FWIW, I believe we should take this for 4.6 and not for 4.5.

[2019-07-05 03:58] boydc2014 commented on #2186
Yes, we support a[b].c because it's a valid primary expression.

[2019-07-05 04:11] boydc2014 commented on #2186
And the most simplest way to support free path is to treat shortcuts just as expression, just like @chrimc62 said in the description. This will instantly give us suppport for `%[foo].bar.zar`.

But this would allow `%.foo` instead of `%foo`.  So we need some trick to make it's `%foo` not `%.foo`.  Right @chrimc62 ?

[2019-07-05 04:32] ZhaoqingCui opened #2312 "The "locale" field in settings needs to be converted to lowercase"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v4

## Describe the bug
The current default value of Locale in Emulator Settings is en-US. However, it does not match the default value of adaptive dialo

[2019-07-05 06:02] zidaneymar commented on #2156
@hibrenda The invalid prompt is "Please enter a date" which is same as the initial prompt. So maybe we should change the text of invalid prompt, or change the max turn count?

[2019-07-05 18:06] CoHealer commented on #2143
Hey William, here is the client side work around we discussed. If you have any questions, feel free to ask them here.

•	We should wait until "load" event is fired, not using "image.blob()"
•	We should respect aspect ratio and limit the size to maximum 480px
•	We should downscale image only, and leave non-image files as-is
•	This works with multiple attachments
      (async function () {
        /

[2019-07-07 18:31] #2179 closed

[2019-07-07 18:32] #2041 closed

[2019-07-08 00:51] carlosscastro opened #2194 "[Adaptive] Adaptive Storage: Stored dialog state has empty UserState and DialogState dictionaries at each level"
Investigate and confirm whether we could remove the multiple empty UserState and DialogState dictionaries that can be found at each level of the conversation state.

[code]

[2019-07-08 00:53] carlosscastro commented on #1794
Closing this as the original bug is fixed. I also created #2194 to follow up on the empty dictionaries we still observe.

[2019-07-08 00:53] #1794 closed

[2019-07-08 04:09] vishwacsena opened #2196 "[Adaptive] Refine support for DateTime input"
This ticket tracks refining existing support for OAuth and DateTime input for adaptive dialog.

[2019-07-08 04:09] vishwacsena commented on #1918
Remaining refinements with OAuth and DateTime inputs are tracked via #2196

[2019-07-08 04:09] #1918 closed

[2019-07-08 04:12] DingmaomaoBJTU commented on #2160
@vishwacsena Yes, we can have other ways to support this configuration like add an if-condition step in every trigger rule. But my point is this could be a general request for developers (the intent switching could be a hard stop for a user, especially when user input some typo) - when I want to enable this for all trigger rules, I don't want to add the same code everywhere to make it happens. So

[2019-07-08 04:19] boydc2014 opened #2197 "Empty or invalid constraint in Rule will break the dialog"
## Version
Adaptive

## Describe the bug
Whenever a empty or an invalid constraint is passed to a Rule, bot will break with confusing message.

## To Reproduce
1. In any dialog.json, inside an 'IntentRule', put a constraint with empty string or invalid expression string.
2. Run the bot
3. We will see the parser exception, without any context, which is pretty confusing
![image](https://user-images.

[2019-07-08 07:58] boydc2014 commented on #2197
This is an issue comes from BFD, sometimes we generated syntax corrected json files (some fields are empty string), but not working at runtime and error messages isn't clear which is hard to debug and frustrating people.

I put this P1, and it's OK that we can have this as P2, i don't know.

[2019-07-08 07:58] luhan2017 opened #2198 "[Adaptive] dialog.*** is not working in InputDialog, because InputDialog is no longer inherited from DialogCommand"
To reproduce:

{
            "$type": "Microsoft.TextInput",
            "property": "dialog.name",
            "prompt": "what is your name?",
            "unrecognizedPrompt": "prompt again",
            "invalidPrompt": "that's wrong"
        },
        {
            "$type": "Microsoft.TextInput",
            "property": "dialog.other",
            "prompt": "Hi,  {dialog.name}, what is your n

[2019-07-08 08:15] searlin opened #2199 "CreateConversationAsync doesn't pass the tenantId"
## Version
4.4

## Describe the bug
When use one of the overload method CreateConversationAsync  in   BotFrameworkAdapter, the summary says: **Overload receives a ConversationReference including the tenant**, but the tenantId is not used at all, then it will throw exception in the middleware TenantIdWorkaroundForTeamsMiddleware, I think it's a very simple case, or I didn't understand correctly?

[

[2019-07-08 09:15] Danieladu commented on #2197
show the error constraint situation:
rule:
[code]

Result from Emulator:
![image](https://user-images.githubusercontent.com/7289268/60798519-e4b02100-a1a3-11e9-9825-ae5fa6035884.png)

[2019-07-08 19:20] tomlm commented on #2198
This is by design.  You can access your parents dialog properties by using ^ short like this: **^name**

**$name** --> binds to **ActiveDialog.name**
**^name** --> walks caller dialog state looking for **name** property on caller dialog state.

Alternatively, you can create input binding to bind values from caller dialog state into the dialog.

[2019-07-08 19:20] #2198 closed

[2019-07-08 23:16] #2197 closed

[2019-07-09 01:23] DingmaomaoBJTU opened #2202 "[Qna] How to support telemetry in Qna"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
v4.future

## Describe the bug
Give a clear and concise description of what the bug is.
Could not find a way t

[2019-07-09 07:45] boydc2014 commented on #2147
Closed, @jinghul , it's avaiable in latest SDK, called ExpandTemplate.

[2019-07-09 07:45] #2147 closed

[2019-07-09 08:00] zidaneymar opened #2203 "[Adaptive]SetProperty step doesn't work with LUIS composite entities"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.Future branch

## Describe the bug
Any composite entities will be parsed to a complex json like this:
![image](https://user-images.githubusercontent.com/93

[2019-07-09 12:22] DingmaomaoBJTU opened #2204 "[LG] Enrich exception information in MultiLanguageGeneratorBase"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.6.0-Daily-2019-07-05-01

## Describe the bug
Give a clear and concise description of what the bug is.
Only e

[2019-07-10 01:29] stevkan commented on #2110
@BeigeBadger, are you still experiencing an issue with this?

[2019-07-10 03:58] BeigeBadger commented on #2110
Nope, the above seems to have solved it thanks.

[2019-07-10 03:58] #2110 closed

[2019-07-10 13:51] sgellock opened #2210 "Prompts should not always set InputHints.ExpectingInput"
## Describe the bug
Prompts in C# always use `InputHints.ExpectingInput` and do not respect the inputHint set on activities.

## Expected behavior
If you pass in an Activity to the PromptOptions and it has an inputHint attribute, the Prompts should use that inputHint instead of stamping on top of it with `InputHints.ExpectingInput`.

This is a complementary Issue to the following issue tracked in

[2019-07-10 14:48] martinoss opened #2211 "AzureBlobTranscriptStore not working when bot file endpoint has no id value"
## Version
4.4.5

## Describe the bug
Not very high priority, but I ran into the issue that the TransscriptLoggerMiddleware was not writing any transcripts. Turned out to be due to a nulled "activity.Recipient.**Id**" caused by a missing attribute in the bot file (id of endpoint). Took me some time to find the relation between this "id" and the recipient.

## To Reproduce
Steps to reproduce the be

[2019-07-10 16:53] cleemullins commented on #2210
PR #2207 against the 4.5 Branch needs to be cherrypicked to master.

[2019-07-10 17:22] #2210 closed

[2019-07-10 18:33] v-kydela commented on #2210
I am not sure why this issue was closed since that PR only changes `OAuthPrompt` and this issue is about prompts in general. Am I understanding this incorrectly?

[2019-07-10 19:45] chrimc62 commented on #2203
This is by design.  If you don't want a composite in your LUIS model, you shouldn't use one.  If you do use a composite you may need additional parts of your path.  In any case, it looks like your example is incomplete--there is no remindTime at all.  If that is a role then it is not being recognized.  If you want to reopen this, please supply the full returned result and what you expect.

[2019-07-10 19:45] #2203 closed

[2019-07-10 22:05] johnataylor commented on #2181
So far it appears different channels behave differently.

We will leave the code as is but add a warning in the documentation highlighting the issue that the removal  function is altering underlying application data. It is an opt in (its a helper function) but the behavior is potentially unexpected. Perhaps we need channel specific logic.

Leaving this issue open as an investigation.

[2019-07-10 22:07] johnataylor commented on #2181
Note the previous comment that stated the mention.text could be used directly as the search string in the activity.text is probably incorrect for Skype. (This was what @garypretty was fixing.)

[2019-07-10 22:07] johnataylor commented on #2181
Also note the C# implementation currently has no unit tests.

[2019-07-11 00:02] cleemullins opened #2213 "Broken Test - Needs to be ReEnabled"
The test:
[code]
is currently failing in the build with the following error:

[code]

This needs to be examined and re-enabled prior to shipping 4.6.

The PR that disables this test (so the build passes) is #2214

[2019-07-11 03:32] zidaneymar opened #2215 "[Adaptive] ChoiceInput doesn't work if the dialog.value is a JToken object"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.Future

## Describe the bug
HttpRequest set the dialog.value to a JToken object, and ChoiceInput break since it can't parse the JToken object to string.

[

[2019-07-11 06:31] DingmaomaoBJTU opened #2218 "[Prompt/LG] Prompt still take activity not IActivity as input but things like LG can only give IMessageActivity"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.6.0-Daily-2019-07-05-01

## Describe the bug
When I use LG to build up a prompt, the prompt only take activi

[2019-07-11 06:45] DingmaomaoBJTU opened #2219 "[LG] Need to support input hint in LG"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-05-01

## Describe the bug
LG should support input hint as part of the resource management. Otherwise developers had to write resource fi

[2019-07-11 10:59] luhan2017 commented on #2156
So the problem is, **if the user set alwaysprompt, should we clear the property?** @vishwacsena
This issue is caused that, we set alwaysprompt and after the maxturn is reached, it will use the previous property value.

[2019-07-11 11:01] #2215 closed

[2019-07-11 22:03] Stevenic opened #2223 "SetProperty step lower cases the property name being assigned"
## Describe the bug
If you run a SetProperty step that basically does `dialog.fromLocale = @fromLocale` the property will end up being named `dialog.fromlocale`. This seems to only happen when a new property needs to be added to dialog.

I believe the lower casing is happening [here](https://github.com/microsoft/botbuilder-dotnet/blob/4.Future/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps

[2019-07-11 22:08] Stevenic opened #2224 "Provide a consistent way to get/ set properties via steps/ actions tied to the life time of a specific adaptive dialog."
## Describe the bug
I spent 30 minutes trying to figure out why my LG expression for a TextInput wasn't working and it was because [InputDialog derives from Dialog](https://github.com/microsoft/botbuilder-dotnet/blob/4.Future/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/SetProperty.cs#L62) and not DialogCommand.  All steps should derive from DialogCommand otherwise you'll create random s

[2019-07-11 22:12] Stevenic opened #2225 "BeginDialog step options are literal strings and not expressions"
## Describe the bug
I tried passing `@fromLocale` and `@toLocale` entities as options to a TranslateConversation dialog I was starting and what I received was the literal strings "@fromLocale" and "@toLocale". Options should be expressions so that you can pass in dynamically computed values for options.

[bug]

[2019-07-12 00:29] vishwacsena commented on #2224
We discussed this and landed on $foo to support dialog property getter/ setter up to the parent container dialog level. All our docs and samples should use $foo to refer to properties that are tied to the scope of the containing adaptive dialog.

[2019-07-12 00:34] vishwacsena opened #2228 "[Adaptive] BeginDialog missing ability to bind to results returned by a child dialog"
BeginDialog via options allows you to pass value in to a child dialog. Any dialog can return a value to the caller by setting a return value on the EndDialog step.

BeginDialog in the current implementation in composer is lacking ability to recieve the returned value either via a ResultProperty or Property itself that can perform two way data binding.

- BeginDialog step is missing ResultProperty

[2019-07-12 01:06] vishwacsena opened #2229 "[Adaptive] [DCR] Drop steps tied to adaptive dialog"
Based on several rounds of feedback, we should drop "steps" tied directly to an adaptive dialog and move to a strictly [event + constraints] -> action (steps) model. This change will:
- help minimize and streamline concept count
- ensure all actions are always tied back to an event (and a constraint where applicable)
- instill clarity at both root dialog, child dispatcher as well as child dialog l

[2019-07-12 01:45] luhan2017 opened #2230 "[Adaptive] Circular dialogs are not supported. it will throw an exception of StackOverFlow"
## Version
adaptive sdk 4.6

## Describe the bug
When I try to create a bot that has any sort of circular flow of dialogs, the botruntime fails when I try to connect to the bot.

## To Reproduce
please refer to https://github.com/microsoft/BotFramework-Composer/issues/529

[2019-07-12 01:58] #2204 closed

[2019-07-12 02:40] Danieladu commented on #2223
Maybe caused by the `CamelCaseNamingStrategy` of expressionCaseSettings

[2019-07-12 07:33] zidaneymar opened #2231 "[Adaptive] The DialgoState is not cleared after throwing out a LG exception"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.Future branch

## Describe the bug
[code]
The max turn count of the input step is 2. When we enter two invalid inputs, the DateTimeInput will end automatic

[2019-07-12 09:10] Danieladu opened #2233 "LG ImportResolverDelegate is resolving dependency without context"
#1884  Version
Source code of 12 July

## Describe the bug
The current ImportResovlerDelegate interface only accept an resourceId which to be resolved, without know the context (the current resource id).

In a fileResolver context, this mean the resolver don't even know the current file path. So this resolver can only constructed with the right path in, but this resolver can't be shared in a depen

[2019-07-12 09:45] vinodkumartheking opened #2234 "There was an error sending this message to your bot: HTTP status code InternalServerError"
#Problem Statement
when i use basic ECHO bot C# sdkv 4, when checking on localhost it is working fine, after publishing to azure with proper microsoftappid and key, When i "Test in Web" . I get the following error.

## Version
C#,
Sdk v4

## Expected behavior
I should get Echo+ typed message

## Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-images.g

[2019-07-12 10:54] KayMKM opened #2235 "[LG] need stronger error check"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When I use IF/ELSEIF, I mistakenly use "ELSE IF" instea

[2019-07-12 16:55] vishwacsena commented on #2231
I verified that this is an issue for any input and verified that this repros outside of our BFC as well.

@stevenic; @tomlm - in the OnTurnError for the Adapter, I do see a delete/ clear on conversation state. That should in theory purge the dialog state as well and reset the conversation - Isn't it?

[2019-07-12 17:35] mdrichardson commented on #2234
Looking into this now. What method did you use to publish/deploy?

[2019-07-12 18:37] mdrichardson commented on #2234
`InternalServerError` generally indicates there's something wrong with your bot code. Here's a couple things you can try:

1. Ensure `Portal > App Service > Configuration` has the correct `MicrosoftAppId` and `MicrosoftAppPassword`
2. Check `https://<yourEndpoint>.scm.azurewebsites.net/dev/wwwroot` and ensure all of the appropriate files are there. Should be a bunch of `.dll`s and a `wwwroot` fold

[2019-07-12 19:50] EricDahlvang commented on #2213
Changing JwtTokenExtractorTests.keyId from `CtfQC8Le-8NsC7oC2zQkZpcrfOc` to `u4OfNFPHwEBosHjtrauObV84LnY `will cause the test to pass again (i'm not sure what changed though).

[2019-07-12 21:47] chrimc62 opened #2240 "@entity does not handle when there are multiple entities"
If LUIS comes back with an entity like meat:[["ham"]], then @meat will produce "ham".  If it comes back with an entity like meat:[["ham", "turkey"]] then it will produce [["ham", "turkey"]] and according to the spec should produce "ham".  You have to use @@ if you want the full entity.

[bug]

[2019-07-12 22:38] Stevenic opened #2242 "Typo in Schema for HttpRequest step"
## Describe the bug
I'm using an `HttpRequest` step to call an Azure Function that returns a custom built activity to the user. I set the response type to be `activity` but it would never send the activity i'm returning. I tracked the issue down to a bug in the schema for HttpRequest.

In the snippet below you'll see that composer is setting a property called "responseTypes" plural but the actual

[2019-07-12 23:17] Stevenic commented on #2242
2 other issues:

- The case of the enums is wrong. "activity" should be "Activity".
- The [JsonProperty()](https://github.com/microsoft/botbuilder-dotnet/blob/4.Future/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/HttpRequest.cs#L81) for ResponseType is set to "returnType".

[2019-07-12 23:31] vishwacsena commented on #2156
@Stevenic, @tomlm I can repro this issue and I believe always prompt should clear the property for it to be more predictable especially in the interplay with maxTurnCount set.

[code]

With this snippet, if you try the following, you will see the error - the bot should not have continued to use `46` from the prior response from user especially when alwaysPrompt is set.

[code]

[2019-07-13 00:24] Stevenic opened #2243 "DCR: add logic to AdaptiveDialog for supporting Action.Submit from AdaptiveCards"
**Describe the solution you'd like**
Today, if you create a bot in composer that sends an AdaptiveCard with an `Action.Submit` button there's no way to process the results.  The JS version of AdaptiveDialog [has logic](https://github.com/microsoft/botbuilder-js/blob/4.future/libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts#L283) that maps the values submitted to the bot into an Intent +

[2019-07-13 02:26] #2233 closed

[2019-07-13 02:35] boydc2014 commented on #2240
I think the spec is
for [["ham"]] => "ham"
for :[["ham", "turkey"]] => ["ham", "turkey"]
my understand is if list contains only 1 item, we remove the list, stop until it's more than 1 item

@vishwacsena can you confirm this?

[2019-07-13 14:39] vishwacsena commented on #2240
Yes. @boydc2014 we discussed this in SDK standup and the decision was to snap to @entityname always return the first value immaterial of the list depth.

@@entityname will return the actual list.

[2019-07-13 19:32] sgellock opened #2244 "[Teams] All known Invoke verbs modeled in ActivityHandler"
**Is your feature request related to a problem? Please describe.**
The ActivityHandler needs to support Invoke Verbs issued by Teams.

**Additional context**
This rolls up to
https://github.com/microsoft/botframework-sdk/issues/5462

[enhancement]

[2019-07-13 19:53] sgellock opened #2245 "[Teams] Provide a Teams connector that models the standard connector"
**Is your feature request related to a problem? Please describe.**
Teams connector should be discoverable and "reasonably unified" with the SDK's regular connector.

**Additional context**
This rolls up to
https://github.com/microsoft/botframework-sdk/issues/5462

[enhancement]

[2019-07-14 21:55] torynfarr opened #2690 "RetryPrompt only displayed once"
## Version
4.5.1

## Describe the bug
With the Bot Framework Emulator version 4.5.1, RetryPrompts in Dialogs are no longer working as expected. Specifically, with a text prompt, the validation method is called... but if it returns false the RetryPrompt Activity is only displayed that first time. If you enter invalid input again and again after that first time, the validation method is called each

[2019-07-15 05:13] vinodkumartheking commented on #2234
For publishing i download the publishing profile from app services and used to import in VS2017 to publish it.

[2019-07-15 07:54] Danieladu opened #2247 "LG in adaptive dialog don't support imports with relative path"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
July 15 source code

## Describe the bug
`ResourceResolver` in `LanguageGeneratorManager` can't resolve a relative path, because ResourceResolver assume a fi

[2019-07-15 08:56] boydc2014 commented on #2240
Cool, ok, i will merge https://github.com/microsoft/botbuilder-dotnet/pull/2241

[2019-07-15 08:57] #2240 closed

[2019-07-15 10:29] Danieladu opened #2249 "TemplateEngine.AddText should require fullPath as id when using default fileResolver"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
July 15 source code

## Describe the bug
Currently if no resolver is passed into AddText(), the default fileResolver is used to resolve the imports.

The iss

[2019-07-15 14:31] mdrichardson commented on #2234
@vinodkumartheking 	I'll attempt to repro and let you know how it goes. Currently, although that *should* work, that isn't the officially-recommended method of publishing. For that, [see the docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=newrg)

[2019-07-15 15:01] mdrichardson commented on #2234
@vinodkumartheking 	Are you using the EchoBot from the samples repo, or the one from the Azure Portal > New Web App Bot?

[2019-07-15 18:47] dmvtech commented on #2162
Closing due to no action. Please reopen if the issue persists and you still need assistance.

[2019-07-15 18:47] #2162 closed

[2019-07-16 00:37] vishwacsena opened #2252 "[Adaptive] Default Value on inputs not respected with MaxTurnCount set"
The following code nets an LG exception about `turn.age` evaluating to null although this should have been set to ‘10’ once the max turn count is reached.

[code]

**Result in emulator:**
[code]

**Exception**:
fail: Microsoft.Bot.Builder.Integration.AspNet.Core.BotFrameworkHttpAdapter[0]
Exception caught : Error occurs when evaluating expression 'turn.age': turn.age is evaluated to null

[2019-07-16 00:41] vishwacsena opened #2253 "[Adaptive] ListProperty on ForEachPage step is inconsistent with ForEach step"
`ListProperty` on ForEach step expects a string while the exact same property in ForEachPage step expects an expression. We should be consistent and accept a string in both cases.

[code]

**Error**:
Cannot implicitly convert type ‘string’ to ‘Microsoft.Bot.Builder.Expressions.Expression’ for `ListProperty`

[2019-07-16 00:48] vishwacsena opened #2254 "[Adaptive] ReplaceSequence operation on EditSteps does not work"
It is unclear what the behavior of RepalceSequence should be on EditSteps. I was expecting the new steps specified via EditSteps to replace the current plan but that was not observed behavior.

[code]

This snippet results in the steps ending after the

[code]

[2019-07-16 07:01] DingmaomaoBJTU opened #2256 "[LG] Incorrect text property resolve when special character is included"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-13-01

## Describe the bug
When use patten "a||b" in LG and b include sth like "\n", "||", the text/speech property resolved by TextMessa

[2019-07-16 07:23] DingmaomaoBJTU commented on #2256
As data received from msgraph for calendar & email may include *any kind character*, please ensure LG works well with all possible character and character combinations.

[2019-07-16 07:31] #2247 closed

[2019-07-16 13:49] Jeffders opened #2257 "Streaming Extensions: WebSocketStreamingHttpAdapter doesn't work with AddScoped"
## Version
4.5.0 Preview 1

## Describe the bug
The new streaming adapter doesn't work with AddScope and dependency injection.

## To Reproduce
The issue seems to occur when transient bot has a scoped dependency. A simple example how I was able to reproduce it:

1) In the Startup.cs, set the following lines:

services.AddScoped(ctx => Guid.NewGuid().ToString());
services.AddTransient<IBot, EchoBot

[2019-07-16 20:37] vishwacsena opened #2258 "[Adaptive] Input does not run its own recognizer after consultation"
This is either a port bug or a core issue in how inputs were updated as part of the events DCR.

The core issue here seems to be that input’s own recognizer is not run after consultation bubbling wraps up and the input always issues a reprompt.

[code]

**Expected behavior:**

[code]

**Current behavior**

[code]

[2019-07-16 22:18] cleemullins opened #2261 "Nuget packages no longer have Icon"
The old Nuget Icon doesn't exist any more:
[code]

The right link should be:
[code]

[2019-07-16 22:25] #2261 closed

[2019-07-16 23:30] chrimc62 commented on #2253
Why wouldn't we just use expressions?  String is a special case of expression.

[2019-07-17 00:29] #2252 closed

[2019-07-17 00:29] carlosscastro commented on #2253
Tom explored this and there were issues with the construction of the expressions.

[2019-07-17 00:29] #2253 closed

[2019-07-17 00:30] carlosscastro commented on #2253
Feel free to discuss with Tom on his adventures on string vs expressions.

[2019-07-17 00:30] #2254 closed

[2019-07-17 00:30] #2156 closed

[2019-07-17 00:47] vishwacsena opened #2265 "[LG] support parameters as expression to template resolution call"
We need to support parameters to a template resolution call be an expression. So something like this is possible.

[code]

[2019-07-17 01:00] vishwacsena opened #2266 "[LG] Support evalTemplate function that can return a requested number of variations"
I’d like to be able to use the LG sub-system to not only come back with a single resolution at random but a specified list of variations. This is especially helpful in a case where I’m trying to manage all of my bot’s constituent response parts through LG.

With this definition
[code]

If I call `All-Suggestion`, I should see` [Suggestions=Add a todo | Show my todo | Help | Cancel]`

If I call `2-

[2019-07-17 01:27] leeroy79 opened #2267 "Inserting a blank line in Teams channel via QnA markdown"
## Version
4.4.5

## Describe the bug
Not able to insert a blank line in Teams messages which come from QnA markdown. The same markdown has a different result in web chat vs Teams.

If I use this QnA content (i.e. content for line one, then two newlines, then content for line 2)...

[code]

...then in the web chat there is a blank line between those two lines. In the Teams channel there is no blan

[2019-07-17 02:40] boydc2014 commented on #2266
How to pass parameters to this evalTemplate?

and a little bit in consitent of the naming of lgTemplate function,

i don't have a good suggestion yet.

[2019-07-17 02:54] vishwacsena commented on #2266
Called out the signature at the bottom of my original post - I’d expect the following behavior -

evalTemplate(foo, options) to return all items in the foo template, fully resolved, using the options specified.

evalTemplate(foo, 2) to return first 2 items from the list, fully resolved.

evalTemplate(foo, 2, options) to return first 2 items from the list, fully resolved, using the options specifie

[2019-07-17 03:06] vishwacsena opened #2268 "[Adaptive] EditSteps with StepChangeTypes.InsertStepsBeforeTags is not possible"
We need to ensure that `Tags` is exposed as a configurable property on all steps. This is available on Dialog but not exposed through Adaptive steps. The following snippet of code results in the following error - `The property or indexer 'Dialog.Tags' cannot be used in this context because the set accessor is inaccessible (CS0272) [TestBed]`

We should also update the schema with this change

[cod

[2019-07-17 03:14] vishwacsena opened #2269 "[LG] Add jpath prebuilt function"
Filing this ticket to track work to add a jpath prebuilt function.

[code]

[2019-07-17 03:49] boydc2014 commented on #2266
I see, what if my option is just a number?

[2019-07-17 07:25] Thieund commented on #764
I still experienced the expired token with SDK 4.5. I also used Identity Server 4 for OAuth.

[2019-07-17 08:18] boydc2014 commented on #2265
@vishwacsena This is doable via https://github.com/microsoft/botbuilder-dotnet/pull/2271

One question i have when i'm implementing this, since we support [Suggestions(createArray("a", "b")] and we treat what's inside it an expression. Why can't I use {Suggestions(createArray("a", "b"))}, and then the quesiton is, why bother using lgTemplate function, why just {TemplateName(args)}, or @{templateNa

[2019-07-17 08:29] luhan2017 commented on #2258
In my mind, the Actual behavior is the expected behavior.

If we change the “None” intent to “Weather” intent.
The scenario is like this:

user: start
bot: what is your name?
user: what’s the weather today?
bot: In Weather… [it is sunny today blablabla…]
[Actual behavior]
bot: what is your name?
[expected behavior]
bot: I have what’s the weather today? as your name

I think actual behavior is more

[2019-07-17 11:22] boydc2014 opened #2272 "[LG] Use template name as function instead of `lgTemplate` function to refer template"
**Context**
Currently if one lg template want to refer another template, two approach can be used,
1. `[templateName(args)]`, this can only be used in single line mode
2. {lgTemplate('templateName', args...)}, designed for multiple-line mode (also work in single line mode)
[code]

**Is your feature request related to a problem? Please describe.**
The problem is that `lgTemplate` is not intuitive o

[2019-07-17 11:33] boydc2014 commented on #2265
Opened a DCR to track this https://github.com/microsoft/botbuilder-dotnet/issues/2272

[2019-07-17 15:28] benbrown commented on #2258
If there is a LUIS recognizer in play, there will almost always be an intent that blocks the prompt from ever receiving the input.  For example, I was completely unable to get a choiceprompt to resolve when interruptions are enabled.

[2019-07-17 20:45] v-kydela commented on #2267
Hello @leeroy79

Because every channel has different rendering capabilities, you shouldn't expect whitespace to be formatted the same way in each channel. Sometimes you can find a way to get the same look with the same characters in two separate channels, but I have tested in Web Chat and Teams and have not found a way to insert a blank line that works the same in both of them.

Are you targeting

[2019-07-18 04:13] #2249 closed

[2019-07-18 07:29] #2188 closed

[2019-07-18 07:29] #2186 closed

[2019-07-18 08:33] luhan2017 commented on #2258
@benbrown, you should add constraint in IntentRule to avoid the Luis Intent over trigger problem.
For example:
{
      "$type": "Microsoft.IntentRule",
      "intent": "AddToDo"
      "constraint": "#AddToDo.score>0.6",
      "steps": [
        {
          "$type": "Microsoft.BeginDialog",
          "dialog": "AddItem"
        }
      ],
    },

[2019-07-18 16:19] dmvtech commented on #1877
This should be now fixed worldwide. @PauwelsYoran @csannierfr @VKAlwaysWin @rafaelbbtsaccount @rickhellenthal

[2019-07-18 18:45] #1877 closed

[2019-07-18 20:16] carlosscastro commented on #2225
@Stevenic or @vishwacsena is the best-effort binding of options implemented in javascript? Can't seem to find it. any opinions on where is the best place to implement this? Otherwise I'll find my way but allowing opportunity for folks to weigh in.

[2019-07-18 20:50] vishwacsena commented on #2225
AFAIK, we do not have it in JS.

[2019-07-18 21:18] EricDahlvang opened #2281 "Add proxy support"
Every HttpClient should use proxy settings if they are present, or ensure a shared HttpClient containing a proxy is internally used by all instances.

See:
JwtTokenValidation
InspectionMiddleware
BotFrameworkAdapter
LuisRecognizer
QnAMaker

Investigate possibility of utilizing [HttpClientFactory](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applic

[2019-07-19 01:47] Danieladu opened #2283 "@{expression} in LG does not get the expected results"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
july 19 dource code in 4.Future branch

## Describe the bug
According to LG's doc, `@{expression}` is used to eval an expression and it works perfectly in th

[2019-07-19 03:24] boydc2014 commented on #2266
Related to another topic #2272 , i was thinking how about we use templateName!() to return all evaluations, and let user do the pick, like

`{take(Hello!(), 2)} `

how about that

[2019-07-19 03:50] vishwacsena commented on #2266
Super subtle.. I didn't get it until I looked at very very closely.

Could we do {Hello().all}? Or try a different prefix/ suffix operator?

[2019-07-19 14:11] dstomphorst opened #2288 "NumberPrompt<T> doesn't take Culture into account while parsing value"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.5

## Describe the bug
In the [NumberPrompt<T>](https://github.com/microsoft/botbuilder-dotnet/blob/4.5/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/Num

[2019-07-19 14:59] dmvtech commented on #1834
@ltwlf @best0032001 This should be resolved now.

[2019-07-19 14:59] #1834 closed

[2019-07-19 15:20] mdrichardson commented on #2234
@vinodkumartheking 	Are you still experiencing this?

[2019-07-19 21:24] v-kydela opened #2291 "Channel.cs tries to make Slack use suggested actions"
## Version
master branch

## Describe the bug
Slack does not support suggested actions. Suggested actions are rendered as text, as can be seen in [this customer](https://github.com/microsoft/BotFramework-Services/issues/82)'s screenshot:
![изображение](https://user-images.githubusercontent.com/18035628/58270306-1dca3880-7d92-11e9-996e-48ed9ae36f46.png)

However, [Channel.cs](https://github.com/mic

[2019-07-20 02:15] Zerryth commented on #2288
Thank you for raising the issue @dstomphorst

* made PR for C# with parsing fix + tests
* filed bug in botbuilder-js repo for parity ([Issue #1086](https://github.com/microsoft/botbuilder-js/issues/1086))
* still need to verify if fix is needed in botbuilder-python

[2019-07-20 04:14] vishwacsena commented on #2258
Closing this in favor of the DCR Microsoft/botframework-sdk#5470

[2019-07-22 04:40] ZhaoqingCui opened #2293 "[Adaptive] Need an Expression function or steps to get Local Time Zone"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-17-01

## Describe the bug
The Current Adaptive Dialog SDK does not support getting the local time zone.

## Additional context
This issu

[2019-07-22 04:44] #2242 closed

[2019-07-22 06:15] vinodkumartheking commented on #2234
It seems there was issue, while created the Microsoft AppId and Key, the autogeneration of id and key was stopped in my organization. IT team separately created by " Registration of application in azure" service and shared the ID and key.
Later it worked don't know what the IT Admin team done to fix the issue.

[2019-07-22 06:15] #2234 closed

[2019-07-22 09:14] lghinet commented on #1614
hello,
how can I force a refresh token, without re-login ?
offline_access scope is allowed

[2019-07-22 09:15] lghinet commented on #1614
@sgellock  can you provide a workaround ?

[2019-07-22 10:52] Danieladu commented on #2293
There are several Timezone formats like: GMT+9,  number 9, or windows timezone like `Japan Standard Time` ,  iana format like `Asia/Baghdad`

[2019-07-22 22:04] v-kydela commented on #2267
@leeroy79 - Are you still working on this?

[2019-07-23 00:54] chrimc62 opened #2297 "[Adaptive] JSON Schema references are broken"
Our $schema reference does not exist which breaks schema validation.

Our .schema files refer to this:
    $schema": "https: //raw.githubusercontent.com/Microsoft/botbuilder-tools/**master**/packages/DialogSchema/src/dialogSchema.schema",
This was fine until we move DialogSchema to V.Future which means it should be:
    $schema": "https: //raw.githubusercontent.com/Microsoft/botbuilder-tools/**V.F

[2019-07-23 05:06] chrimc62 commented on #2297
Talked to @vishwacsena and we have the same issue with the SDK .schema files.  My proposal would be
that we put all schemas on botframework-sdk in the already existing schemas directory.  Since they are language independent.  This would include the meta-schema, the component .schema files and sdk.schema created by combining all of the component .schema files with dialogSchema.   This also makes ch

[2019-07-23 05:16] #2283 closed

[2019-07-23 06:42] leeroy79 commented on #2267
Hi, sorry for the late reply. Understood regarding channel differences. I've tried putting <br/><br/> in my QnA content but it still appears to be skipping the blank line. I couldn't see references to any other approaches when I searched around a bit?

[2019-07-23 13:31] gabog opened #2299 "Create dedicated Functional Test Bot for functional testing"
Currently, the functional tests execute out of TestBot. Create a dedicate Functional Test Bot under the FunctionalTests folder that is used to run functional tests so changes to TestBot don't break the nightly build.

In addition to create the new bot, this task involves updating the nightly build to deploy and test against the new bot.

Note, this has been done already in botbuilder-js.

[2019-07-23 13:34] gabog opened #2300 "Update TestBot to match CoreBot"
Note: complete #2299 before starting this task.

Once the new FunctionalTests bot is created, update TestBot to match the one in samples, remove the conditional logic and lambdas used for deploying and handling different endpoints.

Check with @johnataylor, if we can remove some of the unused code there or if we need to leave it.

[2019-07-23 18:17] chrimc62 commented on #2297
Vishwac and I talked some more.  And we are going to tie the schema version with the major.minor SDK version.  I will also add minimum runtime required to the sdk.schema so we can enforce that.  In addition, I will add to dialogSchema the ability to update the meta-schema pointers (and eventually translate if needed) and also add to dialogLint the ability to update the schema pointers.
To prepare

[2019-07-23 20:19] chrimc62 commented on #2297
The one thing we lose by doing this is the easy versioning packaging of code and declarative.  A much simpler thing to do is to update the tooling to allow easily updating component.schema or .dialog files and move the component.schema into the dotnet repository.   This makes it easier for now and the tools would be useful even if we revisit this when we decide to do additional languages.  Unless

[2019-07-23 20:57] Kaiqb commented on #2091
Closing the issue as it was resolved by rosskyl.

[2019-07-23 20:57] #2091 closed

[2019-07-24 00:21] leeroy79 commented on #2267
I'm not sure what I missed the first time but `<br/><br/>` is working as expected now. Closing this.

Thanks!

[2019-07-24 00:21] #2267 closed

[2019-07-24 02:03] ziad-akiki opened #2305 "InternalServerError when trying to send an activity with attachments as History"
I don't know if this should be posted under this repository or [BotBuilder](https://github.com/Microsoft/botbuilder-dotnet) but I suspect it's a directline issue.

I use the `SendConversationHistoryAsync` method of the BotBuilder to load the previous user conversation history into a webchat control (thus using directline). No problems occur unless the activity contains an attachment (a `HeroCard`

[2019-07-24 08:03] ZhaoqingCui opened #2308 "[Adaptive] [Expression] language requires quotes to represent string literals including empty strings"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-17-01

## Describe the bug
When we want to use SetProperty to set an empty string, we have to use "''" (A single quote inside a double qu

[2019-07-24 15:12] jameslew commented on #2309
@cleemullins reviewing the item it looks like the Connector SDK for V4 is not consistent with the JSON payload in V3.

[2019-07-24 18:11] CoHealer commented on #2097
@sgellock , what are next steps? Do you want BFSE or your team to look into this?

[2019-07-24 18:23] CoHealer commented on #803
https://github.com/microsoft/botframework-sdk/issues/5467

[2019-07-24 18:29] #2288 closed

[2019-07-24 18:33] mdrichardson commented on #2308
Confirming that I can repro this. Also doesn't work with `string.Empty`.

I'm going to unassign myself from this one, however, as I'm not familiar enough with [Adaptive] to be comfortable recommending a PR.

[2019-07-25 02:29] zeeshan40 commented on #1906
<img width="339" alt="follow up prompts" src="https://user-images.githubusercontent.com/31640423/61841274-c744ad80-ae59-11e9-9db9-274119937f53.PNG">

I have the same issue. I have follow up prompts set up in the QnA maker like the picture above shows. However, they just do not show up in the web chat of my Azure portal as shown in the image below. Can someone please further guide on this? Thanks

[2019-07-25 08:45] boydc2014 opened #2314 "[Adapative] Allow-interruption is not perform as expected"
## Version
7/25 in 4.future

## Describe the bug
The bug is when we set allowInterruption to true, the design is to check with inputDialog first, before bubbuling it up.

But actually, the original inputDIalog is not checked due to turnCount is still 0, which causing the inputDIalog itself is still looking for dialog.value instead of turn.acitivity.text

## To Reproduce
[code]

## Expected behavio

[2019-07-25 09:52] ZhaoqingCui commented on #2312
I think it is not relevant to LG file. `new ChoiceInput(){
                                Property = "turn.CreateCalendarEntry_Choice",
                                Prompt = new ActivityTemplate("[EnterYourChoice]"),
                                Choices = new List<Choice>()
                                {
                                    new Choice("Confirm The First One"),

[2019-07-25 10:03] ZhaoqingCui opened #2315 "[Adaptive] Redundant single quotations around the self-defined collection in HttpRequest"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-17-01

## Describe the bug
Assume we want to post a meeting which has an unknown number of attendees. We will put all the information int

[2019-07-25 10:12] ZhaoqingCui opened #2316 "[Adaptive] HttpRequest throws an exception when passed an empty body"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-17-01

## Describe the bug
Assume we want to accept a meeting using MS Graph API. The code is below `new HttpRequest()

[2019-07-25 14:06] w-piotr opened #2358 "Chatbot working on emulator but not working on Web Chat"
Hi, when I try to deploy and test the bot on Azure I'm getting the following error:
"There was an error sending this message to your bot: HTTP status code Forbidden"

SDK Platform: C#
SDK Version: 4.5.1
Deployment Environment: Azure Bot Service

Endpoint has been configured correctly: https://my-bot-dev.azurewebsites.net/api/messages
appId and appPassword has been set correctly in the appsettings.

[2019-07-25 15:08] carlosscastro commented on #2312
I asked about the lg file because I created a test with a dialog just like yours and it worked. What build are you using?

[2019-07-25 15:17] carlosscastro commented on #2315
Hi! Please, more descriptive issue names will be extremely helpful in the future.

[2019-07-25 15:20] carlosscastro commented on #2316
Hi! Please, more descriptive issue names will be extremely helpful in the future. For example:

This greatly helps triage and quick understanding ofthe bug.

[2019-07-25 15:21] carlosscastro commented on #2308
Hi! Please, more descriptive issue names will be extremely helpful in the future. For example:

This greatly helps triage and quick understanding ofthe bug.

[2019-07-25 15:24] carlosscastro commented on #2315
For this one, shouldn't you be writing `'attendees': '\'{user.finalContact}\''`? Or that doesn't work?

[2019-07-25 16:33] carlosscastro commented on #2225
Fixed.

[2019-07-25 16:33] #2225 closed

[2019-07-25 16:34] carlosscastro commented on #2228
Fixed, but using Property output bindings. Turns out it is not trivial do do a ResultProperty here.

[2019-07-25 16:34] carlosscastro commented on #2224
Solved as agreed on the email thread on this.

[2019-07-25 16:34] #2224 closed

[2019-07-25 16:46] carlosscastro commented on #2314
I'm not sure if I understood correctly, but FYI setting this to 1 is not the solution, at least not by itself, it would break a bunch of other things.

[2019-07-25 17:47] mdrichardson commented on #2199
I apologize this issue wasn't looked at sooner. Can you be more explicit about what the bug is? In the Teams context, [`Conversation.TenantId` gets set via `ChannelData.tenant.id`](https://github.com/microsoft/botbuilder-dotnet/blob/14dc8aba63f3bb5a2783ce53772ac1802dee4cbb/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L982). The lowercase "t" is because it will come in as JSON, which uses

[2019-07-25 18:43] vishwacsena opened #2319 "[Adaptive] Include UI schema for adaptive dialog and its components"
Consider enhancing the UI schema to enable ‘instructions’ on how to render, group, collapse, etc. provide tooling for creating and managing UI schema. UI functionality includes show/hide; ordering’ grouping; collapsible groups + group name; property must set value;

This should include review of schema for all current steps and suggest field treatment for UI

[2019-07-25 18:44] vishwacsena opened #2320 "[Adaptive] Refine how input actions work with LUIS"
Our current design does not accommodate for cases where user is using LUIS for entitty extraction in turn.N of a conversation. Goal here would be to automatically save recognized entities when a specific intent fires in the containing adaptive dialog's recognizer,provide ability via steps to continue consultation bubble up as well provide ability to have the input re-process user utterance.

[2019-07-25 18:44] vishwacsena opened #2321 "[DCR] [Adaptive] Add ability to cache and use multi-model recognition results from LUIS"
We will use the ability provided by LUIS to have multiple LUIS apps results returned in a single call for composer needs. We will need to update the adaptive dialogs so a child’s LUIS recognizer results can be used by parent recognizer in case of consultation since the child’s LUIS call will include results for the parent LUIS app as well

[2019-07-25 18:45] vishwacsena opened #2322 "[DCR] [Adaptive] Data model definition for adaptive dialog"
Today, the input/ output for an adaptive dialog is a black box which gets in the way of ability to effectively compose them as well as gets in the way of easily being able to define an adaptive dialog as a reusable component. Providing a clear interface definition of what the adaptive dialog expects and accepts as input as well as defining what the adaptive dialog would return as possible value an

[2019-07-25 18:46] vishwacsena opened #2323 "[Adaptive] Update inspection middleware to work with adaptive dialogs"
Update the inspection middleware to work with new adaptive state. Add ability to return the current state of the conversation as a trace activity

Remaining work
- [ ] Update middleware to not wrap trace activity with a trace activity

[2019-07-25 18:46] vishwacsena opened #2324 "[Adaptive] Adaptive Skill Dialog in the SDK"
This should enable ability to call a remote skill as well as work with the skill protocol. Lauren and Ted will provide knobs and dials required for this step.

[2019-07-25 19:12] vishwacsena commented on #1660
Given the current direction and the push to using inspection middleware for broad debugging support, there are no plans to add support for this. #2323

[2019-07-25 19:12] #1660 closed

[2019-07-25 19:13] vishwacsena commented on #1693
No plans at the moment to expand on our current set of recognizer support to include these. Using LUIS for these entity types is the right direction.

[2019-07-25 19:13] #1693 closed

[2019-07-25 19:13] vishwacsena commented on #1783
Skill step is tracked via #2324 . This work item is no longer relevant.

[2019-07-25 19:13] #1783 closed

[2019-07-25 19:17] vishwacsena commented on #2094
@luhan2017; @boydc2014; @DingmaomaoBJTU - can you please help provide an update? We have this work item that will track the workflow around orchestrating multiple model results via a single LUIS call. Can you please list scenarios where you need to use the exact same LUIS app in multiple dialogs and or up the dialog chain?

[2019-07-25 19:18] #2098 closed

[2019-07-25 19:19] vishwacsena commented on #2155
Unclear if there is any bug here. If so, can you please reactivate and attach a reduced repro for the issue including the adaptive dialog definition (as C# code or as json)?

[2019-07-25 19:19] #2155 closed

[2019-07-25 19:20] vishwacsena commented on #2194
We need to nail this in 4.6 since we expect customers to actually start using all supported storage providers and or start pushing bots up to ABS. Tagging as P0.

[2019-07-25 19:21] vishwacsena commented on #2196
We need to nail OAuth as well as date time input actions in 4.6.

[2019-07-25 19:23] vishwacsena commented on #2202
Should be resolved via a recent FI from master. Please reactivate should you continue to see this issue.

[2019-07-25 19:23] #2202 closed

[2019-07-25 19:25] vishwacsena opened #2325 "[Adaptive] [LG] Add support for structured LG template, enable ActivityTemplate definition through this mechanism"
# Activity template definition via Language Generation

For conversational apps (bots), we need to provide users an elegant way to express the shape of an activity that the bot sends down to the user. Although today, we have [Chatdown][1] that enables users to elegantly specify things like cards, suggested actions etc, we do not have a way to define a full blown outgoing activity in a simple text

[2019-07-25 19:26] vishwacsena commented on #2218
@DingmaomaoBJTU - can you take a look at this proposal and comment if it addresses your core need? #2325

[2019-07-25 19:26] #2218 closed

[2019-07-25 19:27] vishwacsena commented on #2219
Tracked via #2325

[2019-07-25 19:27] #2219 closed

[2019-07-25 19:28] vishwacsena commented on #2223
I believe this is fixed. @boydc2014 - correct?

[2019-07-25 19:28] #2223 closed

[2019-07-25 19:29] vishwacsena commented on #2228
Thanks @carlosscastro - Closing this ticket since the remaining issue is tracked via #2012

[2019-07-25 19:29] #2228 closed

[2019-07-25 19:30] vishwacsena commented on #2230
@luhan2017 is the expectation that we support this or throw a better error message? I’d assume the former but would be good if you can help clarify.

[2019-07-25 19:35] vishwacsena commented on #2235
Agree, this is going to be a common issue. Once the user is in a IF block or a SWITCH block, we should add validations that help cover the following - Mistyped ‘IF’ or ‘SWITCH’ or other related label names - e.g. ‘Elae’ instead of ‘Else’, ‘else if’ instead of ‘elseif’ etc.

[2019-07-25 19:38] vishwacsena opened #2326 "[DCR] [Adaptive] Re-evaluate all events exposed via Adaptive dialog including protocol, dialog and adaptive events."
Filing this ticket so we review and distill the set of events exposed via adaptive. The current set is a union of protocol level events, dialog events as well as adaptive events. we should pare back the list to only those that are backed by actual user scenarios as well as consider adding new events that help fulfill core unmet user needs.

**Adaptive events**

| Event name         | Description/

[2019-07-25 19:56] vishwacsena commented on #2256
We are planning to deprecate this functionality in favor of #2325

[2019-07-25 19:56] #2256 closed

[2019-07-25 19:58] vishwacsena commented on #2265
Closing this specific issue since the parametrization is now supported via #2271

Let’s continue the remaining discussions via the other active github issues.

[2019-07-25 19:58] #2265 closed

[2019-07-25 23:38] vishwacsena commented on #2266
@boydc2014 we should close on this. Is your latest thinking that we do [foo] to get all variations and {foo()} to get one? Can you help clarify? That to me still is super subtle. I’d prefer we leave [foo] as well as {foo()} untouched and I like {takeAll(Hello, params)} where the argument to takeAll is a template name as well as any parameters you want to pass in for resolution.

Thoughts?

[2019-07-25 23:40] vishwacsena commented on #2268
We need to expose the tags property on dialog to be configurable. Also bears schema impact so we should consider front loading this work as well as test to ensure that the EditSteps step with the StepChangeTypes.InsertStepsBeforeTags works E2E.

[2019-07-25 23:41] vishwacsena commented on #2269
Given the new adaptive style memory scopes, this is critical to land in 4.6.

[2019-07-25 23:43] vishwacsena commented on #2272
We should do this as long as

1. Users can continue to use [Foo] to refer to a template. We should add support for [Foo](path) and drop everything in (path) while parsing so users can use markdown link notation in renderes that support markdown rendering.
2. In case of name collisions between template names as well as prebuilt functions, we should have template name trump prebuilt function. We sho

[2019-07-25 23:45] vishwacsena commented on #2297
We should take this for 4.6 since this cleans up our entire schema story as well as enables us to continue to innovate in a clean and predictable way going forward.

[2019-07-25 23:47] vishwacsena commented on #2308
Updated issue title. We should discuss and address this in 4.6. The current behavior with empty string, types as well as string literals is confusing and could be improved.

[2019-07-26 01:31] ZhaoqingCui commented on #2315
Sorry for not using descriptive names. I will pay attention to them in the future. Sorry.

I think you misunderstand my point: The system requires me to add unnecessary quotations while actually, I don't need them. As you know, JSON does not allow quotations around the collection (The square braces), which is **user.finalContact** in the description. But SDK does not recognize **user.finalContact*

[2019-07-26 01:41] DingmaomaoBJTU commented on #2094
Sure... Will give update when we are done. Sorry for the late response.

[2019-07-26 01:43] chrimc62 commented on #2308
We could easily fix this by having the expression parser return a constant string expression of string.empty when string.empty is passed in.  (Today the parser blows up on an empty string.)  What I don't see any way around is requiring single quotes to set it to an actual string--otherwise we have no way of distinguishing "3" as a number or a string.  Today the expression "3" is a number and "`3`"

[2019-07-26 02:09] vishwacsena commented on #2258
Updating the repro inline above.

[2019-07-26 02:16] M-Gustuf opened #2329 "expression fail to deal with two functions with quote in one sentence"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Describe the bug
When a sentence use two functions with quote or string, the expression will report an error.

## To Reproduce
lg sentence like

\# Em
\- let me {toL

[2019-07-26 02:19] chrimc62 opened #2330 "[Adaptive] Regex entities should return an array of matches."
**Is your feature request related to a problem? Please describe.**
For LUIS we get arrays for entities and have @ for pulling out 1 and @@ for getting the full array.  We should do the same thing for the regex recognizer.  Otherwise there is no way to use the regex recognizer to find multiple instances of the same entity--this is especially important if we want to do something like match a list of

[2019-07-26 02:45] ZhaoqingCui commented on #2312
I guess it is fixed somehow. I am going to close this issue. Thanks a lot, guys.

[2019-07-26 02:45] #2312 closed

[2019-07-26 05:20] Stevenic commented on #2314
That's a good bug and explains an issue I was seeing... Let me think about that...

[2019-07-26 08:57] boydc2014 opened #2332 "[Adaptive] Make the behavior of allowInterruptions more accurate and more flexible"
Currently the allowInterruptions option in InputDialog, is very confusing when it's set to true.

Different people have different understanding.  And also a true\false flag doesn't meet the requirement of different scenario. So the proposal is we make this allowInteruption a enum type [“always”, “never”, “notRecongized”]

* Allow will always consult the parent first
* Never will never consult the

[2019-07-26 09:02] M-Gustuf opened #2333 "declarative OAuthInput method seem to have problems"
## Describe the bug
The way to use oauthinput in declarative now have problems.
The JSON shows in picture will report an error that dialog.token is evaluated to be null, which means it fail to get a token.

## Screenshots
![image](https://user-images.githubusercontent.com/25506875/61939796-a9488b80-afc6-11e9-9e53-3ce19130cadd.png)

[bug]

[2019-07-26 11:27] DingmaomaoBJTU commented on #2094
In my case, I still found extra luis calls.
-- Main Dialog (luis A) -- (L1)
----Show email Dialog (luis A) -- (L2)
1) when I input "show emails", it will enter show email dialog from L1, one luis call is recorded.
2) when I input "send email" after this, it will enter send email dialog from L2, **two luis call is recorded** They are from the same luis app.

(Will list more scenarios after I'm done

[2019-07-26 16:18] martinoss opened #2336 "Resolve scoped services in botbuilder Middleware"
## Version
4.5

## Description
There have been several similar requests  #876 #357 regarding DI and bot middleware.
What specifically seems to be unresolved (if I din't miss something) is the fact, that it's not possible to inject a **scoped service** to `OnTurnAsync`.

I wanted to write a middleware that queries LUIS and provides the result in a scoped "LuisContext" instance.

Is it still not pos

[2019-07-26 17:04] martinoss commented on #2336
Ok, defining the bot middleware **and** the IBotFrameworkHttpAdapter as scoped, constructor injection works.

[2019-07-26 17:04] #2336 closed

[2019-07-29 01:23] as09033 opened #2341 "System.ArgumentException thrown when including option in BeginDialogAsync."
When I try to include an option into the BeginDialogAsync method it throws a System.ArgumentException:
[code]

Here is my code that throws an exception. I can confirm that _response_ is valid because it gets displayed on the bot, however when I call BeginDialogAsync with _response_ as an option it throws the exception.
[code]

Everything works fine when I don't include an option:
[code]
or when it

[2019-07-29 04:23] #2332 closed

[2019-07-29 04:27] ZhaoqingCui opened #2338 "[Adaptive] TooManyRequests Exception should not happen when sending five identical cards in a short time"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-17-01

## Describe the bug
I am using HttpRequest to get all the meetings from my calendar by calling the API of MS graph. After getting

[2019-07-29 20:31] jwiley84 commented on #2341
What is it you're trying to pass in as options? The response from the previous dialog?

[2019-07-29 21:07] as09033 commented on #2341
Yes, that's correct.

When the user first loads the bot, a menu is displayed and the user can select something from the menu before being asked to sign in. I want to pass the value they selected so that I can use it after they successfully sign in.

[2019-07-30 03:35] DingmaomaoBJTU commented on #2094
Scenario list:
Show email (L1) -> Send email (L2)
Show email (L1) -> Read email (L2)
Show email (L1) -> Delete email (L2)
....

[2019-07-30 03:51] DingmaomaoBJTU commented on #2094
And in total, I have three issues to check with you:
1) Extra luis call when use same luis app id.
2) Could not find a way to parse adaptive luis result in turn state to IRecognizerConvert object
3) In email skill, we use two luis model called general and email model to work together. In general model, we will have intents like "cancel", "help", "next page", etc, and in email model, we will handle

[2019-07-30 07:18] KayMKM opened #2344 "LG template with parameters not work"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-29-02

## Describe the bug
When render a lg template with parameters it throw an exception:
[code]

## To Reproduce
1. create a lg templa

[2019-07-30 07:30] luhan2017 commented on #2323
I have tried that in adaptive dialog. it works well with conversationState and userState as following.

![image](https://user-images.githubusercontent.com/32191031/62109416-d5be1980-b2de-11e9-9864-ff004a6075d4.png)

[2019-07-30 09:30] GewoonMaarten opened #2346 "[Adaptive] Resource explorer throws exception for empty projectFile"
## Version
4.5.0-Preview-2019-05-02-02

## Describe the bug
When I deployed one of the samples to a clean Azure App service and connected Bot service testing environment the ResourceExplorer threw an ArgumentNullException because the projectFile was null.

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Download latest sample from https://github.com/microsoft/BotBuilder-Samples
2. Depl

[2019-07-30 09:35] GewoonMaarten commented on #2346
somebody opened a similar issue on https://github.com/microsoft/BotBuilder-Samples/issues/1581 which was resolved.

[2019-07-30 22:12] mdrichardson commented on #2199
@searlin 	Is this still an issue for you?

[2019-07-30 23:24] as09033 commented on #2341
Update: I have fixed the issue now - I used stepContext.Value to store the information instead and it worked.

[2019-07-30 23:24] #2341 closed

[2019-07-31 02:16] DingmaomaoBJTU opened #2351 "[Suggestion] Add Restart state in DialogTurnStatus"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.4.5

## Describe the bug
Except for current dialog turn state, an extra dialog state "restart" might be helpful when we want to trigger a dialog restart/re

[2019-07-31 02:20] #2344 closed

[2019-07-31 08:32] DingmaomaoBJTU opened #2352 "[Adaptive] [LG] Support LG template name indicator to translate LG run time error to compile error"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-17-01

## Describe the bug
While using LG template in legacy dialogs like waterfall dialogs, incorrect/missing template name
could only b

[2019-07-31 08:46] DingmaomaoBJTU commented on #2325
Please also ensure the following (already told dong ^_^):
1. Make activity template able to be translated correctly by MSLG tool
2. Add interface to query all possible text/speak for unit testing purposes.

[2019-07-31 09:00] #2329 closed

[2019-07-31 17:56] t-yangxi opened #2354 ""Required entities for this event to fire" doesn't work"
1. Set @food as a required entity (i.e. A list of any entities that must be found by the recognizer in order for this event to fire)
2. Expectation: when there's no @food entity found in what the user says, the intent handler shouldn't be fired. But instead, the event handler got fired and reported an error: "common.lg:Error occurs when evaluating expression ‘@food’: @food is evaluated to null"
![

[2019-07-31 19:38] Stevenic commented on #2320
I'll have to think about this one some more. It's currently a little tricky because `turn.recognized` is overwritten as `ActivityReceived` bubbles up the stack.  One option would be to add an `AutoSaveEntities` property which causes the ActivityDialog to always save any entities recognized to memory on every turn.

[2019-07-31 19:41] Stevenic commented on #2319
We should follow the `x-ms-foo` pattern of naming as used in [PowerApps Custom Connectors](https://docs.microsoft.com/en-us/connectors/custom-connectors/openapi-extensions).

[2019-07-31 19:45] Stevenic commented on #2268
There's also a question around do we pre-define a few tags?  For instance, maybe every `InputDialog` has an "input" tag. This would make it easy to add steps before the next input.

[2019-07-31 19:46] Stevenic commented on #2333
@carlosscastro made a few comments on the PR but otherwise it looks good.

[2019-07-31 19:46] Stevenic commented on #2326
We should setup a meeting to go through the current list of events.

[2019-07-31 20:01] Stevenic commented on #2324
This should be similar to an `HttpRequest` that's sticky until it sees an `EndOfConversation` activity returned.

[2019-07-31 20:29] stevengum commented on #2351
Per @stevenic, the DialogTurnStatus should not be a trigger, but an indicator of what occurred.

[2019-07-31 20:29] #2351 closed

[2019-07-31 20:32] stevengum commented on #2309
@CoHealer when Josh is in the org please reassign this to him.

[2019-08-01 08:06] KayMKM opened #2356 "[VS code extension] vs code no responding when open a .lg file"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v4.6.0-Daily-2019-07-31-01

## Describe the bug
When I open this lg file and try to edit the last function vs code will have no responding.
[Shared.txt](http

[2019-08-01 10:18] #2333 closed

[2019-08-01 16:22] tomlm commented on #2338
We don't have any sort of throttling like this.  If you are getting this exception it is coming from the server that you are calling using HttpRequest.  This is not in our code.

[2019-08-01 16:25] tomlm commented on #2352
Ah, like LUISGen...auto generate a language binding string for all template names..

[2019-08-01 18:00] jwiley84 commented on #2306
Hi @ziad-akiki! I see you opened this issue all the way back in January. Are you still having this problem?

[2019-08-02 00:25] sgellock opened #2360 "[Teams] Add a C# assemble for Teams types. Additive over ActivityHandler"
## Describe the bug

Add a namespace/assembly that contains Teams specific types and helper methods.  Enable Intellisense for C# developers.  Support is required in the C# SDK.

[2019-08-02 01:54] searlin commented on #2199
Hi @mdrichardson thanks for your comments,  and yes, it's still an issue for us.
I don't think the property comes in as JSON, below are two screenshots you can check.
![image](https://user-images.githubusercontent.com/10204632/62338436-23b76500-b50b-11e9-9392-5ded023b1011.png)
![image](https://user-images.githubusercontent.com/10204632/62338450-2c0fa000-b50b-11e9-816a-afbfe1ab3e4a.png)

**And even

[2019-08-02 05:40] ziad-akiki commented on #2306
It's been a long time and I'm not working on the project anymore. Nevertheless here's how I mitigated the issue back then in case it is still present:

In a nutshell, I sent the activity as a conversation history by modifying the conversation ID before sending. I can't test the previous code currently but if needed please let me know, I'll allocate some time to test it.

[2019-08-02 06:27] DingmaomaoBJTU opened #2363 "[Adaptive] Parse luis result in turn state to a strong typed model (generate by luisgen)"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-17-01

## Describe the bug
Hard get luis result out as IRecognizerConvert object (generated by luisgen)
Luis result now saved in turn sta

[2019-08-02 06:28] DingmaomaoBJTU commented on #2094
For the second one, will tracked by https://github.com/microsoft/botbuilder-dotnet/issues/2363

[2019-08-02 15:23] #2268 closed

[2019-08-02 16:11] mdrichardson commented on #2199
Aha! I see what you mean. I'll start working on a PR for this. Thanks for pointing it out!!

[2019-08-02 19:28] jwiley84 commented on #2306
I'll look into it, see if it's still an issue. My apologies for no one getting to this while you still needed the help.

[2019-08-02 19:28] #2306 closed

[2019-08-02 22:06] #2231 closed

[2019-08-02 22:36] vishwacsena opened #2366 "[Adaptive] Fix typo in number input schema"
https://github.com/microsoft/botbuilder-dotnet/blob/d60bab8ec0d021e9c22dc4f3aef3254541c91576/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.NumberInput.schema#L17

Misspelled as 'interger' instead of 'integer'

[2019-08-03 16:27] gabog opened #2367 "As a framework developer, I would like to enable FxCop Analyzers on the Bot Builder libraries so it is easier to catch common issues during code reviews"
I had to do several reviews on community PR and found that several of them miss some design guidelines we follow for the product and it is hard to spot them manually and we sometimes miss many of them (especially in large PRs).

**Describe the solution you'd like**
I would like to enable [FxCopstatic code analyzers](https://docs.microsoft.com/en-us/visualstudio/code-quality/install-fxcop-analyzers

[2019-08-03 16:30] gabog commented on #2367
@cleemullins , @johnataylor , @tomlm , @sgellock : would like to hear your thoughts on this enhancement, I think it will make our PR review process easier and more consistent.

We will need to invest on fixing existing issues before lighting up across the board but the hierarchical approach to using Directory.Build.props files in multiple levels would allow us to do this one project at a time.

Ga

[2019-08-03 16:39] garypretty commented on #2367
@gabog I think this is a good idea. Anything that can be done to assist with catching those sort of violations earlier and automatically feels like a win.

[2019-08-03 18:54] tomlm commented on #2367
I thought we had these turned on already?  I know I'm getting warnings on ConfigureAwait() along with a ton of dubious style guidelines.  (No trailing spaces...seriously?)

[2019-08-03 18:56] tomlm commented on #2359
Recommend we close this.  The LG system provides this functionality.

[2019-08-03 19:17] gabog commented on #2367
@tomlm, do you have the FxCop add in for VS installed? That may be why you are getting the ConfigureAwait() warnings today (I don't have FxCop and I don't get them).

This approach enables the analyzers at the solution level regardless of what addins you have installed. The Roslyn rules start with CAXXXX. The stylecop ones start with SAXXXX.

We have StyleCop at the solution level in Directory.Bui

[2019-08-03 19:32] garypretty commented on #2367
Yes, I don't believe I get any warnings about ConfigureAwait right now. I do get the StyleCop rules.

I have to agree about the trailing spaces and a few of the other rules :) on the whole though it's good to have in place.

[2019-08-04 15:44] vidya091209 commented on #2359
Thanks i am able to proceed on this

[2019-08-04 15:44] #2359 closed

[2019-08-05 03:16] DingmaomaoBJTU commented on #2338
![image](https://user-images.githubusercontent.com/16643193/62436485-5b741600-b772-11e9-86ad-9f34b8581730.png)
Here is the api which returns "too many requests". I don't think it is a msgraph issue because other skills calling ms graph never seen this issue before.

[2019-08-05 04:32] #2314 closed

[2019-08-05 08:26] boydc2014 commented on #2293
This probably not something expression can do best, because the expression will runs on server side which don't match the localTimeZone we are talking about here.

It can be a step, or can be something (a offsite) predefined in memory which activity comes through. Anyway, it's something should be solved before expression process, time manipulation in expression should work with time zone as input

[2019-08-05 10:35] #2316 closed

[2019-08-05 10:35] #2161 closed

[2019-08-05 10:35] #2315 closed

[2019-08-05 11:51] xieofxie opened #2370 "add Support Adaptive Card Version function"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

Not all channels support same versions of adaptive card.

**Describe the solution you'd like**

Provide a function like Microsoft.Bot.Builder.Dialo

[2019-08-05 15:30] tomlm commented on #2338
again, this is not the SDK.  This is throttling done by the channel.  If the channel is a 3rd party channel such as facebook or slack the throttling is from them, and DirectLine has it's own throttling as well.

If you want to send 5 cards, you should send one activity with 5 attachments.

[2019-08-05 15:30] #2338 closed

[2019-08-05 15:32] #2330 closed

[2019-08-05 15:34] chaoteng opened #2371 "Semaphore cannot be released in AdalAuthenticator"
## Version
4.4.3

## Describe the bug
The bot is running SDK `Microsoft.Bot.Builder 4.4.3` in a Linux docker env of base image `dotnet:2.1-runtime`.

We see the semaphore error `SemaphoreFullException ` with error message "Adding the specified count to the semaphore would cause it to exceed its maximum count", which suggests semaphore is released more than acquired.  From the code in `AdalAuthenti

[2019-08-05 15:37] #2297 closed

[2019-08-05 15:39] #2012 closed

[2019-08-05 15:46] mdrichardson commented on #2358
@w-piotr 	Were you able to get this resolved?

[2019-08-05 17:48] lzc850612 opened #2372 "should return 400 bad request when request doesn't have an activity object"
When request doesn't have an activity object, BotFrameworkHttpAdapter will throw an exception. Instead it should return 400 bad request for this case. here's the code: https://github.com/microsoft/botbuilder-dotnet/blob/f09bed819033ba4c4d52b7c04581f6347cf29d0c/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpAdapter.cs#L63. should check if activity is null and se

[2019-08-05 19:44] #2366 closed

[2019-08-05 19:45] tomlm commented on #2321
I need more information on how this should work.

[2019-08-05 23:24] tomlm commented on #2308
Or treat "3" => number, and "three" as text, and if you want "3" to be a string you have to put quotes around it.

[2019-08-06 00:03] #2269 closed

[2019-08-06 08:38] GewoonMaarten commented on #2346
I added this nuget file:

[code]
But i still get the error.

[2019-08-06 09:43] lirimi1996 commented on #598
@gmmarc hello, how to import this components (server,bot,adapter) ?

[2019-08-06 12:20] VKAlwaysWin commented on #1877
I can confirm that it is fixed. Thanks. Sorry for late response

[2019-08-06 16:14] scheyal opened #2376 "Investigate missing UserAgent string impacting analytics reports"
We cannot generate accurate version usage summaries due to missing agentstring in data sent from the bot to the client (see more in email). Filed for tracking.

[2019-08-06 19:54] scheyal opened #2377 "Ensure CorrelationIDs are reported for events in AppInsight instrumentation"
CorrelationID seems to be present sparsely in reported AppInsights events. Need to ensure it is reported in all events consistently as well as conveyed to backend cognitive services and corresponding skills.

Example:

Query:
    customEvents
    | extend dim  = parse_json(customDimensions)
    | project name, itemType, dim["Correlation ID"], dim["Activity type"], dim["text"], timestamp
    | orde

[2019-08-06 20:02] vishwacsena commented on #2272
@boydc2014 isnt this done? Can this be closed?

[2019-08-06 21:06] guadalupejaime commented on #2358
Hello, excuse me, the empty working files folder appears to me, how do I do it?

[2019-08-06 21:09] mdrichardson commented on #2358
@guadalupejaime 	"Working Files" isn't actually a folder; it just lists the files that you have open in the editor. If your "WWWROOT" folder is empty, you need to follow [the deployment docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=newrg%2Ccsharp).

[2019-08-07 01:12] vishwacsena commented on #2320
The core use case here is that a LUIS recognizer can recognize more than one entity. The value property on inputs at the moment does not help you persist anything but the property being actively prompted for via the input.

Although you could have an AutoSaveEntities property, the downside to that is that validations would not be run before those entities will be persisted to memory.

We should de

[2019-08-07 01:14] vishwacsena commented on #2322
# Adaptive dialog - data model definition

Concept of a dialog today broadly serves one of two main purposes -

1. To route incoming user message to an appropriate dialog that can fulfill user request

2. To perform a specific task for the user including answering a question, completing a form and fulfilling an action etc.

Task completion style dialogs (#2 above) could benefit significantly by ha

[2019-08-07 01:30] vishwacsena commented on #2324
@luhan2017 - are you actively working on this?

[2019-08-07 01:30] vishwacsena commented on #2323
@luhan2017 - are you actively working on this?

[2019-08-07 01:31] vishwacsena commented on #2319
@cwhitten - do we have a spec for this? This item is tracking work to update/ include the UI schema with all our components.

[2019-08-07 06:43] luhan2017 commented on #2323
@vishwacsena , @tomlm , I have create a pr here, could you help review on that?
https://github.com/microsoft/botbuilder-dotnet/pull/2379

[2019-08-07 06:47] luhan2017 commented on #2324
@zidaneymar (Qi Kang) is actively working on this, will keep you updated.

[2019-08-07 11:04] uniper-scott commented on #1614
We are also having this exact same issue.  When we were using a webchat version of our bot, we did not see this issue, this was because users would not generally leave the web page open and they would get a different chat id each time, so they had to login each time they interact with the chatbot.

However, we have recently moved to MS teams for the same bot and are getting a lot of problems with

[2019-08-07 11:44] ZhaoqingCui opened #2380 "[Adaptive][Expressions] Sort should be supported in the next version"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Yes. I always want to output a list according to some sequence. For example, output a meeting list according to their starting times ascendingly. Fi

[2019-08-07 16:15] guadalupejaime commented on #2358
@mdrichardson you know why my chatbot doesn't work when I use this code
<div id = "webchat" role = "main"> </div>
<script src = "https://cdn.botframework.com/botframework-webchat/latest/webchat.js"> </script>
<script>
window.WebChat.renderWebChat (
{
directLine: window.WebChat.createDirectLine ({
secret: '(my secret)'
}),
},
document.getElementById ('webchat')
);
</script>
I created the chatbot wi

[2019-08-07 17:26] vishwacsena commented on #1919
We need the QnA dialog step to include the following

Automatically wrap basic single-turn QnA, active learning as well as multi-turn QnA models.

Provide the following properties/ configurations -

| Property | Type | Required? | Default value | Help text |
|---------|------|-----------|--------------|----------|
|hostname|string|yes|settings.qna.hostname|Host name for your QnA Maker KB|
|endpoin

[2019-08-07 18:42] vishwacsena commented on #2380
@boydc2014 can you check in with @ZhaoqingCui to see what exactly is needed here? Not sure if there is precedent here to do a sort of a collection of objects or if the ask is to have prebuilt sort function that can sort a collection.

[2019-08-07 18:44] vishwacsena commented on #2308
We should fix the empty string issue @chrimc62 calls out above. @boydc2014 per our chat, let's continue to require non empty strings to be wrapped in single quotes.

[2019-08-07 20:33] vishwacsena commented on #2324
@luhan2017 @zidaneymar can you add a spec of what you are implementing, specifically what properties will be configurable/ how they will be plumbed through from the environment settings (e.g. appsettings) etc? I hope we will continue to use the `settings` scope to pull required keys etc from the environment specific settings file. It would be a non starter to directly encode that in the action its

[2019-08-07 22:17] vishwacsena commented on #2324
@stevenic @johnataylor are looking into baking skill constructs into bot builder sdk. It will be good to drive this in a coordinated way with them.

[2019-08-07 22:25] #2320 closed

[2019-08-07 22:27] vishwacsena commented on #2319
Moved this off 4.6 - no longer a core requirement for 4.6 preview.

[2019-08-07 22:59] vishwacsena commented on #2272
Tom says so.

[2019-08-07 22:59] #2272 closed

[2019-08-07 23:08] vishwacsena commented on #2243
@stevenic can you add the JS PR so we can bring this to C#?

[2019-08-07 23:18] cleemullins commented on #2367
I walked through this in detail with Gabo. What we have today is:
1. The StyleCop Analyzers are enabled on everything. This is good.
2. The Async Usage Analyzers are *only* on the BotBuilder project, and are now officially deprecated. We need to move off this package, and on to a different one.
3. The FxCop and other Rosyln analyzers are not enabled, and Gabo will begin enabling them for the core

[2019-08-08 00:00] vishwacsena commented on #1830
Tracked via #2325

[2019-08-08 00:00] #1830 closed

[2019-08-08 00:08] vishwacsena opened #2383 "[Adaptive] [LG] change LG, dialog systems to accept a expression engine instance"
Current LG subsystem creates its own instance of expression engine. This gets in the way of users expanding an expression library with a set of custom functions that is also available within the LG and dialog sub-systems.

We should update LG and dialogs to be able to take and work with an expression engine instance that includes custom pre-built functions.

[2019-08-08 00:11] vishwacsena opened #2384 "[Adaptive] Bake pre-requisite constructs into SDK, set stage to move into master"
This item tracks work necessary to identify and move core changes to SDK into master so we can eventually move adaptive dialog into the master branch.

- [x] Impact on data binding - Steve prepping a PR for minimal changes
- [x] Auto ID for dialogs
- [x] Eventing
- [x] inheriting memory from parent
- [x] Missing code on C# side for propagating any thrown exceptions with an event to cancel dialog w

[2019-08-08 00:12] vishwacsena opened #2385 "[Adaptive] Adaptive dialogs + LG debuggability"
Work here builds on top of the inspection middleware to enable improved debugging experience with adaptive dialogs.

1. Add support for ability in the runtime to break at a specific step in an adaptive dialog
2. Add ability to continue to next step and break once a break step has been encountered.
3. Add ability to continue till next break point (if any) once a break step has been encountered.
4.

[2019-08-08 00:13] vishwacsena opened #2386 "[Adaptive] Updates to trace activity with no configuration"
Filing this on behalf of @stevenic - we need to update trace activity to support a default behavior when no properties are configured.

[2019-08-08 00:14] vishwacsena opened #2387 "[Adaptive] Enable localization in Confirm and Choice Input actions"
Today, confirm and choice input actions have pre-baked language generation logic. We should decouple LG from these input actions for better locale support and scalability.

[2019-08-08 00:15] vishwacsena commented on #2326
Also onTurn for OAuth

[2019-08-08 01:12] sgellock commented on #2305
@ziad-akiki thanks for logging the issue.  I've asked one of the engineers to take a look at it.

[2019-08-08 01:22] sgellock commented on #2120
@didaskein thank you for opening the issue.  We'll take a look at it.  the earliest we'd get a fix out is our 4.6 release.

[2019-08-08 03:53] carlosscastro commented on #2371
Thanks @cha

[2019-08-08 04:06] carlosscastro commented on #2371
Question @chaoteng - Did you, by any chance, record the exception you got on Release()?

[2019-08-08 04:20] #2213 closed

[2019-08-08 06:07] boydc2014 commented on #2325
Some minor issues:

1. I think a normal template should just return string instead of { type: "string", value: "value"}, so that the api is actually more easy to use and don't impact anything if people are not using structure lg.

2. When
[code]
I think we want to consider a case, when i want a list with only one item, probably i would suggest something like this
[code]

3. ">" inside the markdown

[2019-08-08 13:04] Danieladu commented on #2383
Template function and user-defined function wihch one should have higher priority. For example, there exists a LG file:
[code]

And customer defines a function name: `t1`. We know template name is a runtime concept, but customized function is a pre-build concept. So when someone use `{t1()}`, which one should be called?

[2019-08-08 19:29] v-kydela opened #2388 "TurnContext.UpdateActivity does not apply a conversation reference"
## Version
Latest

## Describe the bug
[`TurnContext.SendActivitiesAsync`](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/TurnContext.cs#L209) uses `Activity.GetConversationReference` and `Activity.ApplyConversationReference` to ensure that outgoing activities have all the information the adapter and the connector client need in order to send the activit

[2019-08-08 21:11] vishwacsena commented on #2325
@boydc2014 - updated spec for 1, 2. For the flexibility, let's support '>' inside a structure definition as single line comment.

Also added a section for adaptive cards support.

[2019-08-08 21:22] CoHealer commented on #2305
Removed support label as assigned to Eric

[2019-08-09 02:59] boydc2014 commented on #2325
Cool, keep comments is ok.  One thing about AdpativeCard, is that since we allow structure lg template return json(jobject), which means, not necessary to use a 'multi-line', just strcuture lg is good enough, the "$type" property will be auto-ignored by any json deserilization library.

The other thing is some corner case i'm thinking that might be useful
[code]
For such case, i'm thinking it woul

[2019-08-09 11:00] droidriz commented on #614
Any updates on this?

[2019-08-09 14:51] mdrichardson commented on #2358
@guadalupejaime Please open a separate issue so as not to hijack this one.

[2019-08-09 15:24] mdrichardson commented on #2358
@w-piotr	Were you able to get this resolved? I'll be closing this issue as we haven't heard from you recently.

[2019-08-09 16:23] w-piotr commented on #2358
@mdrichardson If it comes to the azure configuration I was able to solve the issue, thank you for help.

Do you have any suggestion about this paragraph?
"If it comes to the code improvement when I delete services.AddBot and uncomment services.AddTransient<IBot, IT_Assistant>(); my bot does not work at all in emulator."

[2019-08-09 16:26] mdrichardson commented on #2358
@w-piotr Tough to say without seeing your code as it currently stands. Are you getting error messages?

[2019-08-09 18:25] cleemullins commented on #2211
Thanks for reporting this. We'll fix this bug in 4.6.

[2019-08-09 18:28] sgellock commented on #2280
@james-novino thanks for opening the issue.  We have a couple of issues that are of "like kind" in this area of our design.  We're going to trying to provide a solution in our 4.6 release.

[2019-08-11 22:07] vishwacsena opened #2390 "[Adaptive] Inputs do not work with validation + consultation"
The following adaptive dialog produces unexpected behavior. The core of the issue occurs when you have more than one input action in your current plan and set a value for the property the first input is looking to fill via consultation.

[code]

**Expected behavior:**
[code]

**Actual behavior**
[code]

[2019-08-11 22:23] vishwacsena opened #2391 "[Adaptive] Validation on inputs do not work correctly when the input's property gets an invalid value set via consultation"
With the following sample adaptive dialog, I see an unexpected behavior when the input's property is set a value via consultation that fails the input's validation rules.

Might be related to #2390

[code]

**Expected output:**
[code]

**Actual behavior**
[code]

[2019-08-11 22:31] vishwacsena opened #2392 "[Adaptive] MaxturnCount does not work with consultation"
The following example adaptive dialog helps demonstrate the issue.

[code]

** Expected behavior: **
[code]

**Actual behavior:**
[code]

[code]

[2019-08-12 07:03] ZhaoqingCui opened #2394 "[Adaptive] Break and Continue can be added to ForEach step"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
I think that break and continue should be added into SDK. For example, I want to iterate a list to find a specific item which meets my requirements.

[2019-08-12 10:51] DingmaomaoBJTU opened #2396 "[Adaptive] ConfirmPrompt zh-cn translation is not good"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
The ConfirmPrompt has some localized string hardcoded. For zh-cn version, two localizatio

[2019-08-12 14:03] w-piotr commented on #2358
@mdrichardson I'm referring to the code available on this branch https://github.com/w-piotr/azureAppId/tree/branch1

I'm getting the error:
There was an error sending this message to your bot: HTTP status code InternalServerError

This code (as per your advise) does not work:
![image](https://user-images.githubusercontent.com/49780873/62870779-80d8c500-bd1a-11e9-89f7-1094d0230d88.png)

This code w

[2019-08-12 15:50] mdrichardson commented on #2358
I wasn't able to get it working using the `AddTransient` method either. However, I'm not super well-versed in C#. Since you're no longer experiencing the bug and your bot is working, I'm going to close this issue. If you need additional how-to help, please post on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).

[2019-08-12 15:50] #2358 closed

[2019-08-12 18:14] carlosscastro commented on #2257
Thanks Jeff! I'll look into this as I refactor some of the streaming pieces.

[2019-08-12 22:44] Virtual-Josh commented on #2309
This issue is still occurring. It appears the turnContext.Activity.ChannelData has wrapped the tenantID in another JSON object. Moreover when you continue forward the outgoing response has tenantID JSON wrapped in a string which is unexpected. It might be the case that the middleware that serves as a translation layer also might be contributing to the issue.

[2019-08-12 22:51] CoHealer commented on #2309
@cleemullins, who can we hand off to for further investigation?

[2019-08-12 23:13] JonathanFingold opened #2400 "DialogManager RootDialog property setter has bad side effects"
## Version
What package version of the SDK are you using: 4.6-preview

## Describe the bug
The settor creates a new internal dialog set, whether or not one already exists.

## To Reproduce
Steps to reproduce the behavior:
1. Review the logic in the constructor and RootDialog property: https://github.com/microsoft/botbuilder-dotnet/blob/83e9b25b35057f645f52b44fb419fa6922fbd72d/libraries/Microsoft.B

[2019-08-13 09:18] sachabruttin opened #2405 "Add all public QnAMaker methods in ITelemetryQnAMaker"
#### Is your feature request related to a problem? Please describe.
In Virutal Assistant we register cognitives services like QnAMaker in the BotService and add them to a CognitiveModelSet. This class exposes QnAServices as a Dictionary<string, ITelemetryQnAMaker>. Unfortunately, this interface doesn't expose all the public methods of the QnAMaker class.

#### What is the solution you are looking

[2019-08-13 13:44] hansmbakker commented on #1478
This is related to https://github.com/microsoft/botbuilder-dotnet/issues/1686.

[2019-08-13 14:41] MilesWilde opened #2404 "How to write unit tests for a Bot Framework v4 Dialog that requires the user to authenticate?"
**Is your feature request related to a problem? Please describe.**
This is basically a continuation of this stack post because I haven't seen any pursuit by the creator:
https://stackoverflow.com/questions/53960869/how-to-write-unit-tests-for-a-bot-framework-v4-dialog-that-requires-the-user-to#comment101277202_53960869

**Describe the solution you'd like**
It would be extremely useful if I could a

[2019-08-13 20:43] cleemullins commented on #2405
@sachabruttin  Thanks for the suggestion. There are a few things here to unpack:
1. The existing interface **ITelemetryQnAMaker** is designed explicitly for adding telemetry to the data plane of the services. for QnA Maker that means the GetAnswersAsync method. We've not added Training, as that's more of a control-plane event. We can't change that w/o breaking compat, as adding new methods to inte

[2019-08-13 20:43] #2405 closed

[2019-08-13 21:51] vishwacsena opened #2406 "[Adaptive] Support telemetry client in adaptive dialog"
This item tracks work to add support for telemetry client in adaptive dialog

[2019-08-13 21:56] sidecus opened #2407 "ShowTypingMiddleware doesn't work when configured via AddBot (BotframeworkOptions)"
## Version
4.5.1

## Describe the bug
If ShowTypingMiddleware is added via AddBot configureAction, it doesn't work.
But if it's added to the adapter direclty via adapter.Use(new ShowTypingMiddleware()) it works.

## To Reproduce
Steps to reproduce the behavior:
1. Add the middleware via the below code. No typing event is sent.
[code]
2. Add the middleware via the below code in the adapter:
[code]

[2019-08-14 14:38] josecarvajalrego commented on #2388
Same here :(

[2019-08-14 16:03] benbrown opened #2409 "[DCR] [Adaptive] HTTP Request should emit a trace event similar to LUIS activity"
**Is your feature request related to a problem? Please describe.**

HTTP calls are currently hard to debug in the emulator because both the outgoing URL and payload are hidden, and the incoming http status and raw results are not available as far as I know.

Since these values are potentially dynamic, it is important to be able to view the actual details of the http transaction and inspect it for

[2019-08-14 16:35] benbrown opened #2410 "[DCR] [Adaptive] HTTP request should capture response headers"
**Is your feature request related to a problem? Please describe.**

In addition to the response body, it is also sometimes necessary to use values from the response header.

For example, calls to the Github API use the response header to include pagination information:
https://developer.github.com/v3/guides/traversing-with-pagination/

**Describe the solution you'd like**

Add an optional property

[2019-08-14 22:08] vishwacsena commented on #2394
We will soon have jpath support in expressions. The recommendation for now is to use that to query/ filter the results prior to looping over the collection.

Can you please close this issue if you believe that works and if not, update this with scenarios where it wouldnt?

[2019-08-14 22:10] vishwacsena commented on #2396
Will be resolved via #2387

[2019-08-14 22:10] #2396 closed

[2019-08-15 18:25] sgellock commented on #2404
@MilesWilde the SO link you provide now has a solution for mocking.  Can you review and see if this addresses your need

[2019-08-15 18:31] sgellock commented on #2407
@sidecus I'm asking our support team to help you.

[2019-08-15 18:34] johnataylor commented on #2407
The middleware must be added to the Adapter that is being used, perhaps that is not happen. One thing we have seen recently is that old and new ways of initializing things are being mixed and this leads to some confusion.

Previously in our original samples we used this AddBot function to add a single bot in the ASP message handling path. However, following some feedback we modified this to align

[2019-08-15 21:10] JonathanFingold opened #2413 "TwilioApi.GetResourceIdentifier messageOptions parameter should be of type CreateMessageOptions"
## Version
What package version of the SDK are you using: 4.6

## Describe the bug
The messageOptions parameter is of type `object`, but immediately cast to a `Twilio.Rest.Api.V2010.Account.CreateMessageOptions` object, without any type checking. The parameter type should just be `CreateMessageOptions`, or if that is not the intent, then the method should be more robust about how it interprets the

[2019-08-15 21:28] JonathanFingold opened #2415 "TwilioAdapter constructor should not throw bare exceptions"
## Version
What package version of the SDK are you using: 4.6.

## Describe the bug
The constructor code throws exceptions of type `Exception`.

## To Reproduce
Steps to reproduce the behavior:
1. Look at the constructor code: https://github.com/microsoft/botbuilder-dotnet/blob/a5e1a0492fffc57a80be7ddb41ca793a0a460e44/libraries/Adapters/Microsoft.Bot.Builder.Adapters.Twilio/TwilioAdapter.cs#L34-L4

[2019-08-15 21:33] sidecus commented on #2407
Thanks. However I am not adding a singleton bot to the ASP message handling path. I am injecting a transient bot into the controller via Microsoft.Bot.Builder.Integration.AspNet.Core.ServiceCollectionExtensions.AddBot.

Below is part of my controller code:
[code]

I don't see that I am doing anything different from the "new path" you mentioned.

The issue is, Microsoft.Bot.Builder.Integration.AspN

[2019-08-15 23:05] JonathanFingold opened #2416 "TwilioHelper.GetMessageAttachments doesn't bounds check"
## Version
What package version of the SDK are you using: 4.6.

## Describe the bug
The GetMessgeAttachments method blithely attempts to collect a specified number of attachments from a "message". If the user asks for more attachments than are in the message, this will probably generate KeyNotFound exceptions, instead of just returning as many attachments as exist.

## To Reproduce
Steps to reprod

[2019-08-16 18:11] cleemullins commented on #2415
Fixed by PR #2420

[2019-08-16 18:11] #2415 closed

[2019-08-16 19:01] Zerryth commented on #2407
@sidecus, to reiterate what John wrote earlier, the recommended way of doing things nowadays is to _not_ to use the old setup way of using `AddBot`. And with whichever path you choose to head down, then it's important to not mix old ways of setting up a bot with newer methods

___

### Recommended Bot Setup (MVC)
Instead you want to create the adapter explicitly. And you can add middleware to the

[2019-08-16 20:05] MilesWilde commented on #2404
@sgellock Thanks for getting back to me. The answer is definitely good, but I'm really not sure how to implement this.
I know the botframework SO and GitHub have different purposes so I'm not sure if I should ask my questions and paste code here. Should I ask in the SO post or is it ok to do it here?

[2019-08-16 20:21] Zerryth commented on #2407
Ran a bot using the older setup with `options.Middleware.Add(new ShowTypingMiddleware());` + `UseBotFramework()`, and the typing indicator works as expected.

Closing issue

[2019-08-16 20:21] #2407 closed

[2019-08-16 20:57] Zerryth commented on #2174
@xieofxie it does look like when testing the LUIS endpoint directly, you can see that sending a space returns essentially an empty result

`https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx?verbose=true&timezoneOffset=-360&subscription-key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&q=%20`

![image](https://user-images.githubusercontent.com/35248895/63197544-f8fdf

[2019-08-16 22:29] vishwacsena opened #2422 "[DCR] [Adaptive] Add a new property on input that includes an activity to send on MaxTurnCount"
Today, we do not have a configuration on inputs that enable makers to send an activity when the bot assumes a default value when max turn count is hit. To address this we should add a property that includes an activity to send when the input hits max turn count and is using the configured defaultValue.

**Current experience**

| Who?  | Message

[2019-08-16 22:31] Zerryth commented on #2174
@xieofxie ok, I got a response from the LUIS team directly, and the confirmed that the result with empty intent and entities arrays is intended behavior when sending a query with only space

Resolving this issue, as the SDK reflects what the LUIS API intends

[2019-08-16 22:31] #2174 closed

[2019-08-16 22:32] vishwacsena opened #2423 "[DCR] [Adaptive] Add a shorthand + memory path to access properties configured on an input"
Today, there is no way to access properties configured on an input (in LG) since these properties are not bound to and available via a memory scope.

We should fix this so makers can refer to these properties in LG.

As an example, we should have `~maxTurnCount` resolve to the value of the `maxTurnCount` property on the active input.

| Who?  | Message

[2019-08-16 23:03] #2413 closed

[2019-08-16 23:54] vishwacsena opened #2425 "[DCR] [Adaptive] Add a processInput action that indicates if user input should be processed by the active input"
Today, we use 'steps' run in a rule as part of consultation as the signal to indicate if active input should consider the user input 'consumed'. This does not work in cases where the user adds steps (e.g. logging, sending a message to user etc) but would still need the active input to reprocess user input.

One solution is to formalize the current turn.processInput property into a step. We can rev

[2019-08-16 23:57] vishwacsena opened #2426 "[DCR] [Adaptive] Add a property to inputs that stops consultation"
## **Issue**
Current consultation bubbling logic does not provide for cases where user needs to stop bubbling when a specific constraint is met. We have a blanket, boolean allow interruption setting.

However it is evident that when you use Language Understanding powered by a non-deterministic system such as LUIS, you would need the ability to short-circuit consultation bubbling when a specific co

[2019-08-16 23:59] vishwacsena commented on #2426
Another option is to switch `AllowInterruption` to be an expression with a different property name e.g. `InterruptWhen=<expression>` with the behavior to not consult up the parent unless the expression evaluates to true.

[2019-08-17 00:02] vishwacsena opened #2427 "[DCR] [Adaptive] Auto-save recognized entities"
Today, adaptive dialogs do not automatically save entities recognized. This causes issues with -

1. multiple entities recognized are dropped on the floor since recognized entities are exposed via `turn.recognized.*` which is flushed after each turn
2. Any recognized entities at this adaptive dialog level are over-written by any recognition results from the parent adaptive dialog's recognizer.

We

[2019-08-17 00:13] sidecus commented on #2407
thanks @Zerryth ! Now it's clear to me - I will use the new way and replace AddBot<TBot> with AddTransient<IBot, TBot>.

[2019-08-17 01:14] #2258 closed

[2019-08-17 05:16] EricDahlvang commented on #2305
I apologize for the delayed response here.  The issue can be observed with this sample, which restores history, yet does not restore attachments: https://SSOConversationHistoryAPI.azurewebsites.net/  (sending it "card" will show a hero card, and this should again be displayed when the history is re-loaded, if sent while signed in).

I will continue to investigate, but right now this looks like an

[2019-08-19 06:01] xieofxie commented on #2174
Hi, @Zerryth thanks for the investigation. But when I look at the [code](https://github.com/microsoft/botbuilder-dotnet/blob/a952922a48a3041df464cecf46cc6cb52847e502/libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizer.cs#L339), it is a bit different.

It returns string.Empty now and it could not be converted to any enum Intent. One could use a TypeConverter in Newtonsoft.Json to solve this but

[2019-08-19 08:47] marcasmar94 opened #2428 "Twitter Channel"
Will there be support for Twitter channel? If not what's the alternative ?

I can not see this feature anywhere or on the roadmap, we have clients demanding this channel.

Any updates?

[2019-08-19 15:49] Zerryth commented on #2174
Hi @xieofxie. I see what you mean.
![image](https://user-images.githubusercontent.com/35248895/63279685-49a86d80-c25e-11e9-9142-964868bbd77c.png)
And LUIS API actually returns `[]` for `Intents`, not `null`, however in any case...
Unfortunately we cannot change this behavior--at least not right now in the SDK, as it would be a breaking change for those who've already built upon this. If this were

[2019-08-19 17:38] tdurnford commented on #2428
I dont' believe the development team has any plans to add Twitter as an official BotFramework channel; however, the public BotBuilderCommunity has built a [Twitter Adapter](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Twitter).

Also related to https://github.com/microsoft/botframework-sdk/issues/3123

[2019-08-19 17:48] #2428 closed

[2019-08-19 19:41] brunoslam commented on #2388
Some problem here

[2019-08-19 22:57] josecarvajalrego commented on #2388
This has worked for me on Teams:

Send card first time:
`                    IMessageActivity originActivity = MessageFactory.Attachment(_actionsCard.CreateAdaptiveCardActions("jose"));
                    userProfile.ConversationId = turnContext.Activity.Conversation.Id;
                    var response = await turnContext.SendActivityAsync(originActivity, cancellationToken);

[2019-08-20 00:15] EricDahlvang opened #2429 "TranscriptLoggerMiddleware should update activity.Id on the cloned activity"
## Version
All versions

## Describe the bug
https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/TranscriptLoggerMiddleware.cs#L69

[code]
The cloned activity in the code above should include the ResourceResponse.id retrieved from sending the activity to the server. Currently, all outgoing activities logged will NOT have this id

## Expected behavior
Activiti

[2019-08-20 02:02] mareekuh commented on #1919
Is there a document that goes with this so I can get a better understanding of what you have in mind? From a UX perspective, I'd love to have the following:
1. Use QnA maker as a 'knowledge' base for my bot:

- When I set up my bot I can point it to predefined domains and website FAQ or document (QnA maker).
- The data from the FAQ is parced into QnA pairs
- The data from built in Chit-chat is par

[2019-08-20 02:35] xieofxie commented on #2174
@Zerryth Yeah.. my mistake. Then we will keep an eye on this. Thanks for the information~

[2019-08-20 02:44] EricDahlvang commented on #2429
This seems to be solved already, a different way, in dotnet:

https://github.com/microsoft/botbuilder-dotnet/blob/fb65b0063c0e8df711c92247ba156d1e088012c4/libraries/Microsoft.Bot.Builder/TurnContext.cs#L274

Sorry for the noise.

[2019-08-20 02:44] #2429 closed

[2019-08-20 05:22] boydc2014 opened #2430 "[DCR] [Adaptive] [Expression] Move shorthand implementation into dialog and inject into expression through a generic extension mechanism"
Today, shorthand (@, ^, $, #, @@) functions are implemented inside expression library, the issue shorthand are very dialog specific. Doing that inside expression, coupling those two libraries together, make the expression very vulnerable to changes in shorthand, and also expression library less pure, which add difficulties for further customization.

Overall, it's a bad design. Let's do that in di

[2019-08-20 18:38] v-kydela commented on #2388
I have noticed that in the Node.js SDK, you must not only set the updated activity's `conversation` property but also its `serviceUrl` property

[2019-08-20 18:45] mkchow5928 opened #2432 "Suggested action buttons not rendered on Microsoft Teams"
## Version
4.5.1

## Describe the bug
Suggested actions message activity attachment does not render the buttons on Microsoft Teams

## To Reproduce
Steps to reproduce the behavior:
1. Register the bot with Microsoft Teams channel
2. Send a message with "Suggested Actions" activity attached to the message

## Expected behavior
See suggested action button rendered in Microsoft Teams application.  Sa

[2019-08-20 18:45] mkchow5928 opened #2433 "Adaptive card image not rendering correctly on Microsoft Teams"
## Version
V4.5.1

## Describe the bug
We are passing through an adaptive card with image as part of the payload directly.  The adaptive card shows up but images are not being displayed

## To Reproduce
Steps to reproduce the behavior:
1. Register the bot with Microsoft Teams channel
2. Send a message with adaptive cards attached.  The adaptive card includes image payload directly for the button.

[2019-08-20 18:45] mkchow5928 opened #2434 "Adaptive cards not rendered correctly on Facebook Messenger"
## Version
4.5.1

## Describe the bug
Sending message with adaptive card activity attached does not render on Facebook Messenger

## To Reproduce
Steps to reproduce the behavior:
1. Register the bot with Facebook channel
2. Send a message with adaptive cards attached.  The adaptive card includes image payload directly for the button.

## Expected behavior
Adaptive card is converted and rendered wi

[2019-08-20 20:20] cleemullins commented on #2432
I've reached out to the PM from Teams, to get more detail around this behavior.

[2019-08-20 22:16] brunoslam commented on #2388
I was trying to update the activity on bot framework emulator, but when i do it on Teams it works perfectly

[2019-08-20 23:28] Stevenic commented on #2426
I agree with having one property versus two but the issue is I'm not sure how to run the expression after the recognizer is run.

[2019-08-21 01:37] gmajian opened #2437 "cannot use safe JSON deserialization for Dialog State object"
## Version
4.5.1

## Describe the bug
To save/load the dialog state, the bot need to serialize/deserialize the dialog states with JSON.
Currently, the dialog states contains a list of dictionaries of  objects, which is black box to the bot author programmer. To deserialize the string to the dialog state , the type information must be put into the JSON when searlizing the object ot string. For exam

[2019-08-21 03:54] vishwacsena commented on #2293
The right way to get this information is through {turn.activity.localTimeZone}. https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#local-timezone

Note: This is really up to each client to implement and might not be available across all channels.

[2019-08-21 03:54] #2293 closed

[2019-08-21 12:12] yadavsachin opened #2438 "Bot Not working with MS Teams. It is working fine in web chat"
1. I have deployed bot to Azure using https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0
2. I have integrated bot with MS teams using Channels under Bot channel.
Using .Net Core 2.1

Where I can see the errors on why it is not working.

[2019-08-21 15:15] jwiley84 commented on #2434
Hi @mkchow5928!

You also opened this issue [here](https://github.com/microsoft/botbuilder-dotnet/issues/2433) concerning the same behaviour, but on a different channel. I'm going to close this issue, so that we can track both over there, as they probably have the same root cause.

[2019-08-21 15:15] #2434 closed

[2019-08-21 17:56] v-kydela commented on #2432
Hello @mkchow, I am happy to help!

It is true that Microsoft Teams does not support suggested actions. I am noticing a discrepancy in your issue because your expected behavior section says you expect Microsoft Teams to display suggested actions like Web Chat does, but your additional context section says you expect the Azure Bot Service to convert suggested actions to hero cards. Can you clarify

[2019-08-21 17:57] mdrichardson commented on #2433
@mkchow5928 Both of your issues are kind of the same thing and have similar solutions.

First, you should understand that it's up to each channel, independently to:

1. Support Adaptive Cards (Facebook does not)
2. If supported, render it appropriately - this is entirely up to the channel so that Adaptive Cards can "adapt" to the channel's "style"

Here's the best place to track [which "channels"

[2019-08-21 23:26] clearab commented on #2432
Here is the list of card actions supported on the Microsoft Teams channel. You are not limited to using Hero Cards:

https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-actions

[2019-08-21 23:28] #2409 closed

[2019-08-21 23:28] #2243 closed

[2019-08-21 23:28] #2422 closed

[2019-08-21 23:28] #2410 closed

[2019-08-21 23:55] tomlm commented on #2423
This already exists, it's %foo -> dialog.options.foo

Once we have path resolvers we should be able to make this look like options overlayed on top of dialog configuration. (aka, % is bound to the merged view of options and declarative options)

[2019-08-22 10:31] harshithkashyap commented on #598
We have been trying to migrate our v3 Node.js bot to v4 and this has been a major issue for us. In order to provide a natural conversation flow when the bot needs to send across multiple messages as reponse to user's queries, we allow customers to set delays and typing indicator values delaying each message sent within a dialog. We use bluebird `Promise.delay()` function and delay the execution of

[2019-08-22 16:04] vishwacsena commented on #2423
@tomlm do we expose properties configured on an input dialog via dialog.options.xxx as well? E.g. if i have configured maxTurnCount property on a TextInput, will that also be available via dialog.options.maxTurnCount?

Just making sure since the issue here is ability to access properties configured on an input.

[2019-08-22 17:01] Zerryth commented on #2432
@mkchow5928, it seems you have found the [documentation regarding what is supported in Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-actions), as you mention at the bottom of the issue you originally filed.

![image](https://user-images.githubusercontent.com/35248895/63534282-ae183680-c4c3-11e9-9364-d97a50694b46.png)

As the Teams docs state, it's just a feat

[2019-08-22 17:01] #2432 closed

[2019-08-22 20:34] tomlm commented on #2386
I don't know what this means

[2019-08-22 20:48] #2194 closed

[2019-08-22 20:56] carlosscastro opened #2444 "[DCR] [Adaptive] Trigger ActivityReceived event from DialogContext instead of DialogManager"
Currently, DialogManager triggers an ActivityReceived event along with the call to ContinueDialogAsync on the root dialog.

The DCR is to move the triggering of the ActivityReceived event inside DialogContext.ContinueDialogAsync. This will allow users to keep using the Begin / Continue pattern, even though we generally recommend the use of DialogManager.

The logic in DialogContext needs to make s

[2019-08-22 23:15] tomlm commented on #2386
This is an emulator bug.  Emulator should default to showing JSON for unknown TraceActivity types.

[2019-08-22 23:21] #2444 closed

[2019-08-23 09:38] EdwinOtten commented on #1419
@cleemullins I'm not sure if this means anything but with the release of [Microsoft.Azure.KeyVault.Core 3.0.4](https://www.nuget.org/packages/Microsoft.Azure.KeyVault.Core/3.0.4) it **does** have dependencies to .NETStandard 2.0:

![image](https://user-images.githubusercontent.com/5310778/63583029-77f9b600-c59a-11e9-80d4-56d450c2ee1e.png)

[2019-08-23 15:57] mdrichardson commented on #2433
@mkchow5928 Should we consider this issue closed?

[2019-08-24 02:03] v-kydela opened #2449 "Inconsistency about whether resuming a prompt should count as a retry"
## Version
master branch

## Describe the bug

In [Prompt.cs](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/Prompt.cs#L182), `ResumeDialogAsync` calls `RepromptDialogAsync` which calls `OnPromptAsync` with `isRetry` set to `false`:

[code]

However, in [ActivityPrompt.cs](https://github.com/microsoft/botbuilder-dotnet/blob/master/librari

[2019-08-25 01:49] Zerryth commented on #2449
I made that change, specifically with the feedback from Gabo after he reviewed the [PR to add `isRetry` onto `ActivityPrompt.OnPromptAsync()`](https://github.com/microsoft/botbuilder-dotnet/pull/2086), which you can see in the [history here](https://github.com/microsoft/botbuilder-dotnet/pull/2086#discussion_r298375179).

It's specifically counting as a retry when **re**-prompting a user, so logic

[2019-08-25 16:42] nathanwinder opened #2450 "Allow customization of JsonSerializerSettings for AzureBlobStorage"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am unable to provide custom JsonConverters for use i

[2019-08-27 05:21] vishwacsena opened #2452 "[Adaptive] Review and update component schema for adaptive including placeholder text, description, default values etc."
Filing this ticket to track work to review and update component schemas for adaptive. This should include review and update of
- Description
- placeholder text
- Default values
- Required properties

https://github.com/microsoft/BotFramework-Composer/issues/708

[2019-08-28 06:37] GewoonMaarten commented on #2346
@tomlm Thanks for the good work! I appreciate it. Is pull request #2378 going to be merged for a nightly build in the near future or should I wait until the 4.6 release?

[2019-08-29 10:03] aarohi-001 commented on #1202
May I please know what source are you referring to write the C# code for the adaptive cards?

[2019-08-29 10:38] sw-ms-roshanparmar commented on #1202
I am using AdaptiveCards from nuget.

[2019-08-29 10:44] aarohi-001 commented on #1202
No, I mean what documentation or blogs have you referred to write this code? Are there any good sources of information for writing code of adaptive card inside C# code?

[2019-08-29 13:39] chaoteng commented on #2371
@carlosscastro Thank you.

[2019-08-29 15:38] v-kydela commented on #1202
@aarohi-001 - The AdaptiveCards NuGet package provides models you can use in C#. There's no trick to it. The objects you instantiate in C# follow the same schema as an ordinary JSON Adaptive Card. Please have a look at my latest blog post to better understand Adaptive Cards: https://blog.botframework.com/2019/07/02/using-adaptive-cards-with-the-microsoft-bot-framework/

If you still have questions

[2019-08-29 17:16] rob-derosa opened #2456 "AttachmentPrompts within a Waterfall dialog err out"
## Version
4.5.1

## Describe the bug
When an AttachmentPrompt is added as a step in a waterfall dialog, an error is thrown

## To Reproduce
I modified the multi-turn .NET sample to add a middle step of AttachmentPrompt [gist here](https://gist.github.com/rob-derosa/f46b4becab6f5f463a8602bc5c0d32b5)
After selecting one of the adaptive cards, an error will be thrown:

`Microsoft.Bot.Builder.Integra

[2019-08-29 17:51] simer99 commented on #1919
@vishwacsena - Edited the list and removed the ones which wont be provided as part of configuration experience. Let me know if you have any comments.

[2019-08-29 19:06] vishwacsena commented on #1919
@simer99 can you add a diagram/ describe the flow we discussed yesterday including interruption?

[2019-08-29 19:19] simer99 commented on #1919
Yep doing just that.

[2019-08-29 20:21] simer99 commented on #1919
![image](https://user-images.githubusercontent.com/50911573/63973531-94c94880-cac8-11e9-9bbf-eaa9f37121ac.png)
![image](https://user-images.githubusercontent.com/50911573/63973553-9dba1a00-cac8-11e9-8a53-e1eacaa31424.png)

@Trojenguri - can you update the complete dialog steps as well?

[2019-08-29 21:38] vishwacsena commented on #1919
@simer99 - so for the initial implementation we will not participate in consultation?

[2019-08-29 22:41] kranid opened #2457 "UserState throws an unexpected NullReference exception"
## Version
SDK v4
## Describe the bug
UserState throws  nullReference exception If pass argument force =true to its method SaveChangesAsync even if UserState has not changed.
## To Reproduce

1. Create an instance of UserState class
2. Call method UserState.SaveChangeAsync(force:true) '....'
## Actual behaveor
UserState Throws NullReference exception without any specific messages

## Expected beha

[2019-08-29 23:25] EricDahlvang opened #2458 "Use Recognizers Cultures in Choice & Confirm Prompt"
Please duplicate this work https://github.com/microsoft/botbuilder-js/pull/1121 in dotnet, for parity.

[bug]

[2019-08-29 23:27] mdrichardson commented on #2458
I think most of it is there, minus tests but will be looking at this tomorrow to verify/update.

[2019-08-30 05:05] vishwacsena commented on #2145
@luhan2017 - just checking in to see if you will be prepping a PR for this?

[2019-08-30 08:04] aarohi-001 commented on #1202
Okay, thank you so much!

[2019-08-30 14:41] YevdokimovD opened #2460 "Issue with Teams Authentication using Explorer 11."
## Version
.net sdk version 4.2.2

## Describe the bug
When I use authentication with Microsoft Teams, I'm redirected to: https://token.botframework.com/api/oauth/PostSignInCallback?signin= ...
When I use Chrome or Firefox as default browser everything is fine, I can see magic code and I'm able to authenticate.
When I use Edge - webpage is loaded, instantly I'm asked whether I'm ok to close the pa

[2019-08-30 16:44] v-kydela commented on #2456
@rob-derosa - To me that looks like the problem is related to Adaptive Cards and not attachment prompts. It looks like you modified the sample to use Adaptive Cards. There is a [longstanding bug](https://github.com/microsoft/AdaptiveCards/issues/2148) in the AdaptiveCards package that throws errors when the cards are serialized with type information, as they are in the Bot Builder dialog stack. Yo

[2019-08-30 17:26] Stevenic commented on #2326
Also remove `StepChangeType.endSequence`. We shouldn't need this because of cancelAllDialogs()

[2019-08-30 17:58] carlosscastro opened #2461 "[DCR] [Adaptive] Remove new interfaces in Adaptive to avoid future compatibility issues"
The current adaptive implementation is introducing multiple public interfaces. As much as public interfaces are good for app design, they introduce a problem in the SDK because we cannot extend them in the future as that would mean a breaking change for all past users. We have to rely on base classes for polymorphism or internal interfaces, but no public interfaces except for very specific cases.

[2019-08-30 18:04] carlosscastro commented on #2326
From a discussion with @stevenic: we should move away from using step count and mvoe towards recording in memory whether there was n interruption and act based off whether interrupted is true or false

[2019-08-30 18:04] carlosscastro commented on #2425
From a discussion with @Stevenic: we should move away from using step count and mvoe towards recording in memory whether there was n interruption and act based off whether interrupted is true or false

[2019-08-30 18:10] daveta commented on #2457
Hi @kranid, thanks for filing this issue!  We'll investigate fixing this in the 4.6 timeframe.  In the meantime, feel free to submit a PR for this!

[2019-08-30 18:57] carlosscastro commented on #2426
We decided to go with keeping AllowInterruptions, but making it an expression that defaults to true. You could add AllowInterrutions = "!#StopBubbling" and that would make this more sophisticated. This also requires the triggering of an event to request recognition from parents. Potential event names are RunRecognizer, OnPreActivity.

[2019-08-30 19:17] vishwacsena commented on #2425
Add `turn.interrupted` boolean flag to indicate if the current turn is interrupted. User can set this to `false` for the active input to reprocess user utterance.

[2019-08-30 19:23] vishwacsena commented on #2145
Let's keep two properties
- Choices -> list<choice>
- DynamicChoices -> expression

[2019-08-30 19:29] mdrichardson commented on #2458
FYI for anybody curious: This is taking awhile because I'm doing some fairly heavy refactoring in order to get rid of duplicate code and provide some constants in ChoicePrompt, ConfirmPrompt, and each of their tests related to:

[code]

[2019-09-01 19:46] GewoonMaarten commented on #2346
Okay, the previous error has been resolved. But now I am getting a different error:

[code]

I will close this issue (as it has been fixed) and open a new one.

[2019-09-01 19:46] #2346 closed

[2019-09-01 19:54] GewoonMaarten opened #2465 "[Adaptive] NullReferenceException at Microsoft.Bot.Builder.PathUtils.NormalizePath"
## Version
Version: **4.6.0-Daily-2019-08-31-01**
## Describe the bug
When I deployed one of the samples to a clean Azure App service and connected Bot service testing environment the Microsoft.Bot.Builder.PathUtils.NormalizePath threw a NullReferenceException.

## To Reproduce
Steps to reproduce the behavior:
1. Download sample 60.AdaptiveBot from https://github.com/microsoft/BotBuilder-Samples
2

[2019-09-02 11:40] mutanttech opened #2466 "Danish Language Support in Confirm Prompt Bot v4 (C#/.Net Core)"
Danish Language is not supported by the Confirm Prompt Class and no way provided to extend it.

## Version
v4.5.0

## Describe the bug
Danish Language is not supported by the Confirm Prompt Class and no way provided to extend it.
Essentially, this code is required -
```{ Danish, (new Choice("Ja"), new Choice("Nej"), new ChoiceFactoryOptions(", ", " of ", ", of ", true)) },```

Take a look at code

[2019-09-02 15:52] mdrichardson commented on #2466
@mutanttech I'll roll this into [this PR](https://github.com/microsoft/botbuilder-dotnet/pull/2463). Thank you for providing the appropriate translations

[2019-09-02 16:10] mdrichardson commented on #2466
@mutanttech 	Actually, I may not be able to roll that in due to the below.

@cleemullins / @sgellock :

[This JS PR](https://github.com/microsoft/botbuilder-js/pull/1121) that just got merged added `Recognizers-Text.Culture` to Choice and Confirm Prompt so that it would be more in line with the Dotnet Repo. I've used [this Dotnet PR](https://github.com/microsoft/botbuilder-dotnet/pull/2463) to bet

[2019-09-02 18:38] hcyang commented on #2438
@stevengum, any updayes?

[2019-09-03 04:26] mutanttech commented on #2466
@mdrichardson ,
Thanks for addressing the issue. And my suggestion would be to not limit Locale Support by integrating it with something which does not offers variety support. There is lots of Danish MS Bot customers, who would want to see first class treatment with the Language.
And just one question to ask if you might share details, when is the adaptive card based prompts coming in the SDK. I a

[2019-09-03 11:42] simer99 commented on #1919
I updated the properties based on our discussion today. Will not have autorespond. We can guide user to perfrom autorespond using HTTP action

[2019-09-03 14:55] mdrichardson commented on #2466
@mutanttech I also believe it would be preferable to de-couple from other packages, specifically in this case.

Unfortunately, I'm a support engineer and this is a design decision a bit out of my approval level.

I'll reach out and see if we can get some traction on this.

[2019-09-03 16:17] stevengum commented on #2438
@yadavsachin can you provide the steps you used to contact the bot after enabling it on MS Teams?

Are you using the [Teams App Manifest](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-upload) or connecting to the bot via the link provided in the Channels?

![dotnet-issue-2438-0](https://user-images.githubusercontent.com/14935595/64190490-6088bb80-ce2b-11e9-860f-350d81

[2019-09-04 01:26] vishwacsena opened #2471 "[Adaptive] [DCR] Rename addDialog, addEvent"
If you are defining an adaptive dialog you can specify a list of Actions.  If you have created a dialog, the method to add more actions is called AddDialog/AddDialogs.  I understand how that is more general, but the connection is not obvious from the naming.
Another is using Events to mean EventHandlers.  Same with AddEvent/AddEvents.

Filing this ticket to drive resolution + implementation on the

[2019-09-04 02:39] boydc2014 commented on #2471
My suggestions is to clearly distinguish event vs eventHandler, so an ideal data model to me is we pair event+handler to one group called "Reaction", then provide API to define a handler for an event, which looks like this
[code]

from a declartive perspective, the serialized format looks like this
[code]

So an Reaction is On something then Do something, and a Dialog is a list of "on something do

[2019-09-04 03:38] #2383 closed

[2019-09-04 03:39] vishwacsena commented on #2266
Tracked via #2325

[2019-09-04 03:39] #2266 closed

[2019-09-04 03:46] vishwacsena commented on #2380
sort(collection, item1, item2, 'expression with item1 & item2')

[2019-09-04 03:47] vishwacsena commented on #2380
search - use existing where(list, x, x.title.contains('hello'))

[2019-09-04 15:43] johnataylor opened #2472 "Type hierarchy for adapter misses key methods so requires cast in application code"
If you have an object of type IConversationUpdateActivity or IMessageActivity you must cast it to Activity in order to use methods like CreateReply.

This is an accident of how the interfaces have been defined. It should be straight forward to fix this in a non-breaking way. For example, using extension functions or simply adding the methods to the  interfaces or even the root IActivity interface.

[2019-09-04 15:56] v-kydela commented on #2456
Closing as not a real bug

[2019-09-04 15:56] #2456 closed

[2019-09-04 17:37] lauren-mills opened #2474 "Bot Telemetry not correctly instantiated for websocket connection"
## Version
What package version of the SDK are you using.
4.5.1

## Describe the bug
Give a clear and concise description of what the bug is.
When connecting to a skill over websockets, the telemetry that is logged is missing the ActivityId and ConversationId that are used in Power BI to show dialog metrics. This appears to be because of the dependency on the HttpContext [here](https://github.com/

[2019-09-04 17:49] lauren-mills opened #2475 "[Adaptive] Can't return an Array type in the ResultProperty of EndDialog"
## Version
What package version of the SDK are you using.
4.6.0-Daily-2019-08-13-01

## Describe the bug
When trying to return an Array property as the ResultProperty of the EndDialog action, I get the following error "Can not convert Array to String".

## To Reproduce
Steps to reproduce the behavior:
1. Set the ResultProperty of EndDialog to an array property.
2. Try to capture the result in the

[2019-09-04 18:34] EricDahlvang opened #2476 "Update Roadmap"
This Roadmap is stale: https://github.com/microsoft/botbuilder-dotnet/wiki/Roadmap  Can we either update, or remove it if we are not going to keep it current?

[bug]

[2019-09-05 16:50] vishwacsena commented on #2475
We should support string value, array as well as object in what can be passed in to a dialog via options as well as what can be returned from a dialog via EndDialog -> property.

[2019-09-05 22:01] garypretty opened #2477 "TelemetryBotIdInitializer does not work for any adapters other than Bot Framework"
## Version
4.5.1

## Describe the bug
The TelemetryBotIdInitializer (https://github.com/microsoft/botbuilder-dotnet/blob/7f98f5a2c2cbd17010d71181a39ae3dd7378fb0d/libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.WebApi/TelemetryBotIdInitializer.cs) class sets various properties for logging in Application Insights and uses the incoming http request body to define the value

[2019-09-06 08:09] TacticalVilius opened #2479 "Bot Builder sporadically reports a BadRequest result from Slack API"
## Version
Microsoft.Bot.Builder - v4.5.1
Microsoft.Bot.Builder.Integration.AspNet.Core - v4.5.1
Microsoft.Bot.Configuration - v4.5.1
Microsoft.Bot.Connector - v4.5.1
Microsoft.Bot.Schema - v4.5.1

## Describe the bug
Exception thrown from Bot Builder when attempting to answer user via Slack bot. The error reported is a BadRequest response from the Slack API.

This happens every morning (Central E

[2019-09-06 09:50] searlin opened #2480 "CreateConversationAsync doesn't pass the tenantId"
I created issue in #2199 , actually, i pointed two bugs  in that issue, but only one bug was fixed, the other bug is that the tenantId is not used at all in CreateConversationAsync method, see below screenshot:
![image](https://user-images.githubusercontent.com/10204632/64414228-96e16780-d0c5-11e9-95b3-a449155e8053.png)

**The eventActivity.Conversation should have tenantId value**, see below scre

[2019-09-06 16:06] carlosscastro commented on #2371
@chaoteng, another update, we'll have this be released early next week. We'll try to expedite as much as possible. We changed to semaphoreslim, and we additionally added a few extra layers of protection and error handling, plus added logging to this area which currently does not have any, so for future issues we can diagnose and detect similar issues this much faster. Finally, we also created a ne

[2019-09-06 18:09] chaoteng commented on #2371
@carlosscastro Thanks for the effort. Looking forward to the pull request.

May I know if your team can reproduce the issue or be able to figure out what is the root cause on .net core level?

[2019-09-06 18:12] hcyang commented on #2480
@EricDahlvang, this is an issue with Teams, please take a look. Thanks.

[2019-09-06 18:14] cleemullins commented on #2480
@searlin, We are doing a major iteration on the Bot Framework integration with Teams in the 4.6 cycle (shipping on Oct 31). This work involves full support for Teams in the v4 SDK and will include examples around proactive messaging. @EricDahlvang should be able to get you working in the short term, but be aware of a new version coming soon.

[2019-09-06 18:16] hcyang commented on #2477
@munozemilio, please take a look of this issue. Thanks.

[2019-09-06 18:28] mdrichardson commented on #2480
@searlin I'll continue looking into this, but a quick workaround would be to either use [this override](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L826) (which that PR addressed):

[code]

or, [use Connector](https://stackoverflow.com/questions/57120193/how-can-my-teams-bot-start-a-new-11-chat-with-a-known-user/57150951#5715095

[2019-09-06 18:44] mdrichardson commented on #2480
Have a solution w/ the help of @EricDahlvang. Working on PR.

[2019-09-06 19:12] EricDahlvang commented on #2480
Hi @searlin

Thank you for reporting this, and the clear and concise description of the problem.

Until the fix is released, please let us know if the [workaround ](https://github.com/microsoft/botbuilder-dotnet/issues/2480#issuecomment-528964314) @mdrichardson provided unblocks you.

[2019-09-06 20:30] mdrichardson commented on #2480
@searlin

Turns out the test I wrote for that previous PR uses MockAdapter, which [overrides the `CreateConversationAsync` method that needs to be fixed and appropriately sets the `ChannelData`](https://github.com/microsoft/botbuilder-dotnet/blob/master/tests/Microsoft.Bot.Builder.Tests/BotFrameworkAdapterTests.cs#L128):

[code]

Looks like I've got some work to do and some tests to fix.

[2019-09-06 20:40] stevengum commented on #2438
@yadavsachin are you still running into this problem?

[2019-09-06 21:32] stevkan commented on #2479
Can you check the web app configuration in Azure and verify if the "Always On" feature is enabled?

[2019-09-06 21:42] mdrichardson commented on #2480
@searlin

PR submitted. If I may ask, why are you using `Adapter.CreateConversationAsync` instead of `Connector.CreateConversationAsync`? I believe that to do a proactive message, you'd need a reference to the `conversationId` and `Adapter...` doesn't return it, whereas `Connector...` does. Can you share how you're using it (for my own benefit)?

[2019-09-07 00:57] vishwacsena opened #2482 "[Adaptive] [DCR] Change value property for TraceActivity to be an expression"
At the moment, the Value property for TraceActivity action is a string that accepts a memory scope. We should change this to be an `expression` instead so users have more flexibility in terms of what they can send back as the value for the trace activity.

[2019-09-07 00:59] vishwacsena commented on #2326
@tomlm is this complete with your last PR or is there any remaining work?

[2019-09-07 01:00] vishwacsena commented on #2423
@tomlm @Stevenic - did we say instance properties will be available via %propertyNameXXX or turn.instance.propertyNameXXX?

[2019-09-07 01:02] vishwacsena commented on #2145
@luhan2017 can you help prep a fix for this?

[2019-09-07 02:11] yadavsachin commented on #2438
Sure let me try.

On Sat, Sep 7, 2019, 2:10 AM Steven Gum <notifications@github.com> wrote:

[2019-09-07 23:21] hcyang commented on #2477
Hi @munozemilio, please update the issue, thanks.

[2019-09-07 23:24] munozemilio commented on #2477
Hi @hcyang, Ill take a look on Monday and asses and ETA for the fix

[2019-09-07 23:30] hcyang commented on #2450
hi @johnataylor, any updates? Just a reminder that this issue was assigned to you some time ago. Thanks.

[2019-09-08 23:52] hcyang commented on #2477
Hi @munozemilio, just a reminder that it has been 3 days without labelling it "customer-replied-to."

[2019-09-09 02:26] searlin commented on #2480
Thanks a lot for all your help, the workaround works perfect, and I will use it for short term.
And @mdrichardson  the reason why I chose Adapter.CreateConversationAsync is that it's the most obvious method I can find to send a proactive message, and the Adapter do return the conversationId in the callback ( turnContext.Activity.Conversation ), below is how I use it:

![image](https://user-images.

[2019-09-09 05:58] TacticalVilius commented on #2479
Hi @stevkan,

Yep, "Always On" is enabled

[2019-09-09 07:50] munozemilio commented on #2477
Since there will be some work around the initializers during this release this should be part of that.

[2019-09-09 19:02] gabog commented on #2404
Hi @MilesWilde, I am closing this one for now, feel free to reopen it if you have more questions.

Thanks

[2019-09-09 19:02] #2404 closed

[2019-09-09 19:59] munozemilio opened #2487 "CosmosDbStorage: read documents using the document client"
Remove SelfLink request. Please refer to this doc Remark section for SelfLink. https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.documentclient.readdocumentasync?view=azure-dotnet .

When customer is using SelfLink request, when they are throttled, the database/collection names are not available to Cosmos DB. The recommendation is to use the ID-based link. It's also expl

[2019-09-09 20:41] carlosscastro opened #2488 "Streaming: Support oauth card in streaming so the bot gets the token back"

[2019-09-09 20:43] carlosscastro opened #2489 "Streaming: Telemetry should allow debuggability of streaming codepaths."
How do people troubleshoot issues?

[2019-09-09 20:45] carlosscastro opened #2490 "Streaming: Rework adapter for Streaming"

[2019-09-09 20:46] carlosscastro opened #2491 "Streaming: Validation pipeline integrated with CI / CD"

[2019-09-09 22:37] lauren-mills opened #2492 "Adaptive: Interruptions not working for TextInput"
## Version
What package version of the SDK are you using.
Latest code from 4.future

## Describe the bug
When I respond in a text input with AllowInterruptions.Always, I get no LuisTrace activities and OnIntent and OnDialogEvent handlers are never fired.

I have the following dialog:
[code]

## Expected behavior
Give a clear and concise description of what you expected to happen.
I expected my res

[2019-09-10 01:50] #2457 closed

[2019-09-10 01:52] EricDahlvang commented on #2457
Thank you for reporting this @kranid

This fix has been merged, and will go out with 4.6:
https://github.com/microsoft/botbuilder-dotnet/pull/2484

[2019-09-10 06:12] luhan2017 opened #2495 "[Adaptive] can't get setting memory {setting.***} through configuration"
Expect scenario:

[2019-09-10 16:41] lauren-mills commented on #2492
I tried creating a unit test with my dialog to see if there was any difference in behavior, and the unit test with the dialog passes, and triggers the interruption, but testing the same dialog in the emulator does not show the "recognized" response. I thought this might indicate an issue with my adapter setup or my bot.cs class, but I couldn't find any differences between how the test project adap

[2019-09-10 17:26] vishwacsena commented on #2492
Tagging P1 since this appears to be isolated to how the VA is set up to use adaptive. Nevertheless we should root cause + fix/ document on correct use of adaptive

[2019-09-11 10:31] Basavarajsk1992 opened #2503 "DirectLine object is not adding the bot to the conversation if request sent from the teams."
I am trying to chat with a bot through its direct line key from another bot which is configured on MS teams channel. Whereas same is working from the emulator.
Below is the code sample
[code]
I am getting conversationUpdate event only once in targeted bot.
`{"type":"conversationUpdate","timestamp":"2019-09-11T10:15:05.4289157Z","membersAdded":[{"id":"zBot-development@31dmTQFIR-M","name":"zBot-deve

[2019-09-11 16:46] stevkan commented on #2479
Can you provide your bot's AppId. I would like to look at over some logs to see if any additional errors have been reported. Can you also specify the dates/times so I know where to look?

[2019-09-12 00:28] cleemullins commented on #2388
@v-kydela, Thanks! Can you submit a PR for C#?

(and for JS!)

[2019-09-12 11:06] DingmaomaoBJTU opened #2501 "[Adaptive] Need an exception handling strategy to catch/handle exception"
## Describe the bug
Need a way to catch a exception (i.e. exceptions from HttpStep). Currently, all exceptions are only been catch in middleware and flows are been cancelled when exception happened.

Request: exceptions can be send out and catch at any level of dialogs. And after catch specific exception, developers will want to:
1 send specific error message reply according to exception messages

[2019-09-12 11:17] DingmaomaoBJTU opened #2502 "[Adaptive] Suggestion: HttpRequest should capture response ressult and throw if not success"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
It should be nice for HttpRequest to analysis all the possible Http response result, and

[2019-09-12 18:40] Virtual-Josh opened #2504 "ActivityExtensions.RemoveRecipientMention fails to handle bot mentions in groupChat scoped messages"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.0

## Describe the bug
If you are using a groupChat scoped bot in Teams the RemoveRecipientMention blows up due to a null mention.text field.

## To Reprod

[2019-09-12 23:31] Virtual-Josh opened #2509 "Tracking Issue - add utility function to get channelID"
This is a tracking issue to implement a getChannlId helper function to make it easier for developers to send a message to a channel.

[2019-09-13 17:55] v-kydela commented on #1589
@cleemullins - If we decide to set `dc.Responded` to true only for message activities then it should be an easy fix but not necessarily an easy decision. It makes sense to only consider the bot to have responded when it sends a message activity because that property is used to determine if another message (the retry prompt) should be sent as well. However, it is a public property and this change c

[2019-09-13 18:26] tsuwandy commented on #2503
@EricDahlvang, could you take a look and chime in?  Thanks!

[2019-09-13 19:36] chrimc62 commented on #2097
This is by design although it would be worth documenting.   The issue is that when we parse a number from LUIS we use double.TryParse which depends on CultureInfo.CurrentCulture for how numbers are interpreted.  In general you should set this to either invariant or the specific culture you want to use for interpreting things like numbers.  If you did CultureInfo.CurrentCulture = CultureInfo.Invari

[2019-09-13 21:41] stevkan commented on #2479
The issue appears to be related to a call to this endpoint `/api/Events/Sticos_AI_Else`. I compared two instances, one that failed and one that succeeded. In both, the call is made and successfully received by the bot. A channel message is then sent from the bot back to the user which is received and processed. It is at this point the exception is made.

As you can see in these two responses, the

[2019-09-13 23:35] v-kydela commented on #2388
I have submitted PR's for .NET and Node. I just examined the Python and Java source code and found that the problem exists in them as well, so I will attempt to fix those too.

[2019-09-14 18:31] EricDahlvang commented on #2503
Hi @Basavarajsk1992

When using the secret to create a conversation with Direct Line, there is no way for the channel to know who what the user.id is until the user sends a message.  The Emulator knows the user.id, because it generates it... so when the Emulator creates the conversation it is able to send both bot.id and user.id ConversationUpdate.  In order to accomplish this with the Direct Line

[2019-09-16 12:03] xieofxie commented on #2102
@cleemullins OK, I created this https://github.com/microsoft/botbuilder-dotnet/pull/2520. Please help to correct~

[2019-09-16 18:17] #2482 closed

[2019-09-16 18:23] vishwacsena commented on #2423
This should be fixed.

dialog.options.xxx
this.options.xxx

%xxx is deprecated.

[2019-09-16 18:24] vishwacsena commented on #2384
Tom has a PR for this.
Features we wanted in the core libs are in place
No breaking changes to public signatures

[2019-09-16 18:28] vishwacsena commented on #2475
Try with the latest in 4.Future. This is probably fixed but if not, reactivate.

[2019-09-16 18:28] #2475 closed

[2019-09-16 18:32] vishwacsena commented on #2465
Fixed in latest bits in 4.Future.

[2019-09-16 18:32] #2465 closed

[2019-09-16 23:42] vishwacsena opened #2525 "[Adaptive] Update UseLanguageGenaration to wrap core logic in try catch block"
In LGAdapterExtensions.cs

[code]

[2019-09-17 00:26] #2388 closed

[2019-09-17 07:20] DingmaomaoBJTU opened #2527 "[Adaptive] Choice Input's choice options should be localized"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Check the choice input's schema:
{
              "$type": "Microsoft.ChoiceInput",

[2019-09-17 16:34] DDEfromOR commented on #2490
Proposed work is in this PR: https://github.com/microsoft/botbuilder-dotnet/pull/2505

[2019-09-17 17:49] #2097 closed

[2019-09-17 18:06] CezaryMarcjan commented on #2438
@yadavsachin  we're assuming this is resolve. Please reopen if this is not the case. Thanks!

[2019-09-17 18:06] #2438 closed

[2019-09-17 18:35] cleemullins commented on #2466
To points here:

Point 1:
Given that our [recognizers library] (https://github.com/Microsoft/Recognizers-Text) doesn't support Danish, I don't think this is a change we can take. To do this, we would have to start with the recognizers, then move up the stack.

Point 2: We *should* allow you to extend this. I would support something like:
public static void AddDefaultChoiceItem( ... )
{
}

That wou

[2019-09-17 19:29] vishwacsena commented on #2527
Tracked via https://github.com/microsoft/botbuilder-dotnet/issues/2387

[2019-09-17 19:29] #2527 closed

[2019-09-17 20:10] vishwacsena commented on #2425
Also tracks the work required to get away from using `this.stepCount` for re-prompting logic after consultation.

[2019-09-17 23:00] vishwacsena opened #2531 "[Adaptive] [DCR] Update CancelAllDialogs behavior"
Filing this because this came up in the triage today.

JS behavior is to propagate all the way up for CancelAllDialog.
New behavior - stop when it hits a container boundary but use a flag to propagate up. flag defaults to true (propagate up)

[2019-09-17 23:21] #2102 closed

[2019-09-17 23:23] #2480 closed

[2019-09-18 03:35] #2430 closed

[2019-09-18 03:57] EricDahlvang commented on #2450
The previous branch was deleted. Here is a new one:

https://github.com/microsoft/botbuilder-dotnet/compare/master...eric/noTypeHandlingSerialization

@johnataylor can we take this change?

[2019-09-18 08:54] evgeniy-glushin opened #2540 "[Skype] Getting errors - Unknown attachment type for text/plain, audio/wave, audio/wav, audio/x-wav, audio/x-pn-wav, audio/webm, audio/ogg"
## Version
SDK 4.5.2

## Describe the bug
Given the code that works perfectly fine in local emulator but doesn't work when I publish it to skype. It returns 400 - Unknown attachment type for all the audio and text content types.
Feel free to try the example I provided the audio file is open to the public.
[code]

[2019-09-18 10:33] stevkan commented on #2479
Closing as the source of the issue appears to have been identified and no response has been received. If the issue persists after changes have been made to your bot, please feel free to reopen the issue.

[2019-09-18 10:33] #2479 closed

[2019-09-18 15:20] #2471 closed

[2019-09-18 17:11] gabog opened #2542 "Update custom adapters and samples in prep for release"
This task involves updating the custom adapters (twilio, webex and slack) in preparation for release. These activities involve:

- [ ] Apply consistent naming across the custom adapters (e.g.: do we use *Wrapper or *Connector for the clients?)
- [ ] Ensure all of them inherit from the same base and implement the same interfaces (BotAdapter and IHttpBotFrameworkAdapter)
- [ ] Simplify startup.cs an

[2019-09-18 18:15] vishwacsena commented on #2326
Here's the final list of adaptive events and handlers for Ignite release.

![image](https://user-images.githubusercontent.com/20918136/65174355-9d48db00-da05-11e9-963a-2a92fc8ad246.png)

[2019-09-18 18:33] mdrichardson commented on #2466
@mutanttech I'm going to close this issue as it's been confirmed that we're not going to specifically support Danish unless/until Recognizers-Text does so.

Once approved, merged, and released, you'll be able to add your own Locale Dictionaries to Choice and Confirm Prompt through something like:

[code]

[2019-09-18 18:33] #2466 closed

[2019-09-18 20:03] chrimc62 opened #2543 "Update LUBUILD"
lubuild --dialogs needs to generate the root multilingual dialog in the root directory and its names is wrong, i.e. it generates sandwich..lu.dialog.
To generate this:
1) bf dialog:form <schema> -o <dir>
2) cd <dir>
3) lubuild --dialogs
Want schema.lu.dialog in root not in en-us and not named schema..lu.dialog

Repo is https://github.com/microsoft/botbuilder-tools/tree/V.Future/packages/lubuild

[2019-09-18 20:12] chrimc62 opened #2544 "[Form] [Adaptive] Make MultiLanguageGenerator class declarative"
There is no declarative version that is the equivalent of the lu version and the form generator needs that.

[2019-09-18 20:17] chrimc62 opened #2545 "[Form] Create testing infrastructure for LUIS"
Need testing infrastructure to run lubuild to generate LUIS models, use them and cache the results to use offline.

[2019-09-18 20:21] chrimc62 opened #2546 "[Form] Create generator templates for all types"
This includes:
- [x] Help & cancel intents
- [ ] * .dialog event handlers for connecting to each of the queue events
- [ ] All of the possible schema types

[2019-09-18 20:22] chrimc62 opened #2547 "[Form] Create templates and code for add/remove operations"
We need a generic LUIS model template for add/remove of properties and to update the C# runtime to make use of those composites.

[2019-09-18 22:39] v-kydela opened #2548 "Allow dialog sets to remove/replace existing dialogs"
**Is your feature request related to a problem? Please describe.**
Some of our users are encountering difficulties when it comes to using [FormFlow v4](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Dialogs.FormFlow), which is important for migration. When a dialog must be reconstructed in order to be reused, there is no way to repla

[2019-09-19 02:24] yochay opened #2551 "Missing Doc - What cards are supported on each channel?"
## Version
All

## Describe the bug
We have a great doc for activity support across channels - https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0

We do not have a doc describing which cards are supported on which channel. Either append current doc or create a new one.

[bug]

[2019-09-19 03:46] #2326 closed

[2019-09-19 04:47] tomlm commented on #2354
I am 99% certain this bug isn't there any more as I have explicit unit tests for this scenario and it works.

[2019-09-19 04:47] #2354 closed

[2019-09-19 06:10] yeze322 opened #3628 "Request the 'ChoiceInput' form provides an extra field 'choice.description' over 'choice.value'"
**Is your feature request related to a problem? Please describe.**

Sometimes, I want the choice text more descriptive in my ChoiceInput, however, the input value bot collected will also be the descriptive text, it makes me painful when dealing with the choice result in following actions.

![image](https://user-images.githubusercontent.com/8528761/65217436-9f369b00-dae6-11e9-80f3-b96c8bdea3d2.png)

[2019-09-19 06:52] DingmaomaoBJTU opened #2555 "DeleteProperty failed when use attribute name with uppercase"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
When delete a property with attributes contains uppercase, like this:
{
          "$type"

[2019-09-19 16:08] dmvtech commented on #2540
@evgeniy-glushin Just to confirm; you are getting a 400, not a 401 or 403?

This is for adding files? Strange. I know that Skype does some strange stuff with limiting certain file types with retrieving, as you can find [here](https://stackoverflow.com/questions/55323347/retrieving-skype-attachments-when-connected-via-bot-framework/55424583#55424583). I'm not sure this is the same thing, but might

[2019-09-19 18:05] #2400 closed

[2019-09-19 18:08] #2544 closed

[2019-09-19 20:34] DDEfromOR opened #2559 "Functional Tests for Streaming Bots"
There are currently no end to end functional tests for the streaming extensions library integration with Bot Builder. This means if changes to Bot Builder break compatibility with streaming extensions we won't know until it's too late.

Specific test cases that came to mind while writing this:

Round trip message using streaming connections. (Named Pipe w/ DL ASE, WebSocket w/ modified DL ASE or D

[2019-09-19 23:35] Stevenic commented on #2425
Fixed

[2019-09-19 23:35] #2425 closed

[2019-09-20 03:16] DingmaomaoBJTU opened #2566 "[Adaptive] Inputs alway re-prompt even when they have a value set externally"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
**[In one dialog]** When the text prompt is already prompt with asking attribute Dialog.A

[2019-09-20 08:41] evgeniy-glushin commented on #2540
Hi,

Thank you for looking into this issue.
Specifically I get Microsoft.Bot.Schema.ErrorResponseException (see https://s3.eu-north-1.amazonaws.com/yevhenii.ua.dev/BadArgument.png) when the bot replies to a user with an attachment.
I've just checked image/png for you and it works just fine as well as video/ogg. But I need audio/wav or any other audio format. Please let me know if you need everythi

[2019-09-20 12:01] DingmaomaoBJTU opened #2567 "Reprompt as Unrecognized prompt when interrupt back from another flow in one dialog"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
In one dialog's prompt A, when it is interrupted back from another flow, the A prompt sho

[2019-09-20 17:22] #2525 closed

[2019-09-20 17:34] #2145 closed

[2019-09-20 17:35] tomlm commented on #2531
I need more details please:
1. What name for the flag
2. Where is the flag?  On DialogContainer?  On call to CancelAllDialog()?
@Stevenic ??

[2019-09-20 17:51] vishwacsena commented on #2566
I just verified that this does not repro with the latest bits in the SDK (4.Future branch).

[code]

Scenario 1:
[code]

Scenario 2:
[code]

@DingmaomaoBJTU - it would be good to if you can help narrow down the repro.

Closing as no repro for now.

[2019-09-20 19:58] mdrichardson commented on #2466
Note: The code in the above comment was based on a draft I was working on. It's going to change a bit, but will still be that easy.

[2019-09-20 22:24] vishwacsena commented on #2567
This is by design. You have `allowInterruption = notRecognized` which means the active input should use its own recognizer before deciding to consult up. So in this case, `hahaha` was not recognized by the active input and so the unrecognized prompt was issued.

Please reactivate the issue if you set `allowInterruption = Always` and continue to see this issue.

[2019-09-21 02:04] EricDahlvang commented on #2503
Does this work for you @Basavarajsk1992 ?

[2019-09-21 03:03] EricDahlvang commented on #2551
The channel inspector was a great tool:

https://web.archive.org/web/20170710051848/https://docs.botframework.com/en-us/channel-inspector/channels/Skype/

[2019-09-23 01:16] DingmaomaoBJTU commented on #2567
Sorry, I think you misunderstood me. "hahaha" should be captured by meeting content only, but currently "hahaha" is not only captured by meeting content, but also send to the datetime prompt again, so it will result to an unrecognizedPrompt. "hahaha" should only take once by one prompt, that's what I mean.

[2019-09-23 15:35] johnataylor commented on #2245
This is checked in now - the feature surfaces as methods in the TeamsActivityHandler

[2019-09-23 15:36] johnataylor commented on #2181
The mentions work was done in 4.5 (and added to in 4.6 for specific Teams scenarios)

[2019-09-23 15:36] #2181 closed

[2019-09-23 15:37] johnataylor commented on #2244
This is checked in now.

[2019-09-23 15:37] #2244 closed

[2019-09-23 17:30] evgeniy-glushin opened #2583 "[Skype] Can't download an attachment which a user sends to the bot."
## Version
SDK 4.5.2

## Description
I'm trying to download a video message the user sent to the bot and I get 500 without any error message. It happens when I call GetByteArrayAsync but GetTokenAsync works just fine and returns the token. On the other hand it works fine when I send a video file as a file attachment. Please let me know if you have any ideas on how to fix this.

I get 500 when I tr

[2019-09-23 17:36] vishwacsena commented on #2566
Reactivating. I have a repro. The issue appears to be related to SetProperty doing special logic to clear state so the next reprompt will re-evaluate new state. We need to do this in a more generic way and not focus on just setProperty.

[2019-09-23 17:44] vishwacsena commented on #2567
@DingmaomaoBJTU can you help get a reduced repro as a zip file? What you did in the other bug was very helpful to narrow down the issue.

[2019-09-23 18:06] #2392 closed

[2019-09-23 18:13] #2543 closed

[2019-09-23 18:13] #2545 closed

[2019-09-23 18:17] #2504 closed

[2019-09-23 18:20] chrimc62 opened #2584 "[Form] Map from CDM schema to JSON Schema"
Scenario to be determined.  The goal is to drive the form stuff from a CDM scenario.

[2019-09-23 19:24] chrimc62 opened #2586 "[Form] Change form events to include primary properties"
Form events need to add the discoverable properties to the schema.  For example in set there should be optional fields for both the slot and the entity.

[2019-09-23 19:26] chrimc62 opened #2587 "[Form] Form events should set entities in addition to the payload"
It will be much easier to write trigger handlers if you can refer use @foo to refer to an entity value.  To implement this, will have to keep around original entity definition and maybe $instance information as well.

[2019-09-23 19:36] vishwacsena commented on #2566
Need to chat with @DingmaomaoBJTU on the validity of the scenario she is modelling to assess the priority. Tagging as P1 for now.

[2019-09-23 21:59] Virtual-Josh opened #2589 "Update onSend/Update/Delete to prevent conversation reference form being overwritten"
Need to update Activity communications to prevent manually addressed communications from being overwritten by the current onSend implementation.

[2019-09-24 00:23] vishwacsena opened #2592 "[Adaptive] Bring back 'Value' property for inputs"
`Value` property on Inputs was the way by which I could indicate a specific entity (`@userName`) or an expression - e.g. `coalesce(@number, @age)` to be the value for a specific property being prompted for via an `Input` action.

The latest changes to inputs has removed this property without a functional replacement.

Without this property, users will have to explicitly write a trigger handler wit

[2019-09-24 02:54] DingmaomaoBJTU commented on #2567
Sure. Add composer version here:
[testInterruptionLUIS.zip](https://github.com/microsoft/botbuilder-dotnet/files/3645001/testInterruptionLUIS.zip)

In current composer, its behavior looks like this:
![image](https://user-images.githubusercontent.com/16643193/65477557-4174cb00-deb9-11e9-937a-8d04a82a9992.png)

But in current SDK, its behavior is different but also incorrect. You can check screensho

[2019-09-24 03:24] DingmaomaoBJTU commented on #2566
[testInterruptionLUIS1.zip](https://github.com/microsoft/botbuilder-dotnet/files/3645069/testInterruptionLUIS1.zip)

For more generic scenario you can check this. What I want to do is use an intent handler to resolve luis result. Please correct me if you have better suggestion.

[2019-09-24 03:56] vishwacsena commented on #2566
Verify repro in latest 4.Future branch for interruption intent with sendActivity + set property.

[2019-09-24 04:21] vishwacsena commented on #2566
Verified I can repro this with the latest in 4.Future branch.

[code]

**Expected**:
[code]

**Actual**:
[code]

[2019-09-24 04:37] vishwacsena opened #2594 "[Adaptive] Consultation is not working"
Consultation does not work the second time.

[code]

Expected:
[code]

**Actual**:
[code]

[2019-09-24 06:47] vishwacsena commented on #2423
In the code sample below, this.options.xxx does not work. What the is the correct way to access properties configured on Inputs?

[code]

**Error**:
[code]

[2019-09-24 09:04] evgeniy-glushin commented on #2540
@dmvtech Sorry for bothering I know you are very busy. But could you please let me know if you had a chance to look into this issue. Thanks.

[2019-09-24 09:31] trojenguri opened #2595 "[QnA Maker] Consume "ActiveLearningEnable" flag in QnAMaker action"
Configure if QnA Maker should call active learning or not based on the flag.

[2019-09-24 10:52] garypretty commented on #2211
@martinoss Thanks again for reporting this.  I have tried a bot with a bot file with no id, using an older version of the SDK, as well as the current 4.6 preview, but I am unable to reproduce this issue.  In all cases the transcript is logged correctly and the Recipient.Id is populated.

Could you elaborate a little more on the connection you have found between activity.Recipient.Id and   the bot

[2019-09-24 14:21] garypretty commented on #2474
Tracking PR #2580 which should fix this issue.

[2019-09-24 14:21] garypretty commented on #2477
Tracking PR #2580 which should fix this issue.

[2019-09-24 15:21] martinoss commented on #2211
@garypretty Thanks for looking into this. Transcript logging fails silently in my case, but the error can be observed in Visual Studio's output window like this (v.4.5.1):

[code]

See this line here causing the issue:
https://github.com/microsoft/botbuilder-dotnet/blob/bfe475a0dbab4cd5aa840882e2fedfb5b8ff74ba/libraries/Microsoft.Bot.Builder.Azure/AzureBlobTranscriptStore.cs#L92

Id is null when t

[2019-09-24 15:28] garypretty commented on #2211
@martinoss Thanks for the additional info.  Obviously with all the sensitive keys removed etc.  I am unable to even make my bot fail silently, with the Recipient.Id property always populated, even if I have no id on my endpoint in the bot file. I am wondering if there is a difference between how the configuration is being read or the bot is being initialized that would explain this.

Is your bot i

[2019-09-24 16:49] som-nitjsr opened #2597 "user state is causing user.name memory scope null."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
  **var test = _userState.CreateProperty<UserProfile>("UserProfile").GetAsync(turnContext

[2019-09-24 16:50] johnataylor commented on #2372
fixed https://github.com/microsoft/botbuilder-dotnet/pull/2593

[2019-09-24 16:57] #2372 closed

[2019-09-24 17:16] sbacha commented on #2437
any updates on this ?

[2019-09-24 17:43] EricDahlvang commented on #2503
Hi @Basavarajsk1992

I'm closing this issue and assuming the code provided works for you.

[2019-09-24 17:43] #2503 closed

[2019-09-24 17:45] EricDahlvang commented on #2437
Related: https://github.com/microsoft/botbuilder-dotnet/issues/2450

[2019-09-24 18:09] carlosscastro commented on #2597
Assigning to @stevenic as this is adaptive in 4.Future branch.

[2019-09-24 18:29] dmvtech commented on #2540
I started to, but haven't been able to complete it yet. Can you please test .wma and .m4a files? Again, I [wonder ](https://stackoverflow.com/questions/55323347/retrieving-skype-attachments-when-connected-via-bot-framework/55424583#55424583)if it is related to a Skype file extension whitelist.

[2019-09-24 20:03] v-kydela commented on #2548
I've unassigned myself because I want to make it clear that I'm not going to do anything with this without a decision from the SDK team

[2019-09-24 20:44] v-kydela commented on #1589
@aforank - You meant `dc.Context.Responded`, right?

[2019-09-24 20:57] cleemullins commented on #1589
Changing this would break existing behavior and bots. I don't think this is a change we can take at this time.

[2019-09-24 21:20] v-kydela commented on #1589
@aforank - While I believe it would make a lot of sense to treat `TurnContext.Responded` differently, right now we want to ensure that people's bots break as seldom as possible when they upgrade to newer versions of the SDK. It's common for people to want to prevent prompts from reprompting and rare for people to want to ensure that a prompt reprompts.

Consider that the reason `OnPromptAsync` is

[2019-09-24 21:20] #1589 closed

[2019-09-24 23:27] tomlm opened #2600 "[DCR] Add bot level triggers"
We have done a great job of modeling dialog events and triggers, but we need some bot level triggers.

See PR #2599 for code review

| trigger| triggered | value| description|
|----|---|---|---|
**OnNewConversation** | new Conversation Id is passed | Conversation Account| This is super useful for defining actions to do for new conversations
**OnEndConversation** | when Activity.Type=EndOfConversat

[2019-09-25 01:47] vishwacsena commented on #2595
@trojenguri - do we need this for 4.6? If so, backlog is not the right label.

[2019-09-25 03:40] aforank commented on #1589
@v-kydela That's alright. I understand that this change would break a lot of production bots.

I raised this issue almost 6 months back and as far as remember I overrode the OnPromptAsync method as per my needs.

[2019-09-25 10:18] trojenguri commented on #2595
Removed Backlog.

[2019-09-25 10:20] evgeniy-glushin commented on #2540
@dmvtech  I've just tested .wma and .m4a content types and I get the same error. I'm wondering if you can access the skype team maybe the can comment on this.

[2019-09-25 12:08] ladeak opened #2602 "Sync read of request body throws on .netcore 3.0"
## Version
4.5.2

## Describe the bug
HttpHelper throws an exception on .net core 3.0, because  of reading the request body sync.

## To Reproduce
Create a .net core 3.0 based chatbot, and send a message to it.

## Expected behavior
It shall now throw exception in ProcessAsync method, because it shall use async read.

## Additional context

### Related to
https://github.com/aspnet/AspNetCore/issue

[2019-09-25 17:27] dmvtech commented on #2583
I'm taking a look to see if I can reproduce. Is it only with video files, or does it reproduce with other files as well?

[2019-09-25 18:17] vishwacsena commented on #2502
consider adding a new property on HTTP request that user can configure return codes to ignore throwing an exception for - e.g. 404.

[2019-09-25 19:18] evgeniy-glushin commented on #2583
@dmvtech It reproduces when I send a video message in skype. Looks like I'm not only one who is facing this problem https://social.msdn.microsoft.com/Forums/officeocs/en-US/cf97950f-7af6-4ed4-a053-d3453198c090/500-server-error-while-downloadning-file-from-skype?forum=AzureCognitiveService

[2019-09-25 19:18] stevengum opened #2603 "[Teams] Add .ToMessagingExtensionAttachment() (or better) extension method"
_Originally posted by @johnataylor in https://github.com/microsoft/botbuilder-dotnet/pull/2588_

A factory/helper method might be warranted for this issue. An additional problem is that we haven't tested the other properties on the MessagingExtensionAttachment, which has properties like `ContentUrl`, `Name` and `ThumbnailUrl`.

[2019-09-25 19:21] stevengum commented on #2603
The helper method should optionally take a `Attachment preview` parameter for the `MessagingExtensionAttachment.Preview`,  but also validate the `preview` that it does not do things like contain a button. (This blows up in the Teams client).

Also, an [extension method](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet/blob/master/CSharp/Microsoft.Bot.Schema.Teams/AttachmentExtensions.

[2019-09-25 19:56] vishwacsena opened #2604 "[Adaptive] [DCR] Name changes to some actions"
This DCR proposes changing names and or title + description of some of the actions we support in the Adaptive SDK.

|Type | Current | New name | Reason |
|------|-------|------------|--------|
|Action | BeginDialog | CallDialog | call a dialog is much more neutral. Begin is only when you start from scratch, or when you are using it as a noun, is it seems to apply to only one dialog: the root dialo

[2019-09-25 20:26] Virtual-Josh commented on #2589
This will be done in this branch:

https://github.com/microsoft/botbuilder-dotnet/tree/johtaylo/teamsextensions

[2019-09-25 21:00] cleemullins commented on #2589
Done in the branch. Needs Unit Test / PR.

[2019-09-25 21:04] cleemullins commented on #2509
Done.

[2019-09-25 21:04] #2509 closed

[2019-09-25 21:06] cleemullins commented on #2458
Duplicate of #2463

[2019-09-25 21:06] #2458 closed

[2019-09-25 21:09] cleemullins commented on #2125
@cahann, please provide a workaround, a fix, or resolve this as by design.

[2019-09-25 21:13] cleemullins commented on #2120
@tomlm, IIRC you wrote both side of the Transcript store and this was one of your design goals. Could you take a quick look and see if you can fix?

[2019-09-25 21:41] cahann commented on #2125
Resoving this issue as this behaviour is by design

[2019-09-25 21:41] #2125 closed

[2019-09-26 00:42] Virtual-Josh commented on #2589
PR is in. Closing.

[2019-09-26 00:42] #2589 closed

[2019-09-26 00:45] Virtual-Josh opened #2606 "Messaging extension scenario port from JS to C#"
This is the tracking ticket for the port of the messaging extension scenarios

- [x] Action based
- [x] Search based
- [x] Compose based

[2019-09-26 18:32] cleemullins commented on #2602
@ladeak, thanks for reporting this. We don't (yet) support .Net Core 3, and haven't done any testing on it. This seems like a great work item for us to take up in our 4.7 Milestone, which starts in November and ends in mid December.

In the mean time, if you would like to submit a PR to fix this I would be more than happy to look at it. The only real concern is the fix needs to be back-compatable

[2019-09-26 18:38] vishwacsena commented on #2502
Use a switch condition on the http status code to do what you need - e.g. emit a custom event or emit an error event etc.

[2019-09-26 18:38] #2502 closed

[2019-09-26 19:32] lauren-mills commented on #2474
Confirmed the PR fixes the issue

[2019-09-26 22:23] Stevenic opened #2609 "Expressions shouldn't return an error for an invalid path"
## Describe the bug
Looking at the C# adaptive code I noticed that we don't always raise an exception when evaluating an expression that returns error.  Talking to @tomlm, he said it's because the expression engine currently returns an error anytime an invalid path is encountered.  The issue with that is that the user has no way of knowing that their bot isn't working because of a bug in their exp

[2019-09-27 01:21] chrimc62 opened #2612 "[Adaptive] [LG] Expressions should have access to global scopes"
A called template does not have access to the global scopes like turn/dialog/settings.  This is confusing and puts a burden on all template callers to pass in the correct global information.  Much better if we look for a local parameter and if we don't find it fallback to the global scopes.

As an example in the form stuff I wanted to do this:
# AskBread
- [askEnum('Bread')]

# askEnum(prop)
- Whi

[2019-09-27 10:39] martinoss commented on #2211
@garypretty I've reproduced the case in a new bot, see [https://github.com/martinoss/EchoBotTranscript](https://github.com/martinoss/EchoBotTranscript)

[2019-09-27 10:44] garypretty commented on #2211
Thanks @martinoss I will take a look and get a fix implemented. Thanks again for reporting.

[2019-09-27 16:43] ladeak commented on #2602
https://github.com/microsoft/botbuilder-dotnet/pull/2614

[2019-09-27 17:29] garypretty commented on #2211
@martinoss I have just downloaded your EchoBotTranscript solution, populated a storage connection string and ran the bot - the transcript logging seems to be working as expected.  I see how errors thrown in the output window and the transcript logs are being recorded (see the screenshots below - Azure portal and downloaded JSON).

I left the bot file endpoint as it was. i.e. with no Id property at

[2019-09-27 18:43] Virtual-Josh commented on #2606
Done.

[2019-09-27 18:43] #2606 closed

[2019-09-27 21:13] RustyDes opened #2964 "[Hackathon] Variable names requirement complex and lack discoverability"
## Version
(N/A)

## Describe the bug
Composer will produce something that doesn't work if property naming doesn't follow some guidelines (which are not intuitive to a new user). Ideally it should be made to work with simple property names (by defaulting to a default scope), or if not feasible, it should at least yell at the user when the user enter those invalid properties.

## To Reproduce
Steps

[2019-09-27 21:37] Virtual-Josh opened #2619 "[TEAMS] build scenario for bot preview"
Build scenario around

OnTeamsMessagingExtensionBotMessagePreviewEditAsync

&

OnTeamsMessagingExtensionBotMessagePreviewSendAsync

[2019-09-27 22:57] dmvtech opened #2963 "[Adaptive] New actions - SetProperties; InitProperties; DeleteProperties"
**Is your feature request related to a problem? Please describe.**
To be able to set many properties, you must use many different SetProperty.

**Describe the solution you'd like**
It would be nice to have a SetProperties, or some way to set many properties at once, instead of many individual SetProperty