[2020-08-14 08:22] vipeketi opened #4454 "QnAMaker GenerateAnswer filters need to support OR operation."
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and conci

[2020-08-14 08:24] vipeketi commented on #4454
Dot net implementation #4446

[2020-08-14 12:22] DavidStrickland0 opened #4455 "Contextual Intent and QNA support"
**Is your feature request related to a problem? Please describe.**
Questions and User Intents are often different based on the context. The most obvious example (though not that only one) is perhaps that on any dialog at any point the user might ask the question "why?", "where?" or "when?" with the current implementation there is no clean way to support this without creating a separate Recognizer

[2020-08-14 17:02] peterinnesmsft commented on #4425
@boydc2014 is there any update on initial triage for this issue?

[2020-08-14 18:08] peterinnesmsft commented on #4455
Will follow up with the necessary folks internally to figure out how best to route this issue. Will follow up soon.

[2020-08-14 18:11] peterinnesmsft commented on #4378
@vishwacsena any follow up here to define requirements per DCR ask?

[2020-08-14 18:12] peterinnesmsft commented on #4310
Adding to backlog for further consideration.

[2020-08-14 19:39] cleemullins opened #4458 "Build Warnings in .Net Daily Build"
The .Net Daily builds have 6 build warnings that need to be cleaned up.

![image](https://user-images.githubusercontent.com/1165321/90286603-11188100-de2b-11ea-925b-052efdf861d0.png)

[2020-08-15 01:19] mrivera-ms opened #4460 "Resolve Microsoft.Bot.Builder.Dialogs.Declarative.Tests.TestDialogResourcesAreValidForSchema test failures"
Test failing in Microsoft.Bot.Builder.Dialogs.Declarative.Tests.
Name: TestDialogResourcesAreValidForSchema

Error message: `Assert.Fail failed. D:\a\1\s\tests\Microsoft.Bot.Builder.TestBot.Json\Samples\80 - AdaptiveSkillDialog\AdaptiveSkillDialog.main.dialog JSON is valid against no schemas from 'oneOf'. Path ''.`

The last build against master, commit c6ff4a4, run #157298, failed, and passed run

[2020-08-15 02:02] boydc2014 opened #4461 "Solution file is altered after tests is run"
### Actual:
My Microsoft.Bot.Builder.sln is altered as the following once i just run all the tests
![image](https://user-images.githubusercontent.com/3829387/90303154-492ccc00-dede-11ea-8fb0-02852c60fc4e.png)

### Expected:
My solution file and any other files should be not updated when tests run

[2020-08-15 02:26] #4420 closed

[2020-08-15 23:08] Stevenic opened #4462 "DCR: remove indention from serialized activities sent by BotFrameworkAdapter"
When the C# `BotFrameworkAdapter` sends activities it currently indents the JSON (see below.)  For activities with complex adaptive cards this can result in 10kb or more worth of spaces and crlf's added to the outgoing activity. Channels like teams have a 24kb message limit so this added spacing severely limits the size of the card we can send. We should remove the indention from the JSON generate

[2020-08-16 19:36] guru98 commented on #4381
Any news? I have an other app that use adaptive dialog and I used MultiLanguageGenerator in that case and everything works fine.
I also notest that in the skill examples the activity files are duplicated (one per language) so I assume that developers have the same problem there.

[2020-08-16 19:56] EricDahlvang commented on #4462
ConnectorClient SerializationSettings:
[code]

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Connector/ConnectorClient.cs#L328

[2020-08-16 21:37] vishwacsena commented on #4455
@DavidStrickland0 Two recommendations -
1. `QnAMakerRecognizer` supports the ability to [automatically add active dialog name][1] as `dialogName = <activeDialogName>` meta data filter pair. If your questions are authored with `dialogName = <yourDialogName>` meta data, then you will have QnA return appropriate results based on the active dialog
2. If you are using adaptive dialog, then you might wa

[2020-08-17 08:18] DavidStrickland0 commented on #4455
Not certain what you mean by
" If your questions are authored with dialogName = <yourDialogName> meta data"

![image](https://user-images.githubusercontent.com/12382552/90373736-4f4fb380-e06a-11ea-8662-cd63ef7b6843.png)

My Options at the moment are limited to the Question and the Answer how do I author with additional MetaData?.

[2020-08-17 09:46] jsiegmund opened #4464 "DialogStateManager.TryGetValue throws ArgumentException"
## Version
4.9.4

## Describe the bug
I'm using `DialogStateManager.TryGetValue` to get a typed value from the dialog state. When attempting to cast to a wrong type, this ends in an exception being thrown.

## To Reproduce
Steps to reproduce the behavior:
1. Store some value in state
2. Use `dc.State.TryGetValue` to retrieve the value from cache, but supply the wrong type

## Expected behavior
I w

[2020-08-17 10:44] cosmicshuai opened #4465 "getNextViableTime, getPreviousViableDate, getPreviousViableTime produce wrong results"
suppose the current DateTime is `2020-08-01T00:12:20.000Z`
getPreviousViableTime('XXXX-08-10') will return `2020-08-10` rather than  `2020-08-10`
getPreviousViableTime ('TXX:40:20') will return T-1:40:20 rather than `T23:40:20`

suppose the current DateTime is `2020-08-01T23:12:20.000Z`
getNextViableTime ('TXX:10:20') will return T24:10:20 rather than `T00:10:20`

[2020-08-17 15:55] EricDahlvang opened #4467 "Fix duplicate code in OAuthPrompt and OAuthInput"
https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs

and

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs

Have many identical blocks of code.  In R10, an update was made to `OAuthPrompt` but not `OAuthInput`.  These two are now out of sync (OAuthInp

[2020-08-17 16:24] vishwacsena commented on #4455
@DavidStrickland0 two options -
1. When using `qnamaker.ai` portal, you can follow instructions [here][1] to add meta data filters
2. If you are using `.qna format`, you can add meta data filters using [this][2] notation.

[1]:https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/add-question-metadata-portal#add-metadata-to-filter-the-answers
[2]:https://docs.microsoft.com

[2020-08-17 16:43] clearab commented on #4462
Does this break tools like the Emulator that are expecting this to be already formatted, and aren't pretty formatting it themselves?

[2020-08-17 17:42] jwiley84 commented on #4381
Hi @guru98 I noted the same thing in the samples, it was why I asked for your lg files. I'm trying to repro using the steps  you outlined, to see if this occurs without even using languages. Thank you for your patience.

[2020-08-17 17:57] jwiley84 commented on #4381
I'm  not able to repro this issue (mine is not erroring, it's just blank), so I'm going to reach out to to a coworker for this.

[2020-08-17 18:11] peterinnesmsft commented on #4244
@tomlm are you able to take a quick look and help with @anusharavindrar's question?

[2020-08-17 19:53] clintwar opened #4468 "CloudAdapter and ConnectorClient Does Not Honor RetryPolicy"
## Version
4.9.4.0

## Describe the bug
When defining BotFrameworkOptions and you provide a ConnectorClientRetryPolicy the policy is not used by ConnectorClient produced by BotFrameworkAdapter.

## To Reproduce
Configure BotFrameworkOptions to provide RetryPolicy, or don't provide any policy (ServiceClient<T> offers a default policy)
Trigger some transient error like 429 when sending on a conversa

[2020-08-17 21:41] guru98 commented on #4381
Hi @jwiley84 ,
here the simplest way to reproduce the error.
create 2 files first.lg and  second.lg (in attach)
than you can make 2 calls:
`Templates` lgTemplates = Templates.ParseFile(Path.Combine(".", "Resources", "first.lg"));
            var t1 = lgTemplates.Evaluate("test2");
            var t2 = lgTemplates.Evaluate("second2");
`
[lgfiles.zip](https://github.com/microsoft/botbuilder-dotnet/f

[2020-08-17 22:35] EricDahlvang commented on #4462
@clearab  good point.

I did test with the Emulator, and didn't notice anything.  But, we should expose the SerializationSettings as a parameter to the adpater (and pushed down to the ConnectorClient) in case some tools are expecting this.

[2020-08-17 23:32] vishwacsena commented on #4381
@boydc2014 can you help/ comment?

[2020-08-17 23:56] boydc2014 commented on #4425
@peterinnesmsft Shuai and I was looking into this last week.  Shuai have his initial reply above.

So, @VinaiMeyyappan, our investigation showed that "2020-08-11T14" is not a valid timestamp format using the standardized C# library. Can you share more details about how you get this timestamp, is it using timex library or LUIS?  if it's a common scenario, like @cosmicshuai proposed above, we will a

[2020-08-18 01:47] Danieladu commented on #4425
Timex is a general type for date/time/daterange/timerange/datetimerange, if you just want to get the "datetime" type,  suggest you use the "value" property in LUIS resolution. That might work.

[2020-08-18 05:26] arafattehsin opened #4471 "404 on Composer (1.1.0) Release Notes"
Hi Team

Is it being rolled out or an actual link is different? I am not able to locate Composer Release notes as mentioned in the BF SDK 4.10 release notes.

Cheers
Arafat

[2020-08-18 07:47] jsiegmund opened #4472 "Provide documentation on using Microsoft.Bot.Builder.Dialogs.Adaptive.Testing"
**Is your feature request related to a problem? Please describe.**
I have seen the Microsoft.Bot.Builder.Dialogs.Adaptive.Testing preview package and perhaps due to the preview state there seems to be little documentation on this.

I'm in the progress of building a bot using the adaptive dialog. I'm struggling with how to properly (unit)test this code. For instance, I'm using `PropertyAssigment`s

[2020-08-18 08:43] xieofxie commented on #4472
If you are writing bot code in dialog files, you could follow the tests to build your tests https://github.com/microsoft/botbuilder-dotnet/blob/master/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/TestScriptTests.cs

[2020-08-18 10:16] jsiegmund commented on #4472
I took a look but I'm not sure how I would have to proceed. This all seems to be highly convention based (down to the actual test methods all being the exact same!?) which is nice if you know the convention or have documentation on it, but is very confusing and challenging to adapt when you have no clue. And I'm afraid I fall into the second category.

Also I see an `AssertReply` test, but no `Ass

[2020-08-18 11:07] jsiegmund commented on #4472
Maybe also a more general question on the topic of testing: a scripted approach as found in these tests is a nice thing to have to test the interactions with a bot in general. But when things get more complex than just simple Hello World style solutions, the complexity of these tests would quickly increase. So I would be interested in some guidance / guidelines on how to structure a bot, dialogs a

[2020-08-18 13:47] jwiley84 commented on #4381
My repro was the same as your second set of files, which is why I am so very confused why I'm getting a different problem all together. Hopefully @boydc2014 will be able to help us untangle this.

[2020-08-18 13:53] maheshcm80 opened #4473 "all intents are not available in bot framework adaptive dialogs"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
I have an issue in getting all intents in adaptive dialogs. i need all intents available in my child dialog to trigger second top scoring intent.

**Describe

[2020-08-18 15:28] EricDahlvang commented on #4471
Hi @arafattehsin

Thanks for opening this issue.

Yes, the release notes are in the process of being rolled out.  That link should be live within days.

[2020-08-18 15:28] #4471 closed

[2020-08-18 17:08] EricDahlvang commented on #4467
Investigate why the OAuthPrompt is sending the CancellationToken as the InvokeResponse:

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L518

and

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L525

[2020-08-18 18:15] peterinnesmsft commented on #4425
@VinaiMeyyappan is there any additional information or asks on the team to help resolve this issue that you are looking for?

[2020-08-18 20:33] sgellock commented on #4464
@tomlm sending over to you for review

[2020-08-19 01:32] Debro012 opened #4475 "Retrieve Conversation ID for any conversation the Bot is a member of, and not only the conversation which the Bot is in at a given time."
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

Yes. At this time, I am unaware of an ability for a bot to obtain the conversation ID for any conversation the Bot is a member of-- without the Bot utilizing

[2020-08-19 01:55] #4465 closed

[2020-08-19 06:15] Danieladu commented on #4425
I can provide some suggestions for the datetime input usage:
Here is the dialog file, as as reference.
[code]

Thanks.

[2020-08-19 07:04] #4152 closed

[2020-08-19 10:17] guru98 commented on #4381
Hi, i did some test. My feeling is that the issue is related to importResolver and resourceID.
I didn't understand all the implications but the template is in the AllTemplates list but not resolved and this could be an issue with the resourceid. If you use adaptive dialog they use a different approach with a different importResolver.

[2020-08-19 12:40] jsiegmund opened #4477 "OAuthInput does not work from within MS Teams chat context"
## Version
4.10.0

## Describe the bug
OauthInput for AdaptiveDialog is not working in MS Teams

## To Reproduce
Steps to reproduce the behavior:
1. Implement OAuthInput dialog to connect to a Generic Oauth provider using bot service
2. Test locally, works
3. Test remote using webchat, works
4. Deploy in Teams using manifest
5. Card shows to sign in, clicking the sign-in button doesn't prompt any

[2020-08-19 14:14] sschutten opened #4478 "Avoid sending typing activity when bot is invoked as skill"
## Version
4.9.4

## Describe the bug
The ShowTypingMiddleware doesn't consider if it is running in the context of a root bot or a skill. This will cause unnecessary typing events if both the root bot and the skill are sending typing events. To avoid this the ShowTypingMiddleware should check the context using the `SkillValidation.IsSkillClaim` and only send typing events when running as a root bo

[2020-08-19 14:21] boydc2014 commented on #4381
Hey, @guru98 sorry for the late response and the inconvenience, the behavior is expected.

Prior to 4.9.x, LG imports works more like a "flatten" like what you observed, which is not the usual pattern (a directed dependency graph) in normal programming language that.

This "flatten" works well and did provide some convenience in certain scenario that you don't have to remember which one import whi

[2020-08-19 14:45] guru98 commented on #4381
Hi Dong,
Thanks for your answer. What you describe have sense but have a very Bad behavior for multilanguage where you have template for text and common template for activities. In that case you have to duplicate template related to activities for every language that is a no so good behavior. What you suggest in that case. Use of namespace can mitigate the issue? Thanks

Ottieni Outlook per Androi

[2020-08-19 15:01] boydc2014 commented on #4381
Hey @guru98, customized import resolver is what we recommended in your scenario, if i understand your scenario correctly. For example,  i assume you have, let's say 3 lg files.

common.lg, hello.en-us.lg, hello.fr-fr.lg

common.lg  // in where you defined a shared function, sayHello
[code]

hello.en-us.lg // in here you defined a helloText in en-us
[code]

hello.fr-fr.lg // in here you defined a h

[2020-08-19 16:45] guru98 commented on #4381
Seems ok. Two questions: in.the adaptive dialog language generator my approach still work. It is subject to change? What happen for declarative dialog in that case? I have to use custom dialog? Anyway if you have Samples for custom importresolver are welcome
________________________________
From: Dong Lei <notifications@github.com>
Sent: Wednesday, August 19, 2020 5:01:22 PM
To: microsoft/botbuild

[2020-08-19 17:18] Zerryth commented on #4409
@vishwacsena removing myself, to show up in query to assign appropriate engineer to fix

[2020-08-19 18:10] peterinnesmsft commented on #4473
@maheshcm80 this is currently by design. Our support team can follow up to better understand your scenario and we can see what we can do to help address.

[2020-08-19 18:13] peterinnesmsft commented on #4468
@clintwar thank you for submitting a PR. We will follow up and take a look at this shortly.

[2020-08-19 19:12] #4461 closed

[2020-08-19 19:23] dmvtech commented on #4437
I believe the strictFilters are meant to be pretty strict. That's why it doesn't work that way.

If you have specific scenario/situation where you have a a set list of values, you could (conceivably) add logic in your code before [applying strictFilters](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage#use-qna-maker-with-a-bot-in-c) to QnAMake

[2020-08-19 20:01] #4361 closed

[2020-08-20 00:39] boydc2014 commented on #4381
Do you mean in AdaptiveDialog's languagGenerator, your 2.lg can still access 1.lg's templates even it's 1.lg importing 2.lg (not 2。lg import 1.lg)?   I don't think that's supported, because the generators in adaptiveDialog packages (either "TemplateEngineLanguageGenarator" or "ResourceMultiLanguageGenerator") is an upper layer call of the core lg library api which has already upgraded to this new

[2020-08-20 03:41] Stevenic opened #4483 "DCR: add forcount() prebuilt function"
There's currently no great way to call an expression an arbitrary number of times. We have `foreach()` but that enumerates an existing array. I was trying to generate an arbitrary number of mock objects and I ended up having to manually create an array with 50 elements and then use `take()` to prune that down to "n" number of elements so that I could then call foreach in a loop.  This worked ok fo

[2020-08-20 05:07] maheshcm80 commented on #4473
okay thank you, please provide me any work around solution for this.

[2020-08-20 05:27] peterinnesmsft commented on #4473
Our Support team should be able to pick this up. We will keep this issue active and they will follow up soon and assign it to someone that can further supported. Stay posted!

[2020-08-20 05:38] Danieladu commented on #4381
Here the simple sample for MultiLanguageLG to handler multi lingual cases with custom import resolver.
https://github.com/microsoft/botbuilder-dotnet/blob/12a204021c2347e3991b4b3f9f8a182d8d99d911/tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/MultilanguageLGTest.cs#L95

Hope it helps.
Thanks.

[2020-08-20 05:39] VinaiMeyyappan commented on #4425
use this schema file

`{
    "$schema": "http://json-schema.org/draft-07/schema",
    "type": "object",
    "properties": {
        "ReadingDate": {
            "type": "string",
            "format": "date"
        },
        "ReadingTime": {
            "type": "string",
            "format": "time"
        }
    },
     "required": [
        "ReadingDate",
        "ReadingTime"
    ]
}
`
follow

[2020-08-20 06:14] saikiran521 commented on #4437
thank you for your response @dmvtech, will raise a ticket in QnAMaker

[2020-08-20 06:16] boydc2014 commented on #4425
Thanks @VinaiMeyyappan  for the infomation, we will try to setup the environment.

The root cause as above is because this timex value (2020-08-19T14) is not a standardized date time format, thus can't be formatted in current implemented.

But per our previous investigation, i think both LuisRecognizer and DateTimeInput already done this formatting, they will has a "value" property which already h

[2020-08-20 10:22] luhan2017 opened #4485 "expandText will throw exception when evaluate a string which includes "##""
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

In composer I imported some qna pair from url, and the answer format is this:
[code]
[code]
qnasample-26.en-us.lg:[Error] inline content: Invalid template name: ‘# Mana

[2020-08-20 16:19] #4360 closed

[2020-08-20 16:49] guru98 commented on #4381
Hi, i did some test and I think i understand the point... i will update my code soon.
Anyway the "flat approach continue to work with adaptivedialog lggenerator updating library to 4.10. Considering that working with adaptivedialog push to use smaller lg files for every dialog or so this approach could be resonable without major impact on performance. Thanks for your amazing support

[2020-08-20 17:18] #4437 closed

[2020-08-20 17:54] tomlm opened #4487 "Cycle-detector fails with non-file based resource providers"
## Version

4.10.0-rc

## Describe the bug

PVA has a non-file/folder based resource provider.  The new cycle detection relies on sourcemap.path being set, but we only set it from 

## To Reproduce

Create custom resource provider and try to load it it will fail because cycle detection.

## Expected behavior

Should work with non-file based resources.

[2020-08-20 18:11] tomlm opened #4489 "PVA DCR: DotNet classes need proper output Serialization support"
## Version

4.10

## Describe the issue

PvA uses dotnet for it's composer like scenarios, so it needs to write .dialog files as well as read them.  Our dotnet libraries don't have unit tests for this and don't round-trip data via the serialization paths.

## Expected behavior

When you load .dialog files into dotnet classes, you can edit them in memory and save them back out, maintaining all meta

[2020-08-20 18:12] #4487 closed

[2020-08-20 18:13] tomlm opened #4490 "PVA Request: Cycle detection should throw an exception instead of returning null."
## Version

4.10.x

## Describe the bug

When cycle detection detects a cycle it simply terminates it with null.  PVA would like that it would throw an exception, because they want to validate at import time that the dialog will work.

## Expected behavior

That it throws an exception or has configuration to enable throwing when cycles are detected.

[2020-08-20 18:16] tomlm opened #4491 "PVA DCR: Object graph is too large for co-tenanted environments"
# Problem
The declarative type loader creates a clone of an object on every reference.  So every place we refer to foo.dialog we load another copy of foo and stitch it into the object graph. PVA is worried about memory footprint for lots of co-hosted bots.

# Suggested solution
We should maintain a dictionary cache for the lifetime of loading the dialog references, so that every reference to foo.d

[2020-08-20 18:21] EricDahlvang opened #4492 "Review SchemaMergeTests"
These tests might be better run nightly, or in a functional tests pipeline:

https://github.com/microsoft/botbuilder-dotnet/blob/master/tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/SchemaMergeTests.cs

[2020-08-20 18:24] peterinnesmsft commented on #4478
@sschutten thank you for submitting a PR for this issue! One of our team members will look at it shortly.

[2020-08-20 20:17] jwiley84 commented on #4477
Hi @jsiegmund Are you using a particular sample, or are you implementing this yourself?

[2020-08-20 20:27] EricDahlvang opened #4493 "AdaptiveExpressions library could be in a separate repository"
Consider moving AdaptiveExpressions  out of the BotBuilder repository, into its own repo.

One reason in particular is the struggle to get these tests right, and the build passing consistently.  The amount of time and effort spent on failing builds due to AdaptiveExpressions could be much more isolated if this library was in a separate repository, and just pulled in as a dependency.

[2020-08-20 20:32] v-kydela commented on #4473
Thank you for the feature request, @maheshcm80

From a support perspective, I've already addressed this here: https://stackoverflow.com/a/63123545/2122672

From a feature request perspective I'm afraid this has been declined for now, but the team may reexamine it if we see more customers having this issue.

[2020-08-20 20:32] #4473 closed

[2020-08-20 23:46] stevengum commented on #4493
@EricDahlvang this seems like it should be moved to microsoft/botframework-sdk as `adaptive-expressions` exists in botbuilder-js and work is being done on it in botbuilder-python.

What do you think?

[2020-08-21 07:07] jsiegmund commented on #4477
Hi @jwiley84, implementing it myself.

[2020-08-22 21:01] cwhitten opened #4499 "Where is dialog.lastActivity? It's used in schema examples but doesn't appear to be real."
See the component schema for Microsoft.DeleteActivity:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.DeleteActivity.schema#L21

The scenarios for DeleteActivity and UpdateActivity require keeping track of certain activity id's, and dialog.lastActivity is a great example, however it doesn't appear to work.

[2020-08-23 19:41] Stevenic opened #4501 "Array handling within LG is completely broken for sub expressions..."
## Version

4.9.4 and 4.10.0

## Describe the bug

Using an array (or a prebuilt function that manipulates arrays) with an expression seems to work fine. But the moment you pass that around to/through a sub expression things get wonky. I've put together a simple set of test expressions:

[code]

The output of these 7 test expressions is here:

![](https://user-images.githubusercontent.com/698939/9

[2020-08-23 20:05] Stevenic opened #4502 "Adaptive Expression string() function drops trailing double quote"
## Version

4.10.0

## Describe the bug

The `string()` expression function will JSON  escape any strings passed in. It's arguable that it should modify passed in strings at all but it does. An issue I've observed is that it will drop any any double quotes that occur at the end of the string. The test expressions below:

[code]

Result in the following output:

![](https://user-images.githubuserco

[2020-08-24 00:45] #4501 closed

[2020-08-24 00:47] boydc2014 commented on #4501
Closed, due to the root cause is the trailing space in the template body, the object manipulation design is expected.

[2020-08-24 03:21] boydc2014 commented on #4418
Thanks @scheyal, we will look into this soon.

[2020-08-24 03:25] boydc2014 commented on #4381
Thanks @guru98, we are closing this for now.

[2020-08-24 03:25] #4381 closed

[2020-08-24 03:29] boydc2014 commented on #4418
Initial investigation showed SDK support empty fine, but it fails in Composer main branch.

[2020-08-24 06:55] cosmicshuai commented on #4418
@scheyal @boydc2014 @Danieladu
The error is caused by the parser of string interpolation. ${``} should yield an empty string but thorws an error.
While evaluating a json expression, it will resolve the data bindings recursively. So once it encountered a empty string "". It will be resolved to an empty string interpolation ``.
I created a PR to fix this issue. After it is merged, this issue will be

[2020-08-24 07:40] coldplaying42 opened #4505 "Expression functions are executed before lg files are loaded."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
If the trigger includes:
![image](https://user-images.githubusercontent.com/17736646/9101

[2020-08-24 08:11] Danieladu opened #4506 "[DCR]Support several question mark operators in Expression"
**Is your feature request related to a problem? Please describe.**
Support several question marks in Expression, including:

### 1. Conditional Operator "?"
Achieve a variable depending on a condition.
For example:
`a ? b : c `,  if 'a' is true, return b, otherwise return c.
which is equals to `if(a, b, c)`

### 2. Nullish Coalescing "??"
Nullish coalescing adds the ability to truly check nullish

[2020-08-24 09:44] Danieladu commented on #4485
\``` in LG means multi-line mode, so if you want to input the ``` in multiline mode/inline mode, please escape it with a slash: \\\`\\\`\\\`.
This supposes to work.

[2020-08-24 09:59] #4502 closed

[2020-08-24 09:59] #4418 closed

[2020-08-24 16:10] nick-romano0 opened #4510 "Allow override for Microsoft.Bot.Builder.AI.QnA.Dialogs.QnAMakerDialog"
Class I'm referring to:
https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs

**Is your feature request related to a problem? Please describe.**
The QnAMaker Dialog is a great boilerplate template to get up and running with the QnA service and Bot Service, but it is frustrating that I cannot modify the response back to the user.

[2020-08-24 16:36] EricDahlvang commented on #3925
@EPinci We have released a new package https://www.nuget.org/packages/Microsoft.Bot.Builder.Azure.Blobs which uses https://www.nuget.org/packages/Azure.Storage.Blobs/

Thank you for raising this issue.  Closing now.

[2020-08-24 16:36] #3925 closed

[2020-08-24 16:44] EricDahlvang opened #4511 "Add ObsoleteAttribute to AzureBlobTranscriptStore and AzureBlobStorage pointing to new 'blobs' classes"
These two are replaced by BlobsTranscriptStore and BlobsStorage which are in the new package https://www.nuget.org/packages/Microsoft.Bot.Builder.Azure.Blobs

[2020-08-24 17:09] peterinnesmsft commented on #4472
@jsiegmund, thanks for the clarification! @Kaiqb can you help support from the documentation side of things? Who can we engage from the engineering team to help expand the available samples?

[2020-08-24 17:25] lauren-mills commented on #4477
@jsiegmund - Did you add token.botframework.com as a valid domain in your manifest in the Domains and Permissions tab?

[2020-08-24 17:46] vishwacsena commented on #4509
Consider a general purpose delay action that can be added prior to specific bot operations.

[2020-08-24 18:17] lauren-mills commented on #4464
We have added this to the backlog and will look at it in an upcoming release. Thanks.

[2020-08-24 19:55] EPinci commented on #3925
Oh, hey, great!
I'm trying to use it and I have a few questions.
Since the problem was with Microsoft.Bot.Builder.Azure do I have to assume this package is a substitute (with a few type names changes) that does not include support for cosmos?
If I also need cosmos I need the former package and I'm back to square one?
Thank you.

[2020-08-24 20:08] EricDahlvang commented on #3925
@EPinci The new package uses the latest libraries for blob storage, so is not just a 'substitute' for the previous.

You are correct, if you also need CosmosDb then you will need to use Microsoft.Bot.Builder.Azure and the warning will still show.  We are somewhat tied down here, since we cannot upgrade to the latest Microsoft.Azure.Storage.Blob in a minor release due to the backward compat issues

[2020-08-24 20:28] EPinci commented on #3925
@EricDahlvang I see. Since now I don't need CosmosDB... I'm perfectly fine with this new implementation. ;)

As a curiosity, have you guys figured out a long term for this?
Is this implementation going to fall back on Microsoft.Bot.Builder.Azure in the next major release?
Or are you going to split providers in different packages?
Or... neither of the two? :)

Thank you.

[2020-08-24 20:47] EricDahlvang commented on #3925
I believe the long term plan is to release individual packages, similar to what Azure is doing with Azure.Storage.* and as the Bot Framework team has done in 4.10.n with these two:

https://www.nuget.org/packages/Microsoft.Bot.Builder.Azure.Blobs
https://www.nuget.org/packages/Microsoft.Bot.Builder.Azure.Queues (preview)

We have found that a single Microsoft.Bot.Builder.Azure package, pulling in

[2020-08-24 21:24] #3965 closed

[2020-08-24 22:07] EricDahlvang commented on #3905
Reopening, since this does not appear to have been done in R10.  We are still using `<PackageReference Include="AsyncUsageAnalyzers" Version="1.0.0-alpha003">` in build.props

[2020-08-24 22:07] cwhitten opened #4514 "Add uischema for UpdateActivity & DeleteActivity"
[code]
[code]

[2020-08-25 06:33] jsiegmund commented on #4477
Hi @lauren-mills, I tried this using the following steps:
1) Added the URL to the manifest
2) Increased the minor version number just to be sure (not sure if this is required to propagate changes?)
3) Re-added the bot in Teams.

Unfortunately, no difference.

[2020-08-25 06:35] jsiegmund commented on #4464
@lauren-mills that's great, thanks!

[2020-08-25 08:43] Rufus1123 opened #4518 "DialogManager OnTurnAsync does not call OnMembersAddedAsync, whereas ActivityHandler does"
## Version
4.10.0

## Describe the bug
Coming from the [Virtual assistant template](https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants/virtual-assistant/VirtualAssistantSample), I am now trying to add composer dialogs as adaptive dialogs into the solution. Following the steps [here](https://microsoft.github.io/botframework-solutions/skills/handbook/experiment

[2020-08-25 15:00] gabog commented on #3905
Will this package throw warnings when you don't use the Async suffix? I didn't remove AsynUsageAnalyzers when I ported to FxCop analyzers because I couldn't find any other library that would help us with enforcing this naming convention.

[2020-08-25 15:44] EricDahlvang commented on #3905
@gabog   It looks like the Microsoft.VisualStudio.Threading library will help with enforcing the async suffix:
https://github.com/microsoft/vs-threading/blob/00ed5e39a70268b4a16bda6d100125e8a39bef22/src/Microsoft.VisualStudio.Threading.Analyzers.CSharp/VSTHRD103UseAsyncOptionAnalyzer.cs#L105

[code]

I do not personally have experience with this library.  I had opened this issue because I noticed

[2020-08-25 18:07] cwhitten opened #4519 "Add OnDialogEnded trigger"
Salem from PVA wants this.

[2020-08-25 18:15] lauren-mills commented on #4402
Closing due to inactivity. Please reopen as needed.

[2020-08-25 18:15] #4402 closed

[2020-08-25 18:15] lauren-mills commented on #4396
@DishaAgarwal - Any update here?

[2020-08-25 18:19] lauren-mills commented on #4317
@lzc850612 - can you give an update here?

[2020-08-25 21:00] JonathanFingold commented on #4477
The only other things I can think of to check:

1. Make sure all activities are forwarded to the adaptive dialog. Teams uses an invoke activity for sign in, instead of an event activity.
1. In my original proof of concept, I forgot to add the OAuthInput dialog to the adaptive dialog's internal dialog set. I don't know if that would break the Teams login flow.

With respect to 2, my proof of concep

[2020-08-26 03:50] xieofxie opened #4521 "Create bot singleton without service dependency?"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently I am creating a Discord adapter using Composer for fun

[2020-08-26 06:19] boydc2014 commented on #4425
Hi, @VinaiMeyyappan, as @Danieladu stated above, the direct cause of this issue is FormatDatetime in adapativeExpression was not designed format a timex string.

To get a timex value resolved, we can either rely on the LUIS result, which unfortunately we dropped in the processing pipeline by default, or we will create new pre-built functions to specific for formating timex value.

I will leave the

[2020-08-26 06:53] arya-ayush opened #4542 "Teams SSO Not Working in Task Module"
Teams SSO is working fine in Teams Tab and task module of Messaging extension but getting below error in Teams Bot task module while fetching client token

ExtensionTabService: getAuthTokenForApp: Failed with error - Definition not found

Using below code to open task module in teams bot with help of hero card -

https://teams.microsoft.com/l/task/${appId}?url=${modalUrl}&height=${height}&width=${

[2020-08-26 09:08] jsiegmund commented on #4477
I personally think that it's not an issue with handling a response or things not being directed to the dialog. Since the login card appears on screen as it should, that part should be fine. I'm going to further investigate what action is bound to the button on the adaptive card, cause it seems like Teams is for some reason blocking that action. That made sense in @lauren-mills reaction above; when

[2020-08-26 09:21] jsiegmund commented on #4477
Update: the URL returned from `adapter.GetSignInResourceAsync` indeed is `token.botframework.com` so that should have been fixed by adding it to the manifest.

[2020-08-26 17:06] benbrown opened #4522 "Datetimes are improperly caste to another type when stored in properties in Adaptive dialogs"
## Version
4.9

## Describe the bug

When storing a datetime in a property, it is somehow caste into a different type, making it incompatible with datetime expressions or comparisons.

For example, setting a property to =utcNow() and then immediately echoing that value results in *different values*

![Screen Shot 2020-08-26 at 11 55 34 AM](https://user-images.githubusercontent.com/729873/91333401-

[2020-08-26 17:08] vishwacsena commented on #4522
@boydc2014 can you have someone look into this?

[2020-08-26 17:36] benbrown opened #4523 "It is seemingly impossible to retrieve/use binary data using the HTTP request action in Adaptive"
## Version
4.9

## Describe the bug
It is not possible to use the http request action to retrieve binary data and store it in a property.

When retrieving binary data, setting the response type to NONE will result in the property being NULL.
Setting the response type to JSON or leaving it blank results in garbled JSON.

## To Reproduce
Steps to reproduce the behavior:

1. Use an HTTP action to fet

[2020-08-26 17:52] benbrown opened #4524 "HTTP action possibly sending incorrect headers?"
## Version
4.9

## Describe the bug
Give a clear and concise description of what the bug is.

I built a very simple test API using Glitch. I created this URL:

https://broken-spicy-conchoraptor.glitch.me/foo

This return JSON {bar: true}

I can retrieve this using curl.

However, when I attempt to fetch this in Composer using an HTTP action, I get a 403 error from Glitch and see no traffic hitting

[2020-08-26 18:24] BruceHaley commented on #4356
Completed.

[2020-08-26 18:24] #4356 closed

[2020-08-26 18:31] pavolum commented on #4277
We are closing this due to inactivity. Feel free to reactivate if there are still open questions.

[2020-08-26 18:31] #4277 closed

[2020-08-26 18:52] vishwacsena commented on #4510
@pchoudhari can you comment?

[2020-08-26 18:54] vishwacsena commented on #4378
We will need to consider a fix here in a future release. It will be good to align the local entity recognition result for inputs with the structured returned on LUIS result.

[2020-08-26 19:59] benbrown opened #4526 "Feature request: introduce a special $kind for inline notes/annotations/documentation"
**Is your feature request related to a problem? Please describe.**

As a Composer user, I would like to be able to add inline "notes" or "annotations" ala code comments.  I would like to be able to add notes at any step of the dialog and have them visible whenever I view the dialog in Composer.  Here is a mockup of how we would like to use them:

![Screen Shot 2020-08-26 at 2 55 02 PM](https://use

[2020-08-26 20:00] benbrown commented on #4526
See related Composer issue: https://github.com/microsoft/BotFramework-Composer/issues/3419

[2020-08-26 22:37] a-b-r-o-w-n opened #4527 "[uischema] add menu config for each component"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Composer now supports the `menu` property in the uischema. We will port Composer's configuration into the component uischemas for R11.

Current config found h

[2020-08-27 00:01] vishwacsena commented on #4519
@cwhitten we have [`OnEndOfActions`][1] trigger. Would it suffice for the scenarios you need this for?

[1]:https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnEndOfActions.cs

[2020-08-27 00:02] vishwacsena commented on #4521
@luhan2017 can you take a look and comment?

[2020-08-27 00:11] Danieladu commented on #4259
After digging into this issue, we found there is no need to apply the custom languagepolicy. Use default policy is enough.

[2020-08-27 00:11] #4259 closed

[2020-08-27 00:18] boydc2014 commented on #4191
This is more of an adaptive dialog issue, I personally don't think this is an issue, we will need @tomlm's input as well.

[2020-08-27 00:19] boydc2014 commented on #3993
@cosmicshuai with our locale PR in, we should be able to enable to set turnContext.locale, right?

[2020-08-27 00:38] xieofxie commented on #4451
Luis is merged. Wait for QnA

[2020-08-27 00:40] xieofxie commented on #4522
Related https://github.com/microsoft/botbuilder-dotnet/issues/4223

[2020-08-27 01:56] cosmicshuai commented on #3993
@boydc2014 @vishwacsena @xieofxie
An locale from turn.activity.locale will be set to TurnContext.Locale property. It will change based on the incoming activities from user.
User's can get TurnContext.Locale by DialogContext.GetLocale() will retrieve the locale.
Ref: https://github.com/microsoft/botbuilder-dotnet/pull/4276

[2020-08-27 06:04] boydc2014 commented on #4522
@cosmicshuai this is related to the settings for JSON serialization of DialogStateManager, right?

[2020-08-27 06:07] boydc2014 commented on #4223
I will vote for disable the auto-conversion of json converter.  cc @tomlm

[2020-08-27 06:09] boydc2014 commented on #4522
@vishwacsena it's the same issue with #4223 as @xieofxie  said.

The root cause is DSM used json converter to convert the value before set to the memory, then the default behavior of json converter will detect the datetime format and try to convert to a datetime object.

My recommendation is disable this feature\bug.

[2020-08-27 06:16] pchoudhari commented on #4510
Thanks for the suggestion, we will triage this. Assigning to @vipeketi and @DishaAgarwal

[2020-08-27 06:20] xieofxie commented on #3993
@boydc2014 @cosmicshuai Thanks! So it seems I should use turn.locale to change the locale of LG?

I create a test for this feature here https://github.com/xieofxie/botbuilder-dotnet/commit/741492b35049da7e70224c19c54c22bc44818d0b

But I found a bug:
We should use `ObjectPath.SetPathValue` here https://github.com/microsoft/botbuilder-dotnet/blob/b17b100967eda0ed3d24bb539a0f0090e065ec7a/libraries/Mi

[2020-08-27 06:21] xieofxie commented on #3993
BTW I don't feel right for using Thread.CurrentThread.CurrentCulture since we use configure await (false) everywhere. See a discussion here: https://stackoverflow.com/questions/20601578/async-webapi-thread-currentculture

[2020-08-27 06:37] boydc2014 commented on #3993
@xieofxie yes, the design is we create a new property turnContext.locale to hold the locale to drive the LG processing later. So you should be able to set this value to control the locale.

@cosmicshuai can you follow up with @xieofxie to understand this new bug?

[2020-08-27 06:50] #4483 closed

[2020-08-27 06:51] xieofxie commented on #3993
In summary, if use Set instead of ObjectPath, turn.locale is treated as a string not separated components like this (note turn on the bottom)
![image](https://user-images.githubusercontent.com/2876650/91406009-aa588600-e874-11ea-991c-167d03c1ed32.png)

I just found another mistake: we add AI here: https://github.com/microsoft/botbuilder-dotnet/blob/b17b100967eda0ed3d24bb539a0f0090e065ec7a/tests/Mi

[2020-08-27 06:54] boydc2014 opened #4528 "Expression: Add new prebuilt JSONStringfy function"
JSONStringfy could be very helpful in meetingassistant's cardComposer library.

[2020-08-27 07:46] #4485 closed

[2020-08-27 12:57] jeissing commented on #4477
We have the same Issue. When comparing the versions 4.9 and 4.10 of the OAuthInput.cs you will notice
that in the method "ChannelSupportsOAuthCard" in version 4.10 the case statemant "case Channels.MSTeams" is no longer present. This leads to the fact that the Card is not generated as in 4.9, but is loaded from a resource. After we have reintroduced the mentioned case statemant, the MS-Teams login

[2020-08-27 18:14] lauren-mills commented on #4472
We're adding this to the backlog for a future release.

[2020-08-27 18:58] tomlm opened #4534 "LuisRecgonizer needs ability to bind Version to settings"
## Version

4.10.3

## Describe the bug

Luis models have AppId/Slot or AppId/Version.  The AppId/Version can be hard coded, but can't be bund to settings.  For LUBuild to work correctly in production it needs to be bindable to both AppId and Version in settings.

This allows

[code]

Without this change we would have to rewrite every dialog file on build to target fixed version.

[2020-08-27 22:44] tomlm opened #4536 "LuisAdaptiveRecognizer incorrectly clones turncontext leading to middleware being ignored."
## Version

4.10.0

## Describe the bug

In Adaptive libraries we moved to a new Recognzer model which allows you to recognize arbitrary Activity objects.  The legacy LuisRecognizer implements IRecognzier which is TurnContext based and only recognizes the turnContext.Activity.  To prevent us from forking the old recognizer code, we simply created a cloned TurnContext with TurnContext.Activity=Acti

[2020-08-27 23:20] cwhitten opened #4538 "When Skills are running locally, do not require channel registration & authentication."
There should be a local development mode

[2020-08-28 00:06] boydc2014 commented on #4191
After triage, we will leave this as "backlog" until customer runs into this and guide us have a direction.

[2020-08-28 01:35] chrimc62 opened #4539 "DCR: Separate out entity mapping logic into a replaceable component"
Adaptive dialog currently has logic that uses schema information plus expected properties and history to map entities into operations, properties and entities that are:
1) ChooseEntity if entity value is ambiguous.
2) ChooseProperty if entity can be assigned to multiple properties.
3) AssignEntity if entity can be applied to a property with a particular operation.
This is currently built into Adap

[2020-08-28 06:54] stevengum opened #4540 "Clean up CODEOWNERS around TestBot*"
https://github.com/microsoft/botbuilder-dotnet/blob/8f28504f79f0691c2fa4f490c74d5964c233ca8c/.github/CODEOWNERS#L18-L19

The current pattern in CODEOWNERS for TestBot* is too broad in scope and needs to be narrowed down.

[2020-08-28 11:47] sschutten opened #4555 "Timeout setting on prompts"
It would be great to have some sort of timeout setting on prompts that triggers when a user hasn't responded to the prompt within set time. It would allow for a more natural flow where the bot can remind the user to reply with an answer or cancel the dialog.

[2020-08-28 17:49] clearab commented on #4538
I think this might be a duplicate of: https://github.com/microsoft/botframework-sdk/issues/5726 (or at least have a lost of cross-over)

[2020-08-28 18:37] Stevenic opened #4543 "BeginDialog action throws an exception when passing options with empty strings"
## Version

4.9.4

## Describe the bug

Passing an option with an empty string causes `BeginDialog` to throw the exception below.  Changing the filter below to `null` fixes the issue in 4.9.4 but I suspect passing params may still cause the exception below in 4.10.  When I tried upgrading to 4.10 I immediately started seeing the error below which I now suspect may be from passing null params.

![]

[2020-08-28 19:46] lauren-mills commented on #4542
Hi @arya-ayush, I have created a new issue for this in the msteams repo so that they can help you get it resolved. I'm closing this one, but you can track progress [here](https://github.com/MicrosoftDocs/msteams-docs/issues/2030)

[2020-08-28 19:46] #4542 closed

[2020-08-28 21:28] EricDahlvang opened #4544 "FacebookClientWrapper should not silently fail on SendMessageAsync"
#Describe the bug
If the result of the response is NOT IsSuccessStatusCode, the sdk should presumably throw an exception and not just return an empty string.  The current code makes debugging difficult, and seems to ignore errors.

[code]

## Expected behavior
An exception indicating the send operation failed.

[2020-08-28 22:02] mrivera-ms opened #4545 "Facebook and Webex functional tests fail when not skipped"
The functional tests currently run and end as Inconclusive, which hides the actual state of the tests. We need to determine if the failures are test issues and if they are, fix them.

Related to #4520 .

[2020-08-29 00:37] LouisEugeneMSFT opened #4546 "Documentation should include information about the "settings." and "this." scopes"
**Is your feature request related to a problem? Please describe.**
It is hard for new users to know how BOT memory works.

**Describe the solution you'd like**
Clear documentation on the different scopes, where they are valid and how they should be used.

**Describe alternatives you've considered**
https://docs.microsoft.com/en-us/composer/concept-memory

**Additional context**
The link above prov

[2020-08-29 15:44] boydc2014 opened #4547 "Support multi-line string in string interpolation"
Reported by David Claux from AdaptiveCards team.

Line break in string interpolation should be allowed. Expressions like "\`${field1} \n\n ${field2}`" should be correctly parsed and evaluated.

[2020-08-30 19:54] Shivang007-del opened #4549 "How can I configure hostconfiq for adaptive card in botbuilder-dotnet"
How can I configure hostconfiq for adaptive card in botbuilder-dotnet

[2020-08-31 04:38] #4417 closed

[2020-08-31 06:37] jsiegmund commented on #4477
Ok so that's this PR: https://github.com/microsoft/botbuilder-dotnet/commit/acdaec64488afc9e5c2889933abfaf2e9932f327#diff-8ba2f5749eeeffd205ecea167bd187b0. Pinging author @EricDahlvang on this issue.

The comment on the PR seems conflicting with the change: "* Teams DOES support OAuthCard." yet Teams was _removed_ from the `ChannelSupportsOAuthCard` method, indicating it doesn't support the card.

[2020-08-31 06:47] jsiegmund commented on #4477
Hereby verified that adding the line back in fixes the issue for me. Also doesn't break any of the tests. I took the liberty of creating an enormous PR for this fix ;). https://github.com/microsoft/botbuilder-dotnet/pull/4550

[2020-08-31 07:36] DishaAgarwal commented on #4396
@lauren-mills I apologize for the delay. We tried replicating the issue on new BF SDK and we found that the same issue doesn't occur with the new BF SDK (4.10.*).  The relevant screenshots are included below:

![image](https://user-images.githubusercontent.com/11506427/91693794-31657100-eb89-11ea-82cc-6d7bc5b0d809.png)
![image](https://user-images.githubusercontent.com/11506427/91693809-36c2bb80-e

[2020-08-31 17:17] EricDahlvang commented on #4477
@jsiegmund #4550 pr would remove OAuthCard support for the teams channel.

[2020-08-31 17:24] clearab opened #4552 "Support for meeting APIs (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5893)

[2020-08-31 18:10] v-kydela commented on #4549
Thank you for the question, @Shivang007-del

The Bot Builder SDK is for building bots. [HostConfig](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config) is something only Adaptive Cards renderers are concerned with, and bots can only author Adaptive Cards and not render them. As my blog post explains, your bot is not supposed to have any control over the Adaptive Cards rend

[2020-08-31 18:10] #4549 closed

[2020-08-31 18:35] jsiegmund commented on #4477
@EricDahlvang you're absolutely right and I was not paying attention it seems. That said. The PR does fix the issue, so 'the other way' is not working for Teams.

What I found next: [line 377](https://github.com/microsoft/botbuilder-dotnet/blob/b27517d8db18a228976afadabb3a415b36632fb8/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs#L377) sets the value of the card action back

[2020-08-31 18:59] EricDahlvang commented on #4477
@jsiegmund

Unfortunately, we have duplicate code in OAuthInput and OAuthPrompt, and it has diverged.

Those same lines in OAuthPrompt have been updated as follows:
https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L401

[code]

This same code should be in OAuthInput.  I've raised this issue: https://github.com/microsoft/botbuil

[2020-08-31 19:20] vishwacsena commented on #4518
@tomlm can you comment/ clarify?

[2020-08-31 19:23] vishwacsena commented on #4409
@tomlm Looks like we are losing/ yanking out `this` and `class` memory scopes so `DefaultValueResponse` does not render.. `this` and `class` memory scopes do work for `InvalidPrompt`.

[code]

[2020-08-31 21:13] #4505 closed

[2020-09-01 14:04] jsiegmund commented on #4472
Hi @lauren-mills , so what exactly is the process involved here? From a 'customer' point of view my issue is now closed and I have nothing to go on. I still don't know how it works and I have no clue on when an item on the backlog would ever be implemented. So all I can do is wait and see? I would suggest to make this process a little bit more customer friendly when possible, so people at least ge

[2020-09-01 14:15] peterinnesmsft commented on #4472
Hi @jsiegmund,

Apologies, it looks like this got closed in error. In terms of handling this work item, the appropriate owners of this area will need to internally triage and assess prioritization of this against other asks to determine when this can be done. I would expect that they update this issue accordingly.

For enhancements and feature requests from external customers, we do our best to en

[2020-09-01 15:35] gabog commented on #3905
Hi Eric, AsyncUsageAnalyzers are used only during design time and the generated assemblies don't depend on it. Adding  Microsoft.VisualStudio.Threading would generate a dependency on the generated assemblies, not sure if we want to do that unless we use them extensions there.

We could try adding Microsoft.VisualStudio.Threading.Analyzers with PrivateAssets and see if that gives us the checks we n

[2020-09-01 16:58] pkueecslibo opened #4556 "JsonReaderException thrown by SDK when invoking Skills"
## Version
4.9.4

## Describe the bug
PVA recently experienced a lot of JsonReaderException when call SkillHttpClient  to post activity to skills. The exception is preventing us for accessing the actual StatusCode of the response and do additional troubleshooting and reporting.

Here is the call stack.

Newtonsoft.Json.JsonReaderException:
   at Newtonsoft.Json.JsonTextReader.ParseValue (Newtonsof

[2020-09-01 17:53] jsiegmund commented on #4472
Thanks for the update @peterinnesmsft, much appreciated!

[2020-09-01 19:25] tomlm commented on #4518
This is by design, as it's all under under your control. 

DialogManager.OnTurnAsync() will take any activity and route it to the dialog stack.  This gives every dialog in the system the ability to respond contextually to non-message activites, for example, the user typing, or a message like, or event when a person joins the conversation.  Say you are playing a game, you want the dialog for the ga

[2020-09-01 19:25] #4518 closed

[2020-09-01 19:30] tomlm commented on #4518
One more note:  the layering of libraries gives you a hint here too.

**ActivityHandler** is defined in **Microsoft.Bot.Builder** which is the library that defines everything you need to respond to activities **without a dialog system.**

**Dialog/DialogContext/DialogManager etc** is defined in **Microsoft.Bot.Builder.Dialog** which is a dialog library on top activities as  protocol, which defines

[2020-09-01 20:03] chrimc62 opened #4565 "Empty LG template returns null instead of empty string"
## Version
4.11.0-dev.20200901.8b7db50

## Describe the bug
An empty template returns "null" rather than an empty string.

## To Reproduce
With this template if you call test(), you will end with "This is null" rather than "This is".  If 'foo' is ${''} you get the same result, but if you make it ${' '} it will return a space.

[code]

## Expected behavior
An empty template should be an empty strin

[2020-09-01 21:41] gabog commented on #4556
Hi @pkueecslibo, this is probably caused by the skill not returning json, can you provide a repro or an example of what the skill returned so we can add code to handle this exception?

Thanks

[2020-09-01 21:51] gabog commented on #4556
As a quick workaround, you can catch a JsonReaderException in your code and assume the skill call failed, if the request was good you should get an invokeresponse and you should be able to check that status code.

[2020-09-01 22:49] gabog opened #4567 "SkillDialog doesn't call SkillConversationIdFactory.DeleteConversationReference when using ExpectReplies"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6019)

[2020-09-02 02:22] xieofxie opened #4568 "better document for Microsoft.MentionEntityRecognizer"
According to the [implementation](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/MentionEntityRecognizer.cs) and [test](https://github.com/microsoft/botbuilder-dotnet/blob/f2a0b6bc9678894706ba9506bac6bcf29cc7974f/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/EntityRecognizerTests.cs#L139), this recognizer

[2020-09-02 07:36] #4547 closed

[2020-09-02 07:43] #4398 closed

[2020-09-02 07:53] KoradaRajesh opened #4569 "Displaying # at end of response"
I have tried to give # at the starting of response but while rendering it displaying # both at the starting and end of the text.

![image](https://user-images.githubusercontent.com/51915291/83360699-ce551a00-a3a0-11ea-8a89-b77ddbd38a1a.png)

![image](https://user-images.githubusercontent.com/51915291/83360715-0a887a80-a3a1-11ea-9bec-145cabccde2d.png)

[2020-09-02 16:10] #4070 closed

[2020-09-02 18:07] pavolum commented on #4555
We will consider this feature request and gauge whether or not it will be in future releases. Thanks!

[2020-09-02 18:45] denscollo commented on #4091
Hi @mrivera-ms , we reviewed this issue and there're no tests on this project

[2020-09-02 18:46] denscollo commented on #4099
Hi @mrivera-ms, we reviewed this issue and the project is already using xUnit so there's no migration needed. Thanks

[2020-09-02 18:46] denscollo commented on #4100
Hi @mrivera-ms, we reviewed this issue and the project is already using xUnit so there's no migration needed. Thanks!

[2020-09-02 18:46] denscollo commented on #4104
Hi @mrivera-ms, we reviewed this issue and the project is already using xUnit so there's no migration needed. Thanks!

[2020-09-02 19:04] mrivera-ms commented on #4091
Thank you @denscollo . Closing this issue.

[2020-09-02 19:04] #4091 closed

[2020-09-02 19:04] mrivera-ms commented on #4099
Thank you @denscollo . Closing this issue.

[2020-09-02 19:04] #4099 closed

[2020-09-02 19:05] mrivera-ms commented on #4100
Thank you @denscollo . Closing this issue.

[2020-09-02 19:05] #4100 closed

[2020-09-02 19:05] mrivera-ms commented on #4104
Thank you @denscollo . Closing this issue.

[2020-09-02 19:05] #4104 closed

[2020-09-03 03:42] xieofxie opened #4572 "add a (thread safe) global scope memory"
**Is your feature request related to a problem? Please describe.**

Although it is only a global memory across one single process, it will help for some big shared information.
An example:
Server have two apis: `getBigDataVersion()`, `getBigData(string version)`
When used in bot, the bot could check `global.version` with `getBigDataVersion()` first, then determine if update `global.data`
In the wo

[2020-09-03 05:57] #4528 closed

[2020-09-03 16:52] chrimc62 opened #4576 "Expression References does not include references defined by exported LG templates used as functions"
Expression.References() is supposed to return all memory references from an expression tree.  This works for all the built-in functions but does not work for exported LG template functions.  This is needed to support RunOnce functionality in triggers and I believe is also used by Composer.  Fixing the issue is a little tricky since the function is in expressions and the LG functions are in the lay

[2020-09-03 17:11] BruceHaley commented on #4545
Webex tests are now passing. Re-creating the Webex webhook likely fixed it.

[2020-09-03 17:11] #4545 closed

[2020-09-03 17:16] BruceHaley commented on #4448
All fixed. See PR #4520.

[2020-09-03 17:16] #4448 closed

[2020-09-03 18:57] EricDahlvang opened #4578 "Add tests verifying this change: https://github.com/microsoft/botbuilder-dotnet/pull/4570"
Once the tests are created for dotnet, we should port them to the other platforms

[2020-09-03 22:16] vishwacsena commented on #4489
Need dev design + possible solutions.

[2020-09-03 22:24] vishwacsena commented on #3649
@chrimc62 do you still need this? Unclear if you have a solution here..

[2020-09-03 22:38] vishwacsena commented on #4343
@bradrlaw one solution is to define a custom event, use EmitEvent action in each child dialog and capture it in the root dialog.

[2020-09-03 22:46] vishwacsena commented on #4200
Per @tomlm the issue probably is in settings memory scope.

[2020-09-03 22:50] vishwacsena commented on #4186
@boydc2014 can you investigate?

[2020-09-03 23:00] vishwacsena commented on #4119
Alternate is to add a `ThrowException` action which accepts a message and propagates up.

[2020-09-04 00:16] boydc2014 commented on #4119
Note: E2E scenario is using onError trigger to catch this.

[2020-09-04 02:30] Danieladu commented on #4565
Hi @chrimc62,  This issue supposed to be fixed in the latest daily package. The fix pr is here: #2710 Although this is a minor change in this PR.
The root cause is that LG misused the "null" judgment. `if(value)` should be `if (value !== undefined)`,
so, if the result is an empty result, LG would misjudge that this variable does not exist in the memory.

Anyway, this is a bug that only occurs when

[2020-09-04 02:30] #4565 closed

[2020-09-04 13:55] EPinci commented on #4143
Hello, I think I'm hitting this.
Is there a workaround while waiting for the fix?

[2020-09-04 15:21] irwinwilliams opened #4593 "Adaptive Dialog context causing error on Facebook channel"
## Version
4.10.2

## Describe the bug
I'm setting dialog state in a CodeAction. When I call Dialog.EndDialogAsync, I see an HTTP 4xx error with this message,
"{"message": "(#100) Title is required for this quick reply content type"}"
This happens when trying to send a message from an adaptive dialog via the Facebook channel.
When I examine the ErrorResponseException body, it contains 5 elements:

[2020-09-04 15:52] JHaig343 opened #4594 "Slack Adapter throws JsonReaderException: Unexpected Token: StartObject when processing "reaction_added" event"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
using .NET CLI 3.1.302
Bot Framework SDK 4.10.2
The bot is run with Slack using ngrok 2.3.35

## Describe the bug
My goal was to update the EchoBot base temp

[2020-09-04 16:33] JonathanFingold opened #4595 "OAuthInput's timeout logic has a bug"
##  Version
What package version of the SDK are you using. 4.10.x/master

## Describe the bug
An elapsed timeout period is missed if the first response is otherwise successful.

## To Reproduce
Steps to reproduce the behavior: (@luhan2017 has a fix)
I noticed what seemed like odd behavior in the OAuthInput dialog:
- Set a both the Timeout and MaxTurnCount properties and tested the bot.
- Provide b

[2020-09-04 18:04] gabog commented on #4556
Compared the code that reads the content from the response with version that PVA was using (4.7.x) and notticed that we removed the catch for JsonReaderException from a helper method in GetBodyContent

[2020-09-04 18:39] #4556 closed

[2020-09-04 19:57] EPinci opened #4599 "DialogManager throws "Object reference not set to an instance of an object" with Telegram channel"
## Version
v4.10.2

## Describe the bug
I have a bot that works fine with the web channel and the skype channel.
When used with the telegram channel, the "Object reference not set to an instance of an object" exception is thrown:

[code]

ComposerBot.cs is:
[code]

The line 60 referenced in the exception is (third from the last):
`await this.dialogManager.OnTurnAsync(turnContext, cancellationToken

[2020-09-04 20:46] v-kydela commented on #4593
Thank you for the report, @irwinwilliams

You say you get an error when trying to send a message to the Facebook channel from an adaptive dialog. What message do you mean? The only message implied by your code sample is the `SendActivity` dialog in your error handler. Is that the message you're talking about?

Also, the error message mentions quick replies which correspond to suggested actions in

[2020-09-04 21:47] lzc850612 commented on #4317
@dingjianrui

The latest VA release uses something called TokenExchangeSkillHandler to handle OAuthCard coming from skill and send an activity with the retrieved token back to skill (because at the moment of the release the SDK doesn't natively support this yet @carlosscastro to see if this is natively supported now). And to be able to use this, you need to add values to this section in the appset

[2020-09-04 22:06] lzc850612 commented on #4317
As I debug further, I found out that the TokenExchange operation actually fails:

https://github.com/microsoft/BotBuilder-Samples/blob/5fe18b89b238e3477247f5dbed874ffcd2ef8a28/experimental/sso-with-skills/RootBot/TokenExchangeSkillHandler.cs#L111

@carlosscastro i'm assuming you could help take a look at this as the code in VA also has the same code snippet.

[2020-09-06 03:27] Danieladu opened #4601 "Add cache scope option with fine-grained"
### Description
Currently, the cache in LG is fixed and applies the below logic:
In the same layer, if the previous template has been called with the same template name and the same parameters, the cached result would return directly. For example:
[code]

So, there should have an option that can control the cache scope.
`Global`, or `inTemplate`, or `NoCache`
[enhancement]
[new feature request]

[2020-09-06 20:30] #4578 closed

[2020-09-07 04:56] jintu123 commented on #4555
Is there a way current to identify inactive timeout in bot composer?
Using any property values or etc?

[2020-09-07 08:07] DingmaomaoBJTU opened #4603 "[Recognizer] Need a way to make multiple recognizer work together one after another"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
To save money, I want to have one regex recognizer and one luis recognizer to work together. The user input will go through the regex recognizer first, and if

[2020-09-07 10:16] Danieladu commented on #4200
Hi, I have made some investigations on this issue. Here are some achievements:
1. `appsettings.json`  does not support direct reading of array data. [reference](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.2#bind-an-array-to-a-class)
There are several workarounds [here](https://rimdev.io/avoiding-aspnet-core-configuration-pitfalls-with-array-values/),

[2020-09-07 16:15] irwinwilliams commented on #4593
So @v-kydela this is part of a wider set of dialogs in an AdaptiveDialog handler. This specific one - the codeaction, should not actually send any message in the usual case.
The exception I detailed happens at the return statement:
`    return await dc.EndDialogAsync();
`
That's before I actually send the response down to the client. This is confusing to me since, outside of the exception statemen

[2020-09-07 18:12] v-kydela commented on #4593
@irwinwilliams - How are you determining that `EndDialogAsync` is what's throwing the exception? Are you debugging in Visual Studio?

Please keep in mind that `EndDialogAsync` calls `ContinueDialogAsync` and so everything else that the adaptive dialog does on that turn will be on the same call stack as `EndDialogAsync`. It's likely that what's happening is that the exception is thrown in an entire

[2020-09-07 23:31] EricDahlvang commented on #4599
Hi @EPinci

Thank you for raising this issue  The error seems likely due to the following line:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/MultiLanguageRecognizer.cs#L58

[code]

In a scenario where locale is null, this will throw a _NullReferenceException_.

As a temporary workaround you might try ensuring the locale is n

[2020-09-08 02:05] xieofxie commented on #4200
@Danieladu Thanks!
But comparing these two, I think it is better we treat the first one as object with key 123, so they are the same logic
[code]
The SetProperty is my fault..

[2020-09-08 02:16] Danieladu commented on #4200
@xieofxie that will drop all list feature totally. For example:
[code]

Originally, the `array` property would treat as a real array => ["e1", "e2"]
If we disable this feature, all the plain array would be treated into object.
hmm. I have no idea about this one..

[2020-09-08 02:22] xieofxie commented on #4200
@Danieladu Another thought is that we require the user not to use number as key so we can easily treat number key as index in array.
I think **array of objects** is a more common usage than **number of object key**.

[2020-09-08 02:59] Danieladu commented on #4200
@xieofxie  this is a breaking change. Maybe @tomlm  can give some suggestions?
[code]
Would be treated into :
[code]

[2020-09-08 03:21] xieofxie commented on #4200
@Danieladu right.. I think you missed a null here. The root cause is the way that dotnet treats appsettings, sad story.

[2020-09-08 18:10] GeoffCoxMSFT commented on #4594
@benbrown Could you take a look at this and respond to customer?

[2020-09-08 18:18] benbrown commented on #4594
@JHaig343 - Thank you for the report. Does the app crash regardless of whether you have a handler defined?

[2020-09-08 18:59] vishwacsena commented on #4603
No plans to support this but you should be able to build a custom recognizer that fits your need.

[2020-09-08 19:33] #4094 closed

[2020-09-08 19:38] #4392 closed

[2020-09-08 22:05] vishwacsena commented on #4524
@boydc2014 can you help investigate/ address for R11?

[2020-09-08 22:05] vishwacsena commented on #4523
@boydc2014 can you help investigate/ address in R11?

[2020-09-08 22:24] JHaig343 commented on #4594
@benbrown Thanks for the reply! - I just tested with all of my added handlers in EchoBot.cs removed (so only the `OnMessageActivityAsync` and `MembersAddedAsync` handlers that came with the template) and I can confirm that the application still crashes. I believe this is a adapter-level issue when processing a response from Slack Events API.

[2020-09-08 22:28] benbrown commented on #4594
Thank you for confirming that! I'll get back to you ASAP when we learn more.

[2020-09-08 22:45] GeoffCoxMSFT commented on #4555
The challenge with a timer in a conversation is to provide a guarantee that an event will be raised when the timer is fired.  The timer scheduler has to be durable in the face of machine failure and coordinated across machines.

If you are using Composer, you could create your own timer class to invoke as a component in a custom runtime. It only works on a single machine and is not durable.  We do

[2020-09-08 23:10] BruceHaley opened #4612 "Switch DotNet daily build version format to "4.11.0-daily.<date>.<build_id>.<commit_hash>""
Change the daily dotnet build version format from "4.11.0-daily.<date>.<build_id>" to "4.11.0-daily.< date>.<build_id>.<commit_hash>".

This format would have helped Eric discover the commit origin for a build from last July. The customer "PVA" wanted a cherry-picked patch for the special version we gave them back then. (4.9.4-daily.pvafix.200729-151798) The run for that build, had it not been del

[2020-09-09 02:00] irwinwilliams commented on #4593
@v-kydela, thanks.
I think that approach helped me find a way forward.
FB doesn't seem to like this kind of template:
[code]
But the hero card template works.

[code]

So, for now,  I can send back a hero card with a default image and title set, or just text - given my scenario.

[2020-09-09 02:18] DingmaomaoBJTU commented on #4603
Thanks! Let me have a try~

[2020-09-09 02:27] xieofxie opened #4615 "[Expression] inconsistency between doc and implementation for 'int', 'float'"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

Current main

## Describe the bug
Give a clear and concise description of what the bug is.

The document says

[2020-09-09 18:21] GeoffCoxMSFT commented on #4378
@vishwacsena - Please resolve

[2020-09-09 19:04] v-kydela commented on #4593
@irwinwilliams - I suspect that depends on what the suggested actions are. I notice that your `WelcomeActions` template is used as an activity which means it might not be valid for the `SuggestedActions` property.

Are you satisfied with your solution or are you still working on this issue?

[2020-09-09 21:04] vishwacsena commented on #4378
Not resourced for R11. Will keep in backlog for possible fix in a future release.

[2020-09-09 22:56] #4536 closed

[2020-09-09 23:00] vishwacsena opened #4617 "[Adaptive] Add supportedContentType property to the schema for components that implement Recognizer"
Today composer does not have any way to identify or associate a specific dialog's recognizer configuration to what build/ publishing workflows need to be run for that recognizer configuration. Composer defaults to running the LUIS and QnAMaker build and publishing workflows but this does not work when users wish to use other recognizers (e.g. PVA/ Orchestrator/ Lucene/ Spacy etc).

In order to ass

[2020-09-09 23:13] chrimc62 commented on #4617
Seems like this assumes that within a single bot there is a single consumer of each of the file types.  Wouldn't it make more sense to have a workflow for each $kind?  This is more open-ended and the $kind corresponds to the technology and the workflow can build in whatever reasoning it needs to do against the schema instance.

[2020-09-09 23:17] tomlm commented on #4617
We should keep it simple and just allow you to define the script for

*   PreBuild
*   Build
*   Run
*   PostBuild

Visual Studio has exactly that functionality:

![](https://user-images.githubusercontent.com/17789481/92663898-6e331580-f2b7-11ea-9a2c-ea2fff669398.png)

[2020-09-09 23:19] vishwacsena commented on #4617
@chrimc62 This would allow per dialog level flexibility. The issue with using $kind is composer does not know what specific content types you can handle.

@tomlm we could do that but not sure how that helps with associating a specific technology stack for LU and QnA content..?

[2020-09-10 01:59] somigithub commented on #4454
JS Implementations: https://github.com/microsoft/botbuilder-js/pull/2718

[2020-09-10 02:28] #4534 closed

[2020-09-10 04:25] gabog commented on #3905
I played with adding `Microsoft.VisualStudio.Threading.Analyzers` and I think it may be good to do this change if time permits (the AsyncUsageAnalyzers project in github states that we should use Microsoft.VisualStudio.Threading going forward).

Setting is as P2 for now.

[2020-09-10 05:41] gabog commented on #4209
Hi @xieofxie, can you provide an example and how would you use this property if available? As you stated in the issue, you can find this out using code but I'm not clear on how will you use it.

PS: can you also remove the boilerplate code from the original issue and just leave the relevant parts so it is easier to read?

[2020-09-10 11:25] Monomoy88 opened #4619 "Choice Prompt not behaving properly in Bot Framework V4"
## Version
Microsoft.Bot.Builder.Azure, Version=4.5.2.0
Microsoft.Bot.Builder.Dialogs, Version=4.5.2.0

I've updated the version to 4.10.3 but problem still exists.

## Describe the bug
I've created a Dialog bot which is responsible for showing ChoicePrompts based on QnAMaker contextual question answers.

[code]
As I'm using choice prompt so in the next waterfall step I'm trying to read the user c

[2020-09-10 12:12] Danieladu opened #4620 "[DCR] [LG] Support null output"
Currently, LG can not support `null` output. Due to the modularity of LG, `null` output is necessary for granted.

This DCR is used to discuss how to safely support the `null` output.

## Current sample
[code]

If the user evaluate `template1` or `template2` without variable `a`, the result would be a string "null" but not `null`

This would block those who want to generate `null` as the result in

[2020-09-10 12:42] boydc2014 commented on #4620
I think we need to clarify the current behavior first, can you add some descriptions for
* in what case null would be converted (fallback) to "null"?  please add some examples
* in what case this behavior is not appropriate? please list some examples in which the current behavior is not expected, and list the expected behaviors also

[2020-09-10 17:15] #4462 closed

[2020-09-10 18:16] #4103 closed

[2020-09-10 18:25] GeoffCoxMSFT commented on #4396
With Composer 1.1.1 released this issue should be fixed.  Please re-open if you encounter the problem again.

[2020-09-10 18:25] #4396 closed

[2020-09-10 18:28] #4108 closed

[2020-09-10 21:03] GeoffCoxMSFT commented on #4594
Gary let me know that this is a bug and can be addressed in the next release.

[2020-09-10 21:56] v-kydela commented on #4619
@Monomoy88 - I've tracked this bug down to [`Find.FindValues`](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs/Choices/Find.cs#L97-L190). Apparently the code tokenizes the utterances and each of the choices by getting rid of all special characters, so your two choices look identical to the recognizer. Because the two choices are identical to each ot

[2020-09-10 22:37] #4096 closed

[2020-09-10 22:41] #4086 closed

[2020-09-10 22:42] #4601 closed

[2020-09-10 22:42] #4106 closed

[2020-09-11 01:03] NickEricson opened #4628 "Bots in UsGov environments stop working if you use the BotFrameworkHttpAdapter adapter"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
C# 4.9.2 and 4.9.3

## Describe the bug
In the echo bot if you changes this line:
services.AddSingleton<IBotFrameworkHttpAdapter, **AdapterWithErrorHandler**

[2020-09-11 01:55] #4081 closed

[2020-09-11 03:22] Danieladu commented on #4615
Firstly, the exception is as expected.
Let me summarize the requirements:
1. The doc of "int()" is wrong.
2. Require a new function that can determine if a string can be converted into an integer. Maybe like:
[code]
Is that right?
If so, a series of functions need to be added:
[code]

hmmm, this should be considered carefully.

[2020-09-11 03:26] Danieladu commented on #4140
Related issue:  #4620

[2020-09-11 03:41] DingmaomaoBJTU commented on #4603
It works~

[2020-09-11 03:41] #4603 closed

[2020-09-11 15:39] gabog commented on #4010
Let's break this one up in two, one for BeginDialog and another for BeginSkill.
For now, I removed the skill label, so let's just use this issue to track the changes to BeginDialog. We should open a new one for BeginSkill when and if that's needed.

[2020-09-11 15:47] gabog commented on #4567
Hi @EricDahlvang, would you be able to take this one?

Thanks

[2020-09-11 16:05] gabog commented on #3953
This seems to be a duplicate for #4139, closing it.

[2020-09-11 16:05] gabog commented on #3953
Closed the wrong one... reopen it

[2020-09-11 16:07] gabog commented on #4139
This seems to be a duplicate for #3953, closing

[2020-09-11 16:07] #4139 closed

[2020-09-11 17:10] #4089 closed

[2020-09-11 18:07] BruceHaley commented on #4612
ReleasePackageVersion var set to: 4.11.0-daily.{DateStamp}.$(Build.BuildId).{CommitHash}

[2020-09-11 18:07] #4612 closed

[2020-09-11 21:05] scheyal opened #4639 "split(str, " ") functionality changed"
I think it used to work where the space separated tokens, now it doesn’t.

Meaning:

Str := “token1 token2 token3”
List := split(Str)
Now list contains a string of “t”, “o”, “k”, “e”, “n”… instead of having 3 tokens.

I replaced my token separator from “ “ to “:” and it is back to original functionality.

[2020-09-12 01:20] #4540 closed

[2020-09-12 02:05] BruceHaley opened #4641 "Move task 'Tag build with package version' to botbuilder-dotnet-sign.yml so it's not called for any other build."
That would fix the tag error for the 2 DotNet CI builds when running against a a fork: forks are not given the OAuth access the tag task requires.
Example: https://fuselabs.visualstudio.com/SDK_Public/_build/results?buildId=165607&view=results
##[error]Could not find token for autheniticating. Please enable OAuth token in Build/Release Options.

[2020-09-13 02:58] tomlm opened #4642 "TranscriptLoggerMiddleware performance regression"
## Version

4.10.3

## Describe the bug

With commit Commit 6720f2c we introduced a performance regression in the transcript logger.

The transcript logger was designed to be zero impact which it did by putting all activities to be logged into a buffer queue. 

At the end of the turn, it drained the queue as async tasks, but it did NOT await those tasks so that they were fire and forget background

[2020-09-13 15:15] tomlm opened #4643 "TranscriptLoggerMiddleware is logging ContinueConversation events to transcript log"
## Version

4.10.3

## Describe the bug

When a skill calls back to the skill host the skill host creates a "ContinueConversation" event activity to get back into the context of the conversation.  This is essentially a temporary internal activity, but the TranscriptLogger is writing it to the transcript.  I don't think we want it logged to the transcript.

## To Reproduce

Look at logs when using

[2020-09-13 18:40] gabog commented on #4642
Hi @tomlm, what ITranscriptLogger implementation were you using when you saw the 3/5 secs bottleneck?

![image](https://user-images.githubusercontent.com/12264946/93025632-68964200-f5cd-11ea-92ca-841881c5317a.png)

I agree that we shouldn't be logging skill activities that are rerouted to the adapter (and maybe traces) and created an issue for that a couple of days ago [here](https://github.com/mi

[2020-09-13 22:57] tomlm opened #4645 "The SDK is over-verbose in generating TraceActivity records and it can't be turned off."
## Version

4.10.3

## Describe the bug

When using skills there are about 5 Trace activity generated per call to the skill.  Those trace activities get logged to the transcript (Generating a lot of transcript entries) and if the emulator is the channel they all get sent to the client (generating another chunk of transcript entities).

These are not core trace messages but include overly verbose m

[2020-09-13 23:42] EricDahlvang commented on #4567
Sure!   Thanks @gabog !

[2020-09-14 01:11] xieofxie commented on #4615
Yeah.. I like the way in document better

[2020-09-14 01:50] #4451 closed

[2020-09-14 01:59] xieofxie commented on #4209
Hi @gabog the issue contains two parts:
1. I would like a flag in declarative's memory state like `turn.isSkill`. An example usage: when called as a skill, bot will return data sometimes while called directly, it will not. By checking this flag, I would determine if I should execute the data generation code which could be time-consuming.

2. If we have `turn.isSkill`, there should be a counterpart

[2020-09-14 05:48] tsuwandy commented on #4569
@tdurnford, have we narrowed down this to issue with the Facebook Connector Service or the Facebook Messenger Channel?

[2020-09-14 05:59] tsuwandy commented on #4244
@boydc2014, @cosmicshuai, any update on this issue?

[2020-09-14 06:00] tsuwandy commented on #4478
@peterinnesmsft, any update on this?

[2020-09-14 06:03] cosmicshuai commented on #4244
@tsuwandy I am still working on this issue. I w will update in this thread if there are any progress.

[2020-09-14 07:00] feich-ms commented on #4523
Hi @benbrown, I tried the latest released composer to verify this issue. I also checked the code. This feature was enabled in R10 recently. So the latest composer and SDK can support binary data for httpRequest action now(It seems 4.9 version was used when reporting this issue). Could you please use the latest composer or SDK to have a try. You can set the Response type to `binary` like below. Ple

[2020-09-14 07:09] Monomoy88 commented on #4619
Thanks for explaining the fact in details.
Our solution is very generic & client facing where we can't restrict user to put special characters as long its supported by QnA Maker.
In QnA Maker if it can distinguish between these two option then recognizer should do that too.
As of now I guess the 3rd option is more appropriate for our solution however I think the approach you proposed in 3rd option

[2020-09-14 12:41] jvanderbiest commented on #1686
@EricDahlvang can you confirm these changes are in [v4.10.3](https://github.com/microsoft/botbuilder-dotnet/releases/tag/4.10) as stated in the release notes as I'm unable to find them in my .NET Core app.

For insance, where is BlobTranscriptStore?
![image](https://user-images.githubusercontent.com/3985995/93086869-10784200-f698-11ea-9aa3-1b57c94ac42e.png)

[2020-09-14 13:51] benbrown commented on #4523
Thanks for the update. I will validate with the customer.

[2020-09-14 15:40] haacked opened #4647 "OnInstallationUpdateRemoveAsync not called when removing bot from Slack workspace"
I have a bot connected to Slack via the Azure Bot Service (Bot channels registration). When a customer installs my bot into their Slack workspace, I can see that the `OnInstallationUpdateAddAsync` handle is invoked in my bot class (`ActivityHandler`).

However, when they remove the bot from their Slack workspace, the corresponding `OnInstallationUpdateRemoveAsync` method is never called.

Slack do

[2020-09-14 18:12] tdurnford commented on #4500
@vishwacsena Can you follow up?

[2020-09-14 18:25] #4088 closed

[2020-09-14 18:32] BruceHaley opened #4648 "Fix the way version vars are consumed in Microsoft.Bot.Builder.sln"
Variables ReleasePackageVersion and PreviewPackageVersion are consumed by projects in Microsoft.Bot.Builder.sln mediated by var IsBuildServer. That is unnecessarily cumbersome.

[2020-09-14 18:40] gabog commented on #4642
I made some comments for the PR, once that's addressed we can merge that, let us know if the fix needs to be cherry picked for 4.10.x.

[2020-09-14 20:47] vishwacsena opened #4651 "[Adaptive] Setting and managing recognizers for adaptive dialogs"
Today, we support a variety of recognizer types that work with adaptive dialog. Composer provides UX for a limited set of recognizer types but there is a need for us to have a scalable design to onboard custom/ new recognizer types in both composer as well as in adaptive dialogs.

**Requirements**:
- Ability for a recognizer type to register to handle technology specific workflows as part of build

[2020-09-14 20:50] vishwacsena commented on #4617
Tracked via #4651

[2020-09-14 20:50] #4617 closed

[2020-09-14 21:13] EricDahlvang commented on #1686
Hi @jvanderbiest

The new classes are in new libraries:
![image](https://user-images.githubusercontent.com/11055362/93138778-62b76400-f694-11ea-8abe-af3fac23091c.png)

[2020-09-14 21:51] vishwacsena commented on #4409
@boydc2014 can you take a look and help address in R11?

[2020-09-14 21:52] vishwacsena commented on #4500
@Stevenic @tomlm any suggestions?

[2020-09-14 22:31] mareekuh opened #4653 "Cannot connect to storage"
installed Mac build 1.1.1 release.
Installed, Cannot open or save bots as it cannot find  storage location.

![Screen Shot 2020-09-14 at 3 29 04 PM](https://user-images.githubusercontent.com/48503434/93144597-381ed880-f69f-11ea-9b2a-74f70dce3a39.png)

How do I fix this?

[2020-09-14 23:01] cwhitten commented on #4653
This is in the wrong repository. Transferring.

[2020-09-15 01:36] boydc2014 commented on #4651
@luhan2017 please also help take a look.

[2020-09-15 01:58] luhan2017 commented on #4651
Just my 2 cents. The runtime don't need to know what is exact recognizer type under CrossTrainedRecognizerSet, it can be qna luis, it can also be ochestrator and pva. Only publish logic need to be aware of that and trigger the corresponding pipeline.

Can we just add a field for publishing logic? For example，
···
{
		"recognizer": {
			"$kind": "Microsoft.CrossTrainedRecognizer",

[2020-09-15 02:12] boydc2014 commented on #4651
This proposal is to not use "CrossTrainedRecoginzerSet" as top-level recognizer, instead, use a LuisQnaCrossTrainedRecognizer. So in orchestrator, it should be a  OrchestratorQnaRecongizer, so that the "$kind" will be able to identify the choice.

[2020-09-15 02:38] #4639 closed

[2020-09-15 04:04] #4093 closed

[2020-09-15 07:14] ipraveenMS opened #4654 "LuisRecognizer.RecognizeAsync returns null properties"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
Assembly Microsoft.Bot.Builder.AI.Luis, Version=4.9.3.0

## Describe the bug
Give a clear and concise descript

[2020-09-15 09:08] cosmicshuai commented on #4244
@berhen @tsuwandy @boydc2014
I created a draft to fix this issue. Could you have a look does this resolve your concerns?
The idea is after checking all the intents and ambiguity, instead of returning a new RecognizerResult, I just do a  iteration of all results in from the recognizers and merge all existing entities.
I have a unit test for this scenario and will try to add an E2E test with Luis re

[2020-09-15 12:53] berhen commented on #4244
@cosmicshuai Looks like a good solution to me. Thanks for your work on this issue.

[2020-09-15 15:41] vitaliygor opened #4657 "Add Locale to ITurnContext"
Hello team,

We are using Adaptive Dialogs library(version 4.8) for our solution. Due to the business needs, we use our own implementation of the ITurnContext. During updated to the latest version(currently 4.10.3) we faced the issue, that we cannot overcome by ourselves.

There is a method GetLocale in [DialogContext.cs](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft

[2020-09-15 16:01] jwiley84 commented on #4647
Hi @haacked Can I get a bit more details while I look into this? Are you using a bot simply connected to the Slack channel or are you using a bot created around the Slack adapter sample from the samples repo?

[2020-09-15 16:04] cosmicshuai commented on #4657
Sorry for causing this trouble for your development.
We will discuss this issue and get a solution for this as soon as possible. Personally, I prefer bring locale interface to ITurnContext.

[2020-09-15 16:20] #4095 closed

[2020-09-15 16:25] #4595 closed

[2020-09-15 16:34] haacked commented on #4647
It's not a bot from the samples repo, but it's similar in structure.

I followed [these instructions](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) to connect my bot tot the Azure Bot Service Portal.

[2020-09-15 16:41] gabog commented on #4657
Hi @vitaliygor, can you provide more details on why you had to create your own implementation of ITurnContext instead for deriving from TurnContext?

Thanks

[2020-09-15 17:02] tsuwandy commented on #4654
@munozemilio , @gabog, is this something you could take a look at?

[2020-09-15 17:05] tsuwandy commented on #4509
@jwiley84, any update on this?

[2020-09-15 17:07] tsuwandy commented on #4425
@cosmicshuai, any update on PR status?  Thanks!

[2020-09-15 17:10] tsuwandy commented on #4510
@sahithikkss, could you address the PR comment so it could be merged?  Thanks! https://github.com/microsoft/botbuilder-dotnet/pull/4574

[2020-09-15 17:12] tsuwandy commented on #4477
@EricDahlvang, will this be addressed with R11 or before?  Thanks!

[2020-09-15 18:57] BruceHaley opened #4658 "Set functional test pipelines to trigger for a CI/PR where their yaml gets changed"
\# PR trigger
pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - docs/*
    exclude:
    - docs/README.md
https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#pr-triggers

\# CI trigger
trigger:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - docs/*
    exclude:
    - docs/README.md
h

[2020-09-16 00:09] EricDahlvang commented on #4477
@tsuwandy here is a PR to fix the issue: https://github.com/microsoft/botbuilder-dotnet/pull/4660  I tested this on teams before and after the fix (also, this is the same code in OAuthPrompt).  I've created a separate issue to track de-duplicating this code: https://github.com/microsoft/botbuilder-dotnet/issues/4467

We can cherry-pick it to 4.10 once merged.

[2020-09-16 02:47] cosmicshuai commented on #4425
@tsuwandy
I've modified the PR according to Chris's comments. I believe it will be merged in this week.

[2020-09-16 07:43] cosmicshuai commented on #4524
@benbrown
I tested this API through postman and found the header of this request need user-agent.
So I added a key-value pair in Headers:
![image](https://user-images.githubusercontent.com/17074777/93307184-4a318000-f833-11ea-9f07-87833bd606fd.png)
This will get right response code:
![image](https://user-images.githubusercontent.com/17074777/93307274-62090400-f833-11ea-9de9-49eb6115adac.png)

[2020-09-16 07:58] Stevenic opened #4662 "Changes to "turn.activity.value" not always being persisted"
### \*\*\*\* The Bug is 4 Comments Down \*\*\*\*

## Version

4.10.3

## Describe the bug

I'm using composer and trying to add a property to "turn.activity.value" before forwarding the activity on to another event handler in my bot for processing. Something I've done dozens of times. This is the first time I've gone from one custom event to another and my changes are being dropped.  You can see t

[2020-09-16 08:08] Stevenic commented on #4662
Further evidence that something is amiss.  I modified my OnSaveItem event handler to dump out everything in the turn state. The top value is the activity and the bottom is the copy of the activity value I passed as the event args.  I'll use that value to work around my bug but we should try to fix this issue.

![](https://user-images.githubusercontent.com/698939/93309915-f7b37d80-f7b8-11ea-981d-21

[2020-09-16 08:11] Stevenic commented on #4662
And to be clear... I'm actually fine with the activity that's in turn state being a clone of the original activity but I should be able to make any changes I want to it for routing purposes.  What I don't fully get is I know I've successfully done this before.

[2020-09-16 08:27] Stevenic commented on #4662
So the work around was to simply copy `turn.dialogEvent.value` to `turn.activity.value`.  

![](https://user-images.githubusercontent.com/698939/93311520-f5eab980-f7ba-11ea-8514-5d1219a92850.png)

For giggles I disabled that change and then put a trace action on each side of the `EmitEvent` call. The result of that was that "newItem" was there before the emit event call but not after... interestin

[2020-09-16 08:29] Stevenic commented on #4662
And as I now suspected there it is:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs#L36

Ummm.... Don't so that. We should assign the activity once at the beginning of the turn and not every time  we create a new DC. We create a lot of transient DC's.

[2020-09-16 09:12] xieofxie opened #4663 "[Adaptive] do we have a while loop action?"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

It seems we only have ForEach for loop.

**Describe the solution

[2020-09-16 10:04] vitaliygor commented on #4657
Hello @gabog

We are using decoration over ITurnContext to add some additional behavior to the TurnContext. There are several reasons why we did that:
1. The decoration is more preferable than inheritance. [Discussion](https://stackoverflow.com/questions/4842978/decorator-pattern-versus-sub-classing)
2. Microsoft.Bot.Schema infrastructure is using ITurnContext and does not know anything about the

[2020-09-16 12:46] #4641 closed

[2020-09-16 13:26] benbrown commented on #4524
So our HTTP request doesn't send a user-agent header by default? It definitely should!!

[2020-09-16 19:21] #4477 closed

[2020-09-16 20:50] mrivera-ms commented on #4645
We should look at this in the context of end-to-end skills tracing. Up for investigation.

[2020-09-16 20:53] mrivera-ms commented on #4620
@vishwacsena , please assign a priority and milestone to this item?

[2020-09-16 21:01] mrivera-ms commented on #4572
@vishwacsena , could you please look at this item and let us know who should take it?

[2020-09-16 21:05] mrivera-ms commented on #4568
@xieofxie , please update this issue to include more detail about what you would like to see in the documents. Thanks.

[2020-09-16 21:09] v-kydela commented on #4593
@irwinwilliams - Do you still need help?

[2020-09-16 21:11] mrivera-ms commented on #4555
@garypretty , we think this is a feature request, can you comment on it?

[2020-09-16 21:16] mrivera-ms commented on #4544
@garypretty , please take a look at this and let us know if and how we should take this.

[2020-09-16 21:22] mrivera-ms commented on #4539
This will be split between R11 for design review and R12 for execution.

[2020-09-16 21:24] mrivera-ms commented on #4526
Need to find out what is the priority of this item and when should it be delivered.

[2020-09-17 02:32] xieofxie commented on #4568
@mrivera-ms I am sorry, document means comment in code here. Since we don't have document for `Microsoft.MentionEntityRecognizer` now (do we?)

[2020-09-17 17:09] mrivera-ms commented on #4619
@v-kydela , are you able to take this bug? Please let us know if you have the availability.

[2020-09-17 17:12] mrivera-ms commented on #4519
@garypretty , can you give us an indicator of the priority of this item? Thanks.

[2020-09-17 17:14] EricDahlvang commented on #4519
Does OnEndOfActions work for this?  (as vishwacsena mentioned)

[2020-09-17 17:19] mrivera-ms commented on #4506
@darrenj , we need this prioritized and assigned. Could you please take a look?

[2020-09-17 17:29] mrivera-ms commented on #4492
@EricDahlvang , please document what the issues are and assign it.

[2020-09-17 17:31] EricDahlvang commented on #4492
- test is running cmd.exe (this does not seem like a good practice for a ci pipeline test of this product)

- this test seems fragile

- this might be better in the cli library

- can we rewrite this test, or move it to a nightly/functional test pipeline?

[2020-09-17 17:36] EricDahlvang commented on #4492
@chrimc62  some of us were reviewing this, and wondering if you would please address the issues raised above.

[2020-09-17 17:41] mrivera-ms commented on #4467
This will fall within the refactor effort for Adaptive. We should take into consideration the adapter refactoring.

[2020-09-17 17:43] mrivera-ms commented on #4438
@garypretty , please assign a priority to this item.

[2020-09-17 17:50] mrivera-ms commented on #4346
@garypretty , please assign and prioritize. Also, please add milestone. Thanks.

[2020-09-17 17:51] mrivera-ms commented on #4295
Closing per @axelsrz .

[2020-09-17 17:51] #4295 closed

[2020-09-17 17:55] mrivera-ms commented on #4223
@vishwacsena , please prioritize and assign this item to a milestone. We need to get a resolution on the best course of action. Thanks.

[2020-09-17 17:59] mrivera-ms commented on #4191
Since we are not going to address this issue now, it will be closed. Reopen when there is a customer request.

[2020-09-17 17:59] #4191 closed

[2020-09-17 18:01] mrivera-ms commented on #4186
@boydc2014 , please add priority and size.

[2020-09-17 18:11] tsuwandy commented on #4472
@Kaiqb, could you take a look and update doc, if samples are needed, could you assign to @gabog?

[2020-09-17 19:10] v-kydela commented on #4619
@mrivera-ms - Yes, I will take it. I'm not sure what the best solution is yet but I'll look into it further.

@Monomoy88 - I suspect option 2 will be better and easier for you than option 3, but once this bug is fixed you won't need to worry about it.

[2020-09-17 19:15] #4090 closed

[2020-09-17 19:17] #4098 closed

[2020-09-17 19:56] mrivera-ms commented on #4113
This is being tracked in a separate set of issues now. Closing as duplicate.

[2020-09-17 19:56] #4113 closed

[2020-09-17 23:50] chrimc62 commented on #4492
The issue is that our schemas are defined and versioned with the SDK code.  Prior to having this check, bad schemas would often get checked-in and not be found until someone used them much later.  We could rely on developers installing the latest bf tool and manually build the schemas, but that requires a level of effort that has been problematic in the past.  With the current test we always insta

[2020-09-18 06:27] cosmicshuai commented on #4524
@benbrown Yes. We should have a default user-agent in the header of HttpRequest.

[2020-09-18 06:42] ipraveenMS commented on #4654
We resolved it ourselves by   IncludeAPIResults = true as below.

 luisOptions = new LuisRecognizerOptionsV3(dispatchApp)
                    {
                        TelemetryClient = telemetryClient,
                        LogPersonalInformation = true,
                        IncludeAPIResults = true
                    };

[2020-09-18 06:42] #4654 closed

[2020-09-18 12:55] atifgk opened #4670 "Reference conflicts"
**Error CS1705 Assembly 'Microsoft.Bot.Builder.Integration.AspNet.Core' with identity 'Microsoft.Bot.Builder.Integration.AspNet.Core, Version=4.10.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' uses 'Microsoft.AspNetCore.Http.Abstractions, Version=3.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' which has a higher version than referenced assembly 'Microsoft.AspNetCore.Http.Abstra

[2020-09-18 16:09] mrivera-ms commented on #4179
@darrenj , please prioritize and assign this item. Thank you.

[2020-09-18 16:14] mrivera-ms commented on #4042
@DingmaomaoBJTU , could you please add more detail to your request? We would like to understand exactly what you are hoping to get here.

[2020-09-18 16:26] mrivera-ms commented on #4008
This has been replied to. @KoradaRajesh , please see the answer above. We are closing it now, but can be reopened in the future if there is a clear need.

[2020-09-18 16:26] #4008 closed

[2020-09-18 16:29] mrivera-ms commented on #3969
@xieofxie , please see the reply from @Danieladu above. Closing as resolved.

[2020-09-18 16:29] #3969 closed

[2020-09-18 16:30] EricDahlvang commented on #4018
ContinueConversation should be reviewed all up, in conjunction with `callerId` and `oauthScope` or `authority`.  One proposal is to add callerId to ConversationReference, and derive authority from it.  This would deprecate SkillConversationReference, and simplify the surface area significantly.

[2020-09-18 16:31] mrivera-ms commented on #3941
@garypretty , please take a look and prioritize this. Thanks.

[2020-09-18 16:36] mrivera-ms commented on #3592
@boydc2014 , please prioritize this item and let us know if it will be done in R11.

[2020-09-18 16:39] mrivera-ms commented on #3007
@garypretty , please take a look and let us know if this is an R11 item. Thanks.

[2020-09-18 16:41] mrivera-ms commented on #784
This is a stale item.

[2020-09-18 16:41] #784 closed

[2020-09-18 16:56] chrimc62 commented on #4003
@mrivera-ms not sure why this is assigned to me.  The fix is as simple as just changing backquote to simple quote in the error messages from LG.

[2020-09-18 16:58] #3180 closed

[2020-09-18 17:00] chrimc62 commented on #4460
This has been resolved.

[2020-09-18 17:00] #4460 closed

[2020-09-18 17:41] EricDahlvang commented on #4670
Hi @atifgk

I believe you will need to manually add a reference to Microsoft.AspNetCore.HttpAbstractions 3.1.0 in order to overcome this.  I assume your project is targeting net core 3.1?

[2020-09-18 17:57] tsuwandy commented on #4599
@EricDahlvang, is this issue resolved with the PR?

[2020-09-18 20:08] v-kydela commented on #4593
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-09-18 20:08] #4593 closed

[2020-09-18 20:45] cwhitten commented on #3007
@mrivera-ms it would be great if we had the DCR addressed and agreed to in R11 to be implemented in R12. Thanks.

[2020-09-18 20:48] johnataylor opened #4672 "Provider better error messages on inadequate configuration for different cloud environments"
Provider better error messages on inadequate configuration for different cloud environments

[2020-09-18 21:51] irwinwilliams commented on #4593
Apologies for the delay, @v-kydela. Was working on some other bots, but you did help me and I'm glad I got it working on FB's channel.

[2020-09-18 23:18] #4510 closed

[2020-09-19 02:38] EricDahlvang commented on #4599
@tsuwandy yes, the fix will go out with the next patch.

Closing

[2020-09-19 02:38] #4599 closed

[2020-09-19 03:12] EricDahlvang commented on #4492
@mrivera-ms do we close this?

I have no great suggestions for how to rearchitect these tests, and it looks like Chris addressed everything.

[2020-09-19 05:34] #4400 closed

[2020-09-19 07:34] atifgk commented on #4670
Hi @EricDahlvang thanks for reply. yes i'm using asp.net core 3.1 version. in nuget only Microsoft.AspNetCore.HttpAbstractions 2.2.0 available. can you please guide how i can install 3.1.0? thanks

[2020-09-19 08:15] atifgk commented on #4670
please see this one
https://www.nuget.org/packages/Microsoft.AspNetCore.Http.Abstractions/

[2020-09-19 17:57] stevengum opened #4673 "Blocking on polling operations prevents OAuth from working in Streaming scenarios"
SDK Version: 4.10.x

In the 4.10.0 release the team cleaned up the code base which resulted in some background tasks being waited on. The default number of tasks and interval between each task results in dropped streaming connections due to timeouts. Bots will wait for the operations to complete and _then_ finish its response to the channel.

https://github.com/microsoft/botbuilder-dotnet/blob/31a

[2020-09-19 18:09] stevengum opened #4674 "TurnContext.TurnState is missing ClaimsIdentity in streaming scenarios"
## Version
4.10.3

## Describe the bug
The ClaimsIdentity is not populated in the TurnState for streaming scenarios.

## To Reproduce
1. Setup the [24.bot-authentication-msgraph sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/24.bot-authentication-msgraph)
2. Configure Direct Line ASE or Direct Line Speech for the bot
3. Ping the bot via Web Chat
4. Chec

[2020-09-19 22:21] Stevenic opened #4676 "If a skill has an error it doesn't send EndOfConversation"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version

4.10.3

## Describe the bug

If a skill triggers an exception during operation, the default `OnTurnError` handler is triggered. This results in us failing t

[2020-09-20 14:14] Jawvig commented on #4670
I get the same issue. Steps to reproduce:
1) Create an Azure Function app in VS 2019
2) Add the "Microsoft.Bot.Builder.Integration.AspNet.Core" 4.10.3 package
3) Replace the contents of the function class with the following:

[code]
4) Compile the project

Here's what the .NET Core 3.1 version Microsoft.Bot.Builder.Integration.AspNet.Core assembly is referencing:
![image](https://user-images.githu

[2020-09-21 01:29] xieofxie commented on #4674
See related https://github.com/microsoft/botbuilder-dotnet/issues/4254

[2020-09-21 16:06] #4642 closed

[2020-09-21 16:29] #4491 closed

[2020-09-21 17:11] mrivera-ms commented on #4676
@gabog , temporarily assigning this to you. Please let us know if this can be resolved in R11 and reassign, if needed. Thank you.

[2020-09-21 17:59] EricDahlvang commented on #4670
I apologize for my confusion in the above response.  Looking into this more, Microsoft.AspNetCore.HttpAbstractions is actually provided for a 3.1 project via a FrameworkReference:

[code]

Please add this to your .csproj file, and let us know how it goes.

[2020-09-21 18:13] tdurnford commented on #4594
@garypretty Do you have any updates on this issue?

[2020-09-21 18:14] tdurnford commented on #4317
@carlosscastro @lzc850612 Any updates on this issue?

[2020-09-21 18:36] garypretty commented on #4544
@mrivera-ms yes, I think we should take this.  We should throw the error instead of returning an empty string (providing we check that no other code is relying on that return of an empty).

[2020-09-21 18:45] garypretty commented on #4555
@jintu123 This is not unique to adaptive dialogs - this is the same across the framework.  At present there is no native way within Composer that allows you to see when the user was last seen. You could store the last seen time manually into User State, which would let you know on the next turn when the user was last active.  However, if you wanted to achieve the timeout scenario, you would need t

[2020-09-21 18:47] garypretty commented on #4519
@mrivera-ms let's confirm if @vishwacsena's suggestion works.  Either way, let's ensure this get's addressed as part of R11 given this is a requirement for PVA.

[2020-09-21 18:49] garypretty commented on #4438
Priority / milestone assigned.

[2020-09-21 18:51] garypretty commented on #4346
Added priority / milestone. Given this blocks using this setting and there is no easy workaround, marking this as a P1.

[2020-09-21 18:55] garypretty commented on #3941
Setting milestone as R11 - this looks like a good suggestion (maybe @Stevenic already has a related path for JavaScriptAction?) - given there is a workaround, albeit using multiple set properties, I will assign this as a P2 for R11.

[2020-09-21 18:58] garypretty commented on #3007
Setting this as a P1 for R11 to drive progress on this.  Not a blocker for R11 to ship, but will be for R12.  This is going to be required for our Teams functionality.  If we can make progress in R11 and ship it, that would be a stretch goal.

[2020-09-21 19:07] mrivera-ms commented on #4519
@cwhitten , could you please let us know if OnEndOfActions would work for the customer?

[2020-09-21 19:19] cwhitten commented on #4519
@sbacha What do you think?

[2020-09-21 20:24] stevengum opened #4679 "Create additional unit tests for TokenResolver"
Regarding testing, adding negative tests to this code area would be great. Not mandatory for this PR but something I'd love to see in R11 as part of our investment to make this more solid.

_Originally posted by @carlosscastro in https://github.com/microsoft/botbuilder-dotnet/pull/4675#discussion_r492309250_

[2020-09-21 20:43] #4244 closed

[2020-09-21 21:08] gabog commented on #4209
Hi @xieofxie, can you provide a few practical examples on when would you need to know if you are running as a skill or not as a composer user?

[2020-09-21 21:39] #4673 closed

[2020-09-21 23:43] EricDahlvang opened #4683 "Test library race condition introduced from not awaiting TryLogTranscriptAsync"
## Version
main branch

## Describe the bug
This change https://github.com/microsoft/botbuilder-dotnet/pull/4681 (not awaiting TryLogTranscriptAsync) will cause tests to randomly fail.

## To Reproduce
Steps to reproduce the behavior:
1. Run all tests locally
2. BlobsTranscriptStoreTests. LogDeleteActivities and LogUpdateActivities might fail
3. If they don't fail, run them again.
4. If they do fa

[2020-09-22 01:55] EricDahlvang opened #4684 "Investigate if custom StorageTransferOptions should be used in BlobsTranscriptStore and BlobsStorage"
**Is your feature request related to a problem? Please describe.**
Potentially improve performance of BlobsStorage and BobsTranscriptStore

**Describe the solution you'd like**
Tom and Carlos also raise an interesting point in this issue:
https://github.com/microsoft/botbuilder-dotnet/issues/4642

We should consider what is the optimal `StorageTransferOptions` for most bots, and maybe loosely expo

[2020-09-22 01:57] EricDahlvang commented on #4642
Tom and Carlos raise a good point.  We should consider what is the optimal `StorageTransferOptions`

Created a separate issue to investigate that: https://github.com/microsoft/botbuilder-dotnet/issues/4684

[2020-09-22 02:09] atifgk commented on #4670
Hi @EricDahlvang ,
  Thanks for reply. I tried your solution it solved that error but now getting other error.

`System.Private.CoreLib: Exception while executing function: BotMessagesHandler. Microsoft.Bot.Connector: Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.`

I t

[2020-09-22 03:17] xieofxie commented on #4209
Hi @gabog since it is not valid, I don't have a composer example now. I could find some C# examples for you https://github.com/microsoft/botframework-skills/search?l=C%23&q=IsSkill

In summary, return value, code logic like introduction, cancel, interruption would be different. Thanks~

[2020-09-22 07:51] atifgk commented on #4670
@EricDahlvang please find project in attachment

[SampleProject.zip](https://github.com/microsoft/botbuilder-dotnet/files/5259774/SampleProject.zip)

[2020-09-22 07:52] atifgk commented on #4670
it work fine if i use Microsoft.Bot.Builder.Integration.AspNet.Core" 4.6.0 version

`<PackageReference Include="Microsoft.Bot.Builder.Integration.AspNet.Core" Version="4.10.3" />`

[2020-09-22 13:54] gabog commented on #4209
Thanks for the query @xieofxie, that helps a lot to understand the need. We are currently trying to get a clear understanding one when do you need to know if something is running as a skill or not. I'll put this request in the backlog for now and will get back to it once we are done with the research. Sounds good?

[2020-09-22 15:44] EricDahlvang commented on #4670
Well, this is odd.  Adding _FunctionsSkipCleanOutput to the .csproj fixes the System.IdentityModel.Tokens.Jwt load issue:

[code]

More information about this can be found here:
https://github.com/Azure/azure-functions-vs-build-sdk/issues/397
and
https://github.com/Azure/azure-functions-host/issues/5894

[2020-09-22 16:19] atifgk commented on #4670
Thanks @EricDahlvang its working now with your trick :)

[2020-09-22 16:19] #4670 closed

[2020-09-22 17:33] cleemullins commented on #4343
Close, as Vishwac suggested valid workaround.

[2020-09-22 17:33] #4343 closed

[2020-09-22 17:43] #4619 closed

[2020-09-22 21:16] EricDahlvang commented on #4500
Hi @Rouvo

If I'm understanding correctly, you are trying to save something in UserState within middleware which should then be available in composer.  But, the middleware is currently storing values differently.  Is that correct?

The difference in your middleware's saved state, and composer, appears to be due to the fact that the internal state storage implementations will store type information

[2020-09-22 22:30] #3362 closed

[2020-09-23 07:13] #4425 closed

[2020-09-23 09:29] xieofxie opened #4690 "Microsoft.Test.SetProperties is not working correctly"
## Version

Current main 4677d4ec6c5bd3659ec834d4c175f3036208e363

## Describe the bug

Microsoft.Test.SetProperties is not working correctly.
* assignment.Property.Value, assignment.Value.Value are null here https://github.com/microsoft/botbuilder-dotnet/blob/4677d4ec6c5bd3659ec834d4c175f3036208e363/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing/TestActions/SetProperties.cs#L61

* Also

[2020-09-23 10:00] cosmicshuai commented on #4409
Hi @berhen
I created a PR to fix this issue. And there is a demo to show how to access the class scope in dc.State.
Hope this could solve your concerns.

[2020-09-23 15:48] sbacha commented on #4519
Just to understand the scope of OnEndOfActions ?  Is it global on the bot or per dialog ?
I don't see it exposed in composer yet ...

[2020-09-24 00:26] boydc2014 commented on #4200
The result after triaged is try to reverse the flatten result as array as possible, otherwise turn it into dict.

[2020-09-24 00:48] boydc2014 commented on #4524
approved, and we should only set user-agent header if no explicit value is specified.

[2020-09-24 01:17] #4490 closed

[2020-09-24 02:44] #4506 closed

[2020-09-24 05:12] jintu123 opened #4695 "Wait time"
Currently, is there a way to make the bot Wait for few seconds like sleep or wait for 10sec before doing the next request in the Flow?

Example:

I want to send two Output, first to click the link to open Up and next to ask do you want anything else, but I want to wait a few seconds before I send the next Prompt.

![image](https://user-images.githubusercontent.com/15074288/94103524-85930680-fe52-1

[2020-09-24 05:53] #4620 closed

[2020-09-24 05:56] #4119 closed

[2020-09-24 06:02] #4567 closed

[2020-09-24 13:59] geoffsoper opened #4694 "Split() prebuilt function seems to be ignoring space delimiter"
The split function described at https://docs.microsoft.com/en-gb/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#split doesn't seem to be working correctly when using a space as a delimiter.

I'm deriving a user's first name from their full name using "Set a property" where the Value is the expression "=first(split(user.name, ' '))". This c

[2020-09-24 16:39] #4478 closed

[2020-09-24 17:03] cwhitten commented on #4555
@garypretty I believe we should leave this open as a feature-request rather than close it entirely.

[2020-09-24 18:02] dmvtech commented on #4694
I was able to reproduce this. It works with other character delimiters (tested with "**t**").

[2020-09-24 21:47] dmvtech commented on #4694
Hi @ninggao This seems to be a bug in adaptive expressions and not something I would be able to resolve. Any ideas on a better owner?

[2020-09-24 22:33] guru98 opened #4707 "Call CodeAction from declarative code"
I understand that is possible use declarative dialogs and code base dialog in the same bot, there are also some example but in the composer you can add call to CodeAction. This should be possible at least for this scenarius as i think that could be interesting design bot using composer and than inject in the bot and have the possibility to call our own code

[2020-09-25 00:51] arturl opened #4708 "Allow *truly* proactive messages"
**Problem:** To send a proactive message to the user, the user has to have communicated with the bot previously, which allows the bot to get the `ConversationReference` for the `ContinueConversationAsync` call. (Creating `ConversationReference` from scratch is possible but hard)

This doesn't work in scenarios where the user has never communicated with the bot before, but has consented to receive

[2020-09-25 06:13] Wajeed-msft opened #4709 "State property is missing in MessagingExtensionAction.cs which is required for authentication"
State property is missing in [MessagingExtensionAction.cs](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Schema/Teams/Generated/MessagingExtensionAction.cs). This should be similar to [MessagingExtensionQuery.cs](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Schema/Teams/Generated/MessagingExtensionQuery.cs#L74) State property.

[2020-09-25 06:26] berhen commented on #4409
Hi @cosmicshuai Thanks for your work on this issue. I'm going to check it after the release of the next SDK version.

[2020-09-25 08:02] godwin3737 opened #4710 "ActivityTypesEx.Delay Throws System.InvalidCastException - Unable to cast object of type ‘System.Int64’ to type ‘System.Int32"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.7.2

## Describe the bug
Using ActivityTypesEx.Delay activity ( stored in dialogstate ) throws error

System.InvalidCastException - Unable to cast object o

[2020-09-25 10:14] boydc2014 commented on #4694
hi, @geoffsoper  @dmvtech this is a SDK issue and has been fixed in runtime, i believe it's in 4.10.2 (i will double check soon), in composer side, we will bring the fix with next minor version, 1.1.2.

[2020-09-25 10:16] jintu123 commented on #4695
Hello,

Please look into the https://github.com/microsoft/BotFramework-Composer/issues/4268

As I am unable to create Custom Action, Getting this Bug.

[2020-09-25 16:14] clearab commented on #4709
Thanks for reporting, we'll get this added.

[2020-09-25 16:14] clearab commented on #4709
@EricDahlvang do you have time to pick this one up?

[2020-09-25 16:24] tdurnford commented on #4647
@jwiley84 Do you have any updates on this?

[2020-09-25 16:59] #4458 closed

[2020-09-25 17:23] v-kydela commented on #4707
Hello, @guru98

Can you please clarify if this is a question, feature request, or bug report?

[2020-09-25 17:27] guru98 commented on #4707
It's a feature request: i think thato the composer can be used to develop full bots or to create flow that can be used in "code based" bots. In this case should be possible create stubs versus other dialgog developd outside the composer. CodeAction is one of the scenarious but can be applied to any type of dialogs

[2020-09-25 17:36] v-kydela commented on #4707
@guru98 - What is the feature you're requesting?

[2020-09-25 17:47] guru98 commented on #4707
Have the possibility to call CodeActions from .dialog

[2020-09-25 18:11] Vigneshramkumar opened #4714 "Declarative Adaptive Dialog issue with LUIS Recognition"
Hello Team,

I am using Declarative adaptive dialog for our chatbot. I tired including the recognizer as LUIS in my .dialog file. But i am getting  Type Microsoft.LuisRecognizer not registered in factory error while execution. I am doing with the following steps in my declarative files.

Created below 4 declarative files.
Test.lu

![image](https://user-images.githubusercontent.com/17233137/9430160

[2020-09-25 19:05] BruceHaley opened #4716 "Change Assert.Inconclusive() to Assert.Fail() in GetEnvironmentVars() in tests"
Assert.Inconclusive() should never be used in environment variable checks, because it masks test failures by having them be skipped. In an automated build, it causes the build to pass when it should fail. Assert.Fail() should be used instead.

This needs fixing in TwilioNumberTests.cs and in SlackClientTest.cs, possibly others.

[2020-09-25 19:49] BruceHaley opened #4717 "Intermittent test failures for BotBuilder-DotNet-Webex-Functional-Test-yaml"
One out of four runs fails. Some fail, then later pass against the same commit.

Runs: [https://fuselabs.visualstudio.com/SDK_v4/_build?definitionId=849&_a=summary](https://fuselabs.visualstudio.com/SDK_v4/_build?definitionId=849&_a=summary)

[2020-09-25 20:51] EricDahlvang commented on #4710
Hi @godwin3737

Thank you for the PR to fix this issue.  Would you please add System.Globalization.CultureInfo.InvariantCulture to the call?  Our build enforces this rule on culture sensitive method calls.

[2020-09-25 21:04] EricDahlvang commented on #4709
@clearab  https://github.com/microsoft/botbuilder-dotnet/pull/4718  (the build will fail because of binary compat rules, but i think we are no longer enforcing that level of compat for parameter additions???)

[2020-09-25 21:05] clearab commented on #4709
Yeah, I thought we dropped that when we pulled in the Teams stuff. @cleemullins or @mrivera-ms are we still enforcing binary compat?

[2020-09-26 06:01] godwin3737 commented on #4710
@EricDahlvang Thanks, Have pushed the required updates.

[2020-09-27 08:06] xieofxie opened #4722 "settings memory scope is mutable"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

It should be readonly https://github.com/microsoft/botbuilder-dotnet/blob/a8acd75d79a7d8c4f0ad248e727bb2da3982e416/libraries/Microsoft.Bot.Builder.Dialogs/Me

[2020-09-28 06:46] boydc2014 commented on #4523
@benbrown closing this for now, feel free to reopen if this is not resolved.

[2020-09-28 06:46] #4523 closed

[2020-09-28 06:48] boydc2014 commented on #4010
Agree, we will take this soon after the P0's is done.

[2020-09-28 16:18] ninggao commented on #4509
@jwiley84, any update on this?

[2020-09-28 16:18] ninggao commented on #4472
@Kaiqb, any update on this?

[2020-09-28 16:51] EricDahlvang commented on #4500
Hi @Rouvo

Are you still working on this?  Or, should we close the issue?

[2020-09-28 18:12] ninggao commented on #4714
@dmvtech Could you take a look at this please?

[2020-09-28 18:13] #4409 closed

[2020-09-28 18:16] #4524 closed

[2020-09-28 20:27] johnataylor opened #4729 "Gov Auth Constants Need Updating"
Various Gov Auth constants in the current code need updating. These should be updated independently of any additional configuration driven changes that we are bringing in with the new CloudAdapter.

The following is wrong:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Connector/Authentication/EmulatorValidation.cs#L32

and mostly likely this is also wrong:

http

[2020-09-28 20:31] stevengum commented on #4729
This isn't a Size: S if you count the other languages and E2E testing... I think this should be transferred to BotFramework-SDK

[2020-09-28 20:41] willportnoy commented on #4729
The GUID cab8a31a-1906-4287-a0d8-4eef66b95f6e reflects the USME.gbl tenant that contains our older bot->channel AAD resource application, which worked for Fairfax.

MicrosoftServices.onmicrosoft.us is the proper tenant that contains our newer bot->channel AAD resource application, which will transparently work for Fairfax and Arlington.

After updating these constants, the emulator will need to be

[2020-09-28 21:23] gabog commented on #3953
This seems stale, closing it.

[2020-09-28 21:23] #3953 closed

[2020-09-28 22:13] Stevenic opened #4730 "We should add a new CopyResponse action"
We have a powerful localization system in LG yet there's no simple way to use it for localizing things like choice set options.  We should add a new `CopyResponse` action which works the same way as `SendResponse` but lets you specify a memory variable to save the output of LG to.  We should then update SendResponse to generate the outgoing activity using a template or to pull it dynamically from

[2020-09-28 22:56] dmvtech commented on #4714
Hi @Vigneshramkumar Did you publish to your staging slot, production slot or both?

[2020-09-28 23:39] chrimc62 commented on #4492
I'm going to close this.  Please reopen if my arguments didn't sway you.

[2020-09-28 23:39] #4492 closed

[2020-09-29 00:45] Vigneshramkumar commented on #4714
@dmvtech - Thanks for your response. I published to both staging and production slots in LUIS portal.

[2020-09-29 03:10] mrivera-ms commented on #4526
Assigned to @boydc2014 for discussion to evaluate if this will be done.

[2020-09-29 03:13] mrivera-ms commented on #4519
@cwhitten , can we expose OnEndOfActions in Composer first and see if this satisfies the requirements?

[2020-09-29 03:16] mrivera-ms commented on #4342
Assigning @boydc2014 . Needs clarification about which Action it refers to.

[2020-09-29 03:20] mrivera-ms commented on #4223
This is a duplicate of #4522 . Closing issue.

[2020-09-29 03:20] #4223 closed

[2020-09-29 03:29] mrivera-ms commented on #3007
This will be done in R12. Need spec to clarify how to implement.

[2020-09-29 05:07] gabog opened #4733 "TranscriptLoggerMiddleware is logging ContinueConversation events to transcript log (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6059)

[2020-09-29 08:41] Vigneshramkumar commented on #4714
@dmvtech - I published to both staging and production slots in LUIS portal. In Emulator i am getting below error while running the bot.

![image](https://user-images.githubusercontent.com/17233137/94533833-52d77c80-025d-11eb-9a78-6db05423cc64.png)

And below is the logic i have written in bot for loading the dialog file through ResourceExplorer. The dialog file name is Luis.main.dialog.

![image](

[2020-09-29 13:28] cwhitten commented on #4519
@mrivera-ms The SDK team should still be able to answer Salem’s question, right?

[2020-09-29 13:37] sschutten opened #4734 "TranscriptLoggerMiddleware exception when logging activities without ID like trace activities"
## Version
v4.10.3

## Describe the bug
The AzureBlobTranscriptStore throws the following exception when an activity in the transcript has no ID. This is the case for e.g. trace activities.

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Create an empty bot, e.g. using the Bot Framework Composer
2. Add a trace activity
3. Enable the TranscriptLoggerMiddleware using the AzureBlobTransc

[2020-09-29 15:01] boydc2014 commented on #4519
Hi, @sbacha, this OnEndOfActions is trigger and it's scope is per dialog. Actually in AdaptiveDialog, all triggers must belong to a certain dialog and thus all trigger can be perceived as a per dialog level thing.

[2020-09-29 17:02] #4511 closed

[2020-09-29 17:13] dmvtech commented on #4714
Thanks. I'm looking into this more.

[2020-09-29 17:40] Vigneshramkumar commented on #4714
@dmvtech - The issue is that i missed to register the Luis component in Startup class of my project. That is the issue. It is now running fine once i included the same. Thanks for all your support.

I am calling the onTurnAsync of Dialog Manager for executing the dialog files and i am passing the DialogManager result as reply to users. But i want to manipulate the value i got from dialog manager b

[2020-09-29 20:33] Deon-v opened #4739 "Skipping prompt steps leads to later prompts not waiting for input"
## Version

4.10.3

## Describe the bug

When working with nested dialogs I have found that if a dialog that is branched off from the main dialog and uses waterfall steps has a step skipped, in my case a prompt step(file/choice), then the steps that follow do not wait for their respective inputs from the user.

## To Reproduce

In my project I have a main Dialog that is registered with my DI on st

[2020-09-30 01:06] boydc2014 commented on #4651
This one is a significant change and requires a design review before move to implementation.

[2020-09-30 04:23] boydc2014 commented on #4522
@benbrown hi, after triaged in SDK team, we think this is the C#'s convention and disabling this datetime convention will be a huge break change. So we will keep the current behavior that a ISO string, once set to memory, will be converted a DateTime object.  And in R10, we are making all pre-built functions support DateTime as input, such as "addMonth", "addDay", etc.

In the case that, if user s

[2020-09-30 04:23] #4522 closed

[2020-09-30 08:26] cosmicshuai opened #4741 "AdaptiveExpressions does not return the correct result of comparing two DateTime"
This issue is from #4522
![image](https://user-images.githubusercontent.com/17074777/94661343-812a8a00-0339-11eb-9333-ebca2d4a287b.png)
![image](https://user-images.githubusercontent.com/17074777/94661364-87b90180-0339-11eb-8b67-474c0fb0c682.png)

We should add support of comparing DateTime objects

[2020-09-30 08:27] cosmicshuai commented on #4522
I added a new issue to track DateTime comparison.

[2020-09-30 08:33] cosmicshuai commented on #4519
@sbacha
Here is an example of using OnEndOfActions to do something at the end of per dialog. [OnEndOfActions In Dialog](https://github.com/microsoft/botbuilder-dotnet/blob/main/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/GeneratorTests/sandwich/sandwich.dialog)

If you have any question or concern, feel free to leave comments.

[2020-09-30 09:37] dennisfelczy opened #4742 "Posting non object body via http request action throws error 400"
**Version**
4.10

**Describe the bug**
It seems that the http request action in Composer can only post objects in the body. When I try to post a property or even a string ("test") I always receive Error 400 -> Bad request.

When I do the same request with Postman it works.

**To Reproduce**
Steps to reproduce the behavior:

Use an HTTP action in composer to post a string to an api. In emulator tra

[2020-09-30 16:29] denscollo commented on #4679
Hi @mrivera-ms, we reviewed the issue and it's parent PR, and some concerns arose.
A concern we have is that all the exceptions from PollForTokenAsync() are caught with a single catch with no output besides a logError. Because no specific error is expected, our only way to assert them would be through the logs, which is not a consistent approach to tests errors.
Another concern is validating for e

[2020-09-30 17:15] mrivera-ms commented on #4679
Thank you for the review, @denscollo . @stevengum , after reviewing the code, I believe it is best to push this item and prioritize refactoring for testability. I will create an issue to track that work for a future cycle.

[2020-09-30 19:17] BruceHaley opened #4743 "Allow Facebook adapter to include message tags in outgoing messages"
If our test bot could add Facebook-defined tags to its outgoing messages, then its messages would not be blocked by Facebook in the pipeline Botbuilder-DotNet-Facebook-Functional-Tests-yaml.

The pipeline has been failing as a result of Facebook's policy, "When a person sends your Page a message or starts a conversation via a web plug-in, your app has up to 24 hours to respond. Messages can be sen

[2020-09-30 20:17] v-kydela commented on #4739
Hello @Deon-v

I want to mention that you should always make sure you indent your code with spaces and not tabs when you paste it into GitHub. You may or may not have noticed that GitHub makes tabs 8 spaces wide instead of 4. I can see that your code is inconsistently indented with a mix of both spaces and tabs, which makes it hard to read.

I also want to mention that your code doesn't always mak

[2020-09-30 21:00] dejancg opened #4744 "GetAadTokensAsync calls the wrong token endpoint, contrary to what was configured in Azure Portal Bot Channels Registration"
## Version
Using Microsoft.Bot.Builder v4.10.3 with Microsoft Teams

## Describe the bug
`IUserTokenProvider.GetAadTokensAsync` doesn't call the token endpoint configured in Azure Portal - Bot Channels Registration - Settings. Instead, it calls what seems to be a hardcoded relative path `/connect/oauth2/token`.

## To Reproduce
Steps to reproduce the behavior:
1. Go to *Azure Portal -> Bot Channel

[2020-09-30 21:21] v-kydela commented on #4744
Thank you for the report, @dejancg. I would like to help and I have a few questions.

1. You say `GetAadTokensAsync` calls a relative path. Is that path relative to the path you've entered in the OAuth connection settings, or is the path you entered ignored?
1. Since `IUserTokenProvider` is an interface, it would help to know the specific implementation you're using. Is it an ordinary `BotFramewor

[2020-09-30 21:34] dejancg commented on #4744
Hi @v-kydela, thank your for quick response.
1. It's a relative path, the service gets the root path OK, it just messes up the relative part.
2. It's an ordinary `BotFrameworkHttpAdapter`.
3. I use both AAD and my custom OAuth2 authentication for the app. AAD for Graph API calls and the other for calls to my service.

I'd like to note that `GetTokenStatusAsync` call returns the correct result for

[2020-09-30 22:37] #4464 closed

[2020-10-01 00:34] #4500 closed

[2020-10-01 08:06] Deon-v commented on #4739
Hi @v-kydela

Sorry for the messy code I was not aware of the indentation issue.
Again sorry for the mistakes in code, i did this after a 14hour day.
I will create a project and try to reproduce the issue and upload it on here?

[2020-10-01 10:14] Rouvo commented on #4500
Hi @EricDahlvang, I was on holidays and just saw the new replies.
We are now using a different platform in order to implement our conversational user interface, so closing the issue was the right decision.

[2020-10-01 10:45] Deon-v commented on #4739
@v-kydela I have re-produced the issue here to mirror my project as closely as possible without all the external/internal api calls.

There are a few dialogs in here, but the main one to look at is **DoThingsDialog**.

To reproduce follow the dummy authdialog by sending the bot a message.
Once authenticated send "help" to the bot and you will have a card presented with options, choose the "Do Thin

[2020-10-01 11:40] kandy99 opened #4753 "The converastion State is not persistent for the proactive notification"
I create a chatbot that is able to send a proactive notification but when I publish the bot again it loses its conversation reference
There are not enough resources/example for the same to maintain the conversation refrence

[2020-10-01 13:58] johseffer opened #4749 "ConfirmPrompt causing duplicated message when set Context.Activity.Locale to "pt-BR""
## Version
4.10.2

## Describe the bug
I have used the comfirm prompt to ask the user if he want to talk with a human agent. My code is work fine but the options are displayed in english and i need to translate to portuguese:
![image](https://user-images.githubusercontent.com/25435217/94817299-42491280-03d3-11eb-8517-85ec1b898cc7.png)

And if i click in "No" option, he give me another question:
![

[2020-10-01 16:43] cwhitten commented on #2387
Reopening in lieu of https://github.com/microsoft/BotFramework-Composer/issues/4304

[2020-10-01 16:44] BeheraMadan opened #4747 "Translation Samples needs to translate Hero Cards and multiple input choice action"
Hi,

Below sample is working for normal text messages

https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/17.multilingual-bot

But translation, where cards (hero and multiple input choice action) are not being translated.

Consider updating this sample to include an hero and multiple input choice action translation.

Also there was some solution provided for adapti

[2020-10-01 16:44] cwhitten commented on #4747
See https://github.com/microsoft/botbuilder-dotnet/issues/2387 for ongoing SDK discussion

[2020-10-01 16:47] cleemullins opened #4748 "Cherrypick PR #4745 into main"
This PR needs to be merged into main.
https://github.com/microsoft/botbuilder-dotnet/pull/4745

[2020-10-01 17:48] clearab opened #4750 "Meeting notification alert bubble (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6026)

[2020-10-01 19:15] tracyboehrer opened #5198 "Adaptive Middleware"
Proposed, Steve Ickman:

Just wanting to share some ideas I have for how we could add support for using Adaptive Dialogs as middleware.  It's been bugging me that you can't easily use LG or access memory scopes from within middleware.  To address that I've been thinking that we could add a new AdaptiveMiddleware class that uses an AdaptiveDialog to intercept middleware events.  The middleware clas

[2020-10-01 21:30] #4743 closed

[2020-10-01 21:53] BruceHaley commented on #4716
Fixed in TwilioNumberTests.cs and in SlackClientTest.cs. However, not fixed in  FunctionalTests\Microsoft.Bot.Builder.FunctionalTests\Configuration\EnvironmentConfig.cs(18) and (30). Called from, e.g., GetTokenRefreshTests.cs the test TokenTests_GetCredentialsWorks().

[2020-10-02 00:15] v-kydela commented on #4749
Thank you for the report, @johseffer

The locale of the activity is always prioritized. The default locale of the prompt is only used if the activity has no locale. Therefore, if the activity locale is English then it won't matter if your prompt locale is Portuguese.

I think the problem of the prompt reprompting in English is because you only set the activity locale to Portuguese for the first tu

[2020-10-02 12:14] johseffer commented on #4749
That's make sense @v-kydela. Thank you very much!

I can achieve that changing my code to set the Activity locale inside the OnTurnAsync event, so the locale is portuguese in my all steps and the bot dialog works fine now.

[code]

[2020-10-02 12:14] #4749 closed

[2020-10-02 12:49] gabog opened #4752 "I can develop skills in Emulator without an app password (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5726)

[2020-10-02 18:03] ninggao commented on #4747
@mrivera-ms Can you take a look at this please?

[2020-10-02 18:22] v-kydela commented on #4753
@kandy99 - Okay so how would you like us to help you? You haven't included a question in your post, so it's unclear if you want us to fix your bot for you or if you want us to make a new sample, etc.

[2020-10-02 18:52] #2385 closed

[2020-10-02 20:46] v-kydela commented on #4739
Thanks for the code, @Deon-v. I was able to run your code and reproduce the problem. The problem is not in your dialogs, but in your `MyBot` class:

[code]

You are going through two prompts in one turn because you are continuing your dialog twice in one turn. When you call `ContinueDialogAsync`, a prompt receives the incoming activity and the waterfall continues to the next steps where another pr

[2020-10-03 00:07] BruceHaley commented on #4743
True, it's a very minor change. I found the build name discrepancy while checking the badges. The "main" branch reference came from the badge string auto-generated by the pipeline.

[2020-10-03 05:47] kandy99 commented on #4753
it will be good if there is a proper sample for this problem

[2020-10-05 11:57] Wajeed-msft commented on #4709
@cleemullins , @mrivera-ms - Could you please help here?

[2020-10-05 13:53] srudin commented on #2387
Let me start by explaining in detail what I want to achieve (striped down from a real world scenario):

I want a simple bot built with bot framework composer. First the user should be greeted. Then we ask him if he wants to receive a mail with a joke. If he answers yes, he needs to enter his mail address; then we send him a mail. Finally we say bye. Let's say we want to support this in 4 different

[2020-10-05 15:34] Deon-v commented on #4739
Thanks @v-kydela

You can close the issue.

[2020-10-05 17:32] #4739 closed

[2020-10-05 17:33] lzc850612 commented on #4317
@dingjianrui can you take a look at my previous reply and answer my question in there? Thanks.

[2020-10-05 17:36] lzc850612 commented on #4694
@boydc2014  do you have an update for this issue? has the change been cherry picked into 4.10 and what's the plan for the release of the fix? Thanks

[2020-10-05 17:39] lzc850612 commented on #4695
@boydc2014 @luhan2017 do you have any updates for this issue? Thanks.

[2020-10-05 18:06] lzc850612 commented on #4742
@boydc2014 could you please take a look at this issue? Thanks.

[2020-10-05 19:07] mrivera-ms commented on #4747
@BeheraMadan we are working on updating our samples to use Adaptive dialogs. This sample will be part of that revamp work. Thank you for bringing this to our attention.

[2020-10-05 20:28] v-kydela opened #4755 "Cosmos DB storage class does not account for nesting limit"
## Version
latest

## Describe the bug
While using `CosmosDbPartitionedStorage`, bots can throw an error message like this: "The request payload is invalid. Ensure to provide a valid request payload." Sometimes this is because of a [limit](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-item-limits) which was only recently documented: https://github.com/MicrosoftDocs/azure-doc

[2020-10-05 21:00] clearab opened #4756 "Support for meeting APIs (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5893)

[2020-10-06 17:00] #4710 closed

[2020-10-06 17:34] benbrown opened #4758 "Bug: A zero length string in the outputFormat field of a prompt will causes the prompt to fail"
##  Version
4.10

## Describe the bug

If the outputFormat field is set to "", the SDK interprets to mean that the value should be set to "", resulting in an unrecognized prompt error firing regardless of what the user input is.  This can occur when a user in Composer sets the outputFormat, then removes it, resulting in "" being serialized into the JSON file.

## To Reproduce
1. Create a prompt in

[2020-10-06 17:41] jwiley84 commented on #4734
Assigning to @v-kydela as I'm unable to run composer at the moment.

[2020-10-06 18:29] mrivera-ms opened #4759 "Turn off binary compatibility verifications in dotnet CI pipelines"
As discussed [here](https://github.com/microsoft/botbuilder-dotnet/pull/4718).

[2020-10-06 19:07] clearab commented on #4552
Closing as duplicate.

[2020-10-06 19:07] #4552 closed

[2020-10-06 20:02] lzc850612 commented on #4708
@clearab do I remember correct that you're working on the proactive messaging feature?

[2020-10-06 20:11] clearab commented on #4708
Currently there is nothing in the works that I'm aware of like this that works across all channels. We support this in Teams via `createConversation` but it is not support on other channels. This would be a new feature request, and maybe fits best with @scheyal efforts for standardizing across channels?

[2020-10-06 20:14] EricDahlvang commented on #4759
Does the library we are using have a 'compile compat' option?

[2020-10-06 20:15] clearab commented on #4708
I will say I'm not sure how much is possible here - we rely on the channel to create the conversationId I believe, so we'd probably need to partner with the channel owners and request they implement support for the `createConversation` API before we could make any traction here.

[2020-10-06 21:40] emgrol commented on #4615
@xieofxie The changes are now live.

[2020-10-06 22:25] BruceHaley commented on #4759
PR #4761 is merged. Compatibility verifications can now be turned off by editing in ADO BotBuilder-DotNet-CI-PR-yaml, setting the variable DisableApiCompatibityValidation to true.

[2020-10-06 22:25] #4759 closed

[2020-10-06 22:49] v-kydela commented on #4734
@lzc850612 - This can be reproduced in a console app like this:

[code]

@sschutten - I've observed that it's more than just metadata the activity ID is used for. The activity ID is also used to [name the blob](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Azure/AzureBlobTranscriptStore.cs#L339):

![blobs](https://user-images.githubusercontent.com/4196849

[2020-10-06 23:04] BruceHaley commented on #4716
Done

[2020-10-06 23:04] #4716 closed

[2020-10-06 23:43] EricDahlvang commented on #4708
SDK support for, and definition of, 'proactive messaging' could use some disambiguation.  Some channels support creating a conversation with a user who has never messaged the bot (Teams, Email, LINE?).  1:1 'createConversation' support (under certain contexts).  Other channels have certain policies regarding proactive messaging.  Simplifying SDK support for the known scenarios seems like a valid r

[2020-10-07 12:42] Danieladu commented on #4615
Since the doc has been updated. Mark this issue as the new feature requirement of new prebuilt functions.

[2020-10-07 13:36] MCKRUZ opened #4762 "Multiple Parameter Search Query Messaging Extension for Teams"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.3.0

## Describe the bug
Unable to access multiple parameters when creating a Search Query Messaging Extension for Teams.  In a nutshell, I have a bot f

[2020-10-07 16:18] emgrol commented on #4615
The changes are live, should I close the issue @xieofxie?

[2020-10-07 18:08] jwiley84 commented on #4647
Hi @haacked I need to check with a coworker to see what exactly needs to happen to trigger this, and if it will even trigger for Slack. Thank  you for your patience.

[2020-10-07 22:19] BruceHaley opened #4765 "Let the build agent VM image for pipelines be settable at queue time"
'windows-2019'-imaged build agents often take 10 minutes to provision. 'vs2017-win2016' takes maybe 20 seconds.
If the VM image were settable at queue time, the 10-minute delay before the build starts could be avoided.

Sample code for possible fix:
pool:
  vmImage: $[ coalesce( variables['VMImage'], 'windows-2019' ) ] # or 'windows-latest' or 'vs2017-win2016'

[2020-10-07 23:09] BruceHaley commented on #4765
Linked work item #52727

[2020-10-08 00:22] boydc2014 commented on #4730
Put this to backlog

Alternatives：
* auto binding LG templates as functions to all actions, so that setProperty(ties) should work
* expose (or double check do we have) a function called template\bindToTemplate and make sure it can be used in setProperty
* create a new property in Send Activity

[2020-10-08 00:23] boydc2014 commented on #4663
Put this into backlog before we have a process to take new actions

[2020-10-08 00:30] boydc2014 commented on #4695
@lzc850612 i think Lu is supporting user to create customized actions, is this proceeding?

At the same time, the SDK team is triaging this as a built-in action, the direction we will go is probably model this "wait" action a little bit more general than just directly creating a new action. I will link the new proposal later in here

[2020-10-08 00:36] boydc2014 commented on #3941
@cxbuilders we probably not going to introduce a new built-in action for this, but we go some open-sources extensions to do this, check https://www.nuget.org/packages?q=iciclecreek for Iciclecreek.AdaptiveExpressions.Javascript which i think can do the same thing as you proposed here, there is also a python one there.

[2020-10-08 00:40] boydc2014 commented on #4526
After triaging with Tom, we should push off the decision into a dedicated review of new actions combining with a few other new actions proposal.

[2020-10-08 00:50] boydc2014 commented on #4489
After triaged with @tomlm, we think this is not needed anymore, we will keep it backlog.

[2020-10-08 00:50] #4489 closed

[2020-10-08 17:35] Jeffders opened #4768 "Support for Bot Framework Search Protocol"
This work item can be used to track supporting the bot framework search protocol (built on top of Activity Invoke) within the SDK. This allows a bot to serve as a search result provider within various search canvases, returning both text based results as well as interactive Adaptive Cards 2.0.

Needs to include the Auth Scenarios.

[2020-10-08 17:47] #4424 closed

[2020-10-08 20:40] ryanlengel opened #5199 "Refactor the luis and qnamaker Composer-based settings extensions adapter"
This method utilizes the settings file generated by bf luis:build and qna:build commands, aligning to Composer-specific settings.

https://github.com/microsoft/botframework-core/blob/80274609e5b59c72d3d44cc79eb7de594fd3949f/src/Microsoft.Bot.Core/CognitiveSettingsExtensions.cs#L17-L27

[2020-10-08 23:38] #3984 closed

[2020-10-09 04:22] xieofxie commented on #4663
Current alternative: use ForEach on a non-empty array and change index to -1 in the loop.

[2020-10-09 04:27] xieofxie commented on #4615
@emgrol Sure, hope the new functions could be added soon.

[2020-10-09 04:27] #4615 closed

[2020-10-09 05:15] Danieladu opened #4773 "[Expression]Convert type safely"
Currently, there is no way to parse an object into a specific type safely.
related issue: #4615

If someone wants to know if an object can be cast into int, there are several ways:
- use `isInteger(xx)`, but this one only covers the parameters whose original type is number.
- use `int(xx)`, this one would throw exception when the object can not be converted into Integer.

The requirement is to obt

[2020-10-09 05:16] Danieladu commented on #4615
close this one due to the duplication of #4773

[2020-10-09 07:08] stevengum opened #4774 "OAuthUrl values are incorrect and OAuthClient.Initialize() should use AuthenticationConstants.OAuthUrl"
Public cloud should use [https://token.botframework.com](https://github.com/microsoft/botbuilder-dotnet/blob/04204a8506e0683846621771880b9001adfd214a/libraries/Microsoft.Bot.Connector/OAuthClient.cs#L701)
and USGov cloud should use https://token.botframework.azure.us.

`OAuthClient.Initialize()` shouldn't use a magic string for its `BaseUri`.

## Version
`main` @ 04204a8506e0683846621771880b9001ad

[2020-10-09 18:19] #4765 closed

[2020-10-09 20:25] carlosscastro commented on #3900
Update: We discussed that

- Replacing the root dialog will not be a possibility since the root dialog is not captured in declarative right now, but configured as entry point in applications such as composer.
- If the root dialog needs to be replaced in some special scenario, we can 1) promote `Containerdialog` to be a $kind, and allow to list its dialogs along with its initial dialog. Then the in

[2020-10-09 23:15] #4709 closed

[2020-10-10 01:32] boydc2014 commented on #4342
Thanks @mrivera-ms, just get back, i will clarify the proposed solution with @cwhitten soon.

One quick question, @cwhitten can you clarify a little bit one the proposed solution? Do we want to add a new property in the runtime class or scheam or both? and how the design will work for language specific scenario (c#, js, etc)?

[2020-10-10 02:51] mrivera-ms commented on #4519
@sbacha and @cwhitten , is this issue still needed or the proposed solution works? Please let me know so we can close this issue.

[2020-10-10 04:57] Danieladu opened #4776 "Switch the Antlr library from "Antlr4.Runtime" to "Antlr4.Runtime.Standard""
Currently, LanguageGeneration/Adaptive-Expression depends on Antlr library to parse and visit LG file and expression.

The original Runtime library [Antlr4.Runtime](https://www.nuget.org/packages/Antlr4.Runtime/4.6.6) and the code generator [Antlr4.CodeGenerator](https://www.nuget.org/packages/Antlr4.CodeGenerator/4.6.6) are maintained by [tunnelvisionlabs](https://github.com/tunnelvisionlabs)

Wh

[2020-10-10 08:17] abhi23arora commented on #4734
Hi Team,

I am facing the same problem. I am trying to enable transcript logging on blob storage. While everything works fine (successful logging of message, event and trace type) on local emulator, but I dont see trace type logs when I publish on the cloud. I need the trace type to see the confidence score and other metrices when customers chat with my bot.

Any idea how can I make this happen?

[2020-10-10 12:57] Stevenic opened #4780 "[Adaptive Expression] Add reverse() pre-built function to invert arrays"
I'm trying to implement Right-To-Left support within my Card Composer library and in order to properly support RTL card layouts I need the ability to invert the order of arrays using a new `reverse()` pre-built function. This function would take an array and simply invert it.  I already handle the RTL switch for `TextBlock` elements but still need to invert the layout of any `ColumnSets` which is

[2020-10-12 03:22] coldplaying42 opened #4783 "Unit tests are required for generated dialogs"
## Describe the bug
Currently, for generated dialogs, there is only one end-to-end test for it. That is not sufficient. Each dialog event kind for the generated dialogs (e.g,, OnAssignEntity, OnChooseEntity, OnChooseProperty) requires the unit test.

[2020-10-12 07:04] #4780 closed

[2020-10-12 18:59] johnataylor commented on #4467
This is the first step towards fixing #4729 for the oauth prompt

[2020-10-13 03:25] #4143 closed

[2020-10-13 03:44] boydc2014 commented on #4010
I'm moving this out of R11, as our investigation shows that this is not doable via current architecture. We will get a design discussion with @tomlm to address this design issue.

[2020-10-13 06:22] boydc2014 opened #4787 "[Orchestrator] Add model version\id as a metadata to OrchestratorRecognizer"
Base model version\id is a key metadata that is missing in current interface.

With this model version\id, user won't be able to tell and download the model if the model is missing (and it's very likely to be missed when copying\moving declarative bots).

[2020-10-13 07:04] #4776 closed

[2020-10-13 16:27] anusharavindrar commented on #4762
Multi-parameter is only supported for command type set to action. You will need to specify multiple search commands, not multiple parameters (with one parameter per search command). Also, note that you can't actually trigger a search-based command from a message, so you should only include the compose and commandBox scopes for them.

[2020-10-13 16:27] #4762 closed

[2020-10-13 16:36] dawwa opened #4789 "Version 4.10.3 - Exception: System.MissingMethodException: 'Method not found: 'AdaptiveExpressions.EvaluateExpressionDelegate..."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.3

## Describe the bug
Throws System.MissingMethodException after upgrading build packages from 4.9.3 to 4.10.3 for Bot Framework Solutions Skill projec

[2020-10-13 16:36] dawwa opened #4790 "Version 4.10.3 - Exception: System.MissingMethodException: 'Method not found: 'AdaptiveExpressions.EvaluateExpressionDelegate..."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.3

## Describe the bug
Throws System.MissingMethodException after upgrading build packages from 4.9.3 to 4.10.3 for Bot Framework Solutions Skill projec

[2020-10-13 18:10] ryanlengel commented on #4753
Closing due to issue microsoft/BotBuilder-Samples#2825, please follow that one for updates. Thank you!

[2020-10-13 18:10] #4753 closed

[2020-10-13 18:35] ryanlengel commented on #4472
The [`Microsoft.Bot.Builder.Dialogs.Adaptive.Testing`](https://github.com/microsoft/botbuilder-dotnet/tree/main/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests) package is still in preview, any documentation supporting this would not be provided until this is publically available. In the meantime, I would suggest keeping an eye on the project as it is in active development (since the original r

[2020-10-13 18:35] #4472 closed

[2020-10-13 19:40] v-kydela commented on #4734
@abhi23arora - It sounds like you're facing a somewhat different problem. Your problem is that trace activities aren't logged. The original problem was that trace activities are causing errors, and a potential solution to that problem is to prevent trace activities from being logged. However, we can take your case into consideration by trying to fix the errors in a way that allows trace activities

[2020-10-13 19:55] cleemullins commented on #4790
@boydc2014  Can you look at this? It seems like a bug in the underlying LG library.

[2020-10-13 20:45] carlosscastro commented on #3900
ETA for PR coming for this early next week.

[2020-10-13 20:47] carlosscastro commented on #4365
Closing as dupe. Tracking in https://github.com/microsoft/botbuilder-dotnet/issues/4365. To ship in 4.11. Chris, pinging you once we have a PR out.

[2020-10-13 20:47] #4365 closed

[2020-10-13 20:50] #4783 closed

[2020-10-13 20:53] #4366 closed

[2020-10-13 21:22] mdrichardson commented on #4544
@BruceHaley @EricDahlvang Did this get fixed in [this PR](https://github.com/microsoft/botbuilder-dotnet/pull/4614)?

[2020-10-13 21:50] #4349 closed

[2020-10-13 21:52] #4321 closed

[2020-10-13 22:01] mrivera-ms commented on #3941
@cxbuilders we will close this issue as resolved by the recommendation given by @boydc2014 . If after trying that there are still unresolved issues, please open a new issue. Thank you.

[2020-10-13 22:01] #3941 closed

[2020-10-13 22:32] mrivera-ms commented on #4438
This will not be done in R11. Will move to the next milestone.

[2020-10-13 22:35] mrivera-ms commented on #4034
Per conversation with @gabog , this is being removed from R11.

[2020-10-13 22:36] mrivera-ms commented on #3905
Per conversation with @gabog , this is being removed from R11.

[2020-10-13 22:36] mrivera-ms commented on #3358
Per conversation with @gabog , this is being removed from R11.

[2020-10-13 23:02] JonathanFingold commented on #4034
Alas. Just let the doc team know whenever this finally gets addressed, and we can update the associated article.

[2020-10-13 23:34] mrivera-ms commented on #4519
Per conversation offline with @sbacha, the solution proposed seems like it meets his requirements. Closing this issue.

[2020-10-13 23:34] #4519 closed

[2020-10-13 23:35] stevengum commented on #4509
@reinoldus it sounds like you're asking for an Action that sends a Typing Activity, which would be called before each message activity is sent. Is this correct?

[2020-10-14 00:50] BruceHaley commented on #4717
In the last 43 builds there have been no test failures.  Closing this issue.

[2020-10-14 00:50] #4717 closed

[2020-10-14 01:54] boydc2014 commented on #4790
Sure, looking soon.

[2020-10-14 02:07] EricDahlvang commented on #4509
Incoming calls from a channel have a timeout of 8 to 15 seconds depending on channel.  This limitation inhibits most thread wait or long processing scenerios, without background activity processing.   A dotnet experimental example of this, with various ways of pausing and resuming processing of bot activities, can be found here:

https://github.com/microsoft/BotBuilder-Samples/tree/main/experiment

[2020-10-14 02:40] Danieladu commented on #4790
I suspect this is also the reason. But I could not reproduce it on my side. So, @dawwa  May you provide more details/or just check in the bug branch so we can anchor the issue quickly.

[2020-10-14 03:04] Stevenic opened #4793 "Add support for hyphen ("-") in LG template names"
LG templates are currently allowed to have underscores but not hyphens. The LG based `Card Composer` framework I've been building lets you pass in the name of a style you want applied, like "card-title".  I've been following CSS naming conventions for these style names which is to use a hyphens as a separator.

The issue is, the `Card Styler` tool I built to define the style sheet used by Card Com

[2020-10-14 06:27] reinoldus commented on #4509
I switched to writing the bot in code entirely in the meantime.

What I am doing in my "code bot" is the following:

[code]

In conjunction with:
`ADAPTER.use(ShowTypingMiddleware(delay=0.5, period=2.0))`

So after each message has been sent, the bot waits `len(text.split(" ")) / 5` seconds. The reasoning behind that is:
This time frame is approximately the time an average reader needs to read the

[2020-10-14 07:42] boydc2014 commented on #4742
Sorry for the delay, we are looking it now

[2020-10-14 09:07] melih154 opened #4795 "Inject DialogContext to BoolExpression"
**Is your feature request related to a problem? Please describe.**
On adaptive dialogs, I am trying to implement custom validation (eg. Calling external API with user input as parameter), custom retry message based on the response of API and store validation result on conversation state.

**Describe the solution you'd like**
I would like BoolExpression to have a method that accepts `Func<object, D

[2020-10-14 12:45] Danieladu commented on #4790
The root cause is skill library `Microsoft.Bot.Solutions` depends on But.builder 4.9.3, But customer update some outer packages into 4.10.3, which are not compatible with each other.
There are several suggestions:
1. Keep the outer project depends on 4.9.3 (If the features provided by this version is cover all the requirements)
2. Update the Botbuilder version in `Microsoft.Bot.Solutions` from 4.9

[2020-10-14 13:49] Frazerunige opened #4796 "Unable to Add skill to Power Automate SDK 4.10.3"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.3

## Describe the bug
Unable to add Skill to powerautomate (microsoft chatbot)

## To Reproduce
Steps to reproduce the behavior:
1. Go to powerautomate

[2020-10-14 16:22] mrivera-ms commented on #4514
@cwhitten is this issue in scope for R11?

[2020-10-14 16:28] mrivera-ms commented on #4748
Confirmed by @munozemilio to be done in R11.

[2020-10-14 16:59] stevengum commented on #4254
I'll be opening a PR today for this, and have enlisted carlosscastro for a code review.

[2020-10-14 18:33] ryanlengel commented on #4795
@mrivera-ms can you please take a look at this issue? Thank you!

[2020-10-14 18:37] EricDahlvang commented on #4544
@mdrichardson it looks like it has been addressed.

[2020-10-14 18:37] #4544 closed

[2020-10-14 18:58] dmvtech commented on #4796
In your skill `appsettings.json` or `.env`, what do you have configured for `AllowedCallers`? See more info [here](https://docs.microsoft.com/en-us/azure/bot-service/skill-implement-skill?view=azure-bot-service-4.0&tabs=cs#application-configuration).

[2020-10-14 19:48] exdunn commented on #3141
I was receiving the same error as OP and fixed with @furkani94's solution.  Just to add some more context, my adaptive card was only failing for teams, when using templated cards ( `AdaptiveCardTemplate`).  I had some empty columns that I was using for spacing reasons.  Removed the columns, and _bam_, no more errrors.

[2020-10-14 19:56] mrivera-ms commented on #4527
Per conversation with @a-b-r-o-w-n this is out of scope for R11.

[2020-10-14 21:11] mrivera-ms commented on #4468
Per conversation with @johnataylor this is no longer in scope for R11.

[2020-10-15 00:44] dmvtech commented on #4714
Hi @Vigneshramkumar Sorry for the delay.

You are wanting to modify the actual response message that gets sent to the users before being sent to them, correct? Typically, this is done with [middleware](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-middleware?view=azure-bot-service-4.0).

[2020-10-15 02:05] Danieladu commented on #4758
If the customer just wants to assign an empty string to the "outputFormat"?  Maybe add a checkbox after the block?

[2020-10-15 03:17] daveta commented on #4787
@tsuwandy : Per discussion , think this manifests in bf-cli orchestrator plugin (no orchestrator API changes).  Seems like priority on this is lower.

[2020-10-15 04:23] EricDahlvang commented on #4543
Closing, as I was able to repro this in 4.10.0, but not with 4.10.3

![image](https://user-images.githubusercontent.com/11055362/96076922-5c6b0200-0e63-11eb-9029-8d28fd2bbbcb.png)

Using this test:
[code]

[2020-10-15 04:23] #4543 closed

[2020-10-15 05:00] Danieladu commented on #4662
I could not reproduce the issue. Could you provide the Bot assert built by Composer? That may help a lot. Thanks.

[2020-10-15 05:22] atifgk opened #4801 "Unable to set MicrosoftAppPassword value in azure function V3"
I'm trying to set MicrosoftAppPassword in azure function but no success.

I have created ConfigurationCredentialProvider class and inlcuded in Startup.cs

[code]

[code]

I always get this exception
`Exception while executing function: BotMessagesHandler <--- Value cannot be null. (Parameter 'clientSecret')`

If i add key 'MicrosoftAppPassword' in local.settings.json then Bot automatically pick ap

[2020-10-15 06:35] boydc2014 commented on #4790
So, @Danieladu's investigation shows this is due to a conflict caused by multiple versions of libraries are used. The fix, as suggestioned above is either keep everything in 4.9, or upgrading to 4.10 for all packages.

I will definitely suggest upgrading to 4.10 if possible @lauren-mills.

So closing this for now, cc @cleemullins.

[2020-10-15 09:27] boydc2014 commented on #4186
Our investigation shows this is a very corner case only happens in .net core 2.1 + RichardSzalay mock + uncaught exceptions in certain test stages.  We are suspecting there is something wrong with this mock library dealing with multi-tasks or exceptions. But we are not able to track the root cause of this yet.

Given the scope, and we do have a mitigation which is either using .net core 3.1 or cat

[2020-10-15 13:30] gabog opened #4802 "Static test constructors cause slow perf and unnecessary changes"
## Version
4.10.x.

## Describe the bug
When we refactored our tests to xUnit we moved some expensive logic to static constructors (e.g.: see [SchemaMergeTests.cs](https://github.com/microsoft/botbuilder-dotnet/blob/0ccb16edcd1d69395700bbc0f1b4f8941cb99382/tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/SchemaMergeTests.cs#L31).

VS Test Explorer executes these static constructors when attem

[2020-10-15 14:19] hhasenauer commented on #4566
Event with #4456 merged, this still occurs in 4.10.3

[2020-10-15 15:07] gabog commented on #3644
Moving to the backlog, it is a good request but we need more time to come up with a solution, we won't be able to address it as part of R11.

[2020-10-15 15:43] benbrown commented on #4758
Why would they possibly ever want to do that? It would result in the prompt never getting a value.

[2020-10-15 17:03] stevengum commented on #4674
After speaking with @carlosscastro, because NamedPipe connections don't perform any auth, deriving the AppId of the active bot is undesirable from a security standpoint. Additionally, it could lead to unintended consequences if multiple bots are hosted in one .NET app.

There's no further work to be done on this issue for R11, and instead will be picked up for R12 when the CloudAdapter and BotFram

[2020-10-15 17:45] #3682 closed

[2020-10-15 17:58] mrivera-ms commented on #4521
@luhan2017 , could you please let us know if this is still in scope for R11? Thank you.

[2020-10-15 18:24] #4658 closed

[2020-10-15 19:49] #4467 closed

[2020-10-15 20:43] clearab opened #4804 "Add support for CacheInfo in Bot invoke response (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6006)

[2020-10-15 21:49] cleemullins commented on #4790
Thanks @boydc2014 and @Danieladu.

@lauren-mills can we fix this ASAP?

[2020-10-15 22:09] #4750 closed

[2020-10-15 23:31] Virtual-Josh opened #4806 "Proactive messaging doesn't work with emulator"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Gabo's fork

## Describe the bug
Credential validation fails with emulator. It checks to see if the appId is the parent bot's appId instead of being on the a

[2020-10-16 00:50] #4804 closed

[2020-10-16 08:08] Frazerunige commented on #4796
Yes sure, i've tried to set AllowCallers in many ways:
- Empty Array
 - Array with only the ID of Powerautomate
 - Array like ["*"]

[2020-10-16 20:03] babrekel opened #4807 "DebugSupport.SourceMap has undefined behavior in multithreading scenarios"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.5

## Describe the bug
`DebugSupport.SourceMap` has undefined behavior in multithreaded scenarios due to the static nature of the `Dictionary` instance.

[2020-10-16 21:52] stevengum opened #4810 "Enable developers to perform binary compatibility check on local machine"
**Is your feature request related to a problem? Please describe.**
The only time to see if a dev's work passes the binary compat check is when they create a PR and wait for the appropriate job to trigger after the unit tests.

**Describe the solution you'd like**
The ability to run the binary compat check locally.

[2020-10-17 00:16] #4142 closed

[2020-10-17 00:24] #4648 closed

[2020-10-17 00:26] #4756 closed

[2020-10-18 22:16] EricDahlvang commented on #4509
I've re-read this thread, and tested out the 'delay' activity type from composer.  This works as expected on channels, but not the emulator (i think because the emulator is holding the calling thread, and waiting for completion):

[code]

![image](https://user-images.githubusercontent.com/11055362/96386948-a3067800-1153-11eb-9133-d9f537f6c305.png)

The typing indicator does not include a delay, as

[2020-10-18 23:37] lauren-mills opened #4813 "Teams sign-in card doesn't work with 4.10.3"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.10.3

## Describe the bug
Give a clear and concise description of what the bug is.
After updating to 4.10.3,

[2020-10-19 01:50] Danieladu commented on #4758
Make sense. I will follow it.

[2020-10-19 05:30] cxbuilders opened #4817 "Custom Action Events arrive in wrong order"
When emitting events from a custom action, they arrive in the wrong order;

![image](https://user-images.githubusercontent.com/49873947/96405118-d6d9b000-11dc-11eb-9530-64d9ef2cb226.png)
![image](https://user-images.githubusercontent.com/49873947/96405136-e0631800-11dc-11eb-86b2-db46401d753c.png)
![image](https://user-images.githubusercontent.com/49873947/96405151-ea851680-11dc-11eb-9dda-e627cfa76

[2020-10-19 05:49] cosmicshuai commented on #4742
Hi @dennisfelczy
I created a simple bot to reproduce this issue. By calling a post request which echo the args in the url.
![image](https://user-images.githubusercontent.com/17074777/96406155-6b5e0580-1211-11eb-8e17-c61db00eec2b.png)
Then I logged the `dialog.returns` as a responce.
![image](https://user-images.githubusercontent.com/17074777/96406304-b841dc00-1211-11eb-9f74-df76f0cea663.png)

It l

[2020-10-19 06:01] Danieladu commented on #4140
Currently, the `null` result is supported in the SDK. Recference:  https://github.com/microsoft/botbuilder-dotnet/pull/4669

[2020-10-19 06:01] #4140 closed

[2020-10-19 07:02] Danieladu commented on #4793
Thank @Stevenic . This is a known issue. (Or we could call it by design currently.)
The reason is the hyphen would confuse the minus operator.
Let me give an example to clarify the confusion.
[code]

Welcome the discussion.

[2020-10-19 07:04] Danieladu commented on #4758
@benbrown I have created a PR track this issue. Please take a look and see if it meet the requirement. Thanks.

[2020-10-19 07:20] luhan2017 commented on #4521
@mrivera-ms I've moved this out from R11, thanks.

[2020-10-19 07:27] xieofxie commented on #4521
In short, I would like that ComposerBot class could be used like:
[code]

[2020-10-19 07:51] boydc2014 commented on #3592
This was originally put just for a backlog and i'm not sure the exact requirement. I saw Vishwac unassigned Matthidigner, i expect this is no longer valid. But i will talk a look at, see if i can find anything.

[2020-10-19 07:53] boydc2014 commented on #4793
Closing this as "-" will be conflict with minus operations. Normal programming languages don't allow "-" in IDENTIFIER(variable name, function name, etc).

[2020-10-19 07:53] #4793 closed

[2020-10-19 08:31] boydc2014 commented on #4694
Sorry for the delay, the PR was cherry-picked 24 days ago, but there hasn't been a release after than (which i though we will have 4.10.4). So, if you need this in and need do a release (4.10.4) for this fix, can you bring this into SDK group? Or, i think 1 week later, 4.11 will come out and will contain this fix.

[2020-10-19 16:35] dmvtech commented on #4801
Hi @atifgk Just to clarify; you want to set the password in code and **_not_** have it pull from the configuration? (essentially overriding the built in way to pull from the settings/config)

[2020-10-19 16:36] dmvtech commented on #4796
Thanks. I'm checking to see if I can get it working myself.

[2020-10-19 17:14] carlosscastro commented on #3490
We'll triage this for R12

[2020-10-19 18:13] stevengum commented on #4817
@mrivera-ms can you assign someone with dialogs-experience to investigate this issue and get a repro? Thanks!

[2020-10-19 18:56] stevengum commented on #4317
Closing due to inactivity.

[2020-10-19 18:56] #4317 closed

[2020-10-19 20:56] stevengum commented on #4795
@mrivera-ms this seems like a reasonable request. Should this go into the R12 milestone? Or are there some combination of labels required to get it on the books for triaging/planning that would be preferred?

[2020-10-19 22:29] #4758 closed

[2020-10-19 22:31] #4733 closed

[2020-10-19 23:41] #4748 closed

[2020-10-20 00:36] atifgk commented on #4801
Hi @dmvtech thanks for reply. yes I want to set password from code as I have stored password in azure key vault

[2020-10-20 00:37] atifgk commented on #4801
can you please provide some example for setting using settings/config? thanks

[2020-10-20 08:18] boydc2014 commented on #4817
At a first glance, looks like not related to the order of event itself, this looks like to be the trigger firing order isn't as ordered as you might see, and that's by design.

@stevengum @mrivera-ms free feel to assign to me or @Danieladu.

[2020-10-20 10:10] #4787 closed

[2020-10-20 13:52] Robulane opened #4821 "Main AdaptiveDialog dialog has an id "AdaptiveDialog" instead of resource.Id"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10.0

## Describe the bug
The Id of the dialog that is loaded with LoadType method on resource explorer is "AdaptiveDialog".

## To Reproduce
1. Have some

[2020-10-20 18:08] JonathanFingold opened #4822 "ArrayChangeType value names are not standard and don't make sense in English"
## Version
What package version of the SDK are you using: _R11_ (main) as of 10/20/2020

## Describe the bug
Give a clear and concise description of what the bug is:
- Provided enumeration values are: push ("to end"), pop ("from end"), take ("from front"), remove ("regardless of location"), and clear.
- **Bug**: I'm not sure what the semantics of **Remove** are: all matching elements, first matchi

[2020-10-20 18:18] chrimc62 commented on #4342
In InputDialog and OAuth input schema files you should add a minimum of 0 and maximum of 2147483647 to the schema for maxTurnCount.  This will allow composer to validate against that.

[2020-10-20 18:50] johnataylor commented on #4729
This is the table used in the service code:

    "ValidIssuers": [
      "https://sts.windows.net/cab8a31a-1906-4287-a0d8-4eef66b95f6e/",
      "https://sts.windows.net/cab8a31a-1906-4287-a0d8-4eef66b95f6e/v2.0",
      "https://sts.windows.net/f8cdef31-a31e-4b4a-93e4-5f571e91255a/",
      "https://sts.windows.net/f8cdef31-a31e-4b4a-93e4-5f571e91255a/v2.0",
      "https://login.microsoftonline.us/c

[2020-10-20 20:35] Stevenic opened #4823 "Memory values with backticks (`) cause adaptive expressions to fail."
## Version

4.10.3

## Describe the bug

Submitting an adaptive card value containing backticks causes adaptive expressions to fail:

![](https://user-images.githubusercontent.com/698939/96640656-57310b80-12d8-11eb-8345-1c8c73951b9c.png)

This is the code on the bots side:

![](https://user-images.githubusercontent.com/698939/96640830-9fe8c480-12d8-11eb-88f5-1f61a520e968.png)

The actual expressio

[2020-10-20 21:42] #4645 closed

[2020-10-20 23:22] #4729 closed

[2020-10-20 23:34] dmvtech commented on #4801
hi @atifgk I'm working on it. I don't have much experience with functions myself, but I'll see what I can do.

With .NET/core (or even JS, etc) they will utilize the values in either the settings (`appsettings.json` or `.env`) for appid/apppassword, or it will use the App Service/Web App (or I guess even the Function's) Configuration settings.

I don't know of any examples/samples of pulling these

[2020-10-21 00:15] atifgk commented on #4801
Hi @dmvtech , i know about using key vaults. if you can provide code sample that can set password from code instead of appsettings.json then that will be very helpful thanks

[2020-10-21 00:19] atifgk commented on #4801
@dmvtech , please have a look on this sample code https://stackoverflow.com/a/56548451/5064424 or this one https://docs.microsoft.com/en-us/azure/bot-service/bot-file-basics?view=azure-bot-service-4.0&tabs=csharp.

[code]
instead of reading password from Configuration, i want to set it from code like

[code]

[2020-10-21 00:22] atifgk commented on #4801
i also have tried this code and registered this file in startup.cs but this function never gets triggred

[code]

[2020-10-21 02:35] #4254 closed

[2020-10-21 03:19] carlosscastro commented on #3900
Started working on this. Have the potential fix written, testing it now.

[2020-10-21 05:36] #4111 closed

[2020-10-21 05:38] EricDahlvang opened #4829 "Dispose of TeamsConnectorClient and OauthClient where possible"
**Is your feature request related to a problem? Please describe.**

Reference: https://github.com/microsoft/botbuilder-dotnet/pull/4727

**Describe the solution you'd like**
Add new constructors and dispose of these, as we are now disposing of ConnectorClient.

[2020-10-21 10:17] boydc2014 commented on #4651
Add some context about where the original issue, this is discovered when we are designing for the orchestrator integration flow in Composer, in where we found, orchestrator share the same input (.lu file) and deliver the same serialization result (recognizer: dialog.lu). For example

With both LUIS and orchestrator, you will have
[code]

then that leave us nowhere we know how to `build` this bot,

[2020-10-21 11:50] saurav2107 opened #4831 "AdaptivCard submit action not working in waterfall dialog with Enterprise Bot template"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9

## Describe the bug
When adding AdaptiveCard Dialog to present a input form to User having a submit button from within a waterfall dialog, which intern is calle

[2020-10-21 14:35] chrimc62 commented on #4651
I would suggest.
1) We are explicit in the recognizer structure we create, i.e. an explicit recognizer $kind everywhere we need  recognizer.
2) We add an optional source attribute to each recognizer that points to the .lu file it consumes.
3) Build process is associated with the $kind.
This would mean Composer can deal with any recognizer structure and customizing it.  Today it is very confusing b

[2020-10-21 18:12] mdrichardson commented on #4831
@saurav2107 Can you share a link to your bot code? My guess is that something else is intercepting the code and re-routing it away from your dialog. This is likely something in your `/bots` directory.

With `AdaptiveCardPrompt`, I believe that the `"data"` property in the Adaptive Card needs to be an object, as well, whereas you currently have a string.

[2020-10-21 18:17] #3879 closed

[2020-10-21 18:25] chrimc62 commented on #4795
@melih154 is there a reason you can't store the result of your API call by setting a value in the existing state memory contexts (turn, dialog, user, conversation) either directly using dc.State.SetProperty or declaratively through the SetProperty action and then have your boolean expression refer to those?

There are two design considerations here:
1) AdaptiveExpressions are a lower level in the

[2020-10-21 19:13] cleemullins commented on #2437
Per discussion, @johnataylor expects to close this out this week.

[2020-10-21 19:21] carlosscastro commented on #4657
Hello @vitaliygor! I'm working on this. Note that we cannot really add anything to `ITurnContext`, since it would break backward compatibility. So we cannot really take that part of your suggestion.

I do agree that it is not good to have the cast to `TurnContext` and that part should be addressed. I'm exploring how to remove this cast, considering folks that have custom turn context implementatio

[2020-10-21 19:30] mrivera-ms commented on #4514
Per conversation with @cwhitten , this is in scope for R11.

[2020-10-21 19:37] johnataylor opened #4833 "Remove references to Trusted Service Url throughout the code."
In R11 we obsoleted and disabled the Trusted Service Url behavior in the AppCredentials class. All references shoudl be cleanup through the remaining parts of the code.

[2020-10-21 19:38] johnataylor commented on #4833
Refer to https://github.com/microsoft/botbuilder-dotnet/pull/4827

[2020-10-21 20:01] peterinnesmsft opened #5200 "Enable support for debugging of declarative files"
Follow up with Tom and Carlos - need to ensure the runtime is capable of opening necessary ports to enable debugging integration from VS Code with declarative files.

[2020-10-21 20:05] melih154 commented on #4795
Thanks @chrimc62 . I understand design considerations.

Please find below my requirements, I think it is a common requirement.

- Bot should ask question
- User should answer question
- Answer should be validated from an external API or through a CodeAction (calling another class)
- If validation fails, then bot should repeat question for defined max turn count

I am trying to find a simple way to

[2020-10-21 20:44] thehundred opened #4835 "Surface Web Socket events and errors to clients that use bot framework sdk to manage socket connections"
## Version
4.9.2

## Describe the bug
We have a bot that uses the bot sdk to manage the socket connections. We do that by calling the following code
await botFrameworkHttpAdapter.ProcessAsync(Request, Response, incomingBot);

When the websocket is disconnected for some reason, sending the activity over the socket should throw some exception. Currently we don't get any exception back.
This should t

[2020-10-21 21:05] thehundred opened #4837 "SDK throws error "System.ArgumentException: The key already existed in the dictionary.""
## Version
4.9.2

## Describe the bug
Sometimes when channel tries to establish web socket connection with bot, it fails because the bot SDK throws the following exception
System.ArgumentException: The key already existed in the dictionary. at System.Collections.Concurrent.ConcurrentDictionary`2.System.Collections.Generic.IDictionary<TKey,TValue>.Add(TKey key, TValue value) at Microsoft.Bot.Builde

[2020-10-21 23:10] chrimc62 commented on #4795
@tomlm Could you comment on this?

[2020-10-22 12:20] atifgk opened #4838 "Operation returned an invalid status code 'BadRequest' on UpdateActivityAsync"
Hi,
   I'm getting error of BadRequest on UpdateActivityAsync. i'm following this [link](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/update-and-delete-bot-messages?tabs=dotnet). I'm able to send messages and receive messages but getting error on update or delete

[code]

error stack trace

[code]

[2020-10-22 15:09] saurav2107 commented on #4831
@mdrichardson It would be difficult for me to share the code due to office restrictions, but I can share defiantly share class files/router dialogs, let me know if this can help debug the issue, or is there any other way we can connect.

[2020-10-22 16:12] mdrichardson commented on #4831
@saurav2107 Yes, as the Enterprise Bot template is no longer available, I'll need to see what some of your files look like. Please share any router dialogs as well as any class that extends `ActivityHandler` or `TeamsActivityHandler`.

[2020-10-22 16:56] v-kydela commented on #4838
@atifgk - Thanks for the report. You've linked to the Teams documentation. Should we take that to mean you're encountering this exception in the Teams channel?

Also, you've included the stack trace but left out the exception. What is the exception?

[2020-10-22 17:19] tomlm opened #4841 "RemoveRecipientMention() doesn't remove the Entity record."
## Version

4.10.3

## Describe the bug

activity.RemoveRecipientMention() is supposed to remove a mention which targets the recipient (aka the bot). The bug is that it only removes the mention from the text, but not from the entity array.

## To Reproduce

Use Teams to send an activity to your bot using an @ mention for the bot.  You will get a payload like this:

[code]

## Expected behavior

If

[2020-10-22 17:29] tomlm opened #4842 "SkypeMentionNormalizeMiddleware only works for Skype, but Teams is built on skype and needs same support"
## Version

4.10.3

## Describe the bug

1.  **SkypeMentionNormalizeMiddleware** attempts to normalize @ mention data structure but only does it for Skype channel. MSTeams is built on Skype and has same behavior. 
2.  **SkypeMentionNormalizeMiddleware** removes  \<at> \</at> from the entity.text, but doesn't do the same thing to the activity.text, and it should be doing both.

## To Reproduce

Sen

[2020-10-22 17:53] dmvtech commented on #4714
Hi @Vigneshramkumar Any luck? did you try using middleware to accomplish your goal?

[2020-10-22 18:23] saurav2107 commented on #4831
@mdrichardson please find below code, let me know if more info is required.

RouterDialog:

`public abstract class RouterDialog : ComponentDialog
    {
        public RouterDialog(string dialogId)
            : base(dialogId)
        {
        }

        protected override Task<DialogTurnResult> OnBeginDialogAsync(DialogContext innerDc, object options, CancellationToken cancellationToken = default

[2020-10-22 21:07] mdrichardson commented on #4831
@saurav2107 I *think* I found the issue, but without testing, can't confirm.

On an Adaptive Card Submit Action, the way this comes through for the bot is determined by the type of the Adaptive Card Submit Action's `data` property. If `data` is:

* a `string`, the bot will receive the result on `Activity.Text`
* an `object`, the bot will receive the result on `Activity.Value`

There's a few proble

[2020-10-22 23:14] EricDahlvang commented on #4842
The SkypeMentionNormalizeMiddleware is not intended to remove the mention, but to force the pattern into what is expected by RemoveMentionText: https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Schema/ActivityExtensions.cs#L70

[2020-10-23 00:17] atifgk commented on #4838
Hi @v-kydela ,thanks for reply. yes Bot is communicating with Ms teams channel. Exception message is

`Operation returned an invalid status code 'BadRequest'`

[2020-10-23 01:26] atifgk commented on #4838
@v-kydela ,actually activity id was not valid, valid activity id is in `turnContext.Activity.ReplyToId`

[2020-10-23 01:26] #4838 closed

[2020-10-23 17:30] johnataylor opened #4850 "Add streaming support to CloudAdapter"
Add streaming support to CloudAdapter.

The existing relationship between the core adapter logic and the streaming code is well defined. However there is a base-class subclass structure, which means changing the type of the adapter means an edit to the streaming class (in C# it would need to be a new class which might impliy some further refactoring.)

[2020-10-23 17:36] johnataylor opened #4851 "Add Oauth Prompt Support to CloudAdapter"
The current OAuthPrompt and OAuthInput dialogs require the adapter expose an interface called IExtendedUserTokenProvider and CloudAdapter doesn't implement this.

However, this interface needs replacing and it shouldn't be exposed from the adapter anyhow. This needs a redesign.

[2020-10-23 17:42] johnataylor opened #4853 "Add Skills Support to CloudAdapter"
CloudAdapter and the new auth classes do not yet fully support Skills.

The current CloudAdapter does actually support proactive calls with ContinueConversation and the auth code does check for the skills audience, though this second part is not fully tested.

More specifically we need a new ChannelServiceHandler that doesn't depend on ICredentialProvider and IChannelProvider.

[2020-10-23 17:43] EricDahlvang opened #4854 "Auto Update Dependency Graph on Readme"
**Is your feature request related to a problem? Please describe.**
The build release creates a new InterdependencyGraph, but is not updating the Readme

**Describe the solution you'd like**
Auto update the readme of this repository when a new release happens.

[2020-10-23 17:43] johnataylor commented on #4628
Closing this issue as we now have a new adapter called CloudAdapter that support basic scenarios in any configured cloud environment.

The missing features are Streaming, OAuthPrompt support and Skills support.

https://github.com/microsoft/botbuilder-dotnet/issues/4850
https://github.com/microsoft/botbuilder-dotnet/issues/4851
https://github.com/microsoft/botbuilder-dotnet/issues/4853

[2020-10-23 17:43] #4628 closed

[2020-10-23 17:44] #4594 closed

[2020-10-23 17:58] #3900 closed

[2020-10-23 18:02] #4842 closed

[2020-10-23 18:19] stevengum commented on #4438
We're closing up R11 and moving into planning soon and will keep you updated with the decision for this ask.

[2020-10-23 18:28] chrimc62 commented on #4817
@boydc2014 I don't think this is selector related assuming the Event2 handler looks like the Event1 one.  If so, then Event1 is emitted and there is a single trigger which matches.  Then Event2 is emitted and there is a single trigger that matches.  Events should be emitted in order.  @Stevenic or @tomlm do you see anything that would cause this issue?  I suspect we need someone to repro.

[2020-10-23 18:29] stevengum commented on #4734
@garypretty can you triage this for the R12 release?

[2020-10-23 18:40] EricDahlvang commented on #4837
This appears to be due to how the ConcurrentDictionary is not being used correctly: "The key already existed in the dictionary" <-- this really should not happen with a concurrent dictionary.

Looking at the code, it is created as a concurrent dictionary: https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/Streaming/StreamingRequestHandler.cs#L85 but then just

[2020-10-23 18:41] cxbuilders opened #4858 "Do While Loop"
Sometimes one needs to ask the customer for a list of options, eg which products would you like to add. The user would be able to add products / text until they are ready and hit the I'm done button. So this is basically a loop that keeps on running, asking a value, adding value to array and repeat. Repeating the dialog / re-submitting events is in this case to coarse and would make the dialog str

[2020-10-23 18:43] cxbuilders commented on #4858
wrong project....

[2020-10-23 18:43] #4858 closed

[2020-10-23 21:59] tomlm commented on #4149
this was already checked in 394cc22

[2020-10-23 21:59] #4149 closed

[2020-10-23 22:03] tomlm commented on #4795
Have you considered registering a custom function with adaptiveExpressions?

[code]

[2020-10-23 22:10] tomlm commented on #4795
You can't do this declaratively with our current classes, but you can do this easily with custom classes.

For example, if you create a new class which derives from NumberInput and overrides OnRecognizeInputAsync() then you have access exactly to what you need to do your validatation, the dc and async\<task>.

[code]

Something like this:

[code]

Register it as a custom component and now you have

[2020-10-24 00:15] EricDahlvang commented on #4817
Changing this line:
https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/ActionContext.cs#L65

from `queue.Add(changes);` to `queue.Insert(0, changes);`  fixes the issue:

![image](https://user-images.githubusercontent.com/11055362/97063219-3d4f2d00-1553-11eb-827d-90af35558425.png)

I don't know if this is a valid fix or not.

[2020-10-24 01:51] EricDahlvang commented on #4817
It turns out that fixes this one specific issue, but others arise.

[2020-10-24 15:20] cxbuilders opened #4862 "Do While Loop"
Sometimes one needs to ask the customer for a list of options, eg which products would you like to add. The user would be able to add products / text until they are ready and hit the I'm done button. So this is basically a loop that keeps on running, asking a value, adding value to array and repeat. Repeating the dialog / re-submitting events is in this case to coarse and would make the dialog str

[2020-10-24 17:17] #4795 closed

[2020-10-24 21:16] josh-bradley commented on #1283
I'm also seeing this issue. When you press the "test connection" button on azure you can see the `scopes` query string parameter has not been added. Any chance of reopening this? @jwiley84

[2020-10-24 22:03] josh-bradley commented on #1283
Workaround for anyone else who is having the same problem is to use the "Oauth 2 Generic Provider" provider with these values

**Scope List Delimiter:** ,
**Authorization URL Template:** https://accounts.spotify.com/authorize
**Authorization URL Query String Template:** ?client_id={ClientId}&response_type=code&state={State}&scope={Scopes}&redirect_uri={RedirectUrl}
**Token URL Template:** https://