[2020-10-25 16:01] EricDahlvang commented on #4817
Here is a repro:

[customaction.zip](https://github.com/microsoft/botbuilder-dotnet/files/5435153/customaction.zip)

[TestEventEmitter2_export.zip](https://github.com/microsoft/botbuilder-dotnet/files/5435156/TestEventEmitter2_export.zip)

[code]

![image](https://user-images.githubusercontent.com/11055362/97112285-a1cbd280-16a0-11eb-9120-9e1529ea4427.png)

[2020-10-26 01:06] atifgk commented on #4801
Hi @jwiley84 @stevkan @ryanlengel @dmvtech any luck on this issue?

[2020-10-26 08:59] #4823 closed

[2020-10-26 16:12] #4837 closed

[2020-10-26 16:51] Unders0n commented on #2432
am i getting correctly is that only way to have simple menu in teams is a) use ChoiceFactory.ForChannel (and it kinda eliminates whole facade function of framework) or b)use CardActions (which actually serves a bit another idea and looking whole other way from UX perspective?

[2020-10-26 17:29] #4657 closed

[2020-10-26 17:32] carlosscastro commented on #4657
@vitaliygor For the next release, I added a fix that removes the dependency on `TurnContext`. More changes are coming this way, but I put this small fix with hopes of unblocking you. If you have a multilanguage bot, there are a few more considerations when implementing your custom `ITurnContext`, so let me know if that is the case. Multilanguage + custom turn context will become smoother later aft

[2020-10-26 18:09] v-kydela commented on #2432
@Unders0n - I'm not sure what you're asking. `ChoiceFactory.ForChannel` is meant to be used in situations where your bot is expected to communicate with multiple channels. If you want to have a simple menu in Teams, you can just create a card and send it to Teams any way you want. Card actions are part of the Bot Framework schema and are used in both Bot Framework cards and suggested actions. What

[2020-10-26 18:40] Unders0n commented on #2432
@v-kydela by "which actually serves a bit another idea and looking whole other way from UX perspective" i was actually referring to your own first answer "Because cards and suggested actions are fundamentally different in that one persists in the conversation history". And that's true - suggested actions (at least how they work in web chat and in many other platforms) are SIMPLE menu which only ap

[2020-10-26 19:05] v-kydela commented on #2432
@Unders0n - Again, card actions are part of the Bot Framework schema and are used in both Bot Framework cards and suggested actions. It doesn't make any sense to say "While Card actions (if done by default using docs) behave whole other way - they remains on the line after answer , gets much attention etc." When you say card actions, I think you just mean cards.

As we've said repeatedly, suggeste

[2020-10-26 20:14] johnataylor commented on #2437
We can provide a sample in samples/experimental that shows users how they can avoid type serialization.

Issue in samples: https://github.com/microsoft/BotBuilder-Samples/issues/2870

Regarding the security documentation linked to from this issue. The stated concern here is loading types from untrusted stores. The bot state store in a normal deployment is a trusted data source.

[2020-10-26 20:14] #2437 closed

[2020-10-26 21:34] EricDahlvang opened #4867 "Remove comment only ProductInfoHeaderValue"
## Version
all, but particularly 4.11.+

## Describe the bug
In 4.11, we have added a constructor to ConnectorClient which takes an HttpClient.  We then pass that HttpClient down to the underlying ServicClient's constructor.  Due to the fact that we have a ProductInfoHeaderValue which has no Product (comment only), the underlying ServiceClient will throw and catch 4 exceptions.

I've created a PR

[2020-10-27 00:15] EricDahlvang commented on #4862
Thanks @cxbuilders

We've added this feature request to the backlog for future consideration.

[2020-10-27 07:32] Unders0n commented on #2432
@v-kydela what's the point in being that rude? "repeatedly " , "repeatedly" , "still asking"? Really?! i've just made 1 small post with question and one post revealing what i've meant.
I was describing very trivial scenario - menu that disappear after selection. Scenario that is working out of the box in most platforms using suggested actions and surprisingly not working in default MS channel.

I

[2020-10-27 11:47] cxbuilders opened #4874 "Take gives error when there are not enough elements in array"
take(createArray(1,2,3),3)

VVVVV

*.lg:3=3 which is out of range for System.Collections.Generic.List`1[System.Object] [SendActivity_KZSydG]  Error occurred when evaluating ‘-${take(createArray(1,2,3),3)}’. [

I would actually hope that take(createArray(1),3) would just return [1]

I would expect it to function like below:
=subArray(turn.array, 0, min(count(turn.array), turn.count))

[2020-10-27 16:25] carlosscastro opened #4870 "DialogSet: Dialog IDs string comparison strategy differs from JS"
When comparing Dialog IDs in the DialogSet, we do different comparisons in JS and Dotnet: JS is case insensitive and C# is case sensitive.

The success criteria for this issue is landing at a dialog id comparison strategy that is consistent across SDK languages.

The 2 critical areas where this matters are

1. The `EqualityComparer` passed to the `DialogSet`'s underlying dictionary
2. The resource

[2020-10-27 17:31] v-kydela commented on #2432
@Unders0n - Please allow me to apologize for my unkind behavior. I would like to help, but it will be better to take questions to Stack Overflow as you've said.

[2020-10-27 17:32] jamesemann opened #4871 "LanguageGeneratorExtensions.UseLanguageGeneration GC root / memory leak"
#### Background

There is an issue when using `LanguageGeneratorExtensions.UseLanguageGeneration` at scale since it uses a static dictionary to store lg managers.

See https://github.com/microsoft/botbuilder-dotnet/blob/f55bbc3f19ca874dceebb59c3ffcb31688f141b4/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGeneratorExtensions.cs#L63

and

https://github.com/microsoft/botbuilder-dotnet/bl

[2020-10-27 17:46] mdrichardson commented on #4831
@saurav2107 Are you still having an issue with this?

[2020-10-27 20:07] Unders0n commented on #2432
@v-kydela thank you, apology accepted.

[2020-10-28 09:39] luhan2017 commented on #4566
@hhasenauer I tried it locally and can't reproduce this error, could you help provide more info for the reproduce steps:

[2020-10-28 11:32] sombe opened #4873 "Facebook One-time Notification"
Hello,
from the recent documentation on Facebook we found out that it's allowed to send a one time notification after the 24hrs window if the user has given his permission.
https://developers.facebook.com/docs/messenger-platform/send-messages/one-time-notification

For sending such proactive message we should set in the API call the token gathered from the user, in the following way:

[code]

We t

[2020-10-28 11:45] Danieladu commented on #4003
One option is to change the onError middleware in Adapter.
Original is:
[code]

Make this change:
[code]

[2020-10-28 20:10] lucaism opened #4875 "OAuthInput throws when turn.activity.text is null"
## Version
4.10.5

## Describe the bug
In msteams, when an OAuthInput dialog is active and waiting for user input, if the user submits a response that is not an auth token and has a `null` value for `turn.activity.text`, then OAuthInput will throw with the following exception:
[code]

I believe this is due to a missing null check when [checking the message input for the presence of a magic code](h

[2020-10-28 22:12] dmvtech commented on #4714
Closing. Assuming that you resolved it. Please let us know if that is not the case.

[2020-10-28 22:12] #4714 closed

[2020-10-28 23:54] luhan2017 commented on #4695
@jintu123 , was the custom runtime issue resolved? I replied to you in that issue, but you didn't replied. You can try to clean up the contents in users/***/.nuget/packages/ folder, and build the runtime again to see if the issue is still there.

[2020-10-29 00:00] LouisEugeneMSFT opened #4877 "Microsoft.BeginSkill - allowInterruptions: incorrect ref in the sdk.schema"
## Describe the bug
Microsoft.BeginSkill - allowInterruptions: incorrect ref in the sdk.schema

## To Reproduce
Steps to reproduce the behavior:
1. Go to Composer
2. Add "Connect to a skill"
3. Observe the allowInterruptions field

## Expected behavior
The field should be a a Boolean or expression (instead of unrecognized)

## Screenshots
If applicable, add screenshots to help explain your problem

[2020-10-29 00:06] LouisEugeneMSFT opened #4878 "Request to add grouping information to the expression functions in the adaptive-expressions package"
When interacting with a field that supports adaptive expression functions in Composer, we would like to be able to show the list of available functions when initially placing the cursor on the field, such as this:

![image](https://user-images.githubusercontent.com/66701106/97509462-9944f780-193f-11eb-8c6e-5a3e38a73d56.png)

The functions would be grouped by category (eg: String, Collection, etc..

[2020-10-29 01:50] #4741 closed

[2020-10-29 06:31] cosmicshuai commented on #4878
Will look into how language server protocol can provide multi-level suggestions based category. I'd like to suggest this in the Composer Language server side rather than in the Adaptive-Expressions.

[2020-10-29 16:47] gabog opened #4881 "Remove GeneratePackageOnBuild from libraries csproj files"
All of our projects in the libraries folder have `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>` and this makes a full build of the solution take longer but we don't use the local output packages for anything.

![image](https://user-images.githubusercontent.com/12264946/97605460-078fc580-19e5-11eb-8d4f-4a59ecbb1915.png)

We would like to remove that properties from the library projects to

[2020-10-29 17:26] frdiana opened #4882 "Facebook messenger cards not showed when Activity.Text is empty"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.10.3
## Describe the bug
I've upgraded the versions of Microsoft.Builder.Bot from version 4.2.2 to 4.10.3.
I

[2020-10-29 18:56] #4882 closed

[2020-10-29 18:56] frdiana commented on #4882
There is an error from my side, closing the issue.
Regards

[2020-10-30 02:59] cleemullins opened #4887 "Update the Daily Build instructions to point at Azure Artifacts"
The instructions for consuming the .Net daily builds instructs people to use MyGet.
[UsingMyGet.md](https://github.com/microsoft/botbuilder-dotnet/blob/main/UsingMyGet.md)

While this still works for R11, these instructions need to be updated to point to the Azure Artifacts feed.
https://dev.azure.com/ConversationalAI/BotFramework/_packaging?_a=connect&feed=SDK

We should use the same filename as

[2020-10-30 03:52] haacked opened #4888 "Activity.Text is set to filename and not the message text when sending a Slack message with attachment"
## Version
What package version of the SDK are you using. __4.10.3__

## Describe the bug
When sending a message in Slack with an attachment, the `turnContext.Activity.Text` property is populated with the file name and not the message text.

## To Reproduce
Steps to reproduce the behavior:
1. Create a bot and connect it to Slack using Azure Bot Service.
2. In Slack, type a message that also includ

[2020-10-30 06:49] boydc2014 commented on #4871
@tomlm how about we add a parameter for caching, and default turn it false?

[2020-10-30 16:39] mdrichardson commented on #4831
Closing due to lack of activity. Feel free to re-open if this is still an issue.

[2020-10-30 16:50] EricDahlvang opened #4889 "ContinueConversation needs to allow either empty or have a valid appid"
## Version
4.11

## Describe the bug
Our proactive messaging sample in dotnet required a value for the BotAppId, even if that value was not a valid appid.  With the introduction of skills no-auth and cloud adapter changes, we no longer allow a fake appid and require an actual appid, with password credentials.

## To Reproduce
Steps to reproduce the behavior:
1. Try the proactive samples using 4.11

[2020-10-30 18:19] chrimc62 commented on #4694
Will be in 4..1l release

[2020-10-30 18:19] #4694 closed

[2020-10-30 18:26] gabog opened #4892 "Remove CodeQL from github workflows"
Based on the github documentation, codeql seems to be available to enteprise users and it will not run for contributors using forks on their personal accounts.

This issue is about removing that yaml from the workflows to avoid blocking external contributors.

More details
https://docs.github.com/en/enterprise-server@2.22/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshoot

[2020-10-30 18:59] #4874 closed

[2020-10-30 19:00] mrivera-ms opened #4894 "Binary compatibility checks need updating"
The following changes are needed:

- [Bug] The final reports are not copied to the built artifacts when the binary compatibility result finds errors. Fix to copy the txt report.

[2020-10-30 19:01] #4892 closed

[2020-10-30 20:24] ryanlengel opened #5202 "Enable TestingMiddleware to introduce randomization when writing declarative test transcripts"
microsoft/botframework-composer#3889 has the feature request to include a SetTestOptionsMiddleware in the default runtime. A convenient way to generate new tests is to create a transcript using the Emulator and turning that into a test script. However, randomness in bot responses make it impossible to replay the same transcript.
To resolve this, the SDK has:

Evaluate enabling this in the Adaptive

[2020-10-30 20:38] v-kydela commented on #4873
@sombe - Facebook is a third-party channel, and it's unlikely that the Bot Builder SDK will be updated to have built-in support for more Facebook Messenger features. However, the Bot Builder SDK does have a Facebook adapter. Have you tried that?

[2020-10-30 23:40] #4881 closed

[2020-10-30 23:54] cwhitten opened #4900 "Component Schema for actions is overly constrained & ActionScope needs a non-list check"
Today the Adaptive component schemas that model actions are set as required when they do not need to be. This confuses authoring canvases like Composer or PVA who throw errors based on these policies.

Additionally, ActionsScope has the potential to accept a non-list item like `null` and break the runtime.

## Description
We currently require actions to be set in schema, but the code is not robust

[2020-10-31 02:16] dmvtech commented on #4796
hi @Frazerunige My apologies. I'm having trouble figuring out the powerautomate side of things. Would you mind giving me a few more steps on how to reproduce (to the point where I can add the skill)?

[2020-10-31 03:40] Danieladu opened #4901 "Support multi-line expression in Object/Array definition"
reported by @Stevenic

## Describe the bug
Currently, the multiline expression is not supported in such format:
[code]

this should work

[2020-10-31 03:48] Danieladu opened #4902 "string interpolation context should not over escape"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Currently, the string interpolation would escape \r \n again that enables the customer to

[2020-10-31 05:32] Zerryth commented on #4875
@lucaism looking into this. Currently I have a bot plugged into Teams that shows me the OathInput prompt, however currently it doesn't even do anything  even if I do something standard as clicking it...

![image](https://user-images.githubusercontent.com/35248895/97771979-8c6f0200-1aff-11eb-9d15-b208f17b2fff.png)
^ stays frozen there

Could you share more code with me, please, such as what action(

[2020-11-02 05:32] boydc2014 opened #4905 "[DCR] Further simplify the usage of expression in declarative dialogs"
## Context

Starting from https://github.com/microsoft/botbuilder-dotnet/pull/3253, the notion of "=" is introduced to force an expression, which simplified the usage of expression in declarative dialogs. It made the parsing and validation easy, whenever a starting "=" is met, we know the content following should be parsed and validated as an expression.

## Issue
In the case of a value starts wit

[2020-11-02 05:35] boydc2014 commented on #4905
This is capturing the discussion in Composer standup, cc @GeoffCoxMSFT @cwhitten .

@tomlm @chrimc62 @Stevenic what do you guys think?

[2020-11-02 19:04] tomlm commented on #4871
or use MemoryCache instead of dictionary.

[2020-11-02 20:11] Zerryth commented on #4875
Actually, nvm, managed to get it unfrozen. For some reason when I was running the bot in VS Code rather than VS it would run the bot, but wouldn't do anything once I clicked the Sign-in button (problem to investigate later...)

**Managed to reproduce error @lucaism reported.**

![image](https://user-images.githubusercontent.com/35248895/97914228-6c5c6000-1d04-11eb-81a0-6dcbf62ea254.png)

[code]

I

[2020-11-02 20:19] Zerryth commented on #4875
Also yes, it does break in the place you described in your original post in `OAuthPrompt.RecognizeTokenAsync`:

![image](https://user-images.githubusercontent.com/35248895/97915031-a4b06e00-1d05-11eb-8b93-6b53e03bc921.png)

[2020-11-02 21:12] Zerryth opened #4907 "Azure Tests Fail in Fresh Clone of botbuilder-dotnet"
What package version of the SDK are you using.
4.10.3

## Describe the bug
Getting a fresh clone of botbuilder-dotnet and running tests results in failing tests.
Specifically in `Microsoft.Bot.Builder.Azure.Tests`

![image](https://user-images.githubusercontent.com/35248895/97919680-0d4f1900-1d0d-11eb-88c1-8344cf03a16b.png)

## To Reproduce
- `git clone https://github.com/microsoft/botbuilder-dotn

[2020-11-02 22:25] v-kydela commented on #4888
@CezaryMarcjan - I've reproduced and confirmed this Slack connector bug. I also tested this with the Slack adapter, and the Slack adapter sets the text to null so that's not any better. In both cases, the bot must check the channel data to get the actual message text that got sent with the attachment. This needs to be fixed in both the Slack connector and the Slack adapter. I'm unassigning myself

[2020-11-03 00:24] v-kydela commented on #4873
@sombe - Are you still working on this?

[2020-11-03 00:36] dmvtech commented on #4801
Hi @atifgk No luck yet. I'm still working on it. Hope to have some sort of finding/answer for you in a day or two.

[2020-11-03 00:42] atifgk commented on #4801
thanks :)

[2020-11-03 03:33] Virtual-Josh opened #4908 "Audio cards don't work with on the consumer"
Audio cards don't play on the parent when the skill returns an audio card. The audio car does play if you talk to the skill directly.

**Steps**
1. Use the card bot located [here](https://github.com/microsoft/BotFramework-FunctionalTests/tree/josh/bots/Bots/DotNet/Skills/CodeFirst/CardSkillBot) to azure
2. Update the app id and password
3. Deploy card bot to azure
4. Update the app id, password, a

[2020-11-03 08:07] #4902 closed

[2020-11-03 08:18] yoPCix opened #4909 "Microsoft.Bot.Builder.Azure does not work with latest Microsoft.Azure.Cosmos library"
Currently `Microsoft.Bot.Builder.Azure` points to `Microsoft.Azure.Cosmos` package version 3.2.0, which is 1 year old. If I upgrade my project dependency for `Microsoft.Azure.Cosmos` to its latest version 3.14.0, bot framework throws an exception:

[code]

[2020-11-03 08:23] sombe commented on #4873
Hello @v-kydela,
yeah sorry for the delay. We've seen the Facebook adapter but One-time Notification would be the only feature that would force us to use the dedicated adapter. Given what has been done for the notification_type we thought there was a possibility for this too, but since you pointed out that this will unlikely happen, we will continue calling the API natively.

Thank you for the cla

[2020-11-03 08:23] #4873 closed

[2020-11-03 09:38] yoPCix commented on #4909
A new parameter `CancellationToken cancellationToken = default` was added to `Microsoft.Azure.Cosmos.Fluent.ContainerBuilder.CreateIfNotExistsAsync` method in version 3.11.0

[2020-11-03 17:17] mrivera-ms commented on #4908
@Virtual-Josh thank you for reporting it. Please add details including analysis and clear steps for repro. Thank you.

[2020-11-03 17:19] mrivera-ms commented on #4907
@Zerryth please add more details to this bug, including repro steps and diagnosis.

[2020-11-03 17:22] mrivera-ms commented on #4905
@darrenj please prioritize, customer impact.

[2020-11-03 17:22] alexanderyakuba commented on #4833
Hi guys, do your changes somehow related to this check?
Because the token I provide doesn't contain that claim.
https://github.com/microsoft/botbuilder-dotnet/blob/bfa307619f5456d4ff5b7d4dd074433012aada9d/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpAdapter.cs#L294

I obtain the token using this approach:
https://docs.microsoft.com/en-us/azure/bot-service/res

[2020-11-03 17:25] mrivera-ms commented on #4901
@Danieladu please add more details. Include specific information about what you want to be done. Please clean up the template text from the description.

[2020-11-03 17:27] mrivera-ms commented on #4900
@garypretty please prioritize and add any needed information.

[2020-11-03 17:39] mrivera-ms commented on #4878
@darrenj please prioritize and add the customer impact.

[2020-11-03 17:45] mrivera-ms commented on #4871
@boydc2014 please add options for fixes and ETA. Please also add tests.

[2020-11-03 17:48] Zerryth commented on #4907
@mrivera-ms repro steps are there already, however I will take time to look into why exactly the tests are failing, and try to add more detail to the repro steps--this is off `main` branch, which I did fail to mention.

I'm not super experienced in the botbuilder Azure bits of the repo, so I don't exactly know what's wrong from a surface level from the errors given:

## Failing Tests

### **Transc

[2020-11-03 18:00] haacked opened #4910 "Extra slash character in the attachment URL with Slack"
## Version
What package version of the SDK are you using. __4.10.3__

## Describe the bug
When sending a message in Slack with an attachment, the `turnContext.Activity.Attachments[0].AttachmentUrl` property contains an extra slash character. It's not a big deal, but I noticed it when filing #4888

## To Reproduce
Steps to reproduce the behavior:
1. Create a bot and connect it to Slack using Azure

[2020-11-03 18:00] mrivera-ms commented on #4862
@darrenj please prioritize and add customer impact. Thank you.

[2020-11-03 18:14] johnataylor commented on #4841
possibly related https://github.com/microsoft/botbuilder-dotnet/pull/4843

[2020-11-03 18:17] johnataylor commented on #4835
related https://github.com/microsoft/botbuilder-dotnet/issues/4850

[2020-11-03 18:20] #4831 closed

[2020-11-03 18:27] mrivera-ms commented on #4822
@garypretty please review and let us know what the expected behavior is. Thank you.

[2020-11-03 18:31] mrivera-ms commented on #4821
@garypretty please triage and prioritize. Thank you.

[2020-11-03 18:33] Virtual-Josh commented on #4908
I've updated the repro steps and linked to the bots used that are now in the new file structure. Let me know if you need any additional information.

[2020-11-03 18:45] mrivera-ms commented on #4773
@garypretty please prioritize and identify customer scenarios.

[2020-11-03 18:48] mrivera-ms commented on #4768
Target for R12 is investigation and definition of requirements.

[2020-11-03 18:50] mrivera-ms commented on #4755
@v-kydela This will need parity in the other languages. Please make sure issues are created to track them in other repos.

[2020-11-03 18:52] mrivera-ms commented on #4742
@dennisfelczy we are closing this due to inactivity. Please reopen it as needed.

[2020-11-03 18:52] #4742 closed

[2020-11-03 18:54] mrivera-ms commented on #4730
@darrenj please triage, prioritize, and add customer scenarios.

[2020-11-03 21:44] EricDahlvang commented on #4908
This is probably because the url here is hard coded to local:

https://github.com/microsoft/BotFramework-FunctionalTests/blob/josh/bots/Bots/DotNet/Skills/CodeFirst/CardSkillBot/CommandHandler.cs#L145

[code]

[2020-11-03 22:20] Virtual-Josh commented on #4908
Ahh, good point. Let me try with the deployed url.

[2020-11-03 23:02] mdrichardson commented on #4909
@yoPCix What version of `Microsoft.Bot.Builder.Azure` are you running? I was able to update to `Microsoft.Azure.Cosmos` v3.14.0 just fine. If the only change to that method was adding the `CancellationToken cancellationToken = default` parameter, there shouldn't be any issues because that parameter is optional.

Can you share your `CosmosDbPartitionedStorageOptions`? (please obfuscate the keys)

[2020-11-04 01:34] Danieladu commented on #4901
Sure. Currently, I could not reproduce this issue. I would sync with the questioner to get more context.

[2020-11-04 02:30] Danieladu commented on #4871
What about using [ConditionalWeakTable](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.conditionalweaktable-2?view=netcore-3.1)

[2020-11-04 07:14] boydc2014 commented on #4003
The
![image](https://user-images.githubusercontent.com/3829387/98080129-e715ae80-1eaf-11eb-8b26-b22d28c171d8.png)

is caused by previous we are using `__temp__` as the name. in latest release we are not using this notion. And we confirmed are not adding any extra character to the error message after checking the code.

Also, hongyang gave a solution to fully disable markdown render. So, at this po

[2020-11-04 07:14] #4003 closed

[2020-11-04 07:17] boydc2014 commented on #4878
@mrivera-ms i'm not sure how this could be technically implemented, what we offer is a library containing a list of expressions, and we don't have a mechanism to expression function type as a library.  This should be a Composer issue, which use a table to store the grouping.

[2020-11-04 07:22] boydc2014 commented on #4572
Remove the adaptiveExpression and add adaptive.

This is an ask to add a scope in DialogStateManager of AdaptiveDialog. and @tomlm  is the right person to triage.

[2020-11-04 08:25] yoPCix commented on #4909
I am running `Microsoft.Bot.Builder.Azure` v4.10.3

Setup is pretty straightforward.

[code]

[2020-11-04 10:11] xieofxie opened #4918 "[OAuthPrompt] incorrect exception"
## Describe the bug

Here it says Recognize, however it is thrown in BeginDialog: https://github.com/microsoft/botbuilder-dotnet/blob/830a3e38b0a963368436f7fd490f13d0cee05a24/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L479

[2020-11-04 19:24] LouisEugeneMSFT commented on #4878
@cosmicshuai, Intellisense currently has a _**completionListOverride**_ functionality to inject any custom component in the Intellisense menu and override the default behavior. This logic is client side. The purpose of this functionality is to handle any non traditional Intellisense interaction (aka any UI that is different from a simple list of completion results). It is currently used to show "S

[2020-11-04 19:32] Anshul21 opened #4920 "[SlackAdapter] Bot receives additional event call back when sends message/attachment to the user."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.10
## Describe the bug
I am using SlackAdapter. Everytime bot sends a message/attachment to the user, it receives an "event_callback" which is breaking the

[2020-11-04 19:38] mdrichardson commented on #4909
@yoPCix I was only able to replicate this if I had *both* of these packages:

* Microsoft.Bot.Builder.Azure
* Microsoft.Azure.Cosmos

Is there a reason you have the `Microsoft.Azure.Cosmos` package in addition to `Microsoft.Bot.Builder.Azure`? You should only need `Microsoft.Bot.Builder.Azure`.

Again, if I actually modify the `Microsoft.Bot.Builder.Azure` package and update it's dependency to use

[2020-11-04 19:40] dmvtech commented on #4796
Hi @Frazerunige Just checking in. Can you help me get to a point to reproduce the issue you are having?

[2020-11-04 22:15] EricDahlvang commented on #4867
The recommendation for anyone seeing a null reference exception due to this is to ignore.

[2020-11-05 01:33] xieofxie opened #4922 "implement IExtendedUserTokenProvider for CloudAdapter"
**Is your feature request related to a problem? Please describe.**

For current [CloudAdapter](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/CloudAdapter.cs), it doesn't implement IExtendedUserTokenProvider.

So we can't use OAuthPrompt in this adapter.

[2020-11-05 04:07] luhan2017 commented on #4566
@hhasenauer , did you still see this error? could you share us all your lu files?

[2020-11-05 06:54] swagatmishra2007 opened #4924 "Missing docs on enabling OAuth for bot in non-public azure"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
N/A
## Describe the bug
Give a clear and concise description of what the bug is.
For a bot to use OAuthPrompt

[2020-11-05 08:32] hhasenauer commented on #4566
@luhan2017 Yes, the error still occurs, with the newest version of all packages.
I even was able to reproduce it with other entities e.g. "ubahn" with the entities defined like in this screenshot.
![image](https://user-images.githubusercontent.com/16212806/98216516-76bb6b80-1f49-11eb-9952-9153e1e79924.png)
Unfortunately, I cannot share all the .lu files with you, but my initial example still repro

[2020-11-05 14:53] gabemilani opened #4926 "JsonReaderException when deserializing Slack payload to the InteractionPayload model"
## Version
Microsoft.Bot.Builder 4.10.3
## Describe the bug
`JsonReaderException` when deserializing Slack payload to the `InteractionPayload` model.

**Problem**: `Newtonsoft.Json.JsonReaderException` at `Newtonsoft.Json.JsonTextReader.ReadStringValue`
**Message**: Unexpected character encountered while parsing value: {. Path 'state', line 1, position 4505.

i.e. exception is thrown when a user s

[2020-11-05 15:12] dejancg opened #4927 "OAuthPrompt in v4.10.3 + Generic Oauth 2 + IdentityServer = No prompt is shown"
OAuthPrompt in Microsoft.Bot.Builder.Dialogs v4.10.3 seems to be broken when using the connection name of "Generic Oauth 2" service provider - it is not displayed in Teams dialog with the bot, nor in WebChat.

## To Reproduce
1. Set up an IdentityServer instance locally, which needs to have the client configured as follows:
- **ClientId**: `your_client_id`
- **ClientSecret**: `your_client_secret`

[2020-11-05 17:08] #4722 closed

[2020-11-05 17:11] mrivera-ms commented on #4708
@scheyal could you please take a look at this and prioritize?

[2020-11-05 17:15] mrivera-ms commented on #4695
@jintu123 there has been no activity on this for a few days. Closing it for now. Please re-open it if needed.

[2020-11-05 17:15] #4695 closed

[2020-11-05 17:15] EricDahlvang commented on #4695
Please look at the Delay activity type.  It enables pausing between outgoing messages.

[2020-11-05 17:33] johnataylor commented on #4674
See also https://github.com/microsoft/botbuilder-dotnet/issues/4850

[2020-11-05 17:36] mrivera-ms commented on #4663
Closing as duplicate of https://github.com/microsoft/botbuilder-dotnet/issues/4862

[2020-11-05 17:36] #4663 closed

[2020-11-05 17:45] johnataylor commented on #4862
We would like to be in a position where iterative structures such as this can be added outside of the core SDK. At which point we can provide this as a sample or a third party can provide an implementation.

@EricDahlvang has investigated this and the SDK appears to support this through its existing extensibility. (And the component can be tested by manually constructing the underlying data struct

[2020-11-05 17:45] gabog commented on #4817
Hi Dong, can you also look at #4662 and make sure we address that issue as part of this one?

[2020-11-05 17:46] gabog commented on #4662
Linked this issue to #4817 and closed so we can address it as part of that one.

[2020-11-05 17:46] #4662 closed

[2020-11-05 17:47] mrivera-ms commented on #4651
@darrenj this seems like a large work item. Could you please prioritize it? Thanks.

[2020-11-05 17:48] mrivera-ms commented on #4576
@boydc2014 are there any updates about this? Please prioritize it and add any details. Thank you.

[2020-11-05 17:49] mrivera-ms commented on #4572
@darrenj please prioritize. Thank you.

[2020-11-05 17:50] mrivera-ms commented on #4568
@xieofxie are there any updates on this?

[2020-11-05 17:56] mrivera-ms commented on #4566
@luhan2017 could you please take a look and update this item?

[2020-11-05 17:59] mrivera-ms commented on #4555
@darrenj the SDK team reviewed this and concluded this is not something we would be implementing. Please comment and assign/close as needed.

[2020-11-05 18:02] mrivera-ms commented on #4538
Done in R11.

[2020-11-05 18:02] #4538 closed

[2020-11-05 18:03] mrivera-ms commented on #4527
@a-b-r-o-w-n is this going to be done in R12?

[2020-11-05 18:05] mrivera-ms commented on #4526
@darrenj please see the comment above and prioritize this. Thank you.

[2020-11-05 18:09] mrivera-ms commented on #4521
@tracyboehrer to review with team and possibly move it to another repo.

[2020-11-05 18:16] mrivera-ms commented on #4468
Triaged by the SDK team. This should be fixed in CloudAdapter.

[2020-11-05 18:18] mrivera-ms commented on #4438
@garypretty is this scoped for R12?

[2020-11-05 18:22] cleemullins commented on #4521
@stevengum did quite a bit of this a little while back:
https://github.com/stevengum/DiscordConnector

[2020-11-05 18:33] mrivera-ms commented on #4010
@boydc2014 what is the status of this item? Please update it and close it if needed.

[2020-11-05 18:35] mrivera-ms commented on #3993
@darrenj could you please take a look here? We need a resolution. It should be prioritized or closed. Thank you.

[2020-11-05 18:37] mrivera-ms commented on #3905
@JuanAr please sync up with @gabog before you start this task.

[2020-11-05 18:39] mrivera-ms commented on #3848
Closing because this is being handled in other CloudAdapter work.

[2020-11-05 18:39] #3848 closed

[2020-11-05 18:45] mdrichardson commented on #4684
This comment is more for me tracking my thoughts.

Resources:

* [Upload Blobs Quickly](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-performance-checklist#upload-blobs-quickly)
* [Blob Types](https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs)

We might be using an inefficient blob type, as well. We use Block, which is

[2020-11-05 18:49] mrivera-ms commented on #3816
@mdrichardson please sync up with the SDK team before starting this task.

[2020-11-05 18:51] mrivera-ms commented on #3799
There is a parallel stream of work addressing this.

[2020-11-05 18:51] #3799 closed

[2020-11-05 18:51] mrivera-ms commented on #3649
Closing due to innactivity.

[2020-11-05 18:51] #3649 closed

[2020-11-05 18:52] mdrichardson commented on #3816
@mrivera-ms Anybody in particular?

[2020-11-05 18:53] mrivera-ms commented on #3644
@darrenj this is an old feature request. Could you please triage and prioritize?

[2020-11-05 18:58] mdrichardson commented on #4684
@tomlm @gabog @carlosscastro @EricDahlvang Any quick initial thoughts on [my comment, above](https://github.com/microsoft/botbuilder-dotnet/issues/4684#issuecomment-722567907)? I don't have much experience with Blob Storage and how we use it, currently. Some insight into these comments might prevent me from spending too much time down some rabbit holes.

[2020-11-05 20:31] EricDahlvang commented on #4684
@mdrichardson  Your comments and questions seem right on to me.  We would not necessarily have to change our underlying defaults (for backwards compat reasons), but maybe we should expose some of these parameters, for enabling configuring these things. In order to provide a path towards optimization under customer determined scenarios.

[2020-11-05 22:08] #4900 closed

[2020-11-05 22:48] a-b-r-o-w-n commented on #4527
@mrivera-ms  yes.

[2020-11-05 23:15] JonathanFingold commented on #4546
Documentation exists for the **Settings** and **This** scopes, among others, in the SDK docs at Reference/AdaptiveDialogs/[Memory scopes](https://docs.microsoft.com/azure/bot-service/adaptive-dialog/adaptive-dialog-prebuilt-memory-states).

[2020-11-06 00:14] JonathanFingold commented on #4546
Please reopen with comments if I have closed this prematurely.

[2020-11-06 06:51] xieofxie commented on #4568
I see.. We add a https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/ChannelMentionEntityRecognizer.cs for mention class. Close now

[2020-11-06 06:51] #4568 closed

[2020-11-06 06:55] yoPCix commented on #4909
We have an internal library that is using `Microsoft.Azure.Cosmos` and we wanted to upgrade to the latest version, which caused the error. Of course for now we will downgrade that version to 3.10.1 which works OK.
I guess this issue still stands as `Microsoft.Bot.Builder.Azure` should work with the latest version.
Considered creating a pull request for this package update, but I'm getting too many

[2020-11-06 07:36] boydc2014 commented on #4010
I got some time with Tom and ends up with a design. Shuai is working on that.

A PR is open for this, see the link above. I think this still needs sometime to bake, i expect the PR will be ready in the next few days.

[2020-11-06 07:44] boydc2014 commented on #4871
@mrivera-ms there are several options, like adding a parameter, or using a different data Structure.  I will get some time down next week with Tom and Hongyang to pick a good solution.

The solution would be ready probably one week after that. The fix should be obvious (once we decided), but i suspect the tests would take some time to make a proper test against memory leak.

[2020-11-06 07:50] boydc2014 commented on #4817
Thanks @gabog, we've looked at #4662 and can't repro it on our side, and i've pinged Steve to put more details on that one. And i don't think these two are related.

Regarding specifically this one, the root cause, as far as i can tell, is this "EmitEventAsync" perhaps not designed as a public API, it's designed as a internal API that used as internal implementation (like EmitEvenAction) and have

[2020-11-06 07:51] #3592 closed

[2020-11-06 07:51] boydc2014 commented on #3592
Closing this, since the intention wasn't clearly stated.

[2020-11-06 07:53] boydc2014 commented on #4817
Yes, this event\changelist apply order is specific designed to be able to support the case of interruption. So, changing that will break other cases.

[2020-11-06 07:59] boydc2014 commented on #4576
This one is mostly a backlog, it's a very rare case and i think we are soon going to update this part. My judgement is there is nothing actionable at this stage. Let's close this for now. We will reopen or recreate new one, once we revisited LG-integration at R12 and this is still a issue then.

[2020-11-06 07:59] #4576 closed

[2020-11-06 10:28] garypretty commented on #4822
@mrivera-ms I don't know what the actual / expected behavior is here (I wasn't involved in the adaptive development). You would need to either dig into the code itself or reach out to the original developers to understand that. Suggest that either you / @EricDahlvang dig in to understand what the action is doing today, or reach out to @tomlm / @Stevenic.

Once you have clarity, this feels like a c

[2020-11-06 10:31] garypretty commented on #4821
Looks like a straightforward issue to resolve.  Need to just confirm that changing the name of the loaded root dialog doesn't break anything else. Looks like a simple one to address in R12.

[2020-11-06 10:58] garypretty commented on #4555
This is not something that will be address within the short - medium term and is not on any of our current roadmaps.  We have captured this requirement previously, so this will be considered again in future planning, but right now I am going to close this issue.

[2020-11-06 10:58] #4555 closed

[2020-11-06 11:00] garypretty commented on #4438
@mrivera-ms I am going to mark this as R12, but we may need to re-review over the coming weeks as the bigger ticket items from planning come in.

[2020-11-06 13:53] jamesemann commented on #4871
@boydc2014 Please feel free to tag me on this PR when ready and I can test the memory leak

[2020-11-06 14:31] cxbuilders opened #4936 "Temp / Variable memory scope"
I use Composer in a modular way as much as possible. This means that api calls etc are in one dialog with error handling and error messaging all within that dialog. Also regular conversation style conversations are modular and within a turn multiple dialogs could be called through events. This makes working with Composer much easier and managing dialogs becomes easier as well.

As a result of that

[2020-11-06 15:05] cxbuilders opened #4928 "Pre & Post Activity Triggers"
I am using Composer to built bots. Many bots that we build rely heavily upon authentication and session management. This could be like limiting the session of a user to 15mins after inactivity or checking a user database every 5 minutes etc..

In order to have a flexible solution it would be great to have a Pre Activity and Post Activity trigger that can be used in the root dialog to handle checks

[2020-11-06 17:54] #4546 closed

[2020-11-06 19:11] jwiley84 commented on #4927
Does this also occur if you use "Oauth 2 Generic Provider"?
![image](https://user-images.githubusercontent.com/17333688/98405292-dd5f8880-2020-11eb-8bf4-de9c73d39103.png)

[2020-11-06 19:19] jwiley84 commented on #4927
Also, what error message do you get when it doesn't show up?

[2020-11-06 19:20] dejancg commented on #4927
Hello @jwiley84 , I don't know. We don't use that provider. It has too many fields to configure (which also seem to be undocumented) and we don't want to provide support to our customers regarding something as unintuitive as that.

Note that "Generic Oauth 2" works fine with an older Microsoft.Bot.Builder.Dialogs.

[2020-11-06 19:22] dejancg commented on #4927
@jwiley84 no error message. Just doesn't show up (you can try with the sample I mentioned, it's not hard to reproduce).
In our application, however, `BeginDialogAsync` method throws an error with HTTP status code 404.

[2020-11-06 19:38] mdrichardson commented on #4909
@yoPCix Gotcha. I'll put in a PR to upgrade the `Microsoft.Azure.Cosmos` version within `Microsoft.Bot.Builder.Azure`. However, we're about to push a new release and I don't believe this will make it in until the next one, just FYI.

[2020-11-06 20:08] dmvtech commented on #4801
Hi @atifgk Would you be able to share a sanitized (of personal/sensitive info) repo of your function code? What did you use as a starting point (did you use one of the samples, or from a visx, etc).

Also; you mentioned V3, that is Azure Function V3, not Bot Framework V3, correct? (Assumed so, just need to make sure).

[2020-11-06 20:26] dmvtech commented on #4801
Also; I'm assuming this is .cs and not .csx, correct?

[2020-11-06 20:27] Virtual-Josh opened #4931 "Skills do not work with the TeamsInfo API calls"
## Version
4.10

## Describe the bug
The `TeamsInfo` methods throws a `MethodNotAllowed` error when you try to call it from the skill

## To Reproduce
Steps to reproduce the behavior:
1. Deploy the parent bot
2. Deploy the skill bot
3. Sideload the parent bot to a Teams team
4. Sideload the child bot to a Teams team
5. Send the skill bot a message to get the channels
-- (notice it works)
6. Send a

[2020-11-07 02:16] atifgk commented on #4801
@dmvtech  i have attached my code. yes its azure function v3
[FunctionApp1.zip](https://github.com/microsoft/botbuilder-dotnet/files/5504165/FunctionApp1.zip)

[2020-11-09 01:16] don4of4 opened #4934 "Bot Framework Fails to Create CosmosDb Container in Serverless Mode"
## Version
4.10.3

## Describe the bug
This bug is straightforward -- the cosmos connector does not work on the new serverless SKU, which is unfortunate.

## To Reproduce
Steps to reproduce the behavior:
1.Create a serverless Cosmos DB
2. Attempt to write back state with a bot (1st time)
3. Error - Microsoft.Bot.Builder.Integration.AspNet.Core.BotFrameworkHttpAdapter: Exception caught : Response s

[2020-11-09 01:22] don4of4 commented on #4310
This is cut from the same cloth as #4934, but slightly different.

[2020-11-09 19:12] cwhitten commented on #4934
@dmvtech can you look at this please?

[2020-11-09 19:19] cwhitten commented on #4928
@darrenj POR is to funnel these into PgM for discussion & prioritization, so assigning you for now.

[2020-11-09 19:21] cwhitten commented on #4936
@cxbuilders we want to model these types of scenarios by allowing you to define custom memory scopes and behavior declaratively like we do the dialog system. assigning @darrenj

[2020-11-10 01:35] Danieladu commented on #4871
@jamesemann Feel free to test the PR. Thanks.

[2020-11-10 01:46] #4909 closed

[2020-11-10 02:03] EricDahlvang commented on #4734
A PR has been submitted to check for IsNullOrEmpty while cloning the activity.

Thank you for bringing this to our attention @sschutten

[2020-11-10 03:43] mrivera-ms commented on #4908
@Virtual-Josh I am assigning this back to you. Please verify if the root cause is the hard coded value in the test bot and if it is, please close. If not, you can continue the investigation. Thank you.

[2020-11-10 08:04] luhan2017 commented on #4566
I've tried the above sample and still can't reproduce on my side. @feich-ms , is there any logic in the cli side which updates the lu file and probably may cause this issue?

[2020-11-10 10:44] feich-ms commented on #4566
This fix PR https://github.com/microsoft/botbuilder-dotnet/pull/4456 is not merged, instead it is closed. I will cherry-pick it and re-send one with unit tests covered.

[2020-11-10 16:46] dmvtech commented on #4796
Hi @Frazerunige I am closing this as I am unable to complete the setup to get this working/reproduced. Please let me know the complete steps if you still need assistance and I will reopen this.

[2020-11-10 17:09] mrivera-ms commented on #4186
@JuanAr, could you please see if you can track the root cause of this bug? Thank you.

[2020-11-10 17:10] mrivera-ms commented on #4180
@GeoffCoxMSFT is this something we will take for R12?

[2020-11-10 17:10] mrivera-ms commented on #4179
Ping @darrenj

[2020-11-10 17:13] mrivera-ms commented on #4049
We will not take this for now. Closing the issue. We can open it again if there is a business need.

[2020-11-10 17:13] #4049 closed

[2020-11-10 17:16] mrivera-ms commented on #4042
@DingmaomaoBJTU thank you for opening this issue. We are not able to take this at the moment.

[2020-11-10 17:16] #4042 closed

[2020-11-10 17:18] Virtual-Josh commented on #4908
Fixing the url & publishing the files was the fix. Thanks @EricDahlvang.

[2020-11-10 17:18] #4908 closed

[2020-11-10 17:19] mrivera-ms commented on #4034
@darrenj , we need prioritization. This is an item that has been around for a while and it needs specification.

[2020-11-10 17:24] mrivera-ms commented on #3586
@darrenj please prioritize. Thank you.

[2020-11-10 17:25] mrivera-ms commented on #3569
@garypretty could you please look at this and tell us if it should be included in R12?

[2020-11-10 17:26] mrivera-ms commented on #3531
Closing due to inactivity.

[2020-11-10 17:28] mrivera-ms commented on #3402
Closing due to inactivity.

[2020-11-10 17:29] mrivera-ms commented on #3358
Closing due to inactivity.

[2020-11-10 17:29] #3358 closed

[2020-11-10 17:31] mrivera-ms commented on #3238
Closing due to inactivity. @boydc2014 please open it if needed again.

[2020-11-10 17:31] #3238 closed

[2020-11-10 17:35] mrivera-ms commented on #2548
Closing due to inactivity.

[2020-11-10 17:35] #2548 closed

[2020-11-10 17:45] chrimc62 commented on #3402
This is in planning for R12

[2020-11-10 17:46] chrimc62 commented on #3531
This is still a good idea we should do.

[2020-11-10 17:47] #4734 closed

[2020-11-10 17:58] #4875 closed

[2020-11-10 18:10] #4200 closed

[2020-11-10 18:56] mrivera-ms commented on #3531
@chrimc62 will this be done in R12?

[2020-11-10 21:18] Virtual-Josh opened #4944 "Skills can't upload attachments"
## Version
4.10

## Describe the bug
If a skill calls Connector.Attachments().Client.Conversations.UploadAttachmentAsync it fails saying

## To Reproduce
1. Start up the [parent bot](https://github.com/microsoft/BotFramework-FunctionalTests/tree/josh/bots/Bots/DotNet/Consumers/CodeFirst/SimpleHostBot)
2. Start the attachment [skill bot](https://github.com/microsoft/BotFramework-FunctionalTests/tre

[2020-11-10 22:26] sbacha commented on #3531
Hey @mrivera-ms  & @chrimc62  it would be great to see this land in R12.
We just introduced in a new scope from pva, and we did not have a good way of handling "smart" filling.
This can be the solution we can leverage to hook onto our current smart filling decision maker.

[2020-11-10 22:36] chrimc62 commented on #3531
Seems like there are two parts to this:
1) Having a custom property that could be put into a trigger or disable for "everything in this template is present"
2) Having a way to identify what is currently not present for an LG template.  We have that internally, but need to expose it.

[2020-11-10 23:15] JonathanFingold opened #4946 "All the comments about files being "auto-generated" in the Connector and Schema namespaces should be removed"
## Version
What package version of the SDK are you using: **main** (4.11.0, as of this writing)

## Describe the bug
The files in the Microsoft.Bot.**Connector** and Microsoft.Bot.**Schema** namespaces are no longer being auto-generated from the Swagger file. However, most of the files still contain the `// <auto-generated>` comments. These comments should be removed and all the resulting code ana

[2020-11-10 23:38] fabio-muramatsu opened #4948 "TextInput throwing when input is not in string format"
## Version
4.10.5

## Describe the bug
The TextInput dialog throws when the input in context.Activity.Text is empty and context.Activity.Value contains an object. This happens, for example, when the bot uses adaptive cards and it specifies an object as the value to be returned to the bot service. In this situation, the TextInput throws an exception like the following:

[code]

## To Reproduce
Step

[2020-11-11 00:08] dmvtech commented on #4934
Thanks @don4of4 I'm attempting to reproduce myself. Should be able to confirm tomorrow.

[2020-11-11 00:53] v-kydela commented on #4910
@haacked - I'm looking into this now. Can you try this with the Slack adapter to see if it similarly includes double-slashes?

[2020-11-11 01:12] #4901 closed

[2020-11-11 08:00] boydc2014 commented on #4871
@jamesemann  can you try the PR above https://github.com/microsoft/botbuilder-dotnet/pull/4916

[2020-11-11 08:47] jamesemann commented on #4871
Will do and report back asap

[2020-11-11 09:30] feich-ms commented on #4566
Fixed in this PR https://github.com/microsoft/botbuilder-dotnet/pull/4949

[2020-11-11 10:29] dejancg commented on #4927
Any update on this @jwiley84 ?

[2020-11-11 10:53] cxbuilders opened #4960 "Ability to set text properties of OAuth Login using LG"
Since we export all language from a bot to be translated to another one in a single file (common.lg), we want to have all language used in the bot coming from that file as well. This includes the Text & Title properties of the OAuth Login. Currently it is not possible to set these properties using LG, so the bot has an English Oauth card for now. Ideally the Text & Title could just be set like the

[2020-11-11 12:44] Pruzzo commented on #4796
To reproduce this bug just develop a bot with bot framework using the 4.10.3 version of the SDK, than upload it somewhere (in my case bot services on azure) than provide the manifest link to the add skill page in powerautomate chatbot.
The page will always give back an error. The manifest is correcly written and bot has in the appsettings the allowedcallers, but the page always give an error

To m

[2020-11-11 12:48] Frazerunige commented on #4796
To reproduce this bug just develop a bot with bot framework using the 4.10.3 version of the SDK, than upload it somewhere (in my case bot services on azure) than provide the manifest link to the add skill page in powerautomate chatbot.
The page will always give back an error. The manifest is correcly written and bot has in the appsettings the allowedcallers, but the page always give an error

To m

[2020-11-11 14:35] don4of4 commented on #4934
Sounds good.  It looks like the issue is just creation, so this should be a straightforward fix.

[2020-11-11 16:40] dmvtech commented on #4796
Unfortunately no.

_This_ is the part I do not understand. I have no experience with powerautomate. You need to give me more specific steps.

[2020-11-11 18:06] Frazerunige commented on #4796
https://youtu.be/qvT89io3Gx0

Hope this video will help u to understand.
The first part i try to add the skill in PVA while the SDK is in 4.10.3 version.

[2020-11-11 22:22] johnataylor opened #4956 "HealthCheck is a feature of ActivityHandler and won't necessarily work for Adaptive Dialog scenarios"
Adaptive Dialog scenarios generally use DialogManager which is often just included in an IBot implementation. If this is the case the bot won't get the HealthCheck feature because this is implemented in ActivityHandler.

There are a few solutions here. Change the boiler plate code that invokes DialogManager to run on ActivityHandler. Move the code in ActivityHandler into the adapter (i.e. into Clo

[2020-11-11 23:23] dmvtech commented on #4934
Yeah, I'm with you on this. Reproduced and in a agreement on very similar to #4310 . I'm assuming if it was nullable, that this would no longer error.

Obviously, you're aware of the workarounds that @EricDahlvang [has mentioned](https://github.com/microsoft/botbuilder-dotnet/issues/4310#issuecomment-662692328) in that one, so I won't go into that here.

Thanks for bringing this to our attention.

[2020-11-12 00:50] tomlm commented on #4905
I don't think this makes sense.  Are you really suggesting it's better for booleans where it is unamibious to have to put = on the front? IfCondition() and OnTrigger.Condition in partular.
[code]
[code]
Same for all triggers?
[code]
[code]
There is no interpretation of that string that shouldn't be a bool.

[2020-11-12 01:03] BruceHaley commented on #4854
Resolved by PR #4939

[2020-11-12 01:03] #4854 closed

[2020-11-12 02:19] chrimc62 commented on #4878
This seems like a prime candidate to be expressed in .uischema.  Why isn't that the right place to have this?

[2020-11-12 04:10] EricDahlvang opened #4958 "Streaming should return BadRequest if an Activity is not present"
The streaming code should not throw Null Reference exceptions, and return 500s if the incoming body does not deserialize into an Activity, but rather should return BadRequest similar to the adapter.

**Describe the solution you'd like**
BadRequest returned instead of 500 internal server error

**Additional context**
Customer reported issue.

[2020-11-12 06:50] Danieladu commented on #4817
For some coupling relationships between dialog and "EmitEventAsync" function, there indeed exists some gap between calling "EmitEventAsync" function directly and maintain the order of the events.

We suggest using the existing "EmitEvent" action to accomplish the same function.
I have committed a branch that gives a sample about emit several events:

https://github.com/microsoft/botbuilder-dotnet/

[2020-11-12 10:08] feich-ms commented on #4566
Hi all, I did deep investigations today and found something interesting I think. I used the de-de locale to publish the lu content provided at the top of this issue with **de-de** locale. Then I used this app to test the utterance `Sicherheitsdienstmitarbeiterinnen` and get below prediction response. I found that actually the start and end indexes are correct based on the input utterance, instead

[2020-11-12 12:43] boydc2014 commented on #4817
@cxbuilders we did a group triage on this one today and identified that this is an issue related to something very deep in how event and actions are applied. And this function "EmitEventAsync" has certain implications in a customized action context and there isn't a easy fix to correct the order this.

The general guidance we came up for this "EmitEventAsync" function is, we recommend only calle t

[2020-11-12 18:04] cxbuilders commented on #4817
@boydc2014 thanks for that. I now have simply reversed the order and it seems stable. Can you confirm that the order is always just reversed as I could  work with that.

[2020-11-12 18:48] LouisEugeneMSFT commented on #4878
@chrimc62, this would be about grouping the functions of the adaptive expressions language (eg: add, max, min -> Math, length, split -> String, etc..). My understanding is that the uiSchema helps with customizing the ui for the different components already present in the main sdkSchema ("Microsoft.Ask", "Microsoft.AttachmentInput", etc.. ). Could you explain a bit more how you think grouping funct

[2020-11-12 19:04] jwiley84 commented on #4927
Hi @dejancg

I'm able to partially reproduce this:
![image](https://user-images.githubusercontent.com/17333688/98983895-50ac4300-24d6-11eb-9ae4-8c2b0f462681.png)

that being said, I say partial because I'm not getting the card because I believe my token request is malformed somehow. I am running my bot via command-line and I'm getting the following error:
![image](https://user-images.githubusercon

[2020-11-12 20:03] dejancg commented on #4927
I haven't observed this error. Also, I see your `AdapterWithErrorHandler` is catching an exception. There was no such exception on my side. Instead, the bot would've just entered an invalid state where any subsequent request from the same user would just fail.

I don't think this is because the teams auth sample is expecting AAD v2 provider. The generic Oauth2 provider works fine when I login from

[2020-11-12 20:11] jwiley84 commented on #4927
In that case, I am unable to repro your issue.  This is using 4.10.3. The signin card you see at the top of my screen shot IS the sign in card from the Generic Auth 2 setup, using Twitch.tv as my generic provider. I was able to sign in, though I ran into my blocker after signing in.

I dislike being the "have you turned it off and on again" person, but possibly something is wrong with the teams ap

[2020-11-12 20:59] dejancg commented on #4927
Bot Framework reminds me of Windows 95, where if you would eject the CD while it's playing audio, you would get a BSOD.

You were probably using the emulator, since you are getting these messages? I will try with the emulator too and see if there is any helpful information. I don't see what could possibly be wrong with the bot channels registration, since the entire sign in process works fine when

[2020-11-12 21:05] jwiley84 commented on #4927
No. It would have been rather silly of me to try to repro a teams issue on emulator as they behave differently. That being said: I used the Teams Auth Sample (https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/46.teams-auth) and the Teams channel. Let me attempt a repro using your code and let you know what I get.

[2020-11-12 22:03] dejancg commented on #4927
Here is the output from VS, if it can be of any help:
[code]
It seems it finishes the request with status code 200. Is there a way to inspect the response?

[2020-11-12 22:06] v-kydela commented on #4926
Thank you for the report, @gabemilani

I'm having trouble following your repro steps. Could you provide a bit more information about how to reproduce the problem? What is a `StaticSelectElement`?

[2020-11-12 22:54] dejancg commented on #4927
@jwiley84 I have new information. OAuthPrompt works with 4.10 and Generic Oauth2 provider using Github app info.
This means I have to update the repro steps - you need to set up an instance of Identity Server and use that info in Generic Oauth2 provider to reproduce this issue.

However, here is an interesting thing - I switched to "4.8" branch of BotBuilder-Samples and OAuthPrompt works fine ther

[2020-11-12 23:18] v-kydela commented on #2449
Here's a real-world example of a prompt being resumed: https://stackoverflow.com/questions/64765378/textprompt-reprompts-after-interruption

[2020-11-12 23:30] dejancg commented on #4927
@jwiley84 it seems I made a mistake when configuring the Generic Oauth2 provider after all. BotBuilder 4.10 is probably using the **Token Exchange URL** which wasn't used by the previous BotBuilder versions. The problem was that I wrongfully set the value of **Token Exchange URL** to the token endpoint URL, where it had to be left blank. When I cleared the value, since it's an optional field, the

[2020-11-12 23:30] #4927 closed

[2020-11-13 05:17] Danieladu opened #4965 "Surface LG CacheScope out in LG file options for Composer"
### Context
During the perf investigation for Meeting Assistant, to help get the best performance, we developed (
https://github.com/microsoft/botbuilder-dotnet/pull/4602) a new and more aggressive cache policy called scope = global, in which we will try to cache as much evaluation result as possible.

So current there are three LG cache scopes(global/local/none) can be chose when calling LG evalu

[2020-11-13 15:19] tracyboehrer opened #4967 "Add Runtime package"
Move Adaptive Runtime package to Dotnet, including tests.

[2020-11-13 21:46] tsuwandy opened #4969 "Description for ModelPath and SnapshotPath in OrchestratorRecognizer and OrchestratorAdaptiveRecognizer need some clarification"

[2020-11-16 06:42] EricDahlvang commented on #4958
Fixed

[2020-11-16 06:42] #4958 closed

[2020-11-16 09:23] hhasenauer commented on #4566
Hello again! I have updated to 4.11.0 and I am still getting the same error.

`
      StackTrace
System.ArgumentOutOfRangeException: Index and length must refer to a location within the string. (Parameter 'length')
   at System.String.Substring(Int32 startIndex, Int32 length)
   at Microsoft.Bot.Builder.AI.Luis.LuisUtil.ExtractEntityMetadata(EntityModel entity, String utterance)
   at Microsoft.Bo

[2020-11-16 09:26] cxbuilders opened #4983 "Change locale during runtime"
Just wanted to implement a second language to a bot and to my surprise it is not possible to change the locale at runtime. In this bot we define the locale based on fields we receive from the web client  and allow the user to change their locale in the bot when they prefer to talk in a different language.

Other typical use case is to set the locale based on the locale settings of the users mailbo

[2020-11-16 16:29] EricDahlvang opened #4976 "Adaptive: Prompt from ConversationUpdate"
## Version
latest

## Describe the bug
Adding a prompt to a ConversationUpdate results in a null reference exception when the user's response is received.

## To Reproduce
Steps to reproduce the behavior:
1. Create a new Echo bot with Composer
2. Add a choice prompt in place of the welcome message, responding with the user's choice after they have chosen
3. Start the bot and communicate with it fr

[2020-11-16 18:56] #4969 closed

[2020-11-16 19:58] Anshul21 commented on #4920
@mrivera-ms any update on this?

[2020-11-17 02:36] EricDahlvang commented on #3490
This is partly addressed here:

https://github.com/microsoft/botbuilder-dotnet/pull/4972

how to use this should probably be documented.

[2020-11-17 13:47] gabemilani commented on #4926
Hello @v-kydela
The `StaticSelectElement` is a class from the dependency library `SlackAPI`. Here you can find more information about it: https://api.slack.com/reference/block-kit/block-elements#static_select
Whenever I use this and select an option the `SlackAdapter` throws an exception while trying to process the request.

[2020-11-17 19:01] v-kydela commented on #4926
@gabemilani - Thank you for the link. I've found the source code [here](https://github.com/Inumedia/SlackAPI/blob/master/SlackAPI/Block.cs#L123-L132), but can you elaborate a bit more by showing a code example of an actual static select element and how you're posting it to Slack?

[2020-11-17 19:20] johnataylor commented on #4960
@garypretty any update on this?

[2020-11-17 19:24] johnataylor commented on #4948
This fix should be in the next release 4.12 this is currently targeted for next Feb

[2020-11-17 21:11] v-kydela opened #4981 "PORT: Fix locale determination in confirm/choice prompts/inputs"
Port https://github.com/microsoft/botbuilder-js/pull/2534 to .NET

[2020-11-17 21:26] v-kydela commented on #4981
Note: this fix is important for Composer because the problem is resulting in issues like these:

- https://github.com/microsoft/BotFramework-Composer/issues/4094
- https://github.com/microsoft/BotFramework-Composer/issues/4817

[2020-11-17 21:43] v-kydela commented on #4910
I have reproduced the issue with Slack, Telegram, and LINE. This seems to be based on some internal configurations I don't have access to, so I will assign @bwamie to investigate.

[2020-11-17 21:58] dmvtech opened #4988 "When using the Log to Console action, using an expression only outputs that as literal text"
## Describe the bug

Not sure if this is an issue with the SDK or Composer, so starting here.

If you use the `Log to Console` action, then set the Text property to an expression, it doesn't ever evaluate the expression. Additionally, when clicking into the Text field, it prompts/suggests that you can use an expression.

![image](https://user-images.githubusercontent.com/43397658/99454449-483f7800

[2020-11-17 22:23] #4894 closed

[2020-11-18 02:14] Danieladu commented on #4871
@jamesemann  Is there any update on the test?

[2020-11-18 06:21] boydc2014 commented on #4180
@chrimc62 do you think we are ready to take this and the corresponding changes to resourceExplorer and lu (maybe qna as well).

[2020-11-18 14:56] jamesemann commented on #4871
@Danieladu not yet - will update today or tomorrow

[2020-11-18 17:12] mrivera-ms commented on #4956
@johnataylor this was reviewed by the team and is being flagged as needing further discussion.

[2020-11-18 17:27] johnataylor commented on #4922
The OauthPrompt needs refactoring so it doesn't depend on IExtendedUserTokenProvider which is a design we won't be taking forward. This work, along with the adapter level logic is being tracked with https://github.com/microsoft/botbuilder-dotnet/issues/4851

[2020-11-18 17:27] #4922 closed

[2020-11-18 18:00] #4976 closed

[2020-11-18 18:24] #4948 closed

[2020-11-18 18:27] #4342 closed

[2020-11-18 19:08] chrimc62 commented on #4180
I've had on my list for a while to write-up a proposal and I would love to solve this all-up.

Being able to add "override" to be able to replace an included LG template would be useful.  We don't need the inherit thing because we need to solve the naming problem all-up.  For LU/QnA being able to add to or replace the definition would also be useful.  To solve the naming problem:
1) Modify the res

[2020-11-18 19:18] johnataylor commented on #4960
@cwhitten can you comment on this?

[2020-11-18 19:20] JonathanFingold commented on #4924
Tracking in [bot-docs PR 1954](https://github.com/MicrosoftDocs/bot-docs/issues/1954), assigned to @mmiele.

[2020-11-19 01:58] mrivera-ms commented on #4378
@garypretty, could you please take a look and prioritize this item? Should we consider this for R12?

[2020-11-19 02:02] #4442 closed

[2020-11-19 06:11] mindncz commented on #3161
Do you have any plan to fix it?

[2020-11-19 11:36] garypretty commented on #3569
@mrivera-ms Marked as a nice to have P2 for R12.  I haven't heard any demand for this and there is a workaround.

[2020-11-19 11:52] garypretty commented on #4378
I think it would be good to address this issue, as it has been open for a while and this certainly can be a source of frustration.  I have marked as a P2 for R12, given we don't know the size / shape of this yet and it is not higher priority that the other things we have in plan right now.

I think it would be a good start to sync with @lauren-mills to get some feedback on how the above problem su

[2020-11-19 12:55] gabemilani commented on #4926
Here is a example:
[code]
Send a post request to the following API URL https://api.slack.com/methods/chat.postMessage#arg_blocks with that blocks payload

[2020-11-19 17:54] scheyal opened #4986 "Severe slowness after little use with replace dialog"
I am using replace dialog interchangeably in a scenario (it also results with another reported issue of null reference issue microsoft/BotFramework-Composer#4816).
After little use the bot slows that significantly. I suspect it is in the SDK foundation but since manifested in Composer filed here first.

# Repro
1. Setup Topdialog, child dialog A, child dialog B
2. On prompt child dialog A replaces

[2020-11-19 19:05] gabemilani commented on #4926
Now it's happening with `ButtonElement` too.
A quick fix is to change the property `state` from the `InteractionPayload` class to an `object` instead of a `string`.

[2020-11-19 19:11] johnataylor commented on #4983
@boydc2014 could you link this to the appropriate work items, thanks?

[2020-11-19 21:02] scheyal commented on #4986
## Video of repro ([link](https://microsoft-my.sharepoint-df.com/:v:/p/eyals/EQ_0wpiuipBEiSHpbG7g5h4BSEBoI6sXAQ56wJUNA6cgzQ?e=KSP8IV))
* Start showing the slowness after a bit of use (I suspect it has nothing to do with replace dialog)
* run a few turns of utterance/response, switch between LUIS/orchestrator to show that it has nothing to do with LU
* Restart conversation
* Show that it starts fas

[2020-11-19 21:29] tdurnford commented on #4988
Transferring to the dotnet repo so they can triage appropriately.

[2020-11-19 21:39] v-kydela commented on #4926
@gabemilani - I have reproduced the error and I'm working on a fix

[2020-11-20 01:01] Stevenic opened #4991 "Adaptive: Can't serialize an InvokeResponse using LG"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version

4.11.1

## Describe the bug

I'm trying to implement a Teams Messaging Extension using Composer and need to return an InvokeResponse when my extension is in

[2020-11-20 01:23] EricDahlvang commented on #4991
We could update the adapter:

from:
[code]

to:
[code]

[2020-11-20 01:35] Stevenic commented on #4991
That looks reasonable

[2020-11-20 08:25] xieofxie commented on #4983
Related https://github.com/microsoft/botbuilder-dotnet/issues/3993

[2020-11-20 11:55] garypretty commented on #4986
Adding comments here that I shared with @scheyal offline that might help.  Given the scenario that @scheyal shared with me, it is conceivable that, after a few minutes, you could end up with a significant number of nested dialogs which might explain the slowness?  Just a theory.

You probably want to update the scenario and retest using the following points.

From my initial glance over the patter

[2020-11-20 13:08] gabemilani commented on #4926
That's great! Would you know a prediction of when this will be released?
Let me know if I can help with anything else. Thanks for your work @v-kydela !

[2020-11-20 15:05] denscollo commented on #4920
Hi @Anshul21 ,

We followed the steps but we couldn't reproduce this issue.
We added a dialog flow to the sample and included a block kit step in the middle, but clicking the buttons didn't interrupt the dialog, and we couldn't identify any event_callback when sending messages/attachments.

Could you share with us the code you are having the issue with?

Another thing that might be causing this, c

[2020-11-20 16:20] #4022 closed

[2020-11-20 17:28] v-kydela commented on #4926
@gabemilani - The PR is awaiting a code owner review

[2020-11-20 18:28] Zerryth opened #4992 "Backport BotFrameworkHttpAdapter and BotFrameworkHttpAdapterBase ctor with AuthenticationConfiguration param"
[BACKPORT]
Allow `AuthenticationConfiguration` as a parameter to `BotFrameworkHttpAdapter` and `BotFrameworkHttpAdapterBase` in botbuilder-dotnet 4.6

[2020-11-20 19:02] cwhitten commented on #4960
We should take this as a feature-request to wire up the oauth fields into the lg subsystem. The team will look to prioritize this in an upcoming release.

[2020-11-20 19:20] garypretty commented on #4960
Sorry I missed this one. I agree with @cwhitten, this would be a good one to prioritise.

[2020-11-20 19:22] #4926 closed

[2020-11-20 19:25] tomlm commented on #4991
I originally thought the adapter as well, but that means every adapter has to handle this (and many don't, such as the many variations of adapters which are in our unit tests.) Instead I opted to fix this as part of the LG ActivityFactory implementation, as this is really a problem with the typeless environment of LG, and not the adapter itself.

[2020-11-20 19:28] dmvtech commented on #4801
Hi @atifgk Sorry for the delay. I'll have an update for you by end of day.

[2020-11-20 22:30] #4918 closed

[2020-11-20 22:30] #4991 closed

[2020-11-20 23:43] Anshul21 commented on #4920
hi @denscollo  Thanks for looking into this, i am the lead engineer at LinkedIn's employee productivity team, we can setup some time next week and i can walk you through the code and the app set-up. Feel free to ping me on teams ( ansharma <at> linkedin dot com> and we can set up a meeting

Thanks
Anshul

[2020-11-21 02:16] dmvtech commented on #4801
Still working on it unfortunately. Will continue and update next week.

[2020-11-22 03:54] EricDahlvang commented on #4862
An example of a DoWhile can be found here:
https://github.com/EricDahlvang/AdaptiveDoWhile/blob/main/README.md

However, i did not see a way to add this to Composer without forking the repository: https://github.com/EricDahlvang/BotFramework-Composer/pull/3

[2020-11-22 07:02] gabog opened #4999 "DialogManager does not return EoC code when a dialog ends"
## Version
4.11.1.

## Describe the bug
In waterfall dialog, the RunAsync extension method evaluates the result from the dialog and sets the Code property in the Eoc activity being sent back [see DialogExtensions.RunAsunc](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs/DialogExtensions.cs#L84).

Dialog manager doesn't set the code (see [DialogManag

[2020-11-22 08:26] cxbuilders commented on #4862
@EricDahlvang That looks really cool. Changing the SDK for a production bot is indeed not something we can do, for obvious reasons. The Do While loop seems like a action that would be a nice addition to standard Composer though.

Having the ability to define custom actions with more complex structures like looping / branching would be a great addition. I will create a new feature request for that.

[2020-11-22 08:48] cxbuilders opened #5000 "Menu Component"
In a typical bot I have lots of instances of the following;
![image](https://user-images.githubusercontent.com/49873947/99898919-a25a8780-2ca5-11eb-866d-d630e6bd3421.png)

Having the ability to create a custom Menu action for this that allows to define;
- style (buttons, suggestedActions),
- menuOptions [text, name, type (url, post), data]

The having a built in EndTurn & Switch on teh defined  me

[2020-11-22 08:55] cxbuilders opened #5001 "Combined Url / Messageback CardAction"
Currently when using an URL CardAction in an activity the bot does not know when the user clicked this link. However often a follow up activity is required when user clicks the link to inform them when they return, ask if it was helpful etc.

To overcome this I typically change the initial action to a post button and then display the link with additional information, which is more code and also it

[2020-11-22 09:45] EricDahlvang commented on #4862
It might be good if iterative types were defined in the schema. Composer ui is currently hard coding these menu types:

[code]

[2020-11-22 10:28] cxbuilders commented on #5000
Sorry, this is in the wrong project, can this be moved to the Composer Project?

[2020-11-22 17:30] cwhitten commented on #4862
@EricDahlvang what do you mean by hard-coding? your example is all declarative..

the uischema exists for these scenarios, and if you wanted to bring your own UI widget that wasn't the `ForeachWidget`, you could

cc @cxbuilders

[2020-11-23 00:56] atifgk commented on #4801
@dmvtech thanks

[2020-11-23 05:18] EricDahlvang commented on #4862
@cwhitten sorry if i'm not understanding how to best integrate a new iterative adaptive structure.  I'm not entirely sure we want a DoWhile in the sdk by default. If we do, it is easy to add.  I'm mostly curious how to best extend composer with a new iterative structure? How can this be accomplished with new custom actions?  (is there some documentation which explains how to do this?)  I don't a n

[2020-11-23 15:32] goergenj opened #5071 "[MCS-DE-GO] Unknown Intent not triggering in Prompt Actions (Ask a question)"
Whenever we set any Prompt Action with "allow interruptions" the triggers of the dialogs which have benn confirguren work except the "Unknown Intent" trigger.

Please enable that also the "Unknown Intent" triggers an interruption.

@joaollq @goergenj @sgellock @benbrown @bindsi

[2020-11-24 02:14] mrivera-ms commented on #4346
This was implemented here:  https://github.com/microsoft/botbuilder-dotnet/pull/4446. The option is called `StrictFiltersJoinOperator`.

[2020-11-24 02:14] #4346 closed

[2020-11-24 07:08] cosmicshuai opened #5003 "Remove offset in default format of convertFromUtc pre-built function"
In WDL, convertFromUtc does not contain offset in the result. [Link to WDL](https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#convertFromUtc)
I think we should also remove this offset in our Adaptive-Expressions pre-built function.

Reference: https://github.com/MicrosoftDocs/bot-docs/issues/1927

[2020-11-24 19:14] axelsrz commented on #5001
@garypretty could you provide some input or direct this to correct person? Thanks.

[2020-11-24 19:40] EricDahlvang commented on #5001
This would be a protocol level DCR, since it would require returning a redirect status code (307).

However, this can currently be accomplished with a redirect controller, and passing the actual url as a parameter.  Here is a relatively simple example: https://github.com/EricDahlvang/OpenUrlRedirectBot  This is using an adaptive card, but could be used for CardAction urls also.

[2020-11-24 19:44] denscollo commented on #4920
Hi @Anshul21 , we'll be sending you an email to set up a meeting and review this. Thanks!

[2020-11-24 23:42] scheyal commented on #4986
@garypretty  - this is irrelevant to the scenario as far as I can tell. Also, I tried all these variations with BeginDialog (there's no RestartDialog) and it didn't work.

[2020-11-25 19:34] #4934 closed

[2020-11-26 04:29] Stevenic opened #5005 "Teams Issue: Teams sends the same invoke activity multiple times"
## Describe the bug

I'm trying to debug a message extension and what I'm finding is that anytime I set a breakpoint during an invoke call, Teams will attempt to re-deliver the same invoke activity multiple times.  This is just plain bad...  You should NEVER send the same activity more than once as it could cause any number of duplicate storage entries to be created by the bot.  The 501's in the b

[2020-11-26 04:40] Stevenic commented on #5005
A little more data... At looking at the requests sent the bot gets 2 invokes with the same exact timestamp & id and then it will get 2 more with a new timestamp and id.  The timestamps are about 30 seconds apart which makes me think there are two separate levels of retry going on here.  First is sends an activity then tries again after a 15 second time out. When the second send timesout it fails t

[2020-11-26 15:31] EricDahlvang commented on #5005
This seems like a bug in the Teams service itself.  Particularly, if a bot returns a 501, there should be no retries.

[2020-11-27 12:11] goergenj opened #5008 "[MCS-DE-GO] User Input TurnCount should not increase on Interruption"
When a user input is requested, there should be an option to define whether an interruption will trigger the turnCount to increase or not or an option to reset the turnCount in a flow.

@joaollq @goergenj @sgellock @benbrown @Bindsi @cwhitten  @garypretty

[2020-11-27 15:29] cxbuilders opened #5007 "Bot throws error when new version has been deployed"
In existing conversations with bots, when a new version of the bot is deployed an error is thrown when the user continues the conversation.

![image](https://user-images.githubusercontent.com/49873947/100464224-86078200-30cd-11eb-8764-3eef5147076c.png)

When this situation happens the bot should have a failback, as uploading a new version is part of continuous improvement and conversations can be

[2020-11-29 13:28] dinirichard opened #5006 "Invalid URI: The format of the URI could not be determined."
### The error originates from the await ConversationState.SaveChangesAsync(turnContext, false, cancellationToken); inside the Startup.cs

`adapter.OnTurnError = async (turnContext, exception) =>
            {
                await turnContext.SendActivityAsync(exception.Message).ConfigureAwait(false);
                await conversationState.ClearStateAsync(turnContext).ConfigureAwait(false);

[2020-11-30 09:24] boydc2014 opened #5009 "New "SmartIntepolation" expression property"
## Context
This feature request is capturing the requirement from AdaptiveCard team's templating library, which depends on adaptiveExpression.

### Original Requirement
The expected user experience in AdaptiveCard templating library is
* when user input is a simple variable, like `${name}` or `${age}`, it should evaluate as a single variable and the return type is the variable type (int\float\stri

[2020-11-30 09:26] boydc2014 commented on #5009
cc @chrimc62 @tomlm

[2020-11-30 21:57] GeoffCoxMSFT opened #5012 "OnChooseEntity .uischema is missing from SDK"
## Version
main branch on 11/30/2020

## Describe the bug
Almost all components that contains an actions array in the SDK schema needs to have a .uischema that hides the actions from the property pane.

For example, OnChooseIntent.uischema has:

[code]

This is missing from OnChooseEntity and needs to be added.  Once this is done, then the .uischema in Composer needs to be updated to match.

## To

[2020-11-30 21:58] GeoffCoxMSFT commented on #5012
@LouisEugeneMSFT , @cwhitten - This was found as part of Louis's investigation of #4947

[2020-11-30 22:22] dmvtech commented on #5007
Hi @cxbuilders Can you give more info on exactly what are you updating to a new version? Is this just the .dialog/.lu files? Or the runtime (or perhaps just the botbuilder SDK version inside your runtime)?

[2020-11-30 23:14] cxbuilders commented on #5007
@dmvtech only dialog changes

[2020-12-01 01:38] #4981 closed

[2020-12-01 11:43] Robulane opened #5014 "AppInsights: TopIntentScore dimension is not properly logged"
## Version
4.11.0

## Describe the bug
BBF logs the `"TopIntentScore"` dimension in AppInsights. However, this dimension is not properly logged. Instead of logging the **value**, the *class name* is logged.

Example of customDimensions for `"RecognizerSetResult"` event:

{"conversationId":"0a9d58c0-3301-11eb-bf90-2102e829151f\|livechat","activityType":"message","channelId":"emulator","activityId":

[2020-12-01 11:51] Robulane opened #5015 "AppInsights: PII is logged even if logPersonalInformation is false"
## Version
4.11.0

## Describe the bug
BBF always logs the user's text.

## To Reproduce
1. Have bot with AppInsights integration. Configure the bot to not log the user's personal information as per doc https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0&tabs=csharp.
2. Talk to the bot
3. Look into any event that logs the Recognizer telemetry, e.g. V

[2020-12-01 11:55] Robulane opened #5016 "Performance improvement: don't copy the entire Activity in JObject"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.0

## Describe the bug
TelemetryInitializerMiddleware stores the entire activity in the HttpContext. This increases memory pressure and decreases perfor

[2020-12-01 17:56] tonyanziano commented on #4983
@xieofxie  / @cosmicshuai could you please provide an update?

[2020-12-01 18:23] v-kydela commented on #5006
Thank you for the report, @dinirichard

It looks like you're using Cosmos DB. Is that correct?

It seems that your Cosmos DB endpoint is not formatted correctly. Perhaps you forgot to include the `https://` at the beginning. Can you verify that your Cosmos DB endpoint is correct?

[Here](https://docs.microsoft.com/en-us/dotnet/api/system.uri.-ctor?view=net-5.0#System_Uri__ctor_System_String_) you

[2020-12-01 19:11] #5003 closed

[2020-12-01 22:59] scheyal commented on #4708
(added so this doesn't get lost)

[2020-12-02 01:07] stevengum commented on #5015
This needs to be evaluated across all language implementations to ensure the text is not logged.

[2020-12-02 02:04] cosmicshuai commented on #4983
@tonyanziano Hi Tony, currently I am working on this issue.
I will publish a draft pr this week.

[2020-12-02 07:24] boydc2014 commented on #4817
At current implementation, it is. But i can't really say it's guaranteed.

The alternative suggested above, using multiple `EmitEvent` actions, outside the customized action, is a guaranteed behavior.

[2020-12-02 21:15] #4965 closed

[2020-12-02 21:53] #5012 closed

[2020-12-03 01:28] dmvtech commented on #5007
I was able to reproduce easily.

Just by changing:
[code]
[code]

To:
[code]
[code]

[code]

@hcyang Can I get your input here?

[2020-12-03 13:33] Robulane opened #5020 "Use constants for Telemetry events"
## Version
4.11.0

## Describe the bug
BBF doesn't have the constants for events like "RecognizerSetResult", "ValueRecognizerResult", "RegexRecognizerResult", "AdaptiveDialogAction", etc.

Can we centralize all telemetry constants in one file? The following file already has some constants:
https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/TelemetryLoggerConst

[2020-12-03 16:27] feich-ms opened #5021 "Cycle detection failed when resourceExplorer LoadType function use AdaptiveDialog as the type"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
When use resourceExplorer.LoadType function to load the adaptive dialogs that has dialog call loop in it, the cycle detection fun

[2020-12-03 17:39] cxbuilders opened #5022 "formatDateTime not allowed with extra locale settings"
In the [adaptive expressions documentation](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#formatDateTime) it shows that formatDateTime can accept an additional locale parameter:
![image](https://user-images.githubusercontent.com/49873947/100988865-787c4d00-3550-11eb-8786-1a8d8a1b36ca.png)

The validation i

[2020-12-03 17:57] cwhitten commented on #5021
cc @EricDahlvang

[2020-12-03 17:59] #4992 closed

[2020-12-03 18:18] Robulane opened #5023 "Include "activityType" dimension in BotMessageSend event in TelemetryLoggerMiddleware"
**Is your feature request related to a problem? Please describe.**
It's impossible to determine what activity is sending the response to the user in AppInsights because
BotMessageSend event doesn't have ActivityType property.

**Describe the solution you'd like**
Add activityType property in BotMessageSend event in TelemetryLoggerMiddleware.

[2020-12-03 20:18] stevengum commented on #5009
@boydc2014 when you implement this in C# can you tag @joshgummersall and myself to have a chance to review? Thanks for putting this proposal together!

[2020-12-04 01:06] cosmicshuai commented on #5022
I know the reason why this happened. There is gap between the implementation of locale support between javascript and dotnet. I will add locale support for datetime functions in botbuulder-js.

[2020-12-04 01:44] jlenon opened #5026 "BotBuilder 4.11.1 NullReferenceException when using .Net Framework and WebAPI"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
When using the WebAPI (.NET Framework) CoreBot sample with the Bot Emulator you get a null reference exception

## To Reproduce
R

[2020-12-04 17:36] chrimc62 commented on #5009
I much prefer an explicit function, i.e. stringOrValue('${2+3}') -> 5 and stringOrValue('woof is ${3+5}') would produce 'woof is 8'.  This makes this functionality available everywhere in expressions.  The implementation would be what Adaptive cards already do, i.e. treat as interpolated string and if a single child return that.

[2020-12-04 20:03] dinirichard commented on #5006
Thanks a lot @v-kydela,

That was the exact solution.

[2020-12-04 23:40] mrivera-ms commented on #4514
@cwhitten, is the motivation to overwrite the title fields (`"title": "Delete Activity"` and `"title": "Send an activity"`) in **Microsoft.DeleteActivity.schema** and **Microsoft.UpdateActivity.schema** or do you need to have uischemas for other changes? Would changing the title to match `"Update an activity"` and `"Delete activity"` be enough?

[2020-12-04 23:55] #4755 closed

[2020-12-05 00:29] v-kydela commented on #5006
Glad to hear it

[2020-12-05 00:29] #5006 closed

[2020-12-05 04:47] Zerryth commented on #5015
Thanks for reporting! I'll start working on this next week after the weekend!

[2020-12-05 06:44] mrivera-ms commented on #4988
@tdurnford, @dmvtech, this behavior is by design. The Text field of LogAction is meant to take a string or an LG expression: [LogAction.](https://github.com/microsoft/botbuilder-dotnet/blob/c7874ebd64fd6f910ea543a47f66adcbc431228d/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/LogAction.cs#L30)

We can improve the description of the text field in the schema, but the sample expression bel

[2020-12-05 14:01] cxbuilders commented on #5001
@EricDahlvang Thanks for the update. This would be a nice and useful addition to the CardActions. Having a custom redirect controller is not really worth it for us with the change of Urls, changing Teams allowed domains etc, customizing the Composer WebApp just for this etc..

[2020-12-05 14:36] cxbuilders commented on #4862
@cwhitten Hey Chris, do I understand correctly that creating Custom Actions with nested loops / branches is already possible, without customizing Composer?

Having a Do While would still be valuable I believe in Composer (also saw this one: #4761) , however if there is some kind of example on how to implement a Do While Loop (without forking Composer), this would allow me to create a Custom One my

[2020-12-05 14:54] EricDahlvang commented on #5026
This looks related to https://github.com/microsoft/botbuilder-dotnet/issues/4867

If you ignore the exception, and continue execution, does the bot function as expected?

[2020-12-05 18:43] hcyang commented on #4801
@dmvtech, any update?

[2020-12-06 02:20] jlenon commented on #5026
Yes - ignoring the exception causes the bot to function as expected.

[2020-12-07 09:04] boydc2014 commented on #5009
Sure, this is still a DCR now, and you can see Chris on below is suggesting a new function instead of a new ExpressioProperty.

The pro of a new function is very light-weight, simple and easy, with minimal maintenance effort and get this feature widely available. The cons is we have very little space for caching, perf-tune or some reusability.

The pro of an ExpressionProperty is the reverse of a

[2020-12-07 09:10] boydc2014 commented on #4871
ping @jamesemann  ~

[2020-12-07 09:16] jamesemann commented on #4871
Apologies @boydc2014 I have not been able to try the fix yet. Will prioritize and report back

[2020-12-07 14:55] tdurnford commented on #4988
@mrivera-ms  In the SDK Schema, `Microsoft.LogActions`'s `text` property is a string expression. Shouldn't it take a string or an expression that resolves to a string? Is there a difference between an expression and an LG expression - if so, we'd need a way to distinguish between the two in the SDK Schema?

[2020-12-07 19:18] tracyboehrer commented on #4967
Currently in branch: https://github.com/microsoft/botbuilder-dotnet/tree/trboehre/runtime

Manual daily build and push to feeds

[2020-12-07 22:39] stevengum opened #5032 "Apply Resource Group tagging to applicable DevOps pipelines"
Continuation of https://github.com/microsoft/botbuilder-dotnet/pull/5031 for other applicable pipelines.

This allows for automation around resource group management and indicates who should be contacted in case a resource group persists when it shouldn't.

Port to .NET of https://github.com/microsoft/botbuilder-js/pull/3131

[2020-12-08 04:34] mrivera-ms commented on #4988
@tdurnford, yes the schema needs to be changed. I will submit a PR with the correction.

[2020-12-08 10:18] garypretty commented on #5016
@Robulane do you have a clear picture of what the performance impact here?

I don't believe we can / should change this.  I think we would risk breaking people who have overridden parts of the telemetry pipeline and are existing the full object to be there.

@Robulane I think the right approach would potentially be for you to override the appropriate parts of the pipeline and just store what you n

[2020-12-08 10:23] garypretty commented on #5015
@Zerryth FYI - the LUIS adaptive recognizer already does this.. We have a method for logging the result which can be overridden for this purpose. See https://github.com/microsoft/botbuilder-dotnet/blob/3af7b7b53255b9327de24dcb994dbc7a64bc1725/libraries/Microsoft.Bot.Builder.AI.LUIS/LuisAdaptiveRecognizer.cs#L181-L230

[2020-12-08 17:34] darrenj opened #5033 "Turn state not transient across turns?"
## Describe the bug

A common scenario for bot developers is that of providing a menu to users, when a conversation starts a menu of options is provided to guide the user. Once an option is chosen a child dialog is "begun" and when this terminates you repeat the parent (menu dialog)

Given the turn nature of this, leveraging _turn_ state for the menu choice (ChoiceInput) makes sense as this to my

[2020-12-08 18:47] clearab opened #5034 "Null reference exception in Visual Studio 2019 16.9.0 preview 1"
Original post from customer: https://developercommunity2.visualstudio.com/t/Bot-Framework-applications-crashed-with-/1277821

Summary:
" [severity:I’m unable to use this version] [regression] [worked-in:16.8.2]
Getting “NullReferenceException” from the PostAsync action in the BotController.cs for all projects created with Bot Templates in .Net Core 3.1. This only happened right after the updates o

[2020-12-08 19:45] sibbl opened #5035 "TranscriptLoggerMiddleware sets Activity.From role as property instead using of Role field"
## Version
4.11.1

## Describe the bug
When sending an activity from a non-user to `IBot`, the `TranscriptLoggerMiddleware` sets a property `role` to `user` if it wasn't present before, see https://github.com/microsoft/botbuilder-dotnet/blob/4.11/libraries/Microsoft.Bot.Builder/TranscriptLoggerMiddleware.cs#L50-L53

This results in invalid JSON when the activity is serialized to JSON. See screensh

[2020-12-08 19:59] garypretty commented on #4936
@EricDahlvang @mrivera-ms Marking this one as a P2 (nice to have) for R12.  Minimally it would be good to understand what is needed to allow customers to define a custom memory scope so that we can document the process.

[2020-12-08 20:21] Zerryth commented on #5015
@Robulane I'm having issues reproducing what you experienced--maybe it's specific to `ValueRecognizerResult`--is this adaptive? Maybe adaptive issue...
___

However I just grabbed sample [21.corebot-app-insights](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/21.corebot-app-insights), and didn't see any PII logged with default setup.
<details>
    <summary>LogP

[2020-12-08 20:34] Robulane commented on #5015
@Zerryth, yes, TelemetryLoggerMiddleware handles PII as expected. This bug is about the fact that there other places in BBF that log PII data. Examples that I found:

1. All recognizer results (ValueRecognizerResult, RegexRecognizerResult, RecognizerSetResult, etc.)
2. GeneratorResult can log text that may contain PII data in "text" field

[2020-12-08 23:30] EricDahlvang commented on #5034
This looks related to https://github.com/microsoft/botbuilder-dotnet/issues/4867

and can safely be ignored.

[2020-12-08 23:33] EricDahlvang commented on #5005
@clearab  this looks like a Teams service issue.  Unassigning myself, as there is nothing for the sdk team to do here.

[2020-12-09 07:59] Danieladu commented on #4499
It's `turn.lastresult.id` actually.

The `turn.lastresult` would record the previous one result. If the last action is SendActivity, the lastresult is the Activity.
So, the id of last acticity is `turn.lastresult.id`

[2020-12-09 11:11] garypretty commented on #4862
I believe our current position for the Do While Loop is that we do not intend to add this to the SDK.  However, @EricDahlvang and I discussed the possibility of adding such an action to the Community repo.  However, @EricDahlvang it looks like you have hit a blocker for creating such an action without making changes to Composer.  Can you clarify the issue here and maybe @cwhitten can help?

[2020-12-09 11:12] garypretty commented on #4928
Labelled with backlog so that we can consider this in future milestone planning.

[2020-12-09 12:53] sebnema commented on #4867
After I upgraded VS2019 Version 16.8.2 and .NetCore3.1 version, I started seeing this error. What I actually recognized is the error was related to Microsoft.Rest.ServiceClient and even earlier versions was giving the error. But somehow suppressed.
I dig into the reason for couple of days. Here is what I found.

Null reference error is thrown on AddUserAgentEntry method in Microsoft.Rest.ServiceCl

[2020-12-09 14:24] feich-ms commented on #4821
This `AdaptiveDialog` id only applies to the root dialog which is not referenced by other dialogs. All child dialogs are using resouce id as dialog id. So this is not a huge impact issue. We will take a fix soon.

[2020-12-09 16:34] EricDahlvang commented on #4862
@cwhitten can you help here please?  I do not know how to do this.

[2020-12-09 17:15] EricDahlvang commented on #4867
Hi @sebnema

I'm sorry you've spent time investigating this.  The root cause is a known issue.  You are correct, that the problem is in ServiceClient and has been present for years now.  They are apprehensive to take a fix at this level of the core product: https://github.com/Azure/azure-sdk-for-net/pull/16252

The reason the Bot Builder sdk has not had this issue until 4.11.0 is because we were n

[2020-12-09 18:43] tsuwandy opened #5037 "Orchestrator core package needs to support MacOS 10.15"
Composer failed to start on MacOS 10.15.  Latest version of orchestrator-core fixes the issue.

[2020-12-09 19:11] sebnema commented on #4867
Thanks @EricDahlvang.

[2020-12-09 20:54] EricDahlvang commented on #5035
Thank you for raising this @sibbl

Your suggestion seems valid, and we should probably move this code into CloneActivity:
[code]

[2020-12-09 22:10] Zerryth commented on #5015
Gotcha. I see what you mean now, testing out with `RegexRecognizerResult`. No bueno.
![image](https://user-images.githubusercontent.com/35248895/101694534-16c45300-3a28-11eb-8391-7402b7d47b58.png)

[2020-12-09 23:38] cwhitten commented on #4514
@mrivera-ms I'll take this one for R12. I want to add some additional items

[2020-12-10 01:09] dmvtech commented on #4801
Hi @atifgk

Apologies for the delay. I was attempting to get something working in Azure as _well as_ with KeyVault. Unfortunately, although I have a bot running locally, I cannot get it running deployed in Azure (my lack of Function knowledge, i'm sure).

Understood. I am attempting to see if I can get it working locally with KeyVault, but essentially something based off of something like this:
ht

[2020-12-10 01:44] Stevenic opened #5040 "InputDialog increments turn count when an interruption has occured"
## Describe the bug

As identified in #1952 we're incrementing the turn count when an interruption occurs which isn't expected behavior. We should add logic [here](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs#L259) to only increment the count if `interrupted` is false.

[2020-12-10 07:37] mindncz opened #5041 "TopicName in Teams not working after setting the value in ConversationParameters"
## Version
Microsoft.Bot.Builder 4.11.1

## Describe the bug
Create a Teams channel-based conversation using TopicName property, the TopicName isn't displayed.

## To Reproduce
Use the following code to create a conversation with message in a Teams Channel. However, the topic is not shown.
            var param = new ConversationParameters()
            {
                Bot = bot,

[2020-12-10 07:55] cosmicshuai commented on #5007
Hi, @dmvtech, I am looking into this issue. Trying to reproduce it.
Can you share some information about how to reproduce this issue.
My steps:
1. Create a new bot in Composer
2. Start the bot
3. Chat with the bot in Emulator
4. Edit the dialog file and LG file in VSCode, then save the changes
5. continue to chat with the bot || restart the bot and continue to chat with the bot
However I didn't se

[2020-12-10 11:00] feich-ms commented on #4821
I did more investigations and the conclusion is that when using `LoadType<Dialog>`, the root dialog id is set to resource id correctly if dialog id is not specifying in dialog file, but when using `LoadType<AdaptiveDialog>`, the root dialog id is automatically set to the dialog type `AdaptiveDialog` somehow. I can take a fix to make `LoadType<AdaptiveDialog>` return correct dialog id, but this fix

[2020-12-10 11:05] feich-ms commented on #4821
@Robulane, currently please use `LoadType<Dialog>` rather than `LoadType<AdaptiveDialog>`. `LoadType<Dialog>` can load adaptive dialogs correctly.

[2020-12-10 16:46] nschuessler opened #5042 "NR exception when using SDK version 4.11.1"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
Given the example repro code in the .zip file attached to:
https://github.com/MicrosoftDocs/bot-docs/issues/1952

Upgrade to SDK

[2020-12-10 18:34] dmvtech commented on #5007
Hey @cosmicshuai

The thing you need to add is a persistent state store.

So something like:

1. Create a new bot in Composer
2. Set state store to something persistent like cosmosDB or blob storage (I did cosmos). Local emulator should be fine.
3. Use bot memory/state to store some values (say something like `user.favoritecolor` and `user.favoriteshape`)
4. Start the bot
5. Chat with the bot in E

[2020-12-10 18:50] EricDahlvang commented on #5042
This is a known issue in 4.11 explained here: https://github.com/microsoft/botbuilder-dotnet/issues/4867

The error can be safely ignored.

[2020-12-10 18:50] #5042 closed

[2020-12-10 19:14] #5026 closed

[2020-12-11 01:57] stevkan commented on #5041
@mindncz, there's not much info out there on using `TopicName`, however this [doc](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links#generating-a-deep-link-to-a-chat), "Generating a deep link to a chat", explains that it is an optional name for a group chat.

I decided to open the dev console and inspect the network as I updated the different names. Chat (

[2020-12-11 07:49] feich-ms opened #5043 "Add Microsoft.QnAMakerRecognizerV2 to consume qnamaker v5.0 runtime API"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Composer plans to enable [QnA v5-preview APIs](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerv5.0-preview.1/knowledgebase/generateanswer

[2020-12-11 07:55] ashokdevlabs opened #5052 "Conversation state unavailable error when adding Twilio/ Infobip service integration"
## Describe the bug

I have ejected runtime code from composer and adding Twilio adapter to path ..\runtime\azurewebapp

Then, trying to test this service

I am getting an error in Core project saying that Not able to find ConversationState:
Project : Core
File : ComposerBot
Method :

[code]

## Version

Release: 1.2.2
SDK runtime packages : 4.11.0

## Browser

- [ ] Electron distribution
- [x] Ch

[2020-12-11 19:23] mrivera-ms commented on #5040
This is a duplicate of #5008.

[2020-12-11 19:23] #5040 closed

[2020-12-11 20:36] tonyanziano commented on #4796
@dmvtech given the above video, can you comment further? Or do you need more information.

[2020-12-11 21:24] mrivera-ms commented on #4822
@JonathanFingold, please see if #5045 resolves this.

[2020-12-11 21:26] #4887 closed

[2020-12-11 22:29] #5034 closed

[2020-12-11 22:58] #4988 closed

[2020-12-11 23:30] #4310 closed

[2020-12-12 00:24] #4822 closed

[2020-12-13 11:58] peterbozso opened #5048 "Make it possible to store activity logs as transcript files in Blob Storage"
**Is your feature request related to a problem? Please describe.**

Currently, if you use the `TranscriptLoggerMiddleware` with the `BlobsTranscriptStore` implementation, the middleware will log activities to blob storage individually, creating a separate JSON file for each activity inside a folder that is named after the conversation ID. This is very strange to me, because I would expect the exac

[2020-12-14 06:37] boydc2014 commented on #4499
@Danieladu  can you take the chance to update the schema to "turn.lastresult.id" and also please check if there is any test on it.

[2020-12-14 06:48] boydc2014 commented on #5007
you should try to re-deploy the bot. Local editing in VS/VSCode won't simulate the environment, because your process is probably still the same. A re-deploy at least will create new process for it.

[2020-12-14 06:51] Danieladu commented on #4499
Here is the test:
https://github.com/microsoft/botbuilder-dotnet/blob/d5726a7d10ea9dc1b446ec23165353d6ed955f01/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_DeleteActivity.test.dialog#L17
So, the `dialog.lastActivity` is assigned manually.

[2020-12-14 14:11] jarekgoslawski opened #5049 "Microsoft.Bot.Builder.Adapters.Facebook return 400 (failure) on multiturn answer from QnA or adaptive card."
## Version
4.9.4

## Describe the bug
We use Facebook adapter in our virtual assistant build on template from MS to connect to our Workplace Integration (Workchat)

We use LUIS and QnA and Dispatcher in virtual assistant.

All works in Bot Framework Emulator (simple answer from QnA, Welcome card, multiturn answer,  etc.)
In Workchat (via Facebook Adapter) user see correct QnA answer simple answer,

[2020-12-14 17:09] joshgummersall commented on #5048
@peterbozso this is an issue that cuts across the Bot Framework SDK, so I'll transfer it there.

[2020-12-14 18:02] ankur198 opened #5051 "Setting offer throughput or autopilot on container is not supported for serverless accounts"
## Version: 4.11.1

## Describe the bug
Cosmos Serverless account cannot be configured. Throughput cannot be allocated to serverless account

## To Reproduce
Steps to reproduce the behavior:
1. Create Serverless Cosmos Account
2. follow [this guide](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp)

## Exact error
[code]

[2020-12-14 18:42] v-kydela commented on #5052
@garypretty
@tonyanziano

It looks like the dialog manager cannot successfully use the conversation ID from Twilio. This could be an SDK problem or a problem with the Twilio connector service or both. I need to escalate this issue so the appropriate people can look into it.

[2020-12-14 19:52] v-kydela commented on #5049
Thank you for the report, @jarekgoslawski

Can you tell us what Workchat is? Do you mean Workplace?

[2020-12-14 21:17] gabog commented on #4944
Closing this one as a duplicated for #4221

[2020-12-14 21:17] #4944 closed

[2020-12-14 21:21] gabog commented on #4806
Closing this one with workaround.

The proactive logic in [this project](https://github.com/microsoft/BotFramework-FunctionalTests/tree/main/Bots/DotNet/Skills/CodeFirst/WaterfallSkillBot) shows what info needs to be stored for a skill to get proactive messages to work (I will review later with @EricDahlvang to see if there's a better way of doing this)

[2020-12-14 21:21] #4806 closed

[2020-12-15 02:31] ankur198 commented on #5051
Also setting `ContainerThroughput = 0` doesnt help

[2020-12-15 08:09] mindncz commented on #5041
@stevkan Thanks for the reply. Regarding the "subject" supported in Teams channel based conversation, do you have a plan to fix or support it?

[2020-12-15 08:20] feich-ms commented on #4821
Will be fixed bu this PR https://github.com/microsoft/botbuilder-dotnet/pull/5053

[2020-12-15 08:38] jarekgoslawski commented on #5049
Yep, WorkChat aka Workplace Chat is a Messenger in Workplace world

[2020-12-15 08:44] clearab commented on #5041
Both operations, setting the subject of a message in a channel or the name of a group chat, are unsupported in Teams. Setting the subject of a message is on the Teams groups backlog, but doesn't currently have an ETA. Setting the name of a group chat will not be supported.

[2020-12-15 08:44] #5041 closed

[2020-12-15 19:12] taicchoumsft commented on #5051
Could you see if [ this issue](https://github.com/microsoft/botbuilder-dotnet/issues/4934) helps you?

[2020-12-15 21:59] v-kydela commented on #5049
@jarekgoslawski - I can see that you said you don't encounter the problem in Emulator. In order to help diagnose the problem, can you try your bot in Facebook Messenger (non-Workplace) and see if you get the problem there?

[2020-12-15 22:54] dmvtech commented on #5051
@ankur198  You can create the CosmosDB account/db/container _manually_, beforehand and then use it. Make sure you use `/id` as partition key. As things stand currently, you cannot have it created automatically.

[2020-12-16 16:45] jarekgoslawski commented on #5049
Is the way to pick-up full API call which our botengine does into Workplace?
I have another one ticket open in our Workplace support, and they need this full API call to check why it is not correctly responded.

Best regards
_____________________________________________________________________________________
[cid:image001.png@01D6D3D3.30690F00]
Jarek GOSLAWSKI - Messaging Specialist
DANONE ITCC E

[2020-12-16 19:10] #5051 closed

[2020-12-16 19:14] taicchoumsft commented on #5022
@cxbuilders , are you using the dotnet sdk and which version are you on? We will try to replicate this bug.

[2020-12-16 20:55] Zerryth commented on #5015
Update: still working on this.

I've spoken with Eric regarding best practices/design issue that arises around
1. There being a lot of classes that derive from `Recognizer`
2. Implementing the `LogPersonalInformation`
3. `LogPersonalInformation` wanting to be a `BoolExpression` (which needs dependency on `AdaptiveExpressions`) for adaptive bits, but only a `bool` for non-adaptive

It goes deeper,

[2020-12-17 15:03] silverbulletgt opened #5057 "Adaptive Dialog called through code which calls a skill produces the error: System.NullReferenceException: 'Unable to locate SkillConversationIdFactoryBase in HostContext'"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
After following the instructions on this post: experimental-add-composer I get the error System.NullReferenceException: 'Unable t

[2020-12-17 16:29] #5052 closed

[2020-12-17 16:31] ashokdevlabs commented on #5052
Issue fixed. So closing issue

[2020-12-17 18:34] anusharavindrar commented on #5022
Looking into this. @cxbuilders, can you respond to @taicchoumsft's query?

[2020-12-17 18:37] cxbuilders commented on #5022
@anusharavindrar .net it is and version 1.2.2

[2020-12-17 18:49] v-kydela commented on #5049
@jarekgoslawski - I'm sorry, I'm not sure I understand your question. Are you able to connect your bot to Facebook Messenger (non-Workplace)?

[2020-12-17 19:32] v-kydela commented on #5057
Thank you for the report, @silverbulletgt. It looks like you also made a post on Stack Overflow: https://stackoverflow.com/questions/65332422/microsoft-bot-framework-v4-system-nullreferenceexception-unable-to-locate-ski

I'll go ahead and close this here so your issue can be addressed there.

[2020-12-17 19:32] #5057 closed

[2020-12-18 02:56] atifgk commented on #4801
@dmvtech thanks

[2020-12-18 16:08] jarekgoslawski commented on #5049
Sorry I was not enough clear.

I meant, how to see (catch in Debug or save to file) full URI of API request made by bot-engine to Workplace/Facebook
(I can’t test it on Facebook (private) as I Use only Workplace (in company) and don’t have FB identity.)

Best regards
_____________________________________________________________________________________
[cid:image001.png@01D6D560.6DD6AAD0]
Jarek GOS

[2020-12-18 16:53] rvinothrajendran opened #5060 "Creating custom dialog inherits from InputDialog crashed in Bot Framework composer"
## Version
Bot Framework composer 1.3.0

## Describe the bug
Application get crashed.

## To Reproduce
created custom action class using InputDialog and created schema file. Try to use this custom class in bot composer, while running the application & get crashed.

## Log information
 at Microsoft.Bot.Builder.Dialogs.Adaptive.Input.InputDialog.<OnRenderPromptAsync>d__57.MoveNext()
   at System.Run

[2020-12-18 22:24] EricDahlvang commented on #5060
Thank you for providing a stack trace.   What is the exception?

Please also provide the custom input dialog and schema you've used.

[2020-12-18 22:36] v-kydela commented on #5049
@jarekgoslawski - While I cannot test a Workplace bot because I am not a Workplace admin, I believe I've discovered the cause of the problem by examining the [source code](https://github.com/microsoft/botbuilder-dotnet/tree/main/libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook) and by testing a Facebook Messenger bot.

While the Azure Bot Service channel connectors do convert Bot Framewo

[2020-12-19 08:38] rvinothrajendran commented on #5060
@EricDahlvang

**Exception** : Object reference not set to an instance of an object.

**class information**

public class CustomInput : InputDialog
    {
        [JsonProperty("$Kind")]
        public const string Kind = "CustomInput";

        [JsonProperty("customText")]
        public StringExpression Text { get; set; }

        [JsonProperty("outputFormat")]
        public StringExpression Out

[2020-12-21 02:42] anusharavindrar commented on #5022
@cxbuilders, thanks for the above info. Let me try to repro this and update the thread.

[2020-12-21 04:22] #4499 closed

[2020-12-21 05:28] EricDahlvang commented on #4509
Re-opening this.

@garypretty can we consider simplifying and supporting some form of this more directly from Composer?

[2020-12-21 09:15] feich-ms opened #5063 "Add Microsoft.QnAMakerDialogV2 action to consume qnamaker v5.0 runtime API"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

Composer plans to enable [QnA v5-preview APIs](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerv5.0-preview.1/knowledgebase/generateanswer) to support new capabilities. To support this, SDK need to add new

[2020-12-21 19:29] EricDahlvang commented on #5001
The SDK team discussed this, and determined we will not support this internally.

[2020-12-21 19:29] #5001 closed

[2020-12-21 19:31] EricDahlvang commented on #4983
@mrivera-ms would you please review the PR accompanying this?

[2020-12-22 02:28] EricDahlvang commented on #5060
Is the `CustomActionComponentRegistration ` included in the exported bot's startup.cs?

This is commented out by default in Composer's ejected runtime:
[code]

Also, is `CustomActionComponentRegistration` registering a `CustomInput`?

[code]

[2020-12-22 07:59] rvinothrajendran commented on #5060
@EricDahlvang Yes, I had did all the steps I can be able to add custom dialog in the composer this exception raising while running the application

[2020-12-22 19:21] v-kydela commented on #5049
@jarekgoslawski - Are you still working on this?

[2020-12-23 08:43] jarekgoslawski commented on #5049
Yes, I’m trying to find way to export from bot engine full URI string sent to Workplace API to validate what is not aligned with Facebook standard.

Best regards
_____________________________________________________________________________________
[cid:image001.png@01D6D910.08D96F60]
Jarek GOSLAWSKI - Messaging Specialist
DANONE ITCC EMEA

From: Kyle Delaney <notifications@github.com>
Sent: Tuesda

[2020-12-23 15:28] EricDahlvang commented on #5060
Is the `Initial Prompt` defined in Composer?

![image](https://user-images.githubusercontent.com/11055362/103012327-49724f00-44f0-11eb-8058-b6d1a497aec8.png)

![image](https://user-images.githubusercontent.com/11055362/103012398-673fb400-44f0-11eb-9819-e5c5577d874e.png)

[2020-12-23 16:19] rvinothrajendran commented on #5060
@EricDahlvang Thank you its working fine.
Is possible we can define default initial prompt activity ?

[2020-12-23 16:22] #5060 closed

[2020-12-23 16:51] v-kydela commented on #5049
@jarekgoslawski - It's not the URI string. It's the Bot Framework cards that Facebook doesn't recognize, and those are contained in the body of the request. [This document](https://docs.microsoft.com/azure/bot-service/rest-api/bot-framework-rest-connector-add-rich-cards) might help you understand Bot Framework cards, but remember that you will want to use Facebook Messenger templates instead.

[2020-12-23 17:26] EricDahlvang commented on #5060
@rvinothrajendran  this can be accomplished by overriding OnRenderPromptAsync:

[code]

[2020-12-23 17:51] EricDahlvang commented on #5060
Added a PR to throw a more meaningful exception if the .Prompt is missing: https://github.com/microsoft/botbuilder-dotnet/pull/5065

[2020-12-23 17:56] #5035 closed

[2020-12-23 23:11] jarekgoslawski commented on #5049
Maybe I used wrong words (or shortening) how I want to investigate, sorry for another misunderstanding.
I understand that (using your words from one of topic on stackoverflow.com, where you tried to help other users)
“(…)If you send a hero card through the Facebook connector then it will automatically be converted to a button template (…)”

And I want to see effect of this conversion.
How can I se

[2020-12-23 23:47] v-kydela commented on #5049
Thank you for the clarification, @jarekgoslawski. Would you mind linking to the Stack Overflow post in question?

It's true that the Facebook connector converts hero cards to button templates, but you're not using the Facebook connector, you're using the Facebook adapter. The Facebook adapter does not convert Bot Framework cards like hero cards to Facebook templates, as I explained in my previous

[2020-12-24 18:50] EricDahlvang commented on #4936
@cxbuilders  Thank you for raising this issue.

@garypretty  I think you have a sample demonstrating a custom memory scope?

[2020-12-28 09:03] jarekgoslawski commented on #5049
It was this post https://stackoverflow.com/questions/59861665/does-botbuilder-support-facebook-messengers-button-template

Anyway, I understand now that there is not any equivalent between Facebook channel and Facebook adapter (working in fact with Workplace). I was believing that Facebook adapter can deal with something more than just text. (like Facebook channel did).

Regarding info on Microsof

[2020-12-28 23:52] joshgummersall commented on #4920
@denscollo can you provide an update on this issue? Should it be closed?

[2020-12-29 12:41] denscollo commented on #4920
Hi @joshgummersall, we found a workaround for this issue and we are waiting for the user's confirmation that it works. Thanks!

[2020-12-29 23:35] v-kydela commented on #5049
Hi @jarekgoslawski

The Stack Overflow post you linked to is actually relevant to your question because it explains how to do what you're trying to do. There's also a blog post that goes into detail about incorporating Facebook templates into Bot Framework bots: https://blog.botframework.com/2017/03/28/custom-channel-data/

I want to clear up some confusion. "Channel" is unfortunately an ambiguous

[2020-12-31 06:56] harika5 commented on #4796
I tried downgrading the sdk version to 4.10.2 but I still get the same error "This skill has not allow listed your bot" when I try to add my skill to the PVA.
I have already included the PVA ID in my AllowedCallers as well.

[2021-01-01 19:27] v-kydela commented on #5049
@jarekgoslawski - Are you still working on this?

[2021-01-04 15:31] jamesemann commented on #4871
Apologies for the delay - have tested my use case with solution 1 and it seems to be better. Will update the issue with some supporting data this week

[2021-01-04 19:11] igordevezas commented on #5049
@v-kydela I am using Microsoft Bot Composer combined with FacebookAdapter and when trying to send a payload:

[code]

I get:

![image](https://user-images.githubusercontent.com/1262003/103570192-ea85e000-4ec8-11eb-81d8-76ce6028a81d.png)

Any lights here, please?

Many thanks.

[2021-01-04 21:12] #4867 closed

[2021-01-04 22:37] v-kydela commented on #5049
@igordevezas - Your issue sounds a bit more complicated because of Composer. I'm guessing you got that to work by using an ejected runtime. I'm sorry but I can't help you with that here. You should ask a question on Stack Overflow instead. They have a great guide that will help you get an answer: https://stackoverflow.com/help/how-to-ask

[2021-01-05 08:36] ManoharR opened #5073 "How to Implement TelemetryLoggerMiddleware"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
I have an requirement to track properties in App insight -CustomEvent table for all Create/update/delete operation.

So need to override TelemetryLoggerMiddleware and add tht as middle ware.
But I am getting exception while loading the project.

I

[2021-01-05 08:54] jarekgoslawski commented on #5049
yep,  I'm working on it to "compensate" what adapter itself can't do .
thx for your support, for me you can close this case.

[2021-01-05 08:54] #5049 closed

[2021-01-05 14:22] igordevezas commented on #5049
@v-kydela tks! just raised the [question](https://stackoverflow.com/questions/65576884/bot-composer-and-botbuilder-facebookadapter-resulting-in-object-reference-not-s)

[2021-01-05 15:18] gabog commented on #5022
Hi @anusharavindrar, can you provide an update on this one?

Thanks

[2021-01-05 16:33] carlosscastro commented on #4801
Hello @atifgk!

I'm looking at your issue, and I have a couple of questions / things to try first:

Bot framework already has a class called `ConfigurationCredentialProvider`, so I'd suggest using another name such as `KeyVaultCredentialProvider` for your custom class to avoid confusion. Otherwise you could be instantiating the wrong class and I want to make sure we rule that out.

Once you have t

[2021-01-05 19:04] #3586 closed

[2021-01-05 19:07] anusharavindrar commented on #5022
I am able to reproduce the bug on Composer v1.3.0
![image](https://user-images.githubusercontent.com/48731427/103687859-cc11fa00-4f45-11eb-8e9a-64c89c641ca4.png)

@cosmicshuai, do you think this might be related to your above comment?

[2021-01-05 19:10] stevkan commented on #5073
If you reference the [21.corebot-app-insights](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/21.corebot-app-insights) BotBuilder-Sample, you can see how `TelemetryLoggerMiddleware` is implemented. Please note, `TelemetryLoggerMiddlware` is passed into `TelemetryInitializerMiddleware` when used.

Also, please be aware to the below message:

The Microsoft Bot Fr

[2021-01-05 19:10] #5073 closed

[2021-01-05 19:14] gabog commented on #4651
Hi @boydc2014, @cwhitten, thinks we may need to take this one, can you prioritize and assign it to the next milestone if we are planning to go ahead with it?

[2021-01-05 19:16] #4801 closed

[2021-01-05 19:47] cxbuilders commented on #5007
@gabog Why is this closed?

[2021-01-05 19:56] gabog commented on #5007
Hi @cxbuilders, I thought that @boydc2014 was addressing your issue, I will reopen.

Can you provide more a response to @boydc2014 suggestion so he can continue to assist?

Thanks

[2021-01-05 20:05] tracyboehrer commented on #4967
Release blocked pending architecture resolution.  However, there is a package being produced which unblocks other dependent issues.

[2021-01-05 20:22] cxbuilders commented on #5007
@gabog not sure what I need to add? Seems @boydc2014 knows about the issue. Otherwise let me know what needs to be added?

[2021-01-06 02:23] cosmicshuai commented on #5022
@ahmedaashour Right, the validation in Composer depends on the Adaptive-Expression and LG js package.
I have a PR for solving this issue. [PR for locale](https://github.com/microsoft/botbuilder-js/pull/3162)
After this PR merged, I will update the dependancies of LG and Expressions.

[2021-01-07 06:43] scurvydoggo opened #5075 "Adaptive dialog prompts do not work for EnglishOther locales without messy workaround"
## Version
4.11.1

## Channel
Microsoft Teams

## Describe the bug
I am in Australia, so my locale defaults to `en-GB`.

With an adaptive dialog, I get a key-not-found error with the `ChoiceInput` dialog (also occurs with `ConfirmInput` I noticed).

It is because only `en-us` appears in this `DefaultChoiceOptions` dictionary:
https://github.com/microsoft/botbuilder-dotnet/blob/be61ebb6450b0277279f

[2021-01-07 19:15] gabog commented on #5075
Hi @luhan2017, can you take a look at this one please?

Thanks

[2021-01-07 20:09] chrimc62 opened #5077 "Officially support SetTestOptionsMiddleware"
SetTestOptionsMiddleware is currently in Microsoft.Bot.Builder.Dialogs.Adaptive.Testing which is a preview package.  The next version of the emulator supports emitting the SetTestOptions event with randomValue/randomSeed to control randomness.  We need to make sure the SDK officially supports this middleware either by moving it into a release package like Microsoft.Bot.Builder.Dialogs.Adaptive or

[2021-01-08 00:22] clearab opened #5078 "Support for new installation action types (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6139)

[2021-01-08 04:55] clearab opened #5081 "Adaptive Card Tabs (C#)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/6138)

[2021-01-08 06:56] boydc2014 commented on #4651
Hi, @gabog this was a previous proposal, and was aiming to solve two issues
1. when choosing Orchestrator as recognizer at that time, the serialization result can't differ from LUIS. (because we generated the recognizer dialog at very late when building bots at that time)
2. to make composer's authored bots be CI/CD friendly.

We organized a review meeting with ChrisMc, Tom, ChrisW. Eventually we

[2021-01-08 07:55] boydc2014 commented on #5007
@cosmicshuai was assigned to look at this, he should be back on this soon

[2021-01-08 08:17] #4817 closed

[2021-01-08 20:02] chrimc62 opened #5082 "Switch trigger priority to be a float"
**Is your feature request related to a problem? Please describe.**
Priorities are currently an integer.  This makes it awkward to insert between existing priorities or to compute a priority.

**Describe the solution you'd like**
Change trigger priorities to be a float. This would make it easier to compute or insert between existing priorities.

**Additional context**
This is compatible from a sche

[2021-01-08 20:08] chrimc62 opened #5083 "Expose all intents to triggers"
**Is your feature request related to a problem? Please describe.**
Currently the SDK filters to the top intent from a recognizer and surfaces that.  For more complex bots it would be nice to surface all intents so that we can apply trigger conditions/priorities and selectors to them.

**Describe the solution you'd like**
Allow surfacing all intents from recognizers to the trigger system.  OnIntent

[2021-01-09 00:02] clearab commented on #4931
I thought we had a different Issue for this, but I can't find it.... Skill consumers should handle these requests be making the request to Teams on behalf of the skill, then forwarding the response. Skill consumers should also be able to override this behavior, and block any particular skill from having access to these methods.

[2021-01-10 13:19] dalton5 opened #5085 "Could not resolve Microsoft.IdentityModel.Clients.ActiveDirectory.ClientAssertionCertificate'"
Hi,

I have the issue below:

![image](https://user-images.githubusercontent.com/8339768/104124051-ce61c300-534e-11eb-9aaa-01327cc2235a.png)

I can't sort it out.

What am I missing?

Is it a bug?

Thanks,

[2021-01-10 13:56] Robulane commented on #5016
1. I didn't perform any benchmark but basically for each activity sent there is one Serialization-Deserialization roundtrip for no valid reason.

2. Yes, I created my own middleware to workaround this.

[2021-01-11 02:47] cosmicshuai commented on #5007
I investigated this issue and found the reason caused it. Currentlt, I am working on a fix to ensure the conversation can be long lasting.

[2021-01-11 07:24] xieofxie opened #5086 "incorrect id is set when RegisterContainerDialogs in DialogManager"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

Current master

## Describe the bug
Give a clear and concise description of what the bug is.

The dialog id i

[2021-01-11 12:34] garypretty opened #5087 "ContinueConversation with a custom activity"
Raising issue to track this following discussion with @johnataylor.

Add an overload to continue conversation (ideally on the new cloud adapter and the existing BF adapter) that allows a custom activity to be sent to the bot.  This will be used as part of the handoff pattern where messages are received from handoff platforms (e.g. liveperson or omnichannel) onto a controller, are converted into ac

[2021-01-11 12:50] feich-ms opened #5088 "TextInput action doesn't support setting non-string property"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.1

## Describe the bug
See a user [comment ](https://github.com/microsoft/BotFramework-Composer/issues/4875#issuecomment-753613559)here. Use TextInput t

[2021-01-11 13:52] garypretty commented on #5071
@EricDahlvang @mrivera-ms could you please take a look into this issue.  No implementation changes right now, I would just like to understand if the above is by design or not. Even if not, it feels like making this change could have unintended consequences on previously implemented bots, so we need to be careful how we proceed.

[2021-01-11 13:57] garypretty commented on #4986
@scheyal was this addressed by the new recursive error / warning?

[2021-01-11 14:20] xieofxie commented on #5087
Also close this https://github.com/microsoft/botbuilder-dotnet/issues/4018 when done, thanks~

[2021-01-11 22:05] dmvtech commented on #4796
hi @Frazerunige Apologies for the delay. Are you still experiencing this issue? We are investigating to see if we can get any backend information or steps on how to further troubleshoot this.

[2021-01-11 22:17] dmvtech commented on #4796
@harika5 Are you still having issues as well?

[2021-01-11 23:06] clearab commented on #5005
@tacri any thoughts on this one?

[2021-01-12 17:24] luffynextgen opened #5089 "[Slack] Messages from third party bot does not trigger OnMessageActivityAsync"
# Version
4.11.1

# Describe the bug

I'm trying to make my bot respond to another slack bot messages.

I implemented the echo bot model from azure.

I tried to use the default task implemented in the template (OnMessageActivityAsync) and I also tried with the OnTurnAsync task.

In either case the tasks are just not triggered when the message is emitted by a slackbot.
It looks like the messages co

[2021-01-12 19:23] #5078 closed

[2021-01-12 20:44] carlosscastro commented on #5021
Checking this and circling back with Eric.

[2021-01-12 22:31] Zerryth commented on #4907
Now that I'm looking into this, it seems the breaking tests have been resolved. 🤷
Woohoo, less work for me 😁

[2021-01-12 22:31] #4907 closed

[2021-01-13 04:45] EricDahlvang commented on #4960
@garypretty do you know of a way to do this without backwards compat issues?  I think StringExpression for these fields would need to be changed to ITemplate<string>, or am i not understanding the request here?

I'm not sure how to accomplish this, without a breaking change or adding new fields and deprecating the old ones.  Or, a new CloudOAuthInput?

[2021-01-13 12:24] aksh-h opened #5094 "Unable to link bot built using bot framework composer with Twilio"
We are building a bot using Bot Framework Composer and able to test it using Bot Emulator or Web Chat.
After publishing the app we followed the steps given in the [doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-twilio?view=azure-bot-service-4.0) to connect and run it through to Twilio, but it didn't work.

Same issue has been raised in [stackoverflow](https://s

[2021-01-13 15:37] AAltemus opened #5095 "ConversationUpdate for when bot added to a team not firing the member added event"
I have a bot that extends TeamsActivityHandler.  When I add the bot to a team, I get the personal context message, but I never receive the member added event.   I'm doing the following in the bot.

[code]

When adding the bot, I'm uploading a custom app, then adding it to the via the Add to a team in the dropdown from the app.

I tried overriding OnConversationUpdateActivityAsync and got the same

[2021-01-13 20:13] igordevezas opened #5097 "Facebook Bot answering the same response multiple times each new session"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
I am using the Facebook Adapter version 4.11.0 and Composer 1.3.0

## Describe the bug
Each new session on Facebook (after 20 minutes without conversation or

[2021-01-14 02:35] boydc2014 commented on #5095
@feich-ms  can you take a look at this one, i think we just used this feature in JS SDK, not sure is there an issue with C# SDK.

[2021-01-14 02:38] boydc2014 commented on #5097
@igordevezas can you zip your bot and attach it here?

@Danieladu can you help verify this one? looks like some other events are sent and processed by SDK

[2021-01-14 02:40] boydc2014 commented on #5088
@tomlm @Stevenic can you chime in on this one, see if the restriction put on TextInput should be loosed or not.

A short version of above proposal is
Current restriction: "The final property set must be a string"
Proposed loosed restriction: "The value get from input must be a string, but the property eventually set don't have to be a string after post processing"

[2021-01-14 02:46] boydc2014 commented on #5086
@xieofxie do you mean that we have a issue to locate the correct dialog when "multiple anonymous(inlined) dialogs are included in one dialog"?

[2021-01-14 02:46] feich-ms commented on #5095
Sure, will take a look.

[2021-01-14 03:02] boydc2014 commented on #5083
@chrimc62 can you clarify a little bit more on the detailed design.

I assume this proposal means, we will up turn.recognized an array, so that, "turn.recognized.intent" will becomes "turn.recognized[0...N].intent" and will drive the onIntent trigger?

[2021-01-14 03:13] xieofxie commented on #5086
@boydc2014 Yes.. When root dialog is anonymous, children dialog are not required to be inlined

[2021-01-14 03:18] mrivera-ms commented on #5008
@garypretty , I see you assigned this issue to `backlog`. If we are not going to take this, should we close it? We can reopen it when we are ready to take this work.

[2021-01-14 03:20] mrivera-ms commented on #5071
@boydc2014, could you please comment on this?

[2021-01-14 03:22] #4983 closed

[2021-01-14 03:23] mrivera-ms commented on #4960
@boydc2014, could you please comment on this?

[2021-01-14 03:26] mrivera-ms commented on #4928
@boydc2014, could you please comment on this?

[2021-01-14 03:27] #3993 closed

[2021-01-14 03:30] mrivera-ms commented on #4936
@boydc2014, could you please comment on this?

[2021-01-14 03:36] mrivera-ms commented on #3569
Since there is no customer affected by this and there is a workaround, will close this issue.

[2021-01-14 03:36] #3569 closed

[2021-01-14 08:54] igordevezas commented on #5097
Sure, here it is. This zip does not have the assets for Azure Functions that I am using, the file is too large to attach here. Let me know if you want to upload it on other platform

[CardDevezas_export.zip](https://github.com/microsoft/botbuilder-dotnet/files/5813327/CardDevezas_export.zip)

[2021-01-14 09:28] boydc2014 commented on #4936
Sure, this is really a nice to have feature, a top-level scope can help make it more clear. But, there is some considerations if we want to implement that, given the scope in our dialog memory system is not only a prefix. It has certain implications on how it is saved to and recovered from storage.

For example, user scope like user.xx, will be persisted with userId, convesration scope will be sav

[2021-01-14 09:39] boydc2014 commented on #4928
Yes, looks like it can be useful and also might be easy to implement a simple version. But, just so we know, there are probably more efforts than expected to have it's well implemented. The most tricky part to me is what's the impact on those two special triggers, a few questions like the following have to be answered
* should we allow any actions in this trigger without restrictions? Can you send

[2021-01-14 09:40] boydc2014 commented on #4960
At a first glance, I suspect this should not be a breaking change, I will do my investigation and get back to you soon.

[2021-01-14 09:41] boydc2014 commented on #5071
Looks like it's by design, but will double confirm and report back soon.

[2021-01-14 09:47] boydc2014 commented on #5097
Thanks, that will do for us for now, just to confirm is there special triggers are been configured to catch events and send back.

[2021-01-14 16:21] garypretty commented on #4928
Thanks @boydc2014  @mrivera-ms.  I marked this as a backlog item to consider in a future milestone, especially as some work we are going in R12 (action policies) will have a direct impact on the questions posed above.

I think we should park this for now.  Please assume any items marked as backlog and not assigned into a release are going to be considered for a future milestone.  My plan is to use

[2021-01-14 18:48] clearab opened #5266 "Middleware in the runtime for SSML tagging"
To support the directline speech and telephony channels, we're going to need a mechanism to ensure the appropriate SSML tags are add to Activities. Current thinking is the easiest way to support this would be a middleware in the runtime that can be enabled through settings when required. We will need to work with the Composer team to ensure proper UI support, as well as potentially automatically t

[2021-01-14 21:30] v-kydela commented on #5094
Thank you for the report, @aksh-h. I would like to help and I have a few questions.

1. Are you using the Twilio adapter or the Twilio connector?
2. What didn't work?
3. What are the repro steps?

Please provide screenshots where applicable

[2021-01-15 01:56] boydc2014 commented on #5083
The reason to ask is i'm wondering how can we make sure it's not a breaking change.  If we update turn.recognized to be an array, it's highly likely to be a breaking change, another way might be we create a new property like turn.recognizedResults[], it won't be a breaking change, but we have to maintain two set of mechanisms, what do you think

[2021-01-15 05:53] feich-ms commented on #5095
Hi @AAltemus, have you got a chance to check this [sample ](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L50). There is a OnTeamsMembersAddedAsync function to catch the members added event. Could you try this sample?

[2021-01-15 11:07] feich-ms commented on #5088
I made a fix in this [commit](https://github.com/microsoft/botbuilder-dotnet/commit/a3b29e0e52e420c565458b308676d60d0ce71b28). This is just a proposal, not a final fix. This fix is to allow users to set this.property with any objects evaluated from this.value. There is no validation or formatting on the result of this.value. If this.value is left null, then it will get the input from activity and

[2021-01-15 14:09] PurnaChandraPanda opened #5100 "anomalies in luis:datetimev2 entity reading"
1)
Text:

Luis entity:

Library:

C# resulted in:
{DateTimeSpec(duration, [PT3H]}

# Question
I wonder why it is saying as 3 hours duration. It could be a bug. Perhaps, it would be best if SDK can return the same text as being emitted by Luis service. Is it possible?

2)
Text:

Expected output:

Library:

Challenge:
In C#, it resulted in >>{DateTimeSpec(time, [T02, T14]}

# Question
What is the be

[2021-01-15 14:10] AAltemus commented on #5095
It does trigger, but it only shows the bot personal channel message.  I never get the message with the channel data for the Team, making me unable to grab the TeamsInfo for it.  turnContext.Activity.TeamsGetTeamInfo() is always null for that message when I add the bot to a team.

[2021-01-15 14:43] cxbuilders opened #5108 "Resolving Locale for different countries"
I ran a test whereby I created an additional language Dutch (Netherlands) -> nl-nl When setting the locale in emulator to nl-be it responded it the default language en-us

So some questions come to mind;
- Should the locale not be resolved to match the language if there is no exact locale match

I then expected I needed to use Dutch without a country -> nl , however it then gives a warning that th

[2021-01-15 17:16] mrivera-ms commented on #4509
@garypretty, there is a workaround from the SDK. There is an issue in Emulator that needs to be resolved. Please see the history. Could you please add a priority to this item?

[2021-01-15 17:32] #4690 closed

[2021-01-15 18:24] chrimc62 commented on #5100
Returning a timex is by design and done by LUIS.  Time is complex and LUIS captures the ambiguity, i.e. 2 o'clock could be 2am or 2pm.  If for example you know that it must be 2pm then you will have to implement that logic.  There is a sample which shows how to do this using the timex resolution library. https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/40.timex-r

[2021-01-15 18:30] garypretty commented on #4936
Assigning this one to me.  We don't plan to undertake any work to add additional scopes such as this to the SDK at this time, however, I will be able to shortly share a sample of adding your own custom scope to achieve what you need and you will potentially be able to also add these to a Composer bot using the package capability.

[2021-01-15 18:48] PurnaChandraPanda commented on #5100
on the o'clock part, i implemented at my end like:
[code]

## Ask
- Could you please confirm if it is a good way, or there are some better tricks?
- What are your thoughts of handling "few hours" scenario?
- Does the SDK allow client to read free form text for datetimev2 entity from LUIS?

[2021-01-16 23:10] EricDahlvang commented on #4960
@boydc2014  would something such as the following potential solution?:

[code]

This seems to work:
![image](https://user-images.githubusercontent.com/11055362/104825110-9d7d0480-580c-11eb-9938-8f3cc8ab46f1.png)

![image](https://user-images.githubusercontent.com/11055362/104825123-ae2d7a80-580c-11eb-8910-ee05ee42cea5.png)

[2021-01-17 01:12] cxbuilders opened #5101 "Set locale on conversation level"
This is related to #4983, as that one was closed, but did not fix what I was actually after.

I want to be able to set the locale on conversation level which would override the turn locale.
Often the locale is only determined after login and getting user preferences whereby the turn locale is already determined by the client. If the conversation.locale would take presedence over the turn.locale th

[2021-01-17 06:36] rvinothrajendran opened #5102 "SendActivity is not working as excepted , without using the “Generator”"
## Version
4.11.1

## Describe the bug
In Adaptive Dialog without using the “Generator” property, SendActivity method is not displaying the dynamic result

## To Reproduce
Example code

 Actions = new List<Dialog>()
                    {
                        new TextInput()
                        {
                            Prompt = new StaticActivityTemplate(MessageFactory.Text("Hey enter t

[2021-01-17 09:34] EricDahlvang opened #5103 "OAuthInput does not work for SSO"
**Is your feature request related to a problem? Please describe.**
Setup Teams SSO for a bot, and try the OAuthInput from Composer.

**Describe the solution you'd like**
OAuthInput should work with Teams SSO

**Additional context**
It seems what is happening is: if the user has not consented before, when the bot responds with a PreconditionFailed, then also sends a message, which generates another

[2021-01-17 16:23] tiagonmas commented on #3566
any news on a sample to acomplish this ? @vishwacsena

[2021-01-18 03:18] ashwin9627 commented on #5094
Hi @v-kydela,
1.We are using Twilio connector for integrating bot and Twilio.
2.We are getting 400 status.
3.We have followed the same steps as given in this [https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-twilio?view=azure-bot-service-4.0](url)
![issue1](https://user-images.githubusercontent.com/45839692/104868564-b18a4880-5969-11eb-8e45-3d65db2deefa.png)

![issue1

[2021-01-18 05:54] feich-ms commented on #5095
Hello @AAltemus, the turnContext.Activity.TeamsGetTeamInfo() only works for the bot first added into the team. You can try to create another team in Teams and add the bot into that team, you will be able to get the team info as I tried below. We suggest that you store this team info when first added this bot into a team. If you didn't do this at the beginning, you can also catch the team info in O

[2021-01-18 07:57] PurnaChandraPanda commented on #5100
@chrimc62  @tracyboehrer :: Just checking if you have some comments on the open scenarios - for text time, e.g. "few hours", "some hours", "rest of the day", etc.

[2021-01-18 09:37] icpmtech commented on #3520
Hi i have the same problem and fix it with the next sample of code here, i use the @munozemilio solution integrate with my code and works:
 // Retrieve LUIS result
   var luisResult_ = await _botServices.DispatchDetails.RecognizeAsync<DemoVirtualAssistant9Be3>(turnContext, cancellationToken);
            var result = JsonConvert.DeserializeObject<PredictionResponse>(JsonConvert.SerializeObject(lui

[2021-01-18 11:46] libaoxin418 opened #5105 "my adptivecard don't have a top border"
🚨 The issue tracker is not for questions 🚨
no top border
![sendpix1](https://user-images.githubusercontent.com/30464480/104911338-a9f88d00-59c5-11eb-81d0-9fe35ca220e3.jpg)

have top border
![sendpix2](https://user-images.githubusercontent.com/30464480/104911380-bc72c680-59c5-11eb-926f-cdbd771d0212.jpg)

[2021-01-18 18:07] AAltemus commented on #5095
I'm adding the bot to an existing team, after installing the bot to Teams.  I'm not getting team info.  This is the very first time it's added to the team, as you said to do above.   I cannot create a new team after the bot is installed and add it, as that is not always the expected use case.

![Screenshot 2021-01-18 130619](https://user-images.githubusercontent.com/1819526/104950097-1192e600-598e

[2021-01-18 22:54] stevkan commented on #5089
@luffynextgen, is the bot ignoring all messages directed at it or only those originating from another bot / app? Also, when you set up your bot's channel configuration and configured the Slack app, did you follow the instructions, as listed [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs)?

Can you also elaborate more

[2021-01-19 03:37] feich-ms commented on #5095
Hi @AAltemus, per my testing, you can only get the team info when the bot is first added into the team. Once the bot is added into a team, you can no longer get the team info in OnTeamsMembersAddedAsync even though you uninstall and re-add the bot again. That means users can only have one chance to get the team info when a bot is added to a team. I suggest you delete your existing bot in azure bot

[2021-01-19 04:49] AAltemus commented on #5095
So, you can only get the team info once per bot registration, per team?  If a user messes it up, we have to redo our entire bot, which touches an entire user base or else we cannot get the team info on installation events?

I just want to make sure I'm clear on what you're saying.

[2021-01-19 05:11] feich-ms commented on #5095
@AAltemus, per my testing, yes. I recommend to develop and test bot in a testing team that you can create easily. Once your bot is almost ready, you can add it to an official team.

[2021-01-19 05:20] feich-ms commented on #5095
@AAltemus to sum up, you can get the team info in below scenarios:
1. The bot is first added to a team,  we can get team info in OnTeamsMembersAddedAsync function.
2. User starts a conversation in a channel of the team that installed the bot, we can get team info in OnMessageActivityAsync function
3. A new user is added to or joins the team that installed the bot, we can get the team info in OnTea

[2021-01-19 05:28] AAltemus commented on #5095
Two and three work fine.

One does not and I will not be able to blow away production app registrations because a user installed the bot in the incorrect team.  Even if I create a new team in the same tenant, the team info is null when I add the bot to it on the first event.  In a production scenario, that is a valid use case.

As it stands, I can get what I need from two and three, but I ask that

[2021-01-19 06:01] feich-ms commented on #5095
@AAltemus thanks for your suggestions. We will update the docs.

@mrivera-ms could you point to the right person who can help to update the docs(maybe [here](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/subscribe-to-conversation-events?tabs=dotnet#team-members-added)) to highlight above limitations for team info. It seems we already had a similar issue before

[2021-01-19 08:08] zidaneymar commented on #5075
Hi @scurvydoggo , I think you could set this [ChoiceOptions ](https://github.com/microsoft/botbuilder-dotnet/blob/be61ebb6450b0277279f002fe16270f021ceee53/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ChoiceInput.cs#L110)to include your own locale en-GB, you should edit your ChoiceInput action and add a additional field named ChoiceOptions, and it's a dictionary which accepts en-GB as a k

[2021-01-19 08:58] luffynextgen commented on #5089
Hello @stevkan,

I followed the instructions, as it was my first time configuring a slack bot.
As the bot is setup, he is supposed to react to any message posted in the channel, mentioned or not.
The app being used to send messages to the channel is "incoming webhook" app. I also tried configuring another bot to send messages but it did not work, the echo bot would still not react.

I tried runnin

[2021-01-19 17:42] cwhitten commented on #5108
Hi @cxbuilders. Transferring to the SDK project for triage and discussion

[2021-01-19 18:52] jwiley84 commented on #5085
hello @dalton5

We're going to need some more information on this in order to repro/solve. Can you explain a bit more about your project, how you're integrating the bot framework, and what version you're using?

[2021-01-19 19:58] v-kydela commented on #5094
@ashwin9627 - That doesn't answer questions 2 and 3. You've explained that you're getting an error, but you haven't explained what you're doing to produce that error. Just knowing that you've followed the instructions to set up the bot doesn't tell me at what point in those steps you're encountering the error, and it also doesn't help me reproduce the error.

You say you're using the Twilio connec

[2021-01-19 19:58] #5094 closed

[2021-01-19 19:59] dmvtech commented on #4796
Closing due to inactivity. If this issue still persists, please let us know so that we can retrieve more information to investigate.

[2021-01-19 20:00] #4796 closed

[2021-01-20 03:02] #5105 closed

[2021-01-20 03:16] feich-ms commented on #5095
Close this since we already figured out how to do and no fix is needed in SDK side.

[2021-01-20 03:16] #5095 closed

[2021-01-20 04:12] xieofxie opened #5110 "Audience is null for Direct Line Extension situations"
## Version
Current `main`

## Describe the bug
Audience is null

## To Reproduce
Steps to reproduce the behavior:
1. Follow https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0
2. Follow https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-webchat-client?view=azure-bot-service-4.0
3. Sa

[2021-01-20 09:37] Danieladu commented on #5097
Can not reproduce from local. I guess maybe it is related to Azure Functions
![fb](https://user-images.githubusercontent.com/7289268/105155807-008cd500-5b46-11eb-9fef-9e975a45ddf8.gif)

[2021-01-20 15:00] igordevezas commented on #5097
Hi @Danieladu, tks for replying it. Are you using the Azure Web Apps version? Could you "mentor" me on what I am doing wrong with Azure Functions? I followed this tutorial from @zidaneymar: https://github.com/microsoft/BotFramework-Composer/issues/2705 and then I "translated" to Azure Functions... Thank you so much!

[2021-01-21 01:03] EricDahlvang commented on #5102
@rvinothrajendran I'm not sure this is a bug.  What would be the benefit to providing a new TemplateEngineLanguageGenerator with no templates?

[2021-01-21 04:33] rvinothrajendran commented on #5102
@EricDahlvang
I think problem in languageGenerator.GenerateAsync function ( BindAsync function calling this function to generate the result)
once I created the object for TemplateEngineLanguageGenerator , languageGenerator.GenerateAsync  return the proper result. otherwise not .
I'm not able to debug languageGenerator.GenerateAsync function to find the exact place

[2021-01-21 07:06] Danieladu commented on #5097
Can not reproce from Azure Functions too. Maybe i missed something..

[2021-01-21 07:44] ipraveenMS opened #5191 "Operation returned an invalid status code 'NotFound' when calling TeamsOperations.FetchChannelListWithHttpMessagesAsync"
#### What project is affected?
latest BF
#### What language is this in?
C#
#### What happens?
Operation returned an invalid status code 'NotFound'
   at Microsoft.Bot.Connector.Teams.TeamsOperations.GetResponseAsync[T](String url, Boolean shouldTrace, String invocationId, Dictionary`2 customHeaders, CancellationToken cancellationToken)
   at Microsoft.Bot.Connector.Teams.TeamsOperations.FetchChann

[2021-01-21 07:58] Danieladu commented on #5097
Can not reproduce from Azure Functions too. Maybe i missed something.

https://github.com/microsoft/BotFramework-Composer/issues/2705#issuecomment-664230948
This reference is aimed to add the Facebook adapter into web app. If you want to apply the Facebook adapter to Azure functions,
 some similar code should added into `runtime` -> `azurefunctions`

@zidaneymar  Could you please take a look?

[2021-01-21 09:27] xieofxie opened #5112 "Copy text to speak in QnAMakerDialog"
When using QnAMakerDialog in speech channel, the response is not spoken as LG.

**Proposed solution:**

Add a option to switch this on-off.

**Describe alternatives you've considered**

Always enable it.

**Additional context**

We always copy text to speak for LG here: https://github.com/microsoft/botbuilder-dotnet/blob/fd87c8fb18aa9884836c60bfb20ccec4e6bd79be/libraries/Microsoft.Bot.Builder.Dial

[2021-01-21 09:31] hsachinraj commented on #5094
I am trying the same - I am using Twilio Adapter to connect to the bot. Steps followed:

1. In Bot Composer - **project settings** - include **custom runtime**
2. added a new controller for twilio (followed the instructions given [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-twilio?view=azure-bot-service-4.0#connect-a-bot-to-twilio-using-the-twilio-adapter))

[2021-01-21 09:34] hsachinraj opened #5113 "Does Bot Composer work with Twilio WhatsApp Adapter?"
I am using Twilio Adapter to connect to a bot designed using Bot composer. The bot works well in other channels, including Telegram, Web and DirectLine but WhatsApp. I need to make it work on WA. Can someone help?

Here are the steps to repro:
1. In Bot Composer - **project settings** - include **custom runtime**
2. added a new controller for twilio (followed the instructions given [here](https://

[2021-01-21 09:55] xieofxie opened #5114 "add abs and float.Epsilon in adaptive expression"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

When submitting this pr https://github.com/microsoft/BotFramework-Composer/pull/5575/files, I found we lack these two in adaptive expression

**Describe the

[2021-01-21 10:22] igordevezas commented on #5097
Maybe its because I have 2 Adapters inside Startup.cs?

`
 // Create the credential provider to be used with the Bot Framework Adapter.
services.AddSingleton<ICredentialProvider, ConfigurationCredentialProvider>();
services.AddSingleton<BotAdapter>(sp => (BotFrameworkHttpAdapter)sp.GetService<IBotFrameworkHttpAdapter>());

// Adapter
services.AddSingleton<IBotFrameworkHttpAdapter, BotFrameworkHttp

[2021-01-21 19:07] LeeParrishMSFT commented on #5108
@luhan2017  Can you take a look at this, or suggest someone who can?

[2021-01-21 23:06] v-kydela opened #5115 "Please fix Slack adapter configuration"
## Version
main branch

## Describe the bug

The [Slack adapter](https://docs.microsoft.com/azure/bot-service/bot-service-channel-connect-slack?tabs=adapter) uses the following configuration settings:

[code]

There are a few problems with this:

1. The verification token is deprecated. According to Slack: "This deprecated Verification Token can still be used to verify that requests come from Slac

[2021-01-22 03:58] EricDahlvang commented on #5102
Okay, you're saying this should work ootb, without the need to supply a language generator manually:

new SendActivity("Hello , ${user.name}")

[2021-01-22 04:02] rvinothrajendran commented on #5102
@EricDahlvang yes

[2021-01-22 05:34] stevengum commented on #5110
Thank you @xieofxie for filing the issue and including this very helpful information!

To avoid typing magic strings, the following constants in the **Microsoft.Bot.Connector.Authentication** can be used:

For bots in Public Azure, please use [`AuthenticationConstants.ToChannelFromBotOAuthScope`](https://github.com/microsoft/botbuilder-dotnet/blob/fd87c8fb18aa9884836c60bfb20ccec4e6bd79be/libraries

[2021-01-22 06:22] #5032 closed

[2021-01-22 07:00] xieofxie commented on #5110
@stevengum To be honest, I don't know the function of audience here. My comment just comes from the code:
Here it states `Fallback to using the raw Audience as the CallerId`:
 https://github.com/microsoft/botbuilder-dotnet/blob/e90ba0b131c0e24d82e2c9ca2cb4d6fce272db33/libraries/Microsoft.Bot.Builder/Streaming/StreamingRequestHandler.cs#L321

However when we process the activity, it will return nul

[2021-01-22 07:23] Danieladu opened #5117 "Support reading the binary files in LG."
**Describe the solution you'd like**
Add a function that could support reading the binary files.

[2021-01-22 18:27] stevkan commented on #5113
@hsachinraj, using a service adapter (like the Twilio WhatsApp one) means you are choosing to have your bot communicate with the service directly. As such, you do not need the Twilio channel to be enabled in your Bot Channel Registration. The same is true for the reverse. If you intend to use the channel connector in your Bot Channel Registration, then you do not need the adapter. Please select an

[2021-01-22 19:14] LeeParrishMSFT commented on #5022
@cosmicshuai I see the PR is now merged, when do you think you'll have the LG and Expressions updated so we can close this? Thanks!

[2021-01-22 21:09] chrimc62 commented on #5100
I'm a little confused by your code.  Are you using LUIS or the Datetime input action?  If using LUIS, you can access the text of the underlying text by including `includeInstanceData` in your recognizer definition.
[code]

If your entity name was foo then you access the resolutions of foo by recognized.entities.foo[0].  If you want to access the original text it would be recognized.entities.$insta

[2021-01-23 19:22] chrimc62 commented on #5083
We need  to look at this E2E.  Today a single intent is surfaced and we pick the highest priority single trigger that matches the intent  and condition.  This only fires once becomes events are transient in memory.  In the composer UI it looks like you can fire on multiple different intents from a single utterance, but you cannot--this is the issue that Ben ran into.  By default surfacing a single

[2021-01-24 18:22] dalton5 commented on #5085
Hi,

I updated to the last nugget version and it works.

thanks,

[2021-01-24 18:22] #5085 closed

[2021-01-25 06:36] Danieladu commented on #5097
Personal think It has nothing to do with this, I also have two adapters.
Could you share the CardDevezas/runtime/azurefunctions folder with me?
It may help to anchor the issue

[2021-01-25 06:39] boydc2014 commented on #5086
@feich-ms  can you help follow up this with @xieofxie

[2021-01-25 06:40] boydc2014 commented on #5009
@Danieladu can you help take this to implementation, the best way so far is to create a new function, inside of an expressioProperty

[2021-01-25 07:09] feich-ms commented on #4566
Hi @chrimc62, per your [feedback ](https://github.com/microsoft/botbuilder-dotnet/pull/4949#discussion_r521785283)here, do you think we should transfer this issue to LUIS team since any fixes from SDK side do not touch the real root cause.

If we want to fix this in SDK side, there is already a PR https://github.com/microsoft/botbuilder-dotnet/pull/4456 here trying to resolve this issue. @mrivera-

[2021-01-25 07:09] Danieladu commented on #5114
Thanks for the feebback.
For the Math function, 'abs', LG team decide to add some commonly used math functions, including:
`abs`, `sqrt` and `log`

For the mathematical constants, we recommend user restore their own constant value in memory with "setProperty" in Adaptive Dialog or standalone template.
Because:
- Adaptive-expression provides the pure function logic only, would not pollute the memor

[2021-01-25 08:29] igordevezas commented on #5097
@Danieladu, tks once again for replying it. I believe we are almost there... I am attaching the folder as you requested.

Let me know if you need something else...

[azurefunctions.zip](https://github.com/microsoft/botbuilder-dotnet/files/5865212/azurefunctions.zip)

[2021-01-25 09:00] xieofxie commented on #5114
Hmm.. I check the code https://github.com/microsoft/botbuilder-dotnet/blob/183166160e5110cb688f81a842d4744140b3ae9b/libraries/AdaptiveExpressions/BuiltinFunctions/Equal.cs#L49 and since we convert them to double, wouldn't it be better to use Double.Epsilon? (this will be a breaking change though)

[2021-01-25 09:19] hsachinraj commented on #5113
Thansk @stevkan. I have tried removing the channel connector yet still get the same issue - Internal Server Error 500 :(

This [repo](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/63.twilio-adapter) also seems to be supporting only SMS scenario and not WhatsApp messaging - is that correct?

[2021-01-25 10:15] boydc2014 commented on #5108
The LanguagePolicy in SDK is designed to customzied the fallback order of languages, i'm expecting you can use this policy to create a policy like

nl-be => nl-nl => en-us,

so that you can bypass the issue that LUIS doesn't support nl, and you don't have to create both nl-nl and nl-be. You can only have nl-nl, that would be good.

[2021-01-25 13:21] Danieladu commented on #5114
That's a good suggestion. We would investigate it and consider adopting it.

[2021-01-25 16:54] #4946 closed

[2021-01-25 17:42] lauren-mills opened #5120 "Support referencing LG templates by name in test scripts"
**Is your feature request related to a problem? Please describe.**
When writing out declarative test scripts, it is time consuming to include all the hardcoded variations for an LG response and will be difficult to maintain as the LG templates change over time. I would like to be able to provide the LG template name in the assert step so that I do not have to include all the variations manually an

[2021-01-25 19:15] a-b-r-o-w-n commented on #5007
@cosmicshuai What is the status of #5106?

[2021-01-25 22:23] stevkan commented on #5113
@hsachinraj, Yes, that is precisely the problem. Both the Twilio bot registration channel and the dotnet SDK's [Twilio adapter](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/63.twilio-adapter/Controllers/TwilioController.cs) only support Twilio and do not extend to WhatsApp. Unfortunately, while there have been discussions around extending to WhatsApp, there i

[2021-01-25 22:23] #5113 closed

[2021-01-25 23:41] harish0404 opened #5123 "Functional Tests error NU1101: Unable to find package. Intermittent issue to get libraries."
#5121
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
main

## Describe the bug
error NU1101: Unable to find package. intermittent issue to get libraries. The issue is however not easily reproducible and o

[2021-01-26 01:19] #5123 closed

[2021-01-26 07:31] Danieladu commented on #5097
I have used the `azureFunction` file you provided and still could not reproduce this issue. Is this possible that the TTL is too long that the bot has reconnected several times so that the Facebook channel gets many same messages? Because I notice that there are many calls that take a long time. (duration > 10s)
I suggest you change the AzureFunction Location or service plan to reduce the TTL, to

[2021-01-26 08:28] igordevezas commented on #5097
@Danieladu, this change (changing plan) can be done by the Azure Portal or only by code? Tks!

[2021-01-26 09:07] Danieladu commented on #5097
This could be done by azure Portal.
You could create a `Function App` manually and select the location which is closest to yourself. Then copy the resource name to the settings. Example:
![1](https://user-images.githubusercontent.com/7289268/105823873-ac2b9e80-5ff8-11eb-83e2-02c23ef4cfa1.PNG)

Not surprisingly, the delay of TTL should be small. Here is my screenshot:
![Capture](https://user-images

[2021-01-26 09:26] igordevezas commented on #5097
I was inserting the name of my Function app "ngt-composer-dotnet" inside the field "name", not "hostname" on the publish profile. Maybe this is the issue? Or you are telling me to create another function app and mantain the "ngt-composer-dotnet" one?

[2021-01-26 11:20] Danieladu commented on #5097
I have checked the code that `hostname ? hostname : name + (env ? '-' + env : '')`, so, if the environment property is empty, hostname equals to name.
I just suspect that the location of the Function app is the cause (TTL is tooo long. > 10s), but it cannot be changed directly, it needs to be deleted and rebuilt. So, maybe this is the cause.

[2021-01-26 11:31] stevkan commented on #5089
@luffynextgen, thank you for your patience while I continue to look into this. My suspicion is this is by design on Slack's side. There isn't much that indicates whether an app/bot can message another app/bot, however their docs suggest doing so isn't their intent. They [state](https://api.slack.com/messaging/managing#message):

Additionally, when I tested sending various messages, events, reactio

[2021-01-26 15:12] igordevezas commented on #5097
I created a new one with Elastic Premium plan, I changed the location to France Central (I am based on Barcelona, Spain) and nothing changed..

![image](https://user-images.githubusercontent.com/1262003/105863472-3839c800-5ff1-11eb-9578-4f156b62f1cc.png)

[2021-01-26 15:38] cosmicshuai commented on #5007
@a-b-r-o-w-n
I have a draft PR to solve this. However, I need to discuss with SDK team about the default behavior of resuming the dialog once it encounter this situation.

[2021-01-27 02:03] Danieladu commented on #5097
Hmmm. I have no enough knowledge about how to reduce the delay time.
And, I just guess it is related to the retry policy of the Facebook channel.
@JonathanFingold You are the expert on Facebook Adapter, Could you take a look? Thanks.

[2021-01-27 02:13] Danieladu commented on #5097
Also, I found this one: https://stackoverflow.com/questions/40842989/facebook-messenger-chatbot-gives-duplicate-replies
You could double-check whether you only subscribe to one bot to your Facebook page at most.

[2021-01-27 02:36] #4821 closed

[2021-01-27 04:13] #5103 closed

[2021-01-27 04:15] #5021 closed

[2021-01-27 04:58] shefalikuk commented on #5052
HI @ashokdevlabs, I am facing the same issue. Can you please share bot builder SDK and Twilio adapter version for which you are not getting the issue?

[2021-01-27 05:12] lauren-mills opened #5127 "[Adaptive expressions] Date() method does not return date in valid format"
**Is your feature request related to a problem? Please describe.**
I would like to use the date function to get the end of the current day by using this expression:

[code]

However, I get the following error because the date method does not return a valid datetime object that can be used with the other datetime functions:

[code]

**Describe the solution you'd like**
I think the date method shoul

[2021-01-27 05:50] lauren-mills opened #5128 "[Adaptive expressions] Any() function request"
There are several occasions where I need to check if there is any value in an array that matches a condition. This is currently possible using the where() method, but would be cleaner if there were an any() method which just returned the boolean value.

Here is an example of a condition I'm using for an if/else block that is checking for the presence of any parameters in my parameters object:
[cod

[2021-01-27 06:16] feich-ms commented on #5086
Verified already fixed by this PR https://github.com/microsoft/botbuilder-dotnet/pull/5072. @xieofxie please try again with the latest main branch

[2021-01-27 06:16] #5086 closed

[2021-01-27 09:12] igordevezas commented on #5097
Since I am using Facebook Workplace, there is no instance inside Facebook Developers, but I do have 2 events on my webhook

![image](https://user-images.githubusercontent.com/1262003/105969027-13dcfa80-6088-11eb-8b91-8a958656db67.png)

[2021-01-27 10:19] benbrown opened #5129 "LUIS returns 404 error when used through recognizer"
## Describe the bug

Publishing to LUIS or something about the LUIS recognizer has broken recently.  In the nightly build, publishing to LUIS results in a bot that returns a 404 error whenever it consults a LUIS model --- though the publish seems to work as expected.

Attached below are a screenshot of the request and response from the LUIS recognizer call.

## Version

Currently nightly build

##

[2021-01-27 10:23] boydc2014 commented on #5129
@luhan2017 thanks for the investigation, so this means in the current SDK bits, the LUIS recognizer is broken when you have version field exists, right?

This sounds like a P0 bug we have to fix. Transferring this to SDK repo for awareness.

[2021-01-27 11:26] sebastianzolg opened #5130 "Target .NET 5.0 for the Bot Builder .NET SDK"
Hi all, according to my question on [SO](https://stackoverflow.com/q/65885121/2715229), it would be nice to have the SDK targeting .NET 5.0, so we catch up with the latest .NET 5 GA release.

**From:**
[code]

**To:**
[code]

We already see some libraries which can't be referenced since the SDK targets .NET Core 3.1.
I've changed the target manually, and I can't see any compile or runtime error. A

[2021-01-27 14:16] mdesalvo opened #5131 "Provide option to specify a custom bullet list string in ChoiceFactoryOptions"
Is it possible to propose a choice prompt as a list of options with a custom bullet string instead of the predefined ordinal index?

_Hi, I'm a bot! What do you want to do?
**[a]** First option
**[b]** Second option
**[c]** Third option_

We would select to prompt with **ListStyle.List** and specify a new option (e.g: "BulletString") in **ChoiceFactoryOptions**

Thanks,
Marco

[2021-01-27 17:34] JeffCordes opened #5132 "SkillHandler.ProcessActivityAsync Should allow more activity types to be sent to a bot OnTurn/Handler"
**Is your feature request related to a problem? Please describe.**
We are upgrading one of our clients large enterprise bots to the skills framework.  We have discovered that when a skill sends Activities back to our root bot only events and endOfConversation are sent to our event handler.  All other activities are sent directly to the user with turnContext.SendActivityAsync from the framework its

[2021-01-27 18:31] mrivera-ms commented on #5128
@boydc2014 , could you please triage this issue? If accepted, please add milestone. Thank you.

[2021-01-27 18:32] mrivera-ms commented on #5127
@boydc2014, could you please triage this issue? If accepted, please add milestone. Thank you.

[2021-01-27 18:48] gabog commented on #5132
Hi @JeffCordes, would using a custom middleware solve your issue? For logging purposes, skill responses should be processed by middleware and you can catch them and apply your logic there, the only thing to consider is that you need to ignore the ContinueConversation events (which are internally used so the bothost can register OnSendActivity handlers).

[Here](https://github.com/microsoft/BotBuil

[2021-01-27 19:11] JeffCordes commented on #5132
Hi @gabog ,

Using middleware in exactly what I would like to be able to do, however...

In the SkillHandler.cs you would need to call _bot.OnTurnAsync().. to start the execution of any middleware and activity handlers for that IBot.  In the bot callback defined that is only done for "event" and "endOfConversation" Activities.  The default in the switch/case statement is to bypass any developer de

[2021-01-27 19:17] mdrichardson commented on #3816
Per @mrivera-ms, this one is currently blocked

[2021-01-27 20:29] gabog commented on #5132
Not really, all the messages will go through the middleware.

This is what happens when an activity is received by SkillHandler.
1. [ContinueConversation](https://github.com/microsoft/botbuilder-dotnet/blob/799022e7fa16d3062a0f2b10d019df5cea43a81c/libraries/Microsoft.Bot.Builder/Skills/SkillHandler.cs#L252) will be called
2. The processing pipeline will get executed and you'll see a ContinueConver

[2021-01-27 20:39] gabog commented on #5132
Also, in case it helps, I think there's a bug in the sample, I think [this](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/81.skills-skilldialog/DialogRootBot/Middleware/LoggerMiddleware.cs#L31) line should be really:

[code]

[2021-01-27 21:46] taicchoumsft opened #5134 "OrchestratorRecognizer: Fix ability to use different models in same bot"
As pointed out by @carlosscastro (thanks Carlos), Orchestrator Recognizer has a bug that prevents using multiple language models in the same bot (the orchestrator field declared `static` and therefore first model initialized wins). This has to be fixed to allow usage for multi-lang scenarios, where multiple models might need to be specified in single bot for various languages.

## Expected behavio

[2021-01-27 22:40] scheyal opened #5135 "Ensure dotnet framework minimum version is netstandard 2.1 or greater"
Orchestrator requires netstandard 2.1 or greater for support of LPUTF8Str (Unicode etc).

[2021-01-28 01:40] Danieladu commented on #5097
I think I can try this "Facebook Workplace" first.

[2021-01-28 02:41] mrivera-ms opened #5137 "Adaptive Expressions NumericEvaluator does not have any test coverage"
We need to add unit tests for NumericEvaluator. The current coverage is 0%.

[2021-01-28 08:24] mariohdez commented on #5042
By the way, I am experiencing the same error on Microsoft.Azure.Management.EventGrid version 6.0.0.
![image](https://user-images.githubusercontent.com/22581660/106109984-0151d800-60ff-11eb-9ccd-9682ac517ae6.png)

When calling the DeleteAsync call on the event subscription property, the call is successful but the azure rest client is throwing a null reference exception. I was able to validate that

[2021-01-28 08:58] igordevezas commented on #5097
@Danieladu igor.devezasdasilva@es.nestle.com

[2021-01-28 09:29] Danieladu commented on #5097
I have scheduled the meeting. Feel free to contact me if there are any concerns.

[2021-01-28 12:29] JeffCordes commented on #5132
Ok, So I can work through the way this sample is running and see the activity sent from the skill on the outputHandler.  However, it seems unfortunate to have to see this through an output event and not through middleware and ActivityHandler/IBot.

We have made some similar workflows of having a controller and adapter to receive activities from another source, most commonly Live chat handoff integ

[2021-01-28 15:58] saikumaru commented on #4867
hi @EricDahlvang I encountered this issue when I am trying to send a message from a context. I cannot ignore this exception, else I wont be able to send a message to user like below. This worked in 4.9, but not in 4.11

        await dialogContext.Context.SendActivityAsync(MessageFactory.Text(formattedText, formattedText));

https://github.com/saikumaru/botframework-timer/blob/41a49d9e5d5c9e89b3f8

[2021-01-28 16:26] EricDahlvang commented on #4867
@sahithikkss the exception is caught internally.  You can ignore the exception, and the message will be sent as expected.

[2021-01-28 18:12] mrivera-ms commented on #4768
This item is for reviewing the spec. @johnataylor  and @cleemullins will take this.

[2021-01-28 18:27] ashokdevlabs commented on #5052
I am using latest versions of both which is 4.11.1.0

[2021-01-28 18:34] mrivera-ms commented on #883
Reviewed with the SDK team. This is no longer needed.

[2021-01-28 18:34] #883 closed

[2021-01-28 18:47] mrivera-ms commented on #4841
Reviewed with the SDK team. This was done in a prior milestone.

[2021-01-28 18:47] #4841 closed

[2021-01-28 18:56] mrivera-ms commented on #5135
@mrivera-ms to follow up.

[2021-01-28 19:02] mrivera-ms commented on #5130
@sebastianzolg the team will start testing on .NET 5.0 soon. We do not have an exact date at this time, but it is in the pipeline. Thank you for your question.

[2021-01-28 19:21] saikumaru commented on #4867
Hi @EricDahlvang  pardon me for being such a novice, but is it the below way of ignoring that you are suggesting? It dint work for me. Appreciate if you can please share an example. I have even attached my repo.

[code]

[2021-01-28 20:45] mrivera-ms commented on #4539
@boydc2014, is this on track for R12?

[2021-01-28 20:49] mrivera-ms commented on #4871
@jamesemann, are there any updates on this? Can we close this issue as resolved?

[2021-01-28 20:53] mrivera-ms commented on #4684
Pushing to R13 as investigation is ongoing.
@tomlm , @gabog, @carlosscastro could you comment on @mdrichardson's questions above? Thank you.

[2021-01-28 20:57] jamesemann commented on #4871
@mrivera-ms yes I can confirm it is working and I am not seeing the same memory consumption. When I have a spare moment I will add the profiling details to this issue for reference.  Thank you all!

[2021-01-28 20:58] #4871 closed

[2021-01-28 20:58] mrivera-ms commented on #4910
@bwamie, @v-kydela, are there any updates on this?

[2021-01-28 20:59] mrivera-ms commented on #4920
Per offline conversation with @Anshul21 and @denscollo, this issue is resolved.

[2021-01-28 20:59] #4920 closed

[2021-01-28 21:00] mrivera-ms commented on #4924
@JonathanFingold is this on track for R12?

[2021-01-28 21:08] mrivera-ms commented on #4936
@garypretty, since we are not taking this work for now, I am removing it from the current milestone. It can be re-assigned later when we start the work.

[2021-01-28 21:11] mrivera-ms commented on #5009
@boydc2014, @Danieladu, is this on track for R12 or should it be pushed to R13?

[2021-01-28 21:14] EricDahlvang commented on #4867
No, what i'm suggesting is that you do not need to do anything with this exception.  The SDK is referencing ServiceClient, and that is where the exception is thrown and caught.  The null reference exception from ProductInfoHeaderValue will not affect your code.  If send message is not actually sending the message, then something else must be wrong.

Just hit F5 in the debugger when you see this ex

[2021-01-28 21:17] mrivera-ms commented on #5071
@boydc2014, could you please comment on this? Per @garypretty, we are not to make implementation changes right now.

[2021-01-28 21:21] mrivera-ms commented on #4928
@cxbuilders, thank you for the request. We will take this in a future release.

[2021-01-28 21:24] mrivera-ms commented on #4438
@garypretty, are we still targeting R12 for this?

[2021-01-28 21:36] mrivera-ms commented on #4566
@feich-ms, thank you for the investigation. PR [#5011](https://github.com/microsoft/botbuilder-dotnet/pull/5011) has been merged. @hhasenauer could you please test if this resolves your issue?

[2021-01-28 21:42] mrivera-ms commented on #4871
Great news. Thank you @jamesemann!

[2021-01-28 22:08] v-kydela commented on #4910
@mrivera-ms - I've just assigned @arturl as well in case he can look at this

[2021-01-28 23:06] mrivera-ms commented on #5135
Per offline discussion with @scheyal, this needs to be addressed by the Orchestrator dev team. Closing as no further action is needed from the SDK team.

[2021-01-29 00:05] scheyal commented on #5135
More info:

So sniffing a bit more, it looks like all our SDKs are targeting netstandard2.0. Orchestrator assembly is the odd one out targeting netcoreapp3.1, and it cannot go below netstandard2.1 due to native Unicode dependency. If I get this right, it’d create a bit of friction out of the box when dev is trying to use Orchestrator having to align their targets.

So I guess, the work here is to

[2021-01-29 06:19] #5114 closed

[2021-01-29 07:06] atifgk commented on #4801
@carlosscastro @dmvtech thanks.  implenting !CredentialProvider worked

[code]

[2021-01-29 16:04] pschaeflein opened #5140 "Token Exchange for Virtual Assistant/Skills in Microsoft Teams returns Service Error"
## Version
4.11.1

## Describe the bug
When running in WebChat and Emulator, the token exchange between the RootBot and the SkillBot works fine. When running in Teams, the exchange call is returning:
`System.InvalidOperationException: Unable to exchange token: (ServiceError) Consent Required`

## To Reproduce
Using the sample at BotBuilder-Samples\experimental\sso-with-skills, add the RootBot to a

[2021-01-29 18:21] johnataylor commented on #4468
The most recent CloudAdapter delegates the creation of HttpClients to BotFrameworkAuthentication. This is currently parameterized with HttpClient, that might change that to HttpClientFactory.

Note the nice ASP model of typed http clients don't really work as cleanly in this world as they would in a regular ASP project because the singleton BotFrameworkAdapter (CloudAdapter is really the same thin

[2021-01-29 18:21] #4468 closed

[2021-01-30 00:22] tomlm opened #5143 "SkillDialog (and BeginSkill) should have way to specificy delivery mode in the options/expression properties"
## Version

4.11.1

## Describe the bug

SkillDialog and BeginSkill action both to expose the ability to set the delivermode for the outbound activity. 

## To Reproduce

You cannot do this other then cloning the activity and changing the deliverMode before you pass it on.  This is flawed as that technique only works for the first activity, not the subsequent ones.  

## Expected behavior

The **S

[2021-01-31 01:06] chrimc62 opened #5145 "Begin new dialog ActivityProcessed does not work as expected"
## Describe the bug
When you call a child AdaptiveDialog there is a flag for whether the current activity has been processed or not.  If it is set to false then the child gets an opportunity to process it.  The problem is that if there is a BeginDialog trigger in the child dialog the activity will not get processed by the child dialog.  To fix it, you either have to remove the child BeginDialog tr

[2021-01-31 22:29] Stevenic commented on #5145
@chrimc62 and I chatted about this and this is somewhat "by design".  If you call a dialog that has  `BeginDialog` actions those actions should be run when the dialog starts.  That will result in the intent recognition being intercepted making the activity processed flag worthless.  The core issue here is that when we're calling into a dialog (either via consultation or an explicit begin) we make

[2021-01-31 22:29] Stevenic commented on #5145
@tomlm @cwhitten @carlosscastro adding you guys to weigh in

[2021-02-01 09:00] Danieladu commented on #5097
We have synced with this issue and basically locate the cause of the repeated messages. Which is latency.

Would continue investigating.

[2021-02-01 14:34] carlosscastro commented on #5101
Hello @cxbuilders, thanks for reporting. Agreed that changing language and using actually any memory scope of your choosing for locale precedence should be supported. I did a bit of investigation on this:

- First, this should be possible with the current version. I built a small prototype of language switching to attach to this bug, and to my surprise turn.locale was not being honored. I'll debug

[2021-02-01 16:17] cxbuilders commented on #5101
@carlosscastro For the pre and post activity triggers I submitted a request quite some time ago: #4928

Also I think it would be good that if eg user.locale is set it automatically overrides the turn.locale without the need to change the turn.locale for each turn, same would go for conversation.locale

[2021-02-01 19:16] srinaath commented on #5140
@Virtual-Josh

[2021-02-01 20:00] Virtual-Josh commented on #5140
Hi @pschaeflein,

There are many things at play here so let me try to separate them. First, you can't test the Teams specific functionality in emulator. Emulator uses the directline channel, Teams uses the Teams channel. Second, I'd caution you against using the samples in experimental. Experimental is a place where we tend to put samples that we are considering moving into the main samples repo.

[2021-02-01 22:44] mmiele commented on #4924
These are the articles where we talk about private cloud as it applies to government cloud:

•	[Connect a bot to the Web Chat channel - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat)
•	Compliance in Azure Bot Service - Bot Service
•	Bot Framework Frequently Asked Questions Index - Bot Service
•	Bot Framework Ecosystem Frequently Asked Questions

[2021-02-02 00:53] EricDahlvang opened #5148 "Add Teams Adaptive Actions"
Add Adaptive Dialogs and schema for responses to Teams triggers.

[2021-02-02 00:56] #5148 closed

[2021-02-02 01:22] EricDahlvang commented on #5135
From: https://docs.microsoft.com/en-us/dotnet/standard/net-standard#which-net-standard-version-to-target

netstandard2.0 is contained within netstandard2.1

[code]

It seems odd to change the minimum requirements for the underlying sdk, because one consuming package has a higher minimum requirement.

Also, raising this to 2.1 in the sdk would be a braking change, and require a major version bump?

[2021-02-02 04:41] tomlm commented on #5145
I don't understand this.  The reason the caller sets the flag is because the caller is the only one who knows that the activity has been "consumed". This was added specifically to allow the caller to initiate a sub-dialog without the dialog processing the activity that triggered the start of that dialog. If the sub-dialog has a BeginDialog it is specifically saying "I know what I want to do when I

[2021-02-02 04:53] carlosscastro commented on #5101
Completely agreed on the pre and post triggers. We're working on that.

Regarding the locale precedence, it is fair to say that the business logic varies, even though personally I kind of like this precedence to compute the effective locale that goes into turn.locale.

- conversation.locale
- user.locale
- activity.locale
- default locale

The logic being, the default locale is hit or miss, the ac

[2021-02-02 04:55] tomlm commented on #5145
I prefer processing BeginDialog trigger to set up the initial plan, and after run recognizer if ActivityProcessed==false and APPEND the intent actions to the plan.  This gives the effect of intial plan is always BeginDialog _(If Defined)_ \+ Recognition _(if needed)_

The problem with a **Recognize** action is that it can only be validly invoked if you haven't released the turn...that's super prob

[2021-02-02 05:15] carlosscastro commented on #5101
Going back to the bug -- I tried creating the following bot:

- Unknown intent: Echo bot behavior
- 'english': sets conversation.locale to en-us
- 'spanish': sets conversation.locale to es-ar
- Activity trigger: on activity received, executes once to set `turn.locale = conversation.locale ?? turn.activity.locale`. Then calls repeat with processed activity false and sets a flag so it executes only

[2021-02-02 05:57] cosmicshuai commented on #5101
Sure, I will look into the bot and see what caused turn.locale not working.

[2021-02-02 07:16] cxbuilders commented on #5101
@carlosscastro Completely agree with the presedence.

Have been thinking about user vs conversation whereby a bot could respond to different users in their own language in one conversation, but that really defies the whole purpose of a conversation where you expect everyone in it to understand the rest.

So your presedence list would be best imo

[2021-02-02 08:28] DanieleS82 opened #5149 "QnAMaker Dialog Fallback action"
Hi,
the origin of this request is in [this](https://github.com/microsoft/BotFramework-Composer/issues/5657) post that I opened to add a new feature in the QnAMaker Dialog component of the Bot Framework Composer.

Shortly, the QnA Maker Dialog component allows to easily connect a knowledge base. If a response score is less of a threshold set, a fallback answer is to throw, but there is no way to ru

[2021-02-02 15:09] pschaeflein commented on #5140
@Virtual-Josh , thanks for the response.

1.) I am using the emulator only to test the VA/Skill token exchange. It is working as expected.
2.) I understand that the code is experimental. I am performing experiments. ;)
3.) I have followed the docs you referenced. As I mentioned, VA/Skill token exchange works fine.

Do I need to implement the Teams SSO in order for the skill to get a token from the

[2021-02-02 17:20] #4829 closed

[2021-02-02 17:20] #4851 closed

[2021-02-02 17:27] johnataylor commented on #5087
This is merged for CloudAdapter.

[2021-02-02 17:27] #5087 closed

[2021-02-02 17:29] johnataylor commented on #4018
This is merged for CloudAdapter - see overloads of ContinueConversation that reflect what we have with ConversationReference

[2021-02-02 17:29] #4018 closed

[2021-02-02 17:38] johnataylor opened #5151 "OAuthInput needs updating to work with CloudAdapter"
OAuthPrompt is supported on CloudAdapter though the underlying CloudOauthPrompt implementation which makes use of the UserTokenClient, OAuthInput needs to be updated along these lines.

This should not be too difficult because the implementation should be shared with the exception of the Message processing which diverges slightly - its mostly the same but the validation and reprompt behaviors seem

[2021-02-02 18:41] Virtual-Josh commented on #5140
@pschaeflein If SSO is failing outside of teams then there's something wrong with the configuration. Based on the error you originally posted it seems as though you haven't granted access for the host to auth on behalf of the skill. I would take a second pass through [this](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Cem

[2021-02-02 19:08] srinaath commented on #5075
Closing for inactivity.

[2021-02-02 19:08] #5075 closed

[2021-02-02 19:58] pschaeflein commented on #5140
SSO works outside of Teams. It does not work inside Teams. Please refer to the issue description:
![image](https://user-images.githubusercontent.com/8008013/106655180-a6850a00-655e-11eb-84fb-9609e4053d89.png)

Again, my question:

Do I need to implement the Teams SSO in order for the skill to get a token from the Virtual Assistant?

[2021-02-02 20:27] Virtual-Josh commented on #5140
If SSO works outside of teams then the issue is either in the manifest, or in the implementation of the bot. Have you updated the `manifest.json` to have the `WebApplicationInfo` object? Here's the [doc](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/auth-aad-sso-bots#update-your-teams-application-manifest-for-your-bot) for that. Additionally did you update the

[2021-02-02 21:03] pschaeflein commented on #5140
The AAD app URI is not in that format. The value you highlight is required to have the Teams client perform SSO to my bot. Which would be the virtual agent (root bot).

I prefer not to change that if possible, as that would be a breaking change.

Are you saying that I must make that change to get the token exchange from the root bot to the skill bot when running in the Teams client?

[2021-02-02 21:28] Virtual-Josh opened #5153 "[Testing Skills Everywhere] Create Conversation is not implemented in the base ChannelServiceHandler"
This is just the tracking issue to make it easier to prioritize Skills work for R13.

The CreateConversation endpoint is not implemented in the `ChannelServiceHandler`. We would need to fix that if we wanted to test the Create Conversation scenario with skills.

[link](https://github.com/microsoft/botbuilder-js/issues/3366) to issue in JS.

[2021-02-03 00:45] Virtual-Josh commented on #5140
I don't know the answer to that question since that's a Teams question not an SDK question. Let me see if I can find someone from Teams to chime in.

[2021-02-03 01:42] stevkan commented on #5089
@luffynextgen, a quick update: I did a some more testing and spoke with a couple colleagues and it looks like there _may_ be some unusual activity in our services backend. I will update you when I know more.

[2021-02-03 05:13] cosmicshuai commented on #5127
Hi @lauren-mills, as my understanding, you were trying to add some minutes and hours to the starting of current date.
I have two suggested solution for this,

1.  use startOfDay instead of date function.
   `addMinutes(addHours(startOfDay(utcNow()), 11), 59)`  this will return ` 2021-02-03T11:59:00.000Z` as my current date is Feb 3rd today
2. wrap the result of date with a formatDateTime function

[2021-02-03 08:53] feich-ms commented on #5088
After checked current design with Dong, it should be by design that TextInput can only set text property currently, so will close this issue.

[2021-02-03 08:53] #5088 closed

[2021-02-03 09:49] Danieladu commented on #5102
If you want to use the languageGeneration feature without the specific LG file, you could try to add the "UseLanguageGeneration" middleware to dialogManager.
Sample code:
[code]

[2021-02-03 13:30] rvinothrajendran commented on #5102
but we have to use the LanguageGeneration somehow but its good adaptive-dialog refer to an empty TemplateEngine by default.

[2021-02-03 19:14] #5137 closed

[2021-02-03 19:50] mrivera-ms commented on #4438
@garypretty, I am moving this to the next milestone. We do not have an available resource to take it now and it is a P2 item. Please ping me if you believe we should reconsider.

[2021-02-03 20:14] johnataylor opened #5158 "Remove trusted service url comment in code snippet in proactive docs"
The [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp#avoiding-401-unauthorized-errors) contains a code snippet with the following comments. These comments should be removed.

[code]