[2020-03-16 16:53] munozemilio commented on #3520
Hello @csnarain, I will be working on this today. I will get back to you ASAP on this.

[2020-03-16 19:06] vishwacsena commented on #3495
@darrenj I just tried this against latest master branch and it worked.

[code]

[2020-03-16 19:06] #3495 closed

[2020-03-16 23:47] vishwacsena commented on #3562
See composer ticket - https://github.com/microsoft/BotFramework-Composer/issues/1958

[2020-03-17 00:12] Danieladu commented on #3548
it seems the code works.

[2020-03-17 00:12] #3548 closed

[2020-03-17 00:13] Danieladu commented on #3550
since ted can not re-pro it, we will close it temporarily

[2020-03-17 00:13] #3550 closed

[2020-03-17 01:03] boydc2014 opened #3578 "[DCR] make DialogContext a field of turnContext"
This is a requirement came from the LG debugging experience.

Today we do debugging instrumentation in the base class `AdaptiveDialog`, where have access to the DialogContext, but we don't have access to DialogContext (do we?) when executing a specific action, for example, a SendActivity action, which have LG text to debug with.

Ideally we want have access to DialogContext, and attach with the LG

[2020-03-17 01:31] Danieladu opened #3579 "[Expression]drop `dynamic` type"
Currently expression library depends on `dynamic` type to do some dynamic evaluations. It is convenience but at the same time brings some issues which would block the expression run-time.

It is taken for granted that we should remove it.

[DCR]

[2020-03-17 02:57] tomlm commented on #3578
I would recommend either:
1. Pushing DialogContext as service via turnContext.TurnState.Get<DialogContext>() (this would probably require DCR #3577 to be done correctly)
2. Changing ActivityTemplate data binding method to allow passing a Dialogcontext, and plumbing that all the way into LG as optional method signature.

[2020-03-17 05:47] munozemilio commented on #3520
@csnarin, could you please share the nuget version and name of the LuisResult class you are casting to?

[2020-03-17 10:25] GustavoMoreiraPT commented on #3524
Hi again @dmvtech ,

I have been doing a debugging session to figure it out the reported issue.
I found something that is definitely taking longer in the first request.

When calling BeginDialogAsync, one of the internal method calls happens on **SkillWebSocketTransport**, **ForwardToSkillAsync**

<img width="748" alt="SkillWebSocketTransport" src="https://user-images.githubusercontent.com/3041772

[2020-03-17 13:59] csnarain commented on #3520
@munozemilio - I use the latest version 4.7.2

[2020-03-17 14:50] webdevelperify commented on #1253
Hi Eric,

How can I make my endpoint in Bot Framework v4 something like **https://[domain].azurewebsites.net/api/message/appId** so that I know which one to take appId and appSecret for the process.

Please can you look at this issue:
https://stackoverflow.com/questions/60723115/can-we-customize-the-bot-endpoint-given-from-bot-framework-sdk-v4-net-core

Thank you in advance.

[2020-03-17 18:32] WizX20 opened #3583 "Add a custom endpoint property to the LuisService class"
## User Story
As a developer I want to use the SDK with docker containers; for example the new [LUIS docker container](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-container-howto?tabs=v3).

This is currently not possible with the OOTB [Microsoft.Bot.Configuration.LuisService](https://github.com/microsoft/botbuilder-dotnet/blob/50d78c5c5f77aa0569c5fe892c14873369c9f314/librar

[2020-03-17 20:00] stevkan commented on #3512
I have tested this and noted that when the typing activity is sent, it is respected in a 1:1 and group conversation, but not (as you noted) in a Teams channel threaded conversation. However, any associated delay in the typing indicator _is_ respected. This indicates the bug is in Teams and not the BotFramework.

I have created an issue [here]() for the Teams group to track and triage. Please consi

[2020-03-17 20:00] #3512 closed

[2020-03-17 21:00] tomlm commented on #3578
We are going to do #3577, so this DCR is rejected.

[2020-03-17 21:00] #3578 closed

[2020-03-17 22:03] vishwacsena opened #3585 "[Adaptive] ChoiceInput and ConfirmInput do no have consistent compoent schema"
ConfirmInput is missing `"$role": "expression"` for `Style` and `ChoiceOptions` property.
ChoiceInput has the `"$role": "expression"`.

[2020-03-17 22:04] vishwacsena opened #3586 "[Adaptive] Auto generate component schema?"
We have been mostly good but there have been misses like [this][1]. Filing this ticket to track the possibility of auto-generating a component schema.

[2020-03-18 07:16] #3555 closed

[2020-03-18 08:04] #3383 closed

[2020-03-18 11:46] WizX20 opened #3590 "BotFrameworkHttpClient: Change null check on 'appId' to StringIsNullOrEmpty"
## Issue
The _Microsoft.Bot.Builder.Integration.AspNet.Core.BotFrameworkHttpClient_ [GetAppCredentialsAsync method](https://github.com/microsoft/botbuilder-dotnet/blob/373096310de1272ac1f26f2045448b3f40f4ff68/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpClient.cs#L166) checks the **appId** argument for null; but a `string.IsNullOrEmpty(appId)` would be better

[2020-03-18 17:24] vishwacsena opened #3592 "[LG] support adaptive cards template expansion in Activity factory"
If an attachment is an adaptive card then call adaptive cards template expansion library to support full bot side resolution of templates.

Need to figure out a way to get this working E2E while adaptive card templating is in preview.

[2020-03-18 17:25] vishwacsena commented on #3592
@matthidinger can you update this bug once you have your packages ready?

[2020-03-18 18:04] CezaryMarcjan commented on #3583
Thanks @WizX20 for the report.  We'll take a look at this.

[2020-03-18 18:23] cleemullins commented on #3590
Thanks @wizX20. @carlosscastro Can you take a quick look? This seems a reasonable change, and would let us give a better error message. Seems like an R9 change.

[2020-03-18 18:24] cleemullins commented on #3583
This looks like a nice feature for R9.

[2020-03-18 18:25] cleemullins commented on #3583
@garypretty Can you evaluate this? It would need to be done across all of our platforms.

[2020-03-18 20:06] Anshul21 opened #3593 "Slack Adapter Fails on rendering context block"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v 4.8

## Describe the bug
I am using the SlackAdapter ( .NET). It's is not able to deserialize the block Array, if one of the blocks is a "context".
Followi

[2020-03-19 01:45] #3466 closed

[2020-03-19 02:43] #3560 closed

[2020-03-19 02:43] #3547 closed

[2020-03-19 06:59] #3519 closed

[2020-03-19 09:50] sschutten opened #3596 "ShowTypingMiddleware causes BadRequest exception"
## Version
4.7.2, 4.8.0

## Describe the bug
Starting since 16 or 17 March sending a 'ShowTyping' to the user results in the following exception:

[code]

The bot is successfully able to send replies to the user, it's just the 'ShowTyping' that fails. Disabling the ShowTypingMiddleware in the bot resolves the issue.
This is happening in both bots we're developing and it has been working fine befor

[2020-03-19 13:08] EricDahlvang commented on #3596
Hi @sschutten

Thank you for reporting.  Which channel is this occurring on?

[2020-03-19 15:01] sschutten commented on #3596
Hi @EricDahlvang,
This is on the msteams channel. Was just thinking it may have something to do with the adjusted limits on teams. Regardless, it would be good if the middleware would not cause an unhandled exception.

[2020-03-19 15:45] EricDahlvang commented on #3596
Related: https://github.com/microsoft/BotFramework-Services/issues/194

[2020-03-19 16:02] boydc2014 opened #3598 "Use InvariantCulture to parse numbers"
I was testing expression library in a machine locale set to de-DE, then the tests failed, because 1.0 is parsed to 10.

We need to use InvariantCulture to parse those.

[2020-03-19 18:20] EricDahlvang commented on #3596
Is your bot also in West Europe?

[2020-03-19 18:24] #3577 closed

[2020-03-19 19:35] cleemullins opened #3599 "Fix v3 SDK Release Pipeline to Nuget"
The current v3 build system incorrectly pushes the .symbols.nuget to NPM, which results in deployment failures.

Clean up the release process, and adopt the same "Release Pipeline" mechanism we use for SDK v4.

[2020-03-19 20:15] v-kydela commented on #3593
Hello @Anshul21

It looks like the current Slack adapter sample is referencing the 4.8 rc2 preview of the Slack adapter package, and that preview isn't available on NuGet so I cannot build the sample unless I configure Visual Studio to use MyGet. Are you using MyGet or are you using an earlier version of the sample?

[2020-03-19 20:15] sschutten commented on #3596
Yup. Sounds very similar to the issue you added as related.

[2020-03-19 20:24] vishwacsena opened #3600 "[Adaptive] DeleteProperty does not work for entity shortcut"
This does not work. Not sure if we just do not support path shortcuts in deleteproperty action .. ?
[code]

[2020-03-19 20:34] Anshul21 commented on #3593
i am referencing to https://www.nuget.org/packages/Microsoft.Bot.Builder.Adapters.Slack/  version 4.8.0-rc0

[2020-03-19 21:21] v-kydela commented on #3593
@Anshul21 - Okay but what version of the sample are you using? Do you have this commit? 9ac77d5f43c6316df440442843ba5e59381d551c

[2020-03-19 22:22] Anshul21 commented on #3593
@v-kydela pulled the latest code from repo for the sample. I do the commit # 9ac77d5f43c6316df440442843ba5e59381d551c in git log. It's still not able to process context. I used a simple block [
[code]
but it still fails with `Newtonsoft.Json.JsonSerializationException: Error converting value "Last updated: Jan 1, 2019" to type 'SlackAPI.Text'. Path '[0].elements[0].text', line 7, position 43.`

[2020-03-19 22:23] v-kydela commented on #3593
@Anshul21 - I can reproduce the issue using the [context block sample](https://api.slack.com/reference/block-kit/blocks#context), and it's looking like a problem with the Slack API package which you can report issues about here: https://github.com/Inumedia/SlackAPI

You can tell them that blocks cannot be deserialized using Newtonsoft and that they need to implement a custom JSON converter.

I tri

[2020-03-19 22:34] Anshul21 commented on #3593
opened the bug for SlackAPI team https://github.com/Inumedia/SlackAPI/issues/228
@v-kydela @garypretty

[2020-03-19 23:12] v-kydela commented on #3593
To clarify further, the issue occurs when the context block contains a text object. The JSON deserializer interprets each element in the block as an `Element` object, and that expects the text property to be a `Text` object. If the element is itself a `Text` object then its text property is a string.

The `ContextBlock` class has `IElement` elements which can be `Element` objects or `Text` objects

[2020-03-20 06:21] boydc2014 opened #3604 "`\.` is not considered as a valid regex in our commonRegex check"
As titled "\." should be allowed.

[2020-03-20 06:47] xieofxie opened #3605 "Handle null message.Text in DateTimePrompt"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
DateTimeRecognizer.RecognizeDateTime itself doesn't handle null query: https://github.com/microsoft/botbuilder-dotnet/blob/b08e2fb04d5f9d30554bce5cf

[2020-03-20 08:20] KayMKM opened #3606 "operations contains "!" need a more clear priority"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, "!" will be used as "not", "forced re-execu

[2020-03-20 08:36] Danieladu commented on #3606
attach the re-execute issue link：#3053

[2020-03-20 09:26] GustavoMoreiraPT commented on #3524
Hi again,

So based on the previous messages, we kept looking into the issue and on the application startup, we are now going through each of the dialogs that we need, and create a dummy call that initializes the entire pipeline with an entry point on the **SkillDialog.BeginDialogAsync** method.
This way we already have the token cached when we do our first real dialog activation. By applying this

[2020-03-20 10:55] #3606 closed

[2020-03-20 13:26] EricDahlvang commented on #3596
Okay,  I'm going to close this one as a dup. Please follow along on the linked issue for updates.

[2020-03-20 13:26] #3596 closed

[2020-03-20 15:01] EricDahlvang commented on #3524
Hi @GustavoMoreiraPT

The initial token retrieval has been a known startup performance bottleneck for some time.  In November of 2017 we provided some guidance similar to what you've described: https://blog.botframework.com/2017/11/02/optimizing-latency-bot-framework/  This has not been updated for V4 sdk, but you can see the similar pattern of retrieving a token upon startup, and periodically ref

[2020-03-20 16:11] TheHidden1 opened #3609 "CardAction in 4.8.0 not working properly"
## Version
4.8.0

## Describe the bug
* CardAction in HeroCards are not behaving correctly in the emulator :  OpenUrl or Postback are not working from example

* CardAction buttons will error out in the facebook channel  in azure with BadRequest 400 error from the facebook api

## To Reproduce

Steps to reproduce the behavior:
Here is an example dialog that will not work in the emulator / and erro

[2020-03-20 16:57] vishwacsena opened #3610 "Add SentenceCase function"
Function to capitalize first letter.

[2020-03-20 17:13] cleemullins opened #3611 "Support full "Step Into" Debugging through Visual Studio"
The Step-Into debugging of our packages seems to be broken.

We need to:
1. Make sure all packages create ".snupkg" files as part of the automated YAML build(s).
1. Update the Release Pipelines (Myget, Nuget) to publish ".snupkg" as well as "nupkg".
1. Add "Test Step-Into Debugging" to our manual steps of release criteria testing.

[2020-03-20 18:32] cleemullins commented on #3611
I've updated the automated release pipelines to now push the snupkg files to both MyGet and Nuget. @tomlm & myself also published the 4.8.0 symbols.

We've tested this, along with Sourcelink, and it seemed to be working.

We've still got to add this to the testing / release critera to make sure we don't regress again.

[2020-03-20 20:53] #3525 closed

[2020-03-20 20:58] #3527 closed

[2020-03-20 21:07] vishwacsena commented on #3332
@KoradaRajesh can you explain why you are trying to serialize and deserialize dialogManager itself? This is not a supported scenario but more so, I'm curious to hear what scenario you were looking to solve with this approach.

[2020-03-20 21:28] vishwacsena commented on #3565
@v-kydela the link 404s. Can you DM me the specific issues you saw in the bot sample? https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/feature/cards/libraries/Bot.Builder.Community.Cards/Management/ManagementExtensions.cs#L250-L370

[2020-03-21 01:36] EricDahlvang commented on #3609
Hi @TheHidden1

The 3rd parameter to `CardAction` is actually the URL, for url type buttons.  Please try adding the value parameter:

[code]

[2020-03-23 02:32] #3604 closed

[2020-03-23 04:44] vidyakdil opened #3703 "On Click of "Get Started" button in Facebook Messenger, Composer code is throwing exception"
FB messenger have "Get Started" button which helps the user to initiate the conversation with the bot. When we published the code, on click of Get Started button, we are getting exception.

## Version
I'm using the latest version of Composer.

## To Reproduce

Steps to reproduce the behavior:

1. Create a messenger bot using MS Bot framework
2. Configure a get started button using the REST API to

[2020-03-23 06:36] #3510 closed

[2020-03-23 09:25] TheHidden1 commented on #3609
oh I cant believe I wasted a day on this , thanks  anyway
![image](https://media.giphy.com/media/RFDXes97gboYg/giphy.gif)

[2020-03-23 09:25] #3609 closed

[2020-03-23 10:58] GustavoMoreiraPT commented on #2437
Hello guys,

Any update on this?
I am experiencing the same issue when setting the JsonSerializer to TypeNameHandling.None.

Many thanks.

[2020-03-23 20:54] chrimc62 opened #3615 "Expressions ReturnType and validations should include Array"
Today in expressions you can only check for or return primitive values and "object".  As a number of expressions explicitly require or return arrays we should add array as ReturnType.  This will help on error checking and make the information more explicit.
[enhancement]

[2020-03-23 20:58] chrimc62 opened #3616 "Expressions should include push/pop to add remove values from arrays"
Without this, it is quite painful to add a value to a new array since you need to check if it currently has a value or not.  The proposal would be:
push(array, value) -> array with value added to the end.  If the array is undefined a new array would be created.
pop(array) -> array with last value removed.
[enhancement]

[2020-03-23 21:38] carlosscastro opened #3617 "Skills + OAuth: Differentiate between regular and skill mode when receiving tokens (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5789)

When doing OAuth, and a Skill gets an activity, the skill thinks it is in regular mode and not skill mode, so it uses the wrong connector client.

The fix is to have the Token Service add an additional claim and have the SDK act accordingly and know in what mode it is based on the claim.

[2020-03-23 22:05] chrimc62 commented on #3616
EditArray largely takes care of this.

[2020-03-23 22:05] #3616 closed

[2020-03-24 02:23] #3579 closed

[2020-03-24 19:30] gabog commented on #3307
This has been implemented in 4.8 in [this commit](https://github.com/microsoft/botbuilder-dotnet/commit/705f7fbb9d6fafd33fe9ee16ddde7c44e18094ac#diff-23d583999bd355eb18cf5b220d80214c).
closing

[2020-03-24 19:30] #3307 closed

[2020-03-24 19:40] gabog commented on #3617
Hi @carlosscastro, can you loop me in when you design this? depending in the implementation we may be able to simplify the [IsSkillClaim](https://github.com/microsoft/botbuilder-dotnet/blob/7c485e28c53c12c2733bd81d8d93a1c1325d855b/libraries/Microsoft.Bot.Connector/Authentication/SkillValidation.cs#L83) method that we use to determine if we are running as a skill or if we are a parent.

[2020-03-24 22:00] vishwacsena commented on #3612
Dupe of #3332

[2020-03-24 22:00] #3612 closed

[2020-03-24 23:55] EricDahlvang commented on #3197
Hi @heaths or @pakrym

It looks like a new version of Microsoft.Extensions.Configuration.AzureKeyVault was released today.  However, it is still using Microsoft.Azure.Services.AppAuthentication v1.0.3

Is there a different package to use for certificates on Azure Key Vault which do not have a dependency tree reliant on the older version of ADAL ?

![image](https://user-images.githubusercontent.com

[2020-03-25 02:09] #3549 closed

[2020-03-25 11:18] vidyakdil opened #3666 "Rendering channel specific payloads"
The button types for which we’ve support in LG is openUrl and imBack and postBack. In Facebook, we’ve another button type called web_view configurable in buttons of generic templates which will open a webview inside the chat screen.

Queries:
a) How can we render Generic templates with button type as web view for Facebook bots using Composer?
b) How can channel specific button types be rendered us

[2020-03-25 18:33] pakrym commented on #3197
There is a preview of replacement: https://www.nuget.org/packages/Azure.Extensions.Configuration.Secrets/1.0.0-preview.1

But we are not GAing it this month.

[2020-03-25 18:40] sschutten opened #3619 "[LG] Optional HeroCard as an Activity Attachment"
## Version
4.7.2-preview

## Describe the bug
I'm trying to use an optional HeroCard as an Activity Attachment. Based on a condition I want to include the card as an attachment. I throught of using the [pre-built if-function](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/common-expression-language/prebuilt-functions.md#logical-comparison-functionsl). It doesn't work if I

[2020-03-25 22:15] #3526 closed

[2020-03-25 22:16] #3178 closed

[2020-03-26 04:08] cwhitten opened #3620 "[Adaptive] [Skills] - Support enabling a Composer-generated bot as a skill"
In order to enable a Composer-generated bot as a Skill, the DialogManager needs to be updated to support sending an EndOfConversation to signal a Skill exiting. Without this, a Skill created from Composer will be unable to end itself.

<img width="970" alt="Screen Shot 2020-03-25 at 9 07 06 PM" src="https://user-images.githubusercontent.com/1156704/77609203-9b903080-6edc-11ea-8867-aa7eaee0fce9.png

[2020-03-26 07:45] Danieladu commented on #3619
hi sschutten, I just tried to reproduce the issue but did not get the same result as you.
So, if there are some details that you did not write down in this issue description.

I have commit the test case here, https://github.com/microsoft/botbuilder-dotnet/blob/7e41ee80f9af79800d91044b3ca989075c6254f0/tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs#L24
You can run this test t

[2020-03-26 09:49] xieofxie opened #3698 "settings.xx could be used Send a response not Allow interruptions"
## Is your feature request related to a problem? Please describe.

For example, I would like to set a global interrupt score in settings. But it could not be used.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-03-26 10:02] xieofxie opened #3636 "display default value for certain variables"
## Is your feature request related to a problem? Please describe.

None of the ? or placeholder tell the user **what will happen if they are not set**

![image](https://user-images.githubusercontent.com/2876650/77634398-d4d3a980-6f8b-11ea-8554-4a61c1eddd73.png)

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-03-26 12:16] sschutten commented on #3619
@Danieladu thanks for investigating. I can confirm it works in 4.8.0-rc0. It appears I was using 4.7.2-preview instead. I've updated the issue description to reflect that. In 4.7.2-preview it wasn't working.

To add to this, I had to change
[code]

to

[code]

to get it to work properly. In 4.7.2-preview I also wasn't able to return an empty array using `[]`, but that seems to be fixed as wel in 4

[2020-03-26 12:16] #3619 closed

[2020-03-26 13:04] luhan2017 opened #3623 "CrossTrainedRecognizerSet will emit an OnChooseIntent even when the two recognizer got the same intent."
I want to enable the new RecognizerSets in Composer and Here is a sample default hierarchy:
Currently the yellow part are by-default enabled in Composer(a RecognizerSet with a MultiLanguageRecognizer and a ValueRecognizer), in the MultipleLanguageRecognizer, we by-default enabled a CrossTrainedReconigzerSet and under that, user can add Luis, regex or qna recognizer.

But I found there is one behav

[2020-03-26 16:57] vishwacsena opened #3625 "[Adaptive expressions, LG] Updates to IMemory interface"
## IMemory change
Update tryEvaluate of expression and accept one more Options parameter which enable user to setup a delegate to do substitution on null memory value.

[2020-03-26 17:18] vishwacsena commented on #3623
@luhan2017 crosstrainedrecognizer set expects the collection of recognizers specified to self-promote a winner. Each recognizer except the recognizer that is the self elected winner must return `DeferToRecognizer_<recognizerId>` as the intent.

You would need to build a different recognizer type for what you are looking for. Even if we do build one, which recognizers result would you use given one

[2020-03-26 17:18] #3623 closed

[2020-03-26 18:03] vishwacsena commented on #2230
@luhan2017 can you help with a reduced repro please?

[2020-03-26 18:04] vishwacsena commented on #3332
Closing due to no activity.

[2020-03-26 18:04] #3332 closed

[2020-03-26 18:26] jamiemaguiredotnet commented on #2230
Hi all.
@vishwacsena

Fwiw, one workaround for this issue is to use a custom event then capture this. You can then rerun the same offending dialog without this circular error occurring.

[2020-03-26 19:50] tomlm opened #3626 "[Adaptive] ReplaceDialog can cause infinite loop at load time."
If you have an AdaptiveDialog with an ReplaceDialog Action which is declaratively bound to the parent dialog you will get an infinite loop attempting to load it.

# foo.dialog
[code]
The typeloader will attempt to look up foo, which is foo.dialog which instantiate the dialog and go into an infinite loop blowing the stack at load time.

# Proposed solution 1
We could change ReplaceDialog to only ta

[2020-03-26 20:03] carlosscastro commented on #3626
this test script reproes the issue

[code]

[2020-03-26 23:45] vishwacsena commented on #3626
@tomlm @carlosscastro sounds similar to #2230 .. ? Is this an issue because dc.replaceDialogAsync removes the active dialog (which is the replaceDialog action itself) instead of the parent adaptive dialog?
Would we not need to have repalceDialog action signal the parent adaptive dialog to perform the replace?

https://github.com/microsoft/botbuilder-dotnet/blob/9392d65018ff31d3e0c761931ccd4de96ed8

[2020-03-27 02:46] navzam opened #3627 "OAuthPrompt timeout doesn't work in Teams"
## Version
4.8.0

## Describe the bug
`OAuthPromptSettings` has a `Timeout` that you can set to control how much time the user has to complete the auth flow. But in Teams, the timeout doesn't work. The authentication flow succeeds and gives a token even after the timeout duration has passed.

I'm guessing this is because the timeout logic only applies on message activities, which excludes the Team

[2020-03-27 07:13] xhr0804 opened #3630 "Bing spell check for luisRecognizerV3"
**Is your feature request related to a problem? Please describe.**
When I updated my luisRecognizer from V2 to V3, I didn't find the bingspellcheck option in the LuisRecognizerOptionsV3

**Describe the solution you'd like**
provide the spellcheck option for LuisRecognizerOptionsV3 so that we can use the feature.

[enhancement]

[2020-03-27 09:17] KayMKM opened #3634 "if condition default value is empty"
## Describe the bug
the default value of if condition is empty. It should be true or false at least. And I think most of users want to set an expression as condition. So it is better that the condition input box is expression as default

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the

[2020-03-27 16:19] tomlm commented on #3615
can you provide more details?  In C# we support ExpressionProperty<T> and T can be an array.

[2020-03-27 20:36] vishwacsena commented on #2230
This is an issue only with declarative.

Root.dialog
[code]

Child1.dialog
[code]

FWIW, this code based adaptive dialog does not repro

[code]

[2020-03-27 20:37] vishwacsena commented on #2230
@carlosscastro can you take this one as well given you are looking into replaceDialog issue?

[2020-03-28 08:02] eduardmartos opened #3638 "Showtyping Middleware showing that Bot is typing when is not"
Using ShowTypingMiddleware() shows that the bot is typing after the user received the bot's response. From the perspective of the user experience, this is very annoying, because the User thinks that the Bot will send another message and does not.

We believed that this could be due to the order in which we define the USE in the AdapterWithErrorHandler class:

Use (new TranscriptLoggerMiddleware ()

[2020-03-29 16:05] piotrzajac opened #3639 "QnAMakerOptions.StrictFilters having a value with single quote cause 500 (Internal Server Error)"
## Version
4.7.2

## Describe the bug
In QnA Maker knowledge base we are using metadata tags having entries with values containing single quotes, e.g. `movie: schindler's list`.
We are querying the knowledge base with `QnAMaker` form `Microsoft.Bot.Builder.AI.QnA` namespace, setting `StrictFilters` on `QnAMakerOptions`.
When `Metadata.Value` contains a single quote character `'` then upon invocati

[2020-03-30 01:21] tomlm opened #3641 "DCR: .dialog resource binding should fallback to non-hardcoded extensions."
We should add fallback for string reference binding "foo.xxx" => looks for "foo.xxx.dialog" and if not found attempts to bind to "foo.xxx",
The point of these changes is that it allows new extensions to be added to the resource explorer, and if there are object bindings for those extensions they will be used. If a file is valid json but NOT a dialog file (Such as .schema files) then they can be us

[2020-03-30 03:56] ssss141414 opened #3695 "the behavior of operations of arithmetic are inconsistent"
## Describe the bug
See this picture, '+' and '*' work, but '-' results a null(even though I have define user.a, user.b as int).
![image](https://user-images.githubusercontent.com/18118994/77873450-9a645800-727c-11ea-9537-b014da4b88cc.png)
![image](https://user-images.githubusercontent.com/18118994/77873454-9f290c00-727c-11ea-809d-23c173ee5734.png)

I need to add int() to '-' to make it work.
![im

[2020-03-30 07:48] xieofxie opened #3696 "=addProperty({} , "a" ,dialog.a) could not be executed twice"
## Describe the bug

If we begin the following dialog twice
![image](https://user-images.githubusercontent.com/2876650/77887476-3736ed80-729d-11ea-979c-a28d77bee128.png)

It will send the following error for the second set properties

Expression evaluation resulted in an error. Expression: =addProperty({} , “a” ,dialog.a). Error: a already exists

## Version

## Browser

- [ ] Chrome
- [ ] Safari

[2020-03-30 08:07] boydc2014 commented on #3641
i didn't fully get this short-term fix, i mean i understand what it does, but seems not align with long term goal.  By fall-backing to resource.id, we are implying that we are encouraging using different file extension to distinguish types.  How about we just fallback from resource.id.dialog to resourc.id.json, and start encouraging people to serialize stuff other than dialog into json, and use "n

[2020-03-30 10:02] GustavoMoreiraPT commented on #3524
Hi @EricDahlvang ,

Thanks for your reply.
We did a similar approach, by initializing a dummy call to the DialogContext.BeginDialogAsync and as such, the token will be cached before the first request.
It helped, but is still not ideal.

In the meantime, did you find any additional improvements that are not mentioned in the article?

Thanks.

[2020-03-30 10:50] AndreyMitsyk commented on #1686
The fastest workaround is to create copy of [AzureBlobTranscriptStore.cs ](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Azure/AzureBlobTranscriptStore.cs) in your project and replace _Microsoft.WindowsAzure.Storage*_ references with a _Microsoft.Azure.Storage*_ references. After this just use your own _AzureBlobTranscriptStore.cs_.

[2020-03-30 15:02] EricDahlvang commented on #3197
Closing this, since a new library has been provided.  Thanks @pakrym

[2020-03-30 15:02] #3197 closed

[2020-03-30 15:05] priests123 opened #3642 "Active Learning GetLowScoreVariation returns no results if matching score is greater than 0.95"
## Version
I'm using 4.7.2 but exists in 4.8

## Describe the bug
In the [ActiveLearningUtils.cs](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.AI.QnA/Utils/ActiveLearningUtils.cs) there is a method called GetLowScoreVariation. I have some search results from QnA being passed in with the following scores:

- Result A score = 1
- Result B score = 0.5087

[2020-03-30 16:36] bojingo opened #3643 "Bot State failures when extending with a sub class"
## Version
4.5.3

## Describe the bug
This is a 2-parter:

1. I am getting a `DocumentClientException` (I am using Cosmos DB for Bot State): `Message: {"Errors":["The request payload is invalid. Ensure to provide a valid request payload."]}` when calling `BotState.SaveChangesAsync` at the end of `IBot.OnTurnAsync`. This seems to be happening for the `ConversationState` rather than `UserState`. I a

[2020-03-30 17:34] tomlm commented on #3641
This is about allowing you to refer to a json file (regardless of extension) without having to add .dialog on to the reference.

[2020-03-30 18:28] tomlm commented on #3559
This already exists, DialogManager.cs has dialogset exposed?

[2020-03-30 18:59] cleemullins commented on #3593
@v-kydela, @garypretty  What should we do with this? If it's an open bug in Slack, we should close this out now that they're linked.

[2020-03-30 19:02] cleemullins commented on #3520
@munozemilio Any updates on this? IF we can't reproduce, should we close this out?

[2020-03-30 19:35] v-kydela commented on #3642
Thank you for the feedback, @priests123

I think I do see some strange behavior in GetLowScoreVariation, but I'm not sure if it's the behavior you're talking about. If you had only one answer and it was greater than MaxScoreForLowScoreVariation, that answer would be returned. Is that why you'd also expect the answer to be returned when there's more than one answer?

You say "I would expect this me

[2020-03-30 19:59] v-kydela commented on #3593
@cleemullins - It's not a bug in Slack. The bug that the customer opened is in the Slack API package that our code is using, and the issue has remained unread for 11 days. It looks like a personal repo that's run by one person and I don't know that we can count on anything getting fixed unless we fix it ourselves. However, the author does provide some [contact information](https://github.com/Inume

[2020-03-30 20:18] vishwacsena commented on #3556
Tracked via https://github.com/microsoft/botframework-sdk/issues/5792

[2020-03-30 20:18] #3556 closed

[2020-03-30 21:59] navzam opened #3644 "OAuthPrompt forces use of OAuthCard/SigninCard, which limits auth UX"
**Is your feature request related to a problem? Please describe.**
`OAuthPrompt` allows you to use a custom activity as the prompt by passing in `PromptOptions.Prompt`. But if you don't pass in an activity with a `SigninCard` or `OAuthCard` attachment, then `OAuthPrompt` injects its own card depending on the channel.

This causes issues if you want to prompt with a different type of card, such as

[2020-03-30 22:39] #3173 closed

[2020-03-30 22:39] #3641 closed

[2020-03-30 22:59] v-kydela commented on #3643
@cleemullins - Dana has agreed to let me take this one. Would that be all right?

@bojingo - I believe you are correct about the flaw in the `BotState` class. I suspect that this must have been an oversight because `BotState.Get` is seldom used. Bot state is normally accessed using property accessors. I suspect classes like `UserState` and `ConversationState` were not meant to be extended, in whic

[2020-03-30 23:20] tomlm commented on #3600
@geographyV2=> turn.recognized.entities.geographyV2.first() <-- .first()
@@geographyV2 => turn.recgonized.entities.geographyV2;

If you use DeleteProperty() with @@ it works correctly.

[2020-03-30 23:20] #3600 closed

[2020-03-31 02:49] stevkan commented on #3638
Unfortunately, there are known issues with ShowTypingMiddleware(). As it is, the docs suggest [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-send-messages?view=azure-bot-service-4.0&tabs=csharp#send-a-typing-indicator) that the following method is used for generating a typing indicator. This can be sent, as shown below, within an activity handler or as part of a waterf

[2020-03-31 02:49] #3638 closed

[2020-03-31 04:44] xieofxie opened #3645 "set locale for EoC and event"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

When the user wants to send a response after skill is finished (for example in composer), the current turn is invoked by EoC event and locale is no

[2020-03-31 05:06] munozemilio commented on #3520
@csnarain the issue seems to be the LuisResult class you are casting too. If it is the same as the sample, then that one corresponds to the LuisResult of the V2 runtime. I will investigate which package is the one for the V3

[2020-03-31 08:14] priests123 commented on #3642
See my responses:

If you had only one answer and it was greater than MaxScoreForLowScoreVariation, that answer would be returned. Is that why you'd also expect the answer to be returned when there's more than one answer?

**Yes, I would expect an answer to be returned if there were multiple values and one was greater than the MaxScoreForLowScoreVariation. I would think too there is the case that

[2020-03-31 08:22] boydc2014 opened #3646 "LG options improvements"
## Update LG options to support
[code]
strict=true means throw at null (and potential other strict rules)
replaceNull works all the time. If strict=true then we throw on all conditions except for null value and we use replace text in case of null value.
lineBreakStyle = markdown means one line break will be translated to two line breaks, any other value will keep the same

If more than one strict

[2020-03-31 08:31] boydc2014 commented on #3364
After thinking about this for a while, a functions seems to be inconvenient, bc you have to include it everywhere, my recommendation would be add an option to lg file indicate lineBreakStyle to make this happen.  See #3646

[2020-03-31 09:04] trojenguri commented on #3642
Thanks for the feedback. But as a mitigation, before calling LowScoreVariation function, you can have a check
[code]

You can refer to the QnAMakerDialog on how it is implemented. https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
Line no. 215.

[2020-03-31 16:19] priests123 commented on #3642
Hi @trojenguri,

I have added similar logic into my code. Would that code not suitable to be included in the method rather then having to always include it when calling it?

[2020-03-31 16:56] cleemullins opened #3647 "Delete 4.Future Branch"
The "4.Future" branch is no longer used and should be deleted.

DONE - Double check with @tomlm prior to deleting, just to be sure.
Check with @chrimc62 as well (per @tomlm).

[2020-03-31 18:02] carlosscastro commented on #3590
Thanks @WizX20. This sounds like a good idea. I'll not only check this but all other public methods in this surface to make sure we are consistent with our validations.

[2020-03-31 18:25] JonathanFingold opened #3648 "QnAMakerDialog should accept a dialog ID parameter"
## Version
What package version of the SDK are you using: current - 4.8 - master

## Describe the bug
Give a clear and concise description of what the bug is.
Using a "hard-coded" ID for all QnA Maker dialogs means it's hard to add more than one to any dialog collection.

## To Reproduce
Steps to reproduce the behavior:
1. Look at the implementation:
    https://github.com/microsoft/botbuilder-dot

[2020-03-31 18:34] bojingo commented on #3643
1. This solution has been put into production for one of our clients, and not sure their appetite for that. I'll pursue and report back if any updates.
2. CrewConversationState is to let multiple users share the same state based on all being part of the same "crew" of users (as defined by an external data back-end). Computing the same storage key across a "crew" of users was the quickest / easiest

[2020-03-31 19:56] vishwacsena commented on #3646
Also needs to be documented in the LG file format.

[2020-03-31 22:27] vishwacsena commented on #3553
@tomlm will look at this and mark `approved` if the proposal looks right.

[2020-03-31 22:37] vishwacsena commented on #3210
@stevenic to implement JS version and would reach out to @tomlm for C# help.

[2020-03-31 22:52] chrimc62 opened #3649 "DCR AdaptiveAction that works in parent adaptive dialog"
**Is your feature request related to a problem? Please describe.**
Actions provide a way of declaratively writing programs.  Our current BeginDialog model puts the child adaptive dialog into its own memory context and requires the caller to handle the return results.  This can be complex if you want to use a child dialog to hide complexity and encapsulate logic.  For example, the child dialog migh

[2020-04-01 02:26] xieofxie opened #3652 "use lg instead of expression in value, condition etc."
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to write long expressions and copy-paste common expressions.

For example, convert a set/map to list with index:
`

[2020-04-01 02:31] boydc2014 commented on #3652
I think I've seen such an issue somewhere before in SDK repo, that a user is asking for using LG to customize functions, and also seen user in Composer side asking similar thing.

I don't know about this, feels weird to enable LG to do this, given the scope of LG is "language generating", but at other hand, deal with long or customized expression or reuse expression is easier in LG, @vishwacsena

[2020-04-01 02:39] hibrenda commented on #3652
https://github.com/microsoft/BotFramework-Composer/issues/2413

[2020-04-01 06:10] xieofxie commented on #3645
Related https://github.com/microsoft/BotFramework-Composer/issues/2426

[2020-04-01 06:15] cosmicshuai commented on #3493
@vishwacsena I have a question here. For creating an object using { foo: ${val}, blah: ${woof}}
the key here is an identifier. Should we also support it a string type key, like user can write { "foo": ${val}, "blah": ${woof}}? The parsed results should be identical.

[2020-04-01 10:47] hibrenda opened #3716 "null filled in value field after add/remove the content in it."
- add the input action
- input something in value field and then remove it
- will get following errors
![image](https://user-images.githubusercontent.com/43408889/78128621-cd5b4700-7448-11ea-86d0-3ba7bdb348fa.png)
![image](https://user-images.githubusercontent.com/43408889/78129146-b406ca80-7449-11ea-8f20-d4ef07fa3829.png)

![image](https://user-images.githubusercontent.com/43408889/78128677-e19f4

[2020-04-01 13:36] vishwacsena commented on #3493
@cosmicshuai yes

[2020-04-01 14:27] DavidStrickland0 opened #3656 "Equivilant of RemoteAddr on all Channels."
**Is your feature request related to a problem? Please describe.**
I need to be able to tell where an Activity is from. There are any number of reasons, almost anything an existing website does with RemoteAddr would apply. Throttling, Tailoring, Tracking etc. but one example is we'd like to be able to reverse geolocate the user to make sure to use the QnA thats specific for their country. If the l

[2020-04-01 17:19] gabog opened #3657 "Update DialogManager to work with Skills (dotnet)"
See the [rollup issue](https://github.com/microsoft/botframework-sdk/issues/5792) for details.

[2020-04-01 17:45] v-kydela commented on #3643
@bojingo - I have no way of knowing if your `CrewConversationState` class is causing the first problem. I haven't seen all of your code.

It looks like you still need to do some investigating to answer my questions. Please go ahead and create a minimal example to help diagnose the problem. If you can reproduce the error with `CrewConversationState` and not with `ConversationState` then we'll know

[2020-04-01 18:14] cleemullins commented on #3639
@vipeketi - any update here?

[2020-04-01 18:46] simer99 commented on #3639
@piotrzajac: I tried the issue. The generate answer call does return the metadat:

![image](https://user-images.githubusercontent.com/50911573/78174518-03afbb00-7477-11ea-8079-3a5e4fa687e1.png)

However, we need to see why it is not working with getasyncanswer call? did you use any of the provided samples? can you tell which sample you used?

[2020-04-01 18:48] cleemullins commented on #3656
@DavidStrickland0 We don't have any currently planned work in this area. If you describe your scenario in more detail, me may be able to provide suggestions for a specific workaround.

[2020-04-01 19:45] munozemilio commented on #3520
@csnarain the way you can cast the result is something like this:
[code]
using [this](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.language.luis.runtime.models.predictionresponse?view=azure-dotnet) class from the Azure SDK

[2020-04-01 19:45] #3520 closed

[2020-04-01 19:47] vishwacsena commented on #3652
@boydc2014 @tomlm I do not believe we need to set this constraint on the user. In a tool like composer, the customer will look at a single cohesive experience and not necessarily want to (or should) understand the distinction between LG templates being used only in specific parts of their dialog.

Do you see strong reasons why we should not enable this?

My take: We should allow injecting all temp

[2020-04-01 19:49] vishwacsena commented on #3652
Thanks to @cwhitten, here's another example of customer confusion https://stackoverflow.com/questions/60752270/why-condition-field-only-accepts-pre-built-functions

[2020-04-01 20:00] vishwacsena opened #3658 "QnAMakerDialog does not allow custom activity generation from answer"
[QnAMakerDialog][1] today does not allow customization of the actual activity posted. We hard code this to `response.First().Answer` however this precludes the user from being able to e.g. post a card that includes additional information like confidence score etc.

Proposed fix:
- Add a virtual method which maps MapAnswerToActivity( answer) => Activity, default would be to send .text. and have Dis

[2020-04-01 20:29] piotrzajac commented on #3639
To reproduce the issue I've followed these step:
- Create knowledge base with question with metadata containing single quote
- Save & Test > Publish
- Create bot from Publish site
- Download bot source code and modify `QnAMakerBaseDialog.GetQnAMakerOptionsAsync` to include strict filter `StrictFilters = new[] { new Metadata { Name = "movie", Value = "schindler's list" } },`
- Compile and publish w

[2020-04-01 20:37] Jeffders opened #3659 "BotBuilder 4.8 won't work with direct reference to Cosmos DB packages (3.2.0 or 3.7.0)"
## Version
4.8.0

## Describe the bug
I am using .NET Core 2.1, Bot Builder 4.8.0. If you take the project and add the Microsoft.Azure.Cosmos package 3.7.0 and deploy the project to an App Service, the app service won't run. If you try to run the site manually from kudu, you get a "can't find package Microsost.Bot.Builder.Dialog.dll" error.

## To Reproduce
1. Make bot project for 4.8.0
2. Add the

[2020-04-01 20:40] JBrownie77 opened #3660 "Activity text appears to get cached (issue when changing between languages)"
## Version
4.8 (.NET)

## Describe the bug
I am implementing a multi-lingual bot with an option for the user to change their language. I have two phrases defined, GetLanguage, which is used in a text prompt, and LanguageUpdated, which is sent after the update.

[code]

Translation is happening in middleware. An outgoing message does this:
`activity.Text = await this.translator.TranslateAsync(activ

[2020-04-01 21:12] msftjayongg opened #3661 "AppInsights Integration should send up Teams channel info, and AAD app id. and make user_id more clear"
**Is your feature request related to a problem? Please describe.**
For users to make the most use out of the telemetry, there are important metrics that should be transmitted into the customEvents in ApplicationInsights. Without making the developer do more work. Right now the lack of clarity with the user_id metric lets ISVs overcount. (I've double checked application insights telemetry)

**Descr

[2020-04-01 22:15] DavidStrickland0 commented on #3656
Not sure how else to describe it. If someones attaching to my Bot via any channel that allows anonymous connection I need to have some way to identify them. GeoLocate them, Track them, Store Data about them, make educated guesses about who they are and what they need. On a website you do that using their IP Address and or the Referrer and whatever other headers you have on the HttpRequest. If the

[2020-04-01 22:51] DavidStrickland0 commented on #3656
Perhaps our biggest concern atm is Scraping. On our websites its a constant war between the data scrapers and the site administrators. If we create a bot that allows via dialog access to the same data we have on the site its a new frontline in the war. Currently we are constantly analysing traffic. Blocking \ Throttling or misinforming requests we Identify as performing questionable activity while

[2020-04-02 07:31] #3598 closed

[2020-04-02 08:36] luhan2017 opened #3663 "OAuthInput does not work in Composer since it requires alwaysPrompt field not null."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
master

## Describe the bug
This issue is reported from composer side.
https://github.com/microsoft/BotFramework-Composer/issues/2477

Two issues:
1. OAuthIn

[2020-04-02 10:15] piotrzajac opened #3665 "MemoryTranscriptStore.GetTranscriptActivitiesAsync may end up in infinite loop"
## Version
4.7.2

## Describe the bug
The `ContinuationToken` within the `MemoryTranscriptStore.GetTranscriptActivitiesAsync` relies on last `Activity.Id` of loaded `PagedResult`.
`Microsoft.Bot.Builder.AI.QnA.QnAMaker.GetAnswersRawAsync` emits trace activities with `Activity.Id` being set to empty string (`""`).
When invoking `MemoryTranscriptStore.GetTranscriptActivitiesAsync` it may happen that

[2020-04-02 12:41] vipeketi commented on #3639
Thanks for reporting. we have found a bug in handling special characters, for Filters. We will fix this in an upcoming release of QnAMaker Service.

[2020-04-02 18:08] vishwacsena commented on #3666
@boydc2014 do we have existing card action validations? If so, we should consider lifting it to match the underlying type.

[2020-04-02 21:21] vidyakdil opened #3667 "Rendering channel specific rich responses"
Facebook channel has it's own set of rich responses like Generic template, Media template etc. These cannot be rendered using the templates we have in LG. Currently I'm able to render media template using the format of the Animation card in the following way. Is this the right way to do this.

1. If not could you please specify a way by which we can render channel specific rich responses using LG

[2020-04-02 21:22] vishwacsena commented on #3667
LG is unopinionated about the structured payload. @boydc2014 can we evaluate what's getting in the way of being able to define [facebook templates][1] via structured LG?

[1]: https://developers.facebook.com/docs/messenger-platform/send-messages/templates

[2020-04-02 21:23] vishwacsena commented on #3666
related #3667

[2020-04-03 02:32] Crazedpeanut opened #3671 "OauthInput throws NullReferenceException when Prompt is not defined"
There is an inconsistency with BeginDialogAsync and ContinueDialogAsync. A default prompt is created during BeginDialogAsync flow, however ContinueDialogAsync will throw an exception

https://github.com/microsoft/botbuilder-dotnet/blob/f7bc2e82b2a0ad6a6a96e179d657e7cbcd9720d5/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs#L225

For now, we need to define both Text and Prompt

[2020-04-03 04:23] chrimc62 commented on #3652
An alternative would be to add to adaptive expressions the ability to define custom functions in terms of other expressions.  Something like `define("foo(a, b, c)", a + b + c)` which would build an evaluator for "foo" that would take 3 args a, b, c and is defined in terms of other expressions and define that as a custom function.  The problem with using .lg is that it mixes the layers and you have

[2020-04-03 04:46] Danieladu opened #3673 "Loose Expression grammar to tolerate more arbitrary expression"
Currently, if the expression is wrong with syntax error, unreadable error message prompted by Antlr library would be shown.
Expression library should loose some grammar to catch these knowable error messages,  and throw them with readable/friendly message.
[enhancement]

[2020-04-03 06:21] ssss141414 opened #3680 "foreach nesting error"
## Describe the bug
When I resolve a complicated json, I put a foreach inside another foreach.
Inner foreach will cause a error(even if doing nothing, only enumerating).

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:
1 Let's have a test string:

{
	"value": [{
			"id": "AAMkAGRmMzk5OG

[2020-04-03 06:35] ssss141414 opened #3674 "Need base64() to support byte[]"
**Is your feature request related to a problem? Please describe.**
When I make a httpget to get a image, the response.content is like this:
![image](https://user-images.githubusercontent.com/18118994/78330956-a4a58f80-75b7-11ea-9549-1d38b207383a.png)
I think they are byte arrays. (Maybe they aren't, but please support converting this type)

Use base64() won't get correct base64 string.
![image](ht

[2020-04-03 09:34] KayMKM opened #3677 "ticks unit is not consistent with formatDateTime parameter"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The unit of ticks is count of 100 nanoseconds from 0001

[2020-04-03 18:23] johnataylor commented on #3660
We don't have a translation middleware in the product, however, we do have on ein the samples. Could you be clear what you are using here?

Did you try placing a breakpoint in the middleware code?

The behavior of the sample can be a little confusing because it does swap backwards and forwards - it works to demonstrate that translation can be effectively done in a middleware, however a real applic

[2020-04-03 21:18] clearab opened #3678 "Update DialogManager to work with Skills (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5792)

[2020-04-03 21:19] clearab commented on #3678
Closing as duplicate.

[2020-04-03 21:19] #3678 closed

[2020-04-03 21:39] clearab opened #3679 "Add support to SkillDialog so SSO works with expectReply (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5780)

[2020-04-03 22:58] clearab opened #3681 "Auto-generate skills manifest from declaratively defined adaptive dialogs"
## Tracking Status

**Dotnet SDK** (Tracked in []())
- [ ] PR
- [ ] Merged

**Javascript SDK** (Tracked in []())
- [ ] PR
- [ ] Merged

[2020-04-03 23:02] vishwacsena commented on #3680
Here is a repro

[code]

[2020-04-03 23:44] clearab opened #3682 "I can Update and Delete activities from a Skill (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5788)

[2020-04-04 00:03] clearab opened #3683 "Support for proactive messages initiated by a skill (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5594)

[2020-04-04 01:39] clearab opened #3684 "Skill consumers should not be able to send Activities to skills without a recipient (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5785)

[2020-04-04 03:02] Zerryth commented on #3665
Ah, nvm, got it 😄!

![image](https://user-images.githubusercontent.com/35248895/78417317-a8e8a180-75e5-11ea-9bc7-53aafaf2ea0f.png)

And yes, I see that the transcript logger is indeed storing activities without an id.

Got the repro down, and I'll work on a fix. We shouldn't store activities without an id in the transcript.

[2020-04-04 18:28] EricDahlvang commented on #3659
@Jeffders are some other steps or prereqs required to reproduce this?

The exact steps I followed:

- downloaded the vsix: https://marketplace.visualstudio.com/items?itemName=BotBuilder.botbuilderv4

- created an EchoBot

- upgraded Microsoft.Bot.Builder.Integration.AspNet.Core to 4.8

- added Microsoft.Azure.Cosmos 3.7.0

- deployed to Azure from VS 2017, creating a new app service

- the app ser

[2020-04-05 02:02] gtejeda opened #3685 "replacedialogasync vs BeginDialogAsyc"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

Greetings.
I did not find a clear answer to this question, so I post it here in case any of you have the time to answer

thanks tons,
Geo

[2020-04-05 05:13] nebhagat opened #3686 "Update Activity method from Virtual Assistant"
**Is your feature request related to a problem? Please describe.**
I want to attach a skill which refreshes cards to Virtual Assistant. With current SDK, refreshing cards via VA is not supported.

**Describe the solution you'd like**
`SkillHandler` class does not implement `OnUpdateActivityAsync` . Individually skill can refresh the cards but not when consumed by a Virtual Assistant.

**Describe a

[2020-04-06 16:20] chrimc62 commented on #3647
Fine with me to delete.

[2020-04-06 16:24] chrimc62 commented on #2547
Checked into both botframework-cli and botbuilder-dotnet.

[2020-04-06 16:24] #2547 closed

[2020-04-06 16:57] clearab commented on #3686
Hi - This work is planned to be completed in our next release. Please see [this issue](https://github.com/microsoft/botframework-sdk/issues/5788) for tracking.

[2020-04-06 17:16] v-kydela commented on #3685
Hello @gtejeda

It looks like you're trying to ask a question. I'm happy to help, but we prefer to keep how-to questions on Stack Overflow. Please read [this help document](https://stackoverflow.com/help/how-to-ask) to know how to ask a good question to make sure you can get a good answer.

In the meantime, I can tell you that the difference between ReplaceDialogAsync and BeginDialogAsync is that

[2020-04-06 17:16] #3685 closed

[2020-04-06 18:11] cleemullins commented on #3671
@tomlm, can we please get an update.

[2020-04-06 18:14] cleemullins commented on #3656
@garypretty, any update on this?

[2020-04-06 18:46] cleemullins opened #3687 "Add Serialization Tests to builds for Adaptive Dialogs"
We want to catch regressions in class/scheme breaks. The build system is the best way to do that.

Consider using Dialog Verify.

[2020-04-06 18:48] cleemullins commented on #3647
This has been done.

[2020-04-06 18:48] #3647 closed

[2020-04-06 18:54] johnataylor commented on #3660
@JBrownie77 I'm not clear exactly what you mean when you say "some of the static phrase Activity variables"

The middleware is sample code - every activity sent a received from the application should invoke that middleware. Perhaps you can put a breakpoint in the middleware just where the translation api is being invoked.

Incidentally, this seems more of a samples issue than a product issue. We d

[2020-04-06 20:59] BruceHaley commented on #3599
Completed pipelines are:
build: BotBuilder-v3-DotNet-master-daily
release: Push-BotBuilder-v3-DotNet-Master-to-MyGet
release: [[PROD]]Push-BotBuilder-v3-DotNet-Master-to-Nuget

[2020-04-06 20:59] #3599 closed

[2020-04-06 23:24] DavidStrickland0 opened #3688 "QnAMakerDialog Support for IBotTelelmetryClient"
**Is your feature request related to a problem? Please describe.**
QnaMaker Cognitive Service does not return Telemetry info. QnAMaker supports Telelmetry if an Implementation of the IBotTelelmetryClient is provided at time of Construction.

**Describe the solution you'd like**
Add a telelmetryClient  parameter of type IBotTelelmetryClient on Line 117 of The QnAMakerDialog.cs constructor signature

[2020-04-06 23:27] Zerryth commented on #3665
Aaaand this is why weekends are important, because sometimes you're so tired, you see what you want to see.

The screenshot I took was not actually me reproducing the bug that you are describing--you see `["trace"]""` with empty string next to trace, but that doesn't mean the Id is missing, but only that it doesn't have any `Text`.

Trace in Transcript/PagedResult:
![image](https://user-images.git

[2020-04-07 00:49] zap7 opened #3689 "Bot builder template for visual studio 2019 for mac"
Please create a bot builder template for visual studio 2019 for mac. I'd like to easily create a bot using templates for v4 of the ms bot framework. It would be great if there was nice easy way to rich multi-turn create conversational flows with a bot composer like tool as well and if this was all embedded together.

[2020-04-07 01:31] Danieladu commented on #3677
The simplest way to convert ticks to unix timestamp in Expression is  `unixTimestamp = (ticks – 621355968000000000) / 10000000`.

I am not sure if we should add a builtin function that convert from ticks to unix timestamp and from unix timestamp to ticks too.

[2020-04-07 01:43] Danieladu commented on #3674
Expression may should output byte array for the `binary format output function` instead of the binary string, such as `Base64ToBinary`, `DataUriToBinary`, `Binary` .etc.
for example, expression `binary('hello')` would output `"0110100001100101011011000110110001101111"`
But the real binary is a byte array.

And Expression should support byte array input for the corresponding conversion. e.g. `Base6

[2020-04-07 03:37] nebhagat commented on #3686
Thanks!

[2020-04-07 03:37] #3686 closed

[2020-04-07 05:56] mrmokilok opened #3691 "[Direct Line] Microsoft.Bot.Connector.DirectLine Local on conversationUpdate"
## Version
SDK Platform: .NET
SDK Version: 3.0.2
Active Channels: Direct Line
Deployment Environment: Custom Azure Bot Service, Azure App Service

## Describe the bug
Neither Directline client nor conversations.StartConversation() allows setting language/local property, in the same way the webchat.js does. This means conversationUpdate activity doesn't have valid Locale property.

## To Reproduce

[2020-04-07 06:28] luhan2017 commented on #3680
I did some investigation on this, and found this is because the outer and inner foreach loop are both using "dialog.foreach.index" and "dialog.foreach.value". the inner dialog,foreach.index is overwriting the outer one. I suggest we should support user to customize the index and value field in foreach.

[2020-04-07 06:58] luhan2017 commented on #3636
@vishwacsena, can we update the ordering of the schema definition, put all the expressions at the front of other types? Then composer user will by-default treat all field as expression.
![image](https://user-images.githubusercontent.com/32191031/78639106-f6178c80-78df-11ea-8000-fd03a09e3cc3.png)

[2020-04-07 08:47] xhr0804 opened #3700 "Prompt output format error & enhancement"
## Describe the bug
When I use _**prompt for date**_, the suggestion is "**this.value[0].Value**", but when I set it to "this.value[0].Value", the result is "**your meeting is for this.value[0].Value**"
![image](https://user-images.githubusercontent.com/44257569/78648018-f7e84c80-78ed-11ea-85c1-62ac223d5b38.png)
![image](https://user-images.githubusercontent.com/44257569/78648223-47c71380-78ee-11e

[2020-04-07 08:54] Danieladu opened #3692 "[DCR][LG]Improve the robustness of templates CRUD"
Nowadays, customers of LG library (e.g. Composer) use Templates CRUD method to modify the original templates.

The process of each modification is like: modify the original content according the parse tree, and then override itself by parsing the  new LG content. So, there exists such situation:
Something is wrong with the content, maybe with some syntax errors during the parsing, this may cause t

[2020-04-07 09:33] garypretty commented on #3656
@DavidStrickland0 Are you able to provide me with the different anonymous channels that you are currently / planning to use?  It's also not clear to me if you have control of the web chat implementations for your bot - can you clarify?

[2020-04-07 09:40] xhr0804 opened #3940 "Output format does not work for Date Prompt"
## Describe the bug
When I use "Prompt for date", I want to set the output format to int, but I can not make it. (tried some other built-in functions, also not work.) Is there any introduction for this, which kind of format can we use here?
![image](https://user-images.githubusercontent.com/44257569/78654153-bad48800-78f6-11ea-9bcc-ee24f7f82311.png)

## Version

## Browser

- [x] Chrome
- [ ] Safa

[2020-04-07 10:15] DavidStrickland0 commented on #3656
@garypretty At this point the only anonymous channel we are offering is the Web Channel that however will change as our clients request additional avenues of engagement. If there is another Anonymous channel that Microsoft supports out of the box I'm fairly certain we'll end up having to support it eventually.

As for control of the Web Chat Implementations given its an open platform that anyone c

[2020-04-07 10:21] garypretty commented on #3656
@DavidStrickland0 just so I am clear, you have created the bot, but then are allowing other developers to implement their own web chat interface to talk to the bot?  If you are building your own web chat interface then you should be able to secure this so that only your web chat implementation can communicate with the bot.  Are you using the token API approach?  You can find the links to doc for t

[2020-04-07 11:00] DavidStrickland0 commented on #3656
At the end of the day every web channel bot is an API sitting behind an Api at
https://directline.botframework.com/v3/directline/conversations.

Not certain how a Token Api Approach will help. We are using it but that really just gives us tracking. If an Anonymous user can get a token all it does is add one more step in the process of gaining access... Get the token then access the bot. We can put

[2020-04-07 15:33] sschutten opened #3699 "endOfConversation sent when root dialog of root bot completes"
## Version
4.8.0

## Describe the bug
I have a root bot that calls a skill, similar to the [81.skills-skilldialog](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/81.skills-skilldialog) sample. When the skill replies, The [RunAsync](https://github.com/microsoft/botbuilder-dotnet/blob/65fc09fc126bdf69786fc22b925c52d0eb0dcc8a/libraries/Microsoft.Bot.Builder.Dial

[2020-04-07 15:41] igarcia7 commented on #3688
We are also experiencing the same issue as above. We recently migrated to Bot.Builder Version 4.7.2 to be able to add skills to our VA, but our Power BI Dashboard for QnA Telemetry is no longer being recorded.

In the EventTelemetry table in Power BI Dashboard -  QnA_knowledgeBasedId and QnA_Answer are no longer being recorded.

[2020-04-07 17:41] vishwacsena commented on #3696
@xieofxie is your expectation that in both cases, we overwrite any value that already exists for that property? I do not think that is right behavior so we do not stomp over values that you set previously.

@boydc2014

[2020-04-07 17:44] vishwacsena commented on #3692
@Danieladu do we need this in R9?

[2020-04-07 17:53] vishwacsena commented on #3652
@chrimc62 Isn't both dialog and LG use a common expression engine instance? If not true, we should fix that because without it users cannot register additional functions to expressions that is available in both dialog and LG.

Now with dialog and LG sharing the same expression instance, the real question here is if LG should add the templates to the function table. I'd say it should for all the re

[2020-04-07 17:54] vishwacsena commented on #3645
@clearab @gabog can you help triage?

[2020-04-07 18:07] johnataylor commented on #3699
@gabog can you comment on this issue.

[2020-04-07 18:09] johnataylor commented on #3689
@sgellock  can you comment

[2020-04-07 19:42] sgellock commented on #3689
@zap7 Thank you for opening the issue.  At this time I don't see us creating a Visual Studio extension for the Mac version of Visual Studio.  That said, we built .NET Templates that will produce the same code that the VS for Windows extension creates.  You can install and run these templates on your Mac and open the generated code using VS for Mac.  Here is a pointer to docs on how you can do this

[2020-04-07 19:42] #3689 closed

[2020-04-07 19:44] cwhitten commented on #3700
Transferring to botbuilder-dotnet and tagging @vishwacsena

[2020-04-07 22:41] EricDahlvang opened #3702 "Catch and properly handle exceptions from OAuthPrompt.ExchangeTokenAsync"
## Version
4.8.0

## Describe the bug
During token exchange flow, if the user has never provided consent, the following will throw an exception related to 'consent required':
[OAuthPrompt.cs#L499](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L499)

[code]
This exception should be caught, and an invoke response sent back t

[2020-04-07 22:54] v-kydela commented on #3643
@bojingo - Are you still working on this?

[2020-04-07 23:55] xieofxie commented on #3696
@vishwacsena I think these bugs are caused by {} is not a new local variable.

In the first case, when using {} in AddProperty for the second time, it still refers the first {} in AddProperty, so the error occurs: 'a already exists'

In the second case, when in select, I assume it could be interpreted as
[code]
And all locals refer to the same {}, so result will be an array of same last task.

[2020-04-08 03:45] luhan2017 commented on #3700
@vishwacsena, I think we need to update all the examples of the schema, there is a lot of cases missing a "=" in the examples.

[2020-04-08 05:42] cosmicshuai commented on #3695
The reason user.a-user.b returns null is, in Expression, we allow user to use '-' in identifiers. Users can use '#bf-activity123' as a template name, and '-${bf-activity123()}'  to call a template name as a function.
It is ambiguous whether 'a-b' is an binary operation or an viriable name under our current token rules.
So the solution should be either we will not allow using '-' in viriable names

[2020-04-08 06:32] xieofxie commented on #3695
Yeah.. the same applies for !=. Maybe we should follow common naming rules in the first place :-)

[2020-04-08 07:34] boydc2014 commented on #3695
We should not allow "-" in IDENTIFIER, @vishwacsena

[2020-04-08 07:37] boydc2014 commented on #3696
This is an issue the our "{}" is only tighted to one specific instance, we are fixed that in the PR above.

[2020-04-08 07:41] #3625 closed

[2020-04-08 07:48] Danieladu commented on #3692
Yes, We are about to work on this issue.

[2020-04-08 09:05] zidaneymar commented on #3666
currently LG only handles the following buttons types:

    {
        public const string OpenUrl = "openUrl";
        public const string ImBack = "imBack";
        public const string PostBack = "postBack";
        public const string PlayAudio = "playAudio";
        public const string PlayVideo = "playVideo";
        public const string ShowImage = "showImage";
        public const string Down

[2020-04-08 09:44] gurvsing commented on #3642
Yes, I agree. That is something that we missed, I will add a task to move this into the function. Thanks

[2020-04-08 09:49] gurvsing opened #3705 "[QnA Maker] Active learning lowVariationFilter function"
## Describe the bug
Moving the check to call for LowScoreVariation, inside the function
For more detail: https://github.com/microsoft/botbuilder-dotnet/issues/3642

[2020-04-08 10:36] garypretty commented on #3656
Having confirmed with other members of the team internally, right now you will only receive the information received via the HTTP request, which is going to vary between channel / networking. You can, as you mentioned, use the extensibility options of the latest web chat control to send additional information along on the incoming activity. You could also use something like the HTML5 capabilities

[2020-04-08 10:36] #3656 closed

[2020-04-08 12:04] DavidStrickland0 opened #3706 "Make QnA Training Thresholds Configurable"
**Is your feature request related to a problem? Please describe.**
We would like to actively train our QnA models more in development then in production. In production we'd like to have the standard thresholds for training. While in development we'd like very low threshholds. Practically any question that has multiple answers we'd like to train.

**Describe the solution you'd like**
Be great if we

[2020-04-08 12:09] DavidStrickland0 commented on #3703
@vidyakdil Not certain if its related or not but we had a similar situation. Bot worked fine in webchannel but failed with a serialization error in Messenger and the Issue was related to the fact that Facebook invokes authentication by default while the webchat does not. Thus the user gets serialized and deserialized.
see: https://stackoverflow.com/questions/60400935/why-does-my-azure-web-app-bot-

[2020-04-08 13:36] xhr0804 opened #3710 "Can not access json field in sub dialog"
## Describe the bug
I have Dialog A and Dialog B. In Dialog A, when I get an oauth token, and pass the token Object to B. In Dialog A, I can access the Object as ${dialog.token}, but when I use ${dialog.token.token}, the result will be null.
In dialog B:
![image](https://user-images.githubusercontent.com/44257569/78790193-c2705b80-79e0-11ea-9664-b062c9431bc9.png)
![image](https://user-images.githu

[2020-04-08 16:30] adlele opened #3708 "UTF-8 BOM (Byte Order Mark) is incorrectly added to the BotFrameworkHttpAdapter.processAsync raw response"
The raw Http Response for ```BotFrameworkHttpAdapter.processAsync```  has the [UTF-8 BOM](https://en.wikipedia.org/wiki/Byte_order_mark) character added in the beginning

it looks like ``` ï»¿ ``` in the raw http response

https://github.com/microsoft/botbuilder-dotnet/blob/65fc09fc126bdf69786fc22b925c52d0eb0dcc8a/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/HttpHelper.cs#L7

[2020-04-08 17:25] cwhitten commented on #3710
transferred to botbuilder-dotnet and assigned @vishwacsena to look at it

[2020-04-08 17:35] garypretty commented on #3388
Pushing to R10 as cleared with @cleemullins

[2020-04-08 17:41] vishwacsena commented on #3674
We need to tend to this ASAP to get the skills/ composer effort unblocked.

[2020-04-08 17:42] vishwacsena commented on #3645
We need to tend to this ASAP to get the skills/ composer effort unblocked. Tagging as P0, R9

[2020-04-08 17:47] vishwacsena commented on #3698
@tomlm are all property values interpreted as strings? Tagging P2 given the workaround to do `=int(settings.propertyName)`

[2020-04-08 17:58] vishwacsena commented on #3565
Related to #3666 #3667

[2020-04-08 18:15] v-kydela commented on #3565
@vishwacsena - Sorry for not getting back to you about this. I am no-access and cannot message Microsoft employees without their Microsoft email addresses, but I made sure to push the cards branch again. It has been accidentally deleted a few times now.

Anyway, you can reproduce the issue using any sample with cards. Just click on a button in Facebook Messenger.

[2020-04-08 18:53] cleemullins commented on #3666
@vishwacsena, I'm not sure what we're doing with this issue given @zidaneymar's response. Should we close this, or is there a work item for us?

[2020-04-08 19:01] cleemullins commented on #3646
@vishwacsena, this is a P0 Design Change. I've assigned it to you, as we need resolution here immediately ("P0").

[2020-04-08 19:04] cleemullins commented on #3645
There may be changes requires in Python and JS as a result of this to keep them in sync.

[2020-04-08 19:05] cleemullins commented on #3636
@vishwacsena, This is a P0 that's been open for 13 days. How best can we drive this forward?

[2020-04-08 19:07] cleemullins commented on #3634
@vishwacsena, @tomlm this is a P0 that's been sitting for 12 days. How can we drive this forward?

[2020-04-08 19:07] vishwacsena commented on #3666
@cleemullins I know LG is un-opinionated. If the customer ask is possible via a non adaptive bot, then it should be made possible via adaptive/ LG as well. I sent you a mail on this as well. Can we get someone familiar on the team with FB messenger to work with the STCA team on this? I'd like to see the customer scenario unblocked.

[2020-04-08 19:08] cleemullins commented on #3628
@vishwacsena, this is a P0 bug that's been sitting for 13 days. How can we drive this forward?

[2020-04-08 19:08] vishwacsena commented on #3646
@cleemullins we reviewed this in the weekly LG sync last week and @boydc2014's team is on point to implement this for R9.

[2020-04-08 19:09] cleemullins commented on #3626
@carlosscastro, this is a P0 bug that's 2 weeks old. How can we push this forward?

[2020-04-08 19:09] vishwacsena commented on #3636
@cleemullins @tomlm  and I chatted this morning. @tomlm is doing a pass on all component schemas to address this and other issues. In scope for R9.

[2020-04-08 19:10] cleemullins commented on #3617
@carlosscastro, this is a P0 bug that's been open for 2+ weeks. How can we drive this forward?

[2020-04-08 19:11] cleemullins commented on #3615
@chrimc62 Can you provide an answer to @tomlm before we take the PR that @Danieladu provided?

[2020-04-08 19:15] cleemullins commented on #3611
Added to R9 manual testing release criteria.

[2020-04-08 19:15] #3611 closed

[2020-04-08 19:16] cleemullins commented on #3590
@carlosscastro, are you able to drive this to closure, or would you like help? @mrivera-ms will volunteer to help if you need it. :)

[2020-04-08 19:17] cleemullins commented on #3585
@vishwacsena, @tomlm This is a P0 bug with no forward progress for 22 days. How can we push this forward?

[2020-04-08 19:19] cleemullins commented on #3583
@garypretty, can you drive this to closure? Seems like a very nice feature to have, allowing increased flexibility with regards to containers.

[2020-04-08 19:21] cleemullins commented on #3572
@vishwacsena, this is a P1 bug with no forward progress for 24 days. How can we drive this forward?

[2020-04-08 19:21] cleemullins commented on #3567
@vishwacsena, this is a P0 bug with no forward progress for 25 days. I don't believe the work described here will fit in the remaining R9 time frame. Let's discuss priorities, and consider pushing this work.

[2020-04-08 19:24] cleemullins commented on #3565
@vishwacsena, @v-kydela This is a customer reported P1 bug that's been opened for 60+ days. How can we push this forward?

[2020-04-08 19:26] cleemullins commented on #3558
@tomlm, @vishwacsena This is a P0 bug with a very scary title and little detail that's not moved forward in 26 days. How can we push this forward?

[2020-04-08 19:26] cleemullins commented on #3557
@tomlm, @vishwacsena this is a P0 bug that's not moved forward in 25 days. How can we push this forward?

[2020-04-08 19:27] cleemullins commented on #3553
@vishwacsena, this is a P0 bug that's not moved forward in 26 days. How can we push this forward?

[2020-04-08 19:28] cleemullins commented on #3551
@vishwacsena This is a P0 bug that's not moved forward in 27 days. How do we push this forward?

[2020-04-08 19:29] cleemullins commented on #3528
@vishwacsena, @tomlm this will result in breaking changes, if we don't do it soon.

[2020-04-08 19:30] cleemullins commented on #3523
@vishwacsena This is a P0 bug that's not moved forward in over a month. How do we push this forward?

[2020-04-08 19:32] cleemullins commented on #3472
@garypretty, I believe this is the QnA Maker telemetry issue.

[2020-04-08 19:36] cleemullins commented on #3407
@vishwacsena This is a P1 bug that's been sitting for 2 months. How can we push this forward?

[2020-04-08 19:38] cleemullins commented on #3406
@clearab, this is a self-assigned issue from 2 months ago. How can we push this forward?

[2020-04-08 19:39] cleemullins commented on #3405
@clearab, Has teams shipped this? If so, can we assign to one of our engineers to make the enhancement? @mdrichardson is a good candidate to drive this across the platform.

[2020-04-08 19:41] cleemullins commented on #3364
@vishwacsena, this is a P1 bug with no forward progress for 2+ months. How can we drive this forward?

[2020-04-08 19:42] cleemullins commented on #3210
@vishwacsena, this is a P0 bug from December. How best to push this forward?

[2020-04-08 19:43] cleemullins commented on #3180
@chrimc62 This issues is from December. How do we push it forward?

[2020-04-08 19:43] cleemullins commented on #3172
@vishwacsena, this bug is from December. Should we close it?

[2020-04-08 19:44] cleemullins commented on #3063
@vishwacsena, should we close this? IT's been here since early December, making it more than 5 months old.

[2020-04-08 19:45] cleemullins commented on #2869
@vishwac, this is a P1 issue that's 6+ Months old. How (if?) do we push it forward?

[2020-04-08 19:47] cleemullins commented on #2385
@vishwacsena, this is a P0 bug from Aug 7, making it 9 months old. If we push to R10, we can celebrate it's 1-year birthday.

[2020-04-08 19:48] vishwacsena commented on #3210
@Stevenic was tp draft up an implementation for this. @Stevenic any updates?

[2020-04-08 19:48] cleemullins commented on #2230
@vishwacsena, this is a P1 bug from July. This is another 9-month old issue that's quickly coming up on it's 1-year birthday.

[2020-04-08 19:49] cleemullins commented on #2081
Closing due to inactivty and compatibility issues.

[2020-04-08 19:49] #2081 closed

[2020-04-08 19:51] vishwacsena commented on #2230
Re-assigning to @tomlm in hope of being able to address this for R9. @carlosscastro possibly related to the looping issue you are planning to address with ReplaceDialog? Also note per my repro steps above, this only repros in declarative form and not in code based adaptive dialogs.

[2020-04-08 19:52] vishwacsena commented on #3572
@tomlm Is this a regression introduced as part of the R8 refactor we did to get EmitEvent to work with these adaptive event types?

[2020-04-08 19:55] garypretty commented on #3583
Absolutely. I have an open query with @tomlm. Will follow up tomorrow.

[2020-04-08 20:34] v-kydela commented on #3565
@cleemullins - It seems to me that one of the chief purposes of the Azure Bot Service is to adapt and convert HTTP payloads from various chat API's so that it can expose one common interface for bots to use. This normally works very well, but despite our efforts to unify various rich card systems into our set of Bot Framework cards it seems some care is needed on the bot developer's end to make su

[2020-04-08 22:00] vishwacsena commented on #3700
chatted with @tomlm this morning. He is going through all schema updates.

[2020-04-08 22:27] clearab commented on #3406
@cleemullins I think this makes sense as an R10 Issue.

[2020-04-08 22:51] vishwacsena commented on #3695
@boydc2014 you mean not have composer use bf-activity as the default template name? Not sure what you mean by identifier.

Immaterial of the composer issue, we must have user.a-user.b work without having to cast to int()

[2020-04-08 22:55] cleemullins commented on #3708
Interesting bug.

What makes the way we're doing it wrong?

[2020-04-09 01:56] #3674 closed

[2020-04-09 02:48] feich-ms commented on #3523
Sorry for the delay. I will send out a PR to resolve this by the end of this week.

[2020-04-09 04:00] boydc2014 commented on #3666
@vishwacsena

LG support render all BF defined common card types (hero, thumbnail) and BF defined action types like the list above, those will be translated to channel specific button type.

For example
[code]
will be render to facebook's format as
{
   type: "web_url"
   url: "http://..."
   title: "More ..."
}

Which we tested and verified it works.  So for `Rendering common card in FB channel`,

[2020-04-09 04:04] boydc2014 commented on #3666
@vidyakdil see the above for facebook's web_url action, and I'm closing this in favor of #3667 as once place to follow up "facebook tempaltes" support? feel free to reopen if you think this is for another intention.

[2020-04-09 04:04] #3666 closed

[2020-04-09 04:12] boydc2014 commented on #3695
By "IDENIFIER", i mean tempalteName, functionName or variableName, so we are going to not allow "-" in those places, "." or "_" is a recommendation

[2020-04-09 04:23] vishwacsena commented on #3695
Prefer `_`

[2020-04-09 04:58] boydc2014 commented on #3692
Just FYI, we discussed this offline, the solution i proposed is a two-phase parsing.

phase 1 will be parsing the structure, aiming for identify the boundary of template, this phase will be way robust than current, by not knowing the details of various template body format and only focusing on dealing with "#".
phase 2 will be parsing the template body, it could be also simplified, because some wo

[2020-04-09 05:05] boydc2014 commented on #3615
To @tomlm @cleemullins

@chrimc62  is not talking about we don't support return an array. He is referring to the static checking process in prebuilt functions, in which we require each function have a return type declaration, which can be ReturnType.Number | Object | Boolean, but we didn't defined ReturnType.Arrary before. This DCR to add array into that.

it's like previous
`function skip(x: any,

[2020-04-09 05:09] boydc2014 commented on #3565
Pasted my comments from https://github.com/microsoft/botbuilder-dotnet/issues/3666#issuecomment-611315133

LG support render all BF defined common card types (hero, thumbnail) and BF defined action types like the list above, those will be translated to channel specific button type.

For example

[CardAction
    Title = More information
    Value = https://www.microsoft.com
    type = openUrl
]
wil

[2020-04-09 05:52] Danieladu commented on #3703
Maybe you can just add the `message` value into channelData, So ChannelData for normal messages:
{"mid": "m_TmBzHQTfb1dxzAncC0thLmSH6DRNDyon4k8nJX8fclpZ0OBv4nCfubgtJvAhivh_awmq9kZ7SlXfh-JPTzcdlA","seq": 0,"quick_reply": {"payload": "Analyse my skin"},"text": "Analyse my skin","is_echo": false}

[2020-04-09 05:54] Danieladu commented on #3565
Get
![image](https://user-images.githubusercontent.com/7289268/78862232-7289a700-7a69-11ea-9f3e-6318438bf122.png)
using such LG:
[code]

With the latest code.

[2020-04-09 06:00] Danieladu commented on #3667
There are two ways to send a channel specific card to facebook channel, the first one, Dong has mentioned in another issue #3666 ,you can use a botframework compatible card, bot service would convert the normal bf card to channel specific card format.

The second way is to insert channel data in to the `channelData` property, example:
[code]

and finally the below result would get:
![image](https:

[2020-04-09 06:22] gabog commented on #3699
Hi @sschutten, just so I understand, you only see the BadRequest when running on the teams channel, not on the emulator, correct?

[2020-04-09 06:28] gabog commented on #3699
Hi @sschutten, thank you for the detailed description, I am able to repro the issue when using the teams channel. We will fix this in the next release.

[2020-04-09 06:38] boydc2014 commented on #3407
@cleemullins  this is not a bug, this is a feature requirement, and customer is asking about directly supported the interface to deal with Assembly. As a core library, I don't think it's the library's concern of where the files actually stores. And we've already provided generic approach through delegate for user to implement on there customized storage.

So I would suggest @xieofxie to read out t

[2020-04-09 06:38] #3407 closed

[2020-04-09 06:43] boydc2014 commented on #2385
@cleemullins

The issue is old because that, this issue is initially created for tracking debugability for Adaptive, which is supported in R8 already, then in the end of R8 and starting of R9, we start talking about we should include LG debug ability as well. So the timeline changed to R9, but scope expanded.

[2020-04-09 06:45] xieofxie commented on #3407
@boydc2014 could we customize/override fromFile? Thanks

[2020-04-09 06:47] boydc2014 commented on #3407
fromFile is just a function, you can create own customize function like fromMyFile, see LG tests `TestForCustomizedFunctions` for example, but it's not recommended to override existing pre-built function.

[2020-04-09 06:49] boydc2014 commented on #3407
@xieofxie will this help?

[2020-04-09 06:51] xieofxie commented on #3407
Got it, thanks~

[2020-04-09 06:51] cwhitten commented on #3553
I like to consider an update to the DCR.

Some context:

Today the language policy looks like this:

[code]

When the locale on the input matches key "en-US" for resource "foo", the progression will be: `foo.en-US`, `foo.en`, `foo`. If no resource is found it's an error.

In multi-lingual first authoring environment, we're not generating non-locale resource files--there is always a language serial

[2020-04-09 06:58] boydc2014 commented on #3553
I like the update to this @cwhitten, this would make it easier to configure a customized policy. most of time, people just override the entry of "".

Also link to issues blocked by this:
https://github.com/microsoft/BotFramework-Composer/issues/2427
https://github.com/microsoft/BotFramework-Composer/issues/2426

And any facebook related issues will be blocked by this, because FB is not sending loc

[2020-04-09 07:20] sschutten commented on #3699
Hi @gabog, yes, this is only on the Teams channel, not on the emulator. For now I've come up with the following workaround in the `OnEndOfConversationAsync` override of my TeamsActivityHandler implementation. Basically I remove the appid claim so the `SkillValidation.IsSkillClaim` will return false. If you have a more elegant workaround, I'm happy to hear that.
[code]

[2020-04-09 08:26] #3615 closed

[2020-04-09 09:07] pchoudhari commented on #3688
Hi, we are investigating this issue. Will update shortly.

[2020-04-09 09:15] garypretty commented on #3688
@pchoudhari @vipeketi I will take this one.  It is related to the work I am doing today for adaptive telemetry.

[2020-04-09 09:23] pchoudhari commented on #3706
Thanks for the recommendation, @DavidStrickland0 . We will put this in our backlog. Will update with an ETA.

[2020-04-09 10:31] xhr0804 opened #3720 "invalid value for Date Prompt will cause infinite loop"
## Describe the bug
When I configure the default value as "30" for Date Prompt, it is a invalid value. But I this will cause an infinite loop when I chat with the bot.
![image](https://user-images.githubusercontent.com/44257569/78885945-04a4a600-7a90-11ea-8ce1-72bdf0e99217.png)
![image](https://user-images.githubusercontent.com/44257569/78886013-21d97480-7a90-11ea-8dee-c3b7152119b1.png)

## Versio

[2020-04-09 10:32] DavidStrickland0 commented on #3656
Gary thanks for looking at this.
After looking again at the docs for webchat Authentication https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#security-considerations

I realized I was missing the fact that the Token Request returns both a token and a ConversationID. This presumably will allow me to tie the conve

[2020-04-09 13:33] DavidStrickland0 commented on #3472
dupe of #3688 or visa-versa

[2020-04-09 13:46] DavidStrickland0 opened #3714 "QnaMakerDialog Volitile call of GetLowScoreVariant causing inconsistent results."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Describe the bug
https://github.com/microsoft/botbuilder-dotnet/blob/e1c3048788e024929b7b51ebf927164a3283a57f/libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMaker

[2020-04-09 15:00] johnataylor commented on #3438
This is purely internal cleanup.

Besides which there is little point in renaming this (agreed this is an unfortunate name, albeit an accurate name) ultimately this will be deleted.

Lowering the priority as this is strictly an internal class (in fact an internal member class of another class) and we are in the process of investigating whether it is even still required.

[2020-04-09 15:36] garypretty commented on #3688
Duplicate of #3472. Closing.

[2020-04-09 15:36] #3688 closed

[2020-04-09 16:20] v-kydela commented on #3565
@boydc2014

There seems to be some misunderstanding here. The problem was never that card actions don't render correctly in Facebook Messenger. This Facebook problem is specifically about incoming card actions and not outgoing card actions, and `openUrl` has no incoming action. The Bot Framework has three card action types that post a message back to the bot, and they all get converted to Facebook

[2020-04-09 16:35] vishwacsena commented on #3716
@tomlm can you look at this as part of your other schema updates? The ask here is for us to verify and have a correct set of 'required' property markings for all components.

[2020-04-09 17:03] vishwacsena commented on #3710
@luhan2017 I cannot repro this as a generic issue with BeginDialog. @luhan2017 can you take a look to see if this is specific to OAuth?

[code]

[2020-04-09 18:44] vishwacsena commented on #3553
I like this. @cwhitten am I correct in understanding this?

1. Composer will never write out resource files without a lang code.
2. It is possible that the incoming activity from a channel might not include a locale. To handle these cases we want the bot author to be able to specify a fall back locale to handle empty locale. E.g. I want to default this to `en-us`.
3. It is possible that for the lo

[2020-04-09 20:08] johnataylor commented on #3671
@Crazedpeanut can you update your PR as @Stevenic suggests?

[2020-04-09 23:08] JonathanFingold opened #3719 "Rename QnAMakerDialog2 to something more meaningful"
## Version
What package version of the SDK are you using: master

## Describe the bug
Having a `QnAMakerDialog2` that derives from `QnAMakerDialog` is confusing and doesn't help differentiate the two classes from each other.

## To Reproduce
Steps to reproduce the behavior:
1. Look at the signature: https://github.com/microsoft/botbuilder-dotnet/blob/43fd9e605009794ff78b68b38e06b360a4617ebe/librar

[2020-04-10 00:14] Danieladu commented on #3565
just receive the message `click me intent`

[2020-04-10 00:50] boydc2014 commented on #3551
Note: let VA try before merge and close

[2020-04-10 01:07] boydc2014 commented on #3364
tracked via #3646

[2020-04-10 01:07] #3364 closed

[2020-04-10 01:59] xhr0804 commented on #3710
@vishwacsena thanks for the reply. "=dialog.token" works! Previouly I used the "${dialog.token}", and it failed.

[2020-04-10 02:07] luhan2017 commented on #3710
Great, thanks @xhr0804, and @vishwacsena.
As a follow up for this, I will create a sample in Composer for passing options in BeginDialog.

[2020-04-10 02:28] vishwacsena commented on #3710
Thanks all

[2020-04-10 02:28] #3710 closed

[2020-04-10 04:43] boydc2014 commented on #3565
@v-kydela  sorry i bring some other context that might confusing, because in other tickets users are asking
* how to render a specific type of button (web_url), and the answer is set type = openUrl,
* and how can we render `Facebook Templates`
see more context in https://github.com/microsoft/botbuilder-dotnet/issues/3667.

Anyhow, first part of my statement is saying, it renders well, and then whe

[2020-04-10 06:27] #3695 closed

[2020-04-10 06:32] luhan2017 commented on #3720
I tried to debug this and found this is actually an expected behavior in the current set up.

The prompt will
1. check for this.Property.
2. then check for this.Value.
3. check for activity.text then activity.value.

If this.Value is invalid in this round, it could become another value in next round....
The only thing we can do is to send an error message if the value is invalid?

@vishwacsena , a

[2020-04-10 07:48] pchoudhari commented on #3714
Thanks for reporting this. This seems like a dup of https://github.com/microsoft/botbuilder-dotnet/issues/3706. If the settings are configurable it would solve this, right?

[2020-04-10 08:36] Tiagojaduarte opened #3721 "Image and video cards no longer get rendered in Facebook Messenger"
## Version
4.8.0

## Describe the bug
I am using the new (preview) Microsoft.Bot.Builder.Adapters.Facebook.FacebookHelper and image or video cards no longer seem to be shown in Facebook messenger. I noticed the serialization of attachments is now done differently and disregards any property at the **Attachment** object level (except Content).

**Source**: Microsoft.Bot.Builder.Adapters.Facebook.Fa

[2020-04-10 09:25] DavidStrickland0 commented on #3714
No, In fact it will likely just make the issue more acute.
The settings are completely ignored when IsActiveLearning =false. So reguardless of what the setting is you can get an answer with Activelearning off that you wont get with active learning on. Easiest way to see this is crank the minimum up to 90 and ask a few ambiguous questions.
Minimizing the Current code involved and it goes something

[2020-04-10 16:20] LucaCerina opened #4509 "delay text output"
## Is your feature request related to a problem? Please describe.
When trying to fake the interaction with a real human, the user expects that the other end needs some time to write the response. The send response settings should allow a non-zero delay in the answer.

## Describe the solution you'd like

Either allow `new Activity { Type = ActivityTypes.Typing }` and `new Activity { Type = "delay"

[2020-04-10 16:40] vishwacsena commented on #3719
@tomlm we have LuisAdaptiveRecognizer. Would we make this QnAMakerAdaptiveDialog? Tagging this as P0 since we need to get this change in before we announce stable release or would lose the opportunity to rename this.

[2020-04-10 16:42] vishwacsena commented on #3720
@luhan2017 yes, I believe a reasonable way to catch this would be through validation. Resolving this since there is no product change expected here.

[2020-04-10 16:42] #3720 closed

[2020-04-10 17:22] chrimc62 commented on #3652
@tomlm any comments?

[2020-04-10 17:32] tomlm opened #3722 "[DCR] Extensions to component schema"
Working with PowerVA there are 3 area that have surfaced as missing functionality for describing the contract of dialog components and their consumption.

1. **result shape** We don't have a way of describing the shape of results for a dialog. For the most part we have been ok because we have been dealing with simple types in Input dialogs, but as we start to build more complex components we need

[2020-04-10 17:51] carlosscastro commented on #3626
@cleemullins I will tackle this one next week, ETA 4/27. I don't expect big surprises on this one.

[2020-04-10 18:04] cwhitten commented on #3691
@mrmokilok WebChat just passes the locale along with the Activity. If you construct an Activity and include the locale, it will be sent through the client.

[2020-04-10 18:05] #3691 closed

[2020-04-10 18:07] JonathanFingold opened #3723 "remove obsolete metadataBoost from QnA Maker queries"
## Version
What package version of the SDK are you using. **master**

## Describe the bug
QnA Maker's **GenerateAnswer** endpoint no longer uses the **metadataBoost** parameter; however, our code still includes it in queries.

## To Reproduce
Steps to reproduce the behavior:
1. Search for the parameter: https://github.com/microsoft/botbuilder-dotnet/search?q=metadataboost&type=Code
1. See error: T

[2020-04-10 19:29] T-Roth opened #3724 "Slack Adapter is not including the TriggerId in the Activity"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Microsoft.Bot.Builder.Adapters.Slack 4.8.0-rc0

## Describe the bug
The TriggerId from the request body is not being included in the activity object, so I ca

[2020-04-10 19:39] T-Roth opened #3725 "Expose the DialogOpenAsync so it can be called"
**Is your feature request related to a problem? Please describe.**
I need a way to open a dialog in slack from the adapter

**Describe the solution you'd like**
Expose the `SlackClientWrapper.DialogOpenAsync` method on the SlackAdapter so I can open a dialog in Slack

[enhancement]

[2020-04-10 19:46] vishwacsena commented on #3628
@cwhitten the capability exists in the SDK to express display text (description rendered on screen) .vs. value via `cardAction`. Here is the example in both C# sample as well as declarative JSON. Can you take a look and let us know if you need anything else to light up the card action experience in composer from a schema definition POV?

[code]

And here is the declarative form

[code]

[2020-04-10 19:56] mrmokilok commented on #3691
Yes, of course but the conversationUpdate is sent automatically and without locale.

[2020-04-10 20:08] cwhitten commented on #3628
What's going wrong in Composer is that we don't know the shape of `action`. What we are working off of is:
[code]

[2020-04-10 20:19] cwhitten commented on #3691
@p-nagpal can you comment to the Direct Line behavior with locales and conversationUpdate?

[2020-04-10 20:30] a-b-r-o-w-n commented on #3628
Yes. If the action type is known, adding that to the schema will drive support in composer.

I would expect it to look like

[code]

[2020-04-10 21:07] vishwacsena commented on #3628
@tomlm one more schema update.

[2020-04-10 22:36] EricDahlvang commented on #3708
https://tools.ietf.org/html/rfc8259#section-8.1

[2020-04-10 22:57] vishwacsena commented on #3652
@tomlm and I chatted and came up with a following scope reduction and clarification. The main goal for us to enable here is for customers to be able to inject specific functions to the global function table to be usable within dialog. We do not want to auto-inject all LG templates because
- in several cases, text expansion or structured response generation is not helpful/ useful inside dialogs.
-

[2020-04-10 22:59] vishwacsena commented on #3652
@boydc2014 any concerns? Can we do this in a clean way without any impact to non adaptive consumption of LG as well?

[2020-04-10 23:38] T-Roth opened #3726 "Slack Adapter is not including the Dialogs Submission values in the Activity"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Microsoft.Bot.Builder.Adapters.Slack 4.8.0-rc0

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reprod

[2020-04-11 01:28] p-nagpal commented on #3691
@mrmokilok @cwhitten the DirectLine channel service does not provide locale information in the ConversationUpdate messages outside the emulator. That said, this could be a useful feature addition. @mrmokilok, could we get some additional data from you?

1. In which scenario are you hoping to use the locale provided in the ConversationUpdate message? Are you able to get this locale information via

[2020-04-11 05:19] mrmokilok commented on #3691
In current scenario, I'm using it in web service, which interacts as an integraation client to some live chat services. And of course I did a work around, where I ignore the conversationUpdate event for directline conversations and send in my own conversations start with the locale set. As the bot can communicate with other channels as well, I see the need to build a workaround for one channels as

[2020-04-11 12:13] boydc2014 commented on #3652
No concern of impacting non-adaptive consumption.  Perhaps we can unify the options naming a little bit like
[code]

[2020-04-13 01:43] #3523 closed

[2020-04-13 02:51] ssss141414 opened #3729 "Empty foreach causes an error"
## Describe the bug
If foreach doesn't have body, it will cause an error.
![image](https://user-images.githubusercontent.com/18118994/79088259-ad931f80-7d74-11ea-9650-be557b779149.png)
![image](https://user-images.githubusercontent.com/18118994/79088241-a3712100-7d74-11ea-98d8-00ff117a6b9c.png)

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ]

[2020-04-13 10:35] vipeketi commented on #3642
Fixed with https://github.com/microsoft/botbuilder-dotnet/pull/3730

[2020-04-13 10:35] vipeketi commented on #3705
Fixed with https://github.com/microsoft/botbuilder-dotnet/pull/3730

[2020-04-13 10:35] #3705 closed

[2020-04-13 12:41] vipeketi commented on #3705
Duplicate of https://github.com/microsoft/botbuilder-dotnet/issues/3642

[2020-04-13 12:58] vipeketi commented on #3642
PR is merged. Fixed with #3730

[2020-04-13 12:58] #3642 closed

[2020-04-13 13:00] vipeketi commented on #3705
Duplicate of #3742

[2020-04-13 15:00] bojingo commented on #3643
Unfortunately, I don't have the bandwidth to investigate the first problem further. I updated my diagnostic code to work around the second problem (by pulling from TurnState directly in the correct way instead of using the Get method). I haven't seen the intermittent issue in some time, however...

I peeked into the PR and it looks to be spot-on for addressing the second problem. No objections fro

[2020-04-13 16:48] vishwacsena commented on #3722
@tomlm these can all be non breaking, additive changes post R9 - right?

[2020-04-13 17:07] vishwacsena commented on #3567
@boydc2014 Lowering to P1. Chatted with Scott. We should continue to execute on this to get a preview solution if possible in the R9 time frame but we will not block release.

[2020-04-13 17:10] vishwacsena commented on #2385
@boydc2014 chatted with Scott this morning. Tagging as P1.

[2020-04-13 18:02] axelsrz commented on #3726
Hey @garypretty could you give us an update on this? Thanks.

[2020-04-13 18:03] axelsrz commented on #3725
@garypretty could you comment on this one?

[2020-04-13 18:29] T-Roth opened #3733 "Slack Adapter is not including the Dialogs State value in the Activity"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Microsoft.Bot.Builder.Adapters.Slack 4.8.0-rc0

## Describe the bug
Dialog has a State property that is not being included in the Activity after submitting.

[2020-04-13 18:46] mrivera-ms commented on #3583
@garypretty, any news on this?

[2020-04-13 19:46] #3683 closed

[2020-04-13 20:00] mrivera-ms commented on #3530
Unlisted from Nuget.org:

- Microsoft.Bot.Builder.Skills (published as 4.6.3-preview)
- Microsoft.Bot.Expressions (published as 4.7.2-preview)
- Microsoft.Bot.StreamingExtensions

[2020-04-13 20:21] #3657 closed

[2020-04-13 20:26] jwiley84 commented on #3721
@Tiagojaduarte

My apologies on the delay. I'm looking into this today.

[2020-04-14 00:36] #3680 closed

[2020-04-14 04:23] mrivera-ms commented on #3530
Deleted from MyGet:

- Microsoft.Bot.Builder.Handoff
- Microsoft.Bot.Builder.LanguageGeneration.Templates
- Microsoft.Bot.Builder.StreamingExtensions
- Microsoft.Bot.Connector.Teams
- Microsoft.Bot.Schema.Teams
- Microsoft.Bot.StreamingExtensions

Pending permissions to feed botbuilder-declarative:

- Microsoft.Bot.Builder.AI.LuisV3
- Microsoft.Bot.Builder.Expressions.Parser

Not found:

- Microso

[2020-04-14 04:54] pchoudhari commented on #3639
We expect to release this by end of May.

[2020-04-14 06:14] gabog commented on #3699
Hi @sschutten, I created a PR that I think fixes the issue you are having. Once merged it will go out in the next release.

Your workaround seems good, but you have time, try adding a copy of [DialogExtensions](https://github.com/microsoft/botbuilder-dotnet/blob/gabog/SkillDialogFnTestsUpdates/libraries/Microsoft.Bot.Builder.Dialogs/DialogExtensions.cs) to you project, rename RunAsync as RunAsync2

[2020-04-14 09:43] xieofxie opened #3738 "support shared recognizer from parent"
## Is your feature request related to a problem? Please describe.

I'm always frustrated when I want to group a set of elements with input for clarity and reuse.

However, I can't because input requires a new recognizer in the dialog and it can't be shared from parent.

## Describe the solution you'd like

Add an 'inherited' type for recognizer.

## Describe alternatives you've considered

Actuall

[2020-04-14 11:11] #3493 closed

[2020-04-14 11:11] #3696 closed

[2020-04-14 11:28] boydc2014 commented on #3652
After chatting with @vishwacsena and @cwhitten about this, this design need some refinement on how multi-language lg files can be handled.

It's unclear to me and do we how to create a "abstract function" on top of every language, which could very complicated, when dealing with how to get and pass in locale. Also have all injection statement in root.lg don't seems to be right, because from a compl

[2020-04-14 14:14] sschutten commented on #3699
Hi @gabog, I can confirm the code change in your PR works. I had to also copy the SkillHandler, because in 4.8.0 the ConversationReference is added to the TurnState instead of SkillConversationReference. Thanks for the much more elegant solution. I'll be looking forward to the release.

[2020-04-14 16:10] gabog commented on #3699
Great, thanks for confirming @sschutten, I'll leave this issue open until the PR is reviewed and merged into master so we can track it.

Thanks again!

[2020-04-14 16:57] mrivera-ms commented on #3530
All deleted, except:

Not found:

Microsoft.Bot.Builder.AI.TriggerTrees
Microsoft.Bot.Builder.Expressions

[2020-04-14 16:57] #3530 closed

[2020-04-14 17:46] vishwacsena commented on #3738
@xieofxie rather than the mechanics of how, can you share a writeup on what scenarios you are looking to achieve? Thanks!

[2020-04-14 19:10] chrimc62 commented on #3722
@tomlm we should talk related to the schema in adaptive.  You can see the words I added here: https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/generation/generator

[2020-04-14 21:39] tomlm commented on #3722
I updated the DCR based on design session with @tomlm, @chrimc and @stevenic.
* agreed $result is good name and model.
* changed name to $activation

[2020-04-14 22:42] #3429 closed

[2020-04-15 02:49] xieofxie commented on #3738
@vishwacsena I just want to make my code more compact and reusable.

For example, a mark todo dialog would have mainly 3 parts: ask for list type, ask for task content/id, do the operation and show updated list.
Each of them may have some logic operations and thus it is not just an input element.

Then I would like to pack these 3 parts to only one element so in the mark todo dialog, there are onl

[2020-04-15 03:12] xieofxie opened #3742 "enable action RepeatDialog to be able called more than once in one turn"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when I can't repeat more than on

[2020-04-15 07:30] boydc2014 commented on #3551
We need a few more improvement

- [ ] add a defaultLanguage which can replace "" as default
- [ ] sync with latest SDK how language policy is updated, "de-de" => "de-de", "de"
- [ ] replace EvaluateText with Evaluate
- [ ] support passed in parsed Templates instead of just file paths, Dict<string, Templates>
   - [ ] sample for how to read Assembly and customized resolvers

[2020-04-15 15:11] #3733 closed

[2020-04-15 15:14] garypretty commented on #3726
@T-Roth Fix merged into master for next release via PR #3744.  This will be included in the nightly builds from tomorrow. Thanks for reporting.

[2020-04-15 15:14] #3726 closed

[2020-04-15 15:16] garypretty commented on #3725
@T-Roth Fix merged into master for next release via PR #3744.  We have now exposed the SlackClientWrapper as a public property on the adapter, so you can do something like....

[code]

This will be included in the nightly builds from tomorrow. Thanks for reporting.

[2020-04-15 15:16] #3725 closed

[2020-04-15 15:16] garypretty commented on #3724
@T-Roth Fix merged into master for next release via PR #3744.  This will be included in the nightly builds from tomorrow. Thanks for reporting.

[2020-04-15 15:16] #3724 closed

[2020-04-15 16:24] #3699 closed

[2020-04-15 16:47] #3663 closed

[2020-04-15 16:48] #3665 closed

[2020-04-15 16:50] #3590 closed

[2020-04-15 16:51] #3729 closed

[2020-04-15 18:18] #3708 closed

[2020-04-15 19:19] vishwacsena commented on #3626
@carlosscastro Likely dupe/ similar root cause? https://github.com/microsoft/botbuilder-dotnet/issues/3626

[2020-04-15 19:24] vishwacsena commented on #3742
@xieofxie where are you calling repeatdialog? can you share a trimmed down version of your dialog? Do you have a OnBeginDialog trigger that prompts for list type and task content, a local OnIntent that detects new entities specified and then calls repeatDialog?

[2020-04-15 19:37] carlosscastro commented on #3626
@vishwacsena Just checked, same thing. We can keep one of them and close the other as duplicate.

[2020-04-15 19:39] vishwacsena commented on #3626
@carlosscastro had the wrong link there. Meant to link to this ticket. https://github.com/microsoft/botbuilder-dotnet/issues/3742

[2020-04-15 19:41] EricDahlvang opened #3745 "Change name of QnAMakerDialog2 in Adaptive lib"
## Describe the bug
QnAMakerDialog2 should have a more descriptive name.

[bug]

[2020-04-15 21:05] EricDahlvang commented on #3745
Closing as duplicate of https://github.com/microsoft/botbuilder-dotnet/issues/3719

[2020-04-15 21:05] #3745 closed

[2020-04-15 22:19] chrimc62 opened #3747 "Remove binary test files from git history"
Binary files were accidentally checked into the vs-old directory.  They have been removed from the repo, but we need to change history to remove them and we don't want to do this until PR's are done because changing history requires rebasing PRs.

To do this:
* Follow the directions in: https://rtyley.github.io/bfg-repo-cleaner/
* Commands to purge the files:
[code]
* Verify that vs-old is not in

[2020-04-15 22:30] tomlm opened #3748 "[DCR] Make ValueRecognizer internal to AdaptiveDialog"
Currently we use a ValueRecognizer which recognizes values sent back from a card by looking for

```Activity.Type == Message & String.IsNullOrEmpty(Activity.Text) && activity.Value != null```

When that is seen, we return an "Intent" and map the value into entities.  The issue with this approach is that it
a. forces you to always use RecognizerSet
b. always using recognizerSet forces Composer to b

[2020-04-15 22:33] Stevenic commented on #3748
+1

[2020-04-15 23:11] Stevenic opened #3749 "[PORT] Bot Change Detection"
This [PR](https://github.com/microsoft/botbuilder-js/pull/2044) needs to be ported to C#.

[2020-04-15 23:19] vishwacsena commented on #3748
@tomlm @Stevenic Not a fan of this proposal.  My thoughts -
1. I'm not sure how using triggers make it easy for users to understand what's going on. One of the use cases for doing what we do today with value recognizer is for input actions. With the current solution, we always run the parents recognizer because we need that to be done before evaluating the `AllowInterruption` expression. In this p

[2020-04-15 23:24] vishwacsena commented on #3748
@cwhitten can you comment from composer side as well? Is using a recognizer set an issue for composer?

[2020-04-16 00:12] tomlm commented on #3748
There is nothing to recognize.  ValueRecognizer is artificially mapping activity.value => intent, entities=value.

It's artifical.  We don't need it.

[2020-04-16 02:31] xieofxie commented on #3742
@vishwacsena yes you are right. And after the local onintent, the dialog will be repeated again to prompt for certain values for the wrong ones.

the code is here: https://github.com/microsoft/botframework-skills/tree/next/skills/declarative/todoskill

See the marktodo. In GetInput intent, user could refill both list type and task content and then if it could not be marked, the mark todo dialog wi

[2020-04-16 14:06] cwhitten commented on #3748
@vishwacsena the RecognizerSet requires non-trivial change to Composer's IA in both assigning recognizers, managing the list, and configuring different authoring views. A user needs this context to be effective in using the concept, and we just haven't worked through the design yet. We will probably get to this in R10 as part of the inline Qna authoring feature.

What we discussed is that we _coul

[2020-04-16 16:44] #3472 closed

[2020-04-16 18:08] chrimc62 opened #3755 "Comparisons to ReturnType should use bit operators"
In the recent change to adaptive expressions to support multiple types including arrays, type checking has become too aggressive.  In particular this no longer works:
\# foo(property)
- ${template(property  +'Entity')}
The reason is that + is typed as Number | string and template expects string.  This should be allowed and caught at runtime if types are incorrect.

In particular this code is wrong

[2020-04-16 19:44] Zerryth opened #3756 "[FUNC TESTS] Automate Functional Tests for Skills with Dialogs"
Currently in `botbuilder-dotnet/FunctionalTests/Skills/DialogToDialog` there are bots that the team runs manually to tests the dialog features in skills.

We should instead automate this process, as done already for Skills with send a message and receiving an echo in the [BotFramework-FunctionalTests](https://github.com/microsoft/BotFramework-FunctionalTests) repo.

![image](https://user-images.gi

[2020-04-17 04:13] vipeketi commented on #3658
Pull Request #3757

[2020-04-17 07:24] xieofxie commented on #3738
Further thought indicates that the **alternative** way fits my requirement better.
I just want to wrap actions to make my code more compact and reusable. The wrapped one should share lu, lg, dialog variables and actually they are in the same dialog but in different files.

It might be a composer issue not a sdk one.

[2020-04-17 17:19] vishwacsena commented on #3553
@boydc2014 can this be marked as closed via #3624 ?

[2020-04-17 18:09] axelsrz commented on #3660
Hello @JBrownie77 I'm closing this issue due to inactivity, if the problem persist please reopen in the Samples repo. Thanks.

[2020-04-17 18:09] #3660 closed

[2020-04-17 19:08] tomlm commented on #3716
I think the right way to do this is add a pattern which defines it has to be length > 0 and non-empty

[2020-04-17 21:50] timotheeguerin opened #3759 "IBotFrameworkHttpAdapter should handle AppCredentials"
**Is your feature request related to a problem? Please describe.**
Currently we are unable to use the `BotFrameworkHttpAdapter` with AAD certificate authentication.

In release [4.5.3](https://github.com/microsoft/botbuilder-dotnet/releases/tag/4.5.3)  support for using AppCredentials and decoupling password based authentication was introduced. However it does look like the `BotFrameworkHttpAdapte

[2020-04-17 22:19] #3553 closed

[2020-04-18 03:25] boydc2014 opened #3761 "Expression createObject syntax not working as expected"
The curly bracket syntax implementation in master only support   {user: "John"}, we need to support {user: ${somepath)} to also be supported.

More cases
[code]

[2020-04-18 04:23] cosmicshuai commented on #3761
I thinsk it is due to the limitation of setProperty function.
Plan to add a new function, createObject to handle this '{}' to do the conversion.
For using a variable in createObject, we could use its variable name directly instead of using an expression like ${user.name}.
Therefore,  {name: user.name}.name will be evaluated to "John".

[2020-04-18 05:07] vishwacsena commented on #3748
@tomlm I still cannot get the non-value recognizer route to work as a trigger and in general I still dislike the idea of removing the value recognizer. I just tried 3 different scenarios with adaptive cards

**With ValueRecognizer**

1. Using adaptive card buttons to route to different OnIntent triggers. See [here][1]
2. Using adaptive cards to get single input bound to a property on an input acti

[2020-04-18 05:25] boydc2014 opened #3762 "Expression compare {} to null throw exception"
{} == null, generate an exception and get a false

[2020-04-18 07:28] #3762 closed

[2020-04-18 17:16] tomlm commented on #3748
Thank you for all of the due diligence you have done on this.

Some comments:
### Regarding 1 EmitEvent
EmitEvent is bad pattern for reuse.

You are trying to use EmitEvent for code reuse.  Why?  For any case more complex then sending a single response you would create a dialog for it.  aka BookAFlight dialog.  

This would then simply be:
[code]

That feels clean and natural.  Emitting a Recogniz

[2020-04-18 17:21] EricDahlvang commented on #3759
Hi @timotheeguerin

It is currently possible to use CertificateAppCredentials, by overriding BuildCredentialsAsync of BotFrameworkHttpAdapter:

[code]

We have an issue tracking an update to improve this: https://github.com/microsoft/botbuilder-dotnet/issues/3490  Please add any suggestions to that issue.

[2020-04-18 17:21] #3759 closed

[2020-04-18 19:42] vishwacsena commented on #3748
Thanks @tomlm! With use case 1, my intention as the author of a bot is very simple. I have already a working bot with LU. How can have the card input take the same route with minimal work from my side. You can also flip this on the head and say users typically want to start with a simple card based bot and then want to add LU. I do agree that in cases where I have logic tucked away in a dialog, Be

[2020-04-18 20:06] tomlm commented on #3634
added default : "true" for conditions

[2020-04-19 02:37] vishwacsena opened #3764 "[Expression] json() failure"
json() fails for for the following string

[code]

**Error:**
[code]

[2020-04-19 03:17] vishwacsena commented on #3738
Thanks @xieofxie closing this. Please respond here if you believe there is a SDK gap.

[2020-04-19 03:17] #3738 closed

[2020-04-19 03:49] boydc2014 commented on #3764
After narrow down after several binary breakdown,

{"CreatedDat\":"/Date(634250351766060665)/"}

will cause JToken.parse to fail, looking into more details now

[2020-04-19 04:20] boydc2014 commented on #3764
Further more, the issue is the default date parsing in `JToken.parse` is enabled and not support window tickts well, because by default it seems to looks for linux epoch time.

So the fix for now, is to disable the datetime parsing, later we may add parameters for people to control the process.

[2020-04-19 07:20] #3764 closed

[2020-04-19 15:04] boydc2014 commented on #3748
late on the party, just my two cents

1. Generally, though i know how recognizer set will introduce non-trivial change to Composer,  i don't think making Composer's life easier is a good motivation to some fundamental changes in SDK.  SDK could definitely use Composer as a valuable source of feedback, but if i'm about to make significant design change, i would ask myself, am i designing for making

[2020-04-19 15:46] cwhitten commented on #3748
I like this idea and think we should pull on this a bit. Can we model the adaptive card form submission directly into the recognizer? It begs the question if we want to provide it by default for all dialogs with recognition configured. When would one not want set up for them?

Something we should also consider is other Adaptive Card behavior that isn't just form submissions. How will this work wit

[2020-04-19 16:52] boydc2014 commented on #3748
@cwhitten, just to be clear by my #1 comment or any comments, not meant to criticizing any body or any behavior here, we are definitely having a good conversation that result into visible follows up here, by all means i'm glad we have it, and i also get change to learn from the code sample @vishwacsena have, and all the discussions here, you and @tomlm  posted.

I was just expressing broadly my im

[2020-04-20 01:45] Danieladu commented on #3755
It is my fault. We have changed all Returntype of Comparisons to bit operators in `Expression` but neglected the content in LG.

Maybe, we can just change the valirdation to :
[code]

Is that make sense ?

[2020-04-20 02:58] xieofxie opened #3767 "DialogContext is not corrected poped after EndOfDialog in children dialog"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

241536bbf08d198c94ad4cd52955b4b8c0b89719

## Describe the bug
Give a clear and concise description of what th

[2020-04-20 03:38] boydc2014 commented on #3761
Close this, due to my misunderstanding.

[2020-04-20 03:38] #3761 closed

[2020-04-20 03:39] boydc2014 opened #3768 "Expression createObject syntax throws at null"
{ value: user.name} will throws when user.name is null.

Looks like the internal JToken.FromObject handles null poorly.

[2020-04-20 03:45] boydc2014 commented on #3493
@chrimc62 just so you know, this feature is supported, but with a little difference than the original spec.

the way to define a object is simply
[code]

[2020-04-20 04:13] boydc2014 commented on #3767
Thanks @xieofxie can you share more about how you trigger this bug, how your LgBug.main and LgBug() is set? especially the generator field of your dialog.

And can you also create a seperate issue for TestBot.Json can't run without range.Path?

[2020-04-20 04:14] xieofxie commented on #3767
OK, added steps

[2020-04-20 04:15] boydc2014 commented on #3767
@Danieladu can you help take a look at this one?

[2020-04-20 04:20] xieofxie opened #3769 "When I run TestBot.Json, it will throw ArgumentOutOfRangeException(range.Path)"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

https://github.com/microsoft/botbuilder-dotnet/commit/241536bbf08d198c94ad4cd52955b4b8c0b89719

## Describe t

[2020-04-20 04:23] xieofxie commented on #3767
Created here https://github.com/microsoft/botbuilder-dotnet/issues/3769.

[2020-04-20 07:08] luhan2017 opened #3772 "Update AdaptiveSkillDialog to use ActivityProcessed"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
In the AdaptiveSkillDialog, since the activity is sent explicitly, I don’t understand how

[2020-04-20 07:49] luhan2017 commented on #3767
I did some investigation and found that this issue only happens when we added an "EndDialog" action in the sub-dialog. When call EndDialog, the dc is not correctly set.

[2020-04-20 10:27] #3768 closed

[2020-04-20 10:45] boydc2014 commented on #3767
After more investigation, this appears to be DialogContext is not poped correctly after leaving children, the context is still pointing to children.

Unassign hongyang, and put Tom and Vishwac on.

@tomlm @vishwacsena i just label it P0 from my personal judgement, please triage again.

[2020-04-20 12:38] Danieladu commented on #3767
I also made some investigation on this issue, found that when continuing the action, AdaptiveDialog would push the ScopedServices(language generator) into turn context, and at the end of ContinueActions, it would pop it up. But for some reason, the `SendActivity` action does not trigger the `ContinueActionsAsync` method, so, the current generator of turnContext is still the generator of the subdia

[2020-04-20 14:09] #2309 closed

[2020-04-20 15:11] #3755 closed

[2020-04-20 15:44] #3692 closed

[2020-04-20 16:15] #3721 closed

[2020-04-20 16:26] timotheeguerin commented on #3759
Thanks Eric, that seems to do the trick.

[2020-04-20 17:13] cleemullins commented on #3748
per @tomlm, we need to resovle this before taking Adaptive to GA.

[2020-04-20 17:17] cleemullins commented on #3658
@tomlm to look at this while he changes the name of QnAMakerDialog2

[2020-04-20 17:18] cleemullins commented on #3652
added @vishwacasena per @tomlm

[2020-04-20 17:20] cleemullins commented on #3645
@cleemullins to review with @mdrichardson today.

[2020-04-20 17:31] cleemullins commented on #2385
There is already an implementation of this (per @tomlm) and a PR.

[2020-04-20 17:33] cleemullins commented on #2230
Spoke w/ Tom, he plans to address this week.

[2020-04-20 18:04] tonyanziano commented on #3593
@garypretty Can you provide an update on this issue? Thanks

[2020-04-20 18:40] vishwacsena commented on #3767
@Danieladu @boydc2014 I cannot repro this issue with the latest from master.

Code based adaptive is [here][1]
Declarative adaptive is [here][2].

I do see a different error `No generator found for language en-us` after the end-dialog. Is that the manifestation of the issue? can you confirm that this is declarative only? Might help root cause the issue.

[1]:https://github.com/microsoft/botbuilder

[2020-04-20 18:52] cleemullins commented on #3652
This should land this week, per @vishwacsena and @boydc2014

[2020-04-20 19:30] cleemullins commented on #3583
The PR is for C#. I've added a "Need JS" and "Need Python" label, as C# is only 1/3 of the story.

[2020-04-20 19:53] cleemullins commented on #3617
per @carlosscastro, this should land on Wed 4/23

[2020-04-20 20:25] #3585 closed

[2020-04-20 20:25] #3628 closed

[2020-04-20 20:25] #3634 closed

[2020-04-20 20:25] #3636 closed

[2020-04-20 20:25] #3687 closed

[2020-04-20 20:25] #3700 closed

[2020-04-20 20:25] #3716 closed

[2020-04-20 20:36] vishwacsena commented on #3748
@cwhitten
[code]

Totally on the same page that we should do the necessary abstractions where possible so it is easy for developers to get set up!

1. @tomlm and I discussed your first point over the weekend. I already [commented on this as well], specifically can we not default `ValueRecognizer` in composer by default? The issue with baking it into core `recognizer` is that we know we will need a

[2020-04-20 20:46] vishwacsena commented on #3772
Seems right. @tomlm @gabog @Stevenic @clearab? If we agree, we should take this for R9 to avoid breaking changes post R9 to adaptive. Alternate is to leave the property as is - will be a no-op for users. Right?

[2020-04-20 20:47] vishwacsena commented on #3772
@clearab tagging R9 so this is triaged on skills side. Please feel free to update labels per triage outcome.

[2020-04-20 20:47] clearab commented on #3772
@gabog let's review this one for triage today

[2020-04-20 23:59] vishwacsena commented on #3748
@tomlm @Stevenic @cwhitten and @vishwacsena discussed this today. Here's the updated proposal.

- Make `ValueRecognizer` private
- Update adaptive dialog to call the `ValueRecognizer` if
    - recognizers returned a null intent .or. if no recognizer was configured on the dialog
    - turn.activity.value is not null or empty

This would help us
- achieve the right short term fix to have value recog

[2020-04-21 00:32] clearab opened #3774 "Change onTeamsMemberAdded for Teams to use getMember() (dotnet)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5810)

[2020-04-21 00:46] clearab commented on #3406
Closing as duplicate

[2020-04-21 00:46] #3406 closed

[2020-04-21 00:47] boydc2014 commented on #3767
Have you tried the user's branch: https://github.com/xieofxie/botbuilder-dotnet/tree/hualxie/lg_bug which can repro in me, Hongyang, and Lu's side.

Hongyang did some inverstigation that, the DialogContext is not correctly poped up a certain setup of the actions, @Danieladu  can you detail on this, what's the condition (other than just EndOfDialog) to trigger this bug?

[2020-04-21 02:13] Danieladu commented on #3767
@vishwacsena
I have checked in the MVP re-pro of this issue on [issue3767](https://github.com/microsoft/botbuilder-dotnet/tree/issue3767) branch, link is here: https://github.com/microsoft/botbuilder-dotnet/tree/issue3767

Same re-pro step as hualiang's branch
1. checkout to issue3767 branch
2. start TestBot.Json
3. type 24
4. type test

[2020-04-21 02:56] xieofxie commented on #3767
Hmm.. I will just write some observation here:
In this setup, the dialog stack is `main dialog <- begin dialog <- sub dialog <- end dialog`
In end dialog, it will end its parent dialog i.e. sub dialog and it will continue in begin dialog.
However, it will only pop lg in the end of continue of sub dialog.
So in the action after begin dialog, it will use lg from sub dialog.

One possible fix is end

[2020-04-21 06:40] boydc2014 commented on #3652
yes, we synced about this, and simplified the design, it should be at least a PR this week ready for review.

[2020-04-21 07:30] #3646 closed

[2020-04-21 08:10] vipeketi commented on #3714
@johnataylor I shall be able to work on this issue in a week.

[2020-04-21 10:16] garypretty commented on #3583
PR for JS opened https://github.com/microsoft/botbuilder-js/pull/2072 (Bot Configuration classes not implemented in Python, so this is not required there).  Will close this issue once the JS PR has been approved / merged.

[2020-04-21 12:03] nebhagat opened #3779 "Virtual Assistant threw error for `start over` flow"
## Describe the bug
Virtual assistant template's call `CancelAllDialogsAsync();` is throwing following error in start over flow:

[code]

## To Reproduce
Steps to reproduce the behavior:
1] attach a skill to a VA
2] interact with skill via VA
3] type "start over" from the VA bot.

## Expected behavior
All dialogs from dialogcontext stack should be cancelled.

[bug]

[2020-04-21 14:37] cosmicshuai commented on #2869
@vishwacsena I have two question here. The first one is, when user attempt to call these two functions,
which one of  `hasFullDate(timex)` or `timex.hasFullDate(timex)` should they use?
Another question is hasFullDate can only take a TimexProperty object or both TimexProperty object and string should work?
I have a draft PR: https://github.com/microsoft/botbuilder-dotnet/pull/3780
Could you check

[2020-04-22 00:10] #3684 closed

[2020-04-22 00:49] #3748 closed

[2020-04-22 00:50] #3572 closed

[2020-04-22 01:27] #3719 closed

[2020-04-22 02:14] xieofxie commented on #3767
Another thought is popping lg in end dialog function.
Although it will be popped again in the end of continue, but it will only go back to continue function when the turn is ended and the continue will break any way. So pop again is no effect I guess?

[2020-04-22 02:48] xieofxie commented on #3769
Oh.. it happens after using an emulator to connect the bot
![image](https://user-images.githubusercontent.com/2876650/79935154-c8594880-8486-11ea-994a-8b6c44c3f061.png)

[2020-04-22 02:50] boydc2014 commented on #3769
Now i can repro this in master, i must run emulator and trying to connect.

[2020-04-22 02:51] tomlm commented on #3767
this is a real bug. Working on fix

[2020-04-22 02:52] boydc2014 commented on #3769
I level up this as P0, @tomlm @cleemullins

[2020-04-22 09:00] xieofxie commented on #3742
Hi @carlosscastro I found this issue is not like #3626. 3626 happens when loading while this happens when running.

I created a pr to add an option to enable loop so if one needs repeating multiple times, one could turn it on. What do you think? Thanks

[2020-04-22 09:09] #3551 closed

[2020-04-22 10:21] #3769 closed

[2020-04-22 10:33] boydc2014 opened #3784 "Improve the approach to register declarative types"
The current component registration is constructed by collecting all ComponentRegistration in `referenced` assemblies.

The issue is, if a package is not explicitly referred, it's not going to be listed as referred assemblies. So user have to somehow use the something in the assembly in order for compiler to think it's been referred.

For example, in https://github.com/microsoft/botbuilder-dotnet/p

[2020-04-22 14:03] garypretty commented on #3583
Closing this issue now as the JS PR is awaiting merge and is tracked on https://github.com/microsoft/botbuilder-js/issues/2064 in the JS repo.

[2020-04-22 14:03] #3583 closed

[2020-04-22 17:20] vipeketi commented on #3714
Fixing with PR #3786

[2020-04-22 18:04] tonyanziano commented on #3671
Closing due to inactivity.

[2020-04-22 18:04] #3671 closed

[2020-04-22 18:06] chrimc62 opened #3787 "Add EOL() function to expressions"
When writing .lg templates there is currently no way to surface EOL according to the current OS.  In order to support that we need an EOL() function which supplies the line ending for the current OS.  This has caused a number of issues in the generator since we want to run in either mac (\n) or windows (\r\n) environments.
[enhancement]

[2020-04-22 22:12] stevengum commented on #3679
@carlosscastro @swagatmishra2007, any updates on this issue? Is https://github.com/microsoft/botbuilder-dotnet/pull/3546 related to this?

[2020-04-22 22:39] tomlm commented on #3210
This has existed for forever.
What is wrong with
* **dialogclass** => current AdaptiveDialog properties
* **class** => current ActiveDialog (typically action)

**dialogclass.id** is the id of the current AdaptiveDialog
**class.id** is the id of the current action

[2020-04-22 22:52] vishwacsena commented on #3210
@tomlm that does not work. We discussed this well, in December..
 The reason those do not work is because this DCR is looking for a solution to [these scenarios][1]

For [scenario #2.a][1]. if I use class.xxx inside the OnIntent trigger on consultation, would that not match the `xxx` properties for the active action? What I need is the `id` of the action that initiated consultation. 
For [scenario

[2020-04-23 06:46] vishwacsena commented on #2869
@cosmicshuai I was suggesting that we namespace the prebuilt functions list by their function. I think for R9, let's just have them as hasFullDate() and hasValidHour() but document this under a separate timex section in the prebuilt functions doc.

For question 2, I believe we should support both TimexProperty object as well as string.

[2020-04-23 13:37] #3639 closed

[2020-04-23 14:07] ssss141414 opened #3793 "HttpRequest action supports read binary data"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently in HttpRequest action, it only supports to g

[2020-04-23 18:02] Ada-develop opened #3795 "Missing Files in project folder for Deployment"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

## Describe the bug
Hi, I have created Bot that perefectly works in BotFramework Emulator, and I ready to dep

[2020-04-23 21:25] gabog opened #3797 "Update ActivityTemplateConverter to work better with $kind"
Hi Tom, as discussed here is the issue, here are some use cases to try out:

[code]

[code]

[code]

[code]

[2020-04-24 01:04] cleemullins opened #3799 "DCR: Relax Binary Compat Rules around Minor version changes"
Today the C# SDK maintains binary compatibility across all minor and patch version changes.

This DCR proposes changing this requirement to the following:
# Patch Version
Within a given minor release ("4.7.0, 4.7.1, 4.7.2") all versions would be binary compatible.

# Minor Version
Across minor releases, source code combability would be maintained. This means could would need to be re-compiled movi

[2020-04-24 01:26] #3645 closed

[2020-04-24 01:27] #3643 closed

[2020-04-24 01:49] tomlm commented on #3797
This was fixed in linked PR

[2020-04-24 01:49] #3797 closed

[2020-04-24 07:49] #3767 closed

[2020-04-24 14:02] gabog commented on #3772
Hi @luhan2017, we spoke with @tomlm yesterday and we decided to keep this property. I am adding logic to use it and additional doc comments in my PR that I will merge shortly as soon as the build passes.

[2020-04-24 14:58] #3772 closed

[2020-04-24 16:18] #3313 closed

[2020-04-24 17:07] Zerryth commented on #3795
Hey @Ada-develop! Did you try following the[ deployment instructions](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp) that are linked in EmptyBot's README?

I just created a new EmptyBot from scratch, followed those deployment instructions, and prospered!

<details>
    <summary> Click to view command-line commands that I ran </s

[2020-04-24 18:40] vishwacsena commented on #3703
@vidyakdil can you try suggestion from @Danieladu and comment here if you continue to see the issue?

[2020-04-24 18:40] #3703 closed

[2020-04-24 21:06] tonyanziano commented on #3566
There is currently no planned work in adaptive / composer in the R9 timeframe to support proactive triggers.

[2020-04-24 23:10] #3774 closed

[2020-04-24 23:18] Ada-develop commented on #3795
Hello Zerryth! Thank you for your response, I tried do by your instructions, and struggled on the last step with zip,curl step , dont really understand what values should I write in Curl-step , like username it mean email? sitename it means my webapplicaiton name?
![deploy](https://user-images.githubusercontent.com/58919290/80263948-0cbd3200-869b-11ea-8e4a-55f148e8771d.PNG)

[2020-04-25 00:56] Zerryth commented on #3795
@Ada-develop where are you getting these curl instructions?

I didn't use any curl myself--they're not in the [deployment link instructions](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp) I posted to you, nor do the that the readme link to mention a "username"

[2020-04-25 14:08] tomlm opened #3805 "Move declarative LuisRecgonizer into Luis assembly"
Just like we did with QnA, we need to move the declarative LuisRecognizer into Luis assembly removing the dependency between Adaptive Assembly and LUIS.

[2020-04-25 14:10] tomlm opened #3806 "Release nuget packages are missing non-assembly content"
The nuget packages when built in VS include
* schema content files
* debug and source link information
* assemblies

The nuget packages created on my get only have the assemblies!

This breaks debugging and schema building.

[2020-04-25 14:45] #3806 closed

[2020-04-25 19:34] hcyang commented on #3706
Hi @vipeketi, can you update the progress, specifically an ETA as @pchoudhari mentioned?

[2020-04-26 03:20] vipeketi commented on #3706
By end of this month, I will be able to close the issue.

[2020-04-26 05:18] Danieladu opened #3809 "Should support empty lg file."
Currently, Empty LG file is not supported.
LG should support this format, and prompt warning.

[2020-04-26 17:20] Eli2590 opened #3812 "Microsoft.Bot.Builder - "Object reference not set to an instance of an object""
## Version
3.30

## Describe the bug
After filling form user is asked for a question: "Did you get the information you were looking for?"
There are two options to this answer: 'Yes' or 'No'. Choosing 'Yes' should complete the form and choosing 'No' should continue the form. When writing in the chat different values then the two above, it recognizes that the value is not an option and asks to choos

[2020-04-26 18:34] cwhitten commented on #3558
hey there @vishwacsena @tomlm - what does this issue mean?

[2020-04-26 18:44] cwhitten commented on #3557
@vishwacsena @tomlm does this affect the schemas at all?

[2020-04-27 04:58] #3809 closed

[2020-04-27 11:52] Ada-develop commented on #3795
Hello again! I have successfully deployed Bot to Azure, but now I faced another problem, when I set Microsoft AppID and Password to appsetting.json file and deployed to Azure , my Bot faced a problem HTTP Unauthorized. I attach pics, any suggestions how can I fix this problem?

Thank you Zerryth for your answers.

![git1](https://user-images.githubusercontent.com/58919290/80369200-8c632080-8896-11

[2020-04-27 13:54] DavidStrickland0 opened #3814 "Null [From] on [Activity] Results in NRE during call to QnaMaker.GetAnswersRawAsync"
Current:
QnaMaker's GetAnswersRawAsync has an unvalidated dependency on the From Property of the TurnContext.Activity. If "From" is Null OnQnaResultsAsync throws a NRE.

Expected:
ArgumentException stating that From can not be null;

https://github.com/microsoft/botbuilder-dotnet/blob/4195f66845ebbdf53492824cc03ead11427cb28e/libraries/Microsoft.Bot.Builder.AI.QnA/QnAMaker.cs#L257

[2020-04-27 16:32] sgellock commented on #3812
V3 SDK issue

[2020-04-27 16:39] hcyang commented on #3814
Hi @DavidStrickland0, we are looking into this issue. Will update the status. Thanks for reporting.

[2020-04-27 16:57] #3559 closed

[2020-04-27 17:00] vishwacsena commented on #3814
@garypretty this appears to be related to instrumentation. Can you comment?

@pchoudhari can you please follow up and help drive this to closure? Thanks!

[2020-04-27 17:01] mdrichardson commented on #3812
@Eli2590 I'm unable to replicate this. Can you:

1. Verify that you're using the latest V3 packages? `3.30.0`
2. Copy/paste your entire `FormDialog.cs` and any other relevant code?

Also note: It would be a good idea to start migrating to [Botframework v4](https://github.com/microsoft/botframework-sdk).

[2020-04-27 17:15] garypretty commented on #3814
There does need to be a null check here on the From property - this is what the TelemetryLoggerMiddleware does. @vishwacsena @pchoudhari I can pick this up and get a fix into PR.

[2020-04-27 17:17] vishwacsena commented on #3814
Thanks @garypretty

[2020-04-27 17:58] cleemullins opened #3816 "Re-Enable CosmosDB tests that have been disabled"
The CosmosDB tests were disabled in PR #3815 due to timouts starting the cosmosdb emulator.

Need to evaluate *why* we're seeing timeouts and then re-enable the tests.

[2020-04-27 20:44] tomlm commented on #3816
The build yaml file has had the powershell plugin which is supposed to install cosmosdb commented out.  It was running for 4 minutes and then timing out.  This is probably the core issue.

[2020-04-27 20:57] #3749 closed

[2020-04-28 03:53] VMey opened #3821 "Ticks: Date is not standard ISO format"
Steps to reproduce:
1. Ensure a date is formatted properly according to standards using: formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss')
2. Attempt to get ticks from this date: ticks(formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss'))

Expected result: Receive ticks for utcNow()
Actual Result: Exception: 2020-04-28T03:19:03 is not standard ISO format

Full message: 2020-04-28T03:19:03 is not standard

[2020-04-28 04:28] Zerryth commented on #3795
So...last you mentioned, you were just trying to deploy an EmptyBot to Azure, filing a bug report. Then we find that you can indeed deploy EmptyBot just fine, following the instructions provided in the README.

Now you come back saying that the deployed bot is unauthorized...and I'm only *guessing* from your screen shot, since you don't provide any code or mention what samples you're using, that y

[2020-04-28 04:28] #3795 closed

[2020-04-28 13:26] huaxing-yuan commented on #3261
Hi @stephanbisser, what environment are you using ? did you restricted azure blob access only to your entreprise ? I have a similar issue with image in Teams (while image loaded correctly in Web).

After my investigation, when using Teams channel, image urls are replaced to:
`https://urlp.asm.skype.com/v1/url/content?url=[original_image_url]`

images are not loaded because my Azure Storage blob al

[2020-04-28 16:34] cleemullins commented on #3652
@boydc2014, 7 days ago you said "PR this week". Can you update this issue?

[2020-04-28 16:45] cleemullins commented on #2385
@vishwacasena, @boydc2014 Updates?

[2020-04-28 16:47] cleemullins commented on #2230
Spoke with @tomlm. Currently being fixed by @carlosscastro

[2020-04-28 16:50] cleemullins commented on #3805
This removes the LUIS Dependency from Adaptive, and cleans up the layering model.

[2020-04-28 17:05] vishwacsena commented on #3821
@cosmicshuai is this related to and/ or addressed via the recent changes to datetime prebuilt functions?

[2020-04-28 17:24] clearab commented on #3405
We need to coordinate with Teams on renaming this. "role" is already taken and defined. Moving to R10.

[2020-04-28 21:13] stevengum opened #3823 "BotFrameworkHttpClient should use its Logger"
The only place BotFrameworkHttpClient uses its Logger is when it creates AppCredentials via [BuildCredentialsAsync](https://github.com/microsoft/botbuilder-dotnet/blob/55862c20a392fa21f0f19c7f4104beab85428ab2/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpClient.cs#L153).

In [BotFrameworkAdapter.SendActivitiesAsync](https://github.com/microsoft/botbuilder-dotn

[2020-04-29 02:23] cosmicshuai commented on #3821
@VMey
I would suggest to use the format string as "yyyy-MM-ddTHH:mm:ss.fffZ".
Currently, some datetime functions can only take this format to make sure all functions can work correctly on both C# and JS project.
@vishwacsena Do you think we need to some background format conversion to make these functions work more robust?

[2020-04-29 04:49] xhr0804 opened #3836 "Value set form disappeared"
## Describe the bug
Value set form disappeared, is this a bug or by design?
![image](https://user-images.githubusercontent.com/44257569/80561575-834d8d00-8a17-11ea-82ec-93c45b74d51d.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. S

[2020-04-29 06:34] Danieladu opened #3825 "Test.json project run failed with "Object reference not set to an instance of an object.""
StringUtils throw the exception when Ellipsis null string.

## how to reproduce
Run `Microsoft.Bot.Builder.TestBot.Json`
And trigger the resource loading in Emulator,
error appears.

[bug]

[2020-04-29 06:57] stevengum commented on #3679
This has been resolved via https://github.com/microsoft/botbuilder-dotnet/pull/3818.

[2020-04-29 06:57] #3679 closed

[2020-04-29 07:01] #3702 closed

[2020-04-29 07:02] swagatmishra2007 commented on #3702
#3818 fixes this issue

[2020-04-29 08:23] xieofxie opened #3828 "When using OAuthInput in skill mode, the Login url could not be generated correctly"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

Current master

## Describe the bug
Give a clear and concise description of what the bug is.

When using OAut

[2020-04-29 08:31] #3652 closed

[2020-04-29 09:59] xieofxie opened #3829 "OnCustomEvent & OnDialogEvent are same"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Should remove one. It is confusing

https://github.com

[2020-04-29 12:13] cxbuilders opened #3941 "Script component to run adaptive functions"
## Is your feature request related to a problem? Please describe.

Sometimes you need to run a script that calculates complex data. This can contain many lines of adaptive functions. Currently I abuse Set Properties to do this, whereby each property is a 'line of code'.

This can then be something like;
this.variable = int(turn.value)
this.variable2 = int(turn.value2)
this.variable3 = sub(this.var

[2020-04-29 15:20] #3617 closed

[2020-04-29 15:21] #3814 closed

[2020-04-29 15:34] #3742 closed

[2020-04-29 15:45] stephanbisser opened #3831 "TeamsInfo.GetTeamDetailsAsync returns FORBIDDEN when invoking messaging extension from a channel"
## Version
4.8.0

## Describe the bug
When running TeamsInfo.GetTeamDetailsAsync() within a messaging extension I get back the following error when invoking the messaging extension from a channel:
[code]

## To Reproduce
1. Within the bot add TeamDetails teamDetails = await TeamsInfo.GetTeamDetailsAsync(turnContext, turnContext.Activity.TeamsGetTeamInfo().Id, cancellationToken);
2. Run the bot and

[2020-04-29 16:02] #3825 closed

[2020-04-29 17:38] carlosscastro commented on #3626
Fixing as part of https://github.com/microsoft/botbuilder-dotnet/issues/2230

[2020-04-29 17:38] #3626 closed

[2020-04-29 17:46] gabog opened #3833 "Update SkillDialog to handle all activity types"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5821)

[2020-04-29 18:12] hcyang commented on #3831
hi @dmvtech, please take a look. thanks.

[2020-04-29 19:29] clearab commented on #3831
That looks like your bot isn't installed in that channel. This can happen for messaging extensions when the app is installed personally, but not in whatever group context the user is currently viewing when they trigger your extension. You can use the just-in-time installation request to attempt to install your bot in that context - https://docs.microsoft.com/en-us/microsoftteams/platform/resources

[2020-04-29 19:42] stephanbisser commented on #3831
Strange thing is that the bot is installed in that channel. But I will take a look at your link and see if that fixes the problem as it doesn't occur in every channel...

[2020-04-29 19:47] clearab commented on #3831
If that isn't it did the appId in the manifest change at some point? You could try manually removing/re-adding the app first to see if it resolves it for a channel where it is failing.

[2020-04-29 20:05] #3829 closed

[2020-04-29 21:06] sangwoohaan opened #3835 "Value field in ChoiceInput has been removed"
The value field in ChoiceInput is gone in the schema, @vishwacsena confirmed it's a bug.

[2020-04-29 21:57] vishwacsena commented on #3836
@tomlm, @chrimc62  `value` property is missing from `ChoiceInput`. Need the following added.

[code]

[2020-04-29 23:51] sangwoohaan opened #3839 "NumberInput - outputFormat property has no role defined, but the examples are stillexpression."
outputFormat property in NumberInput is a string without $role:expression, but the examples are expressions.

"outputFormat": {
                    "title": "Output format",
                    "description": "Expression to format the number output.",
                    "examples": [
                        "=this.value",
                        "=int(this.text)"
                    ],

[2020-04-30 00:35] clearab commented on #3438
Added an item to cleanup this all-up, there's more here than just this class. https://github.com/microsoft/botframework-sdk/issues/5822

[2020-04-30 00:35] #3438 closed

[2020-04-30 00:40] Danieladu opened #3840 "[LG] Move "EXPRESSION" in LG from token to parser to get more detailed contextual information"
Nowadays Expression presents as Token in LG grammar, which in Antlr only provides content information.
But, in some dependencies (for example, in the debugging tool), Expression context and its range is very useful.

[enhancement]

[2020-04-30 01:18] vishwacsena commented on #3821
@cosmicshuai let's discuss what we can do about background format conversation in our next triage. Thanks for providing a workaround!

[2020-04-30 02:06] boydc2014 commented on #2385
The PR is referenced as above, going through a couple rounds review already, no issues on my side now, i would add Tom for review again, because it touched the dialog packages also.

[2020-04-30 08:28] stephanbisser commented on #3831
Do you have a C# sample of using the just-in-time installation process @clearab so I can test that? App IDs and secrets didn't change and are the same in the manifest and the Bot Channels Registration, so that's not the issue

[2020-04-30 17:49] #3833 closed

[2020-04-30 18:03] cleemullins opened #3843 "Nightly build emits semver errors in Devops"
Variations on this error shows up 4 times in the nightly build.

![image](https://user-images.githubusercontent.com/1165321/80743472-da179d00-8ad1-11ea-9178-c127192598b7.png)

[2020-04-30 19:26] BruceHaley commented on #3843
"Older clients" means "NuGet clients older than v4.3", per [this doc](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5105). Full Semver 2.0.0 description is [here](https://github.com/NuGet/Home/wiki/SemVer-2.0.0-support).

[2020-04-30 19:29] pavolum opened #3844 "[4.8.1 bot.builder] Bot with skills does not work in DL Speech channel, Skill results do not make it back to the channel."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.8.1

## Describe the bug
there is a bug in 4.8 bot.builder that results in skills responses to not make it back to a DL Speech channel. I have debugged the

[2020-04-30 19:35] BruceHaley commented on #3843
NuGet 4.3 was released ~08/14/2017. Visual Studio 2017 15.3 RTW comes with NuGet 4.3 RTM. I read that to mean users of VS 2015 would not be compatible with Semver 2.0.0.

[2020-04-30 22:25] sgellock commented on #2385
given the national holiday and the fact that we're cutting RC builds, I'm moving this out of the R9 milestone and into R10.

[2020-05-01 02:12] #3828 closed

[2020-05-01 02:14] #3723 closed

[2020-05-01 16:31] cleemullins commented on #3405
@clearab I don't quite understand this Issue. Is it R9 or R10?

[2020-05-01 16:32] cleemullins commented on #3567
@vishwacsena, @boydc2014  Any updates on this? The deadline is upon us.

[2020-05-01 16:39] #3405 closed

[2020-05-01 17:02] stevengum commented on #3844
@gabog, @pavolum any updates? Has using `DeliveryModes.ExpectReplies` helped in addressing this situation?

___

For public note: any Skill Callers that require affinity\* should use `DeliveryModes.ExpectReplies` for `Activity.DeliveryMode` to ensure that the Skill's responses are returned to the correct Skill Caller.

\* (e.g. Skill Callers that immediately need the Skill's response, or are using

[2020-05-01 17:24] gabog commented on #3844
we need to research this more.
yesterday we switch to delivermode and that workaround the auth issue (which is still an issue because he is using a single server and it should work) but the directline speech channel is not receiving the message back. We need to take a closer look.
Patrick has a workaround for his demo but we still need to address this.

[2020-05-01 18:52] cleemullins opened #3848 "Cleanup core C# Adapters (BF Adapter and related)"
Via @johnataylor:

[2020-05-01 22:56] vishwacsena opened #3852 "[Adaptive] [LG] generator: Could not cast or convert from System.String to Microsoft.Bot.Builder.Dialogs.Adaptive.LanguageGenerator."
## Version
Latest bits in master.

## Describe the bug
A simple declarative bot does not load with (or without) the generator is set to a `.lg` file.

## To Reproduce
1. Go to [this sample][2] and run it, you will see the following error

[code]
2. Go to [this sample][2] and run it you will see an error with LG

[code]

[bug]

[1]:https://github.com/microsoft/botbuilder-dotnet/tree/vishwac/R9-mast

[2020-05-02 00:11] vishwacsena opened #3853 "[Adaptive] Code based adaptive dialogs fail with ` The given key ‘_adaptive’ was not present in the dictionary.`"
## Version
Latest master

## Describe the bug
Attempting to start a code based adaptive dialog bot, results in an error. Appears to be recent regression.

## To Reproduce
1. Run [this sample][1]

## Additional context
Error
[code]

[bug]

[1]:https://github.com/microsoft/botbuilder-dotnet/tree/vishwac/r9/master/samples/TestBed

[2020-05-02 00:46] #3853 closed

[2020-05-02 00:46] #3852 closed

[2020-05-02 05:19] vishwacsena opened #3854 "[Adaptive] Declarative adaptive dialogs (composer dialogs) do not work with non adaptive dialogs"
## Version
Latest master

## Describe the bug
This sample used to work but I no longer know how to get a V4 waterfall/ custom dialog based bot to work with adaptive dialogs.

## To Reproduce
1. Run [this sample][1]
2. Connect to bot in Emulator
3. Answer first two prompts (first name, last name)
4. The sample is set up to start the adaptive dialog as step 3. This fails.

## Expected behavior
Bot w

[2020-05-02 08:02] boydc2014 commented on #3854
Here is what i found after debugging into it.

The bot fails at getting languageGeneratorManager from dialogContext.Services
![image](https://user-images.githubusercontent.com/3829387/80858564-869d7e80-8c8c-11ea-8d0b-2c301bf8fd85.png)

line 41 result in null after excecution.

The reason LanguageGenratorManager is dc.Services is that in DialogContext.Child.Get
![image](https://user-images.githubus

[2020-05-02 17:36] #3854 closed

[2020-05-03 00:03] #3836 closed

[2020-05-03 15:28] #2869 closed

[2020-05-03 21:56] beauzeaux opened #3856 "ConnectorClient.GetConversationMembersWithHttpMessagesAsync not hydrating AadObjectId"
## Version
4.8.0

## Describe the bug
Calling the `GetConversationMembersWithHttpMessagesAsync` the all the `AadObjectId` properties are null.

## To Reproduce
1. Construct connector client for a Microsoft Teams conversation
2. Call `GetConversationMembersWithHttpMessagesAsync`
3. Check `AadObjectId` of resulting objects

## Expected behavior
The `AadObjectId` value should be hydrated.

## Screens

[2020-05-04 06:45] #3714 closed

[2020-05-04 14:14] gabog opened #3859 "UserState in AdapterExtensions.UseState should not be required"
The [AdapterExtensions.UseState()](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/AdapterExtensions.cs) method introduced by the adaptive refactorings takes a conversation state and a user state parameters, conversation state is required for dialogs but userstate should not be required (may developers don't use user state),

This extension method and the

[2020-05-04 15:47] Zerryth opened #3860 "QnA json name collision err when cloning botbuilder-dotnet"
## Version
4.8...or is it 4.9?

## Describe the bug
Getting a fresh clone of the botbuilder-dotnet repo yields this error:
`git clone https://github.com/microsoft/botbuilder-dotnet.git`

[code]
In SDK the jsons only differ by case:
![image](https://user-images.githubusercontent.com/35248895/80985297-e195b980-8de3-11ea-84a2-2ce7045e4635.png)

## Expected behavior
No name collision

[bug]

[2020-05-04 16:39] #3558 closed

[2020-05-04 16:40] #3557 closed

[2020-05-04 16:49] cleemullins commented on #3706
Unfortunatly, this issue doesn't look like it will make the R9 train. The PR continues to have feedback cycles and issues. This should land in R10.

[2020-05-04 16:56] cleemullins commented on #3859
@tomlm is working on a PR now. Closing by lunch.

[2020-05-04 17:41] tomlm opened #3861 "Namedpipe streaming unit tests fail intermittently"
Close_DisconnectsStreamAsync() fails intermittently

Looking at it, the code starts up a number of async tasks that it does not await on.  This is almost certainly a race condition caused by the tasks not being managed correctly.

[2020-05-04 17:47] cleemullins commented on #3593
I've added this to our R10 release, which should land around the end of summer. This is a bit complex, as it's across dependency chains...

[2020-05-04 17:51] garypretty commented on #3593
As @cleemullins has said, we will implement a workaround in our SDK adapter, given that there looks to be no movement on the underlying Slack SDK side.

[2020-05-04 20:03] #2230 closed

[2020-05-04 21:00] #3859 closed

[2020-05-04 21:06] JonathanFingold opened #3864 "Remove explicit NuGet dependencies that are implied/transitive"
## Version
What package version of the SDK are you using: master (R9).

## Describe the bug
Many of the NuGet packages list transitive dependencies.

For example, `Microsoft.Bot.Builder.Dialogs.Adaptive.Testing` lists both `Microsoft.Bot.Builder.Dialogs.Adaptive` and `Microsoft.Bot.Builder.Dialogs.Declarative` as dependencies, but `Microsoft.Bot.Builder.Dialogs.Adaptive` has a dependency on `Micro

[2020-05-04 23:23] #3698 closed

[2020-05-04 23:23] tomlm commented on #3698
This should be fixed by #2675

[2020-05-04 23:24] #3861 closed

[2020-05-05 03:04] tomlm opened #3868 "QnAMakerDialog throwing exception in constructor"
I am following up with you regarding the exception we received in QnAMakerDoialog after adding 4.9.0-preview-200430-126910.

At that time (on 04/30 meeting) we got the exception below, I still get the same exception. We commented the code at that time but VA will require the QnA, may need this back.

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

[2020-05-05 03:54] #3868 closed

[2020-05-05 12:54] boydc2014 commented on #3567
@cleemullins i think the designed features are in, we can close this one and create an new issue for the above `out of scope` features for R10, make sense? @vishwacsena

[2020-05-05 12:54] #3567 closed

[2020-05-05 16:42] gabog commented on #3844
Hi @pavolum, I tried to repro the issue in my environment and it seems to work there, we need to take a closer look offline.

[2020-05-05 18:26] pavolum commented on #3844
I am closing out this issue, below is some context:

The original issue I posted is not valid as a bot with a skill in DL Speech should never run through SkillHandler.ProcessActivityAsync. When an activity is passed from the VA to a skill in a DL Speech
the following needs to be done to ensure correct behavior:
- The VA needs to do a deep copy of the incoming activity
- Change deliveryMode of the

[2020-05-05 18:26] #3844 closed

[2020-05-05 18:57] cleemullins opened #3871 "Cherrypick PR 3870 (dependency cleanup and version changes) to master"
The PR #3870 needs to be cherry-picked to master.

https://github.com/microsoft/botbuilder-dotnet/pull/3870

[2020-05-05 20:28] #3871 closed

[2020-05-05 20:31] #3864 closed

[2020-05-05 21:20] vishwacsena opened #3873 "[Expressions] Add prebuilt functions for adaptive cards"
Discovered this via partner validation (adaptive cards team). We need to add two prebuilt functions to enable one of the adaptive card teams core samples (stock card)

1. formatNumber(value, precision) -> formatNumber(20, 2) = 20.00; formatNumber(0.53, 1) = 0.5. With this you could do formatNumber(value * 100, precision) to achieve your scenario.

2. formatEpoch(value, format?) -> behaves similar

[2020-05-06 00:37] RootOfAllEval opened #3874 "[DirectLine] Attachment ContentUrl contains placeholder URL after uploading image"
Repro Steps:

1. Upload image through DirectLine channel using URL:
`https://directline.botframework.com/v3/directline/conversations/{CONVERSATION_ID}/upload?userId={USER_ID}`

2. Verify bot is able to receive attachment and download file from generated URL

3. User receives activity from DirectLine channel containing uploaded attachment, but attachment ContentUrl contains
`"https://docs.botframew

[2020-05-06 04:17] Danieladu commented on #3677
duplicated with #3873

[2020-05-06 04:17] #3677 closed

[2020-05-06 06:08] Danieladu commented on #3873
- `formatNumber(1.55, 1)` would be `1.5` or `1.6` ?
- Currently, `formatDateTime()` accept number or string as the first parameter, if the first parameter is number, treat it as unix timestamp, otherwise treat it as a normal date string.
Can I think that, after the change, `formatDateTime()` would also accept number or string type as the first parameter, if the first parameter is number, treat it

[2020-05-06 06:47] boydc2014 commented on #3873
@vishwacsena  the formatNumber is straighforward and i put @cosmicshuai on this.

To suppoprt "ticks" the thing is it's not distinguishable from epoch, i mean, if formatDateTime see an int, how does it know to treat as millionSecondsFromepoch or window ticks.

We can either
1. extend the interface as formateDateTime(int, epoch=true),
2. just create two new functions like
* formateEpoch
* formateTi

[2020-05-06 10:56] DavidStrickland0 opened #3877 "Support for Negative QnA AI Training."
**Is your feature request related to a problem? Please describe.**
If my QnAMaker had 3 answers that the AI thinks are related to my question but in reality NONE are related the AI will continue to offer up the same three wrong answers no matter how many times its told NONE.

**Describe the solution you'd like**
No training seems to occur if you select None of the above in training.
https://github

[2020-05-06 14:39] cosmicshuai commented on #3873
@vishwacsena
for formatNumber, I got a question. The returned value should be a string or a number? Since I met some difficulty with returning a number, the trailing zeros will disapper. Therefore, my current solution is returning a string to do the format.

[2020-05-06 15:32] vishwacsena opened #3878 "[Adaptive] Cannot use user memory scope"
## Version
4.9.0-RC1

## Describe the bug
Unable to use 'user.xxx' memory scope in adaptive dialog.

## To Reproduce
Run this [interruption sample][1] (set up with latest master)

## Exception
[code]

## Expected behavior
can use 'user' memory scope.

[bug]

[1]:https://github.com/microsoft/botbuilder-dotnet/tree/vishwac/r9-final/samples/05.interruptions-bot

[2020-05-06 16:29] vishwacsena commented on #3873
@boydc2014 I like `formatEpoch` and `formatTicks` for clarity. Let's go with that.

[2020-05-06 17:47] gabog opened #3879 "Write unit tests for BeginSkill"
We need to add unit test BeginSkill so we can ensure it works as expected and can be properly ported to JS and python.
FYI @stevengum

[2020-05-06 17:57] sgellock commented on #3873
making mods to priority label.  I've changed this to P0.  But to be clear, we have 1 shot at this in R9.  If we miss something or AC wants additional functionality beyond what this and JS PR provides, I won't hold R9 for it.  We'll have to give it to them in R10.

[2020-05-06 18:12] cleemullins commented on #3566
@stevenic believes this should be in R10. Triaging to there for now.

[2020-05-06 18:24] pavolum opened #3881 "QNAMakerDialog bug in 4.9.0"
When you begin a QNAMakerDialog an exception of type System.Reflection.TargetInvocationException is thrown.

## Version
What package version of the SDK are you using.
4.9.0-rc1

## Describe the bug
When you begin a QNAMakerDialog an exception of type System.Reflection.TargetInvocationException is thrown (stack trace added below).

## Repro steps
trigger a QNAMakerDialog to begin

## Gary's finding

[2020-05-06 20:13] EricDahlvang commented on #3659
@Jeffders I cannot repeat this, so I'm going to close it.

[2020-05-06 20:13] #3659 closed

[2020-05-07 04:52] stevengum opened #3884 "Merge 4.9 into master"
PR #3882, #3892, #3891 needs to be cherry-picked into master.

https://github.com/microsoft/botbuilder-dotnet/pull/3882
https://github.com/microsoft/botbuilder-dotnet/pull/3892
https://github.com/microsoft/botbuilder-dotnet/pull/3891
https://github.com/microsoft/botbuilder-dotnet/pull/3893

[2020-05-07 07:55] #3873 closed

[2020-05-07 16:58] boydc2014 opened #3885 "LG templates not correctly parsed in certain cases"
Input:

![image](https://user-images.githubusercontent.com/3829387/81322637-de8e1800-90c6-11ea-95c5-a0c5ec20b4b0.png)

expected this is one template with a multiple-line mode

actually we get two templates.

and adding \ before # won't work in multi-line case.

we could either parse this smartly, or make sure \# works in multi-line mode.

[2020-05-07 17:05] ayenisholah commented on #3885
Hi, I am interested in helping but don't know how to begin.

[2020-05-07 18:29] dmvtech commented on #3874
@RootOfAllEval I'm not quite sure if this is by design or not. I'm looking into that and will let you know what I find.

[2020-05-07 21:28] Jeffders opened #3886 "Extension methods for Teams IP notifications"
Microsoft Teams is going to support a PII/IP scrubbing messages using messageDelete and messageUpdate activities. These will signal to the bot that it should remove or alter the message contents that it has stored for that activity. This request is to add helper methods to the Teams SDK portion of the Bot Builder SDK that can identify these operations. Specifically, it needs to be something like:

[2020-05-07 22:29] Jeffders opened #3887 "ITranscriptLogger should support update and delete operations"
As part of PII/IP filtering, clients and channels can request that activities be redacted. This influences the transcript logger and middleware the bot builder SDK supports. For example, Microsoft Teams is introducing this capability to send targeted messageUpdate and messageDelete operations to change and/or delete activities (for example, if a credit card number is passed, this really should not

[2020-05-07 22:29] Jeffders commented on #3887
Once this is done, we should also provide updates to samples that demonstrate this transcript logger and show how the delete and updates are used.

[2020-05-08 00:53] boydc2014 commented on #3885
Thanks @ayenisholah. I don't know if you are familiar with botframework SDK code or not. My recommended approach is

* Have the whole solution setup and running
* Get a sense of what's LG, maybe run some tests, and check some docs here  https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/language-generation
* Check how LG do parsing, it's in LanguageGeneration package, more sp

[2020-05-08 03:29] Danieladu opened #3888 "[Expression] Support long/int64 in number constant"
## Describe the bug
Support long/int64 constant input in Expression

## To Reproduce
The below expression would get the incorrect result:
`12345678912345678 + 1`, expect to get `12345678912345679`, but actually, the result is `12345678912345680`. because `12345678912345679` is out of the "int32" range, expression would parse it with "double", this is incorrect.

## How to fix
Maybe should add a lo

[2020-05-08 17:01] vishwacsena commented on #3881
@garypretty @tomlm @cleemullins I believe this has been resolved. Can we close?

[2020-05-08 17:02] #3878 closed

[2020-05-08 17:17] JonathanFingold opened #3889 "There are many new async methods that don't have the Async suffix in their name"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using. master (as of 5/8/2020 AM)

## Describe the bug
Our internal guidelines are to always suffix async methods wit

[2020-05-08 17:25] ayenisholah commented on #3885
Thank you @boydc2014. I would these steps and start working on it ASAP.

[2020-05-08 17:41] cleemullins commented on #3881
Confirmed with @tomlm this is resolved

[2020-05-08 17:41] #3881 closed

[2020-05-08 18:07] cleemullins commented on #3889
@carlosscastro - thanks for taking this today!

[2020-05-08 18:31] tomlm commented on #3884
don't cherry-pick, just merge 4.9 => master to pick this up.

[2020-05-08 18:45] stevengum commented on #3884
https://github.com/microsoft/botbuilder-dotnet/pull/3891 will also need to be merged into master

[2020-05-08 18:49] stevengum commented on #3884
#3890 or another PR should pick up the PR that addresses https://github.com/microsoft/botbuilder-dotnet/issues/3889

[2020-05-08 18:55] stevengum commented on #3887
Needs to be triaged and a parent issue created...

[2020-05-09 08:28] xieofxie opened #3895 ".dialog file debugging is broken"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

Current master

## Describe the bug
Give a clear and concise description of what the bug is.

.dialog file de

[2020-05-09 16:57] sgellock commented on #3889
PR #3892 was merged

[2020-05-09 16:57] #3889 closed

[2020-05-09 17:10] #3805 closed

[2020-05-10 06:34] timoconnellaus opened #3901 ""Object reference not set to instance of object" error when creating a new text input"
## Describe the bug

"Object reference not set to instance of object" error shown in chat window in bot framework emulator when a input is added to a bot - text inputs on sample bots work without this error

## Version

a7d013b

## Browser

I'm using "BotFramework-Composer-0.0.1-windows-setup.exe" windows desktop app

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Win

[2020-05-11 01:29] Danieladu opened #3897 "[Expression] Support lambda style expression"
Support lambda style expression in `foreach`, `select` and `where` prebuilt functions.

For example, After the change, the expression could be:
`foreach(items, u => json(u))` instead of `foreach(items, u, json(u))`, it is more readable.

[enhancement]

[2020-05-11 06:22] anusharavindrar commented on #3877
@DavidStrickland0 can you attach some screenshots which might help understand the issue better?

[2020-05-11 08:49] DavidStrickland0 commented on #3877
Not really certain how I would "Screenshot" a piece of missing logic the SDK isn't doing in response to a conversation.
Only way to give more information would be to look at the hole where the logic should be.

https://github.com/microsoft/botbuilder-dotnet/blob/d5dc82af2ea3acb7a6c678433f887da80962c972/libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs#L489-L524

So Ill spread this o

[2020-05-11 09:19] xieofxie opened #3900 "ReplaceDialog is not replacing correctly"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.

Current master

## Describe the bug
Give a clear and concise description of what the bug is.

After ReplaceDi

[2020-05-11 09:24] xieofxie opened #3902 "Clarify comparisons for null"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Since null is supported in comparisons, its behavior s

[2020-05-11 09:35] luhan2017 commented on #3901
@vishwac, @tomlm , I think Foreach should follow the C# foreach funtionality, which you can't update the itemList inside the loop. this is a bug that we can fix in the sdk side.

[2020-05-11 10:27] timoconnellaus commented on #3901
You're welcome. Thank you for looking into the issue so quickly

[2020-05-11 15:13] hansmbakker commented on #2456
@v-kydela  Can you please reopen this?

This is a bug, because the card gets stored as conversation history the bot state.

When the bot tries to fetch the conversation state again, the JSON containing the adaptive cards will be part of the `previousBotResponses` property of the state.

When trying to load that, the bot automatically uses IgnoreEmptyItemsConverter which assumes an array for `previ

[2020-05-11 15:40] v-kydela commented on #2456
@hansmbakker - It sounds like you're describing [this bug](https://github.com/microsoft/AdaptiveCards/issues/2148), which I already linked to

[2020-05-11 16:41] hansmbakker commented on #1211
@stevengum @v-kydela can you please reopen this?

This is not fixed only by fixing choicerecognizer: if you click a button in an Adaptive Card that does a `postBack` then it sends a `message` activity with a `value` property and without text. This causes errors in Virtual Assistant at the moment.

[2020-05-11 18:19] EricDahlvang opened #3905 "Replace AsyncUsageAnalyzers with Microsoft.VisualStudio.Threading"
https://www.nuget.org/packages/Microsoft.VisualStudio.Threading/ is the GA replacement of alpha https://www.nuget.org/packages/AsyncUsageAnalyzers/

[enhancement]

[2020-05-11 18:57] chrimc62 opened #3906 "[LG] Error messages don't provide enough context."
## Version
4.9.0-rc42  node/dotnet

## Describe the bug
Error messages don't provide enough context, especially for more complex .lg files.  For example in the below:
* What template name is invalid?
* What file contains the errors?  If I have files which import other ones, I have no idea.
* Is the error line within a file?  Or in a composite file?
* What is the unexpected content?
Error: [Error]

[2020-05-11 20:35] dmvtech commented on #3874
This is by design. I'll see if I can get some more info for you.

[2020-05-11 23:00] EricDahlvang commented on #1211
Hi @hansmbakker

The community libraries provide an AdaptiveCardPrompt which works with Adaptive Cards:

https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/develop/libraries/Bot.Builder.Community.Dialogs.Prompts/AdaptiveCardPrompt.cs

nuget:
https://www.nuget.org/packages/Bot.Builder.Community.Dialogs.Prompts/

If you find this does not meet your needs, please open a new issue

[2020-05-11 23:01] dmvtech commented on #3874
This design is due to security.

To further explain; someone could upload an attachment with malicious content, have it echoed back to them from a URL that had `microsoft.com` in the URL, then copy THAT URL and share it with someone and make them think the malicious content was trustworthy because it had `microsoft.com` in the URL.

I am closing this as resolved, but please let us know if you have

[2020-05-11 23:01] #3874 closed

[2020-05-11 23:40] timoconnellaus commented on #3901
@luhan2017 I also get the error in other scenarios:

- When I put the text input before the for loops in the greeting (ConversationUpdate activity)
- When I put the text input in another dialog that is started in the greeting before the for loop

The reason I'm trying to set a variable is that I want to make the greeting dynamic based on the results of a HTTP request. I also tried using the begin

[2020-05-12 00:30] boydc2014 commented on #3885
Thanks, @ayenisholah, i mean, no pushing, and this issue is somewhat advanced even in lg parsing, and also, we will have an engineer to start fixing this in JS side, since we have customer reported on JS side for this, maybe his solution could (if sooner) can help you with some references.

[2020-05-12 03:37] luhan2017 commented on #3901
@timoconnellaus , could you try this:

Add a SetProperty step at the beginning of the Greeting trigger such as dialog.MembersAdded = turn.Activity.MenbersAdded.

Then update the ForEach loop item list to dialog.membersAdded.

An example:
![image](https://user-images.githubusercontent.com/32191031/81635895-01ad2480-9445-11ea-9bb6-0144db03099d.png)

[2020-05-12 03:57] timoconnellaus commented on #3901
@luhan2017 that didn't seem to work. I tried changing the greeting dialog as suggested then did the following tests:

- added a prompt at the start of the greeting - error occurred
- added a prompt inside the loop - error occurred
- triggered a separate dialog at the start of the greeting + sent a response in the greeting - no error but the response in the greeting never appeared

Perhaps I'm doin

[2020-05-12 04:35] EricDahlvang commented on #3413
https://botbuildersdkartifacts.blob.core.windows.net/dependencies/InterdependencyGraph.html

[2020-05-12 07:14] surezg opened #3907 "Bot Builder C# SDK Cannot access a disposed object. Object name: 'SslStream'."
Hello All,
I am getting this error frequently while sending message from bot to the user. Following is the code snippet where I receive this error. I am using bot builder sdk version 4.4.3

`ConnectorClient.Conversations.SendToConversationAsync(activity);`

Error:
System.Threading.Tasks.TaskCanceledException: The operation was canceled. ---> System.IO.IOException: The read operation failed, see in

[2020-05-12 08:22] darrenj opened #3908 "Unknown Intent handler confusion with multi-turn QnAMakerDialog"
## Version
4.9.0-rc4

## Describe the bug
When using `QnAMakerDialog` within a Composer dialog, the unknown intent handler is triggered when when answering a multi-turn QnA prompt.

If you ask a question that has follow-on prompts, these options are shown. The user then chooses an option (clicks the button or types) and the fallback answer (Sorry, I did not find an answer) is shown (courtesy of th

[2020-05-12 08:51] hansmbakker commented on #1211
Hi @EricDahlvang,
thank you for the suggestion! Does that cover the use case where the button in the card can trigger an optional action, that the user can also trigger a few turns later?

When handling it as a prompt, I suppose that the prompt listens for it only once (as a response to the Adaptive Card message from the bot to the user)?

[2020-05-12 10:48] darrenj commented on #3908
Turns out a unhandled intent trigger was firing on the (second) response to a in-progress QnAMaker dialog resulting in a "unknown utterance" message being responded and **then** the QnAMAker dialog resumes hence the confusion.

[2020-05-12 11:56] cxbuilders opened #3930 "Unknown intent trigger is not called when an intent trigger is rejected by a condition"
## Describe the bug

Although technically it makes sense I would think functionally this seems like a bug. When you have an intent with a condition to reject false triggers, like: turn.recognized.score > 0.7
It does not trigger the Unknown intent trigger. I would expect this to happen.

## Version

latest today

[2020-05-12 17:20] dmvtech commented on #3907
hi @surezg
What channel is this happening on?
Does it happen on more than one channel?
Are you able to test and reproduce this on a bot using a more recent version (4.8.0 for example)?

[2020-05-12 18:18] navzam opened #3910 "TeamInfo type does not expose aadGroupId"
## Version
4.8.0

## Describe the bug
Teams sends `aadGroupId` as part of the `channelData` in some activities (see example below). But it isn't discoverable or easily accessible through `TeamsChannelData` because `TeamInfo` does not expose a property for it.

Example activity from Teams where `aadGroupId` is sent:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Create a Teams bot acco

[2020-05-12 19:11] #3413 closed

[2020-05-12 21:56] #3884 closed

[2020-05-12 23:49] navzam opened #3911 "OAuthCard does not have a ToAttachment() extension method"
## Version
4.8.0

## Describe the bug
`OAuthCard` does not have a `ToAttachment()` extension method, making it more difficult to use `OAuthCard`s with `MessageFactory.Attachment()`. Other cards have this extension method:
https://github.com/microsoft/botbuilder-dotnet/blob/0908005f49368d04afe6f15a8dea851e7ccd2493/libraries/Microsoft.Bot.Schema/CardEx.cs#L16-L19

[bug]

[2020-05-13 07:00] surezg commented on #3907
I am using 4.4.3. Didn't tested with 4.8.0. Even this is rare occurrence and unable reproduce in dev environment or even in production. Bu in production we have seen this 4 to 5 times in the past 3 weeks.

[2020-05-13 07:03] DingmaomaoBJTU opened #3913 "BeginDialog failed with dialog id not found"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
4.9.0-rc4

## Describe the bug
BeginDialog failed with dialog id not found for special flow structure (call on

[2020-05-13 07:25] DingmaomaoBJTU commented on #3913
This is quite blocking for calendar/todo/who skills. Could you please help and investigate?
And thanks @xieofxie  and @luhan2017 's great help for investigation~

[2020-05-13 07:27] boydc2014 commented on #3913
@tomlm @vishwacsena looks like a "P0" to me...

[2020-05-13 16:19] carlosscastro commented on #3913
Investigating!

[2020-05-13 16:59] EricDahlvang opened #3917 "Build status Badges are missing"
![image](https://user-images.githubusercontent.com/11055362/81842143-5eb9e080-9500-11ea-8ae8-3e0a8a7f1f6d.png)

[bug]

[2020-05-13 17:59] cleemullins commented on #3821
@vishwacsena @cosmicshuai  What's the update on this?

[2020-05-13 18:00] cleemullins commented on #3821
This may have been fixed with the addition of Ticks functions and other similar changes that came in last-minute to Expressions and were shipped at 4.9.0.

[2020-05-13 18:01] cleemullins commented on #3831
@clearab, can you update this please?

[2020-05-13 19:36] okulygin commented on #2437
any updates on this? it is still the issue for ComponentDialog

[2020-05-13 20:18] carlosscastro commented on #3913
Thanks @boydc2014 @xieofxie and @luhan2017  for the investigation and the example, that really accelerated the fix, you guys ROCK!

Can we work together to add tests to the adaptive project that cover all of composer templates? That would allow us to verify changes to the SDK early and not even allow things that break composer to be merged to the master branch of the SDK. Thoughts? + @cwhitten

[2020-05-13 23:15] clearab opened #3922 "onTeamsMemberAdded throws 502 when bot is added"
When a bot receives an onTeamsMemberAdded event where the member added was the bot, a 502 error is thrown, which results in this event never being fired.

Cause:
The event calls the getMember API, which is the source of the 502. This API cannot be passed a bot ID.

Fix:
Check to see if the member added is the bot, and if it is return a truncated TeamsChannelAccount.

[2020-05-13 23:56] dmvtech commented on #3907
@Wajeed-msft Would you be able to help out on this to take a look from the Teams side of things? Ever seen this or similar issue happen before?

[2020-05-14 00:15] carlosscastro commented on #3913
Pending sign off from composer team but fix got merged to 4.9 branch. We'll generate a 4.9.1 release candidate build and publish to myget, in order to be verified tonight, before releasing the actual 4.9.1 build to nuget tomorrow.

[2020-05-14 00:15] #3913 closed

[2020-05-14 00:49] DingmaomaoBJTU commented on #3913
Thank you for your quick response! @carlosscastro

[2020-05-14 02:57] EricDahlvang commented on #3922
Fixed 4.9 by https://github.com/microsoft/botbuilder-dotnet/pull/3923

Cherry-pick to master: https://github.com/microsoft/botbuilder-dotnet/pull/3924

[2020-05-14 04:30] cleemullins commented on #3908
@tomlm, I believe this was fixed by the PR, and that you also merged 4.9 back into master.

Can we close this issue out?

[2020-05-14 07:31] darrenj commented on #3908
@ryanlengel validated. Thanks!

[2020-05-14 07:31] #3908 closed

[2020-05-14 10:15] EPinci opened #3925 "KeyVault old dependency causes warning at restore time"
## Version
v4.9.0

## Describe the bug
Bot builder 4.9.0 references "Microsoft.Azure.Storage.Blob" v9.4.2 that, on restore, shows:
[code]
With later versions (I believe, starting with v10) of "Microsoft.Azure.Storage.Blob", that warning is removed. Can it be updated?

## To Reproduce
Refere

## Expected behavior
Although it is understood that the warning has no impact, still packaged dependencies

[2020-05-14 15:55] #3922 closed

[2020-05-14 22:11] johnataylor commented on #3886
Seems like something we could easily add. Just a couple of static methods, perhaps on TeamsInfo or at least in the C# we could consider extension methods if that was cleaner.

[2020-05-14 22:15] clearab commented on #3831
I don't have a sample of other than what is in the documentation I linked above - did you try manually removing/re-adding it to the channel, and if so did that resolve the issue?

Is the `turnContext.Activity.TeamsGetTeamInfo().Id` returning the correct Id for the team (it should be, but just want to check and see if that is potentially the issue).

[2020-05-15 00:15] haacked opened #3928 "Markdown such as backticks and newlines rendered incorrectly on Slack"
## Version
What package version of the SDK are you using. `4.8.0`

## Describe the bug
Markdown sent by a bot isn't translated correctly to the Slack rich text format. Backticks do not work for `inline code` and new lines are not translated.

## To Reproduce
Steps to reproduce the behavior:
1. Write a C# bot that sends the following to a room in a Slack Workspace.
[code]
2. Deploy the bot to Azure

[2020-05-15 03:26] Danieladu opened #3931 "Make data and locale optional in multilingual LG"
**Is your feature request related to a problem? Please describe.**
Currently the `generate` method in `MultiLanguageLG` class is like this:
[code]
Although users can pass in a null data and a null locale(would convert to empty string) when there is no scope and fallback locale.
but it is still  confused and inconvenient.
Make data and locale optional is make sense.

**Describe the solution you'd l

[2020-05-15 06:16] cosmicshuai opened #3933 "[Expression] Support DateTimeDiff in prebuilt functions"
DateTimeDiff function works as
[code]

[2020-05-15 12:35] vipeketi commented on #3877
@DavidStrickland0  Implementation of this feature needs re-thinking of our labelling and training logic. It’s in our backlog, but we do not have any ETA for this fix at this moment.

[2020-05-15 12:35] #3877 closed

[2020-05-15 17:15] v-kydela commented on #3928
@haacked - Thank you for reaching out to us

If you would like to bypass the formatting applied by ABS, the easiest thing to do is set the text as channel data:

[code]

If you would like to bypass ABS altogether, you can always use the Slack adapter that's now built into the SDK, though that would involve a lot of reworking of your bot.

Does this resolve your issue?

[2020-05-15 17:39] Stevenic opened #3959 "Reword Unknown Intent description"
I would propose rewording the description below to: "Action to perform when user input is unrecognized **OR** if none of the 'on intent recognition' triggers match recognized intent."

![image](https://user-images.githubusercontent.com/698939/82079561-e423c900-9697-11ea-9676-ce71b7a23561.png)

The reason for that is that the users input may have been recognized but none of the triggers fired.

[2020-05-16 01:11] haacked commented on #3928
That works, thanks! What is ABS and can you point me to where that code is?

[2020-05-16 23:36] haacked opened #3938 "Activity.From always returns the Bot user"
## Version
`4.8.0`

## Describe the bug
This is related to https://github.com/microsoft/BotFramework-Services/issues/208. Sorry if this is the wrong place to log this, but I can't tell if the bug is in the Bot Service or in the Bot Framework.

I've been going through the code here and it seems [this block should not work](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Adapter

[2020-05-16 23:37] haacked commented on #3938
Also, does Microsoft Bot Framework support connecting Slack directly to the bot? If so, that code snippet above would never work.

[2020-05-17 01:14] Stevenic opened #3939 "Better error messages from adaptive actions"
Currently when you have a miss configured action you'll see an error like this:

![image](https://user-images.githubusercontent.com/698939/82133420-beceb200-97a0-11ea-9dde-418660a34b76.png)

We should update all of our actions to give better runtime errors to the user.  This means telling the user what type of action failed and what property failed. So a better error message here might be `BeginSk

[2020-05-18 00:06] joe-tossell-mando opened #3942 "Valid Template Name format throws error when called as a function"
## Version
4.9.1

## Describe the bug
Template names in this format:
[code]
Throw an error when called as a function:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Copy above markdown
2. Evaluate

## Expected behavior
Template names can include letter numbers and . Templates name spaced with numerals are valid and should be allowed to be called as functions

## Additional context
[co

[2020-05-18 02:14] cosmicshuai opened #3943 "DateTime related prebuilt functions should be able to take DateTime object as input"
Ref: https://github.com/microsoft/BotFramework-Composer/issues/2731

[2020-05-18 11:41] #3673 closed

[2020-05-18 12:08] Danieladu commented on #3942
Thanks Joe. Sorry for the block and hmmm..  It is a real bug! The workaround is to replace the pure numbers with letters between every two dots of template name.

The reason for this problem is that the format limits of template name and function name are different. The function name's format cannot cover all template name's formats.

The valid format of template name is
[code]
And the valid forma

[2020-05-18 16:25] v-kydela commented on #3928
@haacked - ABS is the [Azure Bot Service](https://docs.microsoft.com/en-us/azure/bot-service). The ABS channel connectors are how your one bot is able to talk to many channels like Slack. While the Bot Builder SDK code is open source, the service code is proprietary and I cannot show it to you.

I'm glad the solution is working for you and I'm closing this issue now.

[2020-05-18 16:25] #3928 closed

[2020-05-18 16:59] haacked commented on #3928
Understood. @v-kydela where is the proper place to report issues with ABS? And thanks again for your help.

[2020-05-18 17:07] v-kydela commented on #3928
@haacked - Issues can be reported in the BotFramework-Services repo or in the Azure portal. If you're not sure something is a bug, it's a good idea to post a question on Stack Overflow.

[2020-05-18 17:10] EricDahlvang commented on #3925
Hi @EPinci

Unfortuantely, v10 of `Microsoft.Azure.Storage.Blob` has different dependencies and Bot Builder `AzureBlobStorage` and `AzureBlobTranscriptStore` expose `CloudStorageAccount` via the constructor.  We cannot update the Microsoft.Azure.Storage.Blob lib without a major version bump of Bot Builder, since the break would not adhere to semver rules we are following.

[2020-05-18 18:20] benbrown commented on #3938
@haacked - if you use the Adapter, you would be talking directly to Slack with the bot.  If you use the Azure channel service, there is a translation that occurs in Azure before the message arrives at your bot.

We'll be investigating this issue! Updates will be posted here.

[2020-05-18 18:27] benbrown commented on #3930
@cxbuilders we are unable to reproduce this behavior.

Do you happen to have a condition set on the unknown intent trigger that might be causing it to fail to trigger?

[2020-05-18 19:13] gabog commented on #421
Closing as part of R10 triage.